﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 50%;
    }
</style>

<div id="myTabs">
    <form name="suppliercontactCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.suppliercontact.id">@L("EditSupplierContact"): {{vm.suppliercontact.id}}</span>
                <span ng-if="!vm.suppliercontact.id">@L("CreateSupplierContact")</span>
            </h4>
        </div>

                <div class="modal-body modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("SupplierName")</label>


                                <select id="suppliername" autofocus class="form-control selectpicker" data_live_search="true"
                                        ng-options="vm.getComboValue(item) as item.displayText for item in vm.refsupplier" ng-model="vm.suppliercontact.supplierRefId" required></select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return AlphaAToZOnly(event,'cancel')" autofocus class="form-control ucase" type="text" name="contactpersonname" ng-class="{'edited':vm.suppliercontact.contactPersonName}" ng-model="vm.suppliercontact.contactPersonName" required />
                                <label>@L("ContactPersonName")</label>
                            </div>
                        </div>

                       
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="Designation" ng-class="{'edited':vm.suppliercontact.designation}" ng-model="vm.suppliercontact.designation">
                                <label>@L("Designation")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" id="phoneNumber" name="phoneNumber" ng-class="{'edited':vm.suppliercontact.phoneNumber}" ng-model="vm.suppliercontact.phoneNumber" required>
                                <label>@L("PhoneNumber")</label>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="email" id="email" name="email" ng-class="{'edited':vm.suppliercontact.email}" ng-model="vm.suppliercontact.email">
                                <label>@L("Email")</label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" onclick="" ng-disabled="suppliercontactCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>

                <div class="portlet light">
                    <div class="portlet-title portlet-title-filter">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div ng-if="false" class="input-group">
                                        <input ng-model="vm.filterText" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div busy-if="vm.loading">
                            <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                        </div>
                    </div>
                </div>

        </form>
      
    
</div>

