﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 50%;
    }
</style>

<div id="myTabs">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span class="caption-subject bold uppercase">@L("SupplierContact").Pluralize()</span> 
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 text-right">
                <button class="btn btn-default" ng-click="vm.cancel()">
                    <i class="fa fa-file-excel-o"></i> @L("Close")
                </button>

                <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createSupplierContact()">
                    <i class="fa fa-plus"></i> @L("CreateContact")
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
  </div>

        <div class="portlet light">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div ng-if="false" class="input-group">
                                <input ng-model="vm.filterText" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>

    </div>

