@using DinePlan.DineConnect.Localization
<div ng-controller="tenant.views.connect.printtemplatecondition.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.printConfiguration.id">@L("EditPrintTemplateCondition"): {{vm.printConfiguration.name}}</span>
                        <span ng-if="!vm.printConfiguration.id">@L("CreatePrintTemplateCondition")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading="Print Template Condition" tabindex="1" active="vm.tabone">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.printConfiguration.name}"
                                           ng-model="vm.printConfiguration.name" required>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row" ng-if="vm.printConfiguration.id">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase">
                                            @L("PrintTemplateCondition")
                                        </span>
                                    </div>
                                    <div class="actions pull-right">
                                        <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-eraser"></i> @L("Clear")
                                        </a>
                                        <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-search"></i> @L("Filter")
                                        </a>

                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row" busy-if="vm.loading">
                                        <div ui-grid="vm.printtemplateconditionOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Print Template Condition @L("Mapping")" tabindex="2" active="vm.tabtwo" ng-if="vm.printConfiguration.id">
                        <div class="panel panel-info margin-top-15">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    @L("PrintTemplateCondition") @L("Based") @L("On") @L("Location")
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">
                                    <uib-tabset id="tabs" class="tab-container tabbable-line">
                                        <uib-tab heading='@L("General")' tabindex="1">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">@L("AliasName")</label>
                                                        <input class="form-control" type="text" name="AliasName" ng-class="{'edited':vm.condition.aliasName}"
                                                               ng-model="vm.condition.aliasName">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center margin-top-20">
                                                    <button class="btn btn-large green" ng-click="vm.openLocation()">
                                                        @L("Select") @L("Location")
                                                    </button>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="form-group">
                                                        <label class="control-label">@L("DateRange")</label>
                                                        <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                                    </div>
                                                </div>
                                                </div>
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <div class="form-group">
                                                        <label class="control-label">@L("Contents")</label>
                                                        <textarea rows="4" class="form-control" ng-model="vm.condition.contents" placeholder='@L("Contents")'>   </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab heading='@L("Schedules")' tabindex="1">
                                            <div class="row  margin-top-10">
                                                <div class="col-md-6">
                                                    @L("Time")
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-group">
                                                        <wy-time-picker data-dropdown-toggle-state="settings.dropdownToggleState"
                                                                        data-time-settings="settings.time"
                                                                        data-theme="settings.theme"
                                                                        data-no-range="settings.noRange"
                                                                        data-format="settings.format"
                                                                        data-no-validation="timeSettings"
                                                                        data-apply-callback="onApplyTimePicker()"
                                                                        data-clear-callback="onClearTimePicker()"></wy-time-picker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row  margin-top-20">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <ui-select multiple ng-model="vm.refday" class="form-control">
                                                            <ui-select-match placeholder=@L("WeekDays")>{{$item.displayText}}</ui-select-match>
                                                            <ui-select-choices repeat="day in vm.refdays">
                                                                <small>
                                                                    {{ day.displayText }}
                                                                </small>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <ui-select multiple ng-model="vm.refmonthday" class="form-control">
                                                            <ui-select-match placeholder=@L("MonthDays")>{{$item.displayText}}</ui-select-match>
                                                            <ui-select-choices repeat="day in vm.refmonthdays">
                                                                <small>
                                                                    {{ day.displayText }}
                                                                </small>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                                                        @L("Add")
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row margin-top-20">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>@L("SHourMinute")*</th>
                                                                <th>@L("EHourMinute")*</th>
                                                                <th>@L("Days")*</th>
                                                                <th>@L("MonthDays")*</th>
                                                                <th>@L("")</th>
                                                            </tr>
                                                        </thead>
                                                        <tr data-ng-repeat="(productIndex, product) in vm.conditionSchedules">
                                                            <td class="col-sm-2">
                                                                {{product.startHour}}:{{product.startMinute}}
                                                            </td>
                                                            <td class="col-sm-2">
                                                                {{product.endHour}}:{{product.endMinute}}
                                                            </td>
                                                            <td class="col-sm-3">
                                                                <table ng-if="product.allDays.length>0">
                                                                    <tr data-ng-repeat="(pi, p) in product.allDays">
                                                                        <td>
                                                                            {{ p.displayText }}
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="col-sm-3">
                                                                <table ng-if="product.allMonthDays.length>0">
                                                                    <tr data-ng-repeat="(pi, p) in product.allMonthDays">
                                                                        <td>
                                                                            {{ p.displayText }}
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="col-sm-2">
                                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                                                                    @L("Delete")
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab heading='@L("Conditions")' tabindex="1" ng-if="vm.conditionTypeId!=1">
                                            <div class="row  margin-top-10">
                                                <div class="col-xs-12">
                                                    <query-builder options="builder.options" builder="builder.builder"></query-builder>
                                                </div>
                                            </div>
                                            <div class="row  margin-top-10">
                                                <div class="col-xs-12">
                                                    <div id="builder"></div>
                                                </div>
                                            </div>
                                            <div class="row  margin-top-10">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-primary red" ng-click="vm.openRules()" ng-if="!vm.showRules">
                                                        <span>@L("Show")</span>
                                                    </button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-primary red" ng-click="vm.openRules()" ng-if="vm.showRules">
                                                        <span>@L("Hide")</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row  margin-top-10" ng-if="vm.showRules">
                                                <div class="col-xs-12">
                                                    <pre> {{ builder.builder.getRules() | json}}</pre>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                                <div class="panel-footer" style="height:50px">
                                    <div class="row pull-right">
                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">@L("Add") @L("PrintTemplateCondition")</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                </uib-tab>
                    </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-hide="vm.tabtwo==true">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-hide="vm.tabtwo==true">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>

</div>