﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="productionunitCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.productionunit.id">@L("EditProductionUnit"): {{vm.productionunit.code}}</span>
                <span ng-if="!vm.productionunit.id">@L("CreateProductionUnit")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">@L("Location")</label>

                            <ui-select class="borderself" id="locationrefid" ng-model="vm.productionunit.locationRefId" required>
                                <ui-select-match placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.reflocations | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.productionunit.code}" ng-model="vm.productionunit.code" required>
                        <label>@L("Code")</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="name" ng-class="{'edited':vm.productionunit.name}" ng-model="vm.productionunit.name" required>
                        <label>@L("Name")</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="productionunitCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

