﻿
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div>
    <form name="jobtitlemasterCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.jobtitlemaster.id">@L("EditJobTitleMaster"): {{vm.jobtitlemaster.jobTitle}}</span>
                <span ng-if="!vm.jobtitlemaster.id">@L("CreateJobTitleMaster")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="" ng-class="{'edited':vm.jobtitlemaster.jobTitle}" ng-model="vm.jobtitlemaster.jobTitle" required>
                        <label>@L("JobTitle")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="jobtitlemasterCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

