﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.master.materialmenumapping.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MaterialMapping").Pluralize()</span> <small>@L("MaterialMenuMappingHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            <button class="btn btn-default" ng-click="vm.import()">
                <i class="fa fa-download"></i> @L("Import")
            </button>
            <button class="btn btn-default red" ng-click="vm.exportNonMappedToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("NonMappedMenuList")
            </button>
            <button class="btn btn-default yellow" ng-click="vm.exportMappedToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("MappedMenuList")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createMaterialMenuMapping()">
                <i class="fa fa-plus"></i> @L("CreateMaterialMenuMapping")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row" ng-if="false">
                            <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="md-radio-inline bottom-left">
                                    <input id="allMenu" name="allMenu" class="md-radio-inline" type="radio"  ng-class="{'edited':vm.allMenu}" ng-model="vm.allMenu">
                                    <label for="allMenu">@L("All")</label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="md-radio-inline bottom-left">
                                    <input id="mappedonly" name="mappedonly" class="md-radio-inline" type="radio"  ng-class="{'edited':vm.mappedonly}" ng-model="vm.mappedonly">
                                    <label for="mappedonly">@L("MappedMenuList") @L("Only")</label>
                                </div>
                            </div>
                                <div class="col-xs-4">
                                    <div class="md-radio-inline bottom-left">
                                        <input id="nonmappedonly" name="nonmappedonly" class="md-radio-inline" type="radio" ng-class="{'edited':vm.nonmappedonly}" ng-model="vm.nonmappedonly">
                                        <label for="nonmappedonly">@L("NonMappedMenuList") @L("Only")</label>
                                </div>
                            </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="nonmappedOnly" ng-disabled="vm.mappedOnly || vm.allMenu" class="md-check" type="checkbox"
                                           ng-class="{'edited':vm.nonmappedOnly}" ng-model="vm.nonmappedOnly" ng-click="vm.getAll();">
                                    <label for="nonmappedOnly">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Fill") @L("NonMappedMenuList") @L("Only")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="mappedOnly" class="md-check" ng-disabled="vm.nonmappedOnly || vm.allMenu" type="checkbox"
                                           ng-class="{'edited':vm.mappedOnly}" ng-model="vm.mappedOnly" ng-click="vm.getAll()">
                                    <label for="mappedOnly">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Fill") @L("MappedMenuList") @L("Only")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input ng-disabled="vm.mappedOnly || vm.nonmappedOnly" id="allMenu" class="md-check" type="checkbox"
                                           ng-class="{'edited':vm.allMenu}" ng-model="vm.allMenu" ng-click="vm.getAll()">
                                    <label for="allMenu">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Fill") @L("All") 
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row margin-top-20 input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder='@L("SearchWithThreeDot")' type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
        </div>
    </div>
</div>