﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.master.materialmenumapping.materialMenuMapping as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-8">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.materialmenumapping.id">@L("EditMaterialMenuMapping"): {{vm.materialmenumapping.id}}</span>
                        <span ng-if="!vm.materialmenumapping.id">@L("CreateMaterialMenuMapping")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-4" ng-if="!vm.posMenuPortionRefId">
            <div class="md-checkbox">
                <input id="nonmappedOnly" class="md-check" type="checkbox"
                       ng-class="{'edited':vm.nonmappedOnly}" ng-model="vm.nonmappedOnly" ng-click="vm.fillDropDownMenuItem();">
                <label for="nonmappedOnly">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("Fill") @L("NonMappedMenuList") @L("Only")
                </label>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="productrecipelinkForm">
                    <div class="form-body">
                        <div class="row" busy-if="vm.loading || vm.processCount">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label class="control-label">@L("MenuItem")</label>
                                    <ui-select class="borderself" id="posSelectId" ng-model="vm.posMenuPortionRefId" ng-change="vm.fillDetail()" required>
                                        <ui-select-match id="selmenuitemid" placeholder="Select Menu Item...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmenuitem | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <label>@L("Quantity")</label>
                                    <input class="form-control text-right" type="text" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)" name="rcdqty" ng-model="vm.menuQuantitySold" min="0" required>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="md-checkbox">
                                    <input id="alllocation" class="md-check" type="checkbox" name="alllocation"
                                           ng-class="{'edited':vm.alllocationflag}" ng-change="vm.clearExistRecords();" ng-model="vm.alllocationflag">
                                    <label for="alllocation">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllLocations")
                                    </label>

                                    <ui-select class="borderself" style="background-color:lightcoral" ng-model="vm.selectedLocationId" ng-show="!vm.alllocationflag">
                                        <ui-select-match placeholder=@L("Location")>{{$select.selected.code}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.refallowedLocations">
                                            <small>
                                                @L("Name"): {{ location.name }}
                                                <br />
                                                @L("Code"): {{ location.code }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1 text-right margin-top-20" ng-show="!vm.alllocationflag && vm.tempdetaildata.length==0">
                                <button name="refresh" ng-disabled="vm.saving" type="button" class="btn btn-default btn-primary" ng-click="vm.getDataForGivenLocations()"><i class="fa fa-refresh"></i> </button>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.posMenuPortionRefId>0" busy-if="vm.loading ||vm.processCount">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@*@L("Actions")*@</th>
                                            <th ng-show="false">@L("Code")</th>
                                            <th ng-show="false">@L("SNo")</th>
                                            <th>@L("MaterialName")</th>
                                            <th>@L("Type")</th>
                                            <th class="text-right">@L("Qty")</th>
                                            <th>@L("UOM")</th>
                                            <th>@L("Department")</th>
                                            <th ng-if="false">@L("WastageExpected")</th>
                                            <th>@L("AutomaticIssue")</th>
                                            <th>@L("Next")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                                        <td class="col-xs-1">
                                            @*<input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.deleteMenuMappingList(data,index)" />*@
                                            <button class="btn btn-primary" ng-click="vm.deleteMenuMappingList(data,index)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                        <td class="col-xs-1" ng-show="false">
                                            <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" />
                                        </td>
                                        <td class="col-xs-1" ng-show="false">
                                            <input type="text" ng-disabled="true" class="form-control" ng-model="data.userSerialNumber" />
                                        </td>
                                        <td class="col-xs-5">
                                            <ui-select id="selRecipe" class="borderself" ng-value="data.materialRefName" ng-change="func(data,$select.selected)" ng-model="data.materialRefId" required>
                                                <ui-select-match id="selRecipe" placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                <ui-select-choices id="selRecipe" ng-model="data.materialRefId" repeat="mat.id as mat in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                    <div ng-bind="mat.materialName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.materialTypeName}}
                                        </td>
                                        <td class="col-xs-1">
                                            <input id="rcdqty" type="text" class="form-control text-right" ng-change="vm.dirtyFlag = true;" onkeypress="return NumberWithPointAndNegativePassingText(this.value,event,'cancel',true)" ng-model="data.portionQty" ng-disabled="!data.materialRefId" required />
                                        </td>
                                        <td>
                                            <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                            <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data);vm.dirtyFlag = true;" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed">
                                                <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2">
                                            <div class="form-group">
                                                <ui-select class="borderself" id="dept" ng-change="funcDept(data,$select.selected);vm.dirtyFlag = true;" ng-model="data.deptList" ng-value="data.deptList" multiple >
                                                    <ui-select-match ng-disabled="!data.materialRefId">{{$item.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.refdepartments | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </td>
                                        <td class="col-xs-1" ng-if="false">
                                            <input id="wastage" type="text" class="form-control text-right" onkeypress="return NumberWithPointAndNegativePassingText(this.value,event,'cancel',true)" ng-model="data.wastageExpected" ng-disabled="!data.materialRefId" />
                                        </td>
                                        <td class="col-xs-1">
                                            <input ng-model="data.autoSalesDeduction" ng-disabled="data.materialTypeId" type="checkbox">
                                        </td>
                                        <td class="col-xs-1">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.save(3)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>

                        

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                @*&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="productrecipelinkForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>*@
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="productrecipelinkForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(4)" ng-disabled="productrecipelinkForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("SaveAndShowCost")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="portlet light" ng-if="vm.dirtyFlag==false">
        <div class="portlet-body">
            <div class="row margin-top-10" ng-if="vm.detailData.length>0">
                <div class="col-xs-4" ng-if="vm.detailData.length>0">
                    <table class="table table-condensed table-bordered col-xs-12">
                        <caption style="background-color:white; color:red" class="text-center bold"><h4 style="background-color:white; color:red">@L("Costing")</h4></caption>
                        <thead>
                            <tr>
                                <th class="text-right">#</th>
                                <th>@L("Dept")</th>
                                <th class="text-right">@L("Cost")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in vm.detailData">
                            <td align="right">
                                {{index+1}}
                            </td>
                            <td class="red">
                                <span style="background-color:white; color:red">	{{data.departmentRefName}} </span>
                            </td>
                            <td class="green bold text-right">
                                <span style="background-color:white; color:red"> {{data.costPerUnit | number :4}}</span>
                            </td>
                        </tr>
                        <tr>
                    </table>
                </div>
                <div class="col-xs-8" ng-if="vm.materialRateView.length>0">
                    <table class="table table-condensed table-bordered col-xs-12">
                        <caption style="background-color:white; color:red" class="text-center bold"><h4 style="background-color:white; color:blue">@L("Material") @L("Rate")</h4></caption>
                        <thead>
                            <tr>
                                <th class="text-right">#</th>
                                <th>@L("MaterialType")</th>
                                <th>Avg Price Tag</th>
                                <th>@L("Material")</th>
                                <th>@L("UOM")</th>
                                <th class="text-right">@L("AvgRate")</th>
                                <th>@L("AvgRate") @L("Remarks")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in vm.materialRateView">
                            <td align="right">
                                {{index+1}}
                            </td>
                            <td class="blue">
                                <span style="background-color:white; color:blue">{{data.materialTypeRefName}} </span>
                            </td>
                            <td class="blue">
                                <span style="background-color:white; color:blue">{{data.averagePriceTagRefName}} </span>
                            </td>
                            <td class="blue">
                                <span style="background-color:white; color:blue">{{data.materialName}} </span>
                            </td>
                            <td class="blue">
                                <span style="background-color:white; color:blue">{{data.uom}} </span>
                            </td>
                            <td class="green bold text-right">
                                <span style="background-color:white; color:blue"> <a ng-click="vm.ingrdetailDataShown(data)"> {{data.avgRate | number :4}} </a></span>
                            </td>
                            <td class="blue">
                                <span style="background-color:white; color:blue">{{data.invoiceDateRange}} </span>
                            </td>
                        </tr>
                        <tr>
                    </table>
                </div>
            </div>

            <div class="margin-top-20" >
                <div class="row margin-top-20" style="border-style:outset" ng-if="vm.detailData.length>0" data-ng-repeat="(deptindex,deptdata) in vm.detailData">
                    @*<h4 style="color:red"> {{deptdata.departmentRefName}} :  {{deptdata.costPerUnit | number :4}} </h4>*@
                    <div class="col-xs-12" ng-if="deptdata.standardMaterialWiseValueAndPercentage.length>0">
                        <table class="table table-condensed table-bordered col-xs-12">
                            <caption style="background-color:white; color:red" class="text-center bold"><h4 style="background-color:white; color:blue"> <span style="color:red"> {{deptdata.departmentRefName}} :</span> @L("Material") @L("Rate")</h4></caption>
                            <thead>
                                <tr>
                                    <th class="text-right">#</th>
                                    <th>@L("Material")</th>
                                    <th>@L("UOM")</th>
                                    <th class="text-right">@L("Quantity")</th>
                                    <th class="text-right">@L("AvgRate")</th>
                                    <th class="text-right">@L("NetAmount")</th>
                                    <th>@L("AvgRate") @L("Remarks")</th>
                                </tr>
                            </thead>

                            <tr data-ng-repeat="(index,data) in deptdata.standardMaterialWiseValueAndPercentage">
                                <td align="right">
                                    {{index+1}}
                                </td>
                                <td class="blue">
                                    <span style="background-color:white; color:blue">{{data.materialRefName}} </span>
                                </td>
                                <td class="blue">
                                    <span style="background-color:white; color:blue">{{data.uom}} </span>
                                </td>
                                <td class="green bold text-right">
                                    <span style="background-color:white; color:blue"> {{data.usageQty | number :4}}</span>
                                </td>
                                <td class="green bold text-right">
                                    <span style="background-color:white; color:blue"> {{data.avgRate | number :4}}</span>
                                </td>
                                <td class="green bold text-right">
                                    <span style="background-color:white; color:blue"> {{data.netAmount | number :4}}</span>
                                </td>
                                <td class="blue">
                                    <span style="background-color:white; color:blue">{{data.invoiceDateRange}} </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" align="right">
                                    <span style="background-color:white; color:red">  {{deptdata.departmentRefName}}</span>
                                </td>
                                <td class="green bold text-right">
                                    <span style="background-color:white; color:red"> {{deptdata.costPerUnit | number :4}}</span>
                                </td>
                                <td class="blue">
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

