﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 60%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading" >
    <div class="modal-header">
        <div class="col-xs-7">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.menuPortionRefName}}</span>
            </h4>
        </div>
        <div class="col-xs-5 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div ng-if="vm.detailData.length==0">
           @L("NoRecordsFound")
        </div>

        <div class="row" ng-if="vm.detailData.length>0">
            <div class="col-xs-12" ng-if="vm.detailData.length>0">
                <table class="table table-striped table-bordered col-xs-12">
					<caption><h3>@L("Costing")</h3></caption>
                    <thead>
                    <tr>
                        <th>#</th>
												<th>@L("Dept")</th>
                        <th>@L("Cost")</th>
                    </tr>
                </thead>

        <tr data-ng-repeat="(index,data) in vm.detailData">
            <td align="right">
                {{index+1}}
            </td>
						<td>
							{{data.departmentRefName}}
						</td>
            <td>
                {{data.costPerUnit}}
            </td>
        </tr>
        <tr>
    </table>
</div>
</div>
</div>
</div>