﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />


<div ng-controller="tenant.views.cluster.deltiminggroup.deltiminggroup as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.deltiminggroup.id">@L("EditDelTimingGroup"): {{vm.deltiminggroup.name}}</span>
                        <span ng-if="!vm.deltiminggroup.id">@L("CreateDelTimingGroup")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="taxCreateOrEditForm">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("DelTimingGroup")">
                            <div class="form-body">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <label>@L("Name")</label>

                                                <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.deltiminggroup.name}" ng-model="vm.deltiminggroup.name" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <label>@L("Description")</label>

                                                <input class="form-control" type="text" name="description" ng-class="{'edited':vm.deltiminggroup.description}" ng-model="vm.deltiminggroup.description">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Detail")' tabindex="1">
                            <div class="row  margin-top-20">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <wy-time-picker data-dropdown-toggle-state="settings.dropdownToggleState" data-time-settings="settings.time" data-theme="settings.theme" data-no-range="settings.noRange" data-format="settings.format" data-no-validation="timeSettings" data-apply-callback="onApplyTimePicker()"
                                                        data-clear-callback="onClearTimePicker()">
                                        </wy-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <ui-select multiple ng-model="vm.refday" class="form-control">
                                            <ui-select-match placeholder=@L("WeekDays")>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="day in vm.refdays">
                                                <small>
                                                    {{ day.displayText }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                                        @L("Add")
                                    </button>
                                </div>
                            </div>

                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>@L("SHourMinute")*</th>
                                                <th>@L("EHourMinute")*</th>
                                                <th>@L("Days")*</th>
                                                <th>@L("Action")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(productIndex, product) in vm.deltiminggroup.delTimingDetails">
                                            <td class="col-sm-3">
                                                {{product.startHour}}:{{product.startMinute}}
                                            </td>
                                            <td class="col-sm-3">
                                                {{product.endHour}}:{{product.endMinute}}
                                            </td>
                                            <td class="col-sm-3">
                                                <table ng-if="product.allDays.length>0">
                                                    <tr data-ng-repeat="(pi, p) in product.allDays">
                                                        <td>
                                                            {{ p.displayText }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="col-sm-3">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                                                    @L("Delete")
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="row margin-top-15">
                        <div style="display:block;float:right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="taxCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

