﻿<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="common.views.outlet.dashboard as vm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <h3>
                    {{ vm.location.code }} - {{ vm.location.name }}
                </h3>
            </div>
            
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">


                        <div class="row">
                            <div class="col-sm-6  text-center">
                                <button class="fa fa-sticky-note large-icon" type="button" ng-click="vm.gotoPurchaseOrder()"></button>
                                <h3>@L("Invoice")</h3>
                            </div>
                            <div class="col-sm-6 text-center">
                                <button class="fa fa-sort large-icon" type="button" ng-click="vm.gotoStock()"></button>
                                <h3>@L("Stock")</h3>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>	