﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="common.views.outlet.invoice.mobileinvoiceDetail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4>
                @L("Location") : {{ vm.location.name }}
            </h4>
        </div>
        <div class="col-xs-6 text-right">
            <h3>
                <button class="fa fa-home" type="button" ng-click="vm.gotoHome()"></button>
            </h3>
        </div>
    </div>

    <div  class="row margin-bottom-10">
        <div class="col-xs-7">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.invoice.id">@L("ViewInvoice"): {{vm.invoice.id}}</span>
                        <span ng-if="!vm.invoice.id">@L("CreateInvoice")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2" @*ng-if="vm.invoiceType.length>0"*@  ng-if="false" >
            <div class="md-checkbox">
                <input id="DirectInvoice" class="md-check" type="checkbox" name="DirectInvoice" ng-class="{'edited':vm.invoice.isDirectInvoice}" ng-model="vm.invoice.isDirectInvoice" ng-disabled="true">
                <label for="DirectInvoice">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("DirectInvoice")
                </label>
            </div>
        </div>
        <div class="col-xs-3" ng-if="false">
            <div class="md-checkbox">
                <input id="FOC" class="md-check" type="checkbox" name="FOC" ng-class="{'edited':vm.invoice.isFoc}" ng-model="vm.invoice.isFoc">
                <label for="FOC">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("Include") @L("FOC") @L("Materials")
                </label>
            </div>
        </div>
    </div>
    <div class="portlet light">
<div class="portlet-body">
<div class="form" busy-if="vm.loading" >
<form name="invoiceForm">
<div class="form-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">@L("SupplierName")</label>
                <ui-select autofocus class="borderself" id="selSupplierId" ng-model="vm.invoice.supplierRefId" ng-change="filterDcDate(vm.dateRangeModel);vm.fillDropDownMaterial();" ng-blur="vm.invoice.invoiceNumber=''" required ng-keypress="vm.supplierKeyPress(index,$event)" ng-disabled="vm.invoice.id!=null">
                    <ui-select-match id="selSupplierId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">@L("InvoiceDate")</label>
                <input name="invoiceDate" id="invoicedate" class="form-control date-picker" ng-model="vm.invoice.invoiceDate" ng-disabled="vm.invoice.id!=null" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">@L("AccountDate")</label>
                <input name="accountDate" id="accountDate" class="form-control date-picker" ng-model="vm.invoice.accountDate" ng-disabled="true" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>@L("InvoiceNumber")</label>
                <input class="form-control text-right" type="text" id="invoiceno" name="invoiceno" ng-class="{'edited':vm.invoice.invoiceNumber}" ng-blur="filterDcDate(vm.dateRangeModel);vm.invoiceAlreadyExists();" ng-model="vm.invoice.invoiceNumber" ng-keypress="vm.invoiceNumberKeyPress(index,$event)" required ng-disabled="vm.invoice.id!=null">
            </div>
        </div>
    </div>
                        
                   

<div class="row" ng-if="vm.invoice.invoiceNumber.length > 0">

<div ng-show="vm.invoice.invoiceNumber.length > 0 && !vm.invoice.isDirectInvoice">
    <div class="col-xs-6" >
        <div class="form-group">
            <label class="control-label">@L("DcDateRange")</label>
            <input type="checkbox" ng-model="vm.allTimeDcs" />
            <input date-range-picker type="text" ng-change="filterDcDate(vm.dateRangeModel)" options="vm.dateRangeOptions"
                    min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                    class="form-control date-picker" ng-model="vm.dateRangeModel" ng-disabled="vm.invoice.id!=null"/>
        </div>
    </div>

    <div class="col-xs-5">
        <div class="form-group">
            <label class="control-label">@L("ReceiptReference")</label>
            <ui-select class="borderself" id="dcTidEditBox" ng-model="vm.tempinvoicedetail.dcTranid"
                        ng-change="vm.inwardDcTranIdRef(vm.tempinvoicedetail.dcTranid)" ng-disabled="vm.invoice.id!=null">
                <ui-select-match id="dcTidEditBox" placeholder="Select Reference...">{{$select.selected.displayText}}</ui-select-match>
                <ui-select-choices repeat="item.value as item in vm.refdctranid | filter: $select.search">
                    <div ng-bind="item.displayText"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="form-group">
            <button class="btn blue margin-top-20" ng-click="vm.getDetailMaterial()"><i class="fa fa-refresh"></i> </button>
        </div>
    </div>
</div>

<div class="row" id="ReferRecipts" ng-if="false" ng-disabled="vm.invoice.id!=null" ng-show="vm.invoicePortions.length>0 && !vm.invoice.isDirectInvoice">
<div class="col-xs-12" busy-if="vm.detailloading">
    <table class="table table-striped table-bordered col-xs-12">
        <thead>
            <tr>
                <th>@L("Actions")</th>
                <th ng-if="false">@L("#")</th>
                <th>@L("DC")</th>
                <th>@L("MaterialName")</th>
                <th class="text-right">@L("Qty")</th>
                <th class="text-right">@L("UOM")</th>
                <th class="text-right">@L("Cost")</th>
                <th ng-if="false">@L("DiscAmount")</th>
                <th class="text-right">@L("SubTotal")</th>
                <th class="text-right">@L("Tax")</th>
                <th class="text-right">@L("TaxAmount")</th>
            </tr>
        </thead>
        <tr data-ng-repeat="(index,data) in vm.invoicePortions">
            <td class="col-xs-1">
                <button type="button" class="btn btn-danger btn-primary" data-ng-click="vm.removeRow(index)">
                    <i class="glyphicon glyphicon-minus"></i> <span></span>
                </button> {{data.sno}}
            </td>
            <td class="col-xs-1" ng-if="false">
                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.sno" />
            </td>
            <td class="col-xs-1" >
                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.dcTranid" />
            </td>
            <td class="col-xs-3">
                <input type="text" ng-disabled="true" class="form-control  text-left" ng-model="data.materialRefName" ng-value="data.materialRefId + '-' + data.materialRefName " />
            </td>
            <td class="col-xs-1">
                <input id="totqty" type="text" ng-change="amtCalc(index,data)" class="form-control text-right"
                        onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.totalQty" ng-disabled="true" />
            </td>
            <td class="col-xs-1">
                <input id="uom" type="text" class="form-control text-right" ng-model="data.unitRefName" ng-disabled="true" />
            </td>
            <td class="col-xs-1">
                <input id="price" type="text" ng-change="amtCalc(index,data)" class="form-control text-right"
                        onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.price"
                        ng-disabled="true" />
            </td>
            <td class="col-xs-1" ng-if="false">
                <input id="discAmt" ng-change="calcDiscountPerc(index,data)" type="number" class="form-control text-right"
                        onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.discountAmount" ng-disabled="true" />
            </td>
            <td class="col-xs-2">
                <input id="SubTotal" type="number" class="form-control text-right"
                        onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.totalAmount" ng-disabled="true" />
            </td>
            <td class="col-xs-1">
                <ui-select id="selTax" multiple class="borderself"
                           ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.totalQty, data.price)" ng-click="taxCalc(data, data.totalQty, data.price)" ng-model="data.applicableTaxes">
                    <ui-select-match placeholder="@L("SelectTax")">{{$item.taxName}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                        <div ng-bind="item.taxName"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
            <td class="col-xs-1" >
                <input id="taxAmt" type="number" class="form-control text-right"
                        onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.taxAmount" ng-disabled="true" />
            </td>
                                         
           
                                          
        </tr>
    </table>
</div>
</div>
<hr />

    <div class="row">
        <div class="col-xs-6">
            <input class="form-control" type="text" id="barcode" ng-class="{'edited':vm.material.barcode}" ng-model="vm.material.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(vm.material)" placeholder='@L("Barcode")' ng-keypress="vm.barcodeKeyPress(index,$event)">
        </div>
        <div class="col-xs-6">
            <b> <span ng-if="vm.currentMaterial!=null"> {{vm.currentMaterial.materialRefName}} </span> </b>
        </div>
    </div>
    
    <div busy-if="vm.loading" class="row margin-top-20">
        @*<div class="col-sm-4" ng-if="false">
            <angucomplete-alt id="searMenuItem"
                              placeholder='@L("SearchItems")'
                              pause="100"
                              selected-object="vm.selectedItem"
                              local-data="vm.menuForLocation"
                              local-search="vm.menuSearch"
                              title-field="materialName"
                              description-field="material"
                              minlength="2"
                              input-class="form-control"
                              auto-match="true"
                              match-class="highlight" />
        </div>*@
        <div class="col-sm-2">
            <input type="number" id="searQuantity" ng-focus="vm.focusOnQuantity()" class="form-control text-right" ng-model="vm.material.totalQty"
                   ng-change="vm.amtCalc(vm.material,vm.material.totalQty,vm.material.price)"
                   placeholder='@L("Qty")' 
                   onkeypress="return NumberWithPointPassingText(this.value, event, 'txtprice', true)" 
                   ng-keypress="vm.searquantityKeyPress(index,$event)">
        </div>
        <div class="col-sm-2">
            <input id="txtprice" type="number" 
                   ng-change="vm.amtCalc(vm.material,vm.material.totalQty,vm.material.price)" 
                   class="form-control text-right"
                   placeholder='@L("Price")' 
                   onkeypress="return NumberWithPointPassingText(this.value,event,'addButton',true)" 
                   maxlength="10" ng-model="vm.material.price"
                   ng-keypress="vm.priceKeyPress(index,$event)"
                   />
        </div>
        <div class="col-sm-1 text-right">
            <button type="button" class="btn btn-sec blue" id="addButton" ng-click="vm.addItemToOrder()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="row margin-top-20" ng-if="vm.invoicePortions.length>0">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered red col-xs-12">
                <thead>
                    <tr>
                        <th>@L("Actions")</th>
                        <th>@L("Name")</th>
                        <th class="text-right">@L("Quantity")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.invoicePortions" ng-class="{'highlight-alreadyavailable': data.alreadyExists}">
                    <td class="col-xs-1">
                        <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                    </td>
                    <td class="col-xs-4">
                        {{ data.materialRefName }}
                    </td>
                    <td class="col-xs-2 text-right">
                        {{data.totalQty}}
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label">@L("DiscountAmount")</label>
                <input id="discountamount" type="text" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)"
                       class="form-control  text-right" ng-model="vm.invoice.totalDiscountAmount" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label">@L("OtherCharges")</label>
                <input id="shipmentamount" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)"
                        class="form-control  text-right" ng-model="vm.invoice.totalShipmentCharges" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label">@L("RoundedAmount")</label>
                <input id="roundedamount" onkeypress="return NumberWithPointAndNegativePassingText(this.value, event, 'cancel', true)"
                        class="form-control  text-right" ng-model="vm.invoice.roundedAmount" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label">@L("ActualInvoiceTotal")</label>
                <input name="invoiceAmtuser" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)" ng-keypress="vm.checkFinished=false;" class="form-control  text-right" ng-model="vm.invoice.invoiceamoutenteredbyuser" />
            </div>
            <div class="col-xs-12">
                <button name="Checkamount" ng-disabled="vm.saving" type="button" class="btn blue margin-top-30"
                        ng-click="vm.checkAmountWithAuto()">
                    @L("Check")
                </button>
            </div>
            <div class="col-xs-12" ng-if="vm.checkFinished && vm.invoice.invoiceamoutenteredbyuser">
                <label class="control-label">@L("SubTotal")</label>
                <input name="taxAmt" class="form-control  text-right" ng-model="vm.invoiceTotalAmount" required ng-disabled="true" />
            </div>
            <div class="col-xs-12" ng-if="vm.checkFinished && vm.invoice.invoiceamoutenteredbyuser">
                <label class="control-label">@L("TaxTotal")</label>
                <input name="taxAmt" class="form-control  text-right" ng-model="vm.totalTaxAmount" required ng-disabled="true" />
            </div>
            <div class="col-xs-12" ng-if="vm.checkFinished && vm.invoice.invoiceamoutenteredbyuser">
                <label class="control-label">@L("GrandTotal")</label>
                <input name="invoiceAmt" class="form-control  text-right" ng-model="vm.invoice.invoiceAmount" required ng-disabled="true" />
            </div>

        </div>
    </div>


    </div>

    <div class="m-heading-1 border-left-red-thunderbird m-bordered margin-top-40" ng-if="vm.focAlertMessageFlag">
        <br />
        <h3 style="color:red"> <b>  @L("FocAlertMessage") </b></h3>
    </div>

<div class="row margin-top-15" >
    <div style="display:block;float:right;">
        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)" ng-if="vm.invoice.id!=null">@L("Close")</button>
        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)" ng-if="vm.invoice.id==null" >@L("Cancel")</button>
        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-if="vm.invoice.id==null" ng-click="vm.save()" ng-disabled="invoiceForm.$invalid">
            <i class="fa fa-save"></i> <span>@L("Save")</span>
        </button>
    </div>
</div>

</div>
</form>
</div>
</div>
    </div>
</div>



<div id="directInvoice" class="row" ng-disabled="vm.invoice.id!=null"  ng-if="false">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered col-xs-12">
            <thead>
                <tr>
                    <th>@L("Action")</th>
                    <th ng-if="false">@L("#")</th>
                    <th ng-if="vm.permissions.barcodeUsage">@L("Barcode")</th>
                    <th>@L("MaterialName")</th>
                    <th class="text-right">@L("Qty")</th>
                    <th class="text-right">@L("UOM")</th>
                    <th class="text-right">@L("Cost")</th>
                    <th class="text-right" ng-if="false">@L("DiscAmount")</th>
                    <th class="text-right">@L("SubTotal")</th>
                    <th class="text-right">@L("Tax")</th>
                    <th class="text-right">@L("TaxAmount")</th>
                    <th>@L("Actions")</th>
                </tr>
            </thead>
            <tr data-ng-repeat="(index,data) in vm.invoicePortions">
                <td class="col-xs-1">
                    <input ng-disabled="vm.invoice.id!=null" type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" /> {{data.sno}}
                </td>
                <td ng-if="false" class="col-xs-1">
                    <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.sno" />
                </td>
                @*<td class="col-xs-1" ng-if="vm.permissions.barcodeUsage">
                        <input class="form-control" type="text" id="barcode"
                               ng-class="{'edited':data.barcode}" ng-model="data.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(data)" ng-disabled="data.materialRefId" >
                    </td>*@
                <td class="col-xs-3">
                    <ui-select id="selMaterial" class="borderself" ng-required="true" ng-value="data.materialRefName" ng-change="func(data,$select.selected)" ng-model="data.materialRefId" ng-disabled="vm.invoice.id!=null || !vm.invoice.isDirectInvoice">
                        <ui-select-match placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                        <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                            <div ng-bind="item.materialRefName"></div>
                        </ui-select-choices>
                    </ui-select>

                </td>
                <td class="col-xs-1">
                    <input id="qtyOrder" type="text" ng-change="vm.amtCalc(data,data.totalQty,data.price)" class="form-control text-right"
                           onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.totalQty" required />
                </td>
                <td class="col-xs-1 text-right">
                    <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                    <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-disabled="!vm.mutlipleUomAllowed" ng-if="data.changeunitflag">
                        <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>


                <td class="col-xs-1">
                    <input id="price" type="text" ng-change="vm.amtCalc(data,data.totalQty,data.price)" class="form-control text-right"
                           onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.price"
                           required ng-disabled="!data.rateeditflag" />
                </td>
                <td class="col-xs-2" ng-if="false">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="data.discountOption" ng-click="discOptionCheck(data)" type="checkbox">%
                        </span>
                        <input type="text" ng-change="calcDiscountPerc(data)" ng-model="data.discountValue" class="form-control" required>
                    </div>
                </td>
                <td class="col-xs-1">
                    <input id="netAmt" type="number" class="form-control text-right"
                           onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="12" ng-model="data.totalAmount" ng-disabled="true" required />
                </td>
                <td class="col-xs-2">
                    <ui-select id="selTax" multiple class="borderself"
                               ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.totalQty, data.price)" ng-click="taxCalc(data, data.totalQty, data.price)" ng-model="data.applicableTaxes">
                        <ui-select-match placeholder="@L("SelectTax")">{{$item.taxName}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                            <div ng-bind="item.taxName"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td class="col-xs-1">
                    <input id="taxAmount" type="number" class="form-control text-right"
                           onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="12" ng-model="data.taxAmount" ng-disabled="true" required />
                </td>

                <td class="col-xs-1">
                    <button ng-disabled="vm.invoice.id!=null || !vm.invoice.isDirectInvoice" type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                    </button>
                </td>

            </tr>
        </table>
    </div>
</div>
