<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-if="!vm.user.id">@L("AuditLogDetail")</span>
        </h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal audit-log-detail-view" role="form">
            <div class="form-body">
                <h3 class="form-section">@L("UserInformations")</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("UserName"):</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {{vm.auditLog.userName}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">@L("ActionInformations")</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("Table"):</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {{vm.auditLog.typeFullName}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("Action"):</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {{vm.getEventType()}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("Time"):</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {{vm.getExecutionTime()}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">@L("ChangedData")</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>@L("PropertyName") </th>
                                            <th>@L("OriginalValue")</th>
                                            <th>@L("NewValue")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(fileIndex, file) in vm.auditLog.logDetails">
                                            <td>{{ file.propertyName }}</td>
                                            <td>{{ file.originalValue }}</td>
                                            <td>{{ file.newValue }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>