@using DinePlan.DineConnect.Localization
<div ng-controller="common.views.trackerLogs.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("TrackerAuditLogs")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body" enter-key="vm.getAuditLogs()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("UserName")</label>
                                    <input type="text" class="form-control" ng-model="vm.requestParams.userName">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input auto-focus ng-model="vm.requestParams.filterText" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-default" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                            <button class="btn blue" ng-click="vm.getAuditLogs()"><i class=" fa fa-search"></i> @L("Search")</button>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>