﻿<div ng-controller="tenant.views.addons.qb as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("QuickBooks")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-3">
                    <h2>@L("QuickBooks")</h2>
                </div>
                <div class="col-sm-6">
                    <div class="connect-buttton-container" ng-if="!vm.isConnected">

                        <a ng-href="{{vm.loginUrl}}">
                            <img src="~/Content/C2QB_green_btn_lg_default.png"
                                 style="width: 200px"
                                 ng-click="vm.connect();" />
                        </a>
                       
                    </div>
                    <div ng-if="vm.isConnected">
                        <h2>You are connected.</h2>

                        <button ng-click="vm.disconnect()" class="btn btn-primary">
                            Disconnect
                        </button>

                    </div>
                </div>
                
            </div>

            <div class="row margin-top-20" ng-if="vm.isConnected">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        <tr>
                            <td>@L("Invoice Contact")</td>
                            <td>
                                <select id="InvoiceContact"
                                        class="form-control selectpicker"
                                        data_live_search="true"
                                        ng-options="vm.getOptionValue(item) as item.displayText for item in vm.qbCustomers"
                                        ng-model="vm.qb.invoiceCustomers"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>@L("Default Payment Account")</td>
                            <td>
                                <select id="TaxItem"
                                        class="form-control selectpicker"
                                        data_live_search="true"
                                        ng-options="vm.getOptionValue(item) as item.displayText for item in vm.qbAccounts"
                                        ng-model="vm.qb.defaultPaymentAcounts"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>@L("Locations")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncLocations()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Suppliers")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncSuppliers()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
        </div>
    </div>


</div>