﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.dailySalesAdvanceReport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DailySalesBreak")</span>
                    </h1>
                </div>
            </div> 
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getData()">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">@L("DateRange")</label>
                                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn blue" ng-click="vm.clear()">
                                        <i class="fa fa-eraser"></i> @L("Clear")
                                    </button>
                                    <div class="btn-group">
                                        <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                            <i class="fa fa-file-excel-o"></i> @L("Export")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                            </li>
                                            <li>
                                                <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                            </li>
                                        </ul>
                                    </div>                                  
                                    <button class="btn blue" ng-click="vm.getData()">
                                        <i class="fa fa-refresh"></i> @L("Refresh")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center max_width_50" rowspan="2"> @L("Date")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("Day")</th>
                            <th class="text-center max_width_50" colspan="{{vm.data.listShift.length + 1}}">  @L("Sales")</th>
                            <th class="text-center max_width_50" colspan="3">  @L("Deduction")</th>                   
                            <th class="text-center max_width_50" rowspan="2"> @L("NetRest")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("ServiceCharge")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("GST")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("GrossSales")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("NoOfGuest")</th>
                        </tr>
                        <tr>
                            <th class="text-center max_width_50" ng-repeat="item in vm.data.listShift" >  {{item.name}}</th> 
                            <th class="text-center max_width_50"> @L("TotalSales")</th>
                            <th class="text-center max_width_50"> @L("Compliment")</th>
                            <th class="text-center max_width_50"> @L("Promotion")</th>
                            <th class="text-center max_width_50"> @L("TotalDeduction")</th>
                        </tr>
                    </thead>                    
                    <tr ng-repeat="item in vm.data.items">
                        <td class="item border_bottom_none text-center max_width_50">{{$index + 1}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.date}}</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in item.listShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalDeduction| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.netRest| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.serviceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.gst| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.grossSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.noOfGuest| number: vm.decimals}}</td>
                    </tr>        
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 footer" colspan ="2"> @L("Total")</td>
                        <td class="item border_bottom_none text-center max_width_50 footer" ng-repeat="shift in vm.data.totalListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalTotalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalCompliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalPromotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalTotalDeduction| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalNetRest| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalServiceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalGST| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalGrossSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50 footer">{{vm.data.totalNoOfGuest| number: vm.decimals}}</td>
                    </tr>   
                </table>

            </div>
        </div>
    </div>
</div>
<style>
    .thead_title {
        background-color: #deebf7;
        font-weight: bold;
    }

    .thead_content {
        background-color: #fff2cc;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .item {
        max-width: 116px;
    }

    .w-100 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #808080;
        color: white;
    }

    .font_weight_bold {
        font-weight: bold;
    }

    .nodata {
        background: navajowhite;
        color: red;
    }

    .table_Item {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .table_Item_Element {
        border-left: none !important;
        border-bottom: none !important;
    }

    .max_width_50 {
        max-width: 50px;
    }

    .max_width_20 {
        max-width: 20px;
    }
</style>
