﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
</style>

<div ng-controller="tenant.views.connect.card.connectcardtype.connectcardtype as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.connectCardType.id">@L("EditConnectCardType"): {{vm.connectCardType.name}}</span>
                        <span ng-if="!vm.connectCardType.id">@L("CreateConnectCardType")</span>
                    </h1>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet light margin-top-10">
        <div class="portlet-body">

            <form name="connectCardTypeCreateOrEditForm" role="form" novalidate class="form-validation">
                <div class="form-body">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("CardType")" ng-disabled="vm.connectCardType.id">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            @L("Category") <a ng-click="vm.connectCardType.connectCardTypeCategoryId=null" ng-if="vm.connectCardType.connectCardTypeCategoryId!=null&&vm.connectCardType.connectCardTypeCategoryId>0">@L("Clear")</a>
                                        </label>
                                        <ui-select class="borderself" ng-model="vm.connectCardType.connectCardTypeCategoryId">
                                            <ui-select-match placeholder="@L("Select")  @L("Category")">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="connectcardtypecategory.id as connectcardtypecategory in  vm.connectcardtypecategorys| filter: $select.search | limitTo: vm.uilimit ">
                                                <small>
                                                    {{ connectcardtypecategory.name }}
                                                    <br />
                                                    {{connectcardtypecategory.code}}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("ConnectCardTypeTag")*</label>
                                        <input class="form-control uppercase" type="text" name="tag" ng-class="{'edited':vm.connectCardType.tag}" ng-model="vm.connectCardType.tag" maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("ConnectCardTypeName")*</label>
                                        <input class="form-control uppercase" type="text" name="id" ng-class="{'edited':vm.connectCardType.name}" ng-model="vm.connectCardType.name" maxlength="30" autofocus required ng-disabled="vm.connectCardType.id">
                                    </div>
                                </div>
                                <div class="col-sm-6" ng-disabled="vm.connectCardType.id">
                                    <div class="form-group">
                                        <label>@L("Length") *</label>
                                        <input class="form-control" type="number" name="Length"
                                               ng-class="{'edited':vm.connectCardType.length}"
                                               ng-model="vm.connectCardType.length"
                                               onkeypress="return NumberOnly(event, null)"
                                               min="0"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 margin-top-15">
                                    <div class="md-checkbox form-group">
                                        <input id="OneTime" class="md-check" type="checkbox" name="OneTime" ng-class="{'edited':vm.connectCardType.useOneTime}" ng-model="vm.connectCardType.useOneTime">
                                        <label for="OneTime">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("OneTime")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("ConnectCardValidity")</label>
                                        <input required id="validity"
                                               name="validity"
                                               class="form-control date-picker"
                                               ng-class="{'edited':vm.connectCardType.validTill}"
                                               ng-model="vm.connectCardType.validTill" />
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("GenerateNewCards")" ng-if="vm.connectCardType.id">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("Prefix")</label>
                                        <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.prefix}" ng-model="vm.prefix">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("TotalDigit") *</label>
                                        <input class="form-control" type="number" name="Format" ng-class="{'edited':vm.cardNumberOfDigits}" ng-model="vm.cardNumberOfDigits" onkeypress="return NumberOnly(event, null)">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("Suffix")</label>
                                        <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.suffix}" ng-model="vm.suffix">
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-top-40">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("CardStartingNumber") *</label>
                                        <input class="form-control" type="number" name="StartingNumber" ng-class="{'edited':vm.cardStartingNumber}" ng-model="vm.cardStartingNumber" onkeypress="return NumberOnly(event, null)">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("TotalCards") *</label>
                                        <input class="form-control" type="number" name="VoucherCount" ng-class="{'edited':vm.cardCount}" ng-model="vm.cardCount" onkeypress="return NumberOnly(event, null)">
                                    </div>
                                </div>
                            </div>

                            <div class="row text-right margin-top-40">
                                <button type="button" button-busy="vm.saving" busy-text="@L("GenerateWithThreeDot")" class="btn btn-primary btn-success" ng-click="vm.generateCards()" ng-disabled="connectCardTypeCreateOrEditForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("GenerateNewCards")</span>
                                </button>
                            </div>
                            <div class="row margin-top-40">
                                <br />
                            </div>
                        </uib-tab>

                        <uib-tab heading="@L("Cards")" ng-if="vm.cardList.length>0" active="vm.tabtwo">
                            <div ng-if="vm.cardList.length==0">
                                @L("NoRecordsFound")
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("CardNumber")</th>
                                                <th>@L("CardType")</th>
                                                <th>@L("Redeemed")</th>
                                                <th>@L("CreationTime")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.cardList">
                                            <td class="col-xs-3">
                                                <b>
                                                    <span>{{data.cardNo}}</span>
                                                </b>
                                            </td>
                                            <td class="col-xs-3">
                                                {{data.connectCardTypeName}}
                                            </td>
                                            <td class="col-xs-3">
                                                {{data.redeemed}}
                                            </td>
                                            <td class="col-xs-3">
                                                {{data.creationTime | date:'dd-MM-yyyy HH:mm'}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("Import")" ng-if="vm.connectCardType.id">
                            <div class="row ">
                                <div class="col-xs-6 form-group">
                                    <button class="btn btn-default blue" ng-click="vm.import()">
                                        <i class="fa fa-download"></i> @L("Import")
                                    </button>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
                <div class="modal-footer">
                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(0)" ng-disabled="connectCardTypeCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="connectCardTypeCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
