﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.transaction.closingstock.closingstockPrintDetail as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
        @*<button id="cmd">generate PDF</button>*@
    </div>
    <div id="editor"></div>

    <center><h4> <b><u> @L("ClosingStock")</u></b></h4></center>
    <div class="row">
        <div class="col-xs-4">
            <h6>    @L("Reference"): {{vm.closingstock.requestSlipNumber}} </h6>
        </div>
        <div class="col-xs-4 text-right">
            <h6>   @L("Time"): {{vm.closingstock.closingstockTime | date : 'medium'}} </h6>
        </div>
    </div>
    <h6>
        @L("Recipe"): {{vm.recipename}}
    </h6>
    <div id="content" @*ng-if="vm.closingstockPortions.length>=5"*@>
        <div class="row" ng-if="vm.recipeflag" >
            <div class="col-xs-8">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("RecipeName")</th>
                            <th>@L("PlannedProdQty")</th>
                            <th class="text-right">@L("ProducedQty")</th>

                            <th>@L("Batch")</th>
                            <th >@L("Completed")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.recipePortions" class="input-small">
                        <td class="col-xs-2 font-sm">
                            <h6>   {{data.sno}} . {{data.recipeRefName}} </h6>
                        </td>
                        <td class="col-xs-2 text-right font-sm">
                            <h6>   {{data.recipeProductionQty | number:vm.housedecimals}}</h6>
                        </td>
                        <td class="col-xs-1 text-right font-sm">
                            <h6>  {{data.completedQty | number:vm.housedecimals}} {{data.defaultUnit}} </h6>
                        </td>
                        <td class="col-xs-1">
                            <span ng-if="data.multipleBatchProductionAllowed">@L("Yes")</span>
                            <span ng-if="!data.multipleBatchProductionAllowed">@L("No")</span>
                        </td>
                        <td class="col-xs-1">
                            <span ng-if="data.completionFlag">@L("Yes")</span>
                            <span ng-if="!data.completionFlag">@L("No")</span>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
        <hr />
        <div class="lineHr">.</div>
        <div class="row">
            <div class="col-xs-8">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th>@L("UOM")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.closingstockPortions">
                        <td class="col-xs-5">
                             {{data.sno}} . {{data.materialRefName}} 
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.closingstockQty | number:vm.housedecimals}} 
                        </td>
                        <td class="col-xs-1">
                           {{data.unitRefName}}
                        </td>
                    </tr>


                </table>
            </div>
        </div>
        <hr />
        <div class="lineHr">.</div>
    </div>
    <div id="smallcontent" ng-if="vm.closingstockPortions.length<5">
        <div class="row" ng-if="vm.recipeflag">
            <table class="table table-striped table-bordered col-xs-12">
                <thead>
                    <tr>
                        <th>@L("RecipeName")</th>
                        <th>@L("PlannedProdQty")</th>
                        <th class="text-right">@L("ProducedQty")</th>
                        <th>@L("Batch")</th>
                        <th>@L("Completed")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.recipePortions">
                    <td class="col-xs-2">
                        {{data.sno}} . {{data.recipeRefName}}
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.recipeProductionQty | number:vm.housedecimals}}
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.completedQty | number:vm.housedecimals}} {{data.defaultUnit}}
                    </td>
                    <td class="col-xs-1">
                        <span ng-if="data.multipleBatchProductionAllowed">@L("Yes")</span>
                        <span ng-if="!data.multipleBatchProductionAllowed">@L("No")</span>
                    </td>
                    <td class="col-xs-1">
                        <span ng-if="data.completionFlag">@L("Yes")</span>
                        <span ng-if="!data.completionFlag">@L("No")</span>
                    </td>
                </tr>


            </table>
            <hr />
            <div class="lineHr">.</div>
            <table class="table table-striped table-bordered col-xs-12">
                <thead>
                    <tr>
                        <th>@L("MaterialName")</th>
                        <th class="text-right">@L("Qty") @L("UOM")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.closingstockPortions">
                    <td class="col-xs-6">
                        {{data.sno}} . {{data.materialRefName}}
                    </td>
                    <td class="col-xs-2 text-right">
                        {{data.closingstockQty | number:vm.housedecimals}} {{data.unitRefName}}
                    </td>
                </tr>


            </table>
        </div>
    </div>
</div>