﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    /* Specify styling for tooltip contents */
    .tooltip.customClass .tooltip-inner {
        color: #880000;
        background-color: #ffff66;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    /* Hide arrow */
    .tooltip.customClass .tooltip-arrow {
        display: none;
    }
</style>

<div ng-controller="tenant.views.house.transaction.closingstock.closingstockMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.closingstock.id">@L("EditClosingStock")  @L("Date") : </span>
                        <span ng-if="!vm.closingstock.id">@L("CreateClosingStock") @L("Date") :</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2" ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1">
            @*<label class="control-label">@L("StockDate")</label>*@
            <input name="closingDate" class="form-control date-picker" ng-class="{'edited':vm.closingstock.stockDate}" ng-model="vm.closingstock.stockDate" ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1" />
        </div>
        <div class="col-xs-3" ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1">
            <button class="btn blue" ng-disabled="vm.closingstockPortions.length>1" ng-click="vm.fillScheduled()">
                <i class="fa fa-download"></i> @L("Fill") @L("Schedules")
            </button>
            <button class="btn blue" ng-if="vm.closingstockPortions.length==0" ng-disabled="vm.closingstockPortions.length>1" ng-click="vm.checkAndImport(0)">
                <i class="fa fa-file-excel-o"></i> <i class="fa fa-download"></i> @L("Import")
            </button>
        </div>
        <div class="col-xs-2 margin-bottom-40" ng-hide="vm.closingstock.id || vm.closingstockPortions.length>1">
            <div class="md-checkbox">
                <input id="IncludeMaterialNotMappedWithStockCycle" class="md-check" type="checkbox" ng-model="vm.includeMaterialNotMappedWithStockCycle" style="text-decoration: line-through;">
                <label for="IncludeMaterialNotMappedWithStockCycle">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("IncludeMaterialNotMappedWithStockCycle")
                </label>
            </div>
        </div>
        <div class="col-xs-2  text-right" ng-if="false">
            <div class="form-group">
                <ui-select class="borderself" ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()">
                    <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group" ng-if="false">
                <button class="btn blue " ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1" ng-click="vm.fillDataFromTemplate()">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-body">
            <div class="form">
                <form name="closingstockForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-1">
                                <div class="form-group  no-hint">
                                    <label>@L("Code") <a style="font-size:small" ng-if="vm.materialPetNameFilter!=null" ng-click="vm.materialPetNameFilter='';"> @L("Clear")</a> </label>
                                    <input class="form-control ucase" type="text" name="MaterialName" ng-class="{'edited':vm.materialPetNameFilter}" ng-model="vm.materialPetNameFilter">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group  no-hint">
                                    <label>@L("Name") <a style="font-size:small" ng-if="vm.materialNameFilter!=null" ng-click="vm.materialNameFilter='';"> @L("Clear")</a> </label>
                                    <input class="form-control ucase" type="text" name="MaterialName" ng-class="{'edited':vm.materialNameFilter}" ng-model="vm.materialNameFilter">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("Category")  <a style="font-size:small" ng-if="vm.materialGroupCategoryRefIdFilter!=null" ng-click="vm.materialGroupCategoryRefIdFilter=''"> @L("Clear")</a></label>
                                    <ui-select class="borderself" name="Category" id="Category" ng-model="vm.materialGroupCategoryRefIdFilter">
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-30">
                                <a ng-if="vm.enterOnHandFilter!=0" ng-click="vm.enterOnHandFilter=0">@L("Hide") @L("Zero") @L("Stock")</a>
                                <a ng-if="vm.enterOnHandFilter==0" ng-click="vm.enterOnHandFilter=-1">@L("Show") @L("All")</a>
                            </div>
                            <div class="col-xs-1 margin-top-30">
                                <a ng-click="vm.materialNameFilter='';vm.materialGroupCategoryRefIdFilter='';vm.materialPetNameFilter='';">@L("Clear") @L("Filter")</a>
                            </div>

                        </div>
                        <div class="row margin-top-20">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Delete")</th>
                                            <th class="text-center">@L("MaterialName")</th>
                                            <th class="text-center">@L("Unit") @L("Wise") @L("OnHand") @L("UOM")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.closingstockPortions |filter: { materialRefName : vm.materialNameFilter, materialPetName : vm.materialPetNameFilter, materialGroupCategoryRefId : vm.materialGroupCategoryRefIdFilter} " ng-if="data.onHand > vm.enterOnHandFilter">
                                        @*| orderBy : 'editFlag', 'materialRefName'*@
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRow(index)" />  {{index + 1}}
                                        </td>
                                        <td class="col-xs-3 text-center">
                                            <a ng-if="!data.editFlag" ng-click="vm.setEditFlag(data,index)"><span><b> {{data.materialRefName}} </b> </span> </a>
                                            <ui-select class="borderself" id="selMaterial" ng-if="data.editFlag" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId">
                                                <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="item.id as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                    <small>
                                                        <span>{{ item.materialName }} <span></span> </span>
                                                        <br />
                                                        <span style="color:blue;">{{ item.materialPetName }} <span></span> </span>
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                            <br />
                                            @*<input id="qty" type="text" class="form-control text-right text-bold"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)"
                                                       ng-model="data.onHand" ng-disabled="!data.materialRefId"  />
                                                <br />*@
                                            <label class="text-center margin-top-10" style="font-size:medium"> <span ng-if="data.onHand>0"> {{data.onHand | number : 6}} </span> <span style="color:blue"> {{data.unitRefName}} </span></label>
                                        </td>
                                        <td class="col-xs-8">
                                            <div data-ng-repeat="(unitindex,unitdata) in data.unitWiseDetails" class="col-xs-3 text-center">
                                                <input id="onHand" type="text" class="form-control text-center font-sm text-bold"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)"
                                                       ng-model="unitdata.onHand" ng-change="vm.calculateDefaultOnHand(data)" />
                                                @*<br />*@
                                                <label style="color:blue" class="text-center">{{unitdata.unitRefName}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="col-xs-1 text-right">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion(data)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>
                        <div class="row margin-top-15" ng-if="false">
                            <div class="col-xs-2 margin-bottom-40">
                                <div class="md-checkbox">
                                    <input id="SaveAsTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templateflag" style="text-decoration: line-through;">
                                    <label for="SaveAsTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SaveAsTemplate")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group" ng-show="vm.templatesave.templateflag">
                                    <input id="tname" placeholder=@L("TemplateName") type="text" class="form-control ucase" ng-model="vm.templatesave.templatename" ng-disabled="!vm.templatesave.templateflag" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="md-checkbox" ng-disabled="!vm.templatesave.templateflag" ng-show="vm.templatesave.templateflag">
                                    <input id="GlobalTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templatescope" style="text-decoration: line-through;">
                                    <label for="GlobalTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("GlobalTemplate")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2" ng-show="vm.templatesave.templateflag">
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary yellow" ng-click="vm.templateSave()">
                                    <i class="fa fa-save"></i> <span>@L("Save") @L("Template")</span>
                                </button>
                            </div>

                        </div>
                        <hr />
                        <div class="row margin-top-15">

                            <div class="col-xs-12">
                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.checkAndImport(2)" ng-disabled="closingstockForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

