﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.transaction.closingstock.mobileIndex as vm">
    @*<div @*ng-if="!vm.isProductionAllowed">
        <h2>@L("ProductionAllowedErr")</h2>
    </div>*@

    <div class="row margin-bottom-5" @*ng-if="vm.isProductionAllowed"*@>
        <div class="col-xs-10">
            <div class="page-head">
                <div class="page-title">
                    <h6>
                        @*<span class="caption-subject bold uppercase">@L("Daily") 
                        @L("ClosingStock").Pluralize()</span>*@ <small>@L("ClosingStockHeaderInfo")</small>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createClosingStock()">
                <i class="fa fa-plus"></i></button>

        </div>
    </div>
    <div class="portlet light" ng-if="false">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            
                            <div class="col-xs-6">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="md-checkbox">
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn blue" ng-click="vm.getAll()">
                                <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
        <div class="portlet-body" style="height: 80vh;" ng-show="false">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl"
                    : "" )></div>
            </div>
        </div>
    
    </div>

    <div>
        <table class="table table-striped table-bordered col-xs-12">
            @*<caption class="text-center"> <h5> <b>@L("Details")</b></h5></caption>*@
            <thead>
                <tr>
                    <th>
                        @L("Delete")
                    </th>
                    <th>
                        @L("StockDate")
                    </th>
                </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.outputData">
                <td class="col-xs-1">
                    <a ng-click="vm.deleteClosingStock(data)"> <i class="fa fa-remove"></i></a>
                </td>
                <td class="col-xs-10">
                    <a ng-click="vm.editClosingStock(data)">  {{data.stockDate | date : 'dd-MMM-yy EEE'}} </a>
                </td>
            </tr>
        </table>
        <br />
        <hr />
    </div>
</div>

