﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.house.transaction.invoice.index as vm">
    <div ng-if="!vm.isPurchaseAllowed">
        <h2>@L("PurchaseAllowedErr")</h2>
    </div>

    <div class="row margin-bottom-5" ng-if="vm.isPurchaseAllowed">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Invoice").Pluralize()</span> <small>@L("InvoiceHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-9 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
          
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDirectInvoice()">
                <i class="fa fa-plus"></i> @L("CreateDirectInvoice")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createInvoice()">
                <i class="fa fa-plus"></i> @L("CreateInvoice")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="  vm.createInvoiceFromPo()">
                <i class="fa fa-plus"></i>@L("CreateInvoice") - @L("Based") @L("PO")
            </button>
        </div>
    </div>
    <div class="portlet light" ng-if="vm.isPurchaseAllowed">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row ">

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" type="text" placeholder='@L("Supplier")'>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label style="color:black" for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>

                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <input type="number" class="form-control" ng-model="vm.id" placeholder='@L("Id")' />
                                </div>
                            </div>

                        </div>
                        <div class="row ">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" ng-model="vm.invoiceNumber" placeholder='@L("InvoiceNumber")'>
                            </div>
                            <div class="col-xs-4">
                                <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                          
                            <div class="col-xs-4 text-right">
                                <button class="btn btn-default btn-primary blue" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                                <button class="btn" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl"
                    : "" )></div>
            </div>
        </div>
    </div>
</div>

