﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    function myFunction() {
        document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.transaction.invoice.invoicePrintDetail as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            <a ng-if="vm.smartprintourexists" ng-click="vm.printIn40Col()"> <span class="">40 Col <i class="fa fa-print"></i>  </span> </a>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
    </div>
    <div id="editor"></div>
    <center><h3><b><u>{{vm.location.name}}</u></b></h3></center>
    <center><h5><u>{{vm.location.address1}}</u></h5></center>
    <center><h5><u>{{vm.location.address2}}, {{vm.location.address3}} , {{vm.location.city}}</u></h5></center>
    <center><h4> <b><u> @L("Invoice")</u></b></h4></center>
    <div class="row">
        <div class="col-xs-2">
            <h4>  <b>  @L("Id"): {{vm.invoice.id}} </b></h4>
        </div>
        <div class="col-xs-3">
            <h4>  <b>  @L("InvoiceNumber"): {{vm.invoice.invoiceNumber}} </b></h4>
        </div>
        <div class="col-xs-2">
            <h4 class="text-center">  <b> {{vm.invoice.invoiceMode}} </b></h4>
        </div>
        <div class="col-xs-3 text-right">
            <h4> <b>  @L("AccountDate"): {{vm.invoice.accountDate | date : 'dd-MMM-yyyy'}} </b> </h4>
        </div>
        <div class="col-xs-2 text-right">
            <h4> <b>  @L("Date"): {{vm.invoice.invoiceDate | date : 'dd-MMM-yyyy'}} </b> </h4>
        </div>
    </div>
    <div class="lineHr">.</div>
    <h6><b>   @L("Supplier") </b></h6><br />
    {{vm.headerline}}
    <div>
        <h6>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.supplier.supplierName.length>0">
                    <b> {{vm.supplier.supplierName}} </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.supplier.taxRegistrationNumber.length>0">
                    <b>@L("Tax#") {{vm.supplier.taxRegistrationNumber}} </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.supplier.address1.length>0">
                    {{vm.supplier.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.supplier.address2.length>0">
                    {{vm.supplier.address2}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.supplier.address3.length>0">
                    {{vm.supplier.address3}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.supplier.city.length>0">
                    {{vm.supplier.city}}
                </div>
            </div>
            <div class="row" ng-if="vm.suppliergstinformation.gstin.length>0">
                <div class="col-xs-12" ng-if="vm.suppliergstinformation.gstin.length>0">
                    GSTIN  :   {{vm.suppliergstinformation.gstin}}
                </div>
            </div>
        </h6>
    </div>

    <div id="content" ng-if="vm.invoicePortions.length>=5">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("#")</th>
                            <th ng-if="false">@L("DC")</th>
                            <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                            <th>@L("MaterialName")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th class="text-right">@L("Cost")</th>
                            <th ng-if="false">@L("DiscAmount")</th>
                            <th class="text-right">@L("TotalAmount")</th>
                            <th class="text-right">@L("Tax") @L("Rate")</th>
                            <th class="text-right">@L("TaxAmount")</th>
                            <th class="text-right">@L("LineTotal")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.invoicePortions">
                        <td class="col-xs-1">
                            {{data.sno}}
                        </td>
                        <td class="col-xs-1" ng-if="false">
                            {{data.dcTranid}}
                        </td>
                        <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode">
                            <b ng-if="data.materialPetName!=data.materialRefName"> {{data.materialPetName}} </b>

                        </td>
                        <td class="col-xs-2">
                            <b> {{data.materialRefName}} </b>
                            <span ng-if="data.supplierMaterialAliasName.length>0"> @L("Alias") {{data.supplierMaterialAliasName}}</span>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.totalQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>{{data.unitRefName}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b> {{data.price |number:vm.housedecimals}} </b>
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.totalAmount |number:vm.housedecimals}}
                        </td>
                        <td class="col-xs-1 text-right ">
                            <b><span ng-if="data.taxForMaterial.length>0"> <span data-ng-repeat="(taxindex,taxdata) in data.taxForMaterial"> {{taxdata.taxRate |number:2}} </span> </span></b>
                        </td>
                        <td class="col-xs-1 text-right ">
                            <b>{{data.taxAmount |number:2}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <strong> <b> {{data.netAmount |number:vm.housedecimals}} </b> </strong>
                        </td>

                    </tr>
                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                        <td class="col-xs-1 text-right"> @L("SubTotal")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right">
                            <b>  {{vm.subtotalamount |number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.subtaxamount  |number:2}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.subnetamount |number:vm.housedecimals}}</b>
                        </td>

                    </tr>
                    <tr ng-if="vm.invoice.totalDiscountAmount>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>

                        <td class="col-xs-1 text-right"> @L("Discount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.invoice.totalDiscountAmount |number:vm.housedecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="vm.invoice.totalShipmentCharges>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>

                        <td class="col-xs-1 text-right"> @L("Extra")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.invoice.totalShipmentCharges |number:vm.housedecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="vm.invoice.roundedAmount!=0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                        <td class="col-xs-1 text-right"> @L("RoundedOff")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.invoice.roundedAmount |number:vm.housedecimals}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                        <td class="col-xs-1 text-right"> @L("NetAmount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.invoice.invoiceAmount |number:vm.housedecimals}}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="smallcontent" ng-if="vm.invoicePortions.length<5">
        <table class="table table-striped table-bordered col-xs-12">
            <thead>
                <tr>
                    <th>@L("#")</th>
                    <th ng-if="false">@L("DC")</th>
                    <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                    <th>@L("MaterialName")</th>
                    <th class="text-right">@L("Qty")</th>
                    <th class="text-right">@L("UOM")</th>
                    <th class="text-right">@L("Cost")</th>
                    <th ng-if="false">@L("DiscAmount")</th>
                    <th class="text-right">@L("TotalAmount")</th>
                    <th class="text-right">@L("Tax") @L("Rate")</th>
                    <th class="text-right">@L("TaxAmount")</th>
                    <th class="text-right">@L("LineTotal")</th>
                </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.invoicePortions">
                <td class="col-xs-1">
                    {{data.sno}}
                </td>
                <td class="col-xs-1" ng-if="false">
                    {{data.dcTranid}}
                </td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode">
                    <b ng-if="data.materialPetName!=data.materialRefName"> {{data.materialPetName}} </b>
                </td>
                <td class="col-xs-3">
                    <b> {{data.materialRefName}} </b>
                    <span ng-if="data.supplierMaterialAliasName.length>0"> @L("Alias") {{data.supplierMaterialAliasName}}</span>
                </td>
                <td class="col-xs-1 text-right">
                    <b>  {{data.totalQty | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-1 text-right">
                    {{data.unitRefName}}
                </td>
                <td class="col-xs-1 text-right">
                    <b> {{data.price |number:vm.housedecimals}} </b>
                </td>
                <td class="col-xs-2 text-right">
                    {{data.totalAmount |number:vm.housedecimals}}
                </td>
                <td class="col-xs-1 text-right ">
                    <b><span ng-if="data.taxForMaterial.length>0"> <span data-ng-repeat="(taxindex,taxdata) in data.taxForMaterial"> {{taxdata.taxRate |number:2}} </span> </span></b>
                </td>
                <td class="col-xs-1 text-right">
                    {{data.taxAmount |number:2}}
                </td>
                <td class="col-xs-1 text-right">
                    {{data.netAmount |number:vm.housedecimals}}
                </td>

            </tr>
            <tr>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                <td class="col-xs-1 text-right"> @L("SubTotal")</td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"><b> </b></td>
                <td class="col-xs-2 text-right">
                    <b>  {{vm.subtotalamount |number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.subtaxamount  |number:2}}</b>
                </td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.subnetamount |number:vm.housedecimals}}</b>
                </td>

            </tr>
            <tr ng-if="vm.invoice.totalDiscountAmount>0">
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                <td class="col-xs-1 text-right"> @L("Discount")</td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"><b> </b></td>
                <td class="col-xs-2 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.invoice.totalDiscountAmount |number:vm.housedecimals}}</b>
                </td>
            </tr>
            <tr ng-if="vm.invoice.totalShipmentCharges>0">
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                <td class="col-xs-1 text-right"> @L("Extra")</td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"><b> </b></td>
                <td class="col-xs-2 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.invoice.totalShipmentCharges |number:vm.housedecimals}}</b>
                </td>
            </tr>
            <tr ng-if="vm.invoice.roundedAmount!=0">
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                <td class="col-xs-1 text-right"> @L("RoundedOff")</td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"><b> </b></td>
                <td class="col-xs-2 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.invoice.roundedAmount |number:vm.housedecimals}}</b>
                </td>
            </tr>
            <tr>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>
                <td class="col-xs-1 text-right"> @L("NetAmount")</td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"><b> </b></td>
                <td class="col-xs-2 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.invoice.invoiceAmount |number:vm.housedecimals}}</b>
                </td>
            </tr>

        </table>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>@L("AccountDate") : {{vm.invoice.accountDate | date :'dd-MMM-yyyy'}} </h4>
                    <h4>
                        @L("CreatedBy") :<b>  {{vm.invoice.createdBy }} </b> at @L("Time") : {{vm.invoice.creationTime | date : 'medium'}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

