    @using DinePlan.DineConnect.Localization
    @using Humanizer

    <link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

    <div ng-controller="tenant.views.house.transaction.invoice.invoiceSummary as vm">
        <div ng-if="!vm.isPurchaseAllowed">
            <h2>@L("PurchaseAllowedErr")</h2>
        </div>

        <div class="row margin-bottom-5" ng-if="vm.isPurchaseAllowed">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span class="caption-subject bold uppercase">@L("Invoice").Pluralize() @L("Summary")</span> <small>@L("Report")</small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">

                <button class="btn btn-default" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                </button>

            </div>
        </div>
        <div class="portlet light" ng-if="vm.isPurchaseAllowed">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="row">

                                <div class="col-xs-3">
                                    <div class="md-checkbox">
                                        <input id="alllocation" class="md-check" type="checkbox" name="alllocation"
                                               ng-class="{'edited':vm.alllocationflag}" ng-model="vm.alllocationflag">
                                        <label for="alllocation">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AllLocations")
                                        </label>

                                        <ui-select multiple ng-model="vm.selectedLocations" class="form-control" ng-show="!vm.alllocationflag">
                                            <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("SupplierName")</label>
                                        <ui-select class="borderself" id="selSupplierId" ng-model="vm.supplierRefId">
                                            <ui-select-match id="selSupplierId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label"> </label>
                                        <button class="btn blue margin-top-20" ng-click="vm.getAll()">
                                           @L("Refresh")
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="height: 80vh;">
                <div busy-if="vm.loading" style="height: 100%;">
                    <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
                </div>
            </div>
        </div>
    </div>

