﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script>
    $('barcode').on('keydown', function (e) {
        var keyCode = e.keyCode || e.which;
        if (e.keyCode === 13) {
            e.preventDefault();
            $('input')[$('input').index(this) + 1].focus();
        }
    });
</script>

<style>

    .Excess {
        border: none;
        color: green;
        font-weight: bold;
    }

    .Shortage {
        border: none;
        background-color: white;
        color: red;
        font-weight: bold;
    }


    .PinkPending {
        border: none;
        color: deeppink;
        font-weight: bold;
    }
</style>

<div ng-controller="tenant.views.house.transaction.invoice.invoiceDetailfromPo as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.invoice.id">@L("ViewInvoice"): {{vm.invoice.id}}</span>
                        <span ng-if="!vm.invoice.id">@L("CreateInvoice")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2" ng-if="vm.invoiceType.length>0">
            <div class="md-checkbox">
                <input id="DirectInvoice" class="md-check" type="checkbox" name="DirectInvoice" ng-class="{'edited':vm.invoice.isDirectInvoice}" ng-model="vm.invoice.isDirectInvoice" ng-disabled="true">
                <label style="color:black" for="DirectInvoice">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("DirectInvoice")
                </label>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="md-checkbox">
                <input id="TaxAutoFill" class="md-check" type="checkbox" name="TaxAutoFill" ng-class="{'edited':vm.taxAutoFill}" ng-model="vm.taxAutoFill">
                <label style="color:black" for="TaxAutoFill">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("TaxAutoFill")
                </label>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="md-checkbox">
                <input id="FOC" class="md-check" type="checkbox" name="FOC" ng-class="{'edited':vm.invoice.isFoc}" ng-model="vm.invoice.isFoc">
                <label style="color:black" for="FOC">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("Include") @L("FOC") @L("Materials")
                </label>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.refTemplateDetail.length > 0 && vm.invoice.isDirectInvoice">
        <div class="col-xs-6">
            <div class="form-group">
                <ui-select class="borderself" ng-disabled="vm.purchaseorder.id" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()">
                    <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button class="btn blue " ng-disabled="vm.template == null || vm.purchaseorder.id" ng-click="vm.fillDataFromTemplate()"><i class="fa fa-refresh"></i> </button>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading || vm.loadingCount">
                <form name="invoiceForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-3" ng-disabled="vm.invoicePortions.length>1">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" id="selSupplierId" ng-model="vm.invoice.supplierRefId" ng-change="vm.getSupplierValue($select.selected); filterDcDate(vm.dateRangeModel);vm.fillDropDownMaterial(); vm.getPoDetails();" ng-blur="vm.invoice.invoiceNumber=''" required ng-disabled="vm.invoice.id!=null">
                                        <ui-select-match id="selSupplierId" placeholder="Select Supplier...">{{$select.selected.supplierName}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refsupplier | filter: $select.search">
                                            <div ng-bind="item.supplierName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("PurchaseCategory")</label>
                                    <ui-select class="borderself" id="selpurchasecategory" ng-model="vm.invoice.purchaseCategoryRefId" ng-disabled="vm.invoice.id!=null">
                                        <ui-select-match placeholder="Select Catgory...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refpurchasecategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <label class="control-label">@L("PayMode")</label>
                                    <ui-select class="borderself" id="paymode" ng-model="vm.invoice.invoicePayMode" required ng-disabled="vm.invoice.id!=null">
                                        <ui-select-match id="paymode">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.invoicePayModeList | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("InvoiceDate")</label>
                                    <input name="invoiceDate" id="invoicedate" class="form-control date-picker" ng-model="vm.invoice.invoiceDate" ng-disabled="vm.invoice.id!=null" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("AccountDate")</label>
                                    <input name="accountDate" id="accountDate" class="form-control date-picker" ng-model="vm.invoice.accountDate" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>@L("InvoiceNumber")</label>
                                    <input class="form-control text-right" type="text" id="invoiceno" name="invoiceno" ng-class="{'edited':vm.invoice.invoiceNumber}" ng-blur="filterDcDate(vm.dateRangeModel);vm.invoiceAlreadyExists();" ng-model="vm.invoice.invoiceNumber" required ng-disabled="vm.invoice.id!=null">

                                </div>
                            </div>
                        </div>

                        @*<div class="row" ng-if="vm.invoice.invoiceNumber.length > 0 || (vm.poRefId !=null && vm.poRefId > 0 )">*@

                    <div class="row" ng-if="(vm.invoice.invoiceNumber.length > 0 && !vm.invoice.isDirectInvoice) || vm.invoice.isDirectInvoice==false || vm.poRefId>0">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label>@L("DateRange")</label>
                                <input type="checkbox" ng-model="vm.allTimeDcs" />
                                <input date-range-picker type="text" ng-change="filterDcDate(vm.dateRangeModel)" options="vm.dateRangeOptions"
                                       min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" ng-disabled="vm.invoice.id!=null" />
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">@L("ReceiptReference")</label>
                                <ui-select class="borderself" id="dcTidEditBox" ng-model="vm.tempinvoicedetail.dcTranid"
                                           ng-change="vm.inwardDcTranIdRef(vm.tempinvoicedetail.dcTranid)" ng-disabled="vm.invoice.id!=null">
                                    <ui-select-match id="dcTidEditBox" placeholder="Select Reference...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refdctranid | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <button class="btn blue margin-top-20" ng-click="vm.getDetailMaterial()"><i class="fa fa-refresh"></i> </button>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">@L("PoReference")</label>
                                <ui-select class="borderself" id="poTidEditBox" ng-model="vm.tempinvoicedetail.poRefId"
                                           ng-change="vm.inwardPoTranIdRef(vm.tempinvoicedetail.poRefId)" ng-disabled="vm.invoice.id!=null">
                                    <ui-select-match id="poTidEditBox" placeholder="Select PO Reference...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refPoTranIds | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <button class="btn blue margin-top-20" ng-click="vm.getDetailMaterialBasedOnPo()"><i class="fa fa-refresh"></i> </button>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label">@L("Receipt") @L("Date")</label>
                                <input name="dcDate" id="dcDate" class="form-control date-picker" ng-model="vm.invoice.dcDate" />
                            </div>
                        </div>
                    </div>

                            <hr />
                            <div id="directInvoice" class="row" ng-disabled="vm.invoice.id!=null" ng-show="vm.invoice.invoiceNumber.length > 0 || vm.poRefId!=null">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Action")</th>
                                                <th ng-if="false">@L("#")</th>
                                                <th ng-if="vm.permissions.barcodeUsage">@L("Barcode")</th>
                                                <th>@L("MaterialName")</th>
                                                <th class="text-right">@L("Bill") @L("Qty")</th>
                                                <th class="text-right">@L("UOM")</th>
                                                <th class="text-right">@L("Cost")</th>
                                                <th class="text-right" ng-if="false">@L("DiscAmount")</th>
                                                <th class="text-right">@L("SubTotal")</th>
                                                <th class="text-right">@L("Tax")</th>
                                                <th class="text-right">@L("TaxAmt")</th>
                                                <th class="text-right">@L("NetAmt")</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.invoicePortions">
                                            <td class="col-xs-1">
                                                <input ng-disabled="vm.invoice.id!=null" type="button" class="btn btn-primary" value="@L(" -")" data-ng-click="vm.removeRow(index)" /> {{data.sno}}
                                            </td>
                                            <td ng-if="false" class="col-xs-1">
                                                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.sno" />
                                            </td>
                                            <td class="col-xs-1" ng-if="vm.permissions.barcodeUsage">
                                                <input class="form-control" type="text" id="barcode"
                                                       ng-class="{'edited':data.barcode}" ng-model="data.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(data,index)" ng-disabled="data.materialRefId" ng-attr-id="{{'barcode-' + index}}" required>
                                            </td>
                                            <td class="col-xs-3">
                                                <ui-select id="selMaterial" class="borderself" ng-required="true" ng-value="data.materialRefName" ng-change="func(data,$select.selected,index)" ng-model="data.materialRefId" ng-disabled="vm.invoice.id!=null || !vm.invoice.isDirectInvoice">
                                                    <ui-select-match placeholder="Select Material...">
                                                        {{$select.selected.materialRefName}}
                                                        <span style="color:blue;" ng-if="$select.selected.supplierMaterialAliasName.length>0">- @L("Alias") : {{$select.selected.supplierMaterialAliasName}} </span>


                                                    </ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                        <div ng-bind="item.materialRefName"></div>
                                                        <small style="color:blue" ng-if="item.supplierMaterialAliasName.length>0">
                                                            @L("SupplierMaterialAliasName"):<span ng-bind-html="item.supplierMaterialAliasName"></span>
                                                        </small>

                                                    </ui-select-choices>
                                                </ui-select>
                                                <br ng-if="vm.invoice.isDirectInvoice && data.yieldPercentage!=null" />
                                                <label ng-if="vm.invoice.isDirectInvoice && data.yieldPercentage!=null" class="borderself bold text-left"> @L("PurchaseYield") % : {{data.yieldPercentage}} &nbsp;</label>

                                            </td>
                                            <td class="col-xs-1">
                                                <input id="totalQty" type="text" ng-change="data.yieldExcessShortageQty=null;data.yieldMode='';vm.amtCalc(data,data.totalQty,data.price);" class="form-control text-right"
                                                       ng-blur="vm.yieldCalculation(data);" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="20" ng-model="data.totalQty" required ng-attr-id="{{'qty-' + index}}" ng-keypress="vm.qtyKeyPress(index,$event)" @*ng-disabled="vm.invoice.id!=null || !data.materialRefId" *@ />
                                                <br ng-if="vm.invoice.isDirectInvoice && data.yieldExcessShortageQty>0 && data.yieldPercentage!=null" />
                                                <label ng-if="vm.invoice.isDirectInvoice && data.yieldExcessShortageQty>0 && data.yieldPercentage!=null" ng-class="data.yieldMode" class="text-right">{{data.yieldMode}}</label>
                                                <input ng-if="vm.invoice.isDirectInvoice && data.yieldExcessShortageQty>0 && data.yieldPercentage!=null" id="yieldExcessShortageQty" type="text"
                                                       class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="20"
                                                       ng-model="data.yieldExcessShortageQty" ng-attr-id="{{'yieldExcessShortageQty-' + index}}"
                                                       ng-keypress="vm.qtyKeyPress(index,$event)" />

                                            </td>
                                            <td class="col-xs-1 text-right">
                                                @*<input id="uom" type="text" class="form-control text-right" ng-model="data.uom" ng-disabled="true" />*@
                                                <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-disabled="!vm.mutlipleUomAllowed" ng-if="data.changeunitflag">
                                                    <ui-select-match placeholder="@L(" Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>


                                            <td class="col-xs-1">
                                                <input id="price" type="text" ng-change="vm.amtCalc(data,data.totalQty,data.price)" ng-keypress="vm.priceKeyPress(index,$event)" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="20" ng-model="data.price" ng-attr-id="{{'price-' + index}}" required ng-disabled="!data.rateeditflag" />
                                            </td>
                                            <td class="col-xs-2" ng-if="false">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input ng-model="data.discountOption" ng-click="discOptionCheck(data)" type="checkbox">%
                                                    </span>
                                                    <input type="text" ng-change="calcDiscountPerc(data)" ng-model="data.discountValue" class="form-control" required>
                                                </div><!-- /input-group -->
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="netAmt" type="number" class="form-control text-right" maxlength="20" ng-model="data.totalAmount" ng-disabled="true" required />
                                            </td>
                                            <td class="col-xs-1">
                                                <ui-select id="selTax" multiple class="borderself"
                                                           ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.totalQty, data.price)" ng-click="taxCalc(data, data.totalQty, data.price)" ng-model="data.applicableTaxes">
                                                    <ui-select-match placeholder="@L(" SelectTax")">{{$item.taxName}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                                                        <div ng-bind="item.taxName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                <span ng-if="data.totalAmount!=0"> <b> {{data.taxAmount | number : 2}}  </b></span>
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                <span ng-if="data.totalAmount!=0"> <b>{{data.netAmount | number : 2}} </b></span>
                                            </td>

                                            <td class="col-xs-1">
                                                <button ng-disabled="vm.invoice.id!=null || !vm.invoice.isDirectInvoice" type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-attr-id="{{'btnadd-' + index}}">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row" ng-if="vm.supplierTaxRemarks.length>0">
                                <div class="col-xs-12">
                                    <label class="bold" style="color:blue"> {{vm.supplierTaxRemarks}} </label>
                                </div>
                            </div>
                            <div class="row" ng-show="vm.invoice.invoiceNumber.length > 0">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <label class="control-label">@L("DiscountAmount")</label>
                                        <input id="discountamount" type="text" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                                               class="form-control  text-right" ng-model="vm.invoice.totalDiscountAmount" />
                                    </div>



                                    <div class="col-xs-2">
                                        <label class="control-label">@L("OtherCharges")</label>
                                        <input id="shipmentamount" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                                               class="form-control  text-right" ng-model="vm.invoice.totalShipmentCharges" />
                                    </div>

                                    <div class="col-xs-2">
                                        <label class="control-label">@L("RoundedAmount")</label>
                                        <input id="roundedamount" onkeypress="return NumberWithPointAndNegativePassingText(this.value, event, null, true)"
                                               class="form-control  text-right" ng-model="vm.invoice.roundedAmount" />
                                    </div>

                                </div>
                            </div>

                            <div class="row" ng-show="vm.invoice.invoiceNumber.length > 0">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <label class="control-label">@L("ActualInvoiceTotal")</label>
                                        <input name="invoiceAmtuser" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-keypress="vm.checkFinished=false;" class="form-control  text-right" ng-model="vm.invoice.invoiceamoutenteredbyuser" required />
                                    </div>
                                    <div class="col-xs-2">
                                        <button name="Checkamount" ng-disabled="vm.saving" type="button" class="btn blue margin-top-30"
                                                ng-click="vm.checkAmountWithAuto()">
                                            @L("Check")
                                        </button>
                                    </div>
                                    <div class="col-xs-2" ng-if="vm.checkFinished && vm.invoice.invoiceamoutenteredbyuser">
                                        <label class="control-label">@L("SubTotal")</label>
                                        <input name="taxAmt" class="form-control  text-right" ng-model="vm.invoiceTotalAmount" required ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-2" ng-if="vm.checkFinished && vm.invoice.invoiceamoutenteredbyuser">
                                        <label class="control-label">@L("TaxTotal")</label>
                                        <input name="taxAmt" class="form-control  text-right" ng-model="vm.totalTaxAmount" required ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-2" ng-if="vm.checkFinished && vm.invoice.invoiceamoutenteredbyuser">
                                        <label class="control-label">@L("GrandTotal")</label>
                                        <input name="invoiceAmt" class="form-control  text-right" ng-model="vm.invoice.invoiceAmount" required ng-disabled="true" />
                                    </div>

                                </div>
                            </div>

                        @*</div>*@

                        <div class="m-heading-1 border-left-red-thunderbird m-bordered margin-top-40" ng-if="vm.focAlertMessageFlag">
                            <br />
                            <h3 style="color:red"> <b>  @L("FocAlertMessage") </b></h3>
                        </div>

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(0)" ng-if="vm.invoice.id!=null">@L("Close")</button>
                                <button name="refresh" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.refreshMaterial()" ng-if="vm.invoice.id==null">@L("Refresh") @L("Material")</button>
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)" ng-if="vm.invoice.id==null">@L("Cancel")</button>
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-if="vm.invoice.id==null" ng-click="vm.save()" ng-disabled="invoiceForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

