﻿@using Humanizer
@using DinePlan.DineConnect.Localization
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div>
    <form name="languageDescriptionCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.languageDescription.id">@L("Edit") @L("Language") @L("Description"): {{vm.languageDescription.name}}</span>
                <span ng-if="!vm.languageDescription.id">@L("Create") @L("Language") @L("Description")</span>
            </h4>
            <h4 class="modal-title" style="color:black;font-size:large">
                <span>
                    {{vm.id}} - {{vm.name}}
                </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                   <div class="form-group">
                            <label class="control-label">@L("Language") @L("Name")</label>
                            <ui-select class="borderself" ng-model="vm.languageDescription.languageCode" ng-required="true" ng-disabled="vm.languageDescription.id">
                                <ui-select-match placeholder="@L("Select") @L("Language") @L("Name")">{{$select.selected.displayName}}</ui-select-match>
                                <ui-select-choices repeat="item.name as item in vm.reflanguageCode | filter: $select.search">
                                    <div ng-bind="item.displayName"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Name")*</label>
                        <input type="text" ng-model="vm.languageDescription.name" name="languageDescriptionName" class="form-control text-uppercase" ng-maxlength="100" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Description")</label>
                        <textarea style="height:100px" type="text" ng-model="vm.languageDescription.description" name="description" class="form-control" ng-maxlength="100"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.clear()">@L("Clear")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="languageDescriptionCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="languageDescriptionCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
            </button>

        </div>
    </form>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>

</div>

