﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<div>
    <form name="storagelocationCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.storagelocation.id">@L("EditStorageLocation"): {{vm.storagelocation.storageName}}</span>
                <span ng-if="!vm.storagelocation.id">@L("CreateStorageLocation")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("LocationName")</label>
                        <select id="locationname" RecipeName class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.reflocation" ng-model="vm.storagelocation.locationRefId" required></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="storagename" ng-class="{'edited':vm.storagelocation.storageName}" ng-model="vm.storagelocation.storageName" required>
                        <label>@L("StorageName")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="StorageReference" ng-class="{'edited':vm.storagelocation.storageReference}" ng-model="vm.storagelocation.storageReference" required >
                        <label>@L("StorageReference")</label>
                    </div>
                </div>
            </div>

			 
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="BinId" ng-class="{'edited':vm.storagelocation.binId}" ng-model="vm.storagelocation.binId" >
                        <label>@L("BinId")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="SortId" ng-class="{'edited':vm.storagelocation.sortId}" ng-model="vm.storagelocation.sortId" >
                        <label>@L("SortId")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="md-checkbox">
                    <input id="IsFreezerAvailable" class="md-check" type="checkbox" name="IsFreezerAvailable" ng-class="{'edited':vm.storagelocation.isFreezerAvailable}" ng-model="vm.storagelocation.isFreezerAvailable">
                    <label for="IsFreezerAvailable">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("IsFreezerAvailable")
                    </label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="storagelocationCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

