﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div class="modal-dialog">
    <form name="connectcardCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.connectcard.id">@L("EditConnectCard"): {{vm.connectcard.cardNo}}</span>
                <span ng-if="!vm.connectcard.id">@L("CreateConnectCard")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">@L("CardType")</label>
                        <ui-select class="borderself" id="selCardType" name="selCardType" autofocus ng-class="{'edited':vm.connectcard.connectCardTypeId}" ng-model="vm.connectcard.connectCardTypeId" ng-change="vm.changeCardType($select.selected)" required>
                            <ui-select-match placeholder="Select Material Type...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refCardtypes | filter: $select.search">
                                @*<div ng-bind="item.name"></div>*@
                                <small>
                                    <b>@L("Name"): {{item.name}} </b>
                                    <br />
                                    @L("Length"): {{ item.length }}
                                    <br />
                                    @L("UseOneTime"): {{ item.useOneTime }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>@L("CardNumber") *</label>
                        <input class="form-control" type="text" name="id" ng-class="{'edited':vm.connectcard.cardNo}" ng-model="vm.connectcard.cardNo" required>
                    </div>
                    <div class="form-group">
                        <div class="md-checkbox">
                            <input id="active" class="md-check" type="checkbox" ng-model="vm.connectcard.active">
                            <label for="active">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Active")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="connectcardCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>