﻿@using DinePlan.DineConnect.Localization
<style>
    .modal-dialog {
        width: 80%;
    }
</style>
<div class="modal-dialog">
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Import") - @L("Card")</span> <i class="fa fa-credit-card" aria-hidden="true">  </i>
            </h3>
        </div>
        <div>
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("DownloadTemplate_Info") </p>
                <a href="{{ vm.importpath }}">@L("DownloadTemplate")</a>
            </div>
            <div class="modal-body" busy-if="vm.loading">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="file" size="55" nv-file-select uploader="vm.uploader" />
                        @*<span class="help-block m-b-none">@L("SelectFeededExcelCardTakenFile")</span>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group no-hint">
                            <label>@L("Job") @L("Name")</label>
                            <input class="form-control" type="text" name="jobName" ng-model="vm.jobName" required pattern="[^\s]*">
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-20">
                        <div class="form-group">
                            <div class="md-checkbox">
                                <input id="active" class="md-check" type="checkbox" ng-model="vm.activeFlag">
                                <label for="active">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Active")
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>
                <button class="btn btn-primary purple" ng-click="vm.openHangFire()">
                    <i class="fa fa-hourglass"></i> @L("Background") @L("Status")
                </button>
            </div>
        </div>
        <div ng-if="vm.connectCards.totalItems>
            0" busy-if="vm.excelloading">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">

                    </div>

                    <div class="col-sm-6 text-right">
                        <button class="btn red" ng-click="vm.exportImportCardDataDetail()">
                            <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                        </button>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-12">
                        <div ui-grid="vm.connectCards" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>