﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<style>
    .modal-dialog {
        width: 70%;
    }
</style>

<div class="modal-dialog">
    <form name="leavetypeCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.leavetype.id">@L("EditLeaveType"): {{vm.leavetype.id}}</span>
                <span ng-if="!vm.leavetype.id">@L("CreateLeaveType")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="leavetypename" ng-class="{'edited':vm.leavetype.leaveTypeName}" ng-model="vm.leavetype.leaveTypeName" required>
                        <label>@L("LeaveTypeName")</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="leavetypeshortname" ng-class="{'edited':vm.leavetype.leaveTypeShortName}" ng-model="vm.leavetype.leaveTypeShortName" required>
                        <label>@L("LeaveTypeShortName")</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="numberOfLeaveAllowed" ng-class="{'edited':vm.leavetype.numberOfLeaveAllowed}" ng-model="vm.leavetype.numberOfLeaveAllowed" required>
                        <label>@L("MaximumNumberOfLeaveAllowed")</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="numberOfLeaveAllowed" ng-class="{'edited':vm.leavetype.defaultNumberOfLeaveAllowed}" ng-model="vm.leavetype.defaultNumberOfLeaveAllowed" required>
                        <label>@L("DefaultNumberOfLeaveAllowed")</label>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-xs-6">
                        <label>@L("CalculationPeriodStarts")</label>
                      <input type="text" id="stDate" ng-model="vm.leavetype.calculationPeriodStarts" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" />
                    </div>
                    <div class="col-xs-6">
                        <label>@L("CalculationPeriodEnds")</label>
                      <input type="text" id="endDate" ng-model="vm.leavetype.calculationPeriodEnds" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()" />
                    </div>

                </div>*@
            <div class="row margin-top-20">
                <div class="col-xs-4">
                    <div class="md-checkbox tp-bottom margin-top-30 ">
                        <input id="AllowedForMale" class="md-check" type="checkbox" name="AllowedForMale" ng-class="{'edited':vm.leavetype.maleGenderAllowed}" ng-model="vm.leavetype.maleGenderAllowed">
                        <label for="AllowedForMale">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AllowedForMale") ?
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="md-checkbox tp-bottom margin-top-30 ">
                        <input id="AllowedForFemale" class="md-check" type="checkbox" name="AllowedForFemale" ng-class="{'edited':vm.leavetype.femaleGenderAllowed}" ng-model="vm.leavetype.femaleGenderAllowed">
                        <label for="AllowedForFemale">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AllowedForFemale") ?
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="md-checkbox tp-bottom margin-top-30 ">
                        <input id="AllowedForMarriedEmployeesOnly" class="md-check" type="checkbox" name="AllowedForMarriedEmployeesOnly" ng-class="{'edited':vm.leavetype.allowedForMarriedEmployeesOnly}" ng-model="vm.leavetype.allowedForMarriedEmployeesOnly">
                        <label for="AllowedForMarriedEmployeesOnly">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AllowedForMarriedEmployeesOnly") ?
                        </label>
                    </div>
                </div>
            </div>

            <div class="row margin-top-20">
                <div class="col-xs-6">
                    <div class="md-checkbox tp-bottom margin-top-30 ">
                        <input id="SupportingDocumentsRequired" class="md-check" type="checkbox" name="SupportingDocumentsRequired" ng-class="{'edited':vm.leavetype.isSupportingDocumentsRequired}" ng-model="vm.leavetype.isSupportingDocumentsRequired">
                        <label for="SupportingDocumentsRequired">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("SupportingDocumentsRequired") ?
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="md-checkbox tp-bottom margin-top-30 ">
                        <input id="EligibleOnlyAnnualLeaveExhausted" class="md-check" type="checkbox" name="EligibleOnlyAnnualLeaveExhausted" ng-class="{'edited':vm.leavetype.eligibleOnlyAnnualLeaveExhausted}" ng-model="vm.leavetype.eligibleOnlyAnnualLeaveExhausted">
                        <label for="EligibleOnlyAnnualLeaveExhausted">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("EligibleOnlyAnnualLeaveExhausted") ?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.leavetype.eligibleOnlyAnnualLeaveExhausted">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input  no-hint">
                        <label class="control-label"> @L("Specified") @L("Leave") @L("List") </label>
                        <ui-select multiple id="leaveExhaustedList" ng-model="vm.leaveExhaustedList" class="form-control">
                            <ui-select-match>{{$item.leaveTypeName}}</ui-select-match>
                            <ui-select-choices repeat="item as item in vm.refleavetypes | filter: $select.search">
                                <div ng-bind="item.leaveTypeName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="leavetypeCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

