﻿@using DineConect.Gateway.Web.ViewModels
@model DineConnect.Gateway.Core.Models.Brand

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";

    var AddOns = ViewBag.AddOnData as List<AddOn>;
}

@section Scripts{
    <script src="~/Scripts/addon.js"></script>
}

<h2>Create Brand</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="AddOn" name="AddOn" value="" />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group row">
            <table class="table table-bordered table-condensed table-striped table-hover sortable" id="AddOnTable">
                <tr>
                    <th>Key</th>

                    <th>Value</th>

                    <th>Operations</th>
                </tr>

                @foreach (var item in AddOns)
                {
                    <tr class="addon-data">

                        <td class="addon-data-key">@item.Key</td>

                        <td class="addon-data-value">@item.Value</td>

                        <td>
                            <input type="button" value="Delete" class="btn btn-danger DeleteAddOnBtn" />
                        </td>

                    </tr>
                }

                <tr id="addon-new-data">
                    <td>
                        <select id="NewAddOnKey" name="NewAddOnKey" class="form-control">
                            @foreach (string addOnKey in ViewBag.AddOnKeys)
                            {
                                <option value="@addOnKey">@addOnKey</option>
                            }
                        </select>
                    </td>

                    <td>
                        <input class="form-control text-box single-line" id="NewAddOnValue" name="NewAddOnValue" type="text" value="" placeholder="Value" />
                    </td>

                    <td>
                        <input type="button" value="Add" class="btn btn-primary" id="NewAddOnAddBtn" />
                    </td>
                </tr>
            </table>

        </div>

        <div class="form-group row">
            <div class="col-12 text-right">
                <a href="@Url.Action("Index")" class="btn btn-dark">Cancel</a>
                <input type="button" value="Save" class="btn btn-primary submitFormHaveAddOnTableBtn" />
            </div>
        </div>

    </div>
}
