@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.connect.report.date.item as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        @*<span class="caption-subject bold uppercase">@L("Item").Pluralize()</span>*@
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold_red_text uppercase">@L("Dates")</label>
                                    <multiple-date-picker disable-days-after="vm.today" ng-model="vm.selectedDates"/>
                                    </div>
                                </div>
                            <div class="col-md-6 pre-scrollable">
                                <label class="control-label bold_red_text uppercase">@L("SelectedDates")</label>
                                <div ng-repeat="d in vm.selectedDates | orderBy" class="margin-top-10">
                                    <button class="btn btn-xs btn-warning" style="margin: 5px" ng-click="vm.removeFromSelected(d)">@L("Remove")</button>
                                    {{convertMyDate(d) | date}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Location")</label>
                                        <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                            <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                            </div>


                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">

                        </div>
                        <div class=" col-sm-6 text-right">
                            <button class="btn blue" ng-click="vm.getItems()">
                                <i class=" fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" >
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox">
                                        <input id="Void" class="md-check" type="checkbox" ng-model="vm.itemQuantity">
                                        <label for="Void">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Quantity")
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group" >
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox">
                                        <input id="Gift" class="md-check" type="checkbox" ng-model="vm.itemPrice">
                                        <label for="Gift">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Price")
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group" >
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox">
                                        <input id="Comp" class="md-check" type="checkbox" ng-model="vm.itemTotal">
                                        <label for="Comp">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Total")
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <table class="table table-bordered table-striped table-header-fixed">
                    <thead>
                    <tr>
                        <th>@L("Name")</th>
                        <th>@L("Portion")</th>
                        <th ng-repeat="dd in vm.result.allDates">{{ dd }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in vm.result.items">
                        <!-- I got terribly stuck here -->
                        <td>{{ row.menuItemName }}</td>
                        <td>{{ row.portionName }}</td>
                        <td ng-repeat='item in row.items' class="text-right">
                            <span ng-if="vm.itemQuantity">{{ item.quantity }}</span><br/>
                            <span ng-if="vm.itemPrice">{{ item.price }}</span><br/>
                            <span ng-if="vm.itemTotal">{{ item.total }}</span><br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>