﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.master.template.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("Template").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right margin-top-10">
            <button class="btn btn-primary" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label">@L("Location") <a ng-if="vm.locationRefId!=null" ng-click="vm.locationRefId=null">@L("Clear")</a></label>
                    <ui-select class="borderself" name="location" ng-model="vm.locationRefId">
                        <ui-select-match placeholder="Location Name...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label">@L("Template") <a ng-if="vm.templateType!=null" ng-click="vm.templateType=null">@L("Clear")</a></label>
                    <ui-select class="borderself" name="TemplateType" ng-model="vm.templateType">
                        <ui-select-match placeholder="Template Type...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.refTemplateType | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input class="form-control" type="text" name="name" ng-model="vm.filterText">
                    <label>@L("Name")</label>
                </div>
            </div>
            <div class="col-sm-3 margin-top-10">
                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i>@L("Search")</button>
            </div>
        </div>

    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        @*<div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Account</h4>
                </div>
                <div class="modal-body">
                    <style>
                        ul {
                            list-style: disc;
                            padding-left: 30px;
                            color: #333;
                        }
                    </style>
                    <div id="treeview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>



@*@using DinePlan.DineConnect.Localization
    @using Humanizer
    <div ng-controller="tenant.views.house.master.template.index as vm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span class="caption-subject bold uppercase">@L("Template").Pluralize()</span> <small>@L("TemplateHeaderInfo")</small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-default" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>

                <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createTemplate()">
                    <i class="fa fa-plus"></i> @L("CreateTemplate")</button>

            </div>
        </div>
        <div class="portlet light">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>*@

