﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<style>
    ul {
        list-style: disc;
        padding-left: 30px;
        color: #333;
    }
</style>

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="templateDataForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title"> Template Data</h4>
        </div>
        <div class="modal-body">
            <div id="treeview"></div>
            <div>{{vm.templateData}}</div>
        </div>
        <div class="modal-footer">
            <button name="cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    </form>
</div>
