﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/multiselectrefScript/css/multi-select.css"  media="screen" rel="stylesheet" type="text/css" />
<script src="~/libs/multiselectrefScript/js/jquery.multi-select.js"></script>
<div>
    <form name="materialunitslinkCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.materialunitslink.id">@L("EditMaterialUnitsLink"): {{vm.materialunitslink.id}}</span>
                <span ng-if="!vm.materialunitslink.id">@L("CreateMaterialUnitsLink")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("Material Name")</label>
                        <select id="sellId" autofocus class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterial" ng-model="vm.materialunitslink.materialRefCode" required></select>
                    </div>
                </div>
             </div>


            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group form-md-line-input  no-hint">
                        <ui-select multiple id="unitRefId" ng-model="vm.materialunitslink.unitRefId" class="form-control">
                            <ui-select-match placeholder="Select Units...">{{$item.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item in vm.refunit | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                        <label class="control-label">@L("Units")</label>
                    </div>
                </div>

                @*<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("Units")</label>
                        <select id="selId1" multiple="multiple" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.materialunitslink.unitRefId" required></select>
                    </div>
                </div>*@

            </div>


                @*<div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select multiple="multiple" class="form-control selectpicker" id="my-select" name="my-select[]" data-live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.materialunitslink.unitRefId"  >
                            <option value='elem_1'>elem 1</option>
                            <option value='elem_2'>elem 2</option>
                            <option value='elem_3'>elem 3</option>
                            <option value='elem_4'>elem 4</option>

                            <option value='elem_100'>elem 100</option>
                        </select>
                    </div>
                </div>
            </div>*@
            </div>
            <div class="modal-footer">
                <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                <button name="Fill" type="button" class="btn btn-block" ng-click="vm.selectedList()">Fill</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="materialunitslinkCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
</form>
</div>

