﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.productmix as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ProductMixReport").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getProductMix()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                        <div class="row  margin-top-10 margin-bottom-10">
                            <div class="col-xs-12" ng-if="true">
                                <query-builder options="builder.options" builder="builder.builder"></query-builder>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">                            
                            <button class="btn blue" ng-click="vm.clear()">
                                <i class="fa fa-eraser"></i> @L("Clear")
                            </button>
                            <div class="btn-group">
                                <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-file-excel-o"></i> @L("Excel")
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn red" ng-click="vm.getProductMix()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-grouping ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-grid-render-container-left .ui-grid-viewport .ui-grid-cell-contents {
        white-space: nowrap !important;
    }

    .ui-grid-render-container-left .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
        border-bottom: none;
    }

    .ui-grid-render-container-left .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: #fdfdfd;
    }
</style>