﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.master.paymenttype.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.paymenttype.id">@L("EditPaymentType"): {{vm.paymenttype.name}}</span>
                        <span ng-if="!vm.paymenttype.id">@L("CreatePaymentType")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="locationCreateOrEditForm" role="form" novalidate class="form-validation">
                    <uib-tabset class="tab-container tabbable-line" id="tabs">
                        <uib-tab heading='@L("BasicInformation")'>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("Name")</label>
                                        <input class="form-control" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.paymenttype.name}" ng-model="vm.paymenttype.name" required>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("Processor")</label>
                                        <select id="CategoryEditBox" class="form-control selectpicker" ng-change="vm.onchangeprocessor()"
                                                data_live_search="true"
                                                ng-options="vm.getEditionValue(item) as item.displayText for item in vm.processors"
                                                ng-model="vm.paymenttype.paymentProcessor"></select>
                                    </div>
                                </div>
                                <div class="col-md-1 margin-top-30" ng-if="vm.paymenttype.id">
                                    <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                                        <i class="fa fa-file"></i> <span></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("AccountCode")</label>
                                        <input class="form-control" type="text" name="AccountCode" onblur="changetoupper(this)" ng-class="{'edited':vm.paymenttype.accountCode}" ng-model="vm.paymenttype.accountCode">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label>@L("Group")</label>
                                        <input class="form-control" type="text" name="group" onblur="changetoupper(this)" ng-class="{'edited':vm.paymenttype.group}" ng-model="vm.paymenttype.paymentGroup">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Tag")</label>
                                        <tags-input ng-model="vm.paymentTags" placeholder="Add a tag" replace-spaces-with-dashes="false">
                                        </tags-input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Department")</label>
                                        <ui-select multiple ng-model="vm.requestdepartments" class="form-control">
                                            <ui-select-match placeholder=@L("Department")>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.departments">
                                                <small>
                                                    {{ location.displayText }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="DisplayValue" class="md-check" type="checkbox" ng-model="vm.paymenttype.displayInShift">
                                                <label for="DisplayValue">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("DisplayInShift")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="AcceptChange" class="md-check" type="checkbox" ng-model="vm.paymenttype.acceptChange">
                                                <label for="AcceptChange">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("AcceptChange")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="NoRefund" class="md-check" type="checkbox" ng-model="vm.paymenttype.noRefund">
                                                <label for="NoRefund">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("NoRefund")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="AutoPayment" class="md-check" type="checkbox" ng-model="vm.paymenttype.autoPayment">
                                                <label for="AutoPayment">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("AutoPayment")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("TenderType")</label>
                                        <select id="CategoryEditBox" class="form-control selectpicker"
                                                data_live_search="true"
                                                ng-options="vm.getEditionValue(item) as item.displayText for item in vm.paymentTypeTenders"
                                                ng-model="vm.paymenttype.paymentTenderType"></select>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Image")'>

                            <div class="row">
                                <div class="col-md-6">
                                    <h3>@L("Image").Pluralize() </h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@L("Name") </th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                                                <td>
                                                    <strong>{{ file.fileName }}</strong>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                                        <span class="glyphicon  glyphicon-download-alt"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-6" style="margin-bottom: 40px">
                                    <h3>@L("Select") </h3>
                                    <input type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                    <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                            ng-click="vm.uploadFile(true)"
                                            ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </button>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Settings")' ng-if="vm.fields.length>0">
                            <formly-form model="vm.paymentProcessor" fields="vm.fields" options="vm.options" form="locationCreateOrEditForm">

                            </formly-form>
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="locationCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>