﻿@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>


<div ng-controller="tenant.views.engage.loyaltyProgram.stage.createedit as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.stage.Id">@L("EditStage"): {{vm.stage.name}}</span>
                        <span ng-if="!vm.stage.Id">@L("CreateStage")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form name="detailform">
                    <div class="form-body">

                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading='@L("General")' tabindex="1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("LoyaltyProgram")</label>
                                            <select id="PointAccEditBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    ng-options="vm.getComboboxValue(item) as item.displayText for item in vm.loyaltyPrograms" ng-change="vm.loadPreviousStages()"
                                                    ng-model="vm.stage.loyaltyProgramId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Name")*</label>
                                            <input class="form-control input" type="text" name="Name" ng-class="{'edited':vm.stage.name}" ng-model="vm.stage.name" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="PointsExpiryAllowed" class="md-check" type="checkbox" ng-model="vm.stage.pointsExpiryAllowed" ng-disabled="vm.stage.pointsExpiryAllowed>">
                                                    <label for="PointsExpiryAllowed">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("PointsExpiryAllowed")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="vm.isPointExpiryChecked()" class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("PointExpiryDays")</label>
                                            <input class="form-control input" type="text" name="PointExpiryDays" ng-model="vm.stage.pointExpiryDays" ng-pattern="/^(\d)+$/">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("PreviousStage")</label>
                                            <select id="PointAccEditBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    ng-options="vm.getComboboxValue(item) as item.displayText for item in vm.previousStages"
                                                    ng-model="vm.stage.previousStageId"></select>
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>
                            <uib-tab heading='@L("PointAccumulation")' tabindex="2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("PointsAccumulation")</label>
                                            <select id="PointAccEditBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    ng-options="vm.getComboboxValue(item) as item.displayText for item in vm.pointAccTypes"
                                                    ng-model="vm.stage.pointAccumulations.pAccTypeId"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="RoundOff" class="md-check" type="checkbox" ng-model="vm.stage.pointAccumulations.roundOff" ng-disabled="vm.stage.pointAccumulations.roundOff>">
                                                    <label for="RoundOff">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("RoundedOff")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Points")</label>
                                            <input class="form-control input" type="text" name="Point" ng-model="vm.stage.pointAccumulations.point" ng-pattern="/^(\d)+$/">
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading='@L("Conditions")' tabindex="3">
                                <div class="row  margin-top-10">
                                    <div class="col-xs-12">
                                        <query-builder options="builder.options" builder="builder.builder"></query-builder>
                                    </div>
                                </div>
                                <div class="row  margin-top-10">
                                    <div class="col-xs-12">
                                        <div id="builder"></div>
                                    </div>
                                </div>
                                <div class="row  margin-top-10">
                                    <div class="col-xs-12">
                                        <div>
                                            <div class="col-xs-1">
                                                <label>XX</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input id="xxDays" name="xxDays" class="form-control" ng-model="vm.stage.conditionDayValue" ng-class="{'edited':vm.stage.conditionDayValue}" ng-pattern="/^(\d)+$/">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  margin-top-10">
                                    <div class="col-xs-6">

                                        <button class="btn btn-primary red" ng-click="vm.openRules()" ng-if="!vm.showRules">
                                            <span>@L("Show")</span>
                                        </button>
                                    </div>

                                    <div class="col-xs-6">

                                        <button class="btn btn-primary red" ng-click="vm.openRules()" ng-if="vm.showRules">
                                            <span>@L("Hide")</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row  margin-top-10" ng-if="vm.showRules">
                                    <div class="col-xs-12">
                                        <pre> {{ builder.builder.getRules() | json}}</pre>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading='@L("PointRedemption")' tabindex="4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("MinRedemptionPoints")</label>
                                            <input class="form-control input" type="text" name="MinRedemptionPoints" ng-model="vm.stage.minRedemptionPoints" ng-pattern="/^(\d)+$/">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("RedemptionValue")</label>
                                            <input class="form-control input" type="text" name="RedemptionValue" ng-model="vm.stage.redemptionValue" ng-pattern="/^(\d)+$/">
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            @*<div class="row">
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align:right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addStage()">
                                            @L("Add")
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-top-20">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>@L("Name")</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(stageIndex, stage) in vm.program.stages">
                                            <td class="col-sm-2">
                                                {{stage.name}}
                                            </td>
                                            <td class="col-sm-2">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.removeStage(stageIndex)">
                                                    @L("Delete")
                                                </button>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>*@

                        </uib-tabset>

                    </div>
                    <div class="modal-footer">
                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>