﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js">        </script>
<link   href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="purchasecategoryCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.purchasecategory.id">@L("EditPurchaseCategory"): {{vm.purchasecategory.name}}</span>
                <span ng-if="!vm.purchasecategory.id">@L("CreatePurchaseCategory")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" autofocus name="name" ng-class="{'edited':vm.purchasecategory.purchaseCategoryName}" ng-model="vm.purchasecategory.purchaseCategoryName" required>
                        <label>@L("PurchaseCategoryName")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="purchasecategoryCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

