﻿<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="swipememberCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="row margin-bottom-5">
            <div class="col-xs-12">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span ng-if="vm.swipemember.id">@L("EditMember"): {{vm.swipemember.name}}</span>
                            <span ng-if="!vm.swipemember.id">@L("CreateMember")</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light">
            <div class="portlet-body">
                <div class="form" busy-if="vm.loading">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@L("MemberCode") <span style="color:red;"> *</span> &nbsp; &nbsp; <span style="font-size:x-small;" >@L("MemberCodePreferences")</span> </label>
                                    <input class="form-control input-lg uppercase" autofocus type="text" name="memberCode" id="memberCode" ng-class="{'edited':vm.swipemember.memberCode}" ng-model="vm.swipemember.memberCode" ng-blur="vm.memberAlreadyExists();" ng-keypress="vm.memberCodeKeyPress($event);" required>
                                </div>
                            </div>
                        </div>
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading='@L("General")' tabindex="1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Name") <span style="color:red;"> *</span> </label>
                                            <input class="form-control ucase" type="text" name="membername" id="membername" ng-class="{'edited':vm.swipemember.name}" ng-model="vm.swipemember.name" onkeypress="return AcceptAllKeys(event,'emailid')" required>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Email")</label>
                                            <input class="form-control" id="emailid" type="email" name="emailid" ng-class="{'edited':vm.swipemember.emailId}" ng-model="vm.swipemember.emailId" onkeypress="return AcceptAllKeys(event, 'phonenumber')">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>@L("PhoneNumber")</label>
                                            <input class="form-control" id="phonenumber" type="tel" name="phonenumber" ng-class="{'edited':vm.swipemember.phoneNumber}" ng-model="vm.swipemember.phoneNumber" onkeypress="return NumberOnly(event, 'cmdsavemember')">
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("AlternatePhoneNumber")</label>
                                            <input class="form-control" type="tel" name="alternatePhoneNumber" id="alternatePhoneNumber" ng-class="{'edited':vm.swipemember.alternatePhoneNumber}" ng-model="vm.swipemember.alternatePhoneNumber" onkeypress="return NumberOnly(event, 'cmdsavemember')">
                                        </div>
                                    </div>*@
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Address")' tabindex="1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("AddressLine1")</label>
                                            <input class="form-control" type="text" name="Address" ng-class="{'edited':vm.swipemember.addressLine1}" ng-model="vm.swipemember.addressLine1">
                                        </div>

                                    </div>
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>@L("Locality")</label>
																			<input class="form-control" type="text" name="Locality" ng-class="{'edited':vm.swipemember.locality}" ng-model="vm.swipemember.locality">
																		</div>
																	</div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("City")</label>
                                            <input class="form-control" type="text" name="City" ng-class="{'edited':vm.swipemember.city}" ng-model="vm.swipemember.city">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("PostalCode")</label>
                                            <input class="form-control" type="text" name="City" ng-class="{'edited':vm.swipemember.postalCode}" ng-model="vm.swipemember.postalCode">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("State")</label>
                                            <input class="form-control" type="text" name="State" ng-class="{'edited':vm.swipemember.state}" ng-model="vm.swipemember.state">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Country")</label>
                                            <input class="form-control" type="text" name="Country" ng-class="{'edited':vm.swipemember.country}" ng-model="vm.swipemember.country">
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" id="cmdsavemember" name="cmdsavemember" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="swipememberCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

