﻿
@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.fulltaxinvoicereport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("FullTaxInvoiceReport")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Plants")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getData()">
                        <div class="row">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  margin-top-10 margin-bottom-10">
                        <div class="col-xs-12" ng-if="true">
                            <query-builder options="builder.options" builder="builder.builder"></query-builder>
                        </div>
                    </div>

                    <div class="col-sm-12">

                        <button class="btn blue float-right  ml-10" ng-click="vm.getData()">
                            <i class=" fa fa-refresh"></i> @L("Refresh")
                        </button>

                        <div class="btn-group float-right">
                            <button class="btn red dropdown-toggle " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                <i class="fa fa-file-excel-o"></i> @L("Export")
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                </li>
                                <li>
                                    <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                </li>
                            </ul>
                        </div>

                        <button class="btn blue float-right margin-right-10 " ng-click="vm.clear()">
                            <i class="fa fa-eraser"></i> @L("Clear")
                        </button>

                    </div>

                </form>
            </div>
        </div>
        <div  class="portlet-body">
            <div class="page-head text-center">
                <div class="page-title" style="float:none">
                    <h1 class="text-center">
                        <span class="caption-subject bold uppercase">@L("FullTaxInvoiceReport")</span>

                    </h1>
                    <span class="caption-subject bold ">@L("Date") {{vm.data.startDate | date:vm.dateFormat}} - @L("to") {{vm.data.endDate | date:vm.dateFormat}} </span>
                </div>
            </div>
            <div ng-hide="vm.data.hidenHeader">
                <span ng-hide="vm.isUndefinedOrNull(vm.data.plantName)">@L("Name"): {{vm.data.plantName}}</span>  <span ng-hide="vm.isUndefinedOrNull(vm.data.plantCode)">@L("Code"): {{vm.data.plantCode}}</span>   
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div class="content_str" ng-repeat="dataByStatus in  vm.data.listItem">
                    <div class="w-100">
                        <table class="table table-bordered custom_table_date border_bottom_none">
                            <tr class="thead_title">
                                <td colspan="12" class="w-100 border_bottom_none text-left font_weight_bold">@L("Status"): {{dataByStatus.status}}</td>
                            </tr>
                            <tr class="thead_content">
                                <td class="w-5 border_bottom_none text-center font_weight_bold">@L("SNo")</td>
                                <td class="w-10 border_bottom_none text-center font_weight_bold">@L("Date")</td>
                                <td class="w-10 border_bottom_none text-center font_weight_bold">@L("FullTaxInvoiceNumber")</td>
                                <td class="w-10 border_bottom_none text-center font_weight_bold">@L("CustomerName")</td>
                                <td class="w-10 border_bottom_none text-center font_weight_bold">@L("TaxId")</td>
                                <td class="w-5 border_bottom_none text-center font_weight_bold">@L("PlantId")</td>
                                <td class="w-15 border_bottom_none text-center font_weight_bold">@L("PlantName")</td>
                                <td class="w-5 border_bottom_none text-center font_weight_bold">@L("Service")</td>
                                <td class="w-7 border_bottom_none text-center font_weight_bold">@L("AmountExcludeVAT")</td>
                                <td class="w-7 border_bottom_none text-center font_weight_bold">@L("VatAmount")</td>
                                <td class="w-7 border_bottom_none text-center font_weight_bold">@L("TotalAmount")</td>
                                <td class="w-9 border_bottom_none text-center font_weight_bold">@L("Remark")</td>
                            </tr>
                        </table>
                    </div>


                    <div class="w-100" ng-repeat="dataItem in  dataByStatus.listItem">
                        <div class="display_flex w-100 color-blue">
                            <table class="table table-bordered custom_table_date border_bottom_none">
                                <tr class="color_posName">
                                    <td class="w-5 text-center ">{{$index + 1}}</td>
                                    <td class="w-10">{{dataItem.date | date : vm.dateFormat}}</td>
                                    <td class="w-10">{{dataItem.fullTaxInvoiceNumber}}</td>
                                    <td class="w-10">{{dataItem.customerName}}</td>
                                    <td class="w-10">{{dataItem.taxId}}</td>
                                    <td class="w-5">{{dataItem.plantId}}</td>
                                    <td class="w-15">{{dataItem.plantName}}</td>
                                    <td class="w-5">{{dataItem.service}}</td>
                                    <td class="w-7 text-center ">{{dataItem.amountExcludeVAT | number :2}}</td>
                                    <td class="w-7 text-center ">{{dataItem.vat}}</td>
                                    <td class="w-7 text-center ">{{dataItem.totalAmount}}</td>
                                    <td class="w-9">{{dataItem.remark}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table class="table table-bordered custom_table_date border_bottom_none color_total">
                        <tr>
                            <td colspan="3" class="w-30 font_weight_bold">@L("Quantity") : {{dataByStatus.listItem.length}} @L("Items") </td>
                            <td class="w-10"></td>
                            <td class="w-10"></td>
                            <td class="w-5"></td>
                            <td class="w-10"></td>
                            <td class="w-5 font_weight_bold">@L("AllTotal")</td>
                            <td class="w-7 font_weight_bold text-center"> {{dataByStatus.sumAmountExcludeVAT | number :2}}  </td>
                            <td class="w-7 font_weight_bold text-center"> {{dataByStatus.sumVAT}}  </td>
                            <td class="w-7 font_weight_bold text-center"> {{dataByStatus.sumTotalAmount}}  </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .w-2 {
        width: 2%;
    }

    .w-3 {
        width: 3%;
    }

    .w-5 {
        width: 5%;
    }

	.w-7 {
		width: 7%;
	}           
	.w-9 {
		width: 9%;
	}
    .w-10 {
        width: 10%;
    }

    .w-15 {
        width: 15%;
    }

    .w-25 {
        width: 25%;
    }

    .w-30 {
        width: 30%;
    }

    .w-35 {
        width: 35%;
    }

    .w-50 {
        width: 50%;
    }

    .w-85 {
        width: 85%;
    }


    .w-100 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .ml-10 {
        margin-left: 10px;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .zom-15 {
        zoom: 1.5;
    }

    .pl-44 {
        padding-left: 44px;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #808080;
        color: white;
    }

    .color_posName {
        background-color: #f0f0f0;
    }

    .color_total {
        background-color: #f0f0f0;
    }

    .font_weight_bold {
        font-weight: bold;
    }
</style>
