@using DinePlan.DineConnect.MultiTenancy
<div>
    <form name="tenantCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("ChangePassword")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="password" name="Password" class="form-control" ng-model="vm.tenant.adminPassword" maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxPlainPasswordLength">
                <label>@L("AdminPassword")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="tenantCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>
