<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Excel")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row" ng-if="!vm.bylocation">
            <div class="form-group">
                <label class="col-md-3 control-label">@L("Duration")</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="vm.duration">
                        <option value="D">@L("Daily")</option>
                        <option value="M">@L("Monthly")</option>
                        <option value="S">@L("Summary")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="form-group">
                <label class="col-md-3 control-label">@L("Output")</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="vm.exportOutput">
                        <option value="T">@L("Total")</option>
                        <option value="Q">@L("Quantity")</option>
                        <option value="B">@L("Both")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row margin-top-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input id="AllLocations" class="md-check" type="checkbox" ng-model="vm.bylocation">
                            <label for="AllLocations">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Location")
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.exportToExcel()" ng-disabled="vm.disableExport"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>