@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .ui-grid-render-container-left .ui-grid-viewport .ui-grid-cell-contents {
        white-space: nowrap !important;
    }

    .ui-grid-render-container-left .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
        border-bottom: none;
    }

    .ui-grid-render-container-left .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: #fdfdfd;
    }
</style>

<div ng-controller="tenant.views.connect.report.items.item as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ItemSales")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getOrders()">
						<div class="row">
							<div class="col-md-6 col-sm-12" ng-if="!vm.requestParams.noSales">
								<!-- BEGIN PORTLET-->
								<div class="portlet light ">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart font-green-haze hide"></i>
											<span class="caption-subject font-green-haze bold uppercase">@L("TopItemSalesByQuantity")</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="topitems" style="height: 360px">
										</div>
									</div>
								</div>
								<!-- END PORTLET-->
							</div>
							<div class="col-md-6 col-sm-12" ng-if="!vm.requestParams.noSales">
								<!-- BEGIN PORTLET-->
								<div class="portlet light ">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart font-green-haze hide"></i>
											<span class="caption-subject font-green-haze bold uppercase">@L("TopItemSalesByTotal")</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="topquantity" style="height: 360px">
										</div>
									</div>
								</div>
								<!-- END PORTLET-->
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Select") @L("MenuItem")</label>
									<div>
										<button class="btn blue" ng-click="vm.selectMenuitems()">@L("MenuItem")<span ng-if="vm.menuItemIds.length"> - {{vm.menuItemIds.length}} items</span></button>
										<button ng-if="vm.menuItemIds.length" class="btn btn-default" ng-click="vm.resetSelectedItem()">@L("Clear")</button>

										@*<ui-select multiple ng-model="vm.menuItemIds">
							<ui-select-match placeholder="Select items...">{{$item.displayText}}</ui-select-match>
							<ui-select-choices repeat="item.value as item in vm.menuItems | filter: $select.search">
								<div ng-bind="item.displayText"></div>
							</ui-select-choices>
						</ui-select>*@
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group" ng-if="!vm.requestParams.noSales">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Void" class="md-check" type="checkbox" ng-model="vm.requestParams.void">
											<label for="Void">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Void")
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" ng-if="!vm.requestParams.noSales">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Gift" class="md-check" type="checkbox" ng-model="vm.requestParams.gift">
											<label for="Gift">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Gift")
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" ng-if="!vm.requestParams.noSales">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Comp" class="md-check" type="checkbox" ng-model="vm.requestParams.comp">
											<label for="Comp">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Comp")
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="NoSales" class="md-check" type="checkbox" ng-model="vm.requestParams.noSales">
											<label for="NoSales">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("NoSales")
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="vm.advancedFiltersAreShown">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Terminal")</label>
									<ui-select multiple id="Terminal" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.selectedTerminals">
										<ui-select-match placeholder="Select Terminal Name...">{{$item.displayText}}</ui-select-match>
										<ui-select-choices repeat="item.displayText as item in vm.terminals | filter: $select.search">
											<div ng-bind="item.displayText"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("User")</label>
									<ui-select multiple id="SelectUser" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.selectedUsers">
										<ui-select-match placeholder="Select User Name...">{{$item.displayText}}</ui-select-match>
										<ui-select-choices repeat="item.displayText as item in vm.users | filter: $select.search">
											<div ng-bind="item.displayText"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Group")</label>
									<ui-select multiple id="selproductGroupRefId" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.selectedGroups">
										<ui-select-match placeholder="Select Group Name...">{{$item.name}}</ui-select-match>
										<ui-select-choices repeat="item.id as item in vm.productGroups | filter: $select.search">
											<div ng-bind="item.name"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Select") @L("Category")</label>
									<div>
										<button class="btn blue" ng-click="vm.selectCategory()">@L("Category")<span ng-if="vm.categoryIds.length"> - {{vm.categoryIds.length}} items</span></button>
										<button ng-if="vm.categoryIds.length" class="btn btn-default" ng-click="vm.resetSelectedCategory()">@L("Clear")</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@L("Select") @L("Department")</label>
								<div>
									<button class="btn blue" ng-click="vm.selectDepartment()">@L("Department")<span ng-if="vm.selectedDepartments.length"> - {{vm.selectedDepartments.length}} items</span></button>
									<button ng-if="vm.selectedDepartments.length" class="btn btn-default" ng-click="vm.resetDepartmentSelectedItem()">@L("Clear")</button>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@L("Tag")</label>
								<ui-select multiple id="TagSelectBox" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.requestParams.filterByTag">
									<ui-select-match placeholder="Select Tag...">{{$item.displayText}}</ui-select-match>
									<ui-select-choices repeat="item.displayText as item in vm.tags | filter: $select.search">
										<div ng-bind="item.displayText"></div>
									</ui-select-choices>
								</ui-select>
								@*<input type="text" class="form-control" ng-model="vm.requestParams.filterByTag">*@
							</div>
						</div>
					</div>
					<div class="row  margin-top-10">
						<div class="col-xs-12" ng-if="true">
							<query-builder options="builder.options" builder="builder.builder"></query-builder>
						</div>
					</div>
					<div class="row margin-bottom-10">
						<div class="col-sm-12">
							<span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
							<span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
						</div>
						<div class="col-sm-12 text-right">
							<button class="btn btn-default" ng-click="vm.clear()"><i class="icon-crop"></i></button>
							<button class="btn red" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> @L("Excel")</button>
							<button class="btn green" ng-click="vm.exportToSummaryPrices()"><i class="fa fa-file-excel-o"></i> @L("Price")</button>
							<button class="btn blue" ng-click="vm.exportToSummary()"><i class="fa fa-file-excel-o"></i> @L("Portion")</button>
							<button class="btn red" ng-click="vm.exportWithOrderTagToExcel()"><i class="fa fa-file-excel-o"></i> @L("ItemSales")</button>
							<button class="btn blue" ng-click="vm.exportComboToExcel()"><i class="fa fa-file-excel-o"></i> @L("ItemCombo")</button>
							<button class="btn blue" ng-if="vm.mycustomer == '5WC'" ng-click="vm.exportWritersCafeToExcel()"><i class="fa fa-file-excel-o"></i> @L("WritersCafe")</button>
							<button class="btn blue" ng-click="vm.getOrders()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
						</div>
					</div>
				</form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-grouping ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>