﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.company.detail as vm">

    <form name="companyCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span ng-if="vm.company.id">@L("EditCompany"): {{vm.company.name | uppercase}}</span>
                    <span ng-if="!vm.company.id">@L("CreateCompany")</span>
                </h1>
            </div>
        </div>
        <div class="portlet light">
            <div class="portlet-body">
                <div class="m-heading-1 border-green m-bordered">
                    <p> @L("CodeInfo") </p>
                </div>
                <uib-tabset class="tab-container tabbable-line">
                    <uib-tab heading="@L("BasicInformation")">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("Code")</label>
                                    <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.company.code}" ng-model="vm.company.code" maxlength="30" ng-minlength="2" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("Name")</label>
                                    <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="name" ng-class="{'edited':vm.company.name}" ng-model="vm.company.name" maxlength="60" required>
                                </div>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab heading="@L("Logo")" ng-if="vm.company.code">
                        <div class="row">
                            <div class="col-xs-12" ng-if="vm.company.code">
                                <img ng-dblclick="vm.changePicture(null)" ng-if="vm.company.companyProfilePictureId"
                                     ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.company.companyProfilePictureId}}"
                                     class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                <img ng-dblclick="vm.changePicture(vm.company.id)" ng-if="!vm.company.companyProfilePictureId"
                                     src="@Url.Content("~/Common/Images/default-profile-picture.png")" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Address")">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="address1" ng-class="{'edited':vm.company.address1}" ng-model="vm.company.address1">
                                    <label>@L("Address1")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.company.address2}" ng-model="vm.company.address2">
                                    <label>@L("Address2")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="address3" ng-class="{'edited':vm.company.address3}" ng-model="vm.company.address3">
                                    <label>@L("Address3")</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" id="city" name="city" ng-class="{'edited':vm.company.city}" ng-model="vm.company.city">
                                    <label>@L("City")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="state" ng-class="{'edited':vm.company.state}" ng-model="vm.company.state">
                                    <label>@L("State")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="country" ng-class="{'edited':vm.company.country}" ng-model="vm.company.country">
                                    <label>@L("Country")</label>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Contact")">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="phonenumber1" ng-class="{'edited':vm.company.phoneNumber}" ng-model="vm.company.phoneNumber">
                                    <label>@L("PhoneNumber")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="faxnumber" ng-class="{'edited':vm.company.faxNumber}" ng-model="vm.company.faxNumber">
                                    <label>@L("FaxNumber")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="userSerialNumber" ng-class="{'edited':vm.company.userSerialNumber}" ng-model="vm.company.userSerialNumber">
                                    <label>@L("UserSerialNumber")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="govtApprovalId" ng-class="{'edited':vm.company.govtApprovalId}" ng-model="vm.company.govtApprovalId">
                                    <label>@L("GovtApprovalId")</label>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="modal-footer">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="companyCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </form>
</div>