﻿
@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggmodifier.delaggmodifier as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delaggmodifier.id">@L("EditDelAggModifier"): {{vm.delaggmodifier.name}}</span>
                        <span ng-if="!vm.delaggmodifier.id">@L("CreateDelAggModifier")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading='@L("General")' tabindex="1">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label>@L("Code")</label>
                                    <input class="form-control" type="text" name="Code" ng-class="{'edited':vm.delaggmodifier.code}" ng-model="vm.delaggmodifier.code" required>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.delaggmodifier.name}" ng-model="vm.delaggmodifier.name" required>
                                </div>
                            </div>

                            <div class="col-md-2 margin-top-30" ng-if="vm.delaggmodifier.id">
                                <button class="btn btn-xs red" ng-click="vm.openLanguageDescriptionModal()">
                                    <i class="fa fa-file"></i> <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggModifierGroup")</label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delaggmodifier.delAggModifierGroupId}" ng-model="vm.delaggmodifier.delAggModifierGroupId">
                                        <ui-select-match placeholder="Select Modifier Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="modifiergroup.id as modifiergroup in vm.modifiergroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ modifiergroup.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("OrderTag")</label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delaggmodifier.orderTagId}" ng-model="vm.delaggmodifier.orderTagId">
                                        <ui-select-match placeholder="Select OrderTag ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ordertag.id as ordertag in vm.ordertags| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ ordertag.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>@L("Price")</label>
                                    <input class="form-control" type="number" name="Price" ng-class="{'edited':vm.delaggmodifier.price}" ng-model="vm.delaggmodifier.price">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("SortOrder")</label>
                                    <input class="form-control" type="number" name="SortOrder" ng-class="{'edited':vm.delaggmodifier.sortOrder}" ng-model="vm.delaggmodifier.sortOrder">
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading='@L("Image")' ng-if="vm.delaggmodifier.id">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead ng-if="vm.delaggimage.length>0">
                                        <tr>
                                            <th>@L("DelAggType")</th>
                                            <th>@L("Name") </th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(fileIndex, file) in vm.delaggimage">
                                            <td>
                                                <strong> {{file.delAggTypeRefName}}</strong>
                                            </td>
                                            <td>
                                                @*<strong>{{ file.imagePath.fileName }}</strong>*@
                                                @*<strong>{{ file.imagePath }}</strong>*@
                                                <strong>{{ file.displayImagePath.fileName }}</strong>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.viewer(file)">
                                                    <span class="glyphicon  glyphicon-download-alt"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteImage(fileIndex)">
                                                    <span class="fa  fa-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggType")</label>
                                    <ui-select class="borderself" id="selAggType" ng-class="{'edited':vm.delaggimage.delAggTypeRefId}"
                                               ng-model="vm.delaggimage.delAggTypeRefId">
                                        <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.delAggTypes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info margin-top-15">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                                        <h3 class="panel-title bold">@L("Select") @L("Image")</h3>
                                    </div>
                                    <div id="collapse3" class="collapse in">
                                        <div class="panel-body">
                                            <div class="row col-lg-12" style="margin-bottom: 40px">
                                                <h3>@L("Select") </h3>
                                                <input id="imageFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                                <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                        ng-click="vm.fileTag='Image';vm.uploadFile(true)"
                                                        ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span>
                                                </button>
                                            </div>
                                            <div class="row col-lg-12">
                                                <table class="table">
                                                    <thead ng-if="vm.imagePath.length>0">
                                                        <tr>

                                                            <th>@L("Name") </th>
                                                            <th>@L("Actions")</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(fileIndex, file) in vm.imagePath">
                                                            <td>
                                                                <strong>{{ file.fileName }}</strong>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.downloader(file)">
                                                                    <span class="glyphicon  glyphicon-download-alt"></span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Image';vm.removeFile(fileIndex)">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="footer text-right">
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.addImage(vm.delaggimage.delAggTypeRefId,vm.imagePath)" ng-disabled="!btnStatus">
                                <i class="fa fa-plus"></i> <span>@L("Add") @L("Image")</span>
                            </button>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="delaggmodifierCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>
</div>
