﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggmodifier.indexdelaggmodifier as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggModifier")</span> <small>@L("DelAggModifierHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDelAggModifier()">
                <i class="fa fa-plus"></i> @L("CreateDelAggModifier")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggModifierGroup") <a ng-click="vm.delAggModifierGroupId=null" ng-if="vm.delAggModifierGroupId!=null&&vm.delAggModifierGroupId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delAggModifierGroupId}" ng-model="vm.delAggModifierGroupId">
                                        <ui-select-match placeholder="Select Modifier Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="modifiergroup.id as modifiergroup in vm.modifiergroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ modifiergroup.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("OrderTag") <a ng-click="vm.orderTagId=null" ng-if="vm.orderTagId!=null&&vm.orderTagId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.orderTagId}" ng-model="vm.orderTagId">
                                        <ui-select-match placeholder="Select OrderTag ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ordertag.id as ordertag in vm.ordertags| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ ordertag.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Name")" type="text">
                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <button type="submit" busy-text="@L("Clear")" class="btn btn-primary blue" ng-click="vm.getAllClear()">Clear</button>
                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <button ng-click="vm.getAll()" type="submit" busy-text="@L("Refresh")" class="btn btn-primary blue">Refresh</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

