﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.notificationDashboard as vm">
    <div class="row margin-bottom-5">


    </div>

    <div>
        <div class="col-xs-12">
            <span class="pull-right">
                <button class="btn blue" ng-click="vm.refreshAll()">
                    <i class="fa fa-refresh"></i> Refresh
                </button>
            </span>

            <div class="page-head">
                <div class="page-title" style="align-content:center">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Approval") @L("Pending") @L("Notification")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-5">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" busy-if="vm.loading">
                <div class="dashboard-stat blue-chambray">
                    <div class="visual">
                        <i class="fa fa-pause"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup">{{ vm.approvalPendingCount }}</span>
                        </div>
                        <div class="desc">@L("Request").ToUpper() @L("Pending").ToUpper()</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" busy-if="vm.loading">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup">{{  vm.transferPendingCount }}</span>
                        </div>
                        <div class="desc">@L("Transfer").ToUpper() @L("Pending").ToUpper()</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" busy-if="vm.loading">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup">{{  vm.receivePendingCount }}</span>
                        </div>
                        <div class="desc">@L("Receive").ToUpper() @L("Pending").ToUpper()</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" busy-if="vm.loading">
            <div class="col-xs-4">
                <table class="table table-striped table-bordered table-condensed col-lg-12 td-vertical-center" ng-if="vm.approvalPendingDtos.length>0">
                    <thead>

                        <tr>
                            <th> <span class="pull-left"> @L("Id") </span><span class="pull-right"> @L("Date") </span></th>
                            <th> @L("Location")</th>
                            <th> @L("RequestLocation") </th>
                            <th class="text-right"> @L("Material") @L("Count")</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="(index,data) in vm.approvalPendingDtos" ; style="height:50px;vertical-align:central;font-size:large">

                        <td style="vertical-align:central">
                            <a class="pull-left" ng-click="vm.showPendingRequestApprove(data)">  {{data.id}}</a>
                            <a class="pull-right" ng-click="vm.showPendingRequestApprove(data)"> {{data.requestDate | date:'yyyy-MMM-dd'}} </a>
                        </td>
                        <td style="vertical-align:central">
                            <span>{{data.locationRefName}} </span>
                        </td>
                        <td style="vertical-align:central">
                            <span>{{data.requestLocationRefName}} </span>
                        </td>

                        <td style="vertical-align:central">
                            <span class="pull-left"> <i class="fa fa-edit" ng-click="vm.showPendingRequestApprove(data)"></i> </span>
                            <span class="pull-right">{{data.noOfMaterials}} </span>
                        </td>

                    </tr>


                </table>
            </div>
            <div class="col-xs-4">
                <table class="table table-striped table-bordered table-condensed col-lg-12 td-vertical-center" ng-if="vm.transferPendingDtos.length>0">
                    <thead>
                        <tr>
                            <th> <span class="pull-left"> @L("Id") </span><span class="pull-right"> @L("Date") </span></th>
                            <th> @L("Location")</th>
                            <th> @L("RequestLocation") </th>
                            <th class="text-right"> @L("Material") @L("Count")</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="(index,data) in vm.transferPendingDtos" ; style="height:50px;vertical-align:central;font-size:large">

                        <td style="vertical-align:central">
                            
                            <a class="pull-left" ng-click="vm.showPendingTransferApprove(data)">  {{data.id}}</a>
                            <a class="pull-right" ng-click="vm.showPendingTransferApprove(data)"> {{data.requestDate | date:'yyyy-MMM-dd'}} </a>
                        </td>
                        <td style="vertical-align:central">
                            <span>{{data.locationRefName}} </span>
                        </td>
                        <td style="vertical-align:central">
                            <span>{{data.requestLocationRefName}} </span>
                        </td>

                        <td style="vertical-align:central">
                            <span class="pull-left"> <i class="fa fa-edit" ng-click="vm.showPendingTransferApprove(data)"></i> </span>
                            <span class="pull-right">{{data.noOfMaterials}} </span>
                        </td>

                    </tr>


                </table>
            </div>
            <div class="col-xs-4">
                <table class="table table-striped table-bordered table-condensed col-lg-12 td-vertical-center" ng-if="vm.receivePendingDtos.length>0">
                    <thead>

                        <tr>
                            <th> <span class="pull-left"> @L("Id") </span><span class="pull-right"> @L("Date") </span></th>
                            <th> @L("Location")</th>
                            <th> @L("RequestLocation") </th>
                            <th class="text-right"> @L("Material") @L("Count")</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="(index,data) in vm.receivePendingDtos" ; style="height:50px;vertical-align:central;font-size:large">

                        <td style="vertical-align:central">
                            <a class="pull-left" ng-click="vm.showPendingReceive(data)">  {{data.id}}</a>
                            <a class="pull-right" ng-click="vm.showPendingReceive(data)"> {{data.requestDate | date:'yyyy-MMM-dd'}} </a>
                        </td>
                        <td style="vertical-align:central">
                            <span>{{data.locationRefName}} </span>
                        </td>
                        <td style="vertical-align:central">
                            <span>{{data.requestLocationRefName}} </span>
                        </td>

                        <td style="vertical-align:central">
                            <span class="pull-left"> <i class="fa fa-edit" ng-click="vm.showPendingReceive(data)"></i> </span>
                            <span class="pull-right">{{data.noOfMaterials}} </span>
                        </td>

                    </tr>


                </table>
            </div>



        </div>


    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" busy-if="vm.loading">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ vm.poPendingCount }}</span>
                    </div>
                    <div class="desc">@L("PurchaseOrder").ToUpper() @L("Pending").ToUpper()</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <table class="table table-striped table-bordered table-condensed col-lg-12 td-vertical-center" ng-if="vm.pendingPoListDtos.length>0">
                <thead>
                    <tr>
                        <th> <span class="pull-left"> @L("Id") </span><span class="pull-right"> @L("Date") </span></th>
                        <th> @L("Location")</th>
                        <th> @L("SupplierName") </th>
                    </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.pendingPoListDtos" ; style="height:50px;vertical-align:central;font-size:large">

                    <td class="col-xs-3" style="vertical-align:central">
                        <a class="pull-left" ng-click="vm.showPendingPoApprove(data)">  {{data.id}}</a>
                        <a class="pull-right" ng-click="vm.showPendingPoApprove(data)"> {{data.creationTime | date:'yyyy-MMM-dd'}} </a>
                    </td>
                    <td style="vertical-align:central">
                        <span>{{data.shippingLocationName}} </span>
                    </td>
                    <td style="vertical-align:central">
                        <span>{{data.supplierName}} </span>
                    </td>
                </tr>


            </table>
        </div>


    </div>
</div>
