﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.engage.pointcampaign as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("PointCampaign")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row" style="padding-right:50px;padding-left:50px;">
            <div class="
                 col-xs-12 col-sm-12 col-md-10 col-lg-10
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-1 col-lg-offset-1
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <div class="form">
                                <form name="xxxCreateOrEditForm"
                                      role="form" novalidate class="form-validation">

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input autocomplete="off" class="form-control" type="text" name="XXX"
                                                       ng-model="vm.d.pointCampaign.name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>@L("Description")</label>
                                                <textarea class="form-control" ng-model="vm.d.pointCampaign.description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("StartFrom")</label>
                                                <input autocomplete="off" class="form-control" type="date"
                                                       ng-model="vm.d.pointCampaign.startDate">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("Until")</label>
                                                <input autocomplete="off" class="form-control"
                                                       ng-disabled="vm.d.neverExpires"
                                                       type="date"
                                                       ng-model="vm.d.pointCampaign.endDate">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <div class="checkbox">
                                                    <label style="margin-left:15px;" class="control-label form-label">
                                                        <input type="checkbox" ng-model="vm.d.neverExpires" style="margin-top:2px;">
                                                        @L("NeverExpire")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("ForEvery") ({{vm.d.currencyCode}})</label>
                                                <input autocomplete="off" class="form-control" type="number" name="XXX"
                                                       ng-model="vm.d.pointCampaign.requiredAmount">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("WeOffer") (@L("Point").Pluralize())</label>
                                                <input autocomplete="off" class="form-control" type="number" name="XXX"
                                                       ng-model="vm.d.pointCampaign.offeredPoints">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4 style="font-weight:bold;">Modifiers</h4>
                                                </div>
                                            </div>

                                            <div class="form-horizontal">
                                                <div ng-repeat="modifier in vm.d.pointCampaign.modifiers">
                                                    <div class="row row-brd" ng-if="modifier.modifierTypeCode==vm.s.modifierTypeCode.BDMTH">
                                                        <div class="col-sm-10">
                                                            <div class="form-group row" style="padding-right:50px;">
                                                                <label class="form-label control-label col-sm-4" style="text-align:left;">@L("MemberWillReceive")</label>
                                                                <div class="col-sm-2">
                                                                    <input class="form-control" type="text"
                                                                           ng-model="modifier.modifyingFactor">
                                                                </div>
                                                                <label class="form-label control-label col-sm-6" style="text-align:left;">@L("TimesPointBirthday")</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2" style="text-align:right;">
                                                            <button class="btn btn-danger" ng-click="vm.a.removeModifier(modifier)">
                                                                <i class="fa fa-trash-o" aria-hidden="true" style="font-size:14px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row row-brd" ng-if="modifier.modifierTypeCode==vm.s.modifierTypeCode.TMPRD">
                                                        <div class="col-sm-10">
                                                            <div class="form-group row" style="padding-right:50px;">
                                                                <label class="form-label control-label col-sm-4" style="text-align:left;">@L("MemberWillReceive")</label>
                                                                <div class="col-sm-2">
                                                                    <input class="form-control" type="text"
                                                                           ng-model="modifier.modifyingFactor">
                                                                </div>
                                                                <label class="form-label control-label col-sm-6" style="text-align:left;">@L("TimesPointBirthday")</label>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group" style="padding-left:15px;">
                                                                        <label>@L("StartDate")</label>
                                                                        <input class="form-control" type="date" name="XXX"
                                                                               ng-model="modifier.startDate">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group" style="padding-left:15px;">
                                                                        <label>@L("EndDate")</label>
                                                                        <input class="form-control" type="date" name="XXX"
                                                                               ng-model="modifier.endDate">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-2" style="text-align:right;">
                                                            <button class="btn btn-danger" ng-click="vm.a.removeModifier(modifier)">
                                                                <i class="fa fa-trash-o" aria-hidden="true" style="font-size:14px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row row-brd" ng-if="modifier.modifierTypeCode==vm.s.modifierTypeCode.MTIER">
                                                        <div class="col-sm-10">
                                                            <div class="form-group row" style="padding-right:0px;">
                                                                <div class="col-sm-5 no-pd-r">
                                                                    <div class="row">
                                                                        <label class="form-label control-label col-sm-7" style="text-align:left;">@L("MemberWillReceive")</label>
                                                                        <div class="col-sm-5">
                                                                            <input class="form-control" type="text"
                                                                                   ng-model="modifier.modifyingFactor">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <label class="form-label control-label col-sm-4" style="text-align:left;">@L("TimesPointMembership")</label>
                                                                <div class="col-sm-2 no-pd-rl">
                                                                    <select class="form-control"
                                                                            ng-options="t.name for t in vm.l.membershipTiers"
                                                                            ng-change="vm.e.membershipTierSelected(modifier)"
                                                                            ng-model="modifier.membershipTier">
                                                                    </select>
                                                                </div>
                                                                <label class="form-label control-label col-sm-1" style="text-align:left;">@L("Membership").ToLower().</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2" style="text-align:right;">
                                                            <button class="btn btn-danger" ng-click="vm.a.removeModifier(modifier)">
                                                                <i class="fa fa-trash-o" aria-hidden="true" style="font-size:14px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="row" style="margin-top:15px;">
                                                    <div class="col-sm-6" style="padding-left:15px;">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Add modifier <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" ng-click="vm.a.addModifier('BDMTH')">Month of birth</a></li>
                                                                <li><a href="#" ng-click="vm.a.addModifier('TMPRD')">Time period</a></li>
                                                                <li><a href="#" ng-click="vm.a.addModifier('MTIER')">Membership tier</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-default"
                                    ng-click="vm.a.goBackToList()">
                                @L("Cancel")
                            </button>
                            <button type="submit" button-busy="vm.saving"
                                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.a.savePointCampaign()" ng-disabled="xxxCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>
<style>
    .no-pd-r {
        padding-right: 0px;
    }
    .no-pd-l {
        padding-left: 0px;
    }
    .no-pd-rl {
        padding-left:0px;
        padding-right:0px;
    }
    .dvdr {
        margin-top:25px;
        border-top: 1px solid #e5e5e5;
        height: 20px;
    }
    .row-brd {
        border-style: solid;
        border-width: 1px;
        border-color: #bfbcbc;
        /*border-bottom:none;*/
        margin-right: 2px;
        margin-left: 2px;
        padding-top: 10px;
        margin-top:10px;
        margin-bottom:10px;
        border-radius: 5px;
    }
</style>
