﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access End</title>
</head>
<body>
    <script type="text/javascript">
        window.close();
    </script>
</body>
</html>
