﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'rebate':
                label = 'Rebate percentage if any on the Taxable value, otherwise please feed Zero \'0\'';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label , 'placement': 'bottom'});
    });
</script>

<div ng-controller="tenant.views.house.master.tax.taxDetail as vm">
    <div class="row margin-bottom-5" >
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.tax.id">@L("EditTax"): {{vm.tax.taxName | uppercase}}</span>
                        <span ng-if="!vm.tax.id">@L("CreateTax")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="taxCreateOrEditForm">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("Tax")">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control ucase" autofocus type="text" name="taxname" ng-class="{'edited':vm.tax.taxName}" ng-model="vm.tax.taxName" required maxlength="50">
                                            <label>@L("Name")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input onkeypress="return NumberWithPoint('percentage', event, 'cancel')" class="form-control text-right" type="text" id="percentage" name="percentage" ng-class="{'edited':vm.tax.percentage}" ng-model="vm.tax.percentage" maxlength="5" required>
                                            <label>@L("Percentage")</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("TaxCalculationMethod")</label>
                                            <select id="taxon" class="form-control selectpicker" data_live_search="true" ng-model="vm.tax.taxCalculationMethod" ng-options="item.displayText as item.displayText for item in vm.reftaxesonavailable" required></select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            </uib-tab>
                        <uib-tab heading="@L("TaxMapping")" ng-if="vm.tax.taxName">
                            <div class="form-body">
                                <div class="row" ng-if="vm.taxTemplateMapping.length==0">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("Organization")</th>
                                                    <th>@L("LocationName")</th>
                                                    <th>@L("MaterialGroup")</th>
                                                    <th>@L("MaterialGroupCategory")</th>
                                                    <th>@L("MaterialName")</th>
                                                    <th>@L("Add")</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.taxTemplateMapping">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="selCompany"   ng-model="data.companyRefId" >
                                                        <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.companyRefId" repeat="item.value as item in vm.refCompany | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select  id="selLocationRefid" ng-model="data.locationRefId" >
                                                        <ui-select-match id="selLocationRefid" placeholder="*">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="locitems.id as locitems in vm.refLocation | filter: $select.search">
                                                            <div ng-bind="locitems.name"></div>
                                                            <small>
                                                                city:<span ng-bind-html="locitems.city"></span>
                                                            </small>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="matGroup"  ng-change="vm.funcMaterialGroup(data)" ng-model="data.materialGroupRefId" >
                                                        <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.materialGroupRefId" repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="matCategory"  ng-model="data.materialGroupCategoryRefId" ng-change="vm.funcMaterialCategory(data)" >
                                                        <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.materialGroupCategoryRefId" repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="selMaterial"    ng-model="data.materialRefId" >
                                                        <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.materialRefId" repeat="item.value as item in vm.refmaterial | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>
                                               
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                               
                            </div>
                        </uib-tab>
                        </uib-tabset>
                    <div class="row margin-top-15">
                        <div style="display:block;float:right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="taxCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>

</form>
            </div>
        </div>
    </div>

</div>

