﻿@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<div ng-controller="tenant.views.connect.menu.screencategory.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.category.id">{{vm.category.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div busy-if="vm.loading" class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <uib-tabset class="tab-container tabbable-line" id="tabs">
                            <uib-tab heading='@L("BasicInformation")'>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Name")</label>
                                            <textarea type="text" ng-model="vm.category.name" name="name" class="form-control" rows="2" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("KeyPad")</label>
                                            <select id="KeyPadEditBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.refTypes" ng-model="vm.category.numeratorType"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("MainButtonColor")</label>
                                            <input type="text" class="form-control" color-picker color-picker-position="bottom" color-picker-model="vm.category.mainButtonColor" ng-style="{background:vm.category.mainButtonColor}">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("MainFontSize")</label>
                                            <input type="number" ng-model="vm.category.mainFontSize" name="mainFontSize" class="form-control text-uppercase">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("MainButtonHeight")</label>
                                            <input type="number" ng-model="vm.category.mainButtonHeight" name="mainButtonHeight" class="form-control text-uppercase">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("SubButtonColor")</label>
                                            <input type="text" class="form-control" color-picker color-picker-position="bottom" color-picker-model="vm.category.subButtonColorDef" ng-style="{background:vm.category.subButtonColorDef}">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("SubButtonHeight")</label>
                                            <input type="number" ng-model="vm.category.subButtonHeight" name="SubButtonHeight" class="form-control text-uppercase">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("SubButtonRows")</label>
                                            <input type="number" ng-model="vm.category.subButtonRows" name="subButtonRows" class="form-control text-uppercase">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("ColumnCount")</label>
                                            <input type="number" ng-model="vm.category.columnCount" name="columnCount" class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("MenuButtonHeight")</label>
                                            <input type="number" ng-model="vm.category.menuItemButtonHeight" name="menuItemButtonHeight" class="form-control text-uppercase">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("PageCount")</label>
                                            <input type="number" ng-model="vm.category.pageCount" name="pageCount" class="form-control text-uppercase">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("ColumnCount")</label>
                                            <input type="number" ng-model="vm.category.columnCount" name="columnCount" class="form-control text-uppercase">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="wrapText" class="md-check" type="checkbox" ng-model="vm.category.wrapText">
                                                    <label for="wrapText">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("WrapText")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="mostUsedItemsCategory" class="md-check" type="checkbox" ng-model="vm.category.mostUsedItemsCategory">
                                                    <label for="mostUsedItemsCategory">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("FastMenu")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="copyAll" class="md-check" type="checkbox" ng-model="vm.copyAll">
                                                    <label for="copyAll">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("CopyToAll")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="copyColor" class="md-check" type="checkbox" ng-model="vm.copyColor">
                                                    <label for="copyColor">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("CopyColor")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Schedules")' tabindex="1">
                                <div class="row  margin-top-10">
                                    <div class="col-md-5">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("StartDate")</label>
                                                <input id="stDate"
                                                       name="stDate"
                                                       class="form-control date-picker"
                                                       ng-model="vm.scheduleStartDate" ng-change="validateDate()" autocomplete="off" />
                                             </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("EndDate")</label>
                                                <input id="endDate"
                                                       name="endDate"
                                                       class="form-control date-picker"
                                                       ng-model="vm.scheduleEndDate" ng-change="validateDate()" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label"> @L("Time")</label>
                                            <wy-time-picker data-dropdown-toggle-state="settings.dropdownToggleState"
                                                            data-time-settings="settings.time"
                                                            data-theme="settings.theme"
                                                            data-no-range="settings.noRange"
                                                            data-format="settings.format"
                                                            data-no-validation="timeSettings"
                                                            data-apply-callback="onApplyTimePicker()"
                                                            data-clear-callback="onClearTimePicker()">
                                            </wy-time-picker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  margin-top-20">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <ui-select multiple ng-model="vm.refday" class="form-control">
                                                <ui-select-match placeholder=@L("WeekDays")>{{$item.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="day in vm.refdays">
                                                    <small>
                                                        {{ day.displayText }}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <ui-select multiple ng-model="vm.refmonthday" class="form-control">
                                                <ui-select-match placeholder=@L("MonthDays")>{{$item.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="day in vm.refmonthdays">
                                                    <small>
                                                        {{ day.displayText }}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                                            @L("Add")
                                        </button>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>@L("StartDate")</th>
                                                    <th>@L("EndDate")</th>
                                                    <th>@L("SHourMinute")*</th>
                                                    <th>@L("EHourMinute")*</th>
                                                    <th>@L("Days")*</th>
                                                    <th>@L("MonthDays")*</th>
                                                    <th>@L("")</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="(productIndex, product) in vm.category.screenMenuCategorySchedules">
                                                <td class="col-sm-2">
                                                    {{product.startDate}}
                                                </td>
                                                <td class="col-sm-2">
                                                    {{product.endDate}}
                                                </td>
                                                <td class="col-sm-2">
                                                    {{product.startHour}}:{{product.startMinute}}
                                                </td>
                                                <td class="col-sm-2">
                                                    {{product.endHour}}:{{product.endMinute}}
                                                </td>
                                                <td class="col-sm-3">
                                                    <table ng-if="product.allDays.length>0">
                                                        <tr data-ng-repeat="(pi, p) in product.allDays">
                                                            <td>
                                                                {{ p.displayText }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="col-sm-3">
                                                    <table ng-if="product.allMonthDays.length>0">
                                                        <tr data-ng-repeat="(pi, p) in product.allMonthDays">
                                                            <td>
                                                                {{ p.displayText }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="col-sm-2">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                                                        @L("Delete")
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Image").Pluralize()'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>@L("Image").Pluralize() </h3>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>@L("Name") </th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                                                    <td>
                                                        <strong>{{ file.fileName }}</strong>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                                            <span class="glyphicon  glyphicon-download-alt"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6" style="margin-bottom: 40px">
                                        <h3>@L("Select") </h3>
                                        <input type="file" nv-file-select="" uploader="vm.uploader" multiple accept="image/*" /><br />
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="50%">@L("Name") </th>
                                                    <th>@L("Size")</th>
                                                    <th>@L("Progress")</th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.uploader.queue">
                                                    <td>
                                                        <strong>{{ item.file.name }}</strong>
                                                    </td>
                                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="vm.uploader.isHTML5">
                                                        <div class="progress" style="margin-bottom: 0;">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <div class="row margin-top-15">
                            <div class="col-md-12 text-right">
                                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>

                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid|| vm.menuitem.portions.length==0">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>