﻿<div ng-controller="common.views.outlet.member as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Member")</span>
                    </h1>
                </div>
            </div>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="memberCode" ng-class="{'edited':vm.memberCode}" ng-model="vm.memberCode">
                                    <label>@L("MemberCode")</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.pullDetails()" ng-disabled="detailform.$invalid || vm.menuitem.portions.length==0">
                                        <i class="fa fa-save"></i> <span>@L("Details")</span>
                                    </button>
                                    <label></label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-if="vm.result">
                                <h3>
                                    <span>{{ vm.result.status}}</span>
                                </h3>
                            </div>
                            
                        </div>
                        <div class="row" ng-if="vm.result">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <small class="font-green-sharp">{{ vm.result.totalPoints }}</small>
                                                {{ vm.totalTicketAmount }}
                                            </h3>
                                            <small>@L("TotalPoints").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-pie-chart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">{{ vm.result.totalValue }}</h3>
                                            <small>@L("TotalCurrentValue").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>	