﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cater.customer.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.caterCustomer.id">@L("EditCustomer"): {{vm.caterCustomer.customerName}}</span>
                        <span ng-if="!vm.caterCustomer.id">@L("CreateCustomer")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            @*<button class="btn btn-large green" ng-click="vm.openLocation()">
                    <i class="fa fa-file"></i> <span>@L("Locations")</span>
                </button>*@
        </div>
    </div>

    <div class="portlet light margin-top-10">
        <div class="portlet-body">
            <form name="caterCustomerCreateOrEditForm" role="form" novalidate class="form-validation" ng-submit="vm.save()">

                <div class="form-body">
                    <uib-tabset id="tabs" class="tab-container tabbable-line">
                        <uib-tab heading='@L("General")' tabindex="0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("CustomerName")*</label>
                                        <input class="form-control uppercase" type="text" name="id" ng-class="{'edited':vm.caterCustomer.customerName}" ng-model="vm.caterCustomer.customerName" autofocus required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("LegalEntityName") </label>
                                        <input class="form-control" type="text" name="LegalEntityName"
                                               ng-class="{'edited':vm.caterCustomer.legalEntityName}"
                                               ng-model="vm.caterCustomer.legalEntityName">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("TaxRegistrationNumber") </label>
                                        <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="TaxRegistrationNumber"
                                               ng-class="{'edited':vm.caterCustomer.taxRegistrationNumber}"
                                               ng-model="vm.caterCustomer.taxRegistrationNumber">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("OrderChannel") </label>
                                        <select id="OrderChannel"
                                                class="form-control selectpicker"
                                                data_live_search="true"
                                                ng-options="vm.getEditionValue(item) as item.displayText for item in vm.orderChannels"
                                                ng-model="vm.caterCustomer.orderChannel"></select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("CreditTerm") </label>
                                        <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="CreditTerm"
                                               ng-class="{'edited':vm.caterCustomer.creditTerm}"
                                               ng-model="vm.caterCustomer.creditTerm">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("Email") </label>
                                        <input typeof="email" class="form-control" type="email" name="email"
                                               ng-class="{'edited':vm.caterCustomer.email}"
                                               ng-model="vm.caterCustomer.email">
                                        <div ng-show="caterCustomerCreateOrEditForm.email.$touched && caterCustomerCreateOrEditForm.email.$error.email">
                                            <label class="has-error">
                                                Not valid email!
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("FaxNumber") </label>
                                        <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="FaxNumber"
                                               ng-class="{'edited':vm.caterCustomer.faxNumber}"
                                               ng-model="vm.caterCustomer.faxNumber">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("Website") </label>
                                        <input class="form-control" type="url" name="Website"
                                               ng-class="{'edited':vm.caterCustomer.website}"
                                               ng-model="vm.caterCustomer.website">
                                        <div ng-show="caterCustomerCreateOrEditForm.Website.$touched && caterCustomerCreateOrEditForm.Website.$error.url">
                                            <label class="has-error">
                                                Not valid url!
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("AddOn") </label>
                                        <input class="form-control" type="text" name="AddOn"
                                               ng-class="{'edited':vm.caterCustomer.addOn}"
                                               ng-model="vm.caterCustomer.addOn">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Addresses")' tabindex="1" active="vm.addressTab">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("Address1") </label>
                                        <input class="form-control" type="text" name="Address1"
                                               ng-class="{'edited':vm.address.address1}"
                                               ng-model="vm.address.address1">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("Address2") </label>
                                        <input class="form-control" type="text" name="Address2"
                                               ng-class="{'edited':vm.address.address2}"
                                               ng-model="vm.address.address2">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("Address3") </label>
                                        <input class="form-control" type="text" name="Address3"
                                               ng-class="{'edited':vm.address.address3}"
                                               ng-model="vm.address.address3">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("City") </label>
                                        <input class="form-control" type="text" name="City"
                                               ng-class="{'edited':vm.address.city}"
                                               ng-model="vm.address.city">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("State") </label>
                                        <input class="form-control" type="text" name="State"
                                               ng-class="{'edited':vm.address.state}"
                                               ng-model="vm.address.state">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("Country") </label>
                                        <input class="form-control" type="text" name="Country"
                                               ng-class="{'edited':vm.address.country}"
                                               ng-model="vm.address.country">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("ZipCode") </label>
                                        <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="ZipCode"
                                               ng-class="{'edited':vm.address.zipCode}"
                                               ng-model="vm.address.zipCode">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>@L("PhoneNumber") </label>
                                        <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="PhoneNumber"
                                               ng-class="{'edited':vm.address.phoneNumber}"
                                               ng-model="vm.address.phoneNumber">
                                    </div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <button name="CreateAddress" type="button" class="btn btn-primary" ng-click="vm.createAddress()">
                                        <i class="fa fa-plus"></i> <span>@L("Add")</span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th>@L("Address1")</th>
                                            <th>@L("Address2")</th>
                                            <th>@L("Address3")</th>
                                            <th>@L("City")</th>
                                            <th>@L("State")</th>
                                            <th>@L("Country")</th>
                                            <th>@L("ZipCode")</th>
                                            <th>@L("PhoneNumber")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index, address) in vm.caterCustomer.caterCustomerAddresses">
                                        <td>
                                            <button type="button" class="btn btn-primary" ng-click="vm.removeAddress(index)" title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary" ng-click="vm.editAddress(index, address)" title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </td>
                                        <td>{{address.address1}}</td>
                                        <td>{{address.address2}}</td>
                                        <td>{{address.address3}}</td>
                                        <td>{{address.city}}</td>
                                        <td>{{address.state}}</td>
                                        <td>{{address.country}}</td>
                                        <td>{{address.zipCode}}</td>
                                        <td>{{address.phoneNumber}}</td>
                                    </tr>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>

                <div class="modal-footer">
                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"
                            ng-disabled="caterCustomerCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .has-error {
        color: red;
        margin: 6px 0px;
    }
</style>