﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/file-manager/angular-filemanager.min.css" rel="stylesheet" />

<div>
    <div class="col-12">
        <angular-filemanager></angular-filemanager>
    </div>
</div>