@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<style>
    #outer {
        width: 100%;
        text-align: left;
    }

    .inner {
        display: inline-block;
    }
</style>
<div ng-controller="tenant.views.connect.menu.combogroup.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.group.id">@L("EditComboGroup"): {{vm.group.name}}</span>
                        <span ng-if="!vm.group.id">@L("CreateComboGroup") : {{vm.group.name}}</span>
                    </h1>
                </div>
            </div>
            @*<div class="m-heading-1 border-green m-bordered">
                    <p> @L("CreateComboGroupInfo") </p>
                </div>*@
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("Name") *</label>
                                    <input class="form-control" onkeypress="return AlphaAToZOnly(event, 'cancel')" type="text" name="name" ng-class="{'edited':vm.group.name}" ng-model="vm.group.name" required>
                                </div>
                            </div>
                            <div class="col-md-1 margin-top-30" ng-if="vm.group.id">
                                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal(null)">
                                    <i class="fa fa-file"></i> <span></span>
                                </button>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("SortOrder")</label>
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="number" name="sortOrder" ng-class="{'edited':vm.group.sortOrder}" ng-model="vm.group.sortOrder">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("Minimum")</label>
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="number" name="name" ng-class="{'edited':vm.group.minimum}" ng-model="vm.group.minimum">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("Maximum")</label>
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="number" name="name" ng-class="{'edited':vm.group.maximum}" ng-model="vm.group.maximum">
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input no-hint">
                                    <label>@L("Color")</label>
                                    <input class="form-control" type="text" name="name" ng-class="{'edited':vm.group.color}" ng-model="vm.group.color">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pull-right">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.addComboItem()">@L("AddItem")</button>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-20">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-8">
                                    <caption>
                                        <b> @L("Items")</b>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th>@L("Operations")</th>
                                            <th>@L("Name")</th>
                                            <th class="text-right">@L("Group")</th>
                                            <th class="text-right">@L("SortOrder")</th>
                                            <th class="text-right">@L("Quantity")</th>
                                            <th class="text-right">@L("Price")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.group.comboItems">
                                        <td class="col-xs-2">
                                            <button ng-click="vm.editComboItem(index)" class="btn btn-default btn-xs" title="Edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button ng-click="vm.deleteComboItem(index)" class="btn btn-default btn-xs" title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td class="col-xs-2">
                                            <div id="outer">
                                                <div class="inner">
                                                    <h4>
                                                        <a> {{data.name}} </a>
                                                    </h4>
                                                </div>
                                                <div class="inner">
                                                    <div ng-if="data.id">
                                                        <button class="btn btn-xs green" ng-click="vm.openfileUploaderModal(data)">
                                                            <i class="fa fa-upload"></i> <span></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                        </td>
                                        <td class="col-xs-2">
                                            <h4> <a> {{data.groupTag}} </a></h4>
                                        </td>

                                        <td class="col-xs2" align="right">
                                            <h4 class="font-green-dark"> {{data.sortOrder}} </h4>
                                        </td>

                                        <td class="col-xs2" align="right">
                                            <h4 class="font-green-dark"> {{data.count}} </h4>
                                        </td>
                                        <td class="col-xs2" align="right">
                                            <h4 class="font-green-dark"> {{data.price}} </h4>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row margin-top-15">

                            <div class="col-md-12 pull-right">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                            ng-click="vm.save(0)" ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .portion-price {
        height: 34px;
        padding: 6px;
    }
</style>