﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 70%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">
            <span>@L("Upload")</span>
        </h3>
    </div>
    <div class="modal-body" busy-if="vm.loading">
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 40px">
                <h3>@L("Select") </h3>
                <input id="combogroup" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                        ng-click="vm.uploadFile(true)"
                        ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
            </div>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Name") </th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                            <td>
                                <strong>{{ file.fileName }}</strong>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                    <span class="glyphicon  glyphicon-download-alt"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()">
            <i class="fa fa-save"></i> <span>@L("Save")</span>
        </button>
    </div>
</div>