﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.view.connect.menu.combogroup.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ComboGroup").Pluralize()</span> <small>@L("ComboGroupHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDetailItem()">
                <i class="fa fa-plus"></i> @L("CreateComboGroup")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getAll()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" ng-click="vm.openComboGroup()">@L("ComboGroup")</button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-refresh"></i> @L("Refresh")</button>
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i> @L("Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>