﻿@using DinePlan.DineConnect.Localization
<div>
    <form name="dinePlanForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("ComboGroup")</span>
            </h4>
            <button ng-click="vm.clear()" class="btn default" type="submit">@L("Clear")</button>
        </div>
        <div class="modal-body">
            <uib-tabset id="tabs" class="tab-container tabbable-line">
                <uib-tab heading='@L("ComboGroup")'>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">@L("ComboGroup") - @L("Count") :{{ vm.selectedComboGroups.length }} </label>
                                <ui-select multiple ng-model="vm.selectedComboGroups" ng-change="vm.setComboGroupSelection()" class="form-control">
                                    <ui-select-match placeholder=@L("ComboGroup")>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="combogroup in vm.selectedComboGroups">
                                        <small>
                                            @L("Name"): {{ combogroup.name }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input-group">
                                <input ng-model="vm.filterComboGroupText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getComboGroups()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>

                            <div ui-grid="vm.comboGroupOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>
<style>
    .ui-grid-row, .ui-grid-cell {
        height: 30px !important;
    }
</style>