﻿@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 90%;
    }
</style>
<div class="modal-dialog">
    <form name="invoicetagModalForm" role="form" novalidate class="form-validation">

        <div class="modal-body" busy-if="vm.loading || vm.loadingCount">
            <div class="row">
                <h3 class="modal-title">
                    <span style="color:orangered"> @L("Menu") @L("Items")</span>
                </h3>
            </div>

            <div class="row margin-top-20">
                <table class="table table-condensed table-striped table-bordered col-xs-12">

                    <tr>
                        <th>@L("Name")</th>
                        <th>@L("AliasCode")</th>
                        <th>@L("Price")</th>
                        <th>@L("Category")</th>
                    </tr>


                    <tr data-ng-repeat="(index,data) in vm.menuItems">
                        
                        <td class="col-xs-2">
                            <h4>
                                <a> {{data.name}} </a>
                            </h4>
                        </td>
                        <td class="col-xs-2">
                            <h4> <a> {{data.aliasCode}} </a></h4>
                        </td>

                        <td class="col-xs2">
                            <h4 class="font-green-dark"> {{data.firstPortionPrice}} </h4>
                        </td>

                        <td class="col-xs2">
                            <h4 class="font-green-dark"> {{data.categoryName}} </h4>
                        </td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="modal-footer">
            <button class="pull-right btn btn-danger" name="cancel" type="button" ng-click="vm.close()">@L("Close")</button>
        </div>
    </form>
</div>
