﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.engage.accounttrans as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-8">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("AccountTransaction").Pluralize():</span>
                        <span style="font-size:18px;">{{vm.d.account.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-right">
             <button class="btn btn-primary blue" ng-click="vm.a.goBackToAccountList()">
            <i style="font-size:14px;" class="fa fa-angle-left"></i> @L("GoBack")
        </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.d.filterText"
                                   auto-focus class="form-control"
                                   placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.a.getAccountTransactions()"
                                        class="btn default" type="submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.d.gridAcctTransLoading" style="height: 100%;">
                <div ui-grid="vm.c.gridAcctTrans" style="height: 100%;"
                     ui-grid-pagination ui-grid-resize-columns
                     dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>
