﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>


<div ng-controller="tenant.views.engage.member.createedit as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.member.id">@L("EditMember"): {{vm.member.name}}</span>
                        <span ng-if="!vm.member.id">@L("Createmember")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-10 col-lg-10
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-1 col-lg-offset-1
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body" style="padding:10px;">
                            <div class="form">
                                <form name="detailform">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>@L("MemberCode")</label>
                                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.member.memberCode}" ng-model="vm.member.memberCode" ng-disabled="vm.member.isMemberCodeAutomaticGenerateFlag">
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                @*<div class="form-group">
                                                    <label>@L("Location")</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" value="{{vm.selectedPlant.name}}" disabled>
                                                        <span class="input-group-btn input-group-lg" style="padding-left:5px;">
                                                            <button class="btn" ng-click="vm.openLocationSelectorModal()">
                                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>*@
                                                <div class="form-group">
                                                    <label>@L("Birthday")</label>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" ng-model="vm.member.birthDay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>@L("MembershipTier")</label>
                                                    <select class="form-control"
                                                            ng-options="t.name for t in vm.d.membershipTiers"
                                                            ng-model="vm.member.membershipTier">
                                                    </select>
                                                </div>
                                            </div>
                                            @*<div class="col-md-6" ng-if="vm.member.userId!=null">
                <div class="form-group">
                    <label class="control-label">@L("User")</label>
                    <div>
                        <input type="button" class="btn btn-primary" value='{{ vm.member.userId }} - {{ vm.member.userName }}'>
                    </div>
                </div>

            </div>*@

                                            @*<div class="col-md-6">
                <div class="form-group">
                    <label>@L("User") &nbsp;<a ng-click="vm.clear();vm.upMenuItemLocationPrice.locationId==0;" ng-if="vm.upMenuItemLocationPrice.locationId!=0">@L("Clear")</a></label>
                    <div>
                        <input type="button" class="btn btn-primary" value='@L("Select") @L("User")' ng-if="vm.upMenuItemLocationPrice.locationId==0" data-ng-click="vm.openLocation()">
                        <input type="button" class="btn btn-primary" value="{{ vm.upMenuItemLocationPrice.locationId }} - {{ vm.upMenuItemLocationPrice.locationName }}" ng-if="vm.upMenuItemLocationPrice.locationId!=0" data-ng-click="vm.openLocation()">
                    </div>
                </div>

            </div>*@
                                            @*<div class="col-md-6">
                <div class="form-group">
                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                    <ui-select class="borderself" ng-model="vm.member.locationRefId">
                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                            <div ng-bind="location.name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>*@
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>@L("FirstName")</label>
                                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.member.name}" ng-model="vm.member.name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>@L("LastName")</label>
                                                    <input class="form-control" type="text" name="LastName" ng-class="{'edited':vm.member.lastName}" ng-model="vm.member.lastName">
                                                </div>
                                            </div>
                                        </div>
                                        @*<hr />*@
                                        <div class="modal-footer" style="border-bottom:1px solid #e5e5e5;border-top:none;padding: 5px 0px 15px 15px">
                                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form" ng-if="vm.d.workMode == 'EDIT'">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid btn-group" role="group">
                                        <button id="tabBtn1" ng-click="vm.e.selectTab(1)" type="button" class="btn btn-default navbar-btn">@L("Contact") @L("Details")</button>
                                        <button id="tabBtn2" ng-click="vm.e.selectTab(2)" type="button" class="btn btn-default navbar-btn">@L("Address").Pluralize()</button>
                                    </div>
                                </nav>
                                <div id="tab1">
                                    <div ng-show="vm.addContactShown.value">
                                        <div class="panel panel-info">
                                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                                <h3 class="panel-title bold">
                                                    @L("Contact") @L("Details")
                                                </h3>
                                            </div>
                                            <div id="collapse1" class="collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">@L("Type")</label>
                                                                @*<ui-select class="borderself" id="Type" ng-model="vm.memberContactPortion.contactDetailType" ng-change="vm.onContactTypeChangeEvent(vm.memberContactPortion);">
                                        <ui-select-match placeholder=@L("Type")>{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.contactDetailTypes | filter: $select.search| limitTo: vm.uilimit">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>*@
                                                                <select ng-model="vm.d.ui.selectedContactDetailType" ng-options="t.text for t in vm.d.contactDetailTypes"
                                                                        class="form-control" ng-change="vm.e.contactDetailTypeChange()"
                                                                        aria-describedby="helpBlockDaypart">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>@L("Detail")</label>
                                                                <label>@L("Detail")</label>
                                                                @*OnlyNumber*@
                                                                @*<input class="form-control" type="text" name="Detail" ng-model="vm.memberContactPortion.detail" numbers-only ng-if="vm.memberContactPortion.onlyNumber">*@
                                                                @*All characters*@
                                                                @*<input class="form-control" type="text" name="Detail" ng-model="vm.memberContactPortion.detail" ng-if="!vm.memberContactPortion.onlyNumber">*@
                                                                <input class="form-control" type="text" name="Detail" ng-model="vm.d.memberContact.detail" ng-if="!vm.d.memberContactDetailIsNumber">
                                                                <input class="form-control" type="text" name="Detail" ng-model="vm.d.memberContact.detail" numbers-only ng-if="vm.d.memberContactDetailIsNumber">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <div class="md-checkbox">
                                                                    @*<input id="AcceptToCommunicate" class="md-check" type="checkbox" ng-model="vm.memberContactPortion.acceptToCommunicate">*@
                                                                    <input id="AcceptToCommunicate" class="md-check" type="checkbox" ng-model="vm.d.memberContact.acceptToCommunicate">
                                                                    <label for="AcceptToCommunicate">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span>
                                                                        @L("Accept") @L("To") @L("Communicate")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3" style="text-align:right;">

                                                        </div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                            @*<button type="submit" class="btn btn-primary" data-ng-click="vm.addContactDetails(vm.memberContactPortion)">
                                    @L("Add") @L("Contact") @L("Details")
                                </button>*@
                                                            <button type="button" class="btn btn-default" ng-click="vm.e.cancelContactBtnClick()">@L("Cancel")</button>
                                                            <button type="submit" class="btn btn-primary" ng-click="vm.e.addBtnClick()">
                                                                <span ng-if="vm.d.memberContact.id<=0">@L("Add")</span>
                                                                <span ng-if="vm.d.memberContact.id>0">@L("Save")</span>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-30">
                                            @*<div class="col-sm-12" ng-if="vm.memberContactDetail.length>0">*@
                                            <div class="col-sm-12" ng-if="vm.memberContactDetail.length==-1">
                                                <table class="table table-striped table-bordered col-sm-12">
                                                    <thead>
                                                        <tr class="table__highlight">
                                                            <th>@L("Operation")</th>
                                                            <th>@L("Type")</th>
                                                            <th>@L("Detail")</th>
                                                            <th>@L("Communicate")</th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                    <tr data-ng-repeat="(index,data) in vm.memberContactDetail">
                                                        <td class="col-xs-1">
                                                            <button class="btn btn-danger" data-ng-click="vm.removeContactDetails(index)"><i class="fa fa-trash-o" /> </button>
                                                            <button class="btn btn-primary" value="-" data-ng-click="vm.editContactDetails(data)"><i class="fa fa-edit"></i></button>
                                                        </td>

                                                        <td class="col-xs-1">
                                                            {{data.contactDetailTypeName}}
                                                        </td>
                                                        <td class="col-xs-1">
                                                            {{data.detail}}
                                                        </td>
                                                        <td class="col-xs-1">
                                                            <span ng-show="data.acceptToCommunicate" class="label label-success"> @L("Yes")</span>
                                                            <span ng-show="!data.acceptToCommunicate" class="label label-danger">@L("No")</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!vm.addContactShown.value">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button class="btn btn-primary blue" ng-disabled="vm.d.workMode===vm.c.workMode.add" ng-click="vm.e.newContactBtnClick()">
                                                    <i class="fa fa-plus"></i> <span>@L("NewContact")</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div style="width:100%; height:10px;"></div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div busy-if="vm.d.memberContactDetailLoading" style="height: 100%;">
                                                    <div ui-grid="vm.contactGridOptions" style="height: 100%;"
                                                         ui-grid-pagination ui-grid-resize-columns
                                                         dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                                            <h3 class="panel-title bold">
                                                @L("Address").Pluralize()
                                            </h3>
                                        </div>
                                        <div id="collapse2" class="collapse in">
                                            <div class="panel-body">
                                                <form name="memberAddressForm" class="form-validation">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div busy-if="vm.d.memberAddressLoading" style="height: 100%;">
                                                                <div ui-grid="vm.addressGridOptions" style="height: 100%;"
                                                                     ui-grid-pagination ui-grid-resize-columns
                                                                     dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>@L("Tag")</label>
                                                                        @*<input class="form-control" type="text" name="Tag" ng-model="vm.memberAddressPortion.tag">*@
                                                                        <input class="form-control" required ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="Tag" ng-model="vm.d.memberAddress.tag">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>@L("Address")</label>
                                                                        @*<input class="form-control" type="text" name="Address" ng-model="vm.memberAddressPortion.address">*@
                                                                        <input class="form-control" required ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="Address" ng-model="vm.d.memberAddress.address">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>@L("Locality")</label>
                                                                        @*<input class="form-control" type="text" name="Locality" ng-model="vm.memberAddressPortion.locality">*@
                                                                        <input class="form-control" ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="Locality" ng-model="vm.d.memberAddress.locality">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>@L("City")</label>
                                                                        @*<input class="form-control" type="text" name="City" ng-model="vm.memberAddressPortion.city">*@
                                                                        <input class="form-control" ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="City" ng-model="vm.d.memberAddress.city">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>@L("PostalCode")</label>
                                                                        @*<input class="form-control" type="text" name="PostalCode" ng-model="vm.memberAddressPortion.postalCode" numbers-only>*@
                                                                        <input class="form-control" ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="PostalCode" ng-model="vm.d.memberAddress.postalCode" numbers-only>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>@L("State")</label>
                                                                        @*<input class="form-control" type="text" name="State" ng-model="vm.memberAddressPortion.state">*@
                                                                        <input class="form-control" ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="State" ng-model="vm.d.memberAddress.state">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>@L("Country")</label>
                                                                        @*<input class="form-control" type="text" name="Country" ng-model="vm.memberAddressPortion.country">*@
                                                                        <input class="form-control" ng-disabled="vm.d.ui.addressInputDisabled" type="text" name="Country" ng-model="vm.d.memberAddress.country">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 margin-top-20">
                                                                    <div class="form-group">
                                                                        <div class="md-checkbox">
                                                                            @*<input id="Primary" class="md-check" type="checkbox" ng-model="vm.memberAddressPortion.isPrimary">*@
                                                                            <input id="Primary" ng-disabled="vm.d.ui.addressInputDisabled" class="md-check" type="checkbox" ng-model="vm.d.memberAddress.isPrimary">
                                                                            <label for="Primary">
                                                                                <span class="inc"></span>
                                                                                <span class="check"></span>
                                                                                <span class="box"></span>
                                                                                @L("Primary")
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 margin-top-20">
                                                                    @*<button type="submit" class="btn btn-primary" data-ng-click="vm.addMemberAddress(vm.memberAddressPortion)">
                                            <span ng-if="vm.d.ui.addressDisabled">@L("Add")</span><span ng-if="!vm.d.ui.addressDisabled">@L("Save")</span>
                                        </button>*@
                                                                    <button type="submit" class="btn btn-primary"
                                                                            button-busy="vm.d.ui.addAddressBntBuzy"
                                                                            ng-disabled="(memberAddressForm.$invalid && !vm.d.ui.addressInputDisabled)||vm.d.ui.addAddressBntBuzy"
                                                                            data-ng-click="vm.e.addressAddBtnClick()">
                                                                        <span ng-if="vm.d.ui.addressInputDisabled">@L("Add")</span>
                                                                        <span ng-if="!vm.d.ui.addressInputDisabled">@L("Save")</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-30">
                                        @*<div class="col-sm-12" ng-if="vm.memberAddress.length>0">*@
                                        <div class="col-sm-12" ng-if="vm.memberAddress.length==-1">
                                            <table class="table table-striped table-bordered col-sm-12">
                                                <thead>
                                                    <tr class="table__highlight">
                                                        <th>@L("Operation")</th>
                                                        <th>@L("Tag")</th>
                                                        <th>@L("AddressDetails")</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                <tr data-ng-repeat="(index,data) in vm.memberAddress">
                                                    <td class="col-xs-1">
                                                        <button class="btn btn-danger" data-ng-click="vm.removeMemberAddress(index)"><i class="fa fa-trash-o" /> </button>
                                                        <button class="btn btn-primary" value="-" data-ng-click="vm.editMemberAddress(data)"><i class="fa fa-edit"></i></button>
                                                    </td>
                                                    <td class="col-xs-1">
                                                        {{data.tag}}
                                                    </td>
                                                    <td class="col-xs-1">
                                                        <span ng-if="data.address!=null">{{data.address}}</span><br />
                                                        <span ng-if="data.locality!=null">{{data.locality}}</span><br />
                                                        <span ng-if="data.city!=null">{{data.city}}</span><br />
                                                        <span ng-if="data.postalCode!=null">{{data.postalCode}}</span><br />
                                                        <span ng-if="data.state!=null">{{data.state}}</span><br />
                                                        <span ng-if="data.country!=null">{{data.country}}</span><br />
                                                        <span ng-show="data.isPrimary" class="label label-success">@L("Primary") : @L("Yes")</span>
                                                        <span ng-show="!data.isPrimary" class="label label-danger">@L("Primary") : @L("No")</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1"></div>
        </div>
    </div>

</div>
<style>
    .tabbable-line > .tab-content {
        padding-top: 15px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-default {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
    }

    .navbar {
        margin-bottom: 5px;
    }
</style>