﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.engage.membershiptier as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Membership") @L("Tier")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body" style="padding-left:10px;padding-right:10px;">
                            <div class="form">
                                <form name="xxxCreateOrEditForm"
                                      role="form" novalidate class="form-validation">

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" name="tierName"
                                                       ng-model="vm.d.membershipTier.name">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>@L("Price")</label>
                                                <input class="form-control" type="number" name="price"
                                                       ng-model="vm.d.membershipTier.price">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>@L("Description")</label>
                                                <textarea class="form-control"
                                                    rows="3"
                                                    ng-model="vm.d.membershipTier.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("RewardingPoints")</label>
                                                <input class="form-control" type="text" name="tierName"
                                                       ng-model="vm.d.membershipTier.rewardingPoints">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("RewardingVoucher")</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" value="{{vm.d.membershipTier.rewardingVoucher.name}}" disabled>
                                                    <span class="input-group-btn" style="padding-left:5px;">
                                                        <button class="btn default" ng-click="vm.a.openModal()">
                                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("HowMany")</label>
                                                <input class="form-control" type="number" name="price"
                                                       ng-model="vm.d.membershipTier.rewardingVoucherCount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("CashPaymentDiscount")</label>
                                                <input class="form-control" type="text" name="tierName"
                                                       ng-model="vm.d.membershipTier.cashPaymentDiscount">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label>@L("CreditCardPaymentDiscount")</label>
                                                <input class="form-control" type="number" name="price"
                                                       ng-model="vm.d.membershipTier.creditCardPaymentDiscount">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            @*<div class="form-group">
                                                <label>@L("SpendingAmountToEarnAPoint")</label>
                                                <input class="form-control" type="number" name="spendingAmount"
                                                       ng-model="vm.d.membershipTier.amountToEarnOnpoint">
                                            </div>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>@L("Benefits")</label>
                                                <textarea class="form-control" 
                                                    rows="3"
                                                    ng-model="vm.d.membershipTier.textOfBenefits"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>@L("Conditions")</label>
                                                <textarea class="form-control"
                                                    rows="3"
                                                    ng-model="vm.d.membershipTier.textOfConditions"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-default"
                                    ng-click="vm.a.goBackToList()">
                                @L("Cancel")
                            </button>
                            <button type="submit" button-busy="vm.saving"
                                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.a.saveMembershipTier()" ng-disabled="xxxCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>
