﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 90%;
    }

    .thumbnail {
        text-align: center;
    }

    a:hover {
        background-color: lightgreen;
    }

   
</style>


<div class="modal-dialog">
    <form name="allowanceDeductionForm" role="form" novalidate class="form-validation">
        <div class="modal-header" busy-if="vm.loading || vm.loadingCount">
            <h3>
                {{vm.salaryTag.employeeRefId}} - {{vm.salaryTag.employeeRefCode}} - {{vm.salaryTag.employeeRefName}}
                <span style="color:purple" ng-if="vm.employeeSkillSetList.length>0">
                    <span>( @L("SkillSet") :  <span ng-repeat="(index,skill)  in vm.employeeSkillSetList"> {{skill.skillCode}} <span ng-if="index + 1 != vm.employeeSkillSetList.length "> , </span> </span> )</span>
                </span>
            </h3>
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.salaryTag.id">@L("Edit"): {{vm.salaryTagMode}} -  {{vm.salaryTag.salaryRefName}}</span>
                <span ng-if="!vm.salaryTag.id">@L("Create") {{vm.salaryTagMode}} - @L("Salary") @L("Tag")  </span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading || vm.loadingCount">
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">@L("Salary") @L("Tag") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                <ui-select ng-disabled="vm.salaryTag.id != null || vm.salaryTag.id>0" class="borderself" ng-model="vm.salaryTag.salaryRefId" ng-change="vm.getIncentive($select.selected)" name="SalaryTag" id="SalaryTag" required>
                                    <ui-select-match id="salaryRefId" placeholder="Select Tag ...">{{$select.selected.incentiveTagCode}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.referenceTagList | filter: $select.search">
                                        <div ng-bind="item.incentiveTagCode"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-if="vm.salaryTag.id != null || vm.salaryTag.id>0" class="blue help-block bold">You can not change the Salary Tag once created, If you want to change then you need to delete this tag and create a new one !!!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                <label>@L("AliasName")</label>
                                <input type="text" id="SalaryTagAliasName" ng-model="vm.salaryTag.salaryTagAliasName" class="form-control " />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                <label> @L("Amount") ({{vm.salaryTagMode}})</label>
                                <input ng-disabled="vm.salaryTag.isSytemGeneratedIncentive" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" class="form-control text-right " type="number" name="Amount" id="Amount" ng-class="{'edited':vm.salaryTag.amount}" ng-model="vm.salaryTag.amount" required>
                            </div>
                            <span ng-if="vm.salaryTag.isSytemGeneratedIncentive" class="help-block">System Generated Tag</span>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                <label>@L("Effective") @L("From") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                <input onkeydown="return false" type="text" name="Effective Date" id="Effective Date" ng-model="vm.salaryTag.effectiveFrom" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-xs-12">
                            <div class="md-checkbox">
                                <input id="IsFixedAmount" class="md-check" type="checkbox" name="IsFixedAmount" ng-class="{'edited':vm.salaryTag.isFixedAmount}" ng-model="vm.salaryTag.isFixedAmount">
                                <label for="IsFixedAmount">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("FixedAmount")
                                </label>
                            </div>
                            <span class="blue help-block bold">If {{vm.salaryTagMode}} is Fixed for the Month, entire amount will be calculated for Salary processing. </span>
                        </div>
                      
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">@L("CalculationPeriod") @L("Mode") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                <ui-select class="borderself" ng-model="vm.salaryTag.calculationPayModeRefId" name="CalculationPayModeRefName" id="CalculationPayModeRefName" required>
                                    <ui-select-match id="CalculationPayModeRefName" placeholder="Select Tag ...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refincentivePayMode | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="blue help-block bold">Based on this, Amount will be calculated Monthly or Daily </span>
                            </div>

                        </div>

                    </div>
                    <div class="row margin-top-30">
                        <div class="col-md-12 ">
                            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                <label>@L("Remarks")</label>
                                <input type="text" id="Remarks" ng-model="vm.salaryTag.remarks" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="selectSalaryTag" @*style="border-style:solid"*@ class="col-xs-8">
                    <div class="row" ng-hide="vm.fullPost">
                        <ul class="list-unstyled" ng-cloak>
                            <li ng-repeat="post in vm.referenceTagList" class="col-xs-3">
                                <a style="background-color:linen; color:black; border-color:blue; font-weight:bold" href="" class="thumbnail" ng-click="vm.setFullPost(post)">
                                    {{post.incentiveTagCode}}
                                    <br />
                                    {{post.incentiveAmount}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-8">
                            <div style="Background-color:#b5c689" class="jumbotron" ng-show="vm.fullPost" ng-cloak>
                                <button class="btn btn-success pull-left" ng-click="vm.setIncentive(vm.fullPost);">@L("Confirm") <i class="fa fa-check-square-o"></i></button>
                                <button class="btn btn-danger pull-right" ng-click="vm.fullPost = null">  @L("Cancel") <i class="fa fa-times"></i></button>
                                <h2 class="text-center" style="color:blue">{{vm.fullPost.incentiveTagCode}} </h2>
                                <h4 class="text-center">
                                    <span>@L("Default") @L("Amount")  : <span style="color:blue"> {{vm.fullPost.incentiveAmount}} </span></span>
                                </h4>
                                <h4 class="text-center">
                                    <span>@L("Amount") @L("Range") : <span style="color:blue">{{vm.fullPost.minRange}} - {{vm.fullPost.maxRange}} </span></span>
                                </h4>
                            </div>
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="help" ng-show="allowanceDeductionForm.$invalid" type="button" class="btn btn-default" ng-click="vm.helpRequired = true;">@L("Help")</button>
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>

            <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="allowanceDeductionForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
        <div ng-if="vm.helpRequired">
            <ul>
                <li ng-repeat="(key, errors) in allowanceDeductionForm.$error track by $index">
                    <strong>{{ key }}</strong> errors
                    <ul>
                        <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </form>
</div>

