﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="tenant.views.hr.master.salaryinfo.salaryinfo as vm">
    <form name="salaryinfoCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="row">
            <div class="col-xs-1">
                <img ng-dblclick="vm.changePicture(null)" ng-if="vm.salaryinfo.profilePictureId"
                     ng-src="@Url.Action("GetPerInfoPictureById", "PersonalInformation")?id={{vm.salaryinfo.profilePictureId}}" width="75" height="75"
                     class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                <img ng-dblclick="vm.changePicture(vm.salaryinfo.employeeRefId)" ng-if="!vm.salaryinfo.profilePictureId"
                     src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="72" height="72" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <h3 class="modal-title" style="color:red">
                        <span ng-if="vm.salaryinfo.id">{{vm.salaryinfo.id}} - {{vm.salaryinfo.employeeRefName}} - {{vm.salaryinfo.employeeRefCode}} </span>
                    </h3>
                </div>
                <div class="row" style="color:purple" ng-if="vm.employeeSkillSetList.length>0">
                    <span>{{vm.salaryinfo.jobTitle}} </span> &nbsp; <a ng-click="vm.openEmployeeSkillSetModal(vm.salaryinfo.employeeRefId)">@L("SkillSet") :  <span ng-repeat="(index,skill)  in vm.employeeSkillSetList"> {{skill.skillCode}} <span ng-if="index + 1 != vm.employeeSkillSetList.length "> , </span> </span> {{vm.employeeSkills}}</a>
                </div>
                <div class="row" ng-if="vm.salaryinfo.residentStatus!=null">
                    <span> @L("ResidentStatus") : <span style="color:purple"> {{vm.salaryinfo.residentStatus}} </span></span> &nbsp; <span> @L("Race") : <span style="color:purple">{{vm.salaryinfo.race}} </span></span> &nbsp; <span> @L("Religion") :<span style="color:purple"> {{vm.salaryinfo.religion}} </span></span> &nbsp;
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <h3 class="modal-title" style="color:red">
                    {{vm.salaryinfo.companyPrefix}} - {{vm.salaryinfo.companyRefName}}
                </h3>
            </div>
        </div>

        <div class="portlet light" busy-if="vm.loadingCount || vm.loading">
            <div class="portlet-body">
                <uib-tabset class="success" active="active" type="pills">
                    <uib-tab heading="@L("Salary")">
                        <div class="row" ng-disabled="vm.editFlag==false">
                            <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                                <div class="form-group">
                                    <label>@L("Pay") @L("Mode")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select required class="borderself" id="PayCalculation" name="PayCalculation" ng-required="true" ng-model="vm.salaryinfo.salaryMode" ng-disabled="vm.editFlag==false">
                                        <ui-select-match class="input-lg" placeholder="Select ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices class="input-lg" repeat="item.value as item in vm.refSalaryCalculationType | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                                <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                    <label>@L("BasicSalary")</label>
                                    <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" name="BasicSalary" ng-class="{'edited':vm.salaryinfo.basicSalary}" ng-model="vm.salaryinfo.basicSalary" required>
                                </div>
                            </div>
                            <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                                <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                    <label>@L("WeekDays") @L("OT")</label>
                                    <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" name="levy" ng-class="{'edited':vm.salaryinfo.ot1PerHour}" ng-model="vm.salaryinfo.ot1PerHour" required>
                                </div>
                            </div>
                            <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                                <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                    <label>@L("WeekOff")/@L("PH") @L("OT")/@L("Hour") </label>
                                    <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" id="Deduction" name="Deduction" ng-class="{'edited':vm.salaryinfo.ot2PerHour}" ng-model="vm.salaryinfo.ot2PerHour">
                                </div>
                            </div>
                            @*<div class="col-xs-1">
                                <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                    <label>@L("Report") @L("OT") </label>
                                    <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" id="ReportOtPerHour" name="ReportOtPerHour" ng-class="{'edited':vm.salaryinfo.reportOtPerHour}" ng-model="vm.salaryinfo.reportOtPerHour">
                                </div>
                            </div>*@
                            <div class="col-xs-1">
                                <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                    <label>@L("Normal") @L("Hour")</label>
                                    <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" id="normalOTPerHour" name="normalOTPerHour" ng-class="{'edited':vm.salaryinfo.normalOTPerHour}" ng-model="vm.salaryinfo.normalOTPerHour">
                                </div>
                            </div>
                            <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                                <div class="form-group">
                                    <label>@L("OT") @L("Incentive") @L("Period")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select required class="borderself" id="PayCalculation" name="PayCalculation" ng-required="true" ng-model="vm.salaryinfo.incentiveAndOTCalculationPeriodRefId" ng-disabled="vm.editFlag==false">
                                        <ui-select-match class="input-lg" placeholder="Select ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices class="input-lg" repeat="item.value as item in vm.refOTAndIncentiveCalculationTypes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.salaryinfo.salaryMode==2">
                            <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                                <div class="form-group">
                                    <label>@L("Hourly") @L("Calc") @L("Mode")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select required class="borderself" id="PayCalculation" name="PayCalculation" ng-required="true" ng-model="vm.salaryinfo.hourlySalaryModeRefId" ng-disabled="vm.editFlag==false">
                                        <ui-select-match class="input-lg" placeholder="Hourly Mode...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices class="input-lg" repeat="item.value as item in vm.refHourlySalaryModes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row" busy-if="vm.loadingCount || vm.loading">
                                <div class="row margin-top-20" style="border-style:solid; border-color:lightblue">
                                    <div class="col-xs-6">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <caption style="color:blue; font-size:large" class="text-center">
                                                @L("Allowance") &nbsp; <a style="font-size:x-small" ng-click="vm.loading = true;vm.addAllowanceOrDeduction(1,null)">@L("Add")</a>
                                            </caption>
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete") / @L("Edit")</th>
                                                    <th>@L("Description")</th>
                                                    <th class="text-center">@L("Effective") @L("Date")</th>
                                                    <th>@L("Amount")</th>
                                                    <th>@L("Remarks")</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="(index,data) in vm.allowanceSalaryTagList">
                                                <td class="col-xs-2">
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.removeAllowance(data)"><i class="fa fa-trash"></i></button>
                                                    @*<button class="btn btn-primary" value="-" data-ng-click="vm.(index)"><i class="fa fa-trash"></i></button>*@
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.loading = true;vm.addAllowanceOrDeduction(1,data)"><i class="fa fa-edit"></i></button>
                                                </td>
                                                <td class="col-xs-4">
                                                    {{data.salaryRefName}}
                                                </td>
                                                <td class="col-xs-2 text-center">
                                                    <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                    <br ng-if="data.rollBackFrom!=null"></br>
                                                    <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                </td>
                                                <td class="col-xs-1 text-right">
                                                    <span style="color:blue"> {{data.amount | number : 2}}  </span>
                                                </td>
                                                <td class="col-xs-4">
                                                    <span ng-if="data.isFixedAmount"> @L("Fixed") <br /></span>
                                                    <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Allowance") <br /></span>
                                                    {{data.remarks}}
                                                    <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="vm.allowanceSalaryTagList.length>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0">@L("Total") @L("Allowance")</span> <span ng-if="vm.salaryinfo.overAllAllowance==0" style="color:cornflowerblue">  ( Some Allowance Daily mode, so total allowance seems N/A )   </span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0 && vm.salaryinfo.overAllAllowance>0"><span style="color:blue; font-size:medium"> {{vm.salaryinfo.overAllAllowance | number : 2}}  </span></span>
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0 && vm.salaryinfo.overAllAllowance==0">N/A</span>


                                                </td>
                                                <td>
                                                    <a ng-click="vm.loading = true;vm.addAllowanceOrDeduction(1,null)">@L("Add") @L("Next")</a>
                                                </td>
                                            </tr>
                                            <tr ng-if="vm.allowanceSalaryTagList.length>0 && vm.salaryinfo.salaryMode==0 && vm.salaryinfo.overAllAllowance>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0">@L("Total") @L("Monthly") @L("Salary")</span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0"><span style="color:blue; font-size:medium"> {{ vm.salaryinfo.basicSalary + vm.salaryinfo.overAllAllowance | number : 2}}  </span></span>
                                                </td>
                                                <td class="text-right"></td>
                                            </tr>

                                        </table>
                                    </div>

                                    <div class="col-xs-6">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <caption style="color:orangered;  font-size:large" class="text-center">@L("Deduction") &nbsp; <a @*ng-if="vm.deductionSalaryTagList.length==0"*@ style="font-size:x-small" ng-click="vm.loading = true;vm.addAllowanceOrDeduction(2,null)"> @L("Add")</a> </caption>
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete") / @L("Edit")</th>
                                                    <th>@L("Description")</th>
                                                    <th class="text-center">@L("Effective") @L("Date")</th>
                                                    <th>@L("Amount")</th>
                                                    <th>@L("Remarks")</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="(index,data) in vm.deductionSalaryTagList">
                                                <td class="col-xs-2">
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.removeAllowance(data)"><i class="fa fa-trash"></i></button>
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.loading = true;vm.addAllowanceOrDeduction(2,data)"><i class="fa fa-edit"></i></button>
                                                </td>
                                                <td class="col-xs-4">
                                                    {{data.salaryRefName}}
                                                </td>
                                                <td class="col-xs-2 text-center">
                                                    <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                    <br ng-if="data.rollBackFrom!=null" />
                                                    <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                </td>
                                                <td class="col-xs-1 text-right">
                                                    <span style="color:orangered"> {{data.amount | number : 2}}  </span>
                                                </td>
                                                <td class="col-xs-4">
                                                    <span ng-if="data.isFixedAmount"> @L("Fixed") <br /></span>
                                                    <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Deduction") <br /></span>
                                                    {{data.remarks}}
                                                    <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="vm.deductionSalaryTagList.length>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.deductionSalaryTagList.length>0">@L("Total")</span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.deductionSalaryTagList.length>0 && vm.salaryinfo.overAllDeduction>0"><span style="color:orangered; font-size:medium"> {{vm.salaryinfo.overAllDeduction | number : 2}}  </span></span>
                                                    <span style="color:orangered" ng-if="vm.salaryinfo.overAllDeduction==0">N/A</span>
                                                </td>
                                                <td>
                                                    <a ng-click="vm.loading = true;vm.addAllowanceOrDeduction(2,null)">@L("Add") @L("Next")</a>
                                                </td>
                                            </tr>
                                            @*<tr ng-if="vm.deductionSalaryTagList.length>0 && vm.salaryinfo.salaryMode==0 && vm.salaryinfo.overAllDeduction>0">
                                                    <td class="text-right" colspan="3">
                                                        <span ng-if="vm.deductionSalaryTagList.length>0">@L("Total")  @L("Monthly") @L("Deduction")</span> <span ng-if="vm.salaryinfo.overAllDeduction==0" style="color:cornflowerblue">  ( Some Deduction Daily mode, so total deduction seems N/A )   </span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span ng-if="vm.deductionSalaryTagList.length>0 && vm.salaryinfo.overAllDeduction>0"><span style="color:orangered; font-size:medium"> {{vm.salaryinfo.overAllDeduction | number : 2}}  </span></span>
                                                        <span ng-if="vm.deductionSalaryTagList.length>0 && vm.salaryinfo.overAllDeduction==0"><span style="color:orangered; font-size:medium">N/A </span></span>
                                                    </td>
                                                    <td class="text-right"></td>
                                                </tr>*@
                                        </table>

                                    </div>
                                </div>
                                <div class="row margin-top-20" style="border-style:solid; border-color:lightblue">
                                    <div class="col-xs-6">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <caption style="color:blue; font-size:large" class="text-center">
                                                @L("Statutory") @L("Allowance") &nbsp; <a style="font-size:x-small" ng-click="vm.loading = true;vm.addAllowanceOrDeduction(3,null)">@L("Add")</a>
                                            </caption>
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete") / @L("Edit")</th>
                                                    <th>@L("Description")</th>
                                                    <th class="text-center">@L("Effective") @L("Date")</th>
                                                    <th>@L("Amount")</th>
                                                    <th>@L("Remarks")</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="(index,data) in vm.statutoryAllowanceSalaryTagList">
                                                <td class="col-xs-2">
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.removeAllowance(data)"><i class="fa fa-trash"></i></button>
                                                    @*<button class="btn btn-primary" value="-" data-ng-click="vm.(index)"><i class="fa fa-trash"></i></button>*@
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.loading = true;vm.addAllowanceOrDeduction(3,data)"><i class="fa fa-edit"></i></button>
                                                    @*<a ng-click="vm.addAllowanceOrDeduction(3,data)"><span>@L("Edit")</span> </a>*@
                                                </td>
                                                <td class="col-xs-4">
                                                    {{data.salaryRefName}}
                                                </td>
                                                <td class="col-xs-2 text-center">
                                                    <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                    <br ng-if="data.rollBackFrom!=null"></br>
                                                    <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                </td>
                                                <td class="col-xs-1 text-right">
                                                    <span style="color:blue"> {{data.amount | number : 2}}  </span>
                                                </td>
                                                <td class="col-xs-4">
                                                    <span ng-if="data.isFixedAmount"> @L("Fixed") <br /></span>
                                                    <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Allowance") <br /></span>
                                                    {{data.remarks}}
                                                    <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-hide="true" ng-if="vm.statutoryAllowanceSalaryTagList.length>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.statutoryAllowanceSalaryTagList.length>0">@L("Total") @L("Statutory") @L("Allowance")</span> <span ng-if="vm.salaryinfo.overAllStatutoryAllowance==0" style="color:cornflowerblue">  ( Some Allowance Daily mode, so total allowance seems N/A )   </span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.statutoryAllowanceSalaryTagList.length>0 && vm.salaryinfo.overAllStatutoryAllowance>0"><span style="color:blue; font-size:medium"> {{vm.salaryinfo.overAllStatutoryAllowance | number : 2}}  </span></span>
                                                    <span ng-if="vm.statutoryAllowanceSalaryTagList.length>0 && vm.salaryinfo.overAllStatutoryAllowance==0">N/A</span>


                                                </td>
                                                <td>
                                                    <a ng-click="vm.loading = true;vm.addAllowanceOrDeduction(3,null)">@L("Add") @L("Next")</a>
                                                </td>
                                            </tr>
                                            <tr ng-hide="true" ng-if="vm.allowanceSalaryTagList.length>0 && vm.salaryinfo.salaryMode==0 && vm.salaryinfo.overAllAllowance>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0">@L("Total") @L("Monthly") @L("Salary")</span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0"><span style="color:blue; font-size:medium"> {{ vm.salaryinfo.basicSalary + vm.salaryinfo.overAllAllowance | number : 2}}  </span></span>
                                                </td>
                                                <td class="text-right"></td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-xs-6">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <caption style="color:orangered; font-size:large" class="text-center">
                                                @L("Statutory") @L("Deduction") &nbsp; <a style="font-size:x-small" ng-click="vm.loading = true;vm.addAllowanceOrDeduction(4,null)">@L("Add")</a>
                                            </caption>
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete") / @L("Edit")</th>
                                                    <th>@L("Description")</th>
                                                    <th class="text-center">@L("Effective") @L("Date")</th>
                                                    <th>@L("Amount")</th>
                                                    <th>@L("Remarks")</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="(index,data) in vm.statutoryDeductionSalaryTagList">
                                                <td class="col-xs-2">
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.removeAllowance(data)"><i class="fa fa-trash"></i></button>
                                                    @*<button class="btn btn-primary" value="-" data-ng-click="vm.(index)"><i class="fa fa-trash"></i></button>*@
                                                    <button class="btn btn-primary" value="-" data-ng-click="vm.loading = true;vm.addAllowanceOrDeduction(4,data)"><i class="fa fa-edit"></i></button>
                                                    @*<a ng-click="vm.addAllowanceOrDeduction(4,data)"><span>@L("Edit")</span> </a>*@
                                                </td>
                                                <td class="col-xs-4">
                                                    {{data.salaryRefName}}
                                                </td>
                                                <td class="col-xs-2 text-center">
                                                    <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                    <br ng-if="data.rollBackFrom!=null"></br>
                                                    <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                                </td>
                                                <td class="col-xs-1 text-right">
                                                    <span style="color:blue"> {{data.amount | number : 2}}  </span>
                                                </td>
                                                <td class="col-xs-4">
                                                    <span ng-if="data.isFixedAmount"> @L("Fixed") <br /></span>
                                                    <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Deduction") <br /></span>
                                                    {{data.remarks}}
                                                    <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-hide="true" ng-if="vm.statutoryDeductionSalaryTagList.length>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.statutoryDeductionSalaryTagList.length>0">@L("Total") @L("Statutory") @L("Deduction")</span> <span ng-if="vm.salaryinfo.overAllStatutoryAllowance==0" style="color:cornflowerblue">  ( Some Allowance Daily mode, so total allowance seems N/A )   </span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.statutoryDeductionSalaryTagList.length>0 && vm.salaryinfo.overAllStatutoryAllowance>0"><span style="color:blue; font-size:medium"> {{vm.salaryinfo.overAllStatutoryAllowance | number : 2}}  </span></span>
                                                    <span ng-if="vm.statutoryDeductionSalaryTagList.length>0 && vm.salaryinfo.overAllStatutoryAllowance==0">N/A</span>


                                                </td>
                                                <td>
                                                    <a ng-click="vm.loading = true;vm.addAllowanceOrDeduction(4,null)">@L("Add") @L("Next")</a>
                                                </td>
                                            </tr>
                                            <tr ng-hide="true" ng-if="vm.allowanceSalaryTagList.length>0 && vm.salaryinfo.salaryMode==0 && vm.salaryinfo.overAllAllowance>0">
                                                <td class="text-right" colspan="3">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0">@L("Total") @L("Monthly") @L("Salary")</span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-if="vm.allowanceSalaryTagList.length>0"><span style="color:blue; font-size:medium"> {{ vm.salaryinfo.basicSalary + vm.salaryinfo.overAllAllowance | number : 2}}  </span></span>
                                                </td>
                                                <td class="text-right"></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="@L("IncentiveTag")" ng-click="vm.refreshDailyIncentiveList();">
                        <div class="row" ng-disabled="vm.editFlag==false" busy-if="vm.loading || vm.loadingCount || vm.saving">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input  no-hint">
                                    <label class="control-label">@L("IncentiveTag")*</label>
                                    <ui-select style="color:lightpink" autofocus multiple id="incentiveTags" required ng-model="vm.incentiveList" ng-change="vm.refreshDailyIncentiveList()" class="form-control">
                                        <ui-select-match style="background-color:indigo; color:white" class="bold"><span style="color:purple"> {{$item.incentiveTagCode}}</span></ui-select-match>
                                        <ui-select-choices repeat="item as item in vm.refIncentiveTags | filter: $select.search">
                                            <div ng-bind="item.incentiveTagCode"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30" busy-if="vm.loading || vm.loadingCount  || vm.saving">
                            <div id="selectSalaryTag" @*style="border-style:solid"*@ class="col-xs-12">
                                <div class="row" ng-hide="vm.fullPost">
                                    <ul class="list-unstyled" ng-cloak>
                                        <li ng-repeat="post in vm.refdailyIncentivePending" class="col-xs-2">
                                            <a style="background-color:lightgoldenrodyellow; color:black; font-weight:bold; border-color:blue" href="" class="thumbnail text-center" ng-click="vm.setFullPost(post)">
                                                <span class="text-center">{{post.incentiveTagCode}} </span>
                                                <br />
                                                <span class="text-center">{{post.incentiveAmount}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <br />
                                <div class="row" busy-if="vm.loading || vm.loadingCount  || vm.saving">
                                    <div class="col-xs-3">

                                    </div>
                                    <div class="col-xs-6">
                                        <div style="Background-color:#b5c689" class="jumbotron" ng-show="vm.fullPost" ng-cloak>
                                            <button class="btn btn-info pull-left" ng-click="vm.setIncentive(vm.fullPost);">@L("Confirm") <i class="fa fa-check-square-o"></i></button>
                                            <button class="btn btn-danger pull-right" ng-click="vm.fullPost = null"> @L("Cancel") <i class="fa fa-times"></i> </button>
                                            <h2 class="text-center" style="color:blue">{{vm.fullPost.incentiveTagCode}} </h2>
                                            <h4 class="text-center">
                                                <span>@L("Default") @L("Amount")  : <span style="color:blue"> {{vm.fullPost.incentiveAmount}} </span></span>
                                            </h4>
                                            <h4 class="text-center">
                                                <span>@L("Amount") @L("Range") : <span style="color:blue">{{vm.fullPost.minRange}} - {{vm.fullPost.maxRange}} </span></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row" ng-disabled="vm.editFlag==false">
                            <div class="col-xs-12 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="OTForExtraWorkHoursEvenClientPaidNormalHours" class="md-check" type="checkbox" name="OTForExtraWorkHoursEvenClientPaidNormalHours" ng-class="{'edited':vm.salaryinfo.otAllowedIfWorkTimeOver}" ng-model="vm.salaryinfo.otAllowedIfWorkTimeOver">
                                    <label for="OTForExtraWorkHoursEvenClientPaidNormalHours">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("OTForExtraWorkHoursEvenClientPaidNormalHours")
                                    </label>
                                </div>
                            </div>
                        </div>*@
                    </uib-tab>

                    <uib-tab heading="@L("Document")" ng-click="vm.getAllEmployeeDocumentInfo();">
                        <div class="col-lg-12" busy-if="vm.loading || vm.loadingCount">
                            @*<div class="row margin-top-10" ng-if="vm.employeeDocumentInfos.length>0">*@
                            <div class="col-lg-7" ng-if="vm.employeeDocumentInfos.length>0" busy-if="vm.loading||vm.loadingCount">
                                <table class="table table-hover table-bordered col-lg-12" ng-if="vm.employeeDocumentInfos!=null">
                                    <caption class="text-center bold" style="color:blue">@L("DocumentNeedToUpdate")</caption>
                                    <thead>
                                        <tr>
                                            <th>@L("Document")</th>
                                            <th class="text-right">@L("ValidityFrom")</th>
                                            <th class="text-right">@L("ValidityTo")</th>
                                            <th class="text-right">@L("Status") <i class="fa fa-download"></i> </th>
                                            <th class="text-right">@L("AlertFrom")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.employeeDocumentInfos">
                                        <td class="col-lg-3">
                                            {{data.documentInfoRefName}}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.startDate | date : 'yyyy-MMM-dd' }}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.endDate | date : 'yyyy-MMM-dd'}}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            <span ng-if="data.status=='Pending'" class="bold" style="color:brown"> {{data.status }}</span>
                                            <span ng-if="data.status=='Expired'" class="bold red" style="color:orangered"> {{data.status }}</span>
                                            <span> <a ng-click="vm.directDownloadEmployeeDocument(data)"><i class="fa fa-download"></i> </a> </span>
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.alertStartingDate | date : 'yyyy-MMM-dd'}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*</div>*@
                        </div>
                        @*<div class="col-lg-5">
                                {{vm.documentinfoDesc}}
                            </div>*@
                    </uib-tab>

                    <uib-tab heading="@L("WorkDay")">
                        <div class="col-lg-12" busy-if="vm.loading || vm.loadingCount">
                            <div class="col-lg-7" ng-if="vm.workDayList.length>0" busy-if="vm.loading||vm.loadingCount">
                                <table class="table table-hover table-bordered col-lg-12" ng-if="vm.workDayList!=null">
                                    <caption class="text-center bold" style="color:blue">@L("WorkDay") @L("Info")</caption>
                                    <thead>
                                        <tr>
                                            <th>@L("Edit")</th>
                                            <th>@L("Day")</th>
                                            <th class="text-right">@L("WorkHours")</th>
                                            <th class="text-right">@L("RestHours")</th>
                                            <th class="text-right">@L("Work") @L("Day") @L("Count") </th>
                                            <th class="text-right">@L("Minimum") @L("OT") @L("Hours") @L("Required")</th>
                                            <th class="text-right">@L("Maximum") @L("OT") @L("Hours")</th>
                                            <th class="text-right">@L("OtRatio") </th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.workDayList">
                                        <td class="col-lg-1">
                                            <button class="btn btn-info" data-ng-click="vm.editWorkDay(data)">
                                                <i class="fa fa-edit" />
                                            </button>
                                        </td>
                                        <td class="col-lg-1">
                                            {{data.dayOfWeekRefName}}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.noOfHourWorks | number : 2 }}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.restHours | number : 2 }}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.noOfWorkDays | number : 2 }}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.minimumOTHoursNeededForAutoManualOTEligible | number : 2 }}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.maximumOTAllowedHours | number : 2 }}
                                        </td>
                                        <td class="col-lg-1 text-right">
                                            {{data.otRatio | number : 2 }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-3">
                                <br />
                                <br />
                                <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                                    <label style="color:blue">@L("Maximum") @L("OT") @L("Hours") @L("On") @L("PublicHoliday")</label>
                                    <input onkeypress="return NumberWithPointPassingText(this.value,event,null,true)"
                                           class="form-control text-right input-lg" type="number" name="@L("Maximum") @L("OT") @L("Hours") @L("On") @L("PublicHoliday")" ng-class="{'edited':vm.salaryinfo.maximumAllowedOTHoursOnPublicHoliday}" ng-model="vm.salaryinfo.maximumAllowedOTHoursOnPublicHoliday" min="0" max="24" required>
                                </div>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab heading="@L("OT") @L("Slabs")">
                        <div class="row">
                            <div class="col-xs-6">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Delete")</th>
                                            <th>@L("Edit")</th>
                                            <th>@L("OT") @L("Type")</th>
                                            <th>@L("FromHour")</th>
                                            <th>@L("ToHour")</th>
                                            <th>@L("OT") @L("Amount")</th>
                                            <th>@L("Next") <a ng-if="vm.otSlabList.length==0" ng-click="vm.addOtSlabPortion(null,1)"> &nbsp; @L("Add")</a></th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.otSlabList">
                                        <td class="col-xs-1">
                                            <button class="btn btn-danger" data-ng-click="vm.removeOtSlabRow(data)"> <i class="fa fa-trash-o" /> </button>
                                        </td>
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="Edit" data-ng-click="vm.editData(data)" />
                                        </td>
                                        <td class="col-xs-2">
                                            <ui-select id="selClient" ng-disabled="!data.editFlag" class="borderself" ng-value="data.otRefId" ng-model="data.otRefId">
                                                <ui-select-match placeholder="OT Type...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refottypes | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2">
                                            <input ng-disabled="data.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" name="From Hours" ng-class="{'edited':data.fromHours}" ng-model="data.fromHours" required>
                                        </td>
                                        <td class="col-xs-2">
                                            <input ng-disabled="data.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" name="To Hours" ng-class="{'edited':data.toHours}" ng-model="data.toHours" required>
                                        </td>
                                        <td class="col-xs-2">
                                            <input ng-disabled="data.editFlag==false || data.fixedOTAmount>0" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" name="OT Amount" ng-class="{'edited':data.otAmount}" ng-model="data.otAmount" required>
                                        </td>
                                        <td class="col-xs-2">
                                            <input ng-disabled="data.editFlag==false || data.otAmount>0" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="number" name="OT Amount" ng-class="{'edited':data.fixedOTAmount}" ng-model="data.fixedOTAmount" required>
                                        </td>
                                        <td class="col-xs-1">

                                            <button ng-if="index + 1==vm.otSlabList.length" type="submit" class="btn btn-primary" data-ng-click="vm.addOtSlabPortion(data,1)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                            <button ng-if="index + 1!=vm.otSlabList.length" type="submit" class="btn btn-primary" data-ng-click="vm.addOtSlabPortion(data,2)">
                                                <i class="glyphicon glyphicon-floppy-saved"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab ng-if="salaryinfoCreateOrEditForm.$invalid">
                        <uib-tab-heading style="color:orangered">
                            <i class="glyphicon glyphicon-bell"></i> @L("Alert")!
                        </uib-tab-heading>
                        <div>
                            <ul>
                                <li ng-repeat="(key, errors) in salaryinfoCreateOrEditForm.$error track by $index">
                                    <strong>{{ key }}</strong> errors
                                    <ul>
                                        <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>
                </uib-tabset>

                <div class="modal-footer">
                    <button name="edit" ng-show="vm.editFlag==false" type="button" class="btn btn-primary yellow btn-large" ng-click="vm.allowEdit();">@L("Allow") @L("Edit")</button>
                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)">@L("Cancel")</button>

                    <button type="submit" button-busy="vm.saving" busy-text="@L("Validate")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="salaryinfoCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save") </span>
                    </button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(3)" ng-disabled="salaryinfoCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

