﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .ui-redcolor {
        background-color: black;
        color: red;
    }

    .ui-bold {
        font-weight: bold;
    }
</style>

<div ng-controller="tenant.views.hr.master.salaryinfo.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("SalaryInfo").Pluralize()</span> @*<small>@L("SalaryInfoHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-4 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button class="btn btn-primary" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" ng-click="vm.importStatutory()">
                <i class="fa fa-download"></i> @L("Import") @L("Statutory") @L("List")
            </button>


        </div>
        <div class="col-xs-3 " ng-if="vm.permissions.showSalary">
            <div class="md-checkbox tp-bottom ">
                <input id="ShowSalary" class="md-check" type="checkbox" name="ShowSalary" ng-click="vm.defineGrid();vm.addSalaryShowColumns()" ng-class="{'edited':vm.showSalary}" ng-model="vm.showSalary">
                <label for="ShowSalary">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("ShowSalary") @L("Value")
                </label>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Employee")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height:70vh">
            <div busy-if="vm.loading" style="height:100%">
                <div ui-grid="vm.userGridOptions" style="height:100%" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

