﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="salaryModalForm" role="form" novalidate class="form-validation">
        <div class="modal-header" busy-if="vm.loading || vm.loadingCount">
            <h3>
                {{vm.salaryinfo.employeeRefId}} - {{vm.salaryinfo.employeeRefCode}} - {{vm.salaryinfo.employeeRefName}}
                <span style="color:purple" ng-if="vm.employeeSkillSetList.length>0">
                    <span>( @L("SkillSet") :  <span ng-repeat="(index,skill)  in vm.employeeSkillSetList"> {{skill.skillCode}} <span ng-if="index + 1 != vm.employeeSkillSetList.length "> , </span> </span> )</span>
                </span>
            </h3>
        </div>
        <div class="row">
            <h4 class="text-center" style="color:blue; font-size:medium">
                @L("Period") : {{vm.salaryPayable.inputData.startDate | date : 'dd-MMM-yyyy'}} - {{vm.salaryPayable.inputData.endDate | date : 'dd-MMM-yyyy'}}
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading || vm.loadingCount">
            <div class="row" ng-disabled="vm.editFlag==false">
                <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                    <div class="form-group">
                        <label>@L("Pay") @L("Mode")<span class="bold" style="font-size:small; color:red"> *</span></label>
                        <ui-select required class="borderself" id="PayCalculation" name="PayCalculation" ng-required="true" ng-model="vm.salaryinfo.salaryMode" ng-disabled="vm.editFlag==false">
                            <ui-select-match class="input-lg" placeholder="Select ...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices class="input-lg" repeat="item.value as item in vm.refSalaryCalculationType | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                    <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                        <label>@L("BasicSalary")</label>
                        <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="text" name="BasicSalary" ng-class="{'edited':vm.salaryinfo.basicSalary}" ng-model="vm.salaryinfo.basicSalary" required>

                    </div>
                </div>
                <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                    <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                        <label>@L("OT1") @L("PerHour")</label>
                        <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="text" name="levy" ng-class="{'edited':vm.salaryinfo.ot1PerHour}" ng-model="vm.salaryinfo.ot1PerHour" required>

                    </div>
                </div>
                <div class="col-xs-2" ng-disabled="vm.editFlag==false">
                    <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                        <label>@L("OT2") @L("PerHour") </label>
                        <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="text" id="Deduction" name="Deduction" ng-class="{'edited':vm.salaryinfo.ot2PerHour}" ng-model="vm.salaryinfo.ot2PerHour">

                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                        <label>@L("Report") @L("OT") </label>
                        <input ng-disabled="vm.editFlag==false" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" class="form-control text-right input-lg" type="text" id="ReportOtPerHour" name="ReportOtPerHour" ng-class="{'edited':vm.salaryinfo.reportOtPerHour}" ng-model="vm.salaryinfo.reportOtPerHour">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-striped table-bordered col-xs-12">
                        <caption style="color:blue; font-size:large" class="text-center">
                            @L("Earnings")
                        </caption>
                        <thead>
                            <tr>
                                <th>@L("#")</th>
                                <th>@L("Description")</th>
                                <th class="text-center">@L("Effective") @L("Date")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="col-xs-1">
                                1
                            </td>
                            <td>
                                <span>@L("BasicSalary")</span>
                            </td>
                            <td class="col-xs-2 text-center"></td>
                            <td class="text-right">
                                <span><span style="color:blue; font-size:medium"> {{ vm.salaryPayable.basicPay | number : 2}}  </span></span>
                            </td>
                            <td>
                                {{vm.salaryPayable.basicPayRemarks}}
                            </td>
                        </tr>
                        <tr data-ng-repeat="(index,data) in vm.allowanceSalaryTagList">
                            <td class="col-xs-1">
                                {{index+2}}
                            </td>
                            <td class="col-xs-4">
                                {{data.salaryRefName}}
                            </td>
                            <td class="col-xs-2 text-center">
                                <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                <br ng-if="data.rollBackFrom!=null">
                                <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <span style="color:blue"> {{data.amountCalculatedForSalaryProcess | number : 2}}  </span>
                            </td>
                            <td class="col-xs-4">
                                <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Allowance") <br /></span>
                                {{data.remarks}}
                                <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="(index,data) in vm.incentiveConsolidatedList">
                            <td class="col-xs-1">
                                {{index+2 + vm.allowanceSalaryTagList.length}}
                            </td>
                            <td class="col-xs-4">
                                {{data.incentiveTagRefCode}}
                            </td>
                            <td class="col-xs-2 text-center">
                                <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                <br ng-if="data.rollBackFrom!=null">
                                <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <span style="color:blue"> {{data.totalIncentiveAmount | number : 2}}  </span>
                            </td>
                            <td class="col-xs-4">
                                {{data.remarks}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="3">
                                <span ng-if="vm.salaryPayable.grossSalaryAmount>0">@L("Total") @L("Earnings")</span>
                            </td>
                            <td class="text-right">
                                <span ng-if="vm.salaryPayable.grossSalaryAmount>0"><span style="color:blue; font-size:medium"> {{ vm.salaryPayable.grossSalaryAmount | number : 2}}  </span></span>
                            </td>
                            <td class="text-right"></td>
                        </tr>
                        <tr ng-if="vm.personalInformation.isBillable && vm.salaryPayable.idleSalaryAmount > 0" style="background-color:lightcyan; color:black; font-size:medium">
                            <td class="bold text-right" colspan="3">
                                <span>{{vm.salaryPayable.noOfIdleDays}} @L("Days") @L("Idle") @L("Salary") </span>
                            </td>
                            <td class="bold text-right">
                                <span style="background-color:lightcyan; color:black;"> {{ vm.salaryPayable.idleSalaryAmount | number : 2}}  </span>
                            </td>
                            <td class="bold">
                                <span style="background-color:lightcyan; color:black;" ng-if="vm.salaryPayable.idleSalarypercentage>0"> @L("Idle") @L("Cost")  : {{ vm.salaryPayable.idleSalarypercentage | number : 2}} % </span>
                            </td>
                        </tr>
                        <tr style="color:green" ng-if="vm.personalInformation.isBillable && vm.salaryPayable.idleSalaryAmount == 0 && vm.salaryPayable.basicPay>0">
                            <td class="text-center bold" style="color:green" colspan="5">
                                <span> <i class="fa fa-thumbs-o-up big"></i> @L("No") @L("More") @L("Idle") @L("Days") </span>
                            </td>

                        </tr>
                        <tr ng-if="vm.salaryPayable.netSalaryAmount">
                            <td class="text-right" colspan="3">
                                <span>
                                    {{vm.netSalaryDescription}}
                                </span>
                            </td>
                            <td class="text-right">
                                <span style="color:blue; font-size:large"> {{ vm.salaryPayable.netSalaryAmount | number : 2}}  </span>
                            </td>
                            <td class="text-right"></td>
                        </tr>


                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table table-striped table-bordered col-xs-12">
                        <caption style="color:orangered;  font-size:large" class="text-center">@L("Deduction") </caption>
                        <thead>
                            <tr>
                                <th>@L("#")</th>
                                <th>@L("Description")</th>
                                <th class="text-center">@L("Effective") @L("Date")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.deductionSalaryTagList">
                            <td class="col-xs-1">
                                {{index+1}}
                            </td>
                            <td class="col-xs-4">
                                {{data.salaryRefName}}
                            </td>
                            <td class="col-xs-2 text-center">
                                <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                <br ng-if="data.rollBackFrom!=null" />
                                <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <span style="color:orangered"> {{data.amountCalculatedForSalaryProcess | number : 2}}  </span>
                            </td>
                            <td class="col-xs-4">
                                <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Deduction") <br /></span>
                                {{data.remarks}}
                                <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                            </td>
                        </tr>
                        <tr ng-if="vm.deductionSalaryTagList.length>0">
                            <td class="text-right" colspan="3">
                                <span ng-if="vm.deductionSalaryTagList.length>0">@L("Total") @L("Deduction")</span>
                            </td>
                            <td class="text-right">
                                <span ng-if="vm.deductionSalaryTagList.length>0 && vm.salaryPayable.deductionAmount>0"><span style="color:orangered; font-size:medium"> {{vm.salaryPayable.deductionAmount | number : 2}}  </span></span>
                                <span style="color:orangered" ng-if="vm.salaryPayable.deductionAmount==0">N/A</span>
                            </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-striped table-bordered col-xs-12"></table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-striped table-bordered col-xs-12">
                        <caption style="color:blue; font-size:large" class="text-center">
                            @L("Statutory") @L("Payment")
                        </caption>
                        <thead>
                            <tr>
                                <th>@L("#")</th>
                                <th>@L("Description")</th>
                                <th class="text-center">@L("Effective") @L("Date")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.statutoryAllowanceTagList">
                            <td class="col-xs-1">
                                {{index+1}}
                            </td>
                            <td class="col-xs-4">
                                {{data.salaryRefName}}
                            </td>
                            <td class="col-xs-2 text-center">
                                <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                <br ng-if="data.rollBackFrom!=null">
                                <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <span style="color:blue"> {{data.amountCalculatedForSalaryProcess | number : 2}}  </span>
                            </td>
                            <td class="col-xs-4">
                                <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Allowance") <br /></span>
                                {{data.remarks}}
                                <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table table-striped table-bordered col-xs-12">
                        <caption style="color:orangered;  font-size:large" class="text-center">@L("Statutory") @L("Deduction") </caption>
                        <thead>
                            <tr>
                                <th>@L("#")</th>
                                <th>@L("Description")</th>
                                <th class="text-center">@L("Effective") @L("Date")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.statutoryDeductionTagList">
                            <td class="col-xs-1">
                                {{index+1}}
                            </td>
                            <td class="col-xs-4">
                                {{data.salaryRefName}}
                            </td>
                            <td class="col-xs-2 text-center">
                                <span>{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                                <br ng-if="data.rollBackFrom!=null" />
                                <span ng-if="data.rollBackFrom!=null">{{data.effectiveFrom | date : 'dd-MMM-yy' }}</span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <span style="color:orangered"> {{data.amountCalculatedForSalaryProcess | number : 2}}  </span>
                            </td>
                            <td class="col-xs-4">
                                <span ng-if="data.calculationPayModeRefId==1"> @L("Daily") @L("Deduction") <br /></span>
                                {{data.remarks}}
                                <span ng-if="data.rollBackFrom!=null"> {{data.validationError}}</span>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row" ng-if="vm.personalInformation.isBillable && vm.salaryPayable.idleSalaryAmount == 0">
                <div class="col-xs-6 text-center">
                    <span style="font-size:large; color:green" class="margin-top-20 text-center"> </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3 class="text-center" style="color:blue;  font-size:large" ng-if="vm.salaryPayable.netCTC>0">@L("Total") @L("CTC") : {{ vm.salaryPayable.netCTC | number : 2}} </h3>
            </div>
        </div>
        <div class="modal-footer">
            <button button-busy="vm.saving" type="submit" class="btn btn-primary red" ng-click="vm.excelOrPdf(1)">
                <i class="fa fa-pdf"></i> <span> @L("Process") @L("Salary") &amp; @L("Generate") @L("Pdf")</span>
            </button>
            <button button-busy="vm.saving" type="submit" class="btn btn-primary blue" ng-click="vm.cancel()">
                <i class="fa fa-close"></i> <span>@L("Close")</span>
            </button>
        </div>
    </form>
</div>
