﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="supplierdocumentCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.supplierdocument.id">@L("EditSupplierDocument"): {{vm.supplierdocument.id}}</span>
                <span ng-if="!vm.supplierdocument.id">@L("CreateSupplierDocument")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">@L("SupplierName")</label>
                        <ui-select class="borderself" ng-model="vm.supplierdocument.supplierRefId" required>
                            <ui-select-match id="selsupplierRefId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">@L("DocumentType")</label>
                        <ui-select class="borderself" ng-model="vm.supplierdocument.documentRefId" required>
                            <ui-select-match id="selsupplierRefId" placeholder="Select DocumentType...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refdocumenttype | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group center-block">
                        <input id="fileinput" type="file" nv-file-select size="55" uploader="vm.uploader" ng-click="vm.changeVariable()" />
                        <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">@L("Date")</label>
                        <input name="completedTime" id="completedTime" class="form-control date-picker" ng-class="{'edited':vm.supplierdocument.completedTime}" ng-model="vm.supplierdocument.completedTime" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6" ng-if="vm.supplierdocument.id">
                    <div class="md-checkbox">
                        <input id="IsEntryFinished" class="md-check" type="checkbox" name="IsEntryFinished" ng-class="{'edited':vm.supplierdocument.isEntryFinished}" ng-model="vm.supplierdocument.isEntryFinished">
                        <label for="IsEntryFinished">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsEntryFinished")
                        </label>
                    </div>
                </div>

            </div>

            </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="supplierdocumentCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

