﻿.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}

.ui-grid-row-bg-red .ui-grid-cell-contents {
    background-color: #d17070;
    color: #fff;
 }

.ui-grid-row-bg-green .ui-grid-cell-contents {
    background-color: #27952a;
    color: #fff;
 }