﻿
input.ucase 
{
 text-transform: uppercase;
}

 .borderself{
    border:solid;
    border-width:1px;
    border-color:aqua;
    border-bottom-color:aquamarine;
 }

 .ui-red {
  background-color: black !important;
  color: white;
}



.ui-ralign 
{
    text-align : right;
}

.ui-calign 
{
    text-align : center;
}

.error { 
    background-color:red; 
    border:2px solid blue; 
}

.lineHr {
    width: 100%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    
    background-color: black;
    margin-top: -0px;
    margin-bottom: 10px;
}

.large-icon {
  padding: 30px;
  font-size: 60px;
}

.uib-day.selected .btn {
  color: #000000;
  background-color: #00bfff;
  border-color: #46b8da;
}

.dashboard-red {
    color: white;
     -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: red;
  padding: 15px 15px 30px 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}

.white-class {
    color: white;
}

.fontsize18 {
    font-size: 18px;
}

.eventTime {
    margin: 2px;
}

.eventContent {
    margin: 2px;
}

.eventTitle {
    margin: 2px;
}