<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.lms">@L("LMS")</span>
            <span ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.internalSale">@L("InternalSales")</span>
            <span ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.hanaSearch">@L("HanaSearch")</span>
            <span ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.fullTax">@L("FullTax")</span>
            <span ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.pettyCashControl">@L("PettyCashControl")</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="detailform" novalidate>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.lms">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("Name") *</label>
                            <input type="text" ng-model="vm.data.name" name="name" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@L("Code") *</label><br />
                            <input type="text" ng-model="vm.data.code" name="code" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("TimeOut")</label>
                            <div class="d-flex">
                                <input type="number" ng-model="vm.data.timeout" name="timeout" class="form-control">
                                <span class="margin-left-5">ms.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("StoreForwardAutoSync")</label>
                            <input type="number" ng-model="vm.data.storeForwardAutoSync" name="storeForwardAutoSync" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="DisplayValue" class="md-check" type="checkbox" ng-model="vm.data.autoBlueCardEntryScreen">
                                    <label for="DisplayValue">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AutoBlueCardEntryScreen")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">

                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="AcceptChange" class="md-check" type="checkbox" ng-model="vm.data.allowRedeemByPhoneNo">
                                    <label for="AcceptChange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowRedeemByPhoneNo")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="NoRefund" class="md-check" type="checkbox" ng-model="vm.data.blueCardManualKeyIn">
                                    <label for="NoRefund">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("BlueCardManualKeyIn")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("Url")</label>
                            <input type="text" ng-model="vm.data.url" name="url" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.lmsPaymentDepartments">
                <div class="row margin-top-20">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">@L("LMSPaymentDepartment")</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group auto-entry">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox" ng-repeat="d in vm.paymentDepartments">
                                    <input id="{{d.uiId}}" class="md-check" type="checkbox" ng-model="d.isSelected">
                                    <label for="{{d.uiId}}">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        {{d.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.internalSale">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("UserName") *</label>
                            <input type="text" ng-model="vm.data.userName" name="userName" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@L("Password") *</label><br />
                            <input type="text" ng-model="vm.data.password" name="password" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("CompanyCode")</label>
                            <input type="text" ng-model="vm.data.companyCode" name="companyCode" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("Url")</label>
                            <input type="text" ng-model="vm.data.budGetOIUrl" name="budGetOIUrl" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.hanaSearch">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("UserName") *</label>
                            <input type="text" ng-model="vm.data.userName" name="userName" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@L("Password") *</label><br />
                            <input type="text" ng-model="vm.data.password" name="password" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("CompanyCode")</label>
                            <input type="text" ng-model="vm.data.companyCode" name="companyCode" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("HanaPurchasingOrg")</label>
                            <input type="text" ng-model="vm.data.purchasingOrg" name="companyCode" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("HanaSearchUrl")</label>
                            <input type="text" ng-model="vm.data.hanaSearchUrl" name="hanaSearchUrl" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("S4HanaSaleOrderUrl")</label>
                            <input type="text" ng-model="vm.data.hanaSaleOrderUrl" name="hanaSaleOrderUrl" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("HanaVendorSearchUrl")</label>
                            <input type="text" ng-model="vm.data.hanaVendorSearchUrl" name="hanaVendorSearchUrl" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("ReimbursementDocumentTransactionUrl")</label>
                            <input type="text" ng-model="vm.data.reimbursementDocumentTransactionUrl" name="reimbursementDocumentTransactionUrl" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">@L("AutoHanaSearch")</label>
                        </div>
                    </div>
                    <div class="col-md-10 auto-entry">
                        <div class="form-group">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox" ng-repeat="d in vm.paymentDepartments">
                                    <input id="{{d.uiId}}" class="md-check" type="checkbox" ng-model="d.isSelected">
                                    <label for="{{d.uiId}}">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        {{d.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.fullTax">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("Name") *</label>
                            <input type="text" ng-model="vm.data.name" name="name" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@L("Code") *</label><br />
                            <input type="text" ng-model="vm.data.code" name="code" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("MaxRePrintFTI")</label>
                            <input type="number" ng-model="vm.data.maxRePrintFTI" name="maxRePrintFTI" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group margin-top-25">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="allowGenerateFTIBackDate" class="md-check" type="checkbox" name="allowGenerateFTIBackDate" ng-model="vm.data.allowGenerateFTIBackDate">
                                    <label for="allowGenerateFTIBackDate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowGenerateFTIBackDate")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <div class="d-flex">
                                <input type="number" ng-model="vm.data.generateFTIBackDate" name="generateFTIBackDate" class="form-control">
                                <span class="margin-left-5">Days</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("MaxVoidFTI")</label>
                            <input type="number" ng-model="vm.data.maxVoidFTI" name="maxVoidFTI" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group margin-top-25">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="printFTISummary" class="md-check" type="checkbox" name="printFTISummary" ng-model="vm.data.printFTISummary">
                                    <label for="printFTISummary">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("PrintFTISummary")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("NumberOfDayMemberUpdate")</label>
                            <input type="number" ng-model="vm.data.numberOfDayMemberUpdate" name="numberOfDayMemberUpdate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("FTIForm")</label>
                            <select id="ftiForm" class="form-control"
                                    data_live_search="true"
                                    ng-model="vm.data.ftiForm">
                                <option value="" hidden>Select</option>
                                <option ng-repeat="item in vm.ftiForms" value="{{item.value}}">{{item.displayText}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("RDWebserviceURL")</label>
                            <input type="text" ng-model="vm.data.rdWebserviceURL" name="rdWebserviceURL" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("CentralEJournalFolder")</label>
                            <input type="text" ng-model="vm.data.centralEJournalFolder" name="centralEJournalFolder" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("LocalEJournalFolder")</label>
                            <input type="text" ng-model="vm.data.localEJournalFolder" name="localEJournalFolder" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.eccCreditLimit">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("UserName") *</label>
                            <input type="text" ng-model="vm.data.userName" name="userName" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@L("Password") *</label><br />
                            <input type="text" ng-model="vm.data.password" name="password" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("ServerUrl")</label>
                            <input type="text" ng-model="vm.data.serverUrl" name="serverUrl" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.pettyCashControl">
                <div class="row margin-top-20">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">@L("PettyCashControl") *</label>

                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <input type="checkbox" ng-model="vm.data.pettyCashControl" name="pettyCashControl"  class="form-control"  />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
        <button class="btn blue btn-primary" type="button" ng-click="vm.save()" ng-disabled="detailform.$invalid">@L("Save")</button>
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>