@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.topdownsellreportbyquantityplant.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TopDownSellReportByQuantityPlant")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getTickets()">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Day")</label>
                                    <select class="form-control" ng-model="vm.requestParams.days">
                                        <option ng-repeat="item in vm.lstDayOfWeek" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("TimeRange")</label>
                                    <div>
                                        <wy-time-picker style="display:inline-block;"
                                                        data-dropdown-toggle-state="settings.dropdownToggleState"
                                                        data-time-settings="settings.time"
                                                        data-theme="settings.theme"
                                                        data-no-range="settings.noRange"
                                                        data-format="settings.format"
                                                        data-no-validation="settings.noValidation">
                                        </wy-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("SaleChannel")</label>
                                    <select class="form-control" ng-model="vm.requestParams.departmentSelect">
                                        <option ng-repeat="item in vm.departments" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialGroup")</label>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" value='@L("MaterialGroup")' ng-if="vm.lstMaterial.length==0" data-ng-click="vm.openGroupMaster()">
                                        <input type="button" class="btn btn-primary" value='{{ vm.lstMaterial.length}} item selected' ng-if="vm.lstMaterial.length > 0" data-ng-click="vm.openGroupMaster()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">@L("View")</label>
                                    <select class="form-control" ng-model="vm.requestParams.view">
                                        <option ng-repeat="item in vm.lstView" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <input id="viewNumber" class="form-control margin-top-5" type="number" ng-model="vm.requestParams.viewNumber">
                                </div>
                            </div>



                            <div class="col-md-1">
                                <div class="form-group ">
                                    <div class="md-checkbox margin-top-30">
                                        <input id="Credit" class="md-check" type="checkbox" ng-model="vm.requestParams.isAddOns">
                                        <label for="Credit">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AddOns")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-checkbox margin-top-30">
                                        <input id="Refund" class="md-check" type="checkbox" ng-model="vm.requestParams.isCombo">
                                        <label for="Refund">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Combo")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group">
                                        <label class="control-label">@L("TypeOfChart")</label>
                                        <select class="form-control" ng-model="vm.requestParams.typeOfChart">
                                            <option ng-repeat="item in vm.lstTypeOfChart" value="{{item.value}}">{{item.displayText}}</option>
                                        </select>
                                    </div>*@
                            </div>
                        </div>
                        <div class="row  margin-top-10 margin-bottom-10">
                            <div class="col-xs-12" ng-if="true">
                                <query-builder options="builder.options" builder="builder.builder"></query-builder>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 text-right">
                                <span ng-if="vm.tallyAvailable"><button class="btn btn-default" ng-click="vm.exportForTally()"><i class="fa fa-file-excel-o"></i> @L("Tally")</button></span>
                                <button class="btn blue" ng-click="vm.clear()">
                                    <i class="fa fa-eraser"></i> @L("Clear")
                                </button>
                                <div class="btn-group">
                                    <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-file-excel-o"></i> @L("Excel")
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                        </li>
                                        <li>
                                            <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn red" ng-click="vm.getAll()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center">
                <h4 class="bold">@L("TopDownSellReportByQuantityPlant")</h4>
                <span ng-if="vm.data.endDate == vm.data.startDate">{{ vm.data.startDate}}</span>
                <span ng-if="vm.data.endDate != vm.data.startDate">@L("Date") {{vm.data.startDate}} @L("To") {{vm.data.endDate}}</span>
                <br />
                <span ng-if="vm.data.locationCode != null">({{vm.data.locationCode}}) {{vm.data.locationName}}</span>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ng-repeat="loc in vm.data.listItem">
                        <table class="table table-bordered table-condensed margin-0">
                            <thead>
                                <tr class="thead_title">
                                    <td colspan="22" class="border_bottom_none font_weight_bold">{{loc.location}}</td>
                                </tr>
                                <tr>
                                    <th class="text-center w-5"> @L("No.")</th>
                                    <th class="text-center w-10"> @L("PlantCode")</th>
                                    <th class="text-center w-15"> @L("PlantName")</th>
                                    <th class="text-center w-10"> @L("ProductCode")</th>
                                    <th class="text-center w-15"> @L("ProductName")</th>
                                    <th class="text-center w-10"> @L("UnitPrice")</th>
                                    <th class="text-center w-10"> @L("TotalQuantity")</th>
                                    <th class="text-center w-15"> @L("QuantityPercent")</th>
                                    <th class="text-center w-10" @*style="border-bottom:1px solid #e7ecf1"*@ rowspan="{{loc.listItem.listItem.length}}"> @L("Chart")</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in loc.listItem.listItem">
                                <td class="item border_bottom_none text-center w-5">{{$index + 1}}</td>
                                <td class="item border_bottom_none text-center w-10">{{item.plantCode}}</td>
                                <td class="item border_bottom_none text-center w-15">{{item.plantName}}</td>
                                <td class="item border_bottom_none text-center w-10">{{item.productCode}}</td>
                                <td class="item border_bottom_none text-center w-15">{{item.productName}}</td>
                                <td class="item border_bottom_none text-center w-10">{{item.unitPrice | number: vm.decimals}}</td>
                                <td class="item border_bottom_none text-center w-10">{{item.quantity | number:  vm.decimals }}</td>
                                <td class="item border_bottom_none text-center w-15">{{item.quantityPercent | number:  vm.decimals}}%</td>
                                <td ng-if="$index == 0" class="text-center" rowspan={{loc.listItem.listItem.length}}>
                                    <a ng-click="vm.openModalChart(loc, 'column')"> @L("ColumnChart")</a> <br>
                                    <a ng-click="vm.openModalChart(loc, 'bar')"> @L("BarChart")</a><br>
                                    <a ng-click="vm.openModalChart(loc, 'pie')"> @L("PieChart")</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="item border_bottom_none text-center w-5 tfoot_title"></td>
                                <td class="item border_bottom_none text-center w-10 tfoot_title"></td>
                                <td class="item border_bottom_none text-center w-15 tfoot_title"></td>
                                <td class="item border_bottom_none text-center w-10 tfoot_title"></td>
                                <td class="item border_bottom_none text-center w-15 tfoot_title"></td>
                                <td class="item border_bottom_none text-center w-10 tfoot_title"> @L("Total")</td>
                                <td class="item border_bottom_none text-center w-10 tfoot_title">{{loc.listItem.totalQuantity | number:  vm.decimals}}</td>
                                <td class="item border_bottom_none text-center w-15 tfoot_title">{{loc.listItem.totalPercentQuantity | number:  vm.decimals}}%</td>
                                <td class="item border_bottom_none text-center w-10 tfoot_title"></td>
                            </tr>
                        </table>
                    </div>
                    <table class="table table-bordered table-condensed" ng-if="vm.data.listItem.length >= 2">
                        <tr>
                            <td class="item border_bottom_none text-center w-5 tfoot_title"></td>
                            <td class="item border_bottom_none text-center w-10 tfoot_title"></td>
                            <td class="item border_bottom_none text-center w-15 tfoot_title"></td>
                            <td class="item border_bottom_none text-center w-10 tfoot_title"></td>
                            <td class="item border_bottom_none text-center w-15 tfoot_title"></td>
                            <td class="item border_bottom_none text-center w-10 tfoot_title"> @L("Total")</td>
                            <td class="item border_bottom_none text-center w-10 tfoot_title">{{vm.data.allTotalQuantity | number:  vm.decimals}}</td>
                            <td class="item border_bottom_none text-center w-15 tfoot_title">{{vm.data.allTotalQuantityPercent | number:  vm.decimals}}%</td>
                            <td class="item border_bottom_none text-center w-10 tfoot_title"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .w-18 {
        width: 18%;
    }

    .w-20 {
        width: 20%;
    }
    .w-10{
        width:10%;
    }
    .w-5 {
        width: 5%;
    }

    .w-15 {
        width: 15%;
    }

    .w-25 {
        width: 25%;
    }

    .w-30 {
        width: 30%;
    }

    .w-35 {
        width: 35%;
    }

    .w-50 {
        width: 50%;
    }

    .w-85 {
        width: 85%;
    }


    .w-50 {
        width: 100%;
    }


    .thead_title {
        background-color: #deebf7;
        font-weight: bold;
    }

    .thead_content {
        background-color: #fff2cc;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .item {
        max-width: 116px;
    }

    .w-50 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .tfoot_title {
        background-color: gray;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #808080;
        color: white;
    }

    .font_weight_bold {
        font-weight: bold;
    }

    .nodata {
        background: navajowhite;
        color: red;
    }

    .table_Item {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .table_Item_Element {
        border-left: none !important;
        border-bottom: none !important;
    }

    .w-15 {
        max-width: 50px;
    }

    .max_width_20 {
        max-width: 20px;
    }

    .margin-top-5 {
        margin-top: 5px;
    }

    .margin-0 {
        margin: 0 !important;
    }

    .margin-top_21 {
        margin-top: -21px !important;
    }

    .app-modal-window .modal-dialog {
        width: 80%;
    }
</style>
