@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.menuengineering as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MenuEngineeringReport")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getTickets()">

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp"> {{ vm.countMenuItem }} </h3>
                                            <small>@L("Total").ToUpper() @L("MenuItems").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ vm.menuFoodCost | number:2 }}  %</h3>
                                            <small>@L("MenuFoodCost").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-pie-chart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ vm.averageCM | number:2 }}</h3>
                                            <small>@L("AverageCM").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ vm.percentageMenuMix | number:2 }} %</h3>
                                            <small>@L("PercentageMenuMix").ToUpper() </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-12 dashboard">
                                <div style="display: flex;">
                                    <div style=" height: 326px;width: 11%;border-right: 2px solid black; margin-right: 10px;position: relative">
                                        <div tyle="width:10%">
                                            <i class="arrow_dashboard top" style="position: absolute;right: -6px;top: -7px"></i>
                                        </div>
                                        <p>Height</p>
                                        <h3 class="text_popularity">Popularity</h3>
                                    </div>
                                    <div style="width: 89%">
                                        <div class="display_flex">
                                            <div class="square house" title={{vm.toolTipHouse}} data-toggle="tooltip" data-placement="right" tooltip data-html="true">
                                                <h4 class="house_text text_center"></h4>
                                            </div>
                                            <div class="square star" title={{vm.toolTipStar}} data-toggle="tooltip" data-placement="right" tooltip data-html="true">
                                                <h4 class="star_text text_center"></h4>
                                            </div>
                                        </div>
                                        <div class="display_flex">
                                            <div class="square dog" title={{vm.toolTipDog}} data-toggle="tooltip" data-placement="right" tooltip data-html="true">
                                                <h4 class="dog_text text_center"></h4>
                                            </div>
                                            <div class="square puzzle" title={{vm.toolTipPuzzle}} data-toggle="tooltip" data-placement="right" tooltip data-html="true">
                                                <h4 class="puzzle_text text_center"></h4>
                                            </div>
                                        </div>

                                        <div class="display_flex">
                                            <div style="width:90%">
                                                <hr class="hr_custom" align="left" />
                                            </div>
                                            <div tyle="width:10%">
                                                <i class="arrow_dashboard arrow_dashboard_right"></i>
                                            </div>
                                        </div>
                                        <div class="display_flex">

                                            <div style="width: 100%;position:relative; display: contents">
                                                <div class="text_low">
                                                    Low
                                                </div>
                                                <div class="text_pro">
                                                    Profitability
                                                </div>
                                                <div class="text_height">
                                                    Height
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row pl_pr_15">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("Select") @L("Category")</label>
                                        <div>
                                            <button name="categories" id="categories" class="btn blue" ng-click="vm.selectCategory()">@L("Category")<span ng-if="vm.requestParams.categories.length"> - {{vm.requestParams.categories.length}} items</span></button>
                                            <button ng-if="vm.requestParams.categories.length" class="btn btn-default" ng-click="vm.resetCategorySelectedItem()">@L("Clear")</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="MenuItems" class="md-check" type="checkbox" ng-model="vm.requestParams.isMenuItems">
                                                <label for="MenuItems">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("MenuItems")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">@L("Select") @L("MenuItems")</label>
                                        <div>
                                            <button name="MenuItems" id="MenuItems" class="btn blue" ng-click="vm.selectMenuItem()">@L("MenuItems")<span ng-if="vm.requestParams.menuItems.length"> - {{vm.requestParams.menuItems.length}} items</span></button>
                                            <button ng-if="vm.requestParams.menuItems.length" class="btn btn-default" ng-click="vm.resetMenuItemSelectedItem()">@L("Clear")</button>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("Select") @L("MenuItems") @L("Portions")</label>
                                        <div>
                                            <button name="MenuItemPortions" id="MenuItemPortions" class="btn blue" ng-click="vm.selectMenuItemPortions()"> @L("MenuItems") @L("Portions")<span ng-if="vm.requestParams.menuItemPortions.length"> - {{vm.requestParams.menuItemPortions.length}} items</span></button>
                                            <button ng-if="vm.requestParams.menuItemPortions.length" class="btn btn-default" ng-click="vm.resetMenuItemPortionsSelectedItem()">@L("Clear")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pl_pr_15">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("Group")</label>
                                        <ui-select multiple id="selproductGroupRefId" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.selectedGroups">
                                            <ui-select-match placeholder="Select Group Name...">{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in vm.productGroups | filter: $select.search">
                                                <div ng-bind="item.name"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row pl_pr_15">
                                <div class="col-xs-12 text-right">
                                    <button class="btn blue" ng-click="vm.clear()">
                                        <i class="fa fa-eraser"></i> @L("Clear")
                                    </button>

                                    <div class="btn-group">
                                        <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                            <i class="fa fa-file-excel-o"></i> @L("Export")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                            </li>
                                            <li>
                                                <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="btn-group">
                                        <button class="btn red" type="button" ng-disabled="vm.disableExport" ng-click="vm.exportToExcelByLocation(0)">
                                            <i class="fa fa-file-excel-o"></i> @L("ExportByLocation")
                                        </button>
                                    </div>

                                    <div class="btn-group">
                                        <button class="btn red" type="button" ng-disabled="vm.disableExport" ng-click="vm.exportToExcelByMonth(0)">
                                            <i class="fa fa-file-excel-o"></i> @L("ExportByMonth")
                                        </button>
                                    </div>

                                    <button class="btn blue" ng-click="vm.getAll()">
                                        <i class="fa fa-refresh"></i> @L("Refresh")
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>
<style>
    .dashboard {
        justify-content: center;
        display: grid;
        margin-bottom: 50px;
    }

    .square {
        width: 150px;
        height: 150px;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
    }

    .house {
        background-color: #ffa1a1;
        border: 2px solid #f11111;
    }

    .house_text {
        color: #f11111;
    }

    .star {
        background-color: #7cd8ff;
        border: 2px solid #36b6ec;
    }

    .star_text {
        color: #36b6ec;
    }

    .dog {
        background-color: #c1a3ff;
        border: 2px solid #5b1ed9;
    }

    .dog_text {
        color: #5b1ed9;
    }

    .puzzle {
        background-color: #ffdc92;
        border: 2px solid #da9400;
    }

    .puzzle_text {
        color: #da9400;
    }

    .display_flex {
        display: flex;
    }

    .text_center {
        height: 50%;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }

    h4 {
        font-weight: bold;
    }

    .arrow_dashboard {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .arrow_dashboard_right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .top {
        transform: rotate( 176deg );
        -webkit-transform: rotate( 225deg );
    }

    span_right {
        content: "\2192";
    }

    span_top {
        content: "\U+02191";
    }

    .hr_custom {
        margin-top: 9px !important;
        border-top: 2px solid #1c1b1b !important;
    }

    .text_popularity {
        transform: rotate( -90deg );
        margin-top: 140px;
        font-size: large;
    }

    .text_low {
        width: 10%;
        margin-left: -10px;
    }

    .text_pro {
        width: 70%;
        text-align: center;
        font-size: large;
    }

    .text_height {
        width: 10%;
    }

    .pl_pr_15 {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>