﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.cluster.delagglocmapping.delagglocmapping as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delagglocmapping.id">@L("EditDelAggLocMapping"): {{vm.delagglocmapping.name}}</span>
                        <span ng-if="!vm.delagglocmapping.id">@L("CreateDelAggLocMapping")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">@L("Location")</label>
                            <ui-select class="borderself" ng-class="{'edited':vm.delagglocmapping.delAggLocationId}" ng-model="vm.delagglocmapping.delAggLocationId">
                                <ui-select-match placeholder="Select Location ...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="location.id as location in vm.locations| filter: $select.search | limitTo: vm.uilimit ">
                                    <small>
                                        {{ location.name }}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">@L("DelAggType")</label>
                            <ui-select class="borderself" id="selAggType" ng-class="{'edited':vm.delagglocmapping.delAggTypeRefId}"
                                       ng-model="vm.delagglocmapping.delAggTypeRefId">
                                <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.delAggTypes | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("Name")</label>
                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.delagglocmapping.name}" ng-model="vm.delagglocmapping.name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("Delivery") @L("Url")</label>
                            <input class="form-control" type="text" name="DeliveryUrl" ng-class="{'edited':vm.delagglocmapping.deliveryUrl}" ng-model="vm.delagglocmapping.deliveryUrl">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("GatewayCode")</label>
                            <input class="form-control" type="text" name="GatewayCode" ng-class="{'edited':vm.delagglocmapping.gatewayCode}" ng-model="vm.delagglocmapping.gatewayCode">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("RemoteCode")</label>
                            <input class="form-control" type="text" name="RemoteCode" ng-class="{'edited':vm.delagglocmapping.remoteCode}" ng-model="vm.delagglocmapping.remoteCode">
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-6" ng-if="vm.delagglocmapping.id">
                        <div class="md-checkbox margin-top-30">
                            <input id="Active" class="md-check" type="checkbox" ng-model="vm.delagglocmapping.active" name="Active"/>
                            <label for="Active">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Active")
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6" ng-if="vm.delagglocmapping.delAggTypeRefId == 0">
                        <button type="button" class="btn btn-default red" ng-click="vm.syncData()">@L("SyncToGrab")</button>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="delagglocmappingCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>
</div>