﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<div ng-controller="tenant.views.go.device.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.dinegodevice.id">@L("Edit") @L("Device"): {{vm.dinegodevice.name}}</span>
                        <span ng-if="!vm.dinegodevice.id">@L("Create") @L("Device")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <form name="dinegodeviceCreateOrEditForm" role="form" novalidate class="form-validation">
            <div class="portlet-input">
                <div class="form">
                    <div class="form-body">
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading='@L("General")' tabindex="1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@L("Name")</label>
                                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.dinegodevice.name}" ng-model="vm.dinegodevice.name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@L("IdleTime")</label>
                                            <input class="form-control" type="text" name="IdleTime" onkeypress="return NumberOnly(event, 'enterbutton')" ng-class="{'edited':vm.dinegodevice.idleTime}" ng-model="vm.dinegodevice.idleTime" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@L("PinCode")*</label>
                                            <input class="form-control" type="text" name="PinCode" ng-class="{'edited':vm.dinegodevice.pinCode}" ng-model="vm.dinegodevice.pinCode" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="pushToConnect" class="md-check" type="checkbox" ng-model="vm.dinegodevice.pushToConnect">
                                                    <label for="pushToConnect">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("PushToConnect")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("Order") @L("Link")</label>
                                            <input class="form-control" type="text" name="OrderLink" ng-class="{'edited':vm.dinegodevice.orderLink}" ng-model="vm.dinegodevice.orderLink" required>
                                        </div>
                                    </div>

                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Brand")' tabindex="1" ng-if="vm.dinegodevice.id" ng-click="vm.setBrandGrid();">
                                <div class="row">
                                    <div class="col-lg-6 margin-top-20">
                                        <div class="form-group">
                                            <label class="control-label">
                                                @L("Brand") <span class="bold" style="color: red; font-size: small;"> *</span>
                                            </label>
                                            <ui-select class="borderself" ng-model="vm.dinegodevicebranddetail">
                                                <ui-select-match placeholder="Select Brand ...">{{$select.selected.label}}</ui-select-match>
                                                <ui-select-choices repeat="item as item in vm.brands | filter: $select.search | limitTo: vm.uilimit ">
                                                    <div ng-bind="item.label"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 margin-top-40">
                                        <button type="button" class="btn btn-primary" ng-click="vm.saveBrandPortion()">Add</button>
                                    </div>
                                </div>

                                <div class="row" busy-if="vm.loading">
                                    <div class="col-lg-12 margin-top-20">
                                        <div ui-grid="vm.dineGoDeviceBrandDetailOptions" style="height: 100%;" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                    </div>
                                </div>


                            </uib-tab>
                            <uib-tab heading='@L("PaymentType")' tabindex="2" ng-if="vm.dinegodevice.id" ng-click="vm.setPaymentGrid();">
                                <div class="row">
                                    <div class="col-lg-6 margin-top-20">
                                        <div class="form-group">
                                            <label class="control-label">
                                                @L("PaymentType") <span class="bold" style="color: red; font-size: small;"> *</span>
                                            </label>
                                            <ui-select class="borderself" ng-model="vm.dinegodevicepaymenttypedetail">
                                                <ui-select-match placeholder="Select Payment Type ...">{{$select.selected.label}}</ui-select-match>
                                                <ui-select-choices repeat="item as item in vm.paymentTypes | filter: $select.search | limitTo: vm.uilimit ">
                                                    <div ng-bind="item.label"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 margin-top-40">
                                        <button type="button" class="btn btn-primary" ng-click="vm.savePaymentTypePortion()">Add</button>
                                    </div>
                                </div>

                                <div class="row" busy-if="vm.loading">
                                    <div class="col-lg-12 margin-top-20">

                                        <div ui-grid="vm.dineGoDevicePaymentTypeDetailOptions" style="height: 100%;" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                    </div>
                                </div>

                            </uib-tab>
                            <uib-tab heading='@L("Settings")' tabindex="3" ng-if="vm.dinegodevice.id">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-info margin-top-15">
                                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                                <h3 class="panel-title bold">@L("Idle") </h3>
                                            </div>
                                            <div id="collapse1" class="collapse in">
                                                <div class="panel-body">
                                                    <div class="col-md-6">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>@L("Name") </th>
                                                                    <th>@L("Actions")</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="(fileIndex, file) in vm.idleContents">
                                                                    <td>
                                                                        <strong>{{ file.fileName }}</strong>
                                                                    </td>
                                                                    <td nowrap>
                                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Idle Content';vm.downloader(file)">
                                                                            <span class="glyphicon  glyphicon-download-alt"></span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Idle Content';vm.removeFile(fileIndex)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="col-md-6" style="margin-bottom: 40px">
                                                        <h3>@L("Select") </h3>
                                                        <input id="idleFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                                        <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                                ng-click="vm.fileTag='Idle Content';vm.uploadFile(true)"
                                                                ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-info margin-top-15">
                                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                                                <h3 class="panel-title bold">@L("Banner")  </h3>
                                            </div>
                                            <div id="collapse2" class="collapse in">
                                                <div class="panel-body">
                                                    <div class="col-md-6">

                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>@L("Name") </th>
                                                                    <th>@L("Actions")</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="(fileIndex, file) in vm.bannerContents">
                                                                    <td>
                                                                        <strong>{{ file.fileName }}</strong>
                                                                    </td>
                                                                    <td nowrap>
                                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Banner Content';vm.downloader(file)">
                                                                            <span class="glyphicon  glyphicon-download-alt"></span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Banner Content';vm.removeFile(fileIndex)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="col-md-6" style="margin-bottom: 40px">
                                                        <h3>@L("Select") </h3>
                                                        <input id="bannerFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                                        <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                                ng-click="vm.fileTag='Banner Content';vm.uploadFile(true)"
                                                                ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("MainButtonColor")</label>
                                            <input type="text" class="form-control" color-picker color-picker-position="bottom" color-picker-model="vm.mainButtonColor" ng-style="{background:vm.mainButtonColor}">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="panel panel-info margin-top-15">
                                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                                                <h3 class="panel-title bold">@L("Logo")</h3>
                                            </div>
                                            <div id="collapse3" class="collapse in">
                                                <div class="panel-body">
                                                    <div class="row col-lg-12" style="margin-bottom: 40px">
                                                        <h3>@L("Select") </h3>
                                                        <input id="logoFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                                        <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                                ng-click="vm.fileTag='Logo';vm.uploadFile(true)"
                                                                ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                    </div>
                                                    <div class="row col-lg-12">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>@L("Name") </th>
                                                                    <th>@L("Actions")</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="(fileIndex, file) in vm.logo">
                                                                    <td>
                                                                        <strong>{{ file.fileName }}</strong>
                                                                    </td>
                                                                    <td nowrap>
                                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Logo';vm.downloader(file)">
                                                                            <span class="glyphicon  glyphicon-download-alt"></span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Logo';vm.removeFile(fileIndex)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                        </uib-tabset>
                    </div>

                </div>
                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dinegodeviceCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>