﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="materialstoragelocationCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.materialstoragelocation.id">@L("EditMaterialStorageLocation"): {{vm.materialstoragelocation.id}}</span>
                <span ng-if="!vm.materialstoragelocation.id">@L("CreateMaterialStorageLocation")</span>
            </h4>
        </div>
        <div class="modal-body">
           
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("Storage Location Name")</label>

                        <ui-select class="borderself" ng-model="vm.materialstoragelocation.storageLocationRefId" @*class="form-control"*@ required>
                            <ui-select-match id="selStoreLocationRefid" placeholder="Select Storage Location...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices @*ng-model="vm.inwarddirectcredit.locationRefId"*@ repeat="item.value as item in vm.refstoragelocation | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>


                        @*<select id="selid" autofocus class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refstoragelocation" ng-model="vm.materialstoragelocation.storageLocationRefId" required></select>*@
                    </div>
                </div>
            </div>

			 <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("Material Name")</label>
                        <ui-select class="borderself" ng-model="vm.materiallocationwisestock.materialRefId" @*class="form-control"*@ required>
                            <ui-select-match  placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices @*ng-model="vm.inwarddirectcredit.locationRefId"*@ repeat="item.value as item in vm.refmaterial | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>


                        @*<select id="selid" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterial" ng-model="vm.materialstoragelocation.materialRefId" required  ></select>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="materialstoragelocationCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

