﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<div>
    <form name="brandCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.brand.id">@L("EditBrand"): {{vm.brand.name | uppercase}}</span>
                <span ng-if="!vm.brand.id">@L("CreateBrand")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" autofocus  type="text" name="Name" ng-class="{'edited':vm.brand.name}" ng-model="vm.brand.name" required>
                        <label>@L("Name")</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="brandCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="brandCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
            </button>

        </div>
    </form>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>

</div>

