﻿<div ng-controller="tenant.views.addons.qbent as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("QuickBooks")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-4">
                    @L("QuickBooks")
                </div>
                <div class="col-sm-4" ng-if="!vm.isConnected">
                    <button  type="button" class="btn btn-default" ng-click="vm.connect()">@L("Enable")</button>
                </div>
                <div class="col-sm-4" ng-if="vm.isConnected">
                    <button type="button" class="btn btn-default" ng-click="vm.disconnect()">@L("Disable")</button>
                </div>
                
            </div>

        
        </div>
    </div>


</div>