﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.dayparting.detail as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase"><span ng-if="vm.workMode == 'ADD'">@L("Create")</span> @L("Dayparting")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <div class="form">
                                <form name="daypartCreateOrEditForm" role="form" novalidate class="form-validation">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" ng-model="vm.daypart.name" required
                                                       aria-describedby="helpBlockDaypartNameDesc">
                                                <span id="helpBlockDaypartNameDesc" class="help-block">
                                                    @L("DaypartNameDesc")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-offset-12 col-md-offset-6 col-lg-offset-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>@L("StartTime")</label>
                                                <input type="time" class="form-control" ng-model="vm.daypart.startTime" required
                                                       aria-describedby="helpBlockDaypartStartTimeDesc">
                                                <span id="helpBlockDaypartStartTimeDesc" class="help-block">
                                                    @L("DaypartStartTimeDesc")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>@L("EndTime")</label>
                                                <input type="time" class="form-control" ng-model="vm.daypart.endTime" required
                                                       aria-describedby="DaypartEndTimeDesc">
                                                <span id="helpBlockDaypartEndTimeDesc" class="help-block">
                                                    @L("DaypartEndTimeDesc")
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Exceptions</h4>
                                        </div>
                                        <div class="col-xs-12">
                                            <p>
                                                If there are any exceptions enter them below by selecting the Day from the list and entering a start/end time.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:5px;" ng-repeat="(key,exc) in vm.daypart.exceptions">
                                        <div class="col-xs-3 col-xs-offset-1">
                                            <select class="form-control" ng-options="wd.text for wd in vm.weekdays" ng-model="exc.day">
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="time" class="form-control" placeholder="Start" ng-model="exc.startTime">
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="time" class="form-control" placeholder="End" ng-model="exc.endTime">
                                        </div>
                                        <div class="col-xs-1" style="text-align:center;">
                                            <button class="btn btn-default" type="button" ng-click="vm.addException(key===0,exc)">
                                                <i ng-if="key===0" class="fa fa-plus" aria-hidden="true"></i>
                                                <i ng-if="key>0" class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="col-xs-offset-1"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-default"
                                    ng-click="vm.cancel()">
                                @L("Cancel")
                            </button>
                            <button type="submit" button-busy="vm.saving"
                                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.save()" ng-disabled="daypartCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2">

            </div>
        </div>
    </div>
</div>
<style>
    .select-remove-first-blank option:first-child {
        display: none;
    }
</style>
