﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">
            <span>@L("Daypart").Pluralize()</span>
        </h3>
    </div>
    <div class="modal-body" busy-if="vm.loading">
        <div class="input-group" style="margin-bottom:3px;">
            <input ng-model="vm.filterText"
                   auto-focus class="form-control"
                   placeholder="@L("SearchWithThreeDot")" type="text">
            <span class="input-group-btn">
                <button ng-click="vm.getAll()" style="margin-left:5px;"
                        class="btn default" type="submit">
                    <i class="icon-magnifier"></i>
                </button>
            </span>
        </div>
        <div busy-if="vm.loading" style="height: 100%;">
            <div class="ui-grid-daypart-selector">
                <div ui-grid-selection ui-grid="vm.userGridOptions" style="height: inherit;"
                     ui-grid-pagination ui-grid-resize-columns
                     dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default"
                ng-click="vm.cancel()">
            @L("Cancel")
            </button>
            <button style="min-width:100px;" type="submit" button-busy="vm.saving"
                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                    ng-click="vm.select()">
                <span>@L("Select")</span>
            </button>
        </div>
    </div>
<style>
    .ui-grid-daypart-selector {
        min-height: 330px !important;
    }

    .ui-grid-row, .ui-grid-cell {
        height: 30px !important;
    }
</style>