@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.locationmenu.item as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("LocationMenuItem").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.importItems()">
                <i class="fa fa-download"></i> @L("Import")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <select id="CategoryEditBox"
                                            class="form-control selectpicker"
                                            ng-options="vm.getLocationValue(item) as item.displayText for item in vm.locations"
                                            ng-model="vm.locationId"></select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.loadLeftMenu()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.loadRightMenu()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-6">
                    <div busy-if="vm.loading">
                        <div ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-pagination dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div busy-if="vm.loading">
                        <div ui-grid="vm.gridLocationOptions" ui-grid-resize-columns ui-grid-pagination dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>