@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.locationmenu.price as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("LocationMenuPrice").Pluralize()</span> <small>{{ vm.currentLocation }}</small>
                    </h1>
                </div>
            </div>
        </div>
       
        <div class="col-xs-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
            <button class="btn btn-default" ng-click="vm.importPrices()">
                <i class="fa fa-download"></i> @L("Import")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.loadMenu()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.gridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>