@using DinePlan.DineConnect.Localization
<div>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <div class="col-xs-6">
                <h4 class="modal-title">
					<span>{{vm.title}}</span>
                </h4>
            </div>
        </div>

        <div class="modal-body">
            <div busy-if="vm.loading">
                <div class="input-group margin-bottom-10">
                    <input auto-focus ng-model="vm.filterText" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                    <span class="input-group-btn">
                        <button ng-click="vm.getData()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                    </span>
                </div>
                <div ui-grid="vm.selectOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

<style>
    .ui-grid-row, .ui-grid-cell {
        height: 30px !important;
    }
</style>