@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .daily-reconciliation-all-modal .modal-dialog {
        width: 800px;
    }
</style>
<div ng-controller="tenant.views.connect.report.dailyreconciliation.dailyreconciliation as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            @*<div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DailyReconciliation").Pluralize()</span>
                    </h1>
                </div>
            </div>*@
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getOrders()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="btn-group">
                                    <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-file-excel-o"></i> @L("Export")
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
                                        </li>
                                        <li>
                                            <a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
                                        </li>
                                        @*<li>
                    <a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
                </li>*@
                                    </ul>
                                </div>
                                <button class="btn blue" ng-click="vm.getDailyReconciliationData()"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div class="row margin-bottom-5">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="page-head">
                            <div class="page-title  col-md-12 text-center">
                                <h1>
                                    <span class="caption-subject bold uppercase">@L("DailyReconciliation").Pluralize()</span>
                                </h1>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div data-ng-repeat="(index, vm2) in vm.allData">
                    <span><b>@L("PlantCode"):</b> {{vm2.locationCode}}</span><br />
                    <span><b>@L("PlantName"):</b> {{vm2.locationName}}</span><br />                    
                    <div data-ng-repeat="(index1,vm1) in vm2.details">
                        <span ng-if="vm1.data.workShiftDailyReconciliationList.length > 0"><b>@L("Date"):</b> {{vm1.workPeriodInfo.startTime | date: vm.dateFormat}}</span><br />
                        <div class="row">
                            <div class="col-md-12" ng-if="vm1.data.workShiftDailyReconciliationList.length > 0">
                                <div class="form-group">
                                    <table class="table table-bordered" data-ng-repeat="(index1,data) in vm1.allWorkShiftData">
                                        <thead style="background-color:green">
                                            <tr>
                                                <th colspan="5">{{data.workShiftTiming}}</th>
                                            </tr>
                                        </thead>
                                        <tr class="table__highlight">
                                            <td>
                                                @L("Tender")
                                            </td>
                                            <td>
                                                @L("PortionPercent")
                                            </td>
                                            <td>
                                                @L("System")
                                            </td>
                                            <td>
                                                @L("Actual")
                                            </td>
                                            <td>
                                                @L("Diff")
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="(subindex,subdata) in data.workShiftDailyReconciliationList">
                                            <td>
                                                {{subdata.paymentType}}
                                            </td>
                                            <td class="text-right">
                                                {{subdata.portion}} %
                                            </td>
                                            <td class="text-right">
                                                {{subdata.systemAmount | number : 2}}
                                            </td>
                                            <td class="text-right">
                                                {{subdata.actualAmount | number : 2}}
                                            </td>
                                            <td class="text-right">
                                                {{subdata.difference | number : 2}}
                                            </td>
                                        </tr>
                                        <tr class="table__highlight">
                                            <td>
                                                {{data.shiftBasedTotalDailyReconciliation.paymentType}}
                                            </td>
                                            <td class="text-right">
                                                {{data.shiftBasedTotalDailyReconciliation.portion}} %
                                            </td>
                                            <td class="text-right">
                                                {{data.shiftBasedTotalDailyReconciliation.systemAmount | number : 2 }}
                                            </td>
                                            <td class="text-right">
                                                {{data.shiftBasedTotalDailyReconciliation.actualAmount | number : 2 }}
                                            </td>
                                            <td class="text-right">
                                                {{data.shiftBasedTotalDailyReconciliation.difference | number : 2}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-if="vm1.data.workShiftDailyReconciliationList.length > 0">
                                    <table class="table table-bordered">
                                        <thead style="background-color:green">
                                            <tr>
                                                <th colspan="5">{{vm1.data.workShiftTiming}}</th>
                                            </tr>
                                        </thead>
                                        <tr class="table__highlight">
                                            <td>
                                                @L("Tender")
                                            </td>
                                            <td>
                                                @L("PortionPercent")
                                            </td>
                                            <td>
                                                @L("System")
                                            </td>
                                            <td>
                                                @L("Actual")
                                            </td>
                                            <td>
                                                @L("Diff")
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="(index,data) in vm1.data.workShiftDailyReconciliationList">
                                            <td>
                                                {{data.paymentType}}
                                            </td>
                                            <td class="text-right">
                                                {{data.portion}} %
                                            </td>
                                            <td class="text-right">
                                                {{data.systemAmount | number : 2}}
                                            </td>
                                            <td class="text-right">
                                                {{data.actualAmount | number : 2}}
                                            </td>
                                            <td class="text-right">
                                                {{data.difference | number : 2 }}
                                            </td>
                                        </tr>
                                        <tr class="table__highlight">
                                            <td>
                                                {{vm1.data.shiftBasedTotalDailyReconciliation.paymentType}}
                                            </td>
                                            <td class="text-right">
                                                {{vm1.data.shiftBasedTotalDailyReconciliation.portion}} %
                                            </td>
                                            <td class="text-right">
                                                {{vm1.data.shiftBasedTotalDailyReconciliation.systemAmount | number : 2}}
                                            </td>
                                            <td class="text-right">
                                                {{vm1.data.shiftBasedTotalDailyReconciliation.actualAmount | number : 2}}
                                            </td>
                                            <td class="text-right">
                                                {{vm1.data.shiftBasedTotalDailyReconciliation.difference | number : 2}}
                                            </td>
                                        </tr>
                                        <tr class="table__highlight">
                                            <td>
                                                @L("Number") @L("Of") @L("Bill")
                                            </td>
                                            <td class="text-right">
                                                {{vm1.numberOfBill}}
                                            </td>
                                        </tr>
                                        <tr class="table__highlight">
                                            <td>
                                                @L("AvgPerBill")
                                            </td>
                                            <td class="text-right">
                                                {{vm1.avgPerBill}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-if="vm2.summary">
                                <table class="table table-bordered">
                                    <tr class="table__highlight">
                                        <td>
                                            @L("Tender")
                                        </td>
                                        <td>
                                            @L("PortionPercent")
                                        </td>
                                        <td>
                                            @L("System")
                                        </td>
                                        <td>
                                            @L("Actual")
                                        </td>
                                        <td>
                                            @L("Diff")
                                        </td>
                                    </tr>
                                    <tr data-ng-repeat="(index,data) in vm2.summary.data.workShiftDailyReconciliationList">
                                        <td>
                                            {{data.paymentType}}
                                        </td>
                                        <td class="text-right">
                                            {{data.portion}} %
                                        </td>
                                        <td class="text-right">
                                            {{data.systemAmount | number : 2}}
                                        </td>
                                        <td class="text-right">
                                            {{data.actualAmount | number : 2}}
                                        </td>
                                        <td class="text-right">
                                            {{data.difference | number : 2 }}
                                        </td>
                                    </tr>
                                    <tr class="table__highlight">
                                        <td>
                                            {{vm2.summary.data.shiftBasedTotalDailyReconciliation.paymentType}}
                                        </td>
                                        <td class="text-right">
                                            {{vm2.summary.data.shiftBasedTotalDailyReconciliation.portion}} %
                                        </td>
                                        <td class="text-right">
                                            {{vm2.summary.data.shiftBasedTotalDailyReconciliation.systemAmount | number : 2}}
                                        </td>
                                        <td class="text-right">
                                            {{vm2.summary.data.shiftBasedTotalDailyReconciliation.actualAmount | number : 2}}
                                        </td>
                                        <td class="text-right">
                                            {{vm2.summary.data.shiftBasedTotalDailyReconciliation.difference | number : 2}}
                                        </td>
                                    </tr>
                                    <tr class="table__highlight">
                                        <td>
                                            @L("Number") @L("Of") @L("Bill")
                                        </td>
                                        <td class="text-right">
                                            {{vm2.summary.numberOfBill}}
                                        </td>
                                    </tr>
                                    <tr class="table__highlight">
                                        <td>
                                            @L("AvgPerBill")
                                        </td>
                                        <td class="text-right">
                                            {{vm2.summary.avgPerBill}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>*@
            </div>
        </div>
    </div>
</div>