<div ng-controller="tenant.views.connect.master.entityttype.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.entitytype.id">@L("EditEntityType"): {{vm.entitytype.name}}</span>
                        <span ng-if="!vm.entitytype.id">@L("CreateEntityType") : {{vm.entitytype.name}}</span>
                    </h1>
                </div>
            </div>
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("CreateEntityTypeInfo") </p>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form name="detailform">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input type="text" class="form-control" ng-model="vm.entitytype.name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("EntityName")</label>
                                    <input type="text" class="form-control" ng-model="vm.entitytype.entityName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("PrimaryField")</label>
                                    <input type="text" class="form-control" ng-model="vm.entitytype.primaryFieldName" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DisplayFormat")</label>
                                    <input type="text" class="form-control" ng-model="vm.entitytype.displayFormat">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title">
                                    <h4>@L("Fields")</h4>
                                </div>
                                <div class="pull-right">
                                    <input type="button" class="btn btn-primary" value="@L("AddField")" data-ng-click="vm.addField()" />

                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>

                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th>@L("Name")*</th>
                                            <th>@L("FieldType")*</th>
                                            <th>@L("EditingFormat")</th>
                                            <th>@L("ValueSource")</th>
                                            <th>@L("Hidden")</th>

                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(productIndex, product) in vm.entitytype.fields">
                                        <td>
                                            <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(productIndex)" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.name" required/>
                                        </td>
                                        <td>
                                            <ui-select class="borderself" id="selMaterialType" ng-class="{'edited':product.fieldType}" ng-model="product.fieldType" required>
                                                <ui-select-match placeholder="Select Field Type...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.fieldTypes | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.editingFormat"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.valueSource" />
                                        </td>
                                        <td>
                                            <input id="Hidden" class="md-check" type="checkbox" ng-model="product.hidden">
                                            <label for="Hidden">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.entitytype.fields.length==0">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>