﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="dcstationmasterCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.dcstationmaster.id">@L("EditDcStationMaster"): {{vm.dcstationmaster.stationName}}</span>
                <span ng-if="!vm.dcstationmaster.id">@L("CreateDcStationMaster") : {{vm.dcstationmaster.stationName}}</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loadingCount">
            <div class="row margin-top-20" style="border:outset;border-color:forestgreen" busy-if="vm.loadingCount">
                <div class="col-sm-3 margin-top-20">
                    <div class="form-group">
                        <div class="form-group">
                            <button class="btn green btn-group btn-group-justified" ng-click="vm.openLocation()">
                                <i class="fa fa-file"></i> <span>{{ vm.currentLocation }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class=" bold control-label">@L("Company")</label> <span class="bold" style="font-size:small; color:red"> *</span>
                        <br />
                        <span class="bold margin-top-20">{{vm.currentCompany}} </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">@L("Head") @L("Name")</label>
                        <ui-select class="borderself" ng-model="vm.dcstationmaster.dcHeadRefId" ng-change="vm.fillDropDownDcGroupMaster()" ng-required="true" name="HeadName">
                            <ui-select-match placeholder="Select Head...">{{$select.selected.headName}}</ui-select-match>
                            <ui-select-choices ng-model="vm.dcstationmaster.dcHeadRefId" repeat="item.id as item in vm.refdcheadmaster | filter: $select.search">
                                <div ng-bind="item.headName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">@L("Group") @L("Name")</label>
                        <ui-select class="borderself" ng-required="true" ng-model="vm.dcstationmaster.dcGroupRefId" name="GroupName">
                            <ui-select-match placeholder="Select Group...">{{$select.selected.groupName}}</ui-select-match>
                            <ui-select-choices ng-model="vm.dcstationmaster.dcGroupRefId" repeat="item.id as item in vm.refdcgroupmaster | filter: $select.search">
                                <div ng-bind="item.groupName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row margin-top-20" busy-if="vm.loadingCount">
                <div class="col-sm-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                        <input class="form-control" type="text" name="BioMetricCode" ng-class="{'edited':vm.dcstationmaster.stationName}" ng-model="vm.dcstationmaster.stationName" required>
                        <label>@L("Station")<span class="bold" style="font-size:small; color:red"> *</span></label>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <div class="form-group no-hint">
                        <label>@L("#")</label>
                        <input class="form-control text-right" type="number" name="PriorityLevel" ng-class="{'edited':vm.dcstationmaster.priorityLevel}" ng-model="vm.dcstationmaster.priorityLevel" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="6" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="md-checkbox tp-bottom margin-top-30">
                        <input id="IsMandatory" class="md-check" type="checkbox" name="IsMandatory" ng-class="{'edited':vm.dcstationmaster.isMandatory}" ng-model="vm.dcstationmaster.isMandatory">
                        <label for="IsMandatory">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Mandatory") ?
                        </label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="md-checkbox tp-bottom margin-top-30">
                        <input id="IsActive" class="md-check" type="checkbox" name="IsActive" ng-class="{'edited':vm.dcstationmaster.isActive}" ng-model="vm.dcstationmaster.isActive">
                        <label for="IsActive">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsActive") ?
                        </label>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <div class="form-group no-hint">
                        <label>@L("Min") @L("Staff") <span class="bold" style="font-size:small; color:red"> *</span></label>
                        <input class="form-control text-right" type="number" name="MinimumStaffRequired" ng-class="{'edited':vm.dcstationmaster.minimumStaffRequired}" ng-model="vm.dcstationmaster.minimumStaffRequired" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="3" required>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <div class="form-group no-hint">
                        <label>@L("Max") @L("Staff") <span class="bold" style="font-size:small; color:red"> *</span></label>
                        <input class="form-control text-right" type="number" name="MaximumStaffRequired" ng-class="{'edited':vm.dcstationmaster.maximumStaffRequired}" ng-model="vm.dcstationmaster.maximumStaffRequired" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="3" required>
                    </div>
                </div>
            </div>
            <div class="row margin-top-20" busy-if="vm.loadingCount">
                <div class="col-xs-2">
                    <div class="md-checkbox tp-bottom">
                        <input id="nightflag" class="md-check" ng-change="vm.setTimeDesc()" type="checkbox" name="nightflag" ng-class="{'edited':vm.dcstationmaster.nightFlag}" ng-model="vm.dcstationmaster.nightFlag">
                        <label for="nightflag">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("NightFlag")
                        </label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="md-checkbox tp-bottom">
                        <input id="defaultTimeFlag" class="md-check" type="checkbox" ng-class="{'edited':vm.dcstationmaster.defaultTimeFlag}" ng-model="vm.dcstationmaster.defaultTimeFlag">
                        <label for="defaultTimeFlag">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("DefaultTimeFlag")
                        </label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="md-checkbox tp-bottom">
                        <input id="breakflag" ng-change="vm.setTimeDesc()" class="md-check" type="checkbox" name="breakflag" ng-class="{'edited':vm.dcstationmaster.breakFlag}" ng-model="vm.dcstationmaster.breakFlag">
                        <label for="breakflag">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Break") @L("Exists") ?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row margin-top-20" busy-if="vm.loadingCount">
                <div class="col-xs-4">
                    <table class="table table-striped table-bordered col-xs-12">
                        <tr>
                            <td class="col-xs-4"> <label>@L("TimeIn")*</label> <br /><br /><label>@L("TimeOut")*</label></td>
                            <td class="col-xs-4">
                                <select class="text-right" ng-change="vm.setTimeDesc()" style="width:100px;height:30px" ng-init="(_Hours = []).length = 24;" ng-model="vm.timeinhours">
                                    <option ng-repeat="i in _Hours track by $index">{{$index}}</option>
                                </select><label>@L("Hrs")</label><br /><br />
                                <select  class="text-right" ng-change="vm.setTimeDesc()" style="width:100px;height:30px" ng-init="(_Hours = []).length = 24;" ng-model="vm.timeouthours">
                                    <option ng-repeat="i in _Hours track by $index">{{$index}}</option>
                                </select>
                                <label>@L("Hrs")</label>
                            </td>
                            <td class="col-xs-4">
                                <select class="text-right" ng-change="vm.setTimeDesc()" style="width:100px;height:30px" ng-init="(_Minutes = []).length = 60;" ng-model="vm.timeinminutes">
                                    <option ng-repeat="i in _Minutes track by $index">{{$index}}</option>
                                </select><label>@L("Mins")</label><br /><br />
                                <select class="text-right" ng-change="vm.setTimeDesc()" style="width:100px;height:30px" ng-init="(_Minutes = []).length = 60;" ng-model="vm.timeoutminutes">
                                    <option ng-repeat="i in _Minutes track by $index">{{$index}}</option>
                                </select>
                                <label>@L("Mins")</label>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="col-xs-4">
                    <table class="table table-striped table-bordered col-xs-12">
                        <tr ng-if="vm.dcstationmaster.breakFlag">
                            <td class="col-xs-2"> <label>@L("BreakOut")*</label><br /><br /> <label>@L("BreakIn")*</label></td>
                            <td class="col-xs-2">
                                <select style="width:100px;height:30px" ng-change="vm.setTimeDesc()"  ng-init="(_Hours = []).length = 24;" ng-model="vm.breakouthours">
                                    <option ng-repeat="i in _Hours track by $index">{{$index}}</option>
                                </select>
                                <label>@L("Hrs")</label><br /><br />
                                <select style="width:100px;height:30px" ng-change="vm.setTimeDesc()"  ng-init="(_Hours = []).length = 24;" ng-model="vm.breakinhours">
                                    <option ng-repeat="i in _Hours track by $index">{{$index}}</option>
                                </select><label>@L("Hrs")</label>

                            </td>
                            <td class="col-xs-2">
                                <select style="width:100px;height:30px" ng-change="vm.setTimeDesc()"  ng-init="(_Minutes = []).length = 60;" ng-model="vm.breakoutminutes">
                                    <option ng-repeat="i in _Minutes track by $index">{{$index}}</option>
                                </select>  <label>@L("Mins")</label><br /><br />
                                <select style="width:100px;height:30px" ng-change="vm.setTimeDesc()"  ng-init="(_Minutes = []).length = 60;" ng-model="vm.breakinminutes">
                                    <option ng-repeat="i in _Minutes track by $index">{{$index}}</option>
                                </select><label>@L("Mins")</label>
                            </td>
                        </tr>
                    </table>                    
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-xs-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="TimeDescription" ng-class="{'edited':vm.dcstationmaster.timeDescription}" ng-model="vm.dcstationmaster.timeDescription" required ng-disabled="true">
                        <label>@L("TimeDescription")*</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="help" ng-disabled="vm.saving" type="button" class="btn btn-default yellow" ng-click="vm.showErrorFlag=!vm.showErrorFlag" ng-if="dcstationmasterCreateOrEditForm.$invalid">@L("Help")</button>
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dcstationmasterCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
        <div class="row margin-top-20" ng-if="vm.showErrorFlag">
            <div>
                <ul>
                    <li ng-repeat="(key, errors) in dcstationmasterCreateOrEditForm.$error track by $index">
                        <strong>{{ key }}</strong> errors
                        <ul>
                            <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

