﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="host.views.swipe.transaction.membercard.swipecardBalance as vm">
		<div class="portlet light" busy-if="vm.loading || vm.loadingMaterial">
			<div class="portlet-body">
				<div class="form">
					<form name="swipecardBalance">
					<div class="row">
						<div class="col-xs-12">
							<label class="control-label">@L("CardNumber")</label> <span ng-if="vm.cardRefId"><a ng-click="vm.cardProperties(vm.cardRefId)">@L("CardInfo")</a> </span>
							<input class="form-control input-lg" type="text" autofocus id="cardnumber" ng-change="vm.cardnumberblurneeded=true;"
										 ng-class="{'edited':vm.cardNumber}" ng-model="vm.cardNumber" ng-blur="vm.fillTransaction();" required>
						</div>
					</div>
						<div class="row margin-top-20" ng-if="vm.memberDetails!=null">
							<div class="modal-header">
								<div class="col-xs-12">
									<h4 class="modal-title">
										<span class="caption-subject bold uppercase"> @L("CardNumber") : {{vm.cardDetail.cardNumber}} </span>
										<span ng-if="!vm.memberDetails.employeeRefId">@L("Name") : {{vm.memberDetails.name}} , @L("MemberCode") : {{vm.memberDetails.memberCode}}</span>
										<span class="uppercase" ng-if="vm.memberDetails.employeeRefId" style="background-color: red; color: white;"> @L("Employee") @L("Name") : {{vm.memberDetails.employeeRefName}} </span>
									</h4>
									<h4 class="caption-subject bold uppercase">
										<span style="color:white;background-color:red; font-size:xx-large"> @L("Balance") : {{vm.cardDetail.balance | number : 2}} </span>
										<span>&nbsp;&nbsp;</span>
										<span ng-if="vm.cardDetail.depositBalance" style="color:white;background-color:red;font-size:xx-large">@L("DepositBalance") : {{vm.cardDetail.depositBalance | number : 2}} </span>
									</h4>
								</div>
							</div>
						</div>

						<div class="row margin-top-20" ng-if="vm.memberDetails!=null">
							<div class="col-xs-2">
								<div class="form-group">
									<label class="control-label">@L("LastRecordCount")</label>
									<input id="lastNRecords" type="number" min="1" max="1000"
												 class="form-control" onkeypress="return NumberOnly(event, 'cmdRefresh')" ng-model="vm.lastNRecords" />
								</div>
							</div>
							<div class="col-xs-3">
								<div class="md-checkbox">
									<input id="DateRange" class="md-check" type="checkbox" name="DateRange" ng-class="{'edited':vm.datefilterFlag}" ng-model="vm.datefilterFlag">
									<label for="DateRange">
										<span class="inc"></span>
										<span class="check"></span>
										<span class="box"></span>
										@L("DateRange")
									</label>
									<input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
												 class="form-control date-picker" ng-model="vm.dateRangeModel" ng-show="vm.datefilterFlag" />
								</div>
							</div>
							<div class="col-xs-1">
								<div class="form-group">
									<button class="btn blue margin-top-20" id="cmdRefresh" ng-click="vm.fillTransaction()">
										@L("Refresh")
									</button>
								</div>
							</div>
						</div>
						<div ng-if="vm.detailData.length==0" ng-show="vm.memberDetails!=null">
							@L("NoRecordsFound")
						</div>

						<div class="row" ng-if="vm.detailData.length>0">
							<div class="col-xs-12" ng-if="vm.detailData.length>0">
								<table class="table table-striped table-bordered col-xs-12">
									<thead>
										<tr>
											<th>#</th>
											<th>@L("Time")</th>
											<th>@L("CardType")</th>
											<th>@L("CardNumber")</th>
											<th>@L("Description")</th>
											<th class="text-right">@L("Open")</th>
											<th class="text-right">@L("Credit")</th>
											<th class="text-right">@L("Debit")</th>
											<th class="text-right">@L("Balance")</th>
										</tr>
									</thead>

									<tr data-ng-repeat="(index,data) in vm.detailData">
										<td align="right">
											{{index+1}}
										</td>
										<td>
											{{data.ledgerTime | date : 'dd-MMM-yyyy hh:mm'}}
										</td>
										<td>
											{{data.cardType}}
										</td>
										<td>
											{{data.cardNumber}}
										</td>
										<td>
											<span class="bold" style="color:blue;" ng-if="data.credit"> {{data.description}} </span>
											<span class="bold" style="color:red;" ng-if="data.debit"> {{data.description}}</span>
										</td>
										<td align="right">
											{{data.openingBalance | number : 2}}
										</td>
										<td align="right">
											<span class="bold" style="color:blue;" ng-if="data.credit"> {{data.credit | number : 2}} </span>
											<span ng-if="data.credit==0"> {{data.credit | number : 2}} </span>
										</td>
										<td align="right">
											<span class="bold" style="color:red;" ng-if="data.debit"> {{data.debit | number : 2}} </span>
											<span ng-if="data.debit==0">{{data.debit | number : 2}} </span>

										</td>
										<td align="right">
											{{data.closingBalance | number : 2}}
										</td>
									</tr>
								</table>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>


		</div>
