@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.orders.order as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Order").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getOrders()">

						<div class="row">

							<div class="col-lg-4 col-md4 col-sm-6 col-xs-12">
								<div class="dashboard-stat2">
									<div class="display">
										<div class="number">
											<h3 class="font-red-haze">{{ vm.totalAmount }}</h3>
											<small>@L("TotalAmount").ToUpper() </small>
										</div>
										<div class="icon">
											<i class="icon-like"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="dashboard-stat2">
									<div class="display">
										<div class="number">
											<h3 class="font-blue-sharp">{{ vm.totalOrders }}</h3>
											<small>@L("TotalOrders").ToUpper() </small>
										</div>
										<div class="icon">
											<i class="icon-basket"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="dashboard-stat2">
									<div class="display">
										<div class="number">
											<h3 class="font-blue-sharp">{{ vm.totalItems }}</h3>
											<small>@L("TotalItems").ToUpper() </small>
										</div>
										<div class="icon">
											<i class="icon-user"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>
						</div>
						<div class="row  margin-top-10 margin-bottom-10">
							<div class="col-xs-12" ng-if="true">
								<query-builder options="builder.options" builder="builder.builder"></query-builder>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Void" class="md-check" type="checkbox" ng-model="vm.requestParams.void">
											<label for="Void">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Void")
											</label>
										</div>
									</div>
								</div>

							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Gift" class="md-check" type="checkbox" ng-model="vm.requestParams.gift">
											<label for="Gift">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Gift")
											</label>
										</div>
									</div>
								</div>

							</div>

							<div class="col-md-4">
								<div class="form-group">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Comp" class="md-check" type="checkbox" ng-model="vm.requestParams.comp">
											<label for="Comp">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Comp")
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="row" ng-if="vm.advancedFiltersAreShown">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Terminal")</label>
									<input type="text" class="form-control" ng-model="vm.requestParams.terminalName">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("User")</label>
									<input type="text" class="form-control" ng-model="vm.requestParams.lastModifiedUserName">
								</div>
							</div>
						</div>



					</div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">
                            <span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                            <span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                        </div>
						<div class="col-sm-6 text-right">
							<button class="btn blue" ng-click="vm.clear()">
								<i class="fa fa-eraser"></i> @L("Clear")
							</button>
							<div class="btn-group">
								<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-file-excel-o"></i> @L("Export")
									<i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
									</li>
									<li>
										<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
									</li>
									@*<li>
					<a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
				</li>*@
								</ul>
							</div>
							<button class="btn blue" ng-click="vm.getOrders()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
						</div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>