﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.house.transaction.customersales.salesinvoice.index as vm">
    <div ng-if="!vm.isSalesAllowed">
        <h2>@L("SalesAllowedErr")</h2>
    </div>

    <div class="row margin-bottom-5" ng-if="vm.isSalesAllowed">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SalesInvoice").Pluralize()</span> <small>@L("SalesInvoiceHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-6 text-right">



            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDirectSalesInvoice()">
                <i class="fa fa-plus"></i> @L("CreateDirectSalesInvoice")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createSalesInvoice()">
                <i class="fa fa-plus"></i> @L("CreateSalesInvoice")
            </button>

        </div>
    </div>
    <div class="portlet light" ng-if="vm.isSalesAllowed">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row margin-top-15">

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Customer")</label>
                                    <input ng-model="vm.filterText" placeholder="Customer" auto-focus class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>


                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="vm.invoiceNumber" placeholder='@L("InvoiceNumber")'>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button class="btn btn-primary blue" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                                <button class="btn blue" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl"
                    : "" )></div>
            </div>
        </div>
    </div>
</div>

