﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />


<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.transaction.customersales.salesinvoice.invoicePrintDetail as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            @*<a ng-if="vm.smartprintourexists" ng-click="vm.printIn40Col()"> <span class="">40 Col <i class="fa fa-print"></i>  </span> </a>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>*@
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
    </div>
    <div id="editor"></div>
    <center><h6><b><u>{{vm.location.name}}</u></b></h6></center>
    <center><h5><u>{{vm.location.address1}}</u></h5></center>
    <center><h5><u>{{vm.location.address2}}, {{vm.location.address3}} , {{vm.location.city}}</u></h5></center>
    <center><h6> <b><u> @L("SalesInvoice")</u></b></h6></center>
    <div class="row">
        <div class="col-xs-8">
            <h5>  <b>  @L("InvoiceNumber"): {{vm.salesinvoice.invoiceNumber}} </b></h5>
        </div>
        <div class="col-xs-4 text-right">
            <h5> <b>  @L("Date"): {{vm.salesinvoice.invoiceDate | date : 'dd-MMM-yy'}} </b> </h5>
        </div>
    </div>
            <h6><b>   @L("Customer") </b></h6><br />
            {{vm.headerline}} 
    <div>
        <h6>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.customerName.length>0">
                    <b> {{vm.customer.customerName}} </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.taxRegistrationNumber.length>0">
                    <b>@L("Tax#") {{vm.customer.taxRegistrationNumber}} </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.address1.length>0">
                    {{vm.customer.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.address2.length>0">
                    {{vm.customer.address2}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.address3.length>0">
                    {{vm.customer.address3}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.city.length>0">
                    {{vm.customer.city}}
                </div>
            </div>
        </h6>
    </div>

    <div id="content" ng-if="vm.salesinvoicePortions.length>=5">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("#")</th>
                            <th ng-if="false">@L("DC")</th>
                            <th>@L("MaterialName")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th class="text-right">@L("Cost")</th>
                            <th ng-if="false">@L("DiscAmount")</th>
                            <th class="text-right">@L("TotalAmount")</th>
                            <th class="text-right">@L("TaxAmount")</th>
                            <th class="text-right">@L("LineTotal")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.salesinvoicePortions">
                        <td class="col-xs-1">
                            {{data.sno}}
                        </td>
                        <td class="col-xs-1" ng-if="false">
                            {{data.dcTranid}}
                        </td>
                        <td class="col-xs-3">
                            <b> {{data.materialRefName}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.totalQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>{{data.unitRefName}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b> {{data.price |number:vm.connectdecimals}} </b>
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.totalAmount |number:vm.connectdecimals}}
                        </td>
                        <td class="col-xs-1 text-right ">
                            <b>{{data.taxAmount |number:vm.connectdecimals}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <strong> <b> {{data.netAmount |number:vm.connectdecimals}} </b> </strong>
                        </td>

                    </tr>
                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("SubTotal")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right">
                            <b>  {{vm.subtotalamount |number:vm.connectdecimals}}</b>
                        </td>

                        <td class="col-xs-2 text-right">
                            <b>  {{vm.subtaxamount  |number:vm.connectdecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.subnetamount |number:vm.connectdecimals}}</b>
                        </td>

                    </tr>
                    <tr ng-if="vm.salesinvoice.totalDiscountAmount>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Discount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.totalDiscountAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="vm.salesinvoice.totalShipmentCharges>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Extra")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.totalShipmentCharges |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="vm.salesinvoice.roundedAmount!=0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("RoundedOff")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.roundedAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr >
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("NetAmount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.invoiceAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="smallcontent" ng-if="vm.salesinvoicePortions.length<5">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("#")</th>
                            <th ng-if="false">@L("DC")</th>
                            <th>@L("MaterialName")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th class="text-right">@L("Cost")</th>
                            <th ng-if="false">@L("DiscAmount")</th>
                            <th class="text-right">@L("TotalAmount")</th>
                            <th class="text-right">@L("TaxAmount")</th>
                            <th class="text-right">@L("LineTotal")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.salesinvoicePortions">
                        <td class="col-xs-1">
                            {{data.sno}}
                        </td>
                        <td class="col-xs-1" ng-if="false">
                            {{data.dcTranid}}
                        </td>
                        <td class="col-xs-3">
                            <b> {{data.materialRefName}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.totalQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.unitRefName}}
                        </td>
                        <td class="col-xs-1 text-right">
                            <b> {{data.price |number:vm.connectdecimals}} </b>
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.totalAmount |number:vm.connectdecimals}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.taxAmount |number:vm.connectdecimals}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.netAmount |number:vm.connectdecimals}}
                        </td>

                    </tr>
                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("SubTotal")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right">
                            <b>  {{vm.subtotalamount |number:vm.connectdecimals}}</b>
                        </td>

                        <td class="col-xs-2 text-right">
                            <b>  {{vm.subtaxamount  |number:vm.connectdecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.subnetamount |number:vm.connectdecimals}}</b>
                        </td>

                    </tr>
                    <tr ng-if="vm.salesinvoice.totalDiscountAmount>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Discount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.totalDiscountAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="vm.salesinvoice.totalShipmentCharges>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Extra")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.totalShipmentCharges |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="vm.salesinvoice.roundedAmount!=0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("RoundedOff")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.roundedAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("NetAmount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{vm.salesinvoice.invoiceAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                </table>
    </div>
</div>

