﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.customersales.salesinvoice.salesinvoiceDetail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.salesinvoice.id">@L("ViewSalesInvoice"): {{vm.salesinvoice.id}}</span>
                        <span ng-if="!vm.salesinvoice.id">@L("CreateSalesInvoice")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-3" ng-if="vm.salesinvoiceType.length>0">
            <div class="md-checkbox">
                <input id="DirectSalesInvoice" class="md-check" type="checkbox" name="DirectSalesInvoice" ng-class="{'edited':vm.salesinvoice.isDirectSalesInvoice}" ng-model="vm.salesinvoice.isDirectSalesInvoice" ng-disabled="true">
                <label for="DirectSalesInvoice">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("DirectSalesInvoice")
                </label>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading || vm.loadingCount">
                <form name="salesinvoiceForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Customer")</label>
                                    <ui-select class="borderself" id="selCustomerId" ng-model="vm.salesinvoice.customerRefId" ng-change="filterDcDate(vm.dateRangeModel);vm.fillDropDownMaterial();" ng-blur="vm.salesinvoice.invoiceNumber=''" required ng-disabled="vm.salesinvoice.id!=null">
                                        <ui-select-match id="selCustomerId" placeholder="Select Customer...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refcustomer | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("InvoiceDate")</label>
                                    <input name="invoiceDate" id="invoicedate" class="form-control date-picker" ng-model="vm.salesinvoice.invoiceDate" ng-disabled="vm.salesinvoice.id!=null" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("AccountDate")</label>
                                    <input name="accountDate" id="accountDate" class="form-control date-picker" ng-model="vm.salesinvoice.accountDate" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>@L("InvoiceNumber")</label>
                                    <input class="form-control text-right" type="text" id="invoiceno" name="invoiceno" ng-class="{'edited':vm.salesinvoice.invoiceNumber}" ng-blur="filterDcDate(vm.dateRangeModel)" ng-model="vm.salesinvoice.invoiceNumber" required ng-disabled="vm.salesinvoice.id!=null">

                                </div>
                            </div>

                        </div>



                        <div class="row" ng-if="vm.salesinvoice.invoiceNumber.length > 0">

                            <div ng-show="vm.salesinvoice.invoiceNumber.length > 0 && !vm.salesinvoice.isDirectSalesInvoice">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DcDateRange")</label>
                                        <input type="checkbox" ng-model="vm.allTimeDcs" />
                                        <input date-range-picker type="text" ng-change="filterDcDate(vm.dateRangeModel)" options="vm.dateRangeOptions"
                                               min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" ng-disabled="vm.salesinvoice.id!=null" />
                                    </div>
                                </div>

                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("ReceiptReference")</label>
                                        <ui-select class="borderself" id="dcTidEditBox" ng-model="vm.tempsalesinvoicedetail.dcTranid"
                                                   ng-change="vm.inwardDcTranIdRef(vm.tempsalesinvoicedetail.dcTranid)" ng-disabled="vm.salesinvoice.id!=null">
                                            <ui-select-match id="dcTidEditBox" placeholder="Select Reference...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refdctranid | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group">
                                        <button class="btn blue margin-top-30" ng-click="vm.getDetailMaterial()"><i class="fa fa-refresh"></i> </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="ReferRecipts" ng-if="false" ng-disabled="vm.salesinvoice.id!=null" ng-show="vm.salesinvoicePortions.length>0 && !vm.salesinvoice.isDirectSalesInvoice">
                                <div class="col-xs-12" busy-if="vm.detailloading">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Actions")</th>
                                                <th ng-if="false">@L("#")</th>
                                                <th>@L("DC")</th>
                                                <th>@L("MaterialName")</th>
                                                <th class="text-right">@L("Qty")</th>
                                                <th class="text-right">@L("UOM")</th>
                                                <th class="text-right">@L("Cost")</th>
                                                <th ng-if="false">@L("DiscAmount")</th>
                                                <th class="text-right">@L("SubTotal")</th>
                                                <th class="text-right">@L("Tax")</th>
                                                <th class="text-right">@L("TaxAmount")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.salesinvoicePortions">
                                            <td class="col-xs-1">
                                                <button type="button" class="btn btn-danger btn-primary" data-ng-click="vm.removeRow(index)">
                                                    <i class="glyphicon glyphicon-minus"></i> <span></span>
                                                </button> {{data.sno}}
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.sno" />
                                            </td>
                                            <td class="col-xs-1">
                                                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.dcTranid" />
                                            </td>
                                            <td class="col-xs-3">
                                                <input type="text" ng-disabled="true" class="form-control  text-left" ng-model="data.materialRefName" ng-value="data.materialRefId + '-' + data.materialRefName " />
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="totqty" type="text" ng-change="amtCalc(index,data)" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.totalQty" ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="uom" type="text" class="form-control text-right" ng-model="data.unitRefName" ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="price" type="text" ng-change="amtCalc(index,data)" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.price"
                                                       ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input id="discAmt" ng-change="calcDiscountPerc(index,data)" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.discountAmount" ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-2">
                                                <input id="SubTotal" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.totalAmount" ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-1">
                                                <ui-select id="selTax" multiple class="borderself"
                                                           ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.totalQty, data.price)" ng-click="taxCalc(data, data.totalQty, data.price)" ng-model="data.applicableTaxes">
                                                    <ui-select-match placeholder="@L("SelectTax")">{{$item.taxName}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                                                        <div ng-bind="item.taxName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="taxAmt" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.taxAmount" ng-disabled="true" />
                                            </td>



                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />

                            <div id="directSalesInvoice" class="row" ng-disabled="vm.salesinvoice.id!=null" @*ng-show="vm.salesinvoice.isDirectSalesInvoice"*@>
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Action")</th>
                                                <th ng-if="false">@L("#")</th>
                                                <th>@L("MaterialName")</th>
                                                <th class="text-right">@L("Qty")</th>
                                                <th class="text-right">@L("UOM")</th>
                                                <th class="text-right">@L("Cost")</th>
                                                <th class="text-right" ng-if="false">@L("DiscAmount")</th>
                                                <th class="text-right">@L("SubTotal")</th>
                                                <th class="text-right">@L("Tax")</th>
                                                <th class="text-right">@L("TaxAmount")</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.salesinvoicePortions">
                                            <td class="col-xs-1">
                                                <input ng-disabled="vm.salesinvoice.id!=null" type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" /> {{data.sno}}
                                            </td>
                                            <td ng-if="false" class="col-xs-1">
                                                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.sno" />
                                            </td>
                                            <td class="col-xs-3">
                                                <ui-select id="selMaterial" class="borderself" ng-required="true" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId" ng-disabled="vm.salesinvoice.id!=null">
                                                    <ui-select-match placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                        <div ng-bind="item.materialRefName"></div>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </td>
                                            <td class="col-xs-1">
                                                <input id="qtyOrder" type="text" ng-change="vm.amtCalc(data,data.totalQty,data.price)" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.totalQty" required ng-disabled="vm.salesinvoice.id!=null || !data.materialRefId" />
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                @*<input id="uom" type="text" class="form-control text-right" ng-model="data.uom" ng-disabled="true" />*@
                                                <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-disabled="!vm.mutlipleUomAllowed" ng-if="data.changeunitflag">
                                                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>


                                            <td class="col-xs-1">
                                                <input id="price" type="number" ng-change="vm.amtCalc(data,data.totalQty,data.price)" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.price"
                                                       required ng-disabled="!data.rateeditflag" />
                                            </td>
                                            <td class="col-xs-2" ng-if="false">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input ng-model="data.discountOption" ng-click="discOptionCheck(data)" type="checkbox">%
                                                    </span>
                                                    <input type="text" ng-change="calcDiscountPerc(data)" ng-model="data.discountValue" class="form-control" required>
                                                </div><!-- /input-group -->
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="netAmt" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="12" ng-model="data.totalAmount" ng-disabled="true" required />
                                            </td>
                                            <td class="col-xs-2">
                                                <ui-select id="selTax" multiple class="borderself"
                                                           ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.totalQty, data.price)" ng-click="taxCalc(data, data.totalQty, data.price)" ng-model="data.applicableTaxes">
                                                    <ui-select-match placeholder="@L("SelectTax")">{{$item.taxName}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                                                        <div ng-bind="item.taxName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="taxAmount" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="12" ng-model="data.taxAmount" ng-disabled="true" required />
                                            </td>

                                            <td class="col-xs-1">
                                                <button ng-disabled="vm.salesinvoice.id!=null" type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        @*<label class="control-label">@L("DiscountAmount")</label>
                                        <input id="discountamount" type="text" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)"
                                               class="form-control  text-right" ng-model="vm.salesinvoice.totalDiscountAmount" />*@
                                    </div>



                                    <div class="col-xs-2">
                                        @*<label class="control-label">@L("OtherCharges")</label>
                                        <input id="shipmentamount" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)"
                                               class="form-control  text-right" ng-model="vm.salesinvoice.totalShipmentCharges" />*@
                                    </div>

                                    <div class="col-xs-2">
                                        @*<label class="control-label">@L("RoundedAmount")</label>
                                        <input id="roundedamount" onkeypress="return NumberWithPointAndNegativePassingText(this.value, event, 'cancel', true)"
                                               class="form-control  text-right" ng-model="vm.salesinvoice.roundedAmount" />*@
                                    </div>

                                @*</div>
                            </div>

                            <div class="row">
                                <div class="form-group">*@
                                    @*<div class="col-xs-2">
                                        <label class="control-label">@L("ActualSalesInvoiceTotal")</label>
                                        <input name="salesinvoiceAmtuser" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)" ng-keypress="vm.checkFinished=false;" class="form-control  text-right" ng-model="vm.salesinvoice.salesinvoiceamoutenteredbyuser" required />
                                    </div>
                                    <div class="col-xs-2">
                                        <button name="Checkamount" ng-disabled="vm.saving" type="button" class="btn blue margin-top-30"
                                                ng-click="vm.checkAmountWithAuto()">
                                            @L("Check")
                                        </button>
                                    </div>*@
                                    <div class="col-xs-2">
                                        <label class="control-label">@L("SubTotal")</label>
                                        <input name="taxAmt" class="form-control  text-right" ng-model="vm.salesinvoiceTotalAmount" required ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-2" >
                                        <label class="control-label">@L("TaxTotal")</label>
                                        <input name="taxAmt" class="form-control  text-right" ng-model="vm.totalTaxAmount" required ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-2" >
                                        <label class="control-label">@L("GrandTotal")</label>
                                        <input name="salesinvoiceAmt" class="form-control  text-right" ng-model="vm.salesinvoice.salesinvoiceAmount" required ng-disabled="true" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-if="vm.salesinvoice.id!=null">@L("Close")</button>
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-if="vm.salesinvoice.id==null">@L("Cancel")</button>
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-if="vm.salesinvoice.id==null" ng-click="vm.save()" ng-disabled="salesinvoiceForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

