    @using DinePlan.DineConnect.Localization
    @using Humanizer

    <link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

    <div ng-controller="tenant.views.house.transaction.customersales.salesinvoice.invoiceSummary as vm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span class="caption-subject bold uppercase">@L("SalesInvoice").Pluralize() @L("Summary")</span> <small>@L("Report")</small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">

                <button class="btn btn-default" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                </button>

            </div>
        </div>
        <div class="portlet light" ng-if="vm.isSalesAllowed">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("CustomerName")</label>
                                        <ui-select class="borderself" id="selCustomerId" ng-model="vm.customerRefId">
                                            <ui-select-match id="selCustomerId" placeholder="Select Customer...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refcustomer | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn blue margin-top-20" ng-click="vm.getAll()">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="height: 80vh;">
                <div busy-if="vm.loading" style="height: 100%;">
                    <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
                </div>
            </div>
        </div>
    </div>

