﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.productgroup.productgroupindex as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ProductGroup").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">
                            @L("ProductGroup")
                        </span>
                    </div>
                    <div class="actions">
                        <a ng-if="vm.permissions.manageProductGroup && vm.productGroup.selectedOu.id" ng-click="vm.openLanguageDescriptionModal()" class="btn btn-circle btn-success">
                            <i class="fa fa-file"></i>
                        </a>
                        <a ng-if="vm.permissions.manageProductGroup" ng-click="vm.productGroup.addUnit(null)" class="btn btn-circle btn-default">
                            <i class="fa fa-plus"></i> @L("AddRootUnit")
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="ProductGroupEditTree"></div>
                    <div ng-if="!vm.productGroup.unitCount" class="text-muted">
                        @L("NoProductGroupDefinedYet")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">
                            @L("Category")
                            <span ng-if="vm.productGroup.selectedOu.name">: {{vm.productGroup.selectedOu.name}}</span>
                        </span>
                    </div>
                    <div class="actions">
                        <a ng-if="vm.productGroup.selectedOu.id" ng-click="vm.openCategory(null)" class="btn btn-circle btn-default">
                            <i class="fa fa-file"></i> @L("Link") @L("Category")
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div ng-if="vm.productGroup.selectedOu.id" ui-grid="vm.categories.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    <div ng-if="!vm.productGroup.selectedOu.id" class="text-muted">
                        @L("SelectAnProductGroupToSeeCategories")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>