﻿<div>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.productGroup.id">@L("EditProductGroup"): {{vm.productGroup.name}}</span>
                <span ng-if="!vm.productGroup.id">@L("CreateProductGroup")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input auto-focus class="form-control" type="text" name="Code" ng-class="{'edited':vm.productGroup.code}" ng-model="vm.productGroup.code" required>
                        <label>@L("Code")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input auto-focus class="form-control" type="text" name="Name" ng-class="{'edited':vm.productGroup.name}" ng-model="vm.productGroup.name" required>
                        <label>@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>