﻿@model DineConect.Gateway.Web.ViewModels.Logs.Index

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts {


    @Scripts.Render("~/Scripts/toastr.min.js")
    @Styles.Render("~/Content/toastr.min.css")

    <style>
        textarea.form-control {
            height: 500px !important;
        }
    </style>

    <script>
        $('#cmbLogFile').on('change', function () {
            $.post('/Logs/Read', {
                Location: this.value
            }).done(function (res) {
                $("#txtLogContent").val(res.content);
            }).fail(function (err) {
                toastr.error("fail");
            });
        });
    </script>
}
<div class="container">
    <div class="d-flex flex-column">

        <div class="p-0">
            <div class="form-group">
                <select class="form-control" id="cmbLogFile">
                    <option selected value="0">Please select</option>
                    @foreach (var item in Model.LogFiles)
                    {
                        <option value="@item.Location">@item.FileName</option>
                    }
                </select>
            </div>
        </div>

        <div class="p-0" style="width: 1000px;">
            <textarea id="txtLogContent" style="width: 100%; max-width: 100%;" class="form-control"></textarea>
        </div>


    </div>
</div>
