<div ng-controller="tenant.views.connect.menu.day.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.menuitem.id">@L("EditMenuItem"): {{vm.menuitem.name}}</span>
                        <span ng-if="!vm.menuitem.id">@L("CreateMenuItem") : {{vm.menuitem.name}}</span>
                    </h1>
                </div>
            </div>
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("CreateMenuItemInfo") </p>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <multiple-date-picker month="myMonth" ng-model="vm.dateSelected"/>
                            </div>
                            <div class="col-md-6">
                                {{ vm.dateSelected }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("AliasCode")</label>
                                    <input type="text" class="form-control" ng-model="vm.menuitem.aliasCode">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input type="text" class="form-control" ng-model="vm.menuitem.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("AliasName")</label>
                                    <input type="text" class="form-control" ng-model="vm.menuitem.aliasName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Barcode")</label>
                                    <input type="text" class="form-control" ng-model="vm.menuitem.barCode">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Category")</label>
                                    @*<select id="CategoryEditBox" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.categories"
                                            ng-model="vm.menuitem.categoryId" required>
                                    </select>*@
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="vm.menuitem.categoryId==null" data-ng-click="vm.openforCategoryItem()">
                                        <input type="button" class="btn btn-primary" value='{{ vm.menuitem.categoryId }} - {{ vm.menuitem.categoryName }}' ng-if="vm.menuitem.categoryId!=null" data-ng-click="vm.openforCategoryItem()">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="ForceQuantity" class="md-check" type="checkbox" ng-model="vm.menuitem.forceQuantity">
                                            <label for="ForceQuantity">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("ForceQuantity")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="ForceChangePrice" class="md-check" type="checkbox" ng-model="vm.menuitem.forceChangePrice">
                                            <label for="ForceChangePrice">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("ForceChangePrice")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title">
                                    <h4>@L("Portions")</h4>
                                </div>
                                <div class="pull-right">
                                    <input type="button" class="btn btn-primary" value="@L("AddPortion")" data-ng-click="vm.addPortion()" />
                                    
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>

                                    <tr>
                                        <th>@L("Actions")</th>
                                        <th>@L("Name")*</th>
                                        <th>@L("Multiplier")</th>
                                        <th>@L("Price")*</th>
                                    </tr>
                                    </thead>

                                    <tr data-ng-repeat="(productIndex, product) in vm.menuitem.portions">
                                        <td>
                                            <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(productIndex)"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.name" required/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.multiPlier" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.price" min="0" required/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.menuitem.portions.length==0">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>