<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Group") : {{ vm.ticket.groupName }}</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <table class="table table-hover">
                        <tr>
                            <th>@L("MenuItemName")</th>
                            @*<th>@L("Portion")</th>*@
                            @*<th>@L("Price")</th>*@
                            <th>@L("Quantity")</th>
                            <th>@L("Total")</th>
                        </tr>
                        <tr ng-repeat="x in vm.ticket.menuItems">
                            <td>
                                {{x.menuItemName}}
                            </td>
                            @*<td>
                                {{x.menuItemPortionName}}
                            </td>*@
                            @*<td>
                                {{x.price}}
                            </td>*@
                            <td>
                                {{x.quantity}}
                            </td>
                            <td>
                                {{x.price}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>