﻿@using Abp.Web.Mvc.Extensions
@using DinePlan.DineConnect.MultiTenancy
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ForgotPassword.js")
}

<h3 class="form-title">@L("ForgotPassword")</h3>
<form class=".forget-form" action="@Url.Action("SendPasswordResetLink")" method="post">

    @Html.AntiForgeryToken()
    @if (ViewBag.IsMultiTenancyEnabled)
    {
        if (string.IsNullOrEmpty(ViewBag.TenancyName))
        {
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                <input class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
            </div>
        }
        else
        {
            <input type="hidden" name="tenancyName" value="@ViewBag.TenancyName" />
        }
    }
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("EmailAddress")</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxEmailAddressLength" />
    </div>
   
    <div class="form-actions">
        <a href="@Url.Action("Login", "Account")"><button type="button" id="back-btn" class="btn btn-default yellow">@L("Back")</button></a>
        <button type="submit" class="btn btn-success uppercase pull-right red ">@L("Submit")</button>
    </div>
</form>