﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.master.errorCorrection.errorCorrectionProcess as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("ErrorCorrectionProcess")</span>  
            </h4>
        </div>
    </div>
    <div >
        <div class="row" ng-if="false">
            <div class="col-md-6 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-body">
                        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input" >
                        <form>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>
                                    <ui-select ng-model="vm.requestParams.locationRefId" class="borderself">
                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Material")</label>
                                    <ui-select multiple ng-model="vm.requestParams.materials" class="form-control">
                                        <ui-select-match>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="material in vm.refmaterials | filter: $select.search">
                                            <small>
                                                {{ material.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                        </div>
                            <div class="row">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>
                                <div class="col-xs-2 margin-top-20">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                         <button class="btn red " ng-click="vm.canChangeDbValue=false;vm.verifyClosingStock()">@L("Verify")</button>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-right margin-top-20" ng-if="vm.verifyAndChangeFlag">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <button class="btn green"  ng-click="vm.canChangeDbValue=true;vm.verifyClosingStock()">@L("ErrorCorrectionProcess")</button>
                                    </div>
                                </div>

                                <div class="col-xs-1 text-right margin-top-30">
                                    <div id="divprintemail" class="row">
                                        <div class="col-xs-1 text-right" @*ng-show="vm.printmailflag"*@>
                                            <a ng-click="vm.printmailflag=false;" onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="vm.output.length>0">
                                <div >
                                    <table class="table table-striped table-bordered col-xs-8">
                                        <caption> <h3> <b> @L("Summary") </b></h3></caption>

                                        <thead>
                                            <tr>
                                                <th>
                                                    @L("Description")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,materialdata) in vm.output">
                                            <td class="col-xs-12">
                                               {{index + 1}} . <b> {{materialdata}} </b>
                                            </td>
                                        </tr>

                                    </table>
                                    <hr />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          
          
        </div>
    </div>
</div>