﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delagglocation.indexdelagglocation as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggLocation")</span> <small>@L("DelAggLocationHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDelAggLocation()">
                <i class="fa fa-plus"></i> @L("CreateDelAggLocation")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4 margin-bottom-30">
                                <div class="form-group">
                                    <label>@L("Location") &nbsp;<a ng-click="vm.locationId=null;vm.intiailizeOpenLocation();vm.editFlag = false;" ng-if="vm.locationId!=0">@L("Clear")</a></label>
                                    <div>
                                        <input type="button" class="btn btn-primary" value='@L("Location")' ng-if="vm.locationId==null" data-ng-click="vm.openLocation()">
                                        <input type="button" class="btn btn-primary" value="{{ vm.locationId }} - {{ vm.locationName }}" ng-if="vm.locationId!=null" data-ng-click="vm.openLocation()">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("LocationGroup") &nbsp;<a ng-click="vm.delAggLocationGroupId=null;vm.editFlag = false;" ng-if="vm.delAggLocationGroupId!=null">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-model="vm.delAggLocationGroupId" ng-change="vm.getAll()">
                                        <ui-select-match placeholder="Select Location Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="locationgroup.id as locationgroup in vm.locationGroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ locationgroup.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                    <button type="submit" busy-text="@L("Clear")" class="btn btn-primary blue" ng-click="vm.getAllClear()">@L("Clear")</button>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button ng-click="vm.getAll()" type="submit" busy-text="@L("Refresh")" class="btn btn-primary blue">@L("Refresh")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

