﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'phoneNumber1':
                label = 'Phone Number 1 is mandatory';
                break;
            case 'empRefCode':
                label = 'Employee Code of the Person ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus hover',  'title': label, 'placement': 'bottom'});
    });
</script>

<div>
    <form name="contactCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.contact.id">@L("EditContact"): {{vm.contact.contactPersonName | uppercase}}</span>
                <span ng-if="!vm.contact.id">@L("CreateContact")</span>
            </h4>
        </div>
        <div class="modal-body">
            @*<uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("Info")">*@
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return AlphaAToZOnly(event,'cancel')" autofocus class="form-control tooltips" data-original-title=@L("cott") type="text" name="contactpersonname" ng-class="{'edited':vm.contact.contactPersonName}" ng-model="vm.contact.contactPersonName" required />
                                <label>@L("ContactPersonName")</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control tooltips" data-original-title="Designation"  type="text" name="Designation" ng-class="{'edited':vm.contact.designation}" ng-model="vm.contact.designation" required>
                                <label>@L("Designation")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("ContactCategory")</label>
                                <select id="ContactCategory" class="form-control selectpicker" data_live_search="true" ng-model="vm.contact.contactCategory">
                                    <option>@L("SUPPLIER")</option>
                                    <option>@L("COMPANY")</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" id="phoneNumber1" name="phoneNumber1" ng-class="{'edited':vm.contact.phoneNumber1}" ng-model="vm.contact.phoneNumber1" required>
                                <label>@L("PhoneNumber")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" id="empRefCode" name="empRefCode" ng-class="{'edited':vm.contact.empRefCode}" ng-model="vm.contact.empRefCode">
                                <label>@L("EmpRefCode")</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="email" id="email" name="email" ng-class="{'edited':vm.contact.email}" ng-model="vm.contact.email">
                                <label>@L("Email")</label>
                            </div>
                        </div>
                    </div>

@*</uib-tab>
                </uib-tabset>*@
        </div>
        <div class="modal-footer">
            @*<button class="btn btn-default tooltips" data-original-title="Tooltip in left" data-placement="left" data-container="body">Left</button>*@
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default tooltips" data-original-title="Tooltip in left" data-placement="left" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="contactCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

