﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggimage.delaggimage as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delaggimage.id">@L("EditDelAggImage"): {{vm.delaggimage.id}}</span>
                        <span ng-if="!vm.delaggimage.id">@L("CreateDelAggImage")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="imageCreateOrEditForm">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("DelAggImage")">
                            <div class="form-body">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DelAggImage") @L("Type")</label>
                                                <ui-select class="borderself" id="DelAggImageTypeRefId" ng-class="{'edited':vm.delaggimage.delAggImageTypeRefId}"
                                                           ng-model="vm.delaggimage.delAggImageTypeRefId">
                                                    <ui-select-match placeholder="Select Image Type ...">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in vm.delAggImageTypes | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DelAggType")</label>
                                                <ui-select class="borderself" id="selAggType" ng-class="{'edited':vm.delaggimage.delAggTypeRefId}"
                                                           ng-model="vm.delaggimage.delAggTypeRefId">
                                                    <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in vm.delAggTypes | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-info margin-top-15">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                                                    <h3 class="panel-title bold">@L("Select") @L("Image")</h3>
                                                </div>
                                                <div id="collapse3" class="collapse in">
                                                    <div class="panel-body">
                                                        <div class="row col-lg-12" style="margin-bottom: 40px">
                                                            <h3>@L("Select") </h3>
                                                            <input id="imageFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                                            <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                                    ng-click="vm.fileTag='Image';vm.uploadFile(true)"
                                                                    ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                                <span class="glyphicon glyphicon-upload"></span>
                                                            </button>
                                                        </div>
                                                        <div class="row col-lg-12">
                                                            <table class="table">
                                                                <thead ng-if="vm.imagePath.length>0">
                                                                    <tr>
                                                                        <th>@L("Name") </th>
                                                                        <th>@L("Actions")</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="(fileIndex, file) in vm.imagePath">
                                                                        <td>
                                                                            <strong>{{ file.fileName }}</strong>
                                                                        </td>
                                                                        <td nowrap>
                                                                            <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.downloader(file)">
                                                                                <span class="glyphicon  glyphicon-download-alt"></span>
                                                                            </button>
                                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Image';vm.removeFile(fileIndex)">
                                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="row margin-top-15">
                        <div style="display:block;float:right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="imageCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

