﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggimage.indexdelaggimage as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggImage")</span> <small>@L("DelAggImageHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDelAggImage()">
                <i class="fa fa-plus"></i> @L("CreateDelAggImage")</button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4 margin-bottom-30">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggImage")</label>
                                    <ui-select class="borderself" id="selAggImageType" ng-class="{'edited':vm.delAggImageTypeRefId}"
                                               ng-model="vm.delAggImageTypeRefId">
                                        <ui-select-match placeholder="Select Image Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.delAggImageTypes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggType")</label>
                                    <ui-select class="borderself" id="selAggType" ng-class="{'edited':vm.delAggTypeRefId}"
                                               ng-model="vm.delAggTypeRefId">
                                        <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.delAggTypes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button type="submit" busy-text="@L("Clear")" class="btn btn-primary blue" ng-click="vm.getAllClear()">@L("Clear")</button>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button ng-click="vm.getAll()" type="submit" busy-text="@L("Refresh")" class="btn btn-primary blue">@L("Refresh")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

