﻿@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">

        <div class="d-flex flex-column">
            <div class="p-0">
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-9" style="text-align:right;">
                        <span>Logged as @User.Identity.Name</span>
                        <a href="@Url.Action("Logout", "Accounts")" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
            <div class="p-0">
                <div class="d-flex d-row">
                    <div class="p-2 w-10">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" href="@Url.Action("Index", "BackOffice")">Home</a>
                            <a class="nav-link" href="@Url.Action("Index", "Brands")">Brands</a>
                            <a class="nav-link" href="@Url.Action("Index", "Locations")">Locations</a>
                            <a class="nav-link" href="@Url.Action("Index", "Admins")">Admins</a>
                        </div>
                    </div>

                    <div class="p-2 col-10">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </div>


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Connect Gateway</p>
        </footer>
    </div>

    <!-- AddOn Template -->
    <script id="addon-data-template" type="text/x-custom-template">
        <tr class="addon-data">

            <td class="addon-data-key">{{Key}}</td>

            <td class="addon-data-value">{{Value}}</td>

            <td>
                <input type="button" value="Delete" class="btn btn-danger DeleteAddOnBtn" />
            </td>
        </tr>
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
