﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function(i, e) {
        var label;
        switch ($(e).attr('id')) {
        case 'name':
            label = 'Name ';
            break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.planreason.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.planReason.id">@L("EditPlanReason"): {{vm.planReason.reason}}</span>
                        <span ng-if="!vm.planReason.id">@L("CreatePlanReason")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@L("Reason")*</label>
                                    <input class="form-control ucase" type="text" name="reason" onblur="changetoupper(this)" ng-class="{'edited':vm.planReason.reason}" ng-model="vm.planReason.reason" required>
                                </div>
                            </div>
                            <div class="col-sm-1 margin-top-30" ng-if="vm.planReason.id">
                                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                                    <i class="fa fa-file"></i> <span></span>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("AliasReason")</label>
                                    <input class="form-control ucase" type="text" name="aliasReason" onblur="changetoupper(this)" ng-class="{'edited':vm.planReason.aliasReason}" ng-model="vm.planReason.aliasReason">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Group") &nbsp;<a ng-click="vm.planReason.reasonGroup=null" ng-if="vm.planReason.reasonGroup!=null&&!vm.reasonGroup">@L("Clear")</a></label>
                                    
                                    <select id="groupPlanReason" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.planReasonGroups"
                                            ng-model="vm.planReason.reasonGroup" ng-disabled="vm.reasonGroup" required></select>

                                </div>
                            </div>
                            <div class="col-sm-2 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="ReasonGroup" class="md-check" type="checkbox" name="ReasonGroup" ng-model="vm.reasonGroup" ng-change="vm.onchangeReasonGroup()">
                                    <label for="ReasonGroup">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Reason") @L("Group")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="vm.reasonGroup">
                                <div class="form-group">
                                    <label>@L("Group")</label>
                                    <input class="form-control" type="text" name="reason"  ng-class="{'edited':vm.planReason.reasonGroup}" ng-model="vm.planReason.reasonGroup">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

