﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.layout.content as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("LayoutContent")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <div class="template-container" ng-bind-html="vm.layoutContentTemplate.html">
                            </div>

                            <div>
                                <table class="table table-bordered">
                                    <tr style="background-color:#f6f3f3"><th>NO.</th><th>File Name</th><th>File Type</th><th>Stretch</th><th>Length</th><th></th></tr>
                                    <tr ng-repeat="(key,c) in vm.contents">
                                        <td style="width:50px;text-align:center;vertical-align:middle;">{{c.regionNo}}</td>
                                        <td style="vertical-align: middle;">
                                            <input id="t{{vm.layoutContentTemplate.id}}r{{c.regionNo}}"
                                                   ng-model="c.file" ng-click="vm.onFileControlInput(c)"
                                                   type="file" nv-file-select uploader="vm.contents[key].uploader"
                                                   accept="image/*,video/*" style="display:none;" />
                                            <span>
                                                {{((!c.fileName||c.fileName=='')? 'No content':c.fileName) +' '}}
                                                <i class="fa fa-cloud-upload" aria-hidden="true" style="color:#21b384;font-size:20px;"
                                                   ng-show="vm.getFileUploadIndication(c.systemFileName)"></i>
                                            </span>
                                        </td>
                                        <td style="width:100px;text-align:center;vertical-align:middle;">{{c.fileType}}</td>
                                        <td style="width:50px;text-align:center;vertical-align:middle;">
                                            <input type="checkbox" ng-model="c.stretched" /></td>
                                        <td style="width:50px;">
                                            <input class="form-control" 
                                                   style="width:50px;text-align:right;" type="text" ng-model="c.displayLength"/></td>
                                        <td style="width:50px;text-align:center;">
                                            <button class="btn btn-default" type="button" ng-click="vm.removeFile(key)">
                                                <i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="height:10px;"></div>
                            <div class="modal-footer">

                                <div class="row">
                                    <div class="col-xs-6" style="text-align:left;">
                                        <button name="cancel" ng-disabled="vm.saving"
                                                type="button" class="btn btn-success"
                                                ng-click="vm.goToPreview(vm.layoutId)">
                                            @L("Preview")
                                        </button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button name="cancel" ng-disabled="vm.saving"
                                                type="button" class="btn btn-default"
                                                ng-click="vm.cancel()">
                                            @L("Cancel")
                                        </button>
                                        <button type="submit" button-busy="vm.saving"
                                                busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                                ng-click="vm.save('UL')" ng-disabled="layoutContentCreateOrEditForm.$invalid">
                                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-label {
        font-weight: bold;
    }

    .template-region {
        background-color: #2999ed;
        border: 1px solid #ffffff;
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .template-container {
        width: 100%;
        height: 400px;
        padding: 5px 20px 5px 20px;
    }

    .region-height-100 {
        height: 100%;
    }

    .region-height-50 {
        height: 50%;
    }

    .region-height-25 {
        height: 25%;
    }

    .region-height-33 {
        height: 33%;
    }

    .region-padding-0 {
        padding: 0px;
    }
</style>
