﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.layout.detail as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">
                            <span ng-if="vm.workMode == 'ADD'">@L("Create")</span> @L("Layout")
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8 
                 col-xs-offset-0 col-sm-offset-0 
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <uib-tabset active="active" class="tab-container tabbable-line">
                                <uib-tab index="0" heading="@L("General")">

                                    <div class="form">
                                        <form name="layoutCreateOrEditForm"
                                              role="form" novalidate class="form-validation form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label form-label">@L("Name")</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text"
                                                           ng-model="vm.layout.name" aria-describedby="helpBlockName" required>
                                                    <span id="helpBlockName" class="help-block">
                                                        @L("LayoutNameDesc")
                                                    </span>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label form-label">@L("Resolution")</label>
                                                <div class="col-sm-10">
                                                    <select ng-model="vm.layout.resolution" ng-options="r.name for r in vm.resolutions" 
                                                            class="form-control" ng-change="vm.resolutionChanged()"
                                                            aria-describedby="helpBlockResolution" ng-required="true">
                                                    </select>
                                                    <span id="helpBlockResolution" class="help-block">
                                                        @L("LayoutResolutionDesc")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label form-label">@L("Description")</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="3"
                                                              ng-model="vm.layout.description"></textarea>
                                                    <span id="helpBlockResolution" class="help-block">
                                                        @L("LayoutDescriptionDesc")
                                                    </span>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </uib-tab>
                                <uib-tab index="1" heading="@L("Content")">
                                    <form name="layoutContentCreateOrEditForm"
                                          role="form" novalidate class="form-validation form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label form-label">@L("Template")</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" aria-describedby="helpBlockTemplate"
                                                        ng-change="vm.templateChanged()"
                                                        ng-model="vm.selectedTemplate" 
                                                        ng-options="t.text for t in vm.templates" ng-required="true" ng-disabled="vm.workMode==='EDIT'">
                                                </select>
                                                <span id="helpBlockTemplate" class="help-block">
                                                    @L("LayoutTemplateDesc")
                                                </span>
                                            </div>
                                            <div class="col-sm-offset-6"></div>
                                        </div>
                                    </form>
                                    <div style="width:100%;height:225px;background-color:#e4dfdf;padding-top:5px;">
                                        <table style="height:100px;position:absolute;width:100%;" ng-show="!vm.templateSelection.selected" style="border-collapse:collapse;margin:0 auto;">
                                            <tr>
                                                <td style="text-align:center;vertical-align:middle;color:grey;font-size:20px;font-weight:bold;">
                                                    {{vm.templateSelection.message}}
                                                </td>
                                            </tr>
                                        </table>
                                        <table ng-show="vm.templateSelection.selected" style="border-collapse:collapse;margin:0 auto;">
                                            <tr>
                                                <td style="padding: 0px 0px 0px 0px;">
                                                    <div style="height:15px;border-left: solid 1px #808080; border-right: solid 1px #808080;">
                                                        <div style="border-bottom: solid 1px #808080;height:8px;text-align:center">
                                                            <div style="font-size:10px;"><span style="background-color: #fff;">{{vm.layout.resolution.width}} PX</span></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="template-container" ng-bind-html="vm.selectedTemplate.html">
                                                    </div>
                                                </td>
                                                <td style="padding: 0px 0px 0px 0px;">
                                                    <div style="width:15px;height:198px;border-top: solid 1px #808080;border-bottom: solid 1px #808080;">
                                                        <div style="width:8px;height:100%;border-right:solid 1px #808080;padding-top:95px;">
                                                            <span style="font-size:10px;position:absolute;background-color:#fff;">{{vm.layout.resolution.height}} PX</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-default"
                                    ng-click="vm.cancel()">
                                @L("Cancel")
                            </button>
                            <button type="submit" button-busy="vm.saving"
                                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.createOrUpdateLayout()" ng-disabled="!vm.canSave()">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>
<style>
    .form-label {
        font-weight: bold;
    }
    .template-region {
        background-color: #2999ed;
        border: 1px solid #ffffff;
        text-align: center;
        padding-top: 0px;
        font-size: 15px;
        color: #fff;
        vertical-align:middle;
    }
    .template-container {
        width:100%;
        height:200px;
        /*padding: 5px 20px 5px 20px;*/
        margin: 0 auto;
    }
    .region-height-100 {
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .region-height-50 {
        height: 50%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .region-height-25 {
        height: 25%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .region-height-33 {
        height: 33%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .region-padding-0 {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .template-container > .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .template-container .col-xs-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

</style>

