﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.layouts as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Layout").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.createLayout()">
                <i class="fa fa-plus"></i> @L("Create") @L("Layout")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText"
                                   auto-focus class="form-control"
                                   placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()"
                                        class="btn default" type="submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;"
                     ui-grid-pagination ui-grid-resize-columns
                     dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>
<style>
    .template-container {
        width: 100%;
        height: 100%;
        padding: 5px 20px 5px 20px;
        margin: 0 auto;
    }

    .template-region {
        background-color: #2999ed;
        border: 1px solid #ffffff;
        text-align: center;
        padding-top: 0px;
        font-size: 20px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .region-height-100 {
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .region-height-50 {
        height: 50%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .region-height-25 {
        height: 25%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .region-height-33 {
        height: 33%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .region-padding-0 {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
</style>
