﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.layout.preview as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Preview") {{vm.layout.resolution.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-body">

                    <div class="portlet-body">
                        <div class="template-container" ng-bind-html="vm.layoutContentTemplate.html">
                            {{vm.appPath}}
                        </div>
                    </div>
                    <div style="height:10px;"></div>
                    <div class="modal-footer">
                        <div style="width:200px;margin: 0 auto;">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-success"
                                    ng-click="vm.play()">
                                @L("Play")
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </button>
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-danger"
                                    ng-click="vm.cancel()">
                                @L("GoBack")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-label {
        font-weight: bold;
    }

    .template-region {
        background-color: #2999ed;
        border: 0px solid #ffffff;
        text-align: center;
        padding-top: 0px;
        font-size: 20px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .template-container {
        width: 100%;
        height: 500px;
        padding: 5px 20px 5px 20px;
        margin: 0 auto;
    }

    .region-height-100 {
        height: 100%;
    }

    .region-height-50 {
        height: 50%;
    }

    .region-height-25 {
        height: 25%;
    }

    .region-height-33 {
        height: 33%;
    }

    .region-padding-0 {
        padding: 0px;
    }
    .previewPanel {
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
</style>