@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.monthlystoresalesstats as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("MonthlyStoreSalesStats")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Locations")</span>
			</button>
		</div>
	</div>

	<div class="portlet light">
		<div class="portlet-body">
			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group col-md-6">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">@L("DepartmentGroup")</label>
										<select id="departmentGroup_1" class="form-control selectpicker" data_live_search="true" ng-options="item.displayText for item in vm.lstDepartmentGroup" ng-model="vm.departmentGroup_Selected_1"></select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">@L("DepartmentGroup")</label>
										<select id="departmentGroup_12" class="form-control selectpicker" data_live_search="true" ng-options="item.displayText for item in vm.lstDepartmentGroup" ng-model="vm.departmentGroup_Selected_2"></select>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 text-right">
									<button class="btn blue" ng-click="vm.clear()">
										<i class="fa fa-eraser"></i> @L("Clear")
									</button>
									<div class="btn-group">

										<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
											<i class="fa fa-file-excel-o"></i> @L("Export")
											<i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
											</li>
											<li>
												<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
											</li>
										</ul>
									</div>

									<button class="btn blue" ng-click="vm.getData()">
										<i class="fa fa-refresh"></i> @L("Refresh")
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="portlet-body">
			<div busy-if="vm.loading">

				@*case 1: compare 2 department group*@
				<div ng-if="vm.isComparison">
					<table class="table table-bordered table-condensed">
						<thead class="thead_content" ng-if="vm.data">
							<tr>
								<th class=" max_width_30 text-center"> @L("Sales")</th>
								<th class="text-center table_Item_Element max_width_20" ng-repeat="location in vm.lstLocation ">
									{{location}}
								</th>
							</tr>
						</thead>

						@* Department Group 1*@
						<tbody ng-if="vm.data.departmentGroup_1">
							<tr ng-repeat="department in  vm.data.departmentGroup_1.listItem">
								<td class="item font_weight_bold  border_bottom_none max_width_30">{{department.department}}</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation ">
									{{vm.getLocationValue(location,department.departmentWithLocation) | number:2}}
								</td>
							</tr>
							<tr class="color_total">
								<td class="item font_weight_bold  border_bottom_none max_width_30">{{vm.data.departmentGroup_1.departmentGroup}} Total</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation">
									{{vm.departmentGroup1[location] | number:2}}
								</td>
							</tr>
						</tbody>

						@* Department Group 2*@
						<tbody ng-if="vm.data.departmentGroup_2">
							<tr ng-repeat="department in  vm.data.departmentGroup_2.listItem">
								<td class="item font_weight_bold  border_bottom_none max_width_30">{{department.department}}</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation ">
									{{vm.getLocationValue(location,department.departmentWithLocation) | number:2}}
								</td>
							</tr>
							<tr class="color_total">
								<td class="item font_weight_bold  border_bottom_none max_width_30">{{vm.data.departmentGroup_2.departmentGroup}} Total</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation">
									{{vm.departmentGroup2[location] | number:2}}
								</td>
							</tr>
						</tbody>


						@*Calculator delivery, tickets, aov*@
						<tbody ng-if="vm.data">
							<tr class="color_total">
								<td class="item font_weight_bold  border_bottom_none  max_width_30">Delivery %</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation">
									{{vm.delivery[location] | number:2 }} %
								</td>
							</tr>

							<tr class="color_total">
								<td class="item font_weight_bold  border_bottom_none  max_width_30">Tickets</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation">
									{{vm.tickets[location] | number:2}}
								</td>
							</tr>

							<tr class="color_total">
								<td class="item font_weight_bold  border_bottom_none  max_width_30">AOV</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation">
									{{vm.aov[location] | number:2 }}
								</td>
							</tr>

						</tbody>
					</table>
				</div>

				@*case 2: get all department*@
				<div ng-if="!vm.isComparison">
					<table class="table table-bordered table-condensed margin_bottom_0 border_bottom_none">
						<thead class="thead_content" ng-if="vm.departments">
							<tr>
								<th class=" max_width_30 text-center"> @L("Sales")</th>
								<th class="text-center table_Item_Element max_width_20" ng-repeat="location in vm.lstLocation ">
									{{location}}
								</th>
							</tr>
						</thead>
					</table>

					<table class="table table-bordered table-condensed margin_bottom_0 border_bottom_none" ng-if="vm.departments">
						<tbody ng-repeat="department in vm.departments">
							<tr>
								<td class="item font_weight_bold  border_bottom_none max_width_30">{{vm.getDepartmentName(department)}}</td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation ">
									{{vm.getLocationValue1(location,department) | number:2}}
								</td>
							</tr>
							@*Calculater percent*@
							<tr>
								<td class="item font_weight_bold  border_bottom_none max_width_30"> </td>
								<td class="item border_bottom_none text-center max_width_20"
									ng-repeat="location in vm.lstLocation ">
									{{vm.getPercentByLocation(location,department) | number:2}}  %
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-bordered table-condensed" ng-if="vm.totalTickets">
						<tr>
							<td class="item font_weight_bold  border_bottom_none max_width_30">Tickets</td>
							<td class="item border_bottom_none text-center max_width_20"
								ng-repeat="location in vm.lstLocation ">
								{{vm.getTotalTicketByLocation(location) | number:2}}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.item {
		max-width: 116px;
	}

	.w-100 {
		width: 100%;
	}


	.float-right {
		float: right;
	}

	.thead_title {
		background-color: #008000;
		font-weight: bold;
		color: white;
	}

	.thead_content {
		background-color: #808080;
		color: white;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.color_total {
		background-color: #f0f0f0;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #808080;
		color: white;
	}

	.font_weight_bold {
		font-weight: bold;
	}

	.nodata {
		background: navajowhite;
		color: red;
	}

	.table_Item {
		border: none !important;
		margin: 0px !important;
		padding: 0px !important;
	}

	.table_Item_Element {
		border-left: none !important;
		border-bottom: none !important;
	}

	.max_width_30 {
		max-width: 30px;
	}

	.max_width_20 {
		max-width: 20px;
	}
</style>
