﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    text:focus {
        background: pink;
    }

    input:focus {
        background: pink;
    }

    /*button:focus{
        background:pink;
    }*/
</style>

<div ng-controller="host.views.swipe.transaction.membercard.index as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MemberCard").Pluralize()</span> <small>@L("MemberCardHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            @*<button class="btn btn-default" ng-click="vm.print(3)">
                <i class="fa fa-file-excel-o"></i> @L("TestPrint")</button>
            <button class="btn btn-primary red" ng-click="vm.exportExcel()">
                <i class="fa fa-file-excel-o"></i> @L("Balance")
            </button>*@

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createMemberCard()">
                <i class="fa fa-plus"></i> @L("TopUp/IssueNewCard")</button>

        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form  id="MyLoginForm">
                        <div class="input-group">
                            @*<input ng-model="vm.cardNumber" ng-if="false" auto-focus class="form-control" placeholder="@L("CardNumber")" type="text">*@
                            <input ng-model="vm.filterText" autofocus class="form-control" placeholder="@L("Member")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>

