﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading" >

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-9">
                <h4 class="modal-title">
                    <span class="caption-subject bold uppercase">
                        @L("MemberCode") : {{vm.memberDetails.memberCode}} 
                        <span class="caption-subject bold" style="color:white;background-color:forestgreen;" ng-if="vm.memberDetails.isActive">@L("MemberInActiveStatus")</span>
                        <span class="caption-subject bold" style="color:white;background-color:orangered;" ng-if="!vm.memberDetails.isActive">@L("MemberInNonActiveStatus")</span>
                    </span>
                </h4>
                <h4>
                    <span class="caption-subject bold uppercase"> @L("Primary") @L("CardNumber") : {{vm.cardDetail.cardNumber}} </span>
                    <span class="caption-subject bold uppercase" ng-if="vm.memberCardList.length>1">@L("Supplementary") @L("Card(s)") {{vm.memberCardList.length -1}} @L("Provided") </span>
                </h4>
                <h4 class="caption-subject bold uppercase" > 
								<span style="color:white;background-color:red;font-size:xx-large"> @L("Balance") : {{vm.cardDetail.balance | number : 2}} </span> 
									<span>&nbsp;&nbsp;</span>
									<span ng-if="vm.cardDetail.depositBalance" style="color:white;background-color:red;font-size:xx-large">@L("DepositBalance") : {{vm.cardDetail.depositBalance | number : 2}} </span>					
								</h4>
            </div>
            <div class="col-xs-3 text-right">
                <button class="btn btn-primary blue" ng-click="vm.cancel()">
                    X
                </button>
            </div>
        </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row margin-top-20">
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("MemberCode") : {{vm.memberDetails.memberCode}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Name") : {{vm.memberDetails.name}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Phone") : {{vm.memberDetails.memberCode}}</span>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Alt") @L("Phone") : {{vm.memberDetails.alternatePhoneNumber}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Email") : {{vm.memberDetails.emailId}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase"> @L("Alt") @L("Email") : {{vm.memberDetails.alternateEmailId}}</span>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Address") : {{vm.memberDetails.addressLine1}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Address") : {{vm.memberDetails.addressLine2}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Locality") : {{vm.memberDetails.locality}}&nbsp; {{vm.memberDetails.postalCode}}</span>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("City") : {{vm.memberDetails.city}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("State") : {{vm.memberDetails.state}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="caption-subject bold uppercase">@L("Country") : {{vm.memberDetails.country}}&nbsp; {{vm.memberDetails.postalCode}}</span>
                        </div>
                    </div>

                    <hr />
                    <br />
                    <div ng-if="vm.memberCardList.length==0">
                        @L("NoRecordsFound")
                    </div>

                    <div class="row" ng-if="vm.memberCardList.length>0">
                        <div class="col-xs-12" ng-if="vm.memberCardList.length>0">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr>
                                        <th>@L("CardNumber")</th>
                                        <th>@L("Card") @L("Status")</th>
                                        <th>@L("PrimaryCardNumber")</th>
                                        @*<th>@L("PrimaryCardMember")</th>*@
                                        <th>@L("IssueDate")</th>
                                        <th>@L("ReturnDate")</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.memberCardList">
                                    <td class="col-xs-3">
                                        <b> @*{{index + 1| limitTo:3}} -*@ <a data-ng-click="vm.cardTransactionDataShown(data.cardRefId)">{{data.cardNumber}}</a>  </b>
                                    </td>
                                    <td class="col-xs-1">
                                        <span ng-if="data.isPrimaryCard">@L("Primary")</span>
                                        <span ng-if="!data.isPrimaryCard">@L("Supplementary")</span>
                                    </td>
                                    <td class="col-xs-3">
                                        <span ng-if="!data.isPrimaryCard">{{data.primaryCardNumer}}</span>
                                    </td>
                                    <td class="col-xs-2" ng-if="false">
                                        <span ng-if="data.primaryCardMemberCode!=vm.member.memberCode">{{data.primaryCardMemberCode}}</span>
                                    </td>
                                    <td class="col-xs-2">
                                        <span>{{data.issueDate| date : 'dd-MMM-yyyy HH:mm'}}</span>
                                    </td>
                                    <td class="col-xs-2">
                                        <span ng-if="data.returnDate!=null" >{{data.returnDate | date : 'dd-MMM-yyyy HH:mm'}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
</div>
    <div class="modal-footer">
        <div class="col-xs-12 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                X
            </button>
        </div>
    </div>
</div>