﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog">
    <form name="incentivecategoryCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.incentivecategory.id">@L("EditIncentiveCategory"): {{vm.incentivecategory.incentiveCategoryCode}}</span>
                <span ng-if="!vm.incentivecategory.id">@L("CreateIncentiveCategory")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>@L("IncentiveCategoryCode")</label>
                        <input class="form-control bold" type="text" name="incentivecategorycode" ng-class="{'edited':vm.incentivecategory.incentiveCategoryCode}" ng-model="vm.incentivecategory.incentiveCategoryCode" required>
                        
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>@L("IncentiveCategoryName")</label>
                        <input class="form-control bold" type="text" name="incentivecategorycode" ng-class="{'edited':vm.incentivecategory.incentiveCategoryName}" ng-model="vm.incentivecategory.incentiveCategoryName" required>
                    </div>
                </div>
							<div class="col-md-4">
								<div class="form-group no-hint">
									<label>@L("MaximumIncenitivePerQuanityPerTimeSheet") </label>
									<input class="form-control" type="number" name="maximumIncenitivePerQuanityPerTimeSheet" ng-class="{'edited':vm.incentivecategory.maximumIncenitivePerQuanityPerTimeSheet}" ng-model="vm.incentivecategory.maximumIncenitivePerQuanityPerTimeSheet" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
								</div>
							</div>
            </div>

        <div class="row margin-top-10">
            <div class="col-md-4 margin-top-30">
                <div class="md-checkbox tp-bottom">
                    <input id="BasedOnSkillSet" class="md-check" type="checkbox" name="BasedOnSkillSet" ng-class="{'edited':vm.incentivecategory.BasedOnSkillSet}" ng-model="vm.incentivecategory.BasedOnSkillSet">
                    <label for="BasedOnSkillSet">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("BasedOnSkillSet") @L("Incentive") ?
                    </label>
                </div>
            </div>
            <div class="col-md-4 margin-top-30">
                <div class="md-checkbox tp-bottom">
                    <input id="BasedOnQuantity" class="md-check" type="checkbox" name="BasedOnQuantity" ng-class="{'edited':vm.incentivecategory.basedOnQuantity}" ng-model="vm.incentivecategory.basedOnQuantity">
                    <label for="BasedOnQuantity">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("BasedOnQuantity") @L("Incentive") ?
                    </label>
                </div>
            </div>
        </div>
       
    </div>

 

    <div class="modal-footer">
        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="incentivecategoryCreateOrEditForm.$invalid">
            <i class="fa fa-save"></i> <span>@L("Save")</span>
        </button>
    </div>
    </form>
</div>

