﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>
<div>
    <form name="dineplanuserCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.group.name">@L("EditComboItem"): {{vm.group.name}}</span>
                <span ng-if="!vm.group.name">@L("CreateComboItem")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <label>@L("Name")</label>
                        <input class="form-control" type="text" name="name" ng-class="{'edited':vm.group.name}" ng-model="vm.group.name" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <label>@L("SortOrder")</label>
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="sortOrder" ng-class="{'edited':vm.group.sortOrder}" ng-model="vm.group.sortOrder">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <label>@L("Quantity")</label>
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="sortOrder" ng-class="{'edited':vm.group.count}" ng-model="vm.group.count">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <label>@L("Price")</label>
                        <input onkeypress="return NumberWithPoint(event, 'cancel')" class="form-control" type="text" name="name" ng-class="{'edited':vm.group.price}" ng-model="vm.group.price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <label>@L("Group")</label>
                        <input class="form-control" type="text" name="name" ng-class="{'edited':vm.group.groupTag}" ng-model="vm.group.groupTag">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <label>@L("Color")</label>
                        <input type="text" class="form-control" 
                               ng-model="vm.group.buttonColor" ng-style="{background:vm.group.buttonColor}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="vm.group.menuItemId==0" data-ng-click="vm.openforMenuItem(vm.group)" required>
                        <input type="button" class="btn btn-primary" value='{{ vm.group.menuItemId }} - {{ vm.group.name }}' ng-if="vm.group.menuItemId!=0" data-ng-click="vm.openforMenuItem(vm.group)">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="autoSelect" class="md-check" type="checkbox" ng-model="vm.group.autoSelect">
                                <label for="autoSelect">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AutoSelect")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="addSeperately" class="md-check" type="checkbox" ng-model="vm.group.addSeperately">
                                <label for="addSeperately">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AddSeperate")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="vm.group.menuItemId==0 || dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

