@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>
<script>
    $('input').each(function(i, e) {
        var label;
        switch ($(e).attr('id')) {
        case 'name':
            label = 'Name ';
            break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<div ng-controller="tenant.views.connect.menu.menuitem.detail as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span ng-if="vm.menuitem.id">@L("EditMenuItem"): {{vm.menuitem.name}}</span>
                    <span ng-if="!vm.menuitem.id">@L("CreateMenuItem") : {{vm.menuitem.name}}</span>
                </h1>
            </div>
        </div>
        <div class="m-heading-1 border-green m-bordered">
            <p> @L("CreateMenuItemInfo") </p>
        </div>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-large green" ng-click="vm.openLocation()">
            <i class="fa fa-file"></i> <span>@L("Locations")</span>
        </button>
    </div>
</div>
<div class="portlet light">
<div class="portlet-body">
<div class="form">
<form name="detailform">
<div class="form-body">
<uib-tabset id="tabs" class="tab-container tabbable-line">
<uib-tab heading='@L("General")' tabindex="1">

    <div class="row" busy-if="vm.loading">
        <div class="col-md-6">
            <label class="control-label">@L("Select") @L("Category")</label>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="vm.menuitem.categoryId==null" data-ng-click="vm.openforCategoryItem()">
                <input type="button" class="btn btn-primary" value='{{ vm.menuitem.categoryId }} - {{ vm.menuitem.categoryName }}' ng-if="vm.menuitem.categoryId!=null" data-ng-click="vm.openforCategoryItem()">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("Code")</label>
                <input type="text" ng-model="vm.menuitem.aliasCode" name="aliasCode" class="form-control" ng-maxlength="50">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">@L("Name")*</label>
                <input type="text" ng-model="vm.menuitem.name" name="menuItemName" class="form-control" ng-maxlength="100" required>

            </div>
        </div>
        <div class="col-md-1 margin-top-30" ng-if="vm.menuitem.id">
            <button class="btn btn-xs red" ng-click="vm.openLanguageDescriptionModal()">
                <i class="fa fa-file"></i> <span></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("AliasName")</label>
                <input type="text" class="form-control" ng-model="vm.menuitem.aliasName" ng-maxlength="100">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("ProductType")*</label>
                <select id="ProductType" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.productTypes" ng-model="vm.productType" ng-change="vm.updateProducType()"></select>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("Tag")</label>
                <tags-input ng-model="vm.menuItemTags" placeholder="Add a tag" replace-spaces-with-dashes="false">
                </tags-input>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("SalesTransaction")</label>
                <select id="SalesTransactionEditBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.transactionTypes" ng-model="vm.menuitem.transactionTypeId"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">

            <div class="form-group">
                <label class="control-label">@L("Description")</label>
                <textarea class="form-control"
                                                      ng-class="{'edited':vm.menuitem.itemDescription}"
                                                      rows="4"
                                                      ng-model="vm.menuitem.itemDescription" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("FoodType")</label>
                <select id="FoodType" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.foodTypes" ng-model="vm.menuitem.foodType"></select>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="forceQuantity" class="md-check" type="checkbox" ng-model="vm.menuitem.forceQuantity">
                        <label for="forceQuantity">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("ForceQuantity")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="forceChangePrice" class="md-check" type="checkbox" ng-model="vm.menuitem.forceChangePrice">
                        <label for="forceChangePrice">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("ForceChangePrice")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="restrictPromotion" class="md-check" type="checkbox" ng-model="vm.menuitem.restrictPromotion">
                        <label for="restrictPromotion">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("RestrictPromotion")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="Notax" class="md-check" type="checkbox" ng-model="vm.menuitem.noTax">
                        <label for="Notax">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("NoTax")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Portions")' tabindex="2">

    <div class="row">
        <div class="col-md-12">

            <div class="pull-right" ng-if="vm.productType != 2 || (vm.productType == 2 && vm.countPortions == 0) ">
                <input type="button" class="btn btn-primary" value="@L("AddPortion")" data-ng-click="vm.addPortion()"/>
            </div>
            <table class="table table-bordered table-hover">
                <thead>

                    <tr>
                        <th>@L("Actions")</th>
                        <th>@L("Name")*</th>
                        <th>@L("AliasName")</th>
                        <th>@L("Multiplier")</th>
                        <th>@L("Barcode")</th>
                        <th>@L("CostPrice")*</th>
                        <th>@L("Price")*</th>
                        <th>@L("Preparation") @L("Time") (@L("Minute"))*</th>
                        <th>@L("NumberOfPax")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(productIndex, product) in vm.menuitem.portions">
                    <td>
                        <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRow(productIndex)">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="product.name" required />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="product.aliasName" />
                    </td>
                    <td>
                        <input type="number" min="0" class="form-control" ng-model="product.multiPlier" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="product.barcode" />
                    </td>
                    <td>
                        <input type="number" min="0" class="form-control" ng-model="product.costPrice" />
                    </td>
                    <td>
                        <input type="number" min="0" class="form-control" ng-model="product.price" />
                    </td>
                    <td>
                        <input type="number" min="0" class="form-control" ng-model="product.preparationTime" />
                    </td>
                    <td>
                        <input type="number" min="0" class="form-control" ng-model="product.numberOfPax" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Schedules")' tabindex="1">

    <div class="row  margin-top-20">

        <div class="col-md-6 ">
            <div class="form-group">
                <wy-time-picker data-dropdown-toggle-state="settings.dropdownToggleState" data-time-settings="settings.time" data-theme="settings.theme" data-no-range="settings.noRange" data-format="settings.format" data-no-validation="timeSettings" data-apply-callback="onApplyTimePicker()"
                                data-clear-callback="onClearTimePicker()">
                </wy-time-picker>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <ui-select multiple ng-model="vm.refday" class="form-control">
                    <ui-select-match placeholder=@L("WeekDays")>{{$item.displayText}}</ui-select-match>
                    <ui-select-choices repeat="day in vm.refdays">
                        <small>
                            {{ day.displayText }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                @L("Add")
            </button>
        </div>
    </div>

    <div class="row margin-top-10">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>@L("SHourMinute")*</th>
                    <th>@L("EHourMinute")*</th>
                    <th>@L("Days")*</th>
                    <th>@L("Action")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(productIndex, product) in vm.menuitem.menuItemSchedules">
                    <td class="col-sm-3">
                        {{product.startHour}}:{{product.startMinute}}
                    </td>
                    <td class="col-sm-3">
                        {{product.endHour}}:{{product.endMinute}}
                    </td>
                    <td class="col-sm-3">
                        <table ng-if="product.allDays.length>0">
                            <tr data-ng-repeat="(pi, p) in product.allDays">
                                <td>
                                    {{ p.displayText }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col-sm-3">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                            @L("Delete")
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("UpSellingItems")' tabindex="3">

    <div class="row">
        <div class="col-md-12">

            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="@L("AddItem")" data-ng-click="vm.addUpItems()"/>
            </div>
            <table class="table table-bordered table-hover">
                <thead>

                <tr>
                    <th>@L("Actions")</th>
                    <th>@L("Name")*</th>
                    <th>@L("Price")</th>
                    <th>@L("AutoAdd")</th>
                    <th>@L("MinQ")</th>
                    <th>@L("MaxQty")</th>
                    <th>@L("Qty")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(productIndex, product) in vm.menuitem.upSingleMenuItems">
                    <td>
                        <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeUpItem(productIndex)">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value='@L("Click")' ng-if="product.refMenuItemId==0" data-ng-click="vm.openforMenuItem(product)">
                        <span ng-if="product.refMenuItemId!=0">
                            {{ product.refMenuItemId }} - {{ product.name }}
                        </span>
                    </td>
                    <td>
                        <input type="number" ng-model="product.price" name="price" class="form-control number" ng-maxlength="50" min="0">
                        <br/>
                        <input type="button" ng-if="product.id>0 && product.id!=null" class="btn btn-primary" value='@L("LocationPrice")' data-ng-click="vm.openLocationPriceModal(product)">
                    </td>
                    <td>
                        <input id="addAuto" class="md-check" type="checkbox" ng-model="product.addAuto">
                    </td>
                    <td>
                        <input type="number" ng-model="product.minimumQuantity" name="minimumQuantity" class="form-control number" ng-maxlength="50"
                               min="0" max="{{product.maxQty}}">
                    </td>
                    <td>
                        <input type="number" ng-model="product.maxQty" name="maxQty" class="form-control number" ng-maxlength="50"
                               min="{{product.minimumQuantity}}">
                    </td>
                    <td>
                        <input type="number" ng-model="product.addQuantity" name="addQuantity" class="form-control number" ng-maxlength="50" min="0">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("UpSellingCombo")' tabindex="3">

    <div class="row">
        <div class="col-md-12">

            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="@L("AddCombo")" data-ng-click="vm.addUp()"/>
            </div>
            <table class="table table-bordered table-hover">
                <thead>

                <tr>
                    <th>@L("Actions")</th>
                    <th>@L("Name")*</th>
                    <th>@L("Price")</th>
                    <th>@L("MinQ")</th>
                    <th>@L("MaxQty")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(productIndex, product) in vm.menuitem.upMenuItems">
                    <td>
                        <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeUp(productIndex)">
                    </td>
                    <td>
                        <ui-select id="matCategory" ng-model="product.refMenuItemId">
                            <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices ng-model="product.refMenuItemId" repeat="item.value as item in vm.allComboItems | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>
                        <input type="number" ng-model="product.price" name="price" class="form-control number" ng-maxlength="50" min="0">
                        <br />
                        <input type="button" ng-if="product.id>0 && product.id!=null" class="btn btn-primary" value='@L("LocationPrice")' data-ng-click="vm.openLocationPriceModal(product)">
                    </td>
                    <td>
                        <input type="number" ng-model="product.minimumQuantity" name="minimumQuantity" class="form-control number" ng-maxlength="50"
                               min="0" max="{{product.maxQty}}">
                    </td>
                    <td>
                        <input type="number" ng-model="product.maxQty" name="maxQty" class="form-control number" ng-maxlength="50"
                               min="{{product.minimumQuantity}}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Barcode")' tabindex="4">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("DefaultBarcode")</label>
                <input type="text" ng-model="vm.menuitem.barCode" name="barCode" class="form-control text-uppercase" ng-maxlength="50">
            </div>
        </div>
    </div>

    <div class="row margin-top-10">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("Barcode")</label>
                <select multiple ng-model="vm.selectedBarcodes" class="form-control" ng-options="client as client.barcode for client in vm.menuitem.barcodes"></select>
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label">@L("Operations")</label>
            <input type="text" class="form-control margin-bottom-10" ng-model="vm.barcode" ng-maxlength="50" placeholder="Barcode">
            <div class="pull-right">
                <input type="button" class="form-control btn btn-sm btn-success margin-bottom-10" value="@L("Add")" data-ng-click="vm.addBarCode()"/>
                <input type="button" class="form-control btn btn-sm btn-warning margin-bottom-10" value="@L("Delete")" data-ng-click="vm.deleteBarCode()"/>
            </div>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Combo")' tabindex="5" ng-if="vm.productType==2">

    <div class="row pull-right">
        <div class="col-xs-12">
            <button ng-if="vm.combos.length>0" ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.sortComboGroup()">@L("SortComboGroup")</button>
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.addComboGroup()">@L("CreateComboGroup")</button>
            <button ng-disabled="vm.saving" type="button" class="btn btn-primary" ng-click="vm.editExistingComboGroup()">@L("Select") @L("ComboGroup")</button>
        </div>
    </div>
    <div class="row" ng-if="vm.combos.length>0">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered col-xs-8">
                <caption>
                    <b> @L("Group")</b>
                </caption>
                <thead>
                <tr>
                    <th>@L("Operations")</th>
                    <th>@L("Name")</th>
                    <th class="text-right">@L("SortOrder")</th>
                    <th class="text-right">@L("Minimum")</th>
                    <th class="text-right">@L("Maximum")</th>
                    <th class="text-right">@L("Items")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.combos">
                    <td class="col-xs-2">
                        <button ng-click="vm.editComboGroup(index)" class="btn btn-default btn-xs" title="Edit">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="vm.deleteComboGroup(index)" class="btn btn-default btn-xs" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="col-xs-2">
                        <h4>
                            <a ng-click="vm.listComboItems(index)"> {{data.name}} </a>
                        </h4>
                    </td>
                    <td class="col-xs2" align="right">
                        <h4 class="font-green-dark"> {{data.sortOrder}} </h4>
                    </td>
                    <td class="col-xs2" align="right">
                        <h4 class="font-green-dark"> {{data.minimum }} </h4>
                    </td>
                    <td class="col-xs2" align="right">
                        <h4 class="font-green-dark"> {{data.maximum }} </h4>
                    </td>
                    <td class="col-xs2" align="right">
                        <button ng-click="vm.listComboItems(index)" class="btn btn-default btn-xs" title="">@L("List")</button>
                        <button ng-click="vm.addComboItem(index)" class="btn btn-default btn-xs" title="Edit">@L("Add")</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row margin-top-20" ng-if="vm.showComboItems==1">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered col-xs-8">
                <caption>
                    <b> @L("Items")</b>
                </caption>
                <thead>
                <tr>
                    <th>@L("Operations")</th>
                    <th>@L("Name")</th>
                    <th class="text-right">@L("Group")</th>
                    <th class="text-right">@L("SortOrder")</th>
                    <th class="text-right">@L("Quantity")</th>
                    <th class="text-right">@L("Price")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.comboItems">
                    <td class="col-xs-2">
                        <button ng-click="vm.editComboItem(index)" class="btn btn-default btn-xs" title="Edit">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="vm.deleteComboItem(index)" class="btn btn-default btn-xs" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="col-xs-2">
                        <h4>
                            <a> {{data.name}} </a>
                        </h4>
                    </td>
                    <td class="col-xs-2">
                        <h4>
                            <a> {{data.groupTag}} </a>
                        </h4>
                    </td>

                    <td class="col-xs2" align="right">
                        <h4 class="font-green-dark"> {{data.sortOrder}} </h4>
                    </td>

                    <td class="col-xs2" align="right">
                        <h4 class="font-green-dark"> {{data.count}} </h4>
                    </td>
                    <td class="col-xs2" align="right">
                        <h4 class="font-green-dark"> {{data.price}} </h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("GST")' tabindex="6" ng-if="vm.gstenabledforIndia">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("HSN/SARCode")</label>
                <input type="text" ng-model="vm.menuitem.hsnCode" name="hsnCode" class="form-control text-uppercase" ng-maxlength="50">
            </div>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Description")' tabindex="7">

    <div class="row" busy-if="vm.loading">
        <div class="col-md-12">

            <div class="pull-right form-group">
                <button class="btn btn-default" ng-click="vm.importDescriptions()">
                    <i class="fa fa-upload"></i> @L("Import")
                </button>
                <button class="btn btn-default" ng-click="vm.exportDescriptions()">
                    <i class="fa fa-download"></i> @L("Export")
                </button>
                <button class="btn btn-primary" ng-click="vm.addDescriptions()">@L("AddDescription")</button>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>@L("Actions")</th>
                    <th>@L("Language")*</th>
                    <th>@L("ProductName")</th>
                    <th>@L("Description")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(descriptionIndex, description) in vm.menuitem.menuItemDescriptions">
                    <td>
                        <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeDescription(descriptionIndex)">
                    </td>
                    <td>
                        <select required id="languageCode" class="form-control selectpicker" data_live_search="true" ng-options="item.name as item.displayName for item in vm.languages" ng-model="description.languageCode"></select>
                    </td>
                    <td>
                        <input type="text" ng-model="description.productName" name="productName" class="form-control">
                    </td>
                    <td>
                        <input type="text" ng-model="description.description" name="description" class="form-control">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>

<uib-tab heading='@L("LocationPrices")' tabindex="7" ng-if="vm.menuitem.id">

    <div class="row">
        <div class="col-md-12">

            <div class="pull-right">
                <button class="btn btn-primary" ng-click="vm.addLocationPrices()">@L("AddLocationPrice")</button>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>@L("Actions")</th>
                    <th>@L("Portion") *</th>
                    <th>@L("LocationPrice") *</th>
                    <th>@L("Portion")</th>
                    <th>@L("Price")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index, locationPrice) in vm.locationPrices">
                    <td>
                        <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeLocationPrice(index)">
                    </td>
                    <td>
                        <input ng-if="locationPrice.locationId==0" type="button" class="btn btn-primary" value='@L("Click")' data-ng-click="vm.openSelectLocation(locationPrice)">
                        <span ng-if="locationPrice.locationId!=0">
                            {{ locationPrice.locationId }} - {{ locationPrice.locationName }}
                        </span>
                    </td>
                    <td>
                        <div data-ng-repeat="portion in locationPrice.menuItemPortions">
                            <input required type="number" min="0" ng-model="portion.locationPrice" name="productName" class="form-control form-group">
                        </div>
                    </td>
                    <td>
                        <div data-ng-repeat="portion in locationPrice.menuItemPortions">
                            <div class="form-group portion-price">{{ portion.portionName }}</div>
                        </div>
                    </td>
                    <td>

                        <div data-ng-repeat="portion in locationPrice.menuItemPortions">
                            <div class="form-group portion-price">{{ portion.price }}</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("UrbanPiper")' ng-if="vm.menuitem.id">

    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="recommend" class="md-check" type="checkbox" ng-model="vm.addOnOutput.recommend">
                        <label for="recommend">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Recommend")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="available" class="md-check" type="checkbox" ng-model="vm.addOnOutput.available">
                        <label for="available">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Available")
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    <label>@L("Platforms")</label>
                    <ui-select multiple ng-model="vm.addOnOutput.enabledPlatforms">
                        <ui-select-match>{{$item}}</ui-select-match>
                        <ui-select-choices repeat="color in vm.addOnOutput.allPlatforms | filter: $select.search">
                            <small>
                                {{ color }}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row" ng-if="vm.addOnOutput.recommend">
            <div class="col-md-6">
                <h3>@L("Image").Pluralize() </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Name") </th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                            <td>
                                <img id="HeaderProfilePicture" alt="" height="60" class="img-circle" src="@Url.Action("GetMenuImage", "FileUpload")?fname={{ file.fileSystemName }}" />
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                    <span class="glyphicon  glyphicon-download-alt"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6" style="margin-bottom: 40px">
                <h3>@L("Select") </h3>
                <input type="file" nv-file-select="" uploader="vm.uploader" multiple /><br />
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">@L("Name") </th>
                            <th ng-show="uploader.isHTML5">@L("Size")</th>
                            <th ng-show="uploader.isHTML5">@L("Progress")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.uploader.queue">
                            <td>
                                <strong>{{ item.file.name }}</strong>
                            </td>
                            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="vm.uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label">@L("ZomatoTags")</label>
                    <ui-select multiple ng-model="vm.addOnOutput.zomatoTags">
                        <ui-select-match>{{$item}}</ui-select-match>
                        <ui-select-choices repeat="color in vm.addOnOutput.allZomatoTags | filter: $select.search">
                            <small>
                                {{ color }}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label">@L("SwiggyTags")</label>
                    <ui-select multiple ng-model="vm.addOnOutput.swiggyTags">
                        <ui-select-match>{{$item}}</ui-select-match>
                        <ui-select-choices repeat="color in vm.addOnOutput.allSwiggyTags | filter: $select.search">
                            <small>
                                {{ color }}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
</uib-tab>
</uib-tabset>
</div>
<div class="modal-footer">
    <div class="row margin-top-15">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>

            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"
                    ng-disabled="detailform.$invalid || vm.menuitem.portions.length==0 || vm.menuitem.categoryId==0 || vm.menuitem.categoryId==null">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>
</div>

<style>
    .portion-price {
        height: 34px;
        padding: 6px;
    }
</style>