﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.view.connect.menu.menuitem.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MenuItem").Pluralize()</span> <small>@L("MenuItemHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="md-checkbox-list" style="display: inline;">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="isDeleted" class="md-check" type="checkbox" ng-model="vm.isDeleted" ng-change="vm.getAll()">
                    <label for="isDeleted">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Deleted")</strong>
                    </label>
                </div>
            </div>
            <button class="btn btn-default" ng-click="vm.import()">
                <i class="fa fa-download"></i> @L("Import")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDetailItem()">
                <i class="fa fa-plus"></i> @L("CreateMenuItem")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getAll()">

                        <div class="row">

                            <div class="col-md-6">
                                <label class="control-label">@L("Select") @L("Category")</label>
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="vm.categoryInput==null" data-ng-click="vm.openforCategoryItem()">
                                    <input type="button" class="btn btn-primary" value='{{ vm.categoryInput}} - {{ vm.categoryName }}' ng-if="vm.categoryInput!=null" data-ng-click="vm.openforCategoryItem()">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Type")</label>
                                    <select id="MenuTypeBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.productTypes" ng-change="vm.getAll()"
                                            ng-model="vm.menuTypeInput"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-refresh"></i> @L("Refresh")</button>
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i> @L("Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>