﻿<style>
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 400px;
        overflow-y: auto;
    }

    .placeholder-left {
        border: 1px dotted black;
        padding: 10px;
    }
</style>
<div>
    <form name="dineplanuserCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("SortComboGroup")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sortable-container" sv-root sv-on-sort="onSorted(vm.combogroups );" sv-part="vm.combogroups " sv-on-start="onStarted($part, $item, $index)" sv-on-stop="onStopped($part, $item, $index)">
                        <div sv-placeholder class="placeholder-left">
                            <span><b>@L("Dragging")</b></span>
                        </div>

                        <div ng-repeat="item in vm.combogroups" sv-element="opts" class="well">
                            {{item.name}}
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>