﻿<div  >
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Import") - @L("Issue")</span>
            </h3>
        </div>
        <div class="m-heading-1 border-green m-bordered" busy-if="vm.loading">
            <p> @L("DownloadTemplate_Info") </p>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">@L("MaterialType")</label>
                        <ui-select class="borderself" id="selMaterialType" ng-class="{'edited':vm.materialListFor}" ng-model="vm.materialListFor">
                            <ui-select-match placeholder="Select Material Type...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.displayText as item in vm.refmaterialtype | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-6 margin-top-30">
                    <a ng-click="vm.getIssueTemplate()">@L("DownloadTemplate")</a>
                </div>
            </div>
        </div>
        @*<div class="modal-body" busy-if="vm.loading">*@
            <div class="m-heading-1 border-green m-bordered" busy-if="vm.loading">
                <div class="form-group margin-left-20">
                    <input type="file" size="55" nv-file-select uploader="vm.uploader" accept=".xls, .xlsx"/>
                    <span class="help-block m-b-none">@L("SelectFeededExcelStockTakenFile")</span>
                </div>
            </div>
        @*</div>*@
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>
        </div>
    </form>
</div>