﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    /* Specify styling for tooltip contents */
    .tooltip.customClass .tooltip-inner {
        color: #880000;
        background-color: #ffff66;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    /* Hide arrow */
    .tooltip.customClass .tooltip-arrow {
        display: none;
    }
</style>

<div ng-controller="tenant.views.house.transaction.request.requestMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.request.id">@L("EditRequest"): {{vm.request.Id}}</span>
                        <span ng-if="!vm.request.id">@L("CreateRequest")</span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-6 text-right">
            <button name="remove" ng-disabled="vm.saving" type="button" class="btn btn-default yellow-lemon" ng-click="vm.removeUnfilled()">
                @L("RemoveUnfilled")
                </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="requestForm" busy-if="vm.loading">
                    <div class="form-body">
                        <div class="row" ng-if="vm.productionUnitExistsFlag">
                            <div class="col-xs-12 text-right" >
                                <div class="form-group" ng-if="vm.productionUnitExistsFlag">
                                    <ui-select class="borderself" ng-model="vm.request.productionUnitRefId">
                                        <ui-select-match placeholder="Production Unit ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refproductionunit | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>@L("RequestReference")</label>
                                        <input class="form-control ucase" type="text" name="slipNumber" ng-class="{'edited':vm.request.requestSlipNumber}" ng-model="vm.request.requestSlipNumber" required ng-change="vm.showErrorProductionUnitNotSelected()">

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label class="control-label">@L("RequestTime")</label>
                                    <input name="issDate" class="form-control date-picker" ng-class="{'edited':vm.request.requestTime}" ng-model="vm.request.requestTime" ng-disabled="true" />

                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-disabled="vm.recipeflag">
                                        <input id="categoryFlag" class="md-check" type="checkbox" ng-model="vm.categoryflag" name="ForParticularCategory" ng-click="vm.categoryselect()" />
                                        <label for="categoryFlag">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Category")
                                        </label>
                                        <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-model="vm.request.materialGroupCategoryRefId" ng-disabled="!vm.categoryflag" ng-change="vm.getDetailMaterial()" required>
                                            <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search | limitTo: vm.uilimit">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>


                            </div>

                            @*<div class="row" ng-if="!vm.categoryflag">
                                <div class="col-xs-6" ng-show="!vm.categoryflag">
                                    <div class="md-checkbox">
                                        <input id="recipeFlag" class="md-check" type="checkbox" ng-model="vm.recipeflag" name="ForParticularRecipe" ng-click="vm.filterMaterial()" />
                                        <label for="recipeFlag">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Recipe")
                                        </label>

                                        <ui-select ng-change="RecipeFunc($select.selected)" class="borderself" ng-model="vm.request.recipeRefId" ng-disabled="!vm.recipeflag">
                                            <ui-select-match placeholder="Select Recipe...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refRecipe | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="col-xs-2" ng-show="!vm.categoryflag">
                                    <div class="form-group" ng-if="vm.recipeflag">

                                        <label>@L("PrdBatchQty")</label>
                                        <input class="form-control" type="text" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" name="productionqty" ng-class="{'edited':vm.request.recipeProductionQty}" ng-model="vm.request.recipeProductionQty" required>
                                    </div>
                                </div>


                                <div class="col-xs-1" ng-if="vm.recipeflag || vm.request.materialGroupCategoryRefId">
                                    <div class="form-group">
                                        <button class="btn blue margin-top-20" ng-click="vm.getDetailMaterial()"><i class="fa fa-refresh"></i> </button>
                                    </div>
                                </div>
                                <div class="col-xs-3" ng-if="vm.recipeflag">
                                    <div class="md-checkbox">
                                        <input id="multipleProductionEntryAllowed" class="md-check" type="checkbox" ng-disabled="!vm.recipeflag" ng-model="vm.request.multipleBatchProductionAllowed" name="multipleProductionEntryAllowed" />
                                        <label for="multipleProductionEntryAllowed">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("MultipleBatchProductionAllowed")
                                        </label>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-xs-4" ng-if="false">
                                    <div class="form-group">
                                        <label>@L("TokenNumber")</label>
                                        <input class="form-control" id="tokenNumber" type="text" @*tooltip-class="{{customClass}}"*@ uib-tooltip="{{tokenNumberToolTip}}" name="tokNumber" ng-class="{'edited':vm.request.tokenNumber}" ng-model="vm.request.tokenNumber" ng-disabled="true" required>
                                    </div>
                                </div>


                            </div>

                        <form name="recipeForm">
                            <div class="row margin-top-20" ng-if="!vm.categoryflag">
                                <input id="recipeFlag" class="md-check margin-left-20" type="checkbox" ng-model="vm.recipeflag" name="ForParticularRecipe" ng-click="vm.filterMaterial()" />
                                <label for="recipeFlag">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("ForParticularRecipe")
                                </label>
                                <div class="col-xs-12" ng-if="vm.recipeflag">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <caption class="text-center text-bold">@L("Production") @L("Recipe") @L("List")</caption>
                                        <thead>
                                            <tr>
                                                <th>@L("Delete")</th>
                                                <th ng-if="false">@L("Sno")</th>
                                                <th ng-if="false">@L("Code")</th>
                                                <th>@L("Recipe")</th>
                                                <th class="text-right">@L("OnHand")</th>
                                                <th class="text-right">@L("PrdBatchQty")</th>
                                                <th class="text-center">@L("UOM")</th>
                                                <th>@L("MultipleBatchProductionAllowed")</th>
                                                <th>@L("Next")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(index,data) in vm.recipePortions">
                                            <td class="col-xs-1">
                                                <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRecipeRow(index)" />
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.sno" required />
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.recipeRefId" required />
                                            </td>

                                            <td class="col-xs-4">
                                                <ui-select class="borderself" id="selMaterial" ng-value="data.recipeRefName" ng-change="funcRecipe(data,$select.selected,this)" ng-model="data.recipeRefId">
                                                    <ui-select-match placeholder="Select Recipe...">{{$select.selected.materialRefName}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.recipeRefId" repeat="item.materialRefId as item in vm.refRecipe | filter: $select.search | limitTo: vm.uilimit">
                                                        <div ng-bind="item.materialRefName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="onhand" type="number" class="form-control text-right" ng-model="data.currentInHand" ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="issqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.recipeProductionQty" ng-disabled="!data.recipeRefId" required />
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="uom" type="text" class="form-control text-right" ng-model="data.defaultUnitName" ng-disabled="true" />
                                            </td>
                                            <td class="col-xs-1">
                                                <input ng-model="data.multipleBatchProductionAllowed" ng-disabled="!data.recipeRefId" type="checkbox">

                                            </td>
                                            <td class="col-xs-1">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addRecipePortion()" ng-disabled="!data.recipeProductionQty">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>

                            <div class="row margin-top-15" ng-if="vm.recipeflag">
                                <div class="col-xs-12 text-right">
                                    <button type="button" button-busy="vm.saving" busy-text="@L("FetchIngredientsWithThreeDot")" class="btn btn-primary blue" ng-click="vm.getDetailMaterial()" ng-disabled="recipeForm.$invalid">
                                        <i class="fa fa-refresh"></i> <span>@L("FetchIngredients")</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                            <div class="row margin-top-20">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Actions")</th>
                                                @*<th>@L("Sno")</th>*@
                                                <th ng-if="false">@L("Code")</th>
                                                <th>@L("MaterialName")</th>
                                                <th class="text-right">@L("OnHand")</th>
                                                <th class="text-right">@L("Qty")</th>
                                                <th>@L("UOM")</th>
                                                <th>@L("Next")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(index,data) in vm.requestPortions">
                                            <td class="col-xs-1">
                                                <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                            </td>
                                            @*<td class="col-xs-1">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.sno" required />
                                            </td>*@
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" required />
                                            </td>

                                            <td class="col-xs-4">
                                                <ui-select class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId">
                                                    <ui-select-match placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.tempRefMaterial | filter: $select.search | limitTo: vm.uilimit">
                                                        <div ng-bind="item.materialRefName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-2 text-bold text-right">
                                                <span ng-if="data.materialRefId"> {{data.currentInHand}} / {{data.defaultUnitName}} </span>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="reqqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.requestQty" ng-disabled="!data.materialRefId" required />
                                            </td>
                                            <td class="col-xs-1">
                                                @*<input id="uom" type="text" class="form-control text-right" ng-model="data.defaultUnitName" ng-disabled="true" />*@
                                                <a ng-if="!data.changeunitflag" ng-disabled="vm.issue.id || !vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="vm.issue.id || !vm.mutlipleUomAllowed" >
                                                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-disabled="!data.requestQty">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                            <div class="row margin-top-15">
                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    @*<button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="requestForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>*@
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="requestForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

