﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 75%;
    }
</style>

<div class="modal-dialog">
    <form name="yearwiseleaveallowedforemployeeCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.yearwiseleaveallowedforemployee.id">@L("EditYearWiseLeaveAllowedForEmployee"): {{vm.yearwiseleaveallowedforemployee.id}}</span>
                <span ng-if="!vm.yearwiseleaveallowedforemployee.id">@L("CreateYearWiseLeaveAllowedForEmployee")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">@L("Employee")</label>
                        <ui-select id="empid" class="borderself" ng-model="vm.employeeRefId" ng-disabled="true">
                            <ui-select-match placeholder="Select Employee ...">{{$select.selected.employeeRefName}}</ui-select-match>
                            <ui-select-choices repeat="item.employeeRefId as item in vm.refemployeecode | filter: $select.search">
                                <small>
                                    <span>{{ item.employeeRefName }} <span></span> </span>
                                    <br ng-if="item.activeStatus==false" />
                                    <span style="color:orangered;" ng-if="item.activeStatus==false">@L("Resigned"): {{ item.lastWorkingDate | date : 'dd-MMM-yyyy' }}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="form-group form-md-line-input  no-hint">
                        <input onkeypress="return NumberOnly(event, 'cancel')" ng-disabled="true" class="form-control text-center" 
                               type="number" id="NumberOfLeaveAllowed" 
                               name="NumberOfLeaveAllowed" ng-class="{'edited':vm.acYear}" ng-model="vm.acYear"
                               maxlength="6">
                        <label>@L("AcYear")</label>
                    </div>
                </div>

            </div>

            <div class="row" busy-if="vm.loading">
                <div class="col-sm-10">
                    <table class="table table-striped table-bordered col-sm-12">
                        <thead>
                            <tr>
                                <th>@L("Edit")</th>
                                <th>@L("LeaveType")</th>
                                <th class="text-right">@L("NumberOfLeaveAllowed")</th>
                                <th class="text-right">@L("AlreadyTaken")</th>
                                <th class="text-right">@L("Available")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.leaveDetailPortion">
                            <td class="col-sm-1">
                                <input type="button" class="btn btn-primary" value="@L("Edit")" data-ng-click="vm.editSet(index)" />
                            </td>
                            <td class="col-sm-5">
                                <ui-select id="selMaterial" class="borderself" ng-required="true" ng-disabled="true"
                                           ng-value="data.leaveTypeRefCode" ng-model="data.leaveTypeRefCode">
                                    <ui-select-match>{{$select.selected.leaveTypeName}}</ui-select-match>
                                    <ui-select-choices ng-model="data.leaveTypeRefCode" repeat="item.id as item in vm.refleavetype | filter: $select.search">
                                        <div ng-bind="item.leaveTypeName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td class="col-sm-2 text-right">
                                <input id="price" type="text" class="form-control text-right"
                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="6"
                                       ng-model="data.numberOfLeaveAllowed" required ng-disabled="!data.editflag" />
                            </td>
                            <td class="col-sm-2 text-right">
                                {{data.numberOfLeaveTaken | number : 1}}
                            </td>
                            <td class="col-sm-2 text-right">
                                {{ data.numberOfLeaveAllowed - data.numberOfLeaveTaken | number : 1}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-8">
                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="yearwiseleaveallowedforemployeeCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

