﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.menu.ordertaggroup.locationPriceModal as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Location") </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">

                <div class="form-body">
                    <form name="locationPriceCreateOrEditForm" role="form" novalidate class="form-validation">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <span>@L("Location")</span>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Location")  &nbsp;<a ng-click="vm.ordertagLocationPrice.locationId=0;vm.intiailizeOpenLocation();vm.editFlag = false;" ng-if="vm.ordertagLocationPrice.locationId!=0">@L("Clear")</a></label>
                                            <div>
                                                <input type="button" class="btn btn-primary" value='@L("Location")' ng-if="vm.ordertagLocationPrice.locationId==0" data-ng-click="vm.openLocation()">
                                                
                                                <input type="button" class="btn btn-primary" value="{{ vm.ordertagLocationPrice.locationId }} - {{ vm.ordertagLocationPrice.locationName }}" ng-if="vm.ordertagLocationPrice.locationId!=0" data-ng-click="vm.openLocation()">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Price")</label>
                                            <input class="form-control" type="number"
                                                   ng-class="{'edited':vm.ordertagLocationPrice.price}"
                                                   ng-model="vm.ordertagLocationPrice.price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.clear()">@L("Clear")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="locationPriceCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>

                        </div>
                    </form>

                    <div class="portlet light">
                        <div class="portlet-body">
                            <div busy-if="vm.loading">
                                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
