<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<style>
    #outer {
        width: 100%;
        text-align: center;
    }

    .inner {
        display: inline-block;
    }
</style>

<div ng-controller="tenant.views.connect.menu.ordertaggroup.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.tag.id">@L("EditOrderTagGroup"): {{vm.tag.name}}</span>
                        <span ng-if="!vm.tag.id">@L("CreateOrderTagGroup") : {{vm.tag.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading='@L("General")' tabindex="1">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">@L("Name")</label>
                                            <input type="text" class="form-control input-lg" ng-model="vm.tag.name" placeholder='@L("Name")' required>
                                        </div>
                                    </div>
                                    <div class="col-md-1 margin-top-30" ng-if="vm.tag.id">
                                        <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal(null)">
                                            <i class="fa fa-file"></i> <span></span>
                                        </button>
                                    </div>
                                    <div class="col-md-1 margin-top-30" ng-if="vm.tag.id">
                                        <button class="btn btn-xs green" ng-click="vm.openfileUploaderModal(vm.tag,0)">
                                            <i class="fa fa-upload"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label">@L("Department")</label>
                                            <ui-select multiple ng-model="vm.requestDepartments" class="form-control">
                                                <ui-select-match placeholder=@L("Department")>{{$item.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="dept in vm.departments">
                                                    <small>
                                                        {{ dept.displayText }}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label">@L("Prefix")</label>
                                            <input type="text" class="form-control input-lg" ng-model="vm.tag.prefix" placeholder='@L("PrefixByComma")'>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label class="control-label">@L("MinSelectItem")</label>
                                            <input type="text" class="form-control" onkeypress="return NumberOnly(event, 'cancel')" ng-model="vm.tag.minSelectedItems">
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label class="control-label">@L("MaxSelectItem")</label>
                                            <input type="text" class="form-control" onkeypress="return NumberOnly(event, 'cancel')" ng-model="vm.tag.maxSelectedItems">
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label class="control-label">@L("SortOrder")</label>
                                            <input type="text" class="form-control" onkeypress="return NumberOnly(event, 'cancel')" ng-model="vm.tag.sortOrder">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="FreeTagging" class="md-check" type="checkbox" ng-model="vm.tag.freeTagging">
                                                    <label for="FreeTagging">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("FreeTagging")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="saveFreeTags" class="md-check" type="checkbox" ng-model="vm.tag.saveFreeTags">
                                                    <label for="saveFreeTags">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("SaveFreeTags")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="AddTagPriceToOrderPrice" class="md-check" type="checkbox" ng-model="vm.tag.addTagPriceToOrderPrice">
                                                    <label for="AddTagPriceToOrderPrice">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AddTagPriceToOrderPrice")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="TaxFree" class="md-check" type="checkbox" ng-model="vm.tag.taxFree">
                                                    <label for="TaxFree">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("TaxFree")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Tags")' tabindex="1">
                                <div class="row margin-bottom-5">
                                    <div class="col-xs-12">
                                        <div class="m-heading-1 border-green m-bordered">
                                            <p> @L("CreateTagInfo") </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row  margin-top-10" ng-if="vm.tag.tags.length==0">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addTag()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row margin-top-10">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("Name")*/@L("AliasName")</th>
                                                    <th></th>
                                                    <th>@L("MenuItem")</th>
                                                    <th>@L("Quantity")</th>
                                                    <th>@L("Price")</th>
                                                    <th>@L("Add")</th>
                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(productIndex, product) in vm.tag.tags">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeTag(productIndex)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-3">
                                                    <input type="text" class="form-control" ng-model="product.name" required />
                                                    <br />
                                                    <input type="text" class="form-control" ng-model="product.alternateName" />
                                                </td>
                                                <td class="col-sm-1 margin-top-30">
                                                    <div id="outer">
                                                        <div class="inner">
                                                            <div ng-if="product.id!=null">
                                                                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal(product)">
                                                                    <i class="fa fa-file"></i> <span></span>
                                                                </button>
                                                            </div>
                                                            <div ng-if="product.id==null"></div>
                                                        </div>
                                                        <div class="inner"></div>
                                                        <div class="inner">
                                                            <div ng-if="product.id!=null">
                                                                <button class="btn btn-xs green" ng-click="vm.openfileUploaderModal(product,1)">
                                                                    <i class="fa fa-upload"></i> <span></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                               
                                                <td class="col-sm-3">
                                                    <div class="form-group">
                                                        <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="product.menuItemId==null" data-ng-click="vm.openforMenuItem(product)" required>
                                                        <input type="button" class="btn btn-primary" value='{{ product.menuItemId }} - {{ product.menuItemGroupCode }}' ng-if="product.menuItemId!=null" data-ng-click="vm.openforMenuItem(product)">
                                                    </div>
                                                </td>
                                                <td class="col-sm-2">
                                                    <input type="text" class="form-control" onkeypress="return NumberOnly(event, 'cancel')" ng-model="product.maxQuantity" required />
                                                </td>
                                                <td class="col-sm-2">
                                                    <input type="text" class="form-control" onkeypress="return NumberWithPoint(event, 'cancel')" ng-model="product.price" min="0" required />
                                                    <br/>
                                                    <input type="button" class="btn btn-primary" value='@L("LocationPrice")'  data-ng-click="vm.openLocationPriceModal(product)">
                                                </td>
                                                <td class="col-sm-2">

                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addTag()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Maps")' tabindex="1">
                                <div class="row  margin-top-10" ng-if="vm.tag.maps.length==0">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addMap()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row margin-top-10">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("Category")</th>
                                                    <th>@L("Menu")</th>
                                                    <th>@L("Add")</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.tag.maps">
                                                <td class="col-sm-2">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeMap(index)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==null" data-ng-click="vm.openforCategoryItem(data)" required>
                                                        <input type="button" class="btn btn-primary" value='{{ data.categoryId }} - {{ data.categoryName }}' ng-if="data.categoryId!=null" data-ng-click="vm.openforCategoryItem(data)">
                                                    </div>
                                                </td>
                                                <td class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==null" data-ng-click="vm.openforMenuItem(data)" required>
                                                        <input type="button" class="btn btn-primary" value='{{ data.menuItemId }} - {{ data.menuItemGroupCode }}' ng-if="data.menuItemId!=null" data-ng-click="vm.openforMenuItem(data)">
                                                    </div>
                                                </td>
                                                <td class="col-sm-2">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addMap()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(0)" ng-disabled="detailform.$invalid || vm.tag.tags.length==0">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>