﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<div ng-controller="tenant.views.go.brand.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.dinegobrand.id">@L("Edit") @L("Brand"): {{vm.dinegobrand.label}}</span>
                        <span ng-if="!vm.dinegobrand.id">@L("Create")  @L("Brand")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <form name="dinegobrandCreateOrEditForm" role="form" novalidate class="form-validation">
            <div class="portlet-input">
                <div class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.dinegobrand.label}" ng-model="vm.dinegobrand.label" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>
                                    <ui-select class="borderself" id="defaultLocation" ng-model="vm.dinegobrand.locationId" required>
                                        <ui-select-match id="selLocationRefid" placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search| limitTo: vm.uilimit">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">@L("ScreenMenu")</label>
                                    <ui-select class="borderself" ng-model="vm.dinegobrand.screenMenuId" required>
                                        <ui-select-match placeholder="Select Screen Menu ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.screenmenus | filter: $select.search | limitTo: vm.uilimit ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info margin-top-15" ng-if="vm.dinegobrand.id">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                            <h3 class="panel-title bold">
                                Department
                            </h3>
                        </div>
                        <div id="collapse1" class="collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4 margin-top-20">
                                        <div class="form-group">
                                            <label class="control-label">@L("Department") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                            <ui-select class="borderself" ng-model="vm.dinegobranddetail">
                                                <ui-select-match placeholder="Select Department ...">{{$select.selected.label}}</ui-select-match>
                                                <ui-select-choices repeat="item as item in vm.departments | filter: $select.search | limitTo: vm.uilimit ">
                                                    <div ng-bind="item.label"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 margin-top-40">
                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" busy-if="vm.loading" ng-if="vm.dinegobrand.id">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject bold uppercase">
                                        Department
                                    </span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row" busy-if="vm.loading">
                                    <div class="col-xs-6">
                                        <div ui-grid="vm.dinegobrandDetailOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dinegobrandCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </div>
</form>
    </div>
</div>
