﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.salesperiod as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SalesByPeriod")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getData()">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">@L("DateRange")</label>
                                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn blue" ng-click="vm.clear()">
                                        <i class="fa fa-eraser"></i> @L("Clear")
                                    </button>
                                    <div class="btn-group">
                                        <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                            <i class="fa fa-file-excel-o"></i> @L("Export")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                            </li>
                                            <li>
                                                <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                            </li>
                                        </ul>
                                    </div>
                                    @*<div class="btn-group">
                                        <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                            <i class="fa fa-file-excel-o"></i> @L("ExportByCategory")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="vm.exportToExcelByCategory(0)">@L("Excel")</a>
                                            </li>
                                            <li>
                                                <a ng-click="vm.exportToExcelByCategory(1)">@L("HTML")</a>
                                            </li>
                                        </ul>
                                    </div>*@

                                    <button class="btn blue" ng-click="vm.getData()">
                                        <i class="fa fa-refresh"></i> @L("Refresh")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ng-repeat="location in vm.data.listItems">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr class="thead_title" ng-if="!vm.isUndefinedOrNull(location.locationName)">
                                <td colspan="{{ location.listItems.length + 1}}" class="border_bottom_none font_weight_bold" >{{location.locationName}}</td>
                            </tr>
                            <tr class="thead_content">
                                <th></th>
                                <th class="text-center font_weight_bold" ng-repeat="schedule in location.listItems">
                                    {{schedule.scheduleName}} <br />
                                    {{schedule.start_String}} - {{schedule.end_String}}
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("NetSales")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.netSales | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("GST")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.gst | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("ServiceCharge")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.serviceCharge | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("Ticket")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.ticket | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("AT")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.at | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("Pax")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.pax | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("ACSales")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                {{schedule.ac | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-center max_width_50">@L("DiscountPromotion")</td>
                            <td class="item border_bottom_none text-center max_width_50" ng-repeat="schedule in location.listItems">
                                <span ng-repeat="promo in schedule.promotions">{{promo.name}} , {{promo.used}} , {{promo.amount}} <br></span> 
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .thead_title {
        background-color: #deebf7;
        font-weight: bold;
    }

    .thead_content {
        background-color: #fff2cc;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .item {
        max-width: 116px;
    }

    .w-100 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #808080;
        color: white;
    }

    .font_weight_bold {
        font-weight: bold;
    }

    .nodata {
        background: navajowhite;
        color: red;
    }

    .table_Item {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .table_Item_Element {
        border-left: none !important;
        border-bottom: none !important;
    }

    .max_width_50 {
        max-width: 50px;
    }

    .max_width_20 {
        max-width: 20px;
    }
</style>
