@using Humanizer
<div ng-controller="tenant.views.connect.programSetting.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.programSetting.id">@L("EditProgramSetting"): {{vm.programSetting.id}}</span>
                        <span ng-if="!vm.programSetting.id">@L("CreateProgramSetting")</span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <form name="detailform" novalidate>
            <div class="portlet-body">
                <div class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Template")</label>
                                    <select id="templateType" required
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.templates"
                                            ng-model="vm.programSetting.programSettingTemplateId"
                                            ng-change="vm.selectedTemplate()"></select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DefaultType")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.programSettingTemplate.name}"
                                           ng-model="vm.programSettingTemplate.typeName" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DefaultValue")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.programSettingTemplate.defaultValue}"
                                           ng-model="vm.programSettingTemplate.defaultValue" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("ActualValue")</label>

                                    <select id="actualValue" ng-if="vm.values.length > 0"
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-model="vm.programSetting.actualValue">
                                        <option ng-repeat="item in vm.values" value="{{item.text}}">{{item.text}}</option>
                                    </select>

                                    <input ng-if="vm.values.length == 0" class="form-control" type="text" name="Name" ng-class="{'edited':vm.programSetting.actualValue}"
                                           ng-model="vm.programSetting.actualValue" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>