﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.return.returnMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.return.id">@L("EditReturn"): {{vm.return.id}}</span>
                        <span ng-if="!vm.return.id">@L("CreateReturn")</span>
                    </h1>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="returnForm">
                    <div class="form-body">
                        <div class="row" ng-if="vm.productionUnitExistsFlag">
                            <div class="col-xs-12">
                                <div class="form-group" ng-if="vm.productionUnitExistsFlag">
                                    <ui-select class="borderself" ng-model="vm.return.productionUnitRefId" ng-change="vm.fillDropDownIssueReferences()" ng-click="fillDropDownIssueReferences()">
                                        <ui-select-match placeholder="Production Unit ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refproductionunit | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="control-label">@L("ReturnDate")</label>
                                    <input name="retDate" class="form-control date-picker" ng-class="{'edited':vm.return.returnDate}" ng-model="vm.return.returnDate" />
                                </div>
                                <div class="col-xs-2" ng-if="false">
                                    <div class="form-group">
                                        <label>@L("TokenNumber")</label>
                                        <input class="form-control text-right" id="tokenNumber" type="text" @*tooltip-class="{{customClass}}"*@ uib-tooltip="{{tokenNumberToolTip}}" name="tokNumber" ng-class="{'edited':vm.return.tokenRefNumber}" ng-model="vm.return.tokenRefNumber" ng-disabled="true" required ng-change="vm.showErrorProductionUnitNotSelected()">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group" ng-disabled="vm.recipeflag">
                                        <input id="categoryFlag" class="md-check" type="checkbox" ng-model="vm.categoryflag" name="ForParticularCategory" ng-click="vm.categoryselect()" />
                                        <label for="categoryFlag">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("ForParticularCategory")
                                        </label>
                                        <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-model="vm.return.materialGroupCategoryRefId" ng-disabled="!vm.categoryflag" ng-change="vm.getDetailMaterial()">
                                            <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search | limitTo: vm.uilimit">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-3" ng-if="!vm.categoryflag">
                                    <div class="md-checkbox">
                                        <input id="recipeFlag" class="md-check" type="checkbox" ng-model="vm.recipeflag" name="ForParticularRecipe" ng-click="vm.filterMaterial()" />
                                        <label for="recipeFlag">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("ForParticularRecipe")
                                        </label>
                                        <ui-select ng-change="RecipeFunc($select.selected)" class="borderself" ng-model="vm.return.recipeRefId" ng-disabled="!vm.recipeflag">
                                            <ui-select-match placeholder="Select Recipe...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refRecipe | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group" ng-if="vm.recipeflag">
                                        <button class="btn blue margin-top-20" ng-click="vm.getDetailMaterial(); vm.fillMaterialBasedOnRecipt(vm.return.recipeRefId)"><i class="fa fa-refresh"></i> </button>
                                    </div>
                                </div>

                                <div class="col-xs-3" ng-if="!vm.categoryflag">
                                    <div class="md-checkbox">
                                        <input id="issueFlag" class="md-check" type="checkbox" ng-model="vm.issuerefflag" name="Issue" ng-click="vm.filterMaterial()" />
                                        <label for="issueFlag">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Issue")
                                        </label>
                                        <ui-select ng-change="IssueFunc($select.selected)" class="borderself" ng-model="vm.return.issueRefId" ng-disabled="!vm.issuerefflag">
                                            <ui-select-match placeholder="Select Issue...">{{$select.selected.requestSlipNumber}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in vm.refissues | filter: $select.search">
                                                <div ng-bind="item.requestSlipNumber"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                            </div>


                            <div class="row margin-top-20">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Delete")</th>
                                                <th ng-if="false">@L("Sno")</th>
                                                <th ng-if="false">@L("Code")</th>
                                                <th>@L("MaterialName")</th>
                                                <th class="text-right">@L("Qty")</th>
                                                <th class="text-center">@L("UOM")</th>
                                                <th>@L("Remarks")</th>
                                                <th>@L("Next")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(index,data) in vm.returnPortions">
                                            <td class="col-xs-1">
                                                @*<input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(index)" />*@
                                                <button type="button" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                                    <i class="fa fa-trash"></i> <span></span>
                                                </button>
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.sno" required />
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" required />
                                            </td>
                                            <td class="col-xs-5">
                                                <ui-select class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId">
                                                    <ui-select-match placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.tempRefMaterial | filter: $select.search">
                                                        <div ng-bind="item.materialRefName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="retqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.returnQty" ng-blur="vm.checkQty(data.returnQty,data)" ng-disabled="!data.materialRefId" required />
                                            </td>
                                            <td class="col-xs-1">
                                             
                                                <a ng-if="!data.changeunitflag" ng-disabled="vm.return.id" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="vm.return.id">
                                                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </td>
                                            <td class="col-xs-2">
                                                <input id="retRem" type="text" class="form-control text-right" maxlength="10" ng-model="data.remarks" ng-disabled="!data.returnQty" />
                                            </td>
                                            <td class="col-xs-1" >
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-disabled="!data.returnQty || vm.issuerefflag">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                            <div class="row margin-top-15">
                                <div style="display:block;float:right;">
                                    <button name="remove" ng-disabled="vm.saving" type="button" class="btn btn-default yellow-lemon"
                                            ng-click="vm.removeUnfilled()">
                                        @L("RemoveUnfilled")
                                        </button>

                                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="returnForm.$invalid">
                                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>

           