﻿@using DinePlan.DineConnect.Authorization.Roles
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div>
    <form name="dineplanuserroleCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.dineplanuserrole.id">@L("EditDinePlanUserRole"): {{vm.dineplanuserrole.id}}</span>
                <span ng-if="!vm.dineplanuserrole.id">@L("CreateDinePlanUserRole")</span>
            </h4>
        </div>
        <div class="modal-body">

            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("Properties")">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("Name")</label>
                        <input onkeypress="return AlphaAToZOnly(event, 'cancel')" class="form-control" type="text" name="name" ng-class="{'edited':vm.dineplanuserrole.name}" ng-model="vm.dineplanuserrole.name" required>
                    </div>
                    <div class="md-checkbox-list">
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="IsAdmin" class="md-check" type="checkbox" ng-model="vm.dineplanuserrole.isAdmin">
                                <label for="IsAdmin">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Admin")
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-md-line-input no-hint margin-top-20">
                        <select id="Department" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.departments" ng-model="vm.dineplanuserrole.departmentId" required></select>
                        <label>@L("Department")</label>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Permissions")">
                    <permission-tree edit-data="vm.permissionEditData"></permission-tree>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserroleCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

<style>
    .permission-tree {
        height: calc(100vh - 315px);
        overflow: auto;
    }
</style>