﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="dineplanuserroleCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.dineplanuserrole.id">@L("EditDinePlanUserRole"): {{vm.dineplanuserrole.id}}</span>
                <span ng-if="!vm.dineplanuserrole.id">@L("CreateDinePlanUserRole")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return AlphaAToZOnly(event,'cancel')" class="form-control" type="text" name="id" ng-class="{'edited':vm.dineplanuserrole.id}" ng-model="vm.dineplanuserrole.id" required>
                        <label>@L("Id")</label>
                    </div>
                </div>
            </div>

			 <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("name")</label>
                        <select id="selname" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.reflocations" ng-model="vm.dineplanuserrole.name" required  ></select>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserroleCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

