﻿
@{
    ViewBag.Title = "ZohoBooks";
}

@section Scripts {
    <style>
        textarea {
            width: 300px;
            min-height: 170px;
        }

        .col-md-12 {
            margin-top: 30px;
            border-bottom: 1px solid #ccc;
        }

        img {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
}

<h1>ZohoBooks Integration</h1>

<div class="container">
    <div class="d-flex flex-column">

        <div class="p-2">
            <h3>Flow</h3>
            <img src="~/Content/images/zohoBooksAuthorizationFlow.png" />

        </div>

        <div class="p-2">
            <h2>1) Create a Zoho app</h2>
            <p>
                Register for a developer account here: <a href="https://www.zoho.com/developer/">https://www.zoho.com/developer/</a>
            </p>


            <p>Navigate to ZOHO API Console <a href="https://api-console.zoho.com/" target="_blank">https://api-console.zoho.com/</a> and create a Zoho app. Select Server-based-application.</p>
            <img src="~/Content/images/create-zohapp.png" />

        </div>

        <div class="p-2">
            <h2>2) Set the QuickBooks App</h2>
            <p>Note the ClientId and Secret, and set the Redirect url to gateway url plus <strong>/callback/zohobooks</strong>. For example: <strong>https://dcgateway.azurewebsites.net/callback/zohobooks</strong></p>
            <img src="~/Content/images/redirect-uri-zoho.png" />
        </div>

        <div class="p-2">
            <h2>3) Set the Web.configs.</h2>
        </div>

        <div class="p-2">
            <strong>3.1) In the Gateway web.config, just set Zoho Client and Secret.</strong>

            <textarea class="form-control" style="min-width: 100%" readonly>
            <add key="ZohoBooksClientId" value="1000.VDH0X6JMH79DS2IYP8J2X87BHTOXNG" />

            <add key="ZohoBooksClientSecret" value="70e0ce9a43f8e9f2e54d41a145342bb26ee1a04f2a" />

            </textarea>
        </div>

        <div class="p-2">
            <strong>3.2) In the DineConnect web.config, set client_id and secret.</strong>

            <textarea class="form-control" style="min-width: 100%" readonly>
            <add key="ZohoBooksClientId" value="1000.VDH0X6JMH79DS2IYP8J2X87BHTOXNG" />



            <add key="ZohoBooksClientSecret" value="70e0ce9a43f8e9f2e54d41a145342bb26ee1a04f2a" />

            </textarea>

        </div>



        <div class="p-2">
            <p>Your client will pick the organization which he want to integrate with DineConnect.</p>
            <p>This will happen <strong>after</strong> authorization process, <strong>before</strong> navigating back to DineConnect.</p>
            <img src="~/Content/images/zohobooks-organization-selection.png" />
        </div>

        <div class="p-2">
            <h2>Further reads</h2>
            <a href="https://www.zoho.com/books/api/v3/#getting-started" target="_blank">ZohoBooks API Reference</a>
        

        </div>
    </div>




</div>



