<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style type="text/css">
    html {
        height: 100%
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #map_canvas {
        height: 100%
    }
</style>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">
</script>

<script type="text/javascript">
    function initialize(idx, id1) {
        alert(id1);
        var lat = document.getElementById('txtlat').value;
        var lon = document.getElementById('txtlon').value;
        var myLatlng = new google.maps.LatLng(lat, lon) // This is used to center the map to show our markers
        var mapOptions = {
            center: myLatlng,
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            marker: true
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: myLatlng
        });
        marker.setMap(map);
    }
</script>

<style>

    .Unknown {
        border: none;
        /*background-color: #FF8181;*/
        color: black;
        font-weight: bolder;
    }

    .highlight-alreadyavailable {
        border: none;
        background-color: black;
        color: red;
        font-weight: bold;
    }

    .weekoff-given {
        border: none;
        color: yellowgreen;
        font-weight: bold;
    }

    .InvoiceDone {
        border: none;
        color: green;
        font-weight: bold;
    }

    .PendingForInvoice {
        border: none;
        background-color: white;
        color: red;
        font-weight: bold;
    }


    .PinkPending {
        border: none;
        color: deeppink;
        font-weight: bold;
    }

    .YellowPending {
        border: none;
        background-color: black;
        color: yellow;
        font-weight: bold;
    }
</style>

<style>
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }
</style>

<div ng-controller="tenant.views.employeedashboard.employeeDashboard as vm">

    <div class="row" ng-if="!vm.errorflag" busy-if="vm.loading">
        <div class="col-lg-2">
            <div class="form-group">
                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                       class="form-control date-picker bold" ng-model="vm.dateRangeModel"
                       style="background-color: cornflowerblue; color: white"
                       ng-change="vm.noofReportPending = 0; vm.noofTsPending = 0; vm.jobStatusChart();" />
            </div>
        </div>
        <div class="col-lg-3 col-xs-8" ng-if="vm.permissions.otherEmployeeDashBoard">
            <ui-select class="borderself" ng-model="vm.currentEmployeeRefId"
                       ng-change="vm.noofReportPending = 0; vm.noofTsPending = 0; vm.jobStatusChart();vm.getAllEmployeeDocumentInfo();">
                <ui-select-match placeholder="Select Employee...">{{$select.selected.employeeRefName}} - {{$select.selected.employeeRefCode}}</ui-select-match>
                <ui-select-choices repeat="item.employeeRefId as item in vm.refemployeecode | filter: $select.search | limitTo: vm.uilimit">
                    <small>
                        <span>{{ item.employeeRefName }} <span></span> </span>
                        <span>{{ item.employeeRefCode }} <span></span> </span>
                        <br ng-if="item.activeStatus==false" />
                        <span style="color:orangered;" ng-if="item.activeStatus==false">@L("Resigned"): {{ item.lastWorkingDate | date : 'dd-MMM-yyyy' }}</span>
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="vm.permissions.otherEmployeeDashBoard && vm.printmailflag" @*ng-show="vm.printmailflag"*@ class="col-lg-1 col-xs-1">
            <button class="blue" ng-click="vm.jobStatusChart();vm.getAllEmployeeDocumentInfo();"><i class="fa fa-refresh"></i></button>
        </div>
        <div class="col-lg-2" ng-if="vm.printmailflag" @*ng-show="vm.printmailflag"*@ id="divprintemail">
            <span>&nbsp;</span>
            <a ng-click="vm.printmailflag=false; vm.myFunction();"> <span class=""><i class="fa fa-print" ng-click=""></i> </span> </a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            @*<a ng-click="vm.sendMail(false)">  <span class="">   <i class="fa fa-eye"></i></span> </a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a ng-click="vm.sendMail(true)">  <span class="">   <i class="fa fa-envelope"></i></span> </a>*@
        </div>
        <div class="col-lg-2" id="divMailFormat" ng-if="vm.permissions.otherEmployeeDashBoard && vm.printmailflag">
            <div>
                <a ng-click="vm.toAllEmployeeSendMail(false)">  <span class="">  @L("MailFormat") <i class="fa fa-eye"></i></span> </a>
            </div>
        </div>

        @*<div class="col-lg-2" ng-show="vm.printmailflag" id="divSendMailToAll" ng-if="vm.permissions.otherEmployeeDashBoard && vm.printmailflag">
                <div>
                    <a ng-click="vm.toAllEmployeeSendMail(true)">  <span class="">  @L("SendMailToAll") <i class="fa fa-envelope"></i></span> </a>
                </div>
            </div>*@
    </div>

    <div class="portlet light ">
        <div>
            <span class="bold">  {{vm.companyRefCode}} - {{vm.employeeRefCode}} </span>   Print Time : {{vm.printTime}}
        </div>

        <div class="row" ng-if="vm.remarksFlag" busy-if="vm.loading">
            <div class="col-lg-12">
                <h4 style="color:red; font-size:x-large">{{vm.remarks}}</h4>
            </div>
        </div>

        <div class="margin-top-20" busy-if="vm.loading" ng-if="vm.printmailflag" id="divCalendar">
            <div class="row">
                <div class="col-lg-2">
                    <div id="divemployee" class="card portlet light">
                        <div class="mx-auto d-block">
                            <img ng-if="vm.personalinformation.profilePictureId"
                                 ng-src="@Url.Action("GetPerInfoPictureById", "PersonalInformation")?id={{vm.personalinformation.profilePictureId}}" width="96" height="96"
                                 class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                            <img ng-if="!vm.personalinformation.profilePictureId"
                                 src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                            <div class="text-sm-center bold blue">{{vm.personalinformation.employeeName}}</div>
                            <h6 class=" text-sm-center ">
                                {{vm.personalinformation.jobTitle}}
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div ng-if="vm.permissions.generateSalary">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button class="btn-primary btn btn-group-justified btn-group-circle" ng-click="vm.getSalaryForTheEmployee(vm.currentEmployeeRefId);"> @L("Salary") ({{vm.salaryMonth}} )  <i class="fa fa-money"></i></button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="SelectedEvent" class="alert alert-warning margin-top-10" @*style="margin-top:50px"*@>
                        <h4 style="margin-top:0px">{{SelectedEvent.workDate | date : 'dd-MMM-yyyy'}}</h4>
                        <h4>{{SelectedEvent.workStatus}}</h4>
                        <div ng-if="true || SelectedEvent.workInfo!=null">
                            <p>{{SelectedEvent.workInfo.dcHeadRefName}}</p>
                            <p>{{SelectedEvent.workInfo.dcGroupRefName}}</p>
                            <p>{{SelectedEvent.workInfo.stationRefName}}</p>
                            <p>{{SelectedEvent.workInfo.shiftRefName}}</p>
                            <p ng-if="SelectedEvent.tsInfo.workTime.length>0">@L("WorkHours") {{SelectedEvent.workInfo.workTime}}</p>
                            <p ng-if="SelectedEvent.tsInfo.otTime.length>0">@L("OTHours") {{SelectedEvent.workInfo.otTime}}</p>
                            <p ng-if="SelectedEvent.tsInfo.jobremarks.length>0">{{SelectedEvent.workInfo.jobremarks}}</p>
                        </div>
                    </div>
                    @*<span style="font-size:x-large" ng-class="SelectedEvent.tsNgClass" ng-if="SelectedEvent.tsCurrentStatus.length>0">{{SelectedEvent.tsCurrentStatus}}</span>*@
                </div>
                <div class="col-lg-10" style="border:solid;" busy-if="vm.loading || vm.loadingCount">
                    <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"
                         calendar="myCalendar">
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-top-10" id="email" busy-if="vm.loading">
            <div id="pemail" ng-repeat="(index,data) in vm.mailList">
                <p ng-bind-html="data.htmlMessage"></p>
            </div>
        </div>

        <div class="row margin-top-20" busy-if="vm.loading" ng-dblclick="vm.getInputData()" ng-if="!vm.errorflag">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-green-haze hide"></i>
                                <span class="caption-subject font-green-haze bold uppercase">@L("DayWise") @L("JobStatusSummary") {{vm.jobstatusheader}}  </span>
                            </div>

                        </div>

                        <div class="portlet-body">
                            <div id="jobstatus_stats" style="height: 400px">
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="col-lg-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-green-haze hide"></i>
                                <span class="caption-subject font-green-haze bold uppercase">@L("HourWise") {{vm.jobstatusheader}}  </span>
                            </div>

                        </div>

                        <div class="portlet-body">
                            <div id="hourwise_jobstatus_stats" style="height: 400px">
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6">
                    <table class="table table-striped table-bordered col-lg-12">
                        <thead>
                            <tr>
                                <th>@L("Status")</th>
                                <th class="text-right">@L("Days")</th>
                                <th class="text-right">@L("Days") % </th>
                                <th class="text-right">@L("Hours")</th>
                                <th class="text-right">@L("Hours") %</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="(index,data) in vm.daysvshourwisestatus">
                            <td style="font-size:small" class="col-lg-4">
                                <b> {{data.workStatus}} </b>
                            </td>
                            <td style="font-size:small" class="col-lg-2 text-right">
                                {{data.days | number : 1}}
                            </td>
                            <td style="font-size:small" class="col-lg-2 text-right">
                                {{data.percentageDays | number : 2 }}
                            </td>
                            <td style="font-size:small" class="col-lg-2 text-right">
                                {{data.hours | number : 1 }}
                            </td>
                            <td style="font-size:small" class="col-lg-2 text-right">
                                {{data.percentageHours | number : 2 }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4" ng-if="vm.incentiveConsolidatedList.length>0">
                    <table class="table table-striped table-bordered col-lg-12">
                        <thead>
                            <tr>
                                <th>@L("Incentives")</th>
                                <th class="text-right">@L("Count")</th>
                                <th class="text-right" ng-if="vm.permissions.showSalaryTags">@L("Amount")</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="(index,incdata) in vm.incentiveConsolidatedList">
                            <td style="font-size:small" class="col-lg-5">
                                <span>	<b> {{incdata.incentiveTagRefCode}}</b> </span>
                                <span style="color:red;font-size:large" ng-if="incdata.overAllManualOtHours<0"> &nbsp;( </span>
                                <span ng-if="incdata.overAllManualOtHours!=0" style="color:red;"> * <b>{{incdata.overAllManualOtHours | number : 1 }} </b></span>
                                <span style="color:red;font-size:large" ng-if="incdata.overAllManualOtHours<0"> &nbsp;) </span>
                            </td>
                            <td style="font-size:small" class="col-lg-3 text-right">
                                <span style="font-size:large">	<b> {{incdata.count}} <span ng-if="incdata.amountPerUnit!=0 && vm.permissions.showSalaryTags" style="color:red;"> * <b>{{incdata.amountPerUnit | number : 2 }} </b></span>  </b> </span>
                            </td>
                            <td style="font-size:small" class="col-lg-2 text-right" ng-if="vm.permissions.showSalaryTags">
                                <span style="color:red;font-size:large" ng-if="incdata.totalIncentiveAmount<0"> &nbsp;( </span>
                                <span style="font-size:large">	{{incdata.totalIncentiveAmount | number : 2 }} </span>
                                <span style="color:red;font-size:large" ng-if="incdata.totalIncentiveAmount<0"> &nbsp;) </span>
                            </td>
                        </tr>
                        <tr ng-if="vm.incentiveConsolidatedList.length>0 && vm.permissions.showSalaryTags">
                            <td style="font-size:small" class="col-lg-4"></td>
                            <td style="font-size:small" class="col-lg-2 text-right"></td>
                            <td style="font-size:large" class="col-lg-2 text-right">
                                <b style="color:brown;font-size:large">	{{vm.overAllIncentiveAmount | number : 2 }} </b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-12">
                <table class="table table-striped table-bordered col-lg-12" ng-if="vm.employeeWiseAssetList!=null">
                    <thead>
                        <tr>
                            <th>@L("Asset") @L("Status")</th>
                            <th>@L("Detail")</th>
                        </tr>
                    </thead>

                    <tr @*data-ng-repeat="(index,data) in vm.employeeWiseAssetList"*@>
                        <td style="font-size:x-small" class="col-lg-2">
                            <table ng-if="vm.employeeWiseAssetList.showDetailFlag" class="table table-striped table-bordered table-condensed col-lg-12">
                                <tr ng-repeat="(statusindex,statusdata) in vm.employeeWiseAssetList.materialStatusDto">
                                    <td style="font-size:x-small" class="col-lg-8">
                                        {{statusdata.status}}
                                    </td>
                                    <td style="font-size:x-small" class="col-lg-4 text-right">
                                        {{statusdata.count}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="font-size:x-small" class="col-lg-6">
                            <table ng-if="vm.employeeWiseAssetList.showDetailFlag" class="table table-striped table-bordered table-condensed col-lg-12">
                                <tr ng-repeat="(assetindex,assetdata) in vm.employeeWiseAssetList.assetMaterialWiseList">
                                    <td style="font-size:x-small" class="col-lg-2">
                                        {{assetindex + 1 | number }} . <span><a ng-click="vm.viewAsset(assetdata.id);">{{assetdata.assetTagCode}}</a> </span>
                                    </td>
                                    <td style="font-size:x-small" class="col-lg-2">
                                        {{assetdata.makeModel}} / {{assetdata.serialNumber}}
                                    </td>
                                    <td style="font-size:x-small" class="col-lg-6 text-center">
                                        {{assetdata.remarks}}
                                    </td>
                                    <td style="font-size:x-small" class="col-lg-2 text-center">
                                        <span ng-if="assetdata.isRepair">  {{assetdata.repairOn | date : 'yyyy-MMM-dd'}} / {{assetdata.repairDescription}} <br /> </span>
                                        <span>{{assetdata.workingStatus}} <br /></span>
                                        <span ng-if="assetdata.assetStatus">{{assetdata.assetStatus}}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <p ng-show="vm.displayErrorFlag" id="hrOperationError" class="row m-heading-1 border-yellow-gold m-bordered" style="color:red;"></p>

                <table class="table table-striped table-bordered col-lg-12">
                    <thead>
                        <tr>
                            <th>@L("Date")</th>
                            <th>@L("Status") @L("Time")</th>
                            <th>@L("Detail")</th>
                            <th class="text-right">@L("WorkHours")</th>
                            <th class="text-right">@L("OT")</th>
                            @*<th class="text-right">@L("OT2")</th>*@
                            <th>@L("Incentives")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.employeeDutyChartDetails">
                        <td class="col-lg-1">
                            {{data.dutyChartDate | date : 'MMM-dd EEE'}}
                        </td>
                        <td class="col-lg-1">
                            <span> <b> {{data.allottedStatus}} </b> </span>
                            <br />
                            <span ng-repeat="(attindex,attdata) in data.attendanceTimeList ">
                                <span>
                                    {{attdata.attLocation}}:
                                    <span ng-repeat="(locindex,locattdata) in attdata.attTime">
                                        <b> <a> {{locattdata | date : 'HH:mm'}} </a><span ng-if="locindex + 1 < attdata.attTime.length"> - </span> </b>
                                    </span>
                                </span>
                                <br />
                            </span>
                            @*<br ng-if="data.actualWorkHoursWithMinutes!='' && data.actualWorkHoursWithMinutes!=null"/>*@
                            <span ng-if="data.actualWorkHoursWithMinutes!='' && data.actualWorkHoursWithMinutes!=null"><b> Work Hrs : <a>{{data.actualWorkHoursWithMinutes}} </a></b></span>
                        </td>
                        <td class="col-lg-4">
                            <table class="table table-striped table-bordered col-lg-12" ng-if="data.stationDetails.length>0
                                   && data.shiftRefId!=null">
                                <tr>
                                    <td class="col-lg-12">
                                        @L("Group") : {{data.dcGroupRefName}} / @L("Station") :  {{data.stationRefName}} / @L("Shift") :  {{data.shiftRefName}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="col-lg-1 text-right">
                            <span ng-if="data.totalWorkHours>0">{{data.totalWorkHours}} </span>
                        </td>
                        <td class="col-lg-1 text-right">
                            <span class="bold" style="color:black" ng-if="data.totalOt1Hours>0">@L("OT1") : {{data.totalOt1Hours}} </span>
                            <br ng-if="data.totalOt1Hours>0 && data.totalOt2Hours>0" />
                            <span class="bold" style="color:red" ng-if="data.totalOt2Hours>0">@L("OT2") : {{data.totalOt2Hours}} </span>
                        </td>

                        <td class="col-lg-4">
                            <table class="table table-striped table-bordered col-lg-12">
                                <tr data-ng-repeat="(incindex,incdata) in data.incentiveList" ng-if="data.incentiveList.length>0">
                                    <td class="col-lg-7">
                                        {{incdata.incentiveTagRefCode}}
                                        <span style="color:red;font-size:large" ng-if="incdata.manualOtHours<0"> &nbsp;	( </span>
                                        <span style="color:red;font-size:large" ng-if="incdata.manualOtHours!=0"> &nbsp;	{{incdata.manualOtHours | number : 1}} </span>
                                        <span style="color:red;font-size:large" ng-if="incdata.manualOtHours<0"> &nbsp;	) </span>
                                        <span style="color:red;font-size:large" ng-if="incdata.remarks.length>0"> <br /> {{incdata.remarks}} </span>
                                    </td>
                                    <td class="col-lg-1">
                                        <span style="color:green" ng-if="incdata.incentiveEntryMode==0">	{{incdata.incentiveEntryModeRefName | limitTo : 1}} </span>
                                        <span style="color:red" ng-if="incdata.incentiveEntryMode!=0">	{{incdata.incentiveEntryModeRefName | limitTo : 1}} </span>
                                    </td>
                                    <td class="col-lg-4 text-right">
                                        <span style="color:red;font-size:large" ng-if="incdata.incentiveAmount<0 && vm.permissions.showSalaryTags"> &nbsp;	( </span>
                                        <span ng-if="incdata.incentiveAmount!=0 && vm.permissions.showSalaryTags"><b>	{{incdata.incentiveAmount | number:2}} </b></span>

                                        <span ng-if="incdata.displayNotApplicable && incdata.incentiveAmount==0"><b>	@L("N/A") </b></span>
                                        <span style="color:red;font-size:large" ng-if="incdata.incentiveAmount<0 && vm.permissions.showSalaryTags"> &nbsp;	) </span>
                                    </td>
                                </tr>
                                <tr ng-if="vm.manualincentivespermissions.create && vm.printmailflag">
                                    <td ng-if="data.manualIncentiveAllowed" colspan="3"> <span> <a ng-click="vm.addManualIncentives(data.employeeRefId,data.dutyChartDate,data.timeSheetMasters);">@L("AddManualIncentives")</a> </span></td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>
            </div>


            <div class="row" ng-if="vm.employeeDutyChartDetails.length>0">


                <hr />

            </div>


            <!-- END PORTLET-->
        </div>

        <div>
            <div id="gpsattendanceDateWiseList">
                <div class="row">
                    <table class="table table-striped table-bordered col-lg-12" ng-if="vm.gpsDayWiseList.length>0">
                        <thead>
                            <tr>
                                <th>@L("Date")</th>
                                <th>@L("FromTime")</th>
                                <th>@L("Location")</th>
                                <th>@L("Image")</th>
                                <th>@L("ToTime")</th>
                                <th>@L("Location")</th>
                                <th>@L("Image")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in vm.gpsDayWiseList">
                            <td class="col-lg-1">
                                {{data.workDate | date : 'dd-MMM-yy EEE'}}
                            </td>
                            <td class="col-lg-1 text-center">
                                <span ng-if="data.startDetail!=null">	{{data.startDetail.creationTime | date:'HH:mm'}} </span>
                            </td>
                            <td class="col-lg-1">
                                <a href="" ng-click="vm.getLocation(data.startDetail.latitude,data.startDetail.longitude)" ng-if="data.startDetail!=null">
                                    {{data.startDetail.address}}
                                    <br />
                                    {{data.startDetail.latitude}}, {{data.startDetail.longitude}}
                                </a>
                                <br />
                                <span ng-if="data.startDetail.rangeErrorMessage==null">{{data.startDetail.isRange}} </span>
                                <br />
                                <span ng-if="data.startDetail.gpsDistanceFromClient>0"> @L("Gps") is {{data.startDetail.gpsDistanceFromClient | number : 2}} @L("Apart")!!!</span>
                                <span ng-if="data.startDetail.rangeErrorMessage!=null">{{data.startDetail.rangeErrorMessage}} </span>
                            </td>
                            <td class="col-lg-1 text-right">
                                <span ng-if="data.startDetail!=null">
                                    <img ng-dblclick="vm.getImage(data.startDetail.id)" ng-if="data.startDetail.photo!=null"
                                         ng-src="@Url.Action("GetGpsPicture", "PersonalInformation")?id={{data.startDetail.id}}"
                                         width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                </span>
                            </td>
                            <td class="col-lg-1 text-center">
                                <span ng-if="data.endDetail!=null">	{{data.endDetail.creationTime | date:'HH:mm'}} </span>
                            </td>
                            <td class="col-lg-1">
                                <a href="" ng-click="vm.getLocation(data.endDetail.latitude,data.endDetail.longitude)" ng-if="data.endDetail!=null">
                                    {{data.endDetail.address}}
                                    <br />
                                    {{data.endDetail.latitude}}, {{data.endDetail.longitude}}
                                </a>
                                <br />
                                <span ng-if="data.startDetail.rangeErrorMessage==null">{{data.endDetail.isRange}} </span>
                                <br />
                                <span ng-if="data.endDetail.gpsDistanceFromClient>0"> @L("Gps") is {{data.endDetail.gpsDistanceFromClient | number : 2}} @L("Apart")!!!</span>
                                <span ng-if="data.startDetail.rangeErrorMessage!=null">{{data.startDetail.rangeErrorMessage}} </span>
                            </td>
                            <td class="col-lg-1 text-right">

                                <span ng-if="data.endDetail!=null">
                                    <img ng-dblclick="vm.getImage(data.endDetail.id);" ng-if="data.endDetail.photo!=null"
                                         ng-src="@Url.Action("GetGpsPicture", "PersonalInformation")?id={{data.endDetail.id}}"
                                         width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                </span>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
