﻿
<div id="maps" ng-if="true" ng-init="vm.viewMap()">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("MapView")</span>
            </h3>
        </div>
        <div class="modal-body">
            <div id="map_div" style="width: 570px; height: 400px" ng-></div>
        </div>           

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    
</div>
    
