﻿@*<style>

    /* The Modal (background) */
    .modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position:center;
        width:50%;
    }

    .modal-header {
        width:auto;
        padding: 2px 16px;
        background-color: #D12B2B;
        color: white;
    }

    .modal-body {
    }

    .modal-footer {
        width:auto;
        padding: 2px 16px;
        background-color: #D12B2B;
        color: white;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>*@
@*<div class="modal">*@
    @*<div class="modal-content">*@
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("FullSizeImage")</span>
            </h3>
        </div>
        <div class="modal-body">
            <img ng-src="@Url.Action("GetGpsPicture", "PersonalInformation")?id={{vm.imageId}}" height="350" />
        </div>
            
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    @*</div>*@
@*</div>*@

