@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="tenant.views.connect.locationgroup.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("LocationGroup").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
           <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
        </div>
    </div>
    <div class="row" busy-if="vm.loading">
        <div class="col-lg-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">
                            @L("LocationGroup")
                        </span>
                    </div>
                    <div class="actions">
                        <a ng-if="vm.permissions.manageGroup" ng-click="vm.locationGroup.openAddOrEditModal(1)" class="btn btn-circle btn-default">
                            <i class="fa fa-plus"></i> @L("Add")
                        </a>
                        <a ng-if="vm.permissions.manageGroup && vm.locationGroupId" ng-click="vm.locationGroup.openAddOrEditModal(2)" class="btn btn-circle btn-default">
                            <i class="fa fa-edit"></i> @L("Edit")
                        </a>
                        <a ng-if="vm.permissions.manageGroup && vm.locationGroupId" ng-click="vm.locationGroup.delete()" class="btn btn-circle btn-default">
                            <i class="fa fa-trash-o"></i> @L("Delete")
                        </a>
                        <a ng-if="vm.permissions.manageGroup && vm.locationGroupId" ng-click="vm.openLanguageDescriptionModal()" class="btn btn-circle btn-success">
                            <i class="fa fa-file"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input ng-model="vm.filterlocationGroupText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.getLocationGroups()">
                            <span class="input-group-btn">
                                <button ng-click="vm.getLocationGroups()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row" busy-if="vm.loading">
                        <div class="col-xs-12">
                            <div ui-grid="vm.locationGroupOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span ng-if="!vm.selectedLocationGroup" class="caption-subject bold uppercase">
                            @L("Location")
                        </span>
                        <span ng-if="vm.selectedLocationGroup" class="caption-subject bold uppercase">@L("LocationGroup"): {{vm.selectedLocationGroup.name}}</span>
                    </div>
                    <div class="actions" ng-if="vm.selectedLocationGroup.id">
                        <a ng-if="vm.permissions.manageLocation" ng-click="vm.AddLocation();" @*vm.members.openAddModal()*@ class="btn btn-circle btn-default">
                            <i class="fa fa-plus"></i> @L("AddLocation")
                        </a>
                    </div>
                </div>
                <div class="row" ng-if="vm.locationGroupId">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.members.load()">
                            <span class="input-group-btn">
                                <button ng-click="vm.members.load()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div busy-if="vm.rightLoading">
                        <div ng-if="vm.locationGroupId" ui-grid="vm.members.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                        <div ng-if="!vm.locationGroupId" class="text-muted">
                            @L("SelectLocationGroupToMembers")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-lg-4" ng-if="false">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase">
                        @L("LocationTree")
                    </span>
                </div>
                <div class="actions" ng-if="vm.locationTree.selectedOu.selectedCodes.length">
                    <a ng-if="vm.permissions.manageLocation" ng-click="vm.members.openAddModal()" class="btn btn-circle btn-default">
                        <i class="fa fa-plus"></i> @L("Add")
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="locationEditTree"></div>
            </div>
        </div>
    </div>*@