﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.cluster.delaggmodifiergroup.delaggmodifiergroup as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delaggmodifiergroup.id">@L("EditDelAggModifierGroup"): {{vm.delaggmodifiergroup.name}}</span>
                        <span ng-if="!vm.delaggmodifiergroup.id">@L("CreateDelAggModifierGroup")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="modifiergroupCreateOrEditForm">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("DelAggModifierGroup")">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("Name")</label>
                                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.delaggmodifiergroup.name}" ng-model="vm.delaggmodifiergroup.name" required>
                                        </div>
                                    </div>
                                   
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("OrderTagGroup")</label>
                                            <ui-select class="borderself" ng-class="{'edited':vm.delaggmodifiergroup.orderTagGroupId}" ng-model="vm.delaggmodifiergroup.orderTagGroupId">
                                                <ui-select-match placeholder="Select OrderTagGroup ...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="ordertaggroup.id as ordertaggroup in vm.ordertaggroups| filter: $select.search | limitTo: vm.uilimit ">
                                                    <small>
                                                        {{ ordertaggroup.name }}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("Minimum")</label>

                                            <input class="form-control" type="number" name="min" ng-class="{'edited':vm.delaggmodifiergroup.min}" ng-model="vm.delaggmodifiergroup.min">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("Maximum")</label>

                                            <input class="form-control" type="number" name="max" ng-class="{'edited':vm.delaggmodifiergroup.max}" ng-model="vm.delaggmodifiergroup.max">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("SortOrder")</label>

                                            <input class="form-control" type="number" name="SortOrder" ng-class="{'edited':vm.delaggmodifiergroup.sortOrder}" ng-model="vm.delaggmodifiergroup.sortOrder">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   
                                    <div class="col-md-2 margin-top-30" ng-if="vm.delaggmodifiergroup.id">
                                        <button class="btn btn-xs red" ng-click="vm.openLanguageDescriptionModal()">
                                            <i class="fa fa-file"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("Items")" ng-if="vm.delaggmodifiergroup.id">
                            <div class="form-body">
                                <div class="row">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("DelAggItem")</th>
                                                    @*<th>@L("Add")</th>*@
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.delaggmodifiergroupitem">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="item" ng-model="data.delAggItemId">
                                                        <ui-select-match placeholder="*">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.delAggItemId" repeat="item.id as item in vm.refitem | filter: $select.search">
                                                            <div ng-bind="item.name"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                @*<td class="col-sm-1">
                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                    </button>
                                </td>*@

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Image")' ng-if="vm.delaggmodifiergroup.id">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead ng-if="vm.delaggimage.length>0">
                                            <tr>
                                                <th>@L("DelAggType")</th>
                                                <th>@L("Name") </th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(fileIndex, file) in vm.delaggimage">
                                                <td>
                                                    <strong> {{file.delAggTypeRefName}}</strong>
                                                </td>
                                                <td>
                                                    @*<strong>{{ file.imagePath.fileName }}</strong>*@
                                                    @*<strong>{{ file.imagePath }}</strong>*@
                                                    <strong>{{ file.displayImagePath.fileName }}</strong>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.viewer(file)">
                                                        <span class="glyphicon  glyphicon-download-alt"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteImage(fileIndex)">
                                                        <span class="fa  fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">@L("DelAggType")</label>
                                        <ui-select class="borderself" id="selAggType" ng-class="{'edited':vm.delaggimage.delAggTypeRefId}"
                                                   ng-model="vm.delaggimage.delAggTypeRefId">
                                            <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.delAggTypes | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-info margin-top-15">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                                            <h3 class="panel-title bold">@L("Select") @L("Image")</h3>
                                        </div>
                                        <div id="collapse3" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row col-lg-12" style="margin-bottom: 40px">
                                                    <h3>@L("Select") </h3>
                                                    <input id="imageFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                                    <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                            ng-click="vm.fileTag='Image';vm.uploadFile(true)"
                                                            ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span>
                                                    </button>
                                                </div>
                                                <div class="row col-lg-12">
                                                    <table class="table">
                                                        <thead ng-if="vm.imagePath.length>0">
                                                            <tr>

                                                                <th>@L("Name") </th>
                                                                <th>@L("Actions")</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="(fileIndex, file) in vm.imagePath">
                                                                <td>
                                                                    <strong>{{ file.fileName }}</strong>
                                                                </td>
                                                                <td nowrap>
                                                                    <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.downloader(file)">
                                                                        <span class="glyphicon  glyphicon-download-alt"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Image';vm.removeFile(fileIndex)">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="footer text-right">
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.addImage(vm.delaggimage.delAggTypeRefId,vm.imagePath)" ng-disabled="!btnStatus">
                                    <i class="fa fa-plus"></i> <span>@L("Add") @L("Image")</span>
                                </button>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("Modifiers")" ng-if="vm.delaggmodifiergroup.id">
                            <div class="form-body">
                                <div class="row">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addModifier()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Action")</th>
                                                    <th>@L("Modifier")</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.delaggmodifierItems">
                                                <td class="col-sm-1">
                                                    <button type="button" class="btn btn-primary" data-ng-click="vm.deleteModifier(data)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary" data-ng-click="vm.editModifier(data.id)">
                                                        <i class="glyphicon glyphicon-edit"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-2">
                                                    {{data.name}}
                                                </td>                                               
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="row margin-top-15">
                        <div style="display: block; float: right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="modifiergroupCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>