﻿<div ng-controller="tenant.views.addons.power as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("PowerBi").ToUpper()</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-3">
                    <h2>@L("PowerBi")</h2>
                </div>
                <div class="col-sm-6">
                    <div class="connect-buttton-container" ng-if="!vm.isConnected">
                        <img src="~/Content/POWERBI.png"
                             style="width: 100px"
                             ng-click="vm.connect();" />
                    </div>
                    <div ng-if="vm.isConnected">
                        <h2>You are connected.</h2>
                    </div>
                </div>

            </div>

            <div class="row margin-top-20" ng-if="vm.isConnected">
                <div class="col-sm-12">
                </div>
            </div>

        </div>
    </div>


</div>