@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.printer.detail as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.printConfiguration.id">@L("EditPrinter"): {{vm.printConfiguration.name}}</span>
                        <span ng-if="!vm.printConfiguration.id">@L("CreatePrinter")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading="@L("Printer")" tabindex="1" active="vm.tabone">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.printConfiguration.name}"
                                           ng-model="vm.printConfiguration.name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.printConfiguration.id">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase">
                                            @L("Printer")
                                        </span>
                                    </div>
                                    <div class="actions pull-right">
                                        <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-eraser"></i> @L("Clear")
                                        </a>
                                        <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-search"></i> @L("Filter")
                                        </a>

                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row" busy-if="vm.loading">
                                        <div ui-grid="vm.printerOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Printer") @L("Mapping")" tabindex="2" active="vm.tabtwo" ng-if="vm.printConfiguration.id">
                        <div class="panel panel-info margin-top-15">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    @L("Printer") @L("Based") @L("On") @L("Location")
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">@L("AliasName")</label>
                                                <input class="form-control" type="text" name="AliasName" ng-class="{'edited':vm.printer.aliasName}"
                                                       ng-model="vm.printer.aliasName">
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center margin-top-20">
                                            <button class="btn btn-large green" ng-click="vm.openLocation()">
                                                @L("Select") @L("Location")
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("PrinterType")</label>
                                                <ui-select class="borderself" id="printerType" ng-model="vm.printer.printerType" required>
                                                    <ui-select-match placeholder=@L("PrinterType")>{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in vm.printerTypes | filter: $select.search| limitTo: vm.uilimit">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-if="vm.printer.printerType==6">
                                            <div class="form-group">
                                                <label class="control-label">@L("CustomType")</label>
                                                <ui-select class="borderself" id="CustomType" ng-model="vm.printer.customPrinterName" required ng-change="vm.onchangeprocessor()">
                                                    <ui-select-match placeholder=@L("PrinterType")>{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in vm.customPrinters | filter: $select.search| limitTo: vm.uilimit">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("FallBackPrinter")</label>
                                                <ui-select class="borderself" id="templateType" ng-model="vm.printer.fallBackPrinter" required>
                                                    <ui-select-match placeholder="Select Fall Back Printer...">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in vm.fallBackprinters | filter: $select.search| limitTo: vm.uilimit">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("CharReplacement")</label>
                                                <input class="form-control" type="text" name="CharReplacement" ng-class="{'edited':vm.printer.charReplacement}"
                                                       ng-model="vm.printer.charReplacement" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("CharsPerLine")</label>
                                                <input class="form-control" type="number" name="CharsPerLine" ng-class="{'edited':vm.printer.charsPerLine}"
                                                       ng-model="vm.printer.charsPerLine" required />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("CodePage")</label>
                                                <input class="form-control" type="number" name="CodePage" ng-class="{'edited':vm.printer.codePage}"
                                                       ng-model="vm.printer.codePage" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("NumberOfLines")</label>
                                                <input class="form-control" type="number" name="NumberOfLines" ng-class="{'edited':vm.printer.numberOfLines}"
                                                       ng-model="vm.printer.numberOfLines" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" ng-if="vm.printer.printerType==6">
                                    <div class="col-md-12">
                                        <formly-form model="vm.printerProcessor" fields="vm.fields" options="vm.options" form="locationCreateOrEditForm">
                                        </formly-form>
                                    </div>

                                </div>
                                <div class="row pull-right">
                                    <div class="col-lg-2 margin-top-20">
                                        <button type="button" class="btn btn-primary" ng-click="vm.savePrinter()">@L("Add")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-hide="vm.tabtwo==true">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-hide="vm.tabtwo==true">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>

</div>