@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.importsetting.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ImportSetting").Pluralize()</span>
                        <small>@L("ImportSettingHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.createImportSetting()">
                <i class="fa fa-plus"></i> @L("CreateImportSetting")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" ng-click="vm.openLocation()">@L("LocationOrGroup") - {{ vm.currentLocation.name }}</button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-refresh"></i> @L("Refresh")</button>
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i> @L("Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>