﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggcharge.delaggcharge as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delaggcharge.id">@L("EditDelAggCharge"): {{vm.delaggcharge.name}}</span>
                        <span ng-if="!vm.delaggcharge.id">@L("CreateDelAggCharge")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="taxCreateOrEditForm">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("DelAggCharge")">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>@L("Name")</label>
                                            <input class="form-control ucase" autofocus type="text" name="taxname" ng-class="{'edited':vm.delaggcharge.name}" ng-model="vm.delaggcharge.name" required maxlength="50">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Applicable") @L("On")</label>
                                            <input class="form-control" type="text" name="ApplicableOn" ng-class="{'edited':vm.delaggcharge.applicableOn}" ng-model="vm.delaggcharge.applicableOn">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>@L("Amount")</label>
                                            <input onkeypress="return NumberWithPoint('amount', event, 'cancel')" class="form-control text-right" type="text" id="percentage" name="amount" ng-class="{'edited':vm.delaggcharge.amount}" ng-model="vm.delaggcharge.amount" maxlength="5" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("ExcludeDeliveryTypes")</label>
                                            <input class="form-control" type="text" name="ExcludeDeliveryTypes" ng-class="{'edited':vm.delaggcharge.excludeDeliveryTypes}" ng-model="vm.delaggcharge.excludeDeliveryTypes">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("FullFilmentTypes")</label>
                                            <input class="form-control" type="text" name="FullFilmentTypes" ng-class="{'edited':vm.delaggcharge.fullFilmentTypes}" ng-model="vm.delaggcharge.fullFilmentTypes">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("LocalRefCode")</label>
                                            <input class="form-control" type="text" name="LocalRefCode" ng-class="{'edited':vm.delaggcharge.localRefCode}" ng-model="vm.delaggcharge.localRefCode">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("DelAggCharge") @L("Mapping")" ng-if="vm.delaggcharge.name">
                            <div class="form-body">
                                <div class="row">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-if="vm.delaggchargemapping.length==0">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("LocationGroup")</th>
                                                    <th>@L("DelAggItemGroup")</th>
                                                    <th>@L("Add")</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.delaggchargemapping">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="locGroup" ng-model="data.delAggLocationGroupId">
                                                        <ui-select-match placeholder="*">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.delAggLocationGroupId" repeat="item.id as item in vm.reflocationgroup | filter: $select.search">
                                                            <div ng-bind="item.name"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="itemGroup" ng-model="data.delItemGroupId">
                                                        <ui-select-match placeholder="*">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.delItemGroupId" repeat="item.id as item in vm.refitemgroup | filter: $select.search">
                                                            <div ng-bind="item.name"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="row margin-top-15">
                        <div style="display:block;float:right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="taxCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

