﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.materialledger.closingVarriance as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("InventoryClosingVariance")</span>
                    </h1>
                </div>
            </div>
        </div>
        @*<div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>

            <button class="btn btn-primary blue" ng-click="vm.clear()">
                 @L("Clear")
            </button>

        </div>*@
    </div>
    <div class="portlet light" busy-if="vm.loading || vm.loadingCount">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialName")</label>
                                    <ui-select class="borderself" ng-model="vm.materialRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="material.value as material in vm.refmaterial | filter: $select.search | limitTo: vm.uilimit">
                                            <div ng-bind="material.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
														@*<div class="col-xs-1">
															<button class="btn btn-default" ng-click="vm.getAll()">
																<i class="fa fa-file-excel-o"></i> @L("Refresh")
															</button>
														</div>*@
                        </div>
												<div class="row margin-top-30">
												<div class="col-xs-12 text-right">
													<button class="btn btn-primary btn-default" ng-click="vm.exportToExcel()">
														<i class="fa fa-file-excel-o"></i> @L("GenerateExcel")
													</button>

													<button class="btn btn-primary blue" ng-click="vm.clear()">
														@L("Clear")
													</button>

												</div>
											</div>
                    </form>
                </div>
            </div>
        </div>
   
    </div>
</div>

