﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.department.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.department.id">@L("EditDepartment"): {{vm.department.name}}</span>
                        <span ng-if="!vm.department.id">@L("CreateDepartment")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Code")*</label>
                                    <input class="form-control ucase" type="text" name="Code" onblur="changetoupper(this)" ng-class="{'edited':vm.department.code}" ng-model="vm.department.code" required>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input class="form-control ucase" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.department.name}" ng-model="vm.department.name" required>
                                </div>
                            </div>

                            <div class="col-sm-1 margin-top-30" ng-if="vm.department.id">
                                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                                    <i class="fa fa-file"></i> <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("PriceTag")  <a ng-click="vm.department.tagId=null" ng-if="vm.department.tagId!=null&&vm.department.tagId>0">@L("Clear")</a></label>
                                    <select id="pricetag" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.pricetags" ng-model="vm.department.tagId"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DepartmentGroup") <a ng-click="vm.department.departmentGroupId=null" ng-if="vm.department.departmentGroupId!=null&&vm.department.departmentGroupId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-model="vm.department.departmentGroupId">
                                        <ui-select-match placeholder="Select Department Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="departmentgroup.id as departmentgroup in vm.departmentgroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ departmentgroup.name }}
                                                <br />
                                                {{departmentgroup.code}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("TicketType")</label>
                                    <select id="CategoryEditBox" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.ticketTypes"
                                            ng-model="vm.department.ticketTypeId"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("DepartmentTag")</label>
                                    <input class="form-control ucase" type="text" name="Tag" onblur="changetoupper(this)" ng-class="{'edited':vm.department.tag}" ng-model="vm.department.tag">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

