<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Excel")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row row margin-top-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input id="AllLocations" class="md-check" type="checkbox" ng-model="vm.includeTax">
                            <label for="AllLocations">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("NetSalesWithTaxAndServiceCharge")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.exportToExcel()" ng-disabled="vm.disableExport"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>