﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
   
     .printfontsetHeader {
        font-family : Courier New, Courier, monospace;
        font-weight : bold;
        white-space : pre;
        font-size   : 13px;
    }

      .printfontsetBold {
        font-family : Courier New, Courier, monospace;
        font-weight : bold;
        white-space : pre;
        font-size   : 13px;
    }
       .printfontset {
        font-family : Courier New, Courier, monospace;
        font-weight : 900;
        white-space : pre;
        font-size   : 13px;
    }

</style>

<script type="text/javascript">

	function ClientSidePrint(idDiv)
        {
            var w = 600;
            var h = 400;
            var l = (window.screen.availWidth - w)/2;
            var t = (window.screen.availHeight - h)/2;

            var sOption="toolbar=no,location=no,directories=no,menubar=no,scrollbars=yes,width=" + w + ",height=" + h + ",left=" + l + ",top=" + t;
            // Get the HTML content of the div
            var sDivText = window.document.getElementById(idDiv).innerHTML;
            // Open a new window
            var objWindow = window.open("", "Print", sOption);
            // Write the div element to the window
            objWindow.document.write(sDivText);
            objWindow.document.close();
            // Print the window
            objWindow.print();
            // Close the window
            objWindow.close();
        }
</script>   


<script>
    function myFunction() {
        //document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }
</script>

<div ng-controller="tenant.views.connect.report.summary.saleprint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
        
        </div>
    </div>
    <div id="printeditor">

    <div id="printidtextHeaderBold" class="printfontsetBold text-center">

    </div>

    <div id="printidtextBodyBold" class="printfontsetBold text-bold">

    </div>

  
    </div>
</div>

