<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Date") : {{ vm.ticket.dateStr }}</span>
        </h4>
    </div>
    <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-hover">
                                <tr>
                                    <th>@L("Department")</th>
                                    <th>@L("TicketCount")</th>
                                    <th>@L("Total")</th>
                                </tr>
                                <tr ng-repeat="x in vm.ticket.departments">
                                    <td>
                                        {{x.departmentName}}
                                    </td>
                                    <td>
                                        {{x.totalTicketCount}}
                                    </td>
                                    <td>
                                        {{x.total}}
                                    </td>
                                   
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>