<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.summary.sale as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SaleSummary_r")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getOrders()">
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12 text-right">
                                <button class="btn blue" ng-click="vm.getOrders()">
                                    <i class=" fa fa-refresh"></i> @L("Refresh")
                                </button>
                                <button class="btn btn-default" ng-click="vm.exportToExcel()">
                                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                                </button>
                                <button class="btn black" ng-click="vm.getPBExport()" ng-if="vm.customer == '8PBSG'">
                                    <i class="fa fa-file-excel-o"></i> PB EXPORT
                                </button>

                                <button class="btn btn-success" ng-click="vm.exportLocationComparison()">
                                    <i class="fa fa-file-excel-o"></i> @L("Locations")
                                </button>
                                <button class="btn btn-default" ng-click="vm.consolidated()"><i class="fa fa-file-excel-o"></i> @L("CONSOLIDATED") </button>
                                <button class="btn btn-default" ng-click="vm.print40Col()"><i class="fa fa-file-excel-o"></i> 40 Col </button>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("PaymentType")</label>

                                    <ui-select multiple ng-model="vm.payments" class="form-control">
                                        <ui-select-match placeholder="@L("PaymentType")">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="option in vm.paymentTypes">
                                            <small>
                                                {{ option.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div id="date_stats" style="height: 260px">
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.summaryOrders.length>0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>TotalTicketCount</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(productIndex, product) in vm.summaryOrders">
                                    <td>{{ product.date| date:vm.dateFormat }}</td>
                                    <td>{{ product.location }}</td>
                                    <td align="right">
                                        {{product.totalTicketCount}}
                                    </td>
                                    <td align="right">
                                        {{product.total | number:vm.decimals}}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Total</th>
                                    <td align="right">{{ vm.sum(vm.summaryOrders, "totalTicketCount")}}</td>
                                    <td align="right">{{ vm.sum(vm.summaryOrders, "total") | number:vm.decimals}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>