﻿@using DinePlan.DineConnect.Localization
<div>
    <form name="dinePlanForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("CreateAddress")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Address1")</label>
                        <input class="form-control"
                               ng-class="{'edited':vm.address.address1}"
                               ng-model="vm.address.address1" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Address2")</label>
                        <input class="form-control"
                               ng-class="{'edited':vm.address.address2}"
                               ng-model="vm.address.address2" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("City")</label>
                        <input class="form-control"
                               ng-class="{'edited':vm.address.city}"
                               ng-model="vm.address.city" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("State")</label>
                        <input class="form-control"
                               ng-class="{'edited':vm.address.state}"
                               ng-model="vm.address.state" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("PostCode")</label>
                        <input class="form-control"
                               ng-class="{'edited':vm.address.postCode}"
                               ng-model="vm.address.postCode" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>