@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.fulltax.taxmember.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.taxMember.id">@L("EditFullTaxMember")</span>
                        <span ng-if="!vm.taxMember.id">@L("CreateFullTaxMember")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                    <i class="fa fa-file"></i> <span>@L("Locations")</span>
                </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("TaxId")</label>
                                    <input class="form-control" required
                                           ng-class="{'edited':vm.taxMember.taxId}"
                                           ng-model="vm.taxMember.taxId" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("BranchId")</label>
                                    <input class="form-control" required
                                           ng-class="{'edited':vm.taxMember.branchId}"
                                           ng-model="vm.taxMember.branchId" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("BranchName")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.taxMember.branchName}"
                                           ng-model="vm.taxMember.branchName" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" required
                                           ng-class="{'edited':vm.taxMember.name}"
                                           ng-model="vm.taxMember.name" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Phone")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.taxMember.phone}"
                                           ng-model="vm.taxMember.phone" />
                                </div>
                            </div>
                        </div>
                        <div ng-if="!vm.taxMember.id" class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Address1")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.address.address1}"
                                           ng-model="vm.address.address1" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Address2")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.address.address2}"
                                           ng-model="vm.address.address2" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("City")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.address.city}"
                                           ng-model="vm.address.city" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("State")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.address.state}"
                                           ng-model="vm.address.state" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("PostCode")</label>
                                    <input class="form-control"
                                           ng-class="{'edited':vm.address.postCode}"
                                           ng-model="vm.address.postCode" />
                                </div>
                            </div>
                        </div>

                        <div ng-if="vm.taxMember.id" class="row margin-top-20">

                            <div class="col-md-12">
                                <div class="form-group pull-right">
                                    <button class="btn btn-primary blue" ng-click="vm.addAddress()">
                                        <i class="fa fa-plus"></i> @L("AddAddress")
                                    </button>
                                </div>
                            </div>
                            <div busy-if="vm.saving" style="height: 100%;" class="col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead style="background: gainsboro;">
                                        <tr>
                                            <th>@L("Address1")</th>
                                            <th>@L("Address2")</th>
                                            <th>@L("City")</th>
                                            <th>@L("State")</th>
                                            <th>@L("PostCode")</th>
                                            <th>@L("Delete")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(fileIndex, file) in vm.addresses">
                                            <td>{{ file.address1 }}</td>
                                            <td>{{ file.address2 }}</td>
                                            <td>{{ file.city }}</td>
                                            <td>{{ file.state }}</td>
                                            <td>{{ file.postCode }}</td>
                                            <td class="col-sm-1">
                                                <button class="btn btn-primary" ng-click="vm.deleteAddress(file, fileIndex)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row margin-top-15">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>