﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<div ng-controller="tenant.views.go.departments.detail as vm">
    <form name="dinegodepartmentCreateOrEditForm" novalidate>
        <div class="row margin-bottom-5" busy-if="vm.loading || vm.saving">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span ng-if="vm.dinegodepartment.id">@L("Edit") @L("Department"): {{vm.dinegodepartment.label}}</span>
                            <span ng-if="!vm.dinegodepartment.id">@L("Create") @L("Department")</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light" busy-if="vm.loading || vm.saving">
            <div class="portlet-input">
                <div class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.dinegodepartment.label}" ng-model="vm.dinegodepartment.label" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Department")</label>
                                    <ui-select class="borderself" ng-model="vm.dinegodepartment.departmentId" ng-required="true">
                                        <ui-select-match placeholder="Select Department ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.departments | filter: $select.search | limitTo: vm.uilimit ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info margin-top-15">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    Charges
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4 margin-top-20">
                                            <div class="form-group">
                                                <label class="control-label">@L("Charges") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                                <ui-select class="borderself" ng-model="vm.dinegodepartmentdetail">
                                                    <ui-select-match placeholder="Select Charges ...">{{$select.selected.label}}</ui-select-match>
                                                    <ui-select-choices repeat="item as item in vm.charges | filter: $select.search | limitTo: vm.uilimit ">
                                                        <div ng-bind="item.label"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 margin-top-40">
                                            <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" busy-if="vm.loading">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase">
                                            Charge
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row" busy-if="vm.loading">
                                        <div class="col-xs-6">
                                            <div ui-grid="vm.dineGoDepartmentDetailOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row margin-top-15">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dinegodepartmentCreateOrEditForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

