<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .container .btn-group .active {
        background-color: cornflowerblue;
        color: white;
    }
</style>


<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="tenant.views.hr.master.personalinformation.employee as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span ng-if="vm.personalinformation.id">@L("EditPersonalInformation"): {{vm.personalinformation.employeeName | uppercase}} - {{vm.personalinformation.employeeCode}}</span>
                        <span ng-if="!vm.personalinformation.id">@L("CreatePersonalInformation") : {{vm.personalinformation.employeeName | uppercase}} - {{vm.personalinformation.employeeCode}}</span>
                        <span style="background-color:orangered;color:white;" ng-if="vm.personalinformation.activeStatus==false && vm.personalinformation.lastWorkingDate!=null">
                            &nbsp;&nbsp;	@L("Resigned") : {{vm.personalinformation.lastWorkingDate | date :'dd-MMM-yyyy '}}
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="personalinformationForm">
                    <div class="form-body">
                        <uib-tabset @*class="tab-container tabbable-line"*@ class="success" active="active" type="pills">
                            <uib-tab heading="@L("Employee") @L("Details")">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div>
                                            <div class="row">
                                                <div class="col-sm-2 margin-top-20">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <button class="btn green btn-group btn-group-justified" ng-click="vm.openLocation()">
                                                                <i class="fa fa-file"></i> <span>{{ vm.currentLocation }}</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="form-group">
                                                        <label class=" bold control-label">@L("Company")</label> <span class="bold" style="font-size:small; color:red"> *</span>
                                                        <br />
                                                        <span class="bold margin-top-20">{{vm.personalinformation.companyRefName}} </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input class="form-control" type="text" name="GivenName" ng-class="{'edited':vm.personalinformation.employeeGivenName}" ng-model="vm.personalinformation.employeeGivenName" required ng-change="vm.mergeGivenNameandSurName()">
                                                        <label class="bold">@L("Given") @L("Name") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input class="form-control" type="text" name="Surname" ng-class="{'edited':vm.personalinformation.employeeSurName}" ng-model="vm.personalinformation.employeeSurName" required ng-change="vm.mergeGivenNameandSurName()">
                                                        <label class="bold">@L("Surname") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row margin-top-10">
                                                <div class="col-xs-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input class="form-control" type="text" name="EmployeeName" ng-class="{'edited':vm.personalinformation.employeeName}" ng-model="vm.personalinformation.employeeName" ng-disabled="true" required>
                                                        <label class="bold">@L("EmployeeName") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-1">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input ng-disabled="!vm.permissions.changeEmployeeCode" class="form-control" type="text" name="employeeCode" ng-class="{'edited':vm.personalinformation.employeeCode}"
                                                               ng-minlength="1" ng-maxlength="20" ng-model="vm.personalinformation.employeeCode">
                                                        <label class="bold">@L("Emp") @L("Code") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input class="form-control" type="text" name="BioMetricCode" ng-class="{'edited':vm.personalinformation.bioMetricCode}" ng-model="vm.personalinformation.bioMetricCode" required>
                                                        <label>@L("BioMetricCode")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="form-group">
                                                        <label>@L("StaffType")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                                        <ui-select ng-model="vm.personalinformation.staffType" name="StaffType" id="StaffType" required>
                                                            <ui-select-match class="borderself" placeholder="Select Staff Type...">{{$select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="stafftype in vm.getStaffTypes($select.search) | filter: $select.search">
                                                                <div ng-bind="stafftype"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="form-group no-hint">
                                                        <label>@L("#")</label>
                                                        <input class="form-control" type="text" name="userSerialNumber" ng-class="{'edited':vm.personalinformation.userSerialNumber}" ng-model="vm.personalinformation.userSerialNumber" ng-disabled="true" required>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="md-checkbox tp-bottom margin-top-30">
                                                        <input id="IsAttendanceRequired" class="md-check" type="checkbox" name="IsAttendanceRequired" ng-class="{'edited':vm.personalinformation.isAttendanceRequired}" ng-model="vm.personalinformation.isAttendanceRequired">
                                                        <label for="IsAttendanceRequired">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            @L("IsAttendanceRequired")
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row margin-top-10">
                                            <div class="col-xs-3">
                                                <label>@L("DateHired")</label> <span class="bold" style="font-size:small; color:red"> *</span>
                                                <input onkeydown="return false" type="text" name="hiredDate" id="hiredDate" ng-model="vm.personalinformation.dateHired" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()" />
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">@L("Gender")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                                    <ui-select ng-model="vm.personalinformation.gender">
                                                        <ui-select-match class="borderself" placeholder="Select ...">{{$select.selected}}</ui-select-match>
                                                        <ui-select-choices repeat="gender in vm.getGenders($select.search) | filter: $select.search">
                                                            <div ng-bind="gender"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            @*<div class="col-xs-2">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control" type="text" name="jobTitle" ng-class="{'edited':vm.personalinformation.jobTitle}" ng-model="vm.personalinformation.jobTitle" required>
                                                    <label>@L("JobTitle")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                                </div>
                                            </div>*@
                                            <div class="col-xs-2">
                                                <div class="form-group">
                                                    <label class=" bold control-label">JobTitle</label> <span class="bold" style="font-size:small; color:red"> *</span>
                                                    <ui-select class="borderself" ng-model="vm.personalinformation.jobTitleRefId">
                                                        <ui-select-match placeholder="Select Job Title ...">{{$select.selected.jobTitle}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in vm.refjobtitle | filter: $select.search | limitTo: vm.uilimit">
                                                            <small>
                                                                <span>{{item.jobTitle }} </span>
                                                            </small>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="md-checkbox tp-bottom margin-top-30">
                                                    <input id="IsFixedCostCentreInDutyChart" class="md-check" type="checkbox" name="IsFixedCostCentreInDutyChart"
                                                           ng-class="{'edited':vm.personalinformation.isFixedCostCentreInDutyChart}" ng-model="vm.personalinformation.isFixedCostCentreInDutyChart">
                                                    <label for="IsFixedCostCentreInDutyChart">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsFixedCostCentreInDutyChart") ?
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="md-checkbox tp-bottom margin-top-30">
                                                    <input id="IsSmartAttendanceFingerAllowed" class="md-check" type="checkbox" name="IsSmartAttendanceFingerAllowed"
                                                           ng-class="{'edited':vm.personalinformation.isSmartAttendanceFingerAllowed}" ng-model="vm.personalinformation.isSmartAttendanceFingerAllowed">
                                                    <label for="IsSmartAttendanceFingerAllowed">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsSmartAttendanceFingerAllowed") ?
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="md-checkbox tp-bottom margin-top-30 ">
                                                    <input id="IsDayCloseStatusMailRequired" class="md-check" type="checkbox" name="IsDayCloseStatusMailRequired" ng-class="{'edited':vm.personalinformation.isDayCloseStatusMailRequired}" ng-model="vm.personalinformation.isDayCloseStatusMailRequired">
                                                    <label for="IsDayCloseStatusMailRequired">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsDayCloseStatusMailRequired") ?
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row margin-top-10">


                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class=" bold control-label">@L("Reporting") @L("Incharge")</label> @*<span class="bold" style="font-size:small; color:red"> *</span>*@
                                                    <ui-select class="borderself" ng-model="vm.personalinformation.supervisorEmployeeRefId" name="ReportingInchargeName">
                                                        <ui-select-match placeholder="Select Reporting  Incharge...">{{$select.selected.employeeRefName}}</ui-select-match>
                                                        <ui-select-choices ng-model="vm.personalinformation.supervisorEmployeeRefId" repeat="item.employeeRefId as item in vm.refactiveemployeecode | filter: $select.search">
                                                            <div ng-bind="item.employeeRefName"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class=" bold control-label">@L("Manager") @L("Incharge")</label> @*<span class="bold" style="font-size:small; color:red"> *</span>*@
                                                    <ui-select class="borderself" ng-model="vm.personalinformation.inchargeEmployeeRefId" name="InchargeName">
                                                        <ui-select-match placeholder="Select Incharge ...">{{$select.selected.employeeRefName}}</ui-select-match>
                                                        <ui-select-choices ng-model="vm.personalinformation.inchargeEmployeeRefId" repeat="item.employeeRefId as item in vm.refactiveemployeecode | filter: $select.search">
                                                            <div ng-bind="item.employeeRefName"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class=" bold control-label">@L("DinePlan") @L("User") <a ng-click="vm.selectedUser=null;" ng-if="vm.selectedUser!=null"> &nbsp; @L("Detach") </a></label>
                                                    <ui-select class="borderself" ng-model="vm.selectedUser">
                                                        <ui-select-match placeholder="@L("Select") @L("DinePlan") @L("User")">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item in vm.users | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-1" @*ng-if="vm.personalinformation.employeeCode"*@>
                                        <img ng-dblclick="vm.changePicture(null)" ng-if="vm.personalinformation.profilePictureId"
                                             ng-src="@Url.Action("GetPerInfoPictureById", "PersonalInformation")?id={{vm.personalinformation.profilePictureId}}" width="128" height="128"
                                             class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                        <img ng-dblclick="vm.changePicture(vm.personalinformation.id)" ng-if="!vm.personalinformation.profilePictureId"
                                             src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="@L("SkillSet")">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("DefaultSkillSet")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                            <ui-select class="borderself" name="DefaultSkillSet" id="DefaultSkillSet" ng-model="vm.personalinformation.defaultSkillRefId" ng-required="true" required>
                                                <ui-select-match placeholder="Select SkillSet ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refskillset | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-top-20">
                                    <div class="col-xs-12">
                                        <div class="form-group form-md-line-input  no-hint">
                                            <label class="control-label"> @L("Known") @L("SkillSet")*</label>
                                            <ui-select autofocus multiple id="skillsetRefId" ng-model="vm.skillSetRefId" class="form-control">
                                                <ui-select-match>{{$item.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item as item in vm.refskillset | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="@L("PersonalDetails")">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label>@L("DateOfBirth")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                        <input onkeydown="return false" type="text" id="dateofbirth" name="dateofbirth" ng-model="vm.personalinformation.dateOfBirth" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" />
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="nricNumber" ng-class="{'edited':vm.personalinformation.nationalIdentificationNumber}" ng-model="vm.personalinformation.nationalIdentificationNumber">
                                            <label>@L("NationalIdentificationNumber")</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="StaffType" ng-class="{'edited':vm.personalinformation.passPortNumber}" ng-model="vm.personalinformation.passPortNumber">
                                            <label>@L("PassPortNumber")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" ng-class="{'edited':vm.personalinformation.handPhone1}" ng-model="vm.personalinformation.handPhone1">
                                            <label>@L("PhoneNumber")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" id="phoneNumber1" name="phoneNumber1" ng-class="{'edited':vm.personalinformation.handPhone2}" ng-model="vm.personalinformation.handPhone2">
                                            <label>@L("Alternate") @L("Number")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label>@L("MaritalStatus")</label>
                                            <ui-select ng-model="vm.personalinformation.maritalStatus">
                                                <ui-select-match class="borderself" placeholder="Select Marital Status...">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="marital in vm.getMaritals($select.search) | filter: $select.search">
                                                    <div ng-bind="marital"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("ResidentStatus") <span class="bold" style="font-size:small; color:red"> *</span> </label>
                                            <ui-select class="borderself" ng-model="vm.personalinformation.employeeResidentStatusRefId" required>
                                                <ui-select-match placeholder="Select Resident Status ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refresidentList | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("Race") <span class="bold" style="font-size:small; color:red"> *</span> </label>
                                            <ui-select class="borderself" ng-model="vm.personalinformation.raceRefId" required>
                                                <ui-select-match placeholder="Select Race Status ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refraces | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("Religion") <span class="bold" style="font-size:small; color:red"> *</span> </label>
                                            <ui-select class="borderself" ng-model="vm.personalinformation.religionRefId" required>
                                                <ui-select-match placeholder="Select Religion ..">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refreligions | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("CostCentre") <span class="bold" style="font-size:small; color:red"> *</span> </label>
                                            <ui-select class="borderself" ng-model="vm.personalinformation.employeeCostCentreRefId" required>
                                                <ui-select-match placeholder="Select Race Status ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refcostcentres | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label style="width:1700px;background-color:deepskyblue;vertical-align:middle">Permanent Address :</label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" id="address1" name="address1" ng-class="{'edited':vm.personalinformation.perAddress1}" ng-model="vm.personalinformation.perAddress1">
                                            <label>@L("Address1")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.personalinformation.perAddress2}" ng-model="vm.personalinformation.perAddress2">
                                            <label>@L("Address2")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" id="address3" name="address3" ng-class="{'edited':vm.personalinformation.perAddress3}" ng-model="vm.personalinformation.perAddress3">
                                            <label>@L("Address3")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="address4" ng-class="{'edited':vm.personalinformation.perAddress4}" ng-model="vm.personalinformation.perAddress4">
                                            <label>@L("Address4")</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="postalcode" ng-class="{'edited':vm.personalinformation.postalCode}" ng-model="vm.personalinformation.postalCode">
                                            <label>@L("ZipCode")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <span style="width:2500px;background-color:deepskyblue;vertical-align:middle">Communication Address : <span ng-if="vm.personalinformation.comAddress1=='' || vm.personalinformation.comAddress1==null ||vm.personalinformation.comAddress1.length==0"> <a ng-click="vm.copyAddressFromPermanent()"></a>  </span> </span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" id="address1" name="address1" ng-class="{'edited':vm.personalinformation.comAddress1}" ng-model="vm.personalinformation.comAddress1">
                                            <label>@L("Address1")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.personalinformation.comAddress2}" ng-model="vm.personalinformation.comAddress2">
                                            <label>@L("Address2")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" id="address3" name="address3" ng-class="{'edited':vm.personalinformation.comAddress3}" ng-model="vm.personalinformation.comAddress3">
                                            <label>@L("Address3")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="address4" ng-class="{'edited':vm.personalinformation.comAddress4}" ng-model="vm.personalinformation.comAddress4">
                                            <label>@L("Address4")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="zipCode" ng-class="{'edited':vm.personalinformation.zipCode}" ng-model="vm.personalinformation.zipCode">
                                            <label>@L("ZipCode")</label>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            @*<uib-tab heading="@L("BankAccountDetails")">
                                    <div class="row">
                                        <label style="width:1500px;background-color:deepskyblue">Accounts :</label>

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("Bank")</label>
                                                <ui-select allow-free-text="true" ng-model="vm.personalinformation.bankName">
                                                    <ui-select-match class="borderself" placeholder="Select Bank...">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="bank in vm.getBanks($select.search) | filter: $select.search">
                                                        <div ng-bind="bank"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <input class="form-control" type="text" name="accountNumber" ng-class="{'edited':vm.personalinformation.accountNumber}" ng-model="vm.personalinformation.accountNumber">
                                                <label>@L("AccountNumber")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <input class="form-control" type="text" name="passtype" ng-class="{'edited':vm.personalinformation.cpfaccountNumber}" ng-model="vm.personalinformation.cpfaccountNumber">
                                                <label>@L("CPFAccountNumber")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label style="width:1500px;background-color:deepskyblue;vertical-align:middle">ESubmission :</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("IDType")</label>
                                                <ui-select allow-free-text="true" ng-model="vm.personalinformation.idtype">
                                                    <ui-select-match class="borderself" placeholder="Select IDType...">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="bank in vm.getBanks($select.search) | filter: $select.search">
                                                        <div ng-bind="bank"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>*@
                            <uib-tab heading="@L("Settings")">

                                <div class="row">

                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group has-error">
                                            <label class="control-label col-md-3">
                                                @L("Email")
                                                <span class="required" aria-required="true"> <span class="bold" style="font-size:small; color:red"> *</span> </span>
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input type="email" class="form-control" name="email" placeholder="Email Address" aria-required="true" aria-invalid="false" aria-describedby="input_group-error" ng-class="{'edited':vm.personalinformation.email}" ng-model="vm.personalinformation.email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group has-error">
                                            <label class="control-label col-md-3">
                                                @L("Alternate") @L("Email")
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input type="email" class="form-control" name="input_group" placeholder="Personal Email Address" aria-required="true" aria-invalid="false" aria-describedby="input_group-error" ng-class="{'edited':vm.personalinformation.personalEmail}" ng-model="vm.personalinformation.personalEmail">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-40">
                                    <div class="col-xs-6">
                                        <div class="form-group has-error">
                                            <label class="control-label col-md-3">
                                                @L("LoginUserName")
                                                <span class="required" aria-required="true"> <span class="bold" style="font-size:small; color:red"> *</span> </span>
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" class="form-control" required name="User" placeholder="Login User Name" aria-required="true" aria-invalid="false" aria-describedby="input_group-error" ng-class="{'edited':vm.personalinformation.loginUserName}" ng-model="vm.personalinformation.loginUserName">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab ng-if="personalinformationForm.$invalid">
                                <uib-tab-heading style="color:orangered">
                                    <i class="glyphicon glyphicon-bell"></i> @L("Alert")!
                                </uib-tab-heading>
                                <div>
                                    <ul>
                                        <li ng-repeat="(key, errors) in personalinformationForm.$error track by $index">
                                            <strong>{{ key }}</strong> errors
                                            <ul>
                                                <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default red" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="personalinformationForm.$invalid" ng-if="vm.personalinformation.lastOfficialWorkingDate==null">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>