﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $(function () {

        //show tooltip box when textbox get focus
        $('#import').focusin(function () {
            $('#clueTipBox').mouseenter();
        });

        //hide tooltip box when textbox lost focus
        $('#import').focusout(function () {
            $('#clueTipBox').mouseleave();
        });
    });
</script>

<style>

    .ui-redcolor {
        background-color: black;
        color: red;
        font-weight : bold
    }

    .ui-bold {
        font-weight: bold;
    }
</style>

<div ng-controller="tenant.views.hr.master.personalinformation.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("PersonalInformation").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            <button class="btn btn-default red" ng-if="vm.setupPer.importData && vm.userGridOptions.data.length==0" ng-click="vm.importSampleData()">
                <i class="fa fa-download"></i> @L("Sample") @L("Data")
            </button>
            <button class="btn btn-default" ng-click="vm.clear()">
                <i class="fa fa-close"></i> @L("Clear")
            </button>
            <button ng-if="vm.permissions.import" class="btn btn-default" ng-click="vm.import()" id="import" title="@L("skillsetInfo")" value="">
                <i class="fa fa-download"></i> @L("Import")
            </button>
            <button class="btn btn-default purple" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("Export")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createPersonalInformation()">
                <i class="fa fa-plus"></i> @L("Create")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row ">
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="AllCompanies" class="md-check" type="checkbox" name="AllCompanies"
                                           ng-class="{'edited':vm.allcompanyflag}" ng-model="vm.allcompanyflag">
                                    <label for="AllCompanies">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllCompanies")
                                    </label>
                                    <ui-select multiple ng-model="vm.companies" ng-if="!vm.allcompanyflag" class="form-control">
                                        <ui-select-match>{{$item.code}}</ui-select-match>
                                        <ui-select-choices repeat="company in vm.refcompany | filter: $select.search| limitTo: vm.uilimit">
                                            <small>
                                                {{ company.code }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Employee")" type="text">
                            </div>
                            <div class="col-xs-1">
                                <input ng-model="vm.employeeRefCode" class="form-control" placeholder="@L("EmployeeCode")" type="text">
                            </div>
                            <div class="col-xs-1">
                                <ui-select class="borderself" ng-model="vm.workStatus" name="workStatus">
                                    <ui-select-match class="borderself" placeholder="Select ...">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="workStatus in vm.getWorkStatus($select.search) | filter: $select.search">
                                        <div ng-bind="workStatus"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-xs-2">
                                <ui-select class="borderself" name="uisupervisor" ng-click="vm.applyAllFilters();" ng-change="vm.showLockAndAlertEdp();" ng-model="vm.supervisorFilter">
                                    <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.refSupervisorEmployeeList | filter: $select.search">
                                        <div ng-bind="item.employeeName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-xs-2">
                                <ui-select class="borderself" name="uiincharge" ng-click="vm.applyAllFilters();" ng-change="vm.showLockAndAlertEdp();" ng-model="vm.inchargeFilter">
                                    <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.refInchargeEmployeeList | filter: $select.search">
                                        <div ng-bind="item.employeeName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-xs-1">
                                <button ng-click="vm.getAll()" class="btn default btn-primary blue" type="submit"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <div class="row margin-top-15" ng-if="vm.advancedFiltersAreShown">
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateHired")
                                    </label>
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("JobTitle")</label>
                                    <input type="text" class="form-control" ng-model="vm.jobTitle">
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <label class="control-label">@L("DefaultSkillSet")</label>
                                    <input type="text" class="form-control" ng-model="vm.defaultSkillSetCode">
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-sm-6">
                                <span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                                <span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                            </div>
                            <div class="col-sm-6 text-right" ng-if="vm.advancedFiltersAreShown">
                                <button class="btn blue" ng-click="vm.getAll()"><i class=" fa fa-refresh"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height:70vh;">
            <div busy-if="vm.loading"  style="height:100%">
                <div ui-grid="vm.userGridOptions" style="height:100%" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

