<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .container .btn-group .active {
        background-color: cornflowerblue;
        color: white;
    }
</style>
<style>



    .pulse-button {
        position: relative;
        box-shadow: 0 0 0 0 rgba(300, 100, 100, 1.5);
        -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    }

        .pulse-button:hover {
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            animation: none;
        }

    @@-webkit-keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
        }
    }

    @@-moz-keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
        }
    }

    @@-ms-keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
        }
    }

    @@keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
        }
    }
</style>
<style>
    .modal-dialog {
        width: 85%;
    }
</style>



<div class="modal-dialog">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span ng-if="vm.personalinformation.id">@L("ResignationEntry"): {{vm.personalinformation.employeeName}} - {{vm.personalinformation.employeeCode}}</span>
                        <span style="background-color:orangered;color:white;" ng-if="vm.personalinformation.activeStatus==false && vm.personalinformation.lastWorkingDate!=null">
                            &nbsp;&nbsp; @L("Resigned") : {{vm.personalinformation.lastWorkingDate | date :'dd-MMM-yyyy '}}
                        </span>
                        <span>{{$scope.personalinformationForm.$error}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>


    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="personalinformationForm">
                    <div class="form-body">
                        <uib-tabset class="tab-container tabbable-line">
                            <uib-tab heading="@L("StaffDetails")">
                                <div class="row">

                                    <div class="col-xs-10">
                                        <div class="form-group">
                                            <label class="control-label">@L("Company")*</label>
                                            <ui-select class="borderself" ng-model="vm.personalinformation.companyRefId" ng-change="vm.getMaximumInfoDetails()"
                                                       ng-disabled="vm.personalinformation.id">
                                                <ui-select-match placeholder="Select Company ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refcompany | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        <div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                                                        <input class="form-control ucase" type="text" name="employeename" ng-class="{'edited':vm.personalinformation.employeeName}" ng-model="vm.personalinformation.employeeName" ng-disabled="true">
                                                        <label>@L("StaffName")</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                                                        <input ng-disabled="vm.personalinformation.id" class="form-control ucase" type="text" name="employeeCode" ng-class="{'edited':vm.personalinformation.employeeCode}" ng-model="vm.personalinformation.employeeCode">
                                                        <label>@L("StaffCode")</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2" ng-if="vm.personalinformation.employeeCode">
                                        <img ng-dblclick="vm.changePicture(null)" ng-if="vm.personalinformation.profilePictureId"
                                             ng-src="@Url.Action("GetPerInfoPictureById", "PersonalInformation")?id={{vm.personalinformation.profilePictureId}}" width="128" height="128"
                                             class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                        <img ng-dblclick="vm.changePicture(vm.personalinformation.id)" ng-if="!vm.personalinformation.profilePictureId"
                                             src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="form-group no-hint">
                                            <label>@L("#")</label>
                                            <input class="form-control" type="text" name="userSerialNumber" ng-class="{'edited':vm.personalinformation.userSerialNumber}" ng-model="vm.personalinformation.userSerialNumber" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-xs-1" @*ng-disabled="true"*@>
                                        <div class="form-group no-hint">
                                            <label>@L("BioMetricCode")</label>
                                            <input class="form-control" type="text" name="biometriccode" ng-class="{'edited':vm.personalinformation.bioMetricCode}" ng-model="vm.personalinformation.bioMetricCode" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>@L("DateHired")</label>
                                        <input class="form-control" type="text" name="hiredDate" id="hiredDate" ng-class="{'edited':vm.personalinformation.dateHired}" ng-model="vm.personalinformation.dateHired" ng-disabled="true">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>@L("DateConfirmed")</label>
                                        <input class="form-control" type="text" name="hiredDate" id="hiredDate" ng-class="{'edited':vm.personalinformation.dateConfirmed}" ng-model="vm.personalinformation.dateConfirmed" ng-disabled="true">
                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                                            <input class="form-control ucase" type="text" name="Gender" ng-class="{'edited':vm.personalinformation.gender}" ng-model="vm.personalinformation.gender" ng-disabled="true">
                                            <label>@L("Gender")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-disabled="true">

                                    <div class="col-xs-3">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                                            <input class="form-control ucase" type="text" name="DefaultSkillSet" ng-class="{'edited':vm.personalinformation.defaultSkillSetCode}" ng-model="vm.personalinformation.defaultSkillSetCode" ng-disabled="true">
                                            <label>@L("DefaultSkillSet")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                                            <input class="form-control ucase" type="text" name="StaffType" ng-class="{'edited':vm.personalinformation.staffType}" ng-model="vm.personalinformation.staffType" ng-disabled="true">
                                            <label>@L("StaffType")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="jobTitle" ng-class="{'edited':vm.personalinformation.jobTitle}" ng-model="vm.personalinformation.jobTitle" ng-disabled="true">
                                            <label>@L("JobTitle")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="md-checkbox tp-bottom">
                                            <input id="IsAttendanceRequired" class="md-check" type="checkbox" name="IsAttendanceRequired" ng-class="{'edited':vm.personalinformation.isAttendanceRequired}" ng-model="vm.personalinformation.isAttendanceRequired" ng-disabled="true">
                                            <label for="IsAttendanceRequired">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsAttendanceRequired")
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>
                            <uib-tab heading="@L("ResignationEntry")">
                                <div class="row">
                                    @*<div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("OfficialLastWorkingDate")</label>
                                                <input name="calDate" id="calDate" class="form-control date-picker" ng-class="{'edited':vm.personalinformation.lastOfficialWorkingDate}" ng-model="vm.personalinformation.lastOfficialWorkingDate" />
                                            </div>
                                        </div>*@
                                    <div class="col-xs-6">
                                        <div class="form-group pulse-button">
                                            <label class="control-label">@L("LastWorkingDate")</label>
                                            <input name="nextcalDate" id="nextcalDate" class="form-control date-picker" ng-class="{'edited':vm.personalinformation.lastWorkingDate}" ng-model="vm.personalinformation.lastWorkingDate" />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row" ng-if="false">
                                        <div class="col-xs-12">
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint ucase">
                                                <input class="form-control ucase" type="text" name="employeename" ng-class="{'edited':vm.personalinformation.resignationReason}" ng-model="vm.personalinformation.resignationReason">
                                                <label>@L("ResignationReason")*</label>
                                            </div>
                                        </div>
                                    </div>*@

                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" ng-if="vm.personalinformation.activeStatus==true && vm.personalinformation.lastWorkingDate!=null" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="personalinformationForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li ng-repeat="(key, errors) in personalinformationForm.$error track by $index">
                                <strong>{{ key }}</strong> errors
                                <ul>
                                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
