﻿@using Abp.Timing
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<style>
.container .btn-group .active 
{
  background-color: cornflowerblue ; 
  color: white; 
}

</style>

<div ng-controller="tenant.views.hr.master.personalinformation.viewemployee as vm">
    @*<div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.personalinformation.id">@L("EditPersonalInformation"): {{vm.personalinformation.employeeName}} - {{vm.personalinformation.employeeCode}}</span>
			            <span ng-if="!vm.personalinformation.id">@L("CreatePersonalInformation")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>*@

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="personalinformationForm">
                    <div ng-if="vm.errorFlag">
                        <h2 class="red">@L("EmployeeCodeNotAssignedToThisUser", "") </h2>
                    </div>
                    <div class="form-body" ng-if="!vm.errorFlag">
                        <uib-tabset class="tab-container tabbable-line">
                            <uib-tab heading="@L("StaffDetails")">
                                <div class="row">
                                    <div class="col-xs-3 text-center">
                                        <img ng-if="vm.personalinformation.profilePictureId" ng-src="@Url.Action("GetPerInfoPictureById", "PersonalInformation" )?id={{vm.personalinformation.profilePictureId}}" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                        <img ng-if="!vm.personalinformation.profilePictureId" src="@Url.Content(" ~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                    </div>
                                    @*</div>
                                    <div class="row">*@
                                        <div class="col-xs-9">
                                            <div class="form-group">
                                                <label class="control-label">@L("Company")</label>
                                                <ui-select ng-disabled="true" class="borderself" ng-style="word-wrap" ng-model="vm.personalinformation.companyRefId">
                                                    <ui-select-match placeholder="Select Company ...">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in vm.refcompany | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>

                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table class="table table-striped table-bordered col-xs-12">
                                                    <tr>
                                                        <td>
                                                            Employee Name
                                                        </td>
                                                        <td>
                                                            <b>{{vm.personalinformation.employeeName}} </b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Employee Code
                                                        </td>
                                                        <td>
                                                            <b> {{vm.personalinformation.employeeCode}}</b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            #
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.userSerialNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Bio Metric Code
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.bioMetricCode}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("FinNumber")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.finNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("NRICNumber")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.nric}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("SkillSet")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.defaultSkillSetCode}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("Gender")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.gender}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("StaffType")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.staffType}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("PassPortNumber")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.passPortNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("WPClass/No")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.wpclassNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("ResidentStatus")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.residentStatus}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("PRNumber")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.prNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("ImmigrationNumber")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.immigrationNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("MalaysiyanICNumber")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.malasiyanIcNumber}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("WorkPassStart-EndDate")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.workPassStartDate}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @L("PRStart-EndDate")
                                                        </td>
                                                        <td>
                                                            {{vm.personalinformation.workPassEndDate}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
</uib-tab>
                            <uib-tab heading="@L("PersonalDetails")">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <tr>
                                                <td>
                                                    @L("DateOfBirth")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.dateOfBirth | date : 'dd-MMM-yyyy' }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("Race")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.race}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("Religion")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.religion}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("Nationality")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.nationality}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("MaritalStatus")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.maritalStatus}}
                                                </td>
                                            </tr>
                                            <tr ng-if="vm.personalinformation.maritalStatus=='Married'">
                                                <td>
                                                    @L("MaritalDate")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.maritalDate date : 'dd-MMM-yyyy'}}
                                                </td>
                                            </tr>

                                        </table>
                                        </div>
                                    </div>
                            </uib-tab>
                            <uib-tab heading="@L("Employment")">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <tr>
                                                <td>
                                                    @L("EmploymentStatus")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.employeementStatus}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("Department")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.department}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("CostCentre")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.costCentre}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("JobLevel")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.jobLevel}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("DateConfirmed")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.dateConfirmed | date : 'dd-MMM-yyyy'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("DateHired")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.dateHired | date : 'dd-MMM-yyyy'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("OfficialLastWorkingDate")
                                                </td>
                                                <td>                                                    {{vm.personalinformation.lastOfficialWorkingDate|  date : 'dd-MMM-yyyy'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("LastWorkingDate")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.lastWorkingDate | date : 'dd-MMM-yyyy'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("JobTitle")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.jobTitle}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("Bank")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.bankName}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("AccountNumber")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.accountNumber}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("CPFAccountNumber")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.cpfaccountNumber}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @L("IDType")
                                                </td>
                                                <td>
                                                    {{vm.personalinformation.idtype}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                    </uib-tabset>
            </div>
    </form>
            </div>
        </div>
    </div>
</div>

