﻿
<script src="~/libs/ownScript/UserOwnModule.js"></script>


<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });

   

</script>
<style>
    .ui-datepicker-calendar {
    display: none;
    }
</style>

<div>
    <form name="monthwiseworkdayCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.monthwiseworkday.id">@L("EditMonthWiseWorkDay"): {{vm.monthwiseworkday.documentName}}</span>
                <span ng-if="!vm.monthwiseworkday.id">@L("CreateMonthWiseWorkDay")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("MonthYear")</label>

                        @*<select class="form-control" id="yearMonthInput" ng-model="vm.monthwiseworkday.monthYear" ng-class="{'edited':vm.monthwiseworkday.monthYear}" @*ng-change="CalculateDate()"*></select>*@
                        <input type="text" id="monthYear" ng-model="vm.monthwiseworkday.monthYear" class="form-control"
                               uib-datepicker-popup="{{format1}}" is-open="popup3.opened" datepicker-options="dateOptions1" ng-close-text="Close" alt-input-formats="altInputFormats" ng-change="vm.CalculateDate()"
                               ng-click="open3()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>@L("StartDate")</label>
                    <input type="text" id="stDate" ng-model="vm.monthwiseworkday.startDate" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-disabled="true" />
                </div>
                <div class="col-xs-6">
                    <label>@L("EndDate")</label>
                    <input type="text" id="endDate" ng-model="vm.monthwiseworkday.endDate" class="form-control"
                           uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-disabled="true" ng-click="open2()" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" id="TotalNumberOfDays" name="TotalNumberOfDays" ng-class="{'edited':vm.monthwiseworkday.noOfDays}" ng-model="vm.monthwiseworkday.noOfDays" ng-disabled="true" maxlength="30">
                        <label>@L("TotalNumberOfDays")</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="LeaveReson" ng-class="{'edited':vm.monthwiseworkday.noOfWorkDays}" ng-model="vm.monthwiseworkday.noOfWorkDays" required maxlength="30">
                        <label>@L("NoOfWorkDays")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="LeaveReson" ng-class="{'edited':vm.monthwiseworkday.noOfGovernmentHolidays}" ng-model="vm.monthwiseworkday.noOfGovernmentHolidays" required maxlength="30">
                        <label>@L("NoOfGovernmentHolidays")</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="LeaveReson" ng-class="{'edited':vm.monthwiseworkday.noOfLeaves}" ng-model="vm.monthwiseworkday.noOfLeaves" required maxlength="30">
                        <label>@L("NoOfLeaves")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="LeaveReson" ng-class="{'edited':vm.monthwiseworkday.salaryCalculationDays}" ng-model="vm.monthwiseworkday.salaryCalculationDays" required maxlength="30">
                        <label>@L("SalaryCalculationDays")</label>
                    </div>
                </div>
            </div>
            </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="monthwiseworkdayCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

