﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.paly.resolutions.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase"><span ng-if="vm.workMode == 'ADD'">@L("Create")</span> @L("Resolution")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <div class="form">
                                <form name="resolutionCreateOrEditForm" role="form" novalidate class="form-validation">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" name="resolutionName"
                                                       ng-model="vm.resolution.name" required aria-describedby="helpBlockResolutionName">
                                                <span id="helpBlockResolutionName" class="help-block">
                                                    @L("ResolutionNameDesc")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>@L("Width")</label>
                                                <input class="form-control" type="number" name="resolutionWidth"
                                                       ng-model="vm.resolution.width" required required aria-describedby="helpBlockResolutionWidth">
                                                <span id="helpBlockResolutionWidth" class="help-block">
                                                    @L("ResolutionWidthDesc")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>@L("Height")</label>
                                                <input class="form-control" type="number" name="resolutionHeight"
                                                       ng-model="vm.resolution.height" required required aria-describedby="helpBlockResolutionHeight">
                                                <span id="helpBlockResolutionHeight" class="help-block">
                                                    @L("ResolutionHeightDesc")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-default"
                                    ng-click="vm.cancel()">
                                @L("Cancel")
                            </button>
                            <button type="submit" button-busy="vm.saving"
                                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.save()" ng-disabled="resolutionCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>