<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.master.calculation.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.calculation.id">@L("EditCalculation"): {{vm.calculation.name}}</span>
                        <span ng-if="!vm.calculation.id">@L("CreateCalculation") : {{vm.calculation.name}}</span>
                    </h1>
                </div>
            </div>
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("CalculationInfo") </p>
            </div>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")*</label>
                                    <input type="text" class="form-control" ng-model="vm.calculation.name" placeholder='@L("Name")' required>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="control-label">@L("ButtonHeader")</label>
                                    <input type="text" class="form-control" ng-model="vm.calculation.buttonHeader" placeholder='@L("ButtonHeader")'>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Department")</label>
                                    <ui-select multiple ng-model="vm.requestDepartments" class="form-control">
                                        <ui-select-match placeholder=@L("Department")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="dept in vm.departments">
                                            <small>
                                                {{ dept.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Type")*</label>
                                    <select id="CategoryEditBox" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.processors"
                                            ng-model="vm.calculation.calculationTypeId" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("TransactionType")*</label>
                                    <select id="TransactionType" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.transactionTypes" ng-model="vm.calculation.transactionTypeId" required></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("ConfirmationType")*</label>
                                    <select id="ConfirmationType" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.confirmationTypes" ng-model="vm.calculation.confirmationType" required></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Amount")*</label>
                                    <input type="number" ng-model="vm.calculation.amount" name="amount" class="form-control number" ng-maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="IncludeTax" class="md-check" type="checkbox" ng-model="vm.calculation.includeTax">
                                            <label for="IncludeTax">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IncludeTax")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="DecreaseAmount" class="md-check" type="checkbox" ng-model="vm.calculation.decreaseAmount">
                                            <label for="DecreaseAmount">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("DecreaseAmount")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.calculation.calculations.length==0">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>