@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.tickmessages.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">

            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TickMessage").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="md-checkbox-list" style="display: inline;">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="isDeleted" class="md-check" type="checkbox" ng-model="vm.isDeleted" ng-change="vm.getAll()">
                    <label for="isDeleted">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Deleted")</strong>
                    </label>
                </div>
            </div>
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createMessage()">
                <i class="fa fa-plus"></i> @L("CreateTickMessage")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>

                        <div class="form-body" enter-key="vm.getAll()">

                            <div class="row" >
                                <div class="col-md-6">
                                    <div class="md-checkbox-list" style="display: inline;">
                                        <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                                            <input id="noFilter" class="md-check" type="checkbox" ng-model="vm.noFilter">
                                            <label for="noFilter">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                <strong>@L("NoFilter")</strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-if="!vm.noFilter">
                                    <div class="form-group">
                                        <label class="control-label">@L("Date")</label>
                                        <input required date-range-picker ng-keypress="vm.preventNonNumericalInput($event)" type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min"
                                               max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="pull-left">
                                            <button type="button" class="btn btn-primary" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
                                        </div>
                                        <div class="pull-right">
                                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i> @L("Search")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>







                       
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>