﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div>
    <form name="dinePlanForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.isReply">@L("Replies")</span>
                <span ng-if="vm.isNonReply">@L("NonReplies")</span>
                <span ng-if="vm.isAllLocations">@L("Locations")</span>
                <span ng-if="vm.isUnread">@L("Unread")</span>
                <span ng-if="vm.acknowledged">@L("Acknowledged")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-xs-12">
                    <div ui-grid="vm.locationOptions" ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    </form>
</div>