@using Humanizer
<div ng-controller="tenant.views.tickmessages.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.tickMessage.id">@L("EditTickMessage")</span>
                        <span ng-if="!vm.tickMessage.id">@L("CreateTickMessage")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <form name="detailform" novalidate>
            <div class="portlet-body">
                <div class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("MessageHeading") *</label>
                                    <input class="form-control" required auto-focus
                                           name="messageHeading"
                                           ng-class="{'edited':vm.tickMessage.messageHeading}"
                                           ng-model="vm.tickMessage.messageHeading" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Type")</label>
                                    <select id="messageType" required
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.messageTypes"
                                            ng-model="vm.tickMessage.messageType"
                                            ng-change="vm.onChangedType()"></select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="oneTimeMessage" class="md-check" type="checkbox" ng-model="vm.tickMessage.oneTimeMessage">
                                            <label for="oneTimeMessage">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("OneTimeMessage")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="acknowledgement" class="md-check" type="checkbox" ng-model="vm.tickMessage.acknowledgement">
                                            <label for="acknowledgement">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("Acknowledgement")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="instanatMessage" class="md-check" type="checkbox" ng-model="vm.tickMessage.instantMessage">
                                            <label for="instanatMessage">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("Quick") @L("PopUp") @L("Message")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" ng-if="vm.tickMessage.acknowledgement">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="reply" class="md-check" type="checkbox" ng-model="vm.tickMessage.reply">
                                            <label for="reply">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("Reply")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DisplayUntil") *</label>
                                    <input required date-range-picker ng-keypress="vm.preventNonNumericalInput($event)" type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-11 form-group">
                                    <label class="control-label">@L("TimeInterval")</label>
                                    <textarea class="form-control" rows="3" readonly ng-model="vm.tickMessage.timeIntervals"/>
                                </div>
                                <div class="col-sm-1 margin">
                                    <button class="btn btn-primary blue" style="margin-top:25px;" ng-click="vm.chooseTimeInterval()">
                                        <i class="fa fa-edit"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.tickMessage.messageType == 0" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">@L("Message")</label>
                                    <ng-quill-editor ng-model="vm.tickMessage.messageContent"
                                                     ng-class="{'edited':vm.tickMessage.messageContent}"></ng-quill-editor>
                                </div>
                            </div>
                        </div>

                        <div ng-if="vm.tickMessage.messageType != 0 && vm.tickMessage.messageType" class="row">
                            <div class="col-md-6">
                                <h3>@L("File").Pluralize() </h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>@L("Name") </th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                                            <td>
                                                <strong>{{ file.fileName }}</strong>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                                    <span class="glyphicon  glyphicon-download-alt"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6" style="margin-bottom: 40px">
                                <h3>@L("Select") </h3>
                                <span ng-if="vm.tickMessage.messageType == 1">
                                    <input type="file" nv-file-select name="files" uploader="vm.uploader" multiple accept="image/*" /><br />
                                </span>
                                <span ng-if="vm.tickMessage.messageType == 2">
                                    <input type="file" nv-file-select uploader="vm.uploader" multiple accept="video/*" /><br />
                                </span>

                                <span ng-if="vm.tickMessage.messageType == 3">
                                    <input type="file" nv-file-select uploader="vm.uploader" multiple accept="application/pdf" /><br />
                                </span>
                                
                                <span ng-if="vm.tickMessage.messageType == 4">
                                    <input type="file" nv-file-select uploader="vm.uploader" multiple accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" /><br />
                                </span>
                                <span ng-if="vm.tickMessage.messageType == 5">
                                    <input type="file" nv-file-select uploader="vm.uploader" multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /><br />
                                </span>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">@L("Name") </th>
                                            <th>@L("Size")</th>
                                            <th ng-show="uploader.isHTML5">@L("Progress")</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.uploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                            </td>
                                            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="vm.uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" title="Upload" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" title="Remove" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    ng-quill-editor .ql-container {
        height: 150px;
    }

    ng-quill-editor.ng-invalid .ql-container {
        border: 1px dashed red;
    }

    .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14"]::before {
        content: '14';
    }

    .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16"]::before {
        content: '16';
    }

    .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18"]::before {
        content: '18';
    }
</style>