@using Humanizer
<div>
    <div class="panel panel-info margin-top-15">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
            <h3 class="panel-title bold">
                @L("TimeInterval")
            </h3>
        </div>
        <div id="collapse1" class="collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group ">
                            <label>@L("TimeInterval")</label>
                            <input class="form-control time-picker" type="time" ng-model="vm.currentTime" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group ">
                            <button class="btn btn-primary" data-ng-click="vm.timeChanged()">
                                @L("Add")
                            </button>
                        </div>
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered col-sm-12">
                            <thead>
                                <tr>
                                    <th>@L("TimeInterval")</th>
                                    <th>@L("Delete")</th>
                                </tr>
                            </thead>
                            <tr>
                            <tr data-ng-repeat="(index,data) in vm.intervals">
                                <td class="col-sm-11">
                                    {{data}}
                                </td>
                                <td class="col-sm-1">
                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer" style="height:50px">
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
                            <button type="button" class="btn btn-primary blue" ng-click="vm.ok()" style="width:65px;">@L("OK")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>