﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>
<script>
    $('input').each(function(i, e) {
        var label;
        switch ($(e).attr('id')) {
        case 'name':
            label = 'Name ';
            break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.master.tillaccount.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.tillaccount.id">@L("EditTillAccount"): {{vm.tillaccount.name}}</span>
                        <span ng-if="!vm.tillaccount.id">@L("CreateTillAccount")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input class="form-control" type="text" onblur="changetoupper(this)" name="Name" ng-class="{'edited':vm.tillaccount.name}" ng-model="vm.tillaccount.name" required>
                                </div>
                            </div>
                            <div class="col-md-1 margin-top-30" ng-if="vm.tillaccount.id">
                                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                                    <i class="fa fa-file"></i> <span></span>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("AccountType")*</label>
                                    <select id="CategoryEditBox" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.processors"
                                            ng-model="vm.tillaccount.tillAccountTypeId">
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>