﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'address1':
                label = 'Address 1 is mandatory';
                break;
            case 'phonenumber':
                label = 'Phone Number is mandatory';
                break;
            case 'website':
                label = 'Please prefix with http:// with supplier website';
                break;
            case 'email':
                label = 'The Email id should have @@ Symbol between letters';
                break;
            case 'defaultcreditdays':
                label = 'Credit days Accepted for payment from Invoice Date';
                break;

        }
        $(e).tooltip({ 'trigger': 'focus hover',  'title': label, 'placement': 'bottom', 'delay': '{ show: 1000, hide: 100 }' });
    });
</script>

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="supplierCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.supplier.id">@L("EditSupplier"): {{vm.supplier.supplierName | uppercase}}</span>
                <span ng-if="!vm.supplier.id">@L("CreateSupplier")</span>
            </h4>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("Information")">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control ucase" onblur="changetoupper(this)" type="text" autofocus name="code" ng-class="{'edited':vm.supplier.supplierCode}" ng-model="vm.supplier.supplierCode">
                                <label>@L("Code")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control ucase"  type="text" name="suppliername" ng-class="{'edited':vm.supplier.supplierName}" ng-model="vm.supplier.supplierName" required maxlength="60">
                                <label>@L("Name")</label>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input uib-tooltip="Credit days Accepted for payment from Invoice Date" tooltip-placement="bottom" onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="number" id="defaultcreditdays" name="defaultcreditdays" ng-class="{'edited':vm.supplier.defaultCreditDays}" maxlength="3" ng-model="vm.supplier.defaultCreditDays">
                                <label>@L("DefaultCreditDays")</label>
                            </div>
                        </div>
                        @*<div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">@L("OrderThrough")</label>
                <select id="orderThrough" class="form-control selectpicker" data_live_search="true" ng-model="vm.supplier.orderPlacedThrough">
                    <option>Phone</option>
                    <option>Mail</option>
                    <option>Fax</option>
                    <option>In Person</option>
                </select>
            </div>
        </div>*@
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control " type="text" id="phonenumber" name="phonenumber" ng-class="{'edited':vm.supplier.phoneNumber1}" ng-model="vm.supplier.phoneNumber1" maxlength="20">
                                <label>@L("PhoneNumber")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="faxnumber" ng-class="{'edited':vm.supplier.faxNumber}" ng-model="vm.supplier.faxNumber" maxlength="20">
                                <label>@L("FaxNumber")</label>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input uib-tooltip="The Email id should have Symbol between letters" tooltip-placement="bottom" class="form-control" type="email" id="email" name="email" ng-class="{'edited':vm.supplier.email}" ng-model="vm.supplier.email">
                                <label>@L("Email")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input uib-tooltip=@L("WebTT") tooltip-placement="bottom" class="form-control" type="url" id="website" name="website" ng-class="{'edited':vm.supplier.website}" ng-model="vm.supplier.website">
                                <label>@L("Website")</label>
                            </div>
                        </div>
                        <div class="col-sm-4 margin-top-20">
                            <div class="md-checkbox">
                                <input id="SupplierMaterialTightlyCoupled" class="md-check" type="checkbox" name="SupplierMaterialTightlyCoupled" ng-class="{'edited':vm.supplier.loadOnlyLinkedMaterials}" ng-model="vm.supplier.loadOnlyLinkedMaterials" style="text-decoration: line-through;">
                                <label style="color:black" for="SupplierMaterialTightlyCoupled">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("SupplierMaterialTightlyCoupled") @L("In") @L("PurchaseOrder") &amp; @L("Invoice")
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-4 margin-top-20">
                            <div class="md-checkbox">
                                <input id="taxApplicable" class="md-check" type="checkbox" name="taxApplicable" ng-class="{'edited':vm.supplier.taxApplicable}" ng-model="vm.supplier.taxApplicable" style="text-decoration: line-through;">
                                <label style="color:black" for="taxApplicable">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Tax") @L("Applicable") ?
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4" ng-if="vm.supplier.taxApplicable">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control ucase" type="text" name="suppliername" ng-class="{'edited':vm.supplier.taxRegistrationNumber}" ng-model="vm.supplier.taxRegistrationNumber">
                                <label>@L("TaxRegistrationNumber")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">@L("Default") @L("PayMode")</label>
                                <ui-select class="borderself" id="defaultPayMode" ng-class="{'edited':vm.supplier.defaultPayModeEnumRefId}" ng-model="vm.supplier.defaultPayModeEnumRefId">
                                    <ui-select-match placeholder="Pay Mode...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.invoicePayModeList | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab heading="@L("Address")">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input uib-tooltip="Address Is Mandatory" tooltip-placement="bottom" class="form-control" type="text" id="address1" name="address1" ng-class="{'edited':vm.supplier.address1}" ng-model="vm.supplier.address1">
                                <label>@L("Address1")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.supplier.address1}" ng-model="vm.supplier.address2">
                                <label>@L("Address2")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="address3" ng-class="{'edited':vm.supplier.address3}" ng-model="vm.supplier.address3">
                                <label>@L("Address3")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" id="city" name="city" ng-class="{'edited':vm.supplier.city}" ng-model="vm.supplier.city">
                                <label>@L("City")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="state" ng-class="{'edited':vm.supplier.state}" ng-model="vm.supplier.state">
                                <label>@L("State")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="state" ng-class="{'edited':vm.supplier.state}" ng-model="vm.supplier.stateCode">
                                <label>@L("PinCode")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="country" ng-class="{'edited':vm.supplier.country}" ng-model="vm.supplier.country">
                                <label>@L("Country")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="zipcode" ng-class="{'edited':vm.supplier.zipCode}" ng-model="vm.supplier.zipCode">
                                <label>@L("ZipCode")</label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("GST")" ng-if="vm.gstenabledforIndia">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control ucase" autofocus type="text" id="SupplierLegalName" name="SupplierLegalName" ng-class="{'edited':vm.suppliergstinformation.supplierLegalName}" ng-model="vm.suppliergstinformation.supplierLegalName">
                                <label>@L("SupplierLegalName")</label>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control ucase" type="text" id="Gstin" name="Gstin" ng-class="{'edited':vm.suppliergstinformation.gstin}" ng-model="vm.suppliergstinformation.gstin">
                                            <label>@L("GST") @L("#")</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("GstStatus")</label>
                                            <ui-select class="borderself" id="selGstStatus" ng-change="vm.OwnPreparationSelection()" ng-class="{'edited':vm.suppliergstinformation.gstStatus}" ng-click="vm.gstStatusSelected()" ng-model="vm.suppliergstinformation.gstStatus">
                                                <ui-select-match placeholder="Select GST Status...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refgststatus | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" ng-if="vm.suppliergstinformation.gstin">
                            <img ng-dblclick="vm.changePicture(null)" ng-if="vm.suppliergstinformation.gstCertificate"
                                 ng-src="@Url.Action("GetFileUploadInfoById", "FileUpload")?id={{vm.suppliergstinformation.gstCertificate}}" width="128" height="128"
                                 class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                            <img ng-dblclick="vm.changePicture(vm.suppliergstinformation.id)" ng-if="!vm.suppliergstinformation.gstCertificate"
                                 src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">@L("ConstitutionStatus")</label>
                                <ui-select class="borderself" id="selConstitutionStatus" ng-change="vm.OwnPreparationSelection()" ng-class="{'edited':vm.suppliergstinformation.constitutionStatus}" ng-model="vm.suppliergstinformation.constitutionStatus" >
                                    <ui-select-match placeholder="Select Constitution Status...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refconstitutionStatus | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="md-checkbox">
                                <input id="ReverseChargeApplicable" class="md-check" type="checkbox" name="ReverseChargeApplicable" 
                                ng-disabled="vm.suppliergstinformation.payGstApplicable" ng-class="{'edited':vm.suppliergstinformation.reverseChargeApplicable}" ng-model="vm.suppliergstinformation.reverseChargeApplicable" style="text-decoration: line-through;">
                                <label for="ReverseChargeApplicable">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("ReverseChargeApplicable")
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="md-checkbox">
                                <input id="PayGstApplicable" class="md-check" type="checkbox" name="PayGstApplicable" 
                                       ng-disabled="vm.suppliergstinformation.reverseChargeApplicable"
                                       ng-class="{'edited':vm.suppliergstinformation.payGstApplicable}" ng-model="vm.suppliergstinformation.payGstApplicable" style="text-decoration: line-through;">
                                <label for="PayGstApplicable">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("PayGstApplicable")
                                </label>
                            </div>.
                        </div>
                    </div>
                    <div class="row" ng-if="false">
                        <div class="col-sm-12 center-block" ng-if="vm.suppliergstinformation.id">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("ExistingFile")</label> : <span>{{vm.suppliergstinformation.gstCertificate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" id="filebrowse">
                                <label>@L("GstCertificate")</label>
                                <br />
                                <input id="fileinput" type="file" nv-file-select size="120" uploader="vm.uploader" ng-click="vm.changeVariable()" />
                                <span class="help-block m-b-none">@L("GstCertificate_Change_Info")</span>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading='@L("Addon")' ng-if="vm.isAddonEnabled">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>@L("Qb")</label>
                                <input class="form-control ucase" ng-class="{'edited':vm.location.addOn}" ng-model="vm.supplier.addOn">
                            </div>
                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save()" ng-disabled="supplierCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

