﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.master.supplier.index as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Supplier").Pluralize()</span> <small>@L("SupplierHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            <button ng-if="vm.permissions.importData" class="btn btn-default yellow-casablanca" ng-click="vm.importSupplierMaterial()">
                <i class="fa fa-download"></i> @L("Import") @L("SupplierMaterial")
            </button>

            <button class="btn btn-default yellow" ng-click="vm.exportToExcelSupplierMaterial(null)">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel") @L("SupplierMaterial")
            </button>

            <button ng-if="vm.permissions.importData" class="btn btn-default" ng-click="vm.import()">
                <i class="fa fa-download"></i> @L("Import")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createSupplier()">
                <i class="fa fa-plus"></i> @L("CreateSupplier")
            </button>

        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Supplier")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
        </div>
    </div>
</div>

