﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />


<style>
    .modal-dialog {
        width: 95%;
    }
</style>

<div class="modal-dialog">
    <form name="supplierMaterialUomCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span> <span style="color:blue"> @L("Supplier"): {{vm.supplierRefName | uppercase}} </span> - <span style="color:purple" class="bold"> @L("Material") : {{vm.material.materialName | uppercase}} </span></span>
            </h4>
        </div>
        <h4 style="color:red">@L("UntiConversionMaterialWiseAlert") </h4>
        <div class="modal-body" busy-if="vm.loadingCount || vm.loading">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="{{vm.supplierRefName | uppercase}} - {{vm.material.materialName}}">
                    <a ng-if="vm.material.id" class="text-center"><h3> @L("UnitConversion")</h3></a>
                    <div ng-if="vm.material.id" style="border-style:outset;border-color:blueviolet">
                        <h4 style="color:blue">@L("UnitConversionMaterialWise")</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="pull-right" ng-if="vm.unitpermissions.create" data-toggle="tooltip" title="Click to add new Unit if needed" data-placement="top" ng-click="vm.openUnitMaster()" href="">@L("Create") @L("New") @L("Unit")</a>
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@L("baseUnitId") </th>
                                            <th class="text-center">@L("refUnitId")</th>
                                            <th class="text-right">@L("Default")</th>
                                            <th class="text-right">@L("Conversion")</th>
                                            <th class="text-right">@L("DecimalPlaceRounding")</th>
                                            <th class="text-center">@L("Supplier")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.supplierLinkedUnitConversionList">
                                        <td class="col-xs-2 text-center">
                                            <a ng-if="!data.editFlag"><span><b> {{data.baseUom}} </b> </span> </a>
                                            <ui-select id="selBaseUnit" class="borderself" ng-model="data.baseUnitId" ng-change="vm.baseUnitNameReference(data,$select.selected)" ng-if="data.editFlag">
                                                <ui-select-match placeholder="@L("baseUnitId")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.baseUnitId" repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2 text-center">
                                            <a ng-if="!data.editFlag"><span><b> {{data.refUom}} </b> </span> </a>
                                            <ui-select id="selRefUnit" class="borderself" ng-model="data.refUnitId" ng-change="vm.refUnitNameReference(data,$select.selected)" ng-if="data.editFlag">
                                                <ui-select-match placeholder="@L("refUnitId")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.refUnitId" repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2 text-right">
                                            @L("Conversion") : {{data.defaultConversion}}
                                            <br />
                                            @L("DecimalPlaceRounding") : {{data.defaultDecimalPlaceRounding}}
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <span ng-if="!data.editFlag"><span><b> {{data.conversion}} </b> </span> </span>
                                            <input id="Conversion" type="number" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="20" ng-model="data.conversion" ng-if="data.editFlag && data.refUnitId>0 && data.baseUnitId>0" />
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <span ng-if="!data.editFlag"><span><b> {{data.decimalPlaceRounding}} </b> </span> </span>
                                            <input id="DecimalPlaceRounding" type="number" class="form-control text-right" onkeypress="return NumberOnly(event, 'cancel')" maxlength="2" ng-model="data.decimalPlaceRounding" ng-if="data.editFlag && data.refUnitId>0 && data.baseUnitId>0" />
                                        </td>
                                        <td class="col-xs-3">
                                            <table class="table table-striped table-bordered table-condensed col-xs-12">
                                                <tr data-ng-repeat="(supindex,supdata) in data.linkedSupplierList">
                                                    <td class="text-xs-9">
                                                        <a ng-click="vm.unitConversionLink(supdata.id,vm.material.id)"> {{supdata.name}}</a>
                                                    </td>
                                                    <td class="text-xs-3">
                                                        <button type="button" class="btn-sm btn-danger" data-ng-click="vm.removeSupplier(data,supindex)" data-toggle="tooltip" title="@L("Remove") @L("Supplier") " data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@ ng-if="data.editFlag">
                                                            <i class="fa fa-trash"></i> <span></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                    <hr />
                </uib-tab>
                <uib-tab heading=" @L("UnitConversion") : @L("AddOrEdit")" active="vm.addTab">
                    <a ng-if="vm.material.id" class="text-center"><h3> @L("UnitConversion")</h3></a>
                    <div ng-if="vm.material.id" style="border-style:outset;border-color:blueviolet">
                        <h4 style="color:blue">@L("UnitConversionMaterialWise")</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="pull-right" ng-if="vm.unitpermissions.create" data-toggle="tooltip" title="Click to add new Unit if needed" data-placement="top" ng-click="vm.openUnitMaster()" href="">@L("Create") @L("New") @L("Unit")</a>
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th class="text-center">@L("baseUnitId") </th>
                                            <th class="text-center">@L("refUnitId")</th>
                                            <th class="text-right">@L("Default")</th>
                                            <th class="text-right">@L("Conversion")</th>
                                            <th class="text-right">@L("DecimalPlaceRounding")</th>
                                            <th class="text-center">@L("Supplier")</th>
                                            <th>@L("Save")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.unitConversionList">
                                        <td class="col-xs-1">
                                            <button type="button" class="btn btn-danger" data-ng-click="vm.removeUnitConversionPortion(data,index)" data-toggle="tooltip" title="@L("Remove")" data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@>
                                                <i class="fa fa-trash"></i> <span></span>
                                            </button>
                                            <button type="button" class="btn btn-primary fa-pull-right" data-ng-click="data.editFlag=true;data.doesUpdateRequired=true;" data-toggle="tooltip" title="@L("Edit")" data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@>
                                                <i class="fa fa-edit"></i> <span></span>
                                            </button>
                                        </td>
                                        <td class="col-xs-2 text-center">
                                            <a ng-if="!data.editFlag"><span><b> {{data.baseUom}} </b> </span> </a>
                                            <ui-select id="selBaseUnit" class="borderself" ng-model="data.baseUnitId" ng-change="vm.baseUnitNameReference(data,$select.selected)" ng-if="data.editFlag">
                                                <ui-select-match placeholder="@L("baseUnitId")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.baseUnitId" repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2 text-center">
                                            <a ng-if="!data.editFlag"><span><b> {{data.refUom}} </b> </span> </a>
                                            <ui-select id="selRefUnit" class="borderself" ng-model="data.refUnitId" ng-change="vm.refUnitNameReference(data,$select.selected)" ng-if="data.editFlag">
                                                <ui-select-match placeholder="@L("refUnitId")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.refUnitId" repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2 text-right">
                                            @L("Conversion") : {{data.defaultConversion}}
                                            <br />
                                            @L("DecimalPlaceRounding") : {{data.defaultDecimalPlaceRounding}}
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <span ng-if="!data.editFlag"><span><b> {{data.conversion}} </b> </span> </span>
                                            <input id="Conversion" type="number" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="20" ng-model="data.conversion" ng-if="data.editFlag && data.refUnitId>0 && data.baseUnitId>0" />
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <span ng-if="!data.editFlag"><span><b> {{data.decimalPlaceRounding}} </b> </span> </span>
                                            <input id="DecimalPlaceRounding" type="number" class="form-control text-right" onkeypress="return NumberOnly(event, 'cancel')" maxlength="2" ng-model="data.decimalPlaceRounding" ng-if="data.editFlag && data.refUnitId>0 && data.baseUnitId>0" />
                                        </td>
                                        <td class="col-xs-3">
                                            <table class="table table-striped table-bordered table-condensed col-xs-12">
                                                <tr data-ng-repeat="(supindex,supdata) in data.linkedSupplierList">
                                                    <td class="text-xs-9">
                                                        <a ng-click="vm.unitConversionLink(supdata.id,vm.material.id)"> {{supdata.name}}</a>
                                                    </td>
                                                    <td class="text-xs-3">
                                                        <button type="button" class="btn-sm btn-danger" data-ng-click="vm.removeSupplier(data,supindex)" data-toggle="tooltip" title="@L("Remove") @L("Supplier") " data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@ ng-if="data.editFlag">
                                                            <i class="fa fa-trash"></i> <span></span>
                                                        </button>
                                                    </td> q
                                                </tr>
                                            </table>
                                            <a @*ng-hide="data.createdBasedOnRecursive"*@ ng-if="data.editFlag" class="fa-pull-right" ng-click="vm.addCurrentSupplier(data,index)"> @L("Add") @L("Supplier") </a>
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <span ng-if="!data.editFlag">{{data.id}} </span>
                                            <button ng-if="data.editFlag" type="submit" class="btn btn-primary" data-ng-click="vm.saveUnitConversionPortion(index); vm.unitCoversionSave(data);" ng-disabled="!data.editFlag" data-toggle="tooltip" title="@L("Save")" data-placement="top">
                                                <i class="fa fa-save"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <a class="fa-pull-right" ng-click="vm.addUnitConversionPortion()" data-toggle="tooltip" title="@L("Add") @L("UnitConversion")" data-placement="top"> @L("Add") @L("Next") </a>
                                <br />
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                    <hr />
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.save()">@L("Close")</button>
        </div>
    </form>
</div>

