﻿
@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 80%;
    }
</style>


<div>
    <div class="modal-header">
        <div class="col-xs-6">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">@L("SalesDeliveryOrder").Pluralize() - {{vm.refreceiptnumber}} - {{vm.refreciptdate | date : YYYY-MMM-DD }}</span> 

            </h4>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
   
    <div class="modal-body">
        <div class="portlet light">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            @*<div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>*@

                        </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
           
        </div>
        


    </div>
</div>

@*<div ng-controller="tenant.views.house.transaction.inwarddirectcredit.detailViewInGrid as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("InwardDc").Pluralize()</span> <small>@L("DetailViewInGrid")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>*@

