﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.customersales.salesdeliveryorder.salesDoPrint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-6 text-right" ng-show="vm.printmailflag">
            @*<a ng-if="vm.smartprintourexists" ng-click="vm.printIn40Col()"> <span class="">40 Col <i class="fa fa-print"></i>  </span> </a>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>*@
            <a ng-click="vm.printmailflag=false;" onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
    </div>

    <div id="editor"></div>
    <center><h3> <b><u> @L("SalesDeliveryOrder")</u></b></h3></center>
    <div class="row">
        <div class="col-xs-8">
            <h6>    @L("Ref#"): {{vm.salesdeliveryorder.soRefId}} </h6>
        </div>
        <div class="col-xs-4 text-right">
            <h6>   @L("Date"): {{vm.salesdeliveryorder.deliveryDate| date : 'dd-MMM-yy'}} </h6>
        </div>
    </div>
    <div class="lineHr">.</div>
    <h5>
        <b>   @L("Customer") </b><br />
        {{vm.headerline}}
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.customerName.length>0">
                    {{vm.customer.customerName}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.address1.length>0">
                    {{vm.customer.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.address2.length>0">
                    {{vm.customer.address2}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.address3.length>0">
                    {{vm.customer.address3}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.city.length>0">
                    {{vm.customer.city}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-if="vm.customer.state.length>0">
                    {{vm.customer.state}}
                </div>
            </div>
       
        <div class="lineHr">.</div>
            <div class="row">
                <div class="col-xs-6">
                    <b>   @L("BillingAddress")</b>
                </div>
                <div class="col-xs-6">
                    <b>  @L("ShippingAddress") </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.name}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.address1}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.address2}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address2}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.address3}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address3}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.city}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.city}}
                </div>
            </div>
    </h5>

    <div class="lineHr">.</div>
    <div id="content" busy-if="vm.loading" ng-if="vm.salesDoPortion.length>=5">
        <h5>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered col-xs-12">
                        <thead>
                            <tr>
                                <th># . @L("Material")</th>
                                <th class="text-right">@L("Qty")</th>
                                <th class="text-right">@L("UOM")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in vm.salesDoPortion">
                            <td class="col-xs-4">
                                {{data.sno}} . <b> {{data.materialRefName}} </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b>  {{data.deliveryQty | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.unitRefName}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </h5>
    </div>
    <div  busy-if="vm.loading" ng-if="vm.salesDoPortion.length<5">
        <h5>
            <table class="table table-striped table-bordered col-xs-12">
                <thead>
                    <tr>
                        <th># . @L("Material")</th>
                        <th class="text-right">@L("Qty")</th>
                        <th class="text-right">@L("UOM")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.salesDoPortion">
                    <td class="col-xs-4">
                        {{data.sno}} . <b> {{data.materialRefName}} </b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <b>  {{data.deliveryQty | number:vm.housedecimals}}</b>
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.unitRefName}}
                    </td>
                </tr>
            </table>
        </h5>
    </div>
    @L("CreatedBy") : {{vm.user.name}}
</div>


        <script>
            function myFunction() {
                document.getElementById("divprintemail").style.visibility = "hidden";
                myPrint();
            }

            function myPrint() {
                window.print();
            }


            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };

            $('#cmd').click(function () {
                var doc = new jsPDF();
                doc.fromHTML($('#content').html(), 15, 15, {
                    'width': 170,
                    'elementHandlers': specialElementHandlers
                });
                doc.save('sample-file.pdf');
            });
        </script>
