﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script type="text/javascript">
</script>
<div ng-controller="tenant.views.house.transaction.customersales.salesdeliveryorder.salesDoMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.salesdeliveryorder.id">@L("EditSalesDeliveryOrder"): {{vm.salesdeliveryorder.id}}</span>
                        <span ng-if="!vm.salesdeliveryorder.id">@L("CreateSalesDeliveryOrder")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
<div class="portlet light">
 <div class="portlet-body">
     <div class="form">
    <form name="sdoDetailForm">
        <div class="form-body" busy-if="vm.loading">    
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">@L("Customer")</label>
                        <ui-select class="borderself" id="selcustomerRefId" ng-model="vm.salesdeliveryorder.customerRefId" ng-change="vm.fillDropDownSoReference();vm.fillDropDownMaterial()" required>
                            <ui-select-match placeholder="Select Customer...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices ng-model="vm.salesdeliveryorder.customerRefId" repeat="item.value as item in vm.refcustomer | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">@L("SoReferenceCode")</label>
                        <ui-select class="borderself" id="selpoid" ng-model="vm.salesdeliveryorder.soReferenceCode" >
                            <ui-select-match placeholder="SO Reference...">{{$select.selected.soReferenceCode}}</ui-select-match>
                            <ui-select-choices ng-model="vm.salesdeliveryorder.soRefId" repeat="vm.getpoid(po) as po in vm.refsoreferences | filter: $select.search">
                                <div ng-bind="po.soReferenceCode"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <button class="btn blue margin-top-30" ng-click="vm.fillDataFromPo()"><i class="fa fa-refresh"></i> </button>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label>@L("DcNumberGivenByCustomer")</label>
                        <input class="form-control" type="text" id="dcNumber" name="dcNumber" ng-class="{'edited':vm.salesdeliveryorder.dcNumberGivenByCustomer}" ng-model="vm.salesdeliveryorder.dcNumberGivenByCustomer" required>

                    </div>
                </div>
                <div class="col-xs-2">
                        <label class="control-label">@L("Date")</label>
                        <input id="deliveryDate" name="deliveryDate" class="form-control date-picker" ng-class="{'edited':vm.salesdeliveryorder.deliveryDate}" ng-model="vm.salesdeliveryorder.deliveryDate" />
                     </div>
            </div>
            <div class="row">
                <div class="col-xs-12" >
                    <table class="table table-striped table-bordered col-xs-12" >
                        <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th ng-if="false">@L("Code")</th>
                                <th>@L("MaterialName")</th>
                                <th class="text-right" >@L("Qty")</th>
                                <th>@L("Unit")</th>
                                <th>@L("Next")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                            <td class="col-xs-1">
                                <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(index)" />
                            </td>
                            <td class="col-xs-1" ng-if="false">
                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId"  />
                            </td>
                            <td  class="col-xs-5" >
                                <ui-select id="selMaterial" class="borderself" ng-value="data.materialRefName" ng-change="func(data,$select.selected)" ng-model="data.materialRefId" required>
                                    <ui-select-match  placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                                    <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.tempRefMaterial | filter: $select.search  | limitTo: vm.uilimit">
                                        <div ng-bind="item.materialRefName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>

                            <td class="col-xs-1">
                                <input id="rcdqty" type="number" class="form-control text-right" onkeypress="return NumberWithFractionBasedOnInput(this.value,event,'cancel',true)" maxlength="10" ng-model="data.deliveryQty" required />
                            </td>
                            <td class="col-xs-1" >
                                <input id="uom" type="text" class="form-control text-right" ng-model="data.unitRefName" ng-disabled="true" />

                                @*<ui-select class="borderself" ng-change="func(data.unitRefId)" ng-model="data.unitRefId" >
                                    <ui-select-match id="selUnit" placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.tempRefUnit | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>*@
                            </td>
                            <td class="col-xs-1">
                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                </button>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="row margin-top-15">
                <div style="display:block;float:right;">
                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    @*&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="idcDetailForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>*@
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="idcDetailForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
        </div>
            </div>
</form>
     </div>
</div>
</div>
</div>
