﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.yield.yield as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.yield.id">@L("EditYield"): {{vm.yield.Id}}</span>
                        <span ng-if="!vm.yield.id">@L("CreateYield")</span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-3 text-right">
            <div class="form-group" ng-disabled="!vm.inputeditallowed">
                <ui-select class="borderself" ng-disabled="vm.yield.id" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()">
                    <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-1 text-bold">
            <div class="form-group">
                <button class="btn blue" ng-disabled="vm.yield.id" ng-click="vm.fillDataFromTemplate()"><i class="fa fa-refresh"></i> </button>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="yieldCreateOrEditForm">
                    <div class="form-body" busy-if="vm.loading || vm.loadingCount">
                        <div class="row" ng-if="vm.productionUnitExistsFlag">
                            <div class="col-xs-10">
                                <div class="form-group" ng-if="vm.productionUnitExistsFlag">
                                    <ui-select class="borderself" ng-disabled="!vm.inputeditallowed" ng-model="vm.yield.productionUnitRefId">
                                        <ui-select-match placeholder="Production Unit ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refproductionunit | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("IssueTime")</label>
                                    <input name="issueTime" id="issueTime" class="form-control date-picker"
                                           ng-class="{'edited':vm.yield.issueTime}" ng-model="vm.yield.issueTime" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("YieldReference")</label>
                                    <input id="quoteref" type="text" class="form-control" ng-model="vm.yield.requestSlipNumber" ng-change="vm.showErrorProductionUnitNotSelected()"
                                           ng-class="{'edited' : vm.yield.requestSlipNumber}" />
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="md-checkbox">
                                    <input id="recipeFlag" class="md-check" type="checkbox" ng-model="checked" name="ForParticularRecipe" ng-click="vm.filterMaterial()" />
                                    <label for="recipeFlag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ForParticularRecipe")
                                    </label>
                                    <ui-select ng-change="RecipeFunc($select.selected)" class="borderself" ng-model="vm.yield.recipeRefId" ng-disabled="!checked || !vm.inputeditallowed">
                                        <ui-select-match placeholder="Select Recipe...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refRecipe | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group" ng-if="checked">
                                    <label>@L("PrdBatchQty")</label>
                                    <input class="form-control" type="text" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" name="productionqty" ng-class="{'edited':vm.yield.recipeProductionQty}" ng-model="vm.yield.recipeProductionQty" ng-disabled="!vm.inputeditallowed" required>
                                </div>
                            </div>
                            <div class="col-xs-1" ng-if="checked">
                                <div class="form-group">
                                    <button class="btn blue margin-top-20" ng-click="vm.getDetailMaterial()" ng-disabled="!vm.inputeditallowed"><i class="fa fa-refresh"></i> </button>
                                </div>
                            </div>

                            <div class="col-xs-2" ng-if="false">
                                <div class="form-group">
                                    <label class="control-label">@L("CompletedTime")</label>
                                    <input name="completedTime" id="completedTime" class="form-control date-picker"
                                           ng-class="{'edited':vm.yield.completedTime}" ng-model="vm.yield.completedTime" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <caption class="text-center"> <strong> @L("YieldInputMaterial") </strong> </caption>
                                        <tr>
                                            <th>@L("Action")</th>
                                            <th>@L("MaterialName")</th>
                                            <th class="text-right">@L("IssueQty")</th>
                                            <th class="text-right">@L("OnHand")</th>
                                            <th>@L("UOM")</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.yieldInputDetailPortion">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                        </td>
                                        <td class="col-xs-3">
                                            <ui-select class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected,vm.yieldInputDetailPortion)" ng-model="data.materialRefId" ng-disabled="!vm.inputeditallowed">
                                                <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="mat.id as mat in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                    <div ng-bind="mat.materialName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-1">
                                            <input id="inputQty" type="text"
                                                   class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" ng-model="data.inputQty" ng-disabled="!vm.inputeditallowed" required />
                                        </td>
                                        <td class="col-xs-1" align="right">
                                            <span class="text-bold"> {{data.currentInHand}} / {{data.uom}} </span>
                                        </td>
                                        <td class="col-xs-1">
                                            <a ng-if="!data.changeunitflag" ng-disabled="vm.yield.id" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                            <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="vm.yield.id || !vm.mutlipleUomAllowed">
                                                <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>

                                        <td class="col-xs-1">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-disabled="!data.materialRefId">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.outputeditallowed">
                            <div class="col-xs-10">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <caption class="text-center"> <strong>@L("YieldOutputMaterial") </strong> </caption>
                                    <thead>
                                        <tr>
                                            <th class="text-bold">@L("Action")</th>
                                            <th class="text-bold">@L("MaterialName")</th>
                                            <th class="text-bold text-right">@L("YieldQty")</th>
                                            <th class="text-bold text-right">@L("OnHand")</th>
                                            <th class="text-bold">@L("UOM")</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.yieldOutputDetailPortion">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.outremoveRow(index)" />
                                        </td>
                                        <td class="col-xs-3">
                                            <ui-select class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected,vm.yieldOutputDetailPortion)" ng-model="data.materialRefId" ng-disabled="!vm.outputeditallowed">
                                                <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="mat.id as mat in vm.refmaterialoutput | filter: $select.search">
                                                    <div ng-bind="mat.materialName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-1">
                                            <input id="outputQty" type="number" class="form-control text-right"
                                                   onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.outputQty" ng-disabled="!vm.outputeditallowed" />
                                        </td>
                                        <td class="col-xs-1" align="right">
                                            <span ng-if="data.materialRefId" class="text-bold">{{data.currentInHand}} / {{data.uom}}</span>
                                        </td>
                                        <td class="col-xs-1">
                                            <a ng-if="!data.changeunitflag" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                            <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed">
                                                <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </td>

                                        <td class="col-xs-1">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.outputaddPortion()" ng-disabled="!data.materialRefId">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>

                                    </tr>
                                </table>
                            </div>


                        </div>

                        <div class="row margin-top-15">

                            <div class="col-xs-2 margin-bottom-40">
                                <div class="md-checkbox">
                                    <input id="SaveAsTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templateflag" style="text-decoration: line-through;">
                                    <label for="SaveAsTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SaveAsTemplate")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group" ng-show="vm.templatesave.templateflag">
                                    @*<label class="control-label">@L("TemplateName")</label>*@
                                    <input id="tname" placeholder=@L("TemplateName") type="text" class="form-control ucase" ng-model="vm.templatesave.templatename" ng-disabled="!vm.templatesave.templateflag" />
                                </div>
                            </div>
                            <div class="col-xs-2" @*ng-show="vm.templatesave.templateflag"*@>
                                <div class="md-checkbox" ng-disabled="!vm.templatesave.templateflag" ng-show="vm.templatesave.templateflag">
                                    <input id="GlobalTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templatescope" style="text-decoration: line-through;">
                                    <label for="GlobalTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("GlobalTemplate")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" busy-text="@L("Decline")" class="btn btn-danger" ng-click="vm.save('Declined')" ng-disabled="yieldCreateOrEditForm.$invalid" ng-if="vm.permissions.approve && vm.yield.id">
                                        <i class="fa fa-save"></i> <span>@L("Decline")</span>
                                    </button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary" ng-click="vm.save('Pending')" ng-disabled="yieldCreateOrEditForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("Approve")" class="btn btn-primary blue" ng-click="vm.save('Approved')" ng-disabled="yieldCreateOrEditForm.$invalid" ng-if="vm.permissions.approve">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndApprove")</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
