﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.transaction.yield.yieldPrint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
    </div>
    <div id="editor"></div>

    <center><h3> <b><u> @L("Yield")</u></b></h3></center>
    <div class="row">
        <div class="col-xs-8">
            <h6>    @L("Reference"): {{vm.yield.requestSlipNumber}} </h6>
        </div>
        <div class="col-xs-4 text-right">
            <h6>   @L("IssueTime"): {{vm.yield.issueTime | date : 'medium'}} </h6>
        </div>
    </div>
    <h6 ng-if="vm.yield.recipeProductionQty">
        @L("Recipe"): {{vm.recipename}}
        <span ng-if="vm.yield.recipeProductionQty"> -    @L("PrdBatchQty") : {{vm.request.recipeProductionQty | number:vm.housedecimals}}</span>
    </h6>
    <div id="content" ng-if="vm.yieldInputDetailPortion.length>0">
			<h4 class="text-center">@L("Yield") @L("Input")</h4>
         <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Sno")</th>
                            <th>@L("Code")</th>
                            <th>@L("MaterialName")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-center">@L("UOM")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.yieldInputDetailPortion">
                        <td class="col-xs-1">
                            {{data.sno}}
                        </td>
                        <td class="col-xs-1">
                            <b> {{data.materialRefId}} </b>
                        </td>
                        <td class="col-xs-3">
                            <b> {{data.materialRefName}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.inputQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.unitRefName}}
                        </td>
                    </tr>


                </table>
            </div>
        </div>
        <hr />
        <div class="lineHr">.</div>
    </div>

	<div id="content" ng-if="vm.yieldOutputDetailPortion.length>0">
		<h4 class="text-center">@L("Yield") @L("Output")</h4>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered col-xs-12">
					<thead>
						<tr>
							<th>@L("Sno")</th>
							<th>@L("Code")</th>
							<th>@L("MaterialName")</th>
							<th class="text-right">@L("Qty")</th>
							<th class="text-center">@L("UOM")</th>
						</tr>
					</thead>

					<tr data-ng-repeat="(index,data) in vm.yieldOutputDetailPortion">
						<td class="col-xs-1">
							{{data.sno}}
						</td>
						<td class="col-xs-1">
							<b> {{data.materialRefId}} </b>
						</td>
						<td class="col-xs-3">
							<b> {{data.materialRefName}} </b>
						</td>
						<td class="col-xs-1 text-right">
							<b>  {{data.outputQty | number:vm.housedecimals}}</b>
						</td>
						<td class="col-xs-1 text-right">
							{{data.unitRefName}}
						</td>
					</tr>


				</table>
			</div>
		</div>
		<hr />
		<div class="lineHr">.</div>


		<div>
			<div class="row">
				<div class="col-xs-12">
					<small>  @L("SignNotRequired") </small>
				</div>
			</div>
		</div>
	</div>
 


</div>
