﻿body {
}

.table__title {
    background-color: #337AB7;
    text-transform: uppercase;
    color: #FFFFFF;
}

.table__title > th{
    text-align: center;
}

.table__highlight {
    background-color: #808080;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

.table__header {
    background-color: #808080;
    color: #FFFFFF;
}
