<div style="max-height: 800px; overflow-y: auto;" busy-if="vm.loading">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("WorkDay") :  {{vm.workday.reportStartDay| date:vm.datetimeFormat}} - {{ vm.workday.locationCode }}</span>
        </h4>
        <div class="row" style="margin-top: 17px;">
            <div class="form-group col-md-12">
                <div class="col-md-2">
                    <label class="control-label">@L("Workshift")</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control selectpicker"
                            ng-model="value"
                            ng-options="x.uniqueId as (x.startDate|date:'short')  + ' - '+ (x.endDate|date:'short')  for x in vm.workday.workShifts"
                            ng-change="selectedWorkShift(value)"></select>
                </div>
            </div>
        </div>
        <div class="row col-md-offset-6">
			<div class="form-group">
				<div class="btn-group">
					<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-file-excel-o"></i> @L("Export")
						<i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
						</li>
						@*<li>
					<a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
				</li>*@
					</ul>
				</div>
				<button type="button" class="btn btn-default" ng-click="vm.getWorkdayData()">@L("Refresh")</button>
				<button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
			</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-if="vm.ticket">
                    <table class="table table-bordered">
                        <tr class="table__title">
                            <th colspan="2">@L("Sales")</th>
                        </tr>
                        <tr class="table__highlight">
                            <td>
                                @L("SubTotal")
                            </td>
                            <td class="text-right">
                                {{vm.ticket.ticketTypeReportData.subTotal | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @L("Tax")
                            </td>
                            <td class="text-right">
                                {{vm.ticket.ticketTypeReportData.tax | number:vm.decimals}}
                            </td>
                        </tr>

                        <tr class="table__highlight">
                            <td> @L("TotalSales") </td>
                            <td class="text-right">{{vm.ticket.ticketTypeReportData.totalSales | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>
                                @L("TicketCount")
                            </td>
                            <td class="text-right">
                                {{vm.ticket.ticketTypeReportData.ticketCount}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @L("SalesAverage")
                            </td>
                            <td class="text-right">
                                {{vm.ticket.ticketTypeReportData.average | number:vm.decimals}}
                            </td>
                        </tr>
                        <tr ng-repeat="t in vm.ticketTypeReportData.transactions">
                            <td>
                                {{t.name}}
                            </td>
                            <td class="text-right">
                                {{t.value | number:vm.decimals}}
                            </td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.departments">
                        <tr class="table__title">
                            <th colspan="3">@L("Department")</th>
                        </tr>
                        <tr class="table__header">
                            <th>@L("Department")</th>
                            <th>@L("TicketCount")</th>
                            <th>@L("Total")</th>
                        </tr>
                        <tr ng-repeat="department in vm.ticket.departments">
                            <td>{{department.depatName}}</td>
                            <td class="text-right">{{department.count}}</td>
                            <td class="text-right">{{department.amount | number:vm.decimals}}</td>
                        </tr>
                        <tr class="table__highlight">
                            <td>@L("Total")</td>
                            <td class="text-right">{{vm.sum(vm.ticket.departments, "count")}}</td>
                            <td class="text-right">{{vm.sum(vm.ticket.departments, "amount") | number:vm.decimals}}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.paymentTypeReportData.details">
                        <tr class="table__title">
                            <th colspan="3">@L("Payments")</th>
                        </tr>
                        <tr class="table__header">
                            <th>@L("PaymentType")</th>
                            <th>@L("Count")</th>
                            <th>@L("Actual")</th>
                        </tr>
                        <tr ng-repeat="paymentType in vm.ticket.paymentTypeReportData.details">
                            <td>{{paymentType.paymentName}}</td>
                            <td class="text-right">{{paymentType.count}}</td>
                            <td class="text-right">{{paymentType.actualSales | number:vm.decimals}}</td>
                        </tr>
                        <tr class="table__highlight">
                            <td>@L("Total")</td>
                            <td class="text-right">{{vm.sum(vm.ticket.paymentTypeReportData.details, "count")}}</td>
                            <td class="text-right">{{vm.sum(vm.ticket.paymentTypeReportData.details, "actualSales") | number:vm.decimals}}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.cashReportData">
                        <tr class="table__title">
                            <th colspan="3">@L("Cash")</th>
                        </tr>
                        <tr class="table__header">
                            <th>@L("Type")</th>
                            <th>@L("Count")</th>
                            <th>@L("Total")</th>
                        </tr>
                        <tr>
                            <td colspan="2">@L("Cash")</td>
                            <td class="text-right">{{vm.ticket.cashReportData.cashAmount | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("CashIn")</td>
                            <td class="text-right">{{vm.ticket.cashReportData.cashIn}}</td>
                            <td class="text-right">{{vm.ticket.cashReportData.allIncomeAmount | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("CashOut")</td>
                            <td class="text-right">{{vm.ticket.cashReportData.cashOut}}</td>
                            <td class="text-right">{{vm.ticket.cashReportData.allExpAmount | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("CashInDrawer")</td>
                            <td class="text-right">{{0}}</td>
                            <td class="text-right">{{vm.ticket.cashReportData.cashInDrawer | number:vm.decimals}}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.workTimePaTable.details">
                        <tr class="table__title">
                            <th colspan="4">@L("WorkShift")</th>
                        </tr>
                        <tr class="table__header">
                            <th>@L("PaymentType")</th>
                            <th>@L("Actual")</th>
                            <th>@L("In Hand")</th>
                            <th>@L("Difference")</th>
                        </tr>
                        <tr ng-repeat="workTime in vm.ticket.workTimePaTable.details">
                            <td>{{workTime.paymentName}}</td>
                            <td class="text-right">{{workTime.actualTotal | number:vm.decimals}}</td>
                            <td class="text-right">{{workTime.inSalesTotal | number:vm.decimals}}</td>
                            <td class="text-right">{{workTime.differenceTotal | number:vm.decimals}}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.ticketsPromotionReportData.details">
                        <tr class="table__title">
                            <th colspan="3">@L("TicketPromotions")</th>
                        </tr>
                        <tr class="table__header">
                            <th>@L("Names")</th>
                            <th>@L("Quantity")</th>
                            <th>@L("Amount")</th>
                        </tr>
                        <tr ng-repeat="promotion in vm.ticket.ticketsPromotionReportData.details">
                            <td>{{promotion.promotionName}}</td>
                            <td class="text-right">{{promotion.quantity}}</td>
                            <td class="text-right">{{promotion.amount | number:vm.decimals}}</td>
                        </tr>
                        <tr class="table__highlight">
                            <td>@L("Total")</td>
                            <td class="text-right">{{ vm.ticket.ticketsPromotionReportData.totalCount}}</td>
                            <td class="text-right">{{ vm.ticket.ticketsPromotionReportData.totalSum | number:vm.decimals}}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.itemsData">
                        <tr class="table__title">
                            <th colspan="2">@L("GeneralInformation")</th>
                        </tr>
                        <tr class="table__header">
                            <th colspan="2">@L("Items")</th>
                        </tr>
                        <tr>
                            <td>@L("PaidItemsCount")</td>
                            <td class="text-right">{{vm.ticket.itemsData.totalPaidItems | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("PaidItemsTotal")</td>
                            <td class="text-right">{{vm.ticket.itemsData.totalPaidItemTotal | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("ItemsCount")</td>
                            <td class="text-right">{{vm.ticket.itemsData.itemCount | number:vm.decimals}}</td>
                        </tr>

                        <tr class="table__header">
                            <th colspan="2">@L("Orders")</th>
                        </tr>
                        <tr>
                            <td>@L("PaidOrdersCount")</td>
                            <td class="text-right">{{vm.ticket.ordersReportData.totalPaidItemsorderCount | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("PaidOrdersTotal")</td>
                            <td class="text-right">{{vm.ticket.ordersReportData.totalPaidItemsorderValue | number:vm.decimals}}</td>
                        </tr>
                        <tr>
                            <td>@L("OrderCount")</td>
                            <td class="text-right">{{vm.ticket.ordersReportData.orderCount | number:vm.decimals}}</td>
                        </tr>
                        <tr ng-repeat="orderState in vm.ticket.ordersReportData.orderStateReports">
                            <td>{{orderState.state}} ({{orderState.count}})</td>
                            <td class="text-right">{{orderState.amount | number:vm.decimals}}</td>
                        </tr>

                        <tr class="table__header">
                            <th colspan="2">@L("Tickets")</th>
                        </tr>
                        <tr ng-repeat="tickets in vm.ticket.ticketsReportData.ticketStateReports">
                            <td>{{tickets.state}} ({{tickets.count}})</td>
                            <td class="text-right">{{tickets.amount | number:vm.decimals}}</td>
                        </tr>
                        <tr class="table__header">
                            <th colspan="2">@L("Tickets")</th>
                        </tr>
                        <tr>
                            <td>@L("StartTicketNumber")</td>
                            <td class="text-right">{{vm.ticket.ticketsReportData.firstTicketNumber}}</td>
                        </tr>
                        <tr>
                            <td>@L("EndTicketNumber")</td>
                            <td class="text-right">{{vm.ticket.ticketsReportData.lastTicketNumber}}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.ticketTagsReportData">
                        <tr class="table__title">
                            <th colspan="2">@L("TicketTags")</th>
                        </tr>
                        <tbody ng-repeat="ticketTag in vm.ticket.ticketTagsReportData">
                            <tr>
                                <td colspan="2">{{ticketTag.groupName}}</td>
                            </tr>
                            <tr ng-if="ticketTag.isDecimal">
                                <td>@L("TicketCount")</td>
                                <td class="text-right">{{ticketTag.tCount| number:vm.decimals}}</td>
                            </tr>
                            <tr ng-if="ticketTag.isDecimal">
                                <td>@L("Rate")</td>
                                <td class="text-right">{{ticketTag.rate| number:vm.decimals}}</td>
                            </tr>
                            <tr ng-if="ticketTag.isDecimal">
                                <td>@L("Total") {{ticketTag.groupName}}</td>
                                <td class="text-right">{{ticketTag.amnt| number:vm.decimals}}</td>
                            </tr>
                            <tr ng-if="!ticketTag.isDecimal" ng-repeat="subRow in ticketTag.subRows">
                                <td>{{subRow.tagName}} ({{subRow.ticketCount}})</td>
                                <td class="text-right">{{subRow.amount | number:vm.decimals}}</td>
                            </tr>
                            <tr ng-if="!ticketTag.isDecimal">
                                <td>@L("Total") ({{ticketTag.groupName}})</td>
                                <td class="text-right">{{ticketTag.totalAmount | number:vm.decimals}}</td>
                            </tr>
                            <tr ng-if="!ticketTag.isDecimal && ticketTag.isInterger">
                                <td>@L("Total") {{ticketTag.groupName}}</td>
                                <td class="text-right">{{ticketTag.sum | number:vm.decimals}}</td>
                            </tr>
                            <tr ng-if="!ticketTag.isDecimal && ticketTag.sum > 0">
                                <td>@L("Avg")/{{ticketTag.groupName}}</td>
                                <td class="text-right">{{ticketTag.average | number:vm.decimals}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered" ng-if="vm.ticket.ownersReportData.details">
                        <tr class="table__title">
                            <th colspan="2">@L("UserSales")</th>
                        </tr>
                        <tr ng-repeat="user in vm.ticket.ownersReportData.details">
                            <td>{{user.userName}}</td>
                            <td class="text-right">{{user.amount | number:vm.decimals}}</td>
                        </tr>
                        <tr class="table__highlight">
                            <td>@L("Total")</td>
                            <td class="text-right">{{vm.ticket.ownersReportData.totalOwnersAmount | number:vm.decimals}}</td>
                        </tr>
                    </table>

                    <table ng-repeat="user in vm.ticket.usersIncomeReportData" class="table table-bordered">
                        <tr class="table__title">
                            <th colspan="3">@L("SettledBy") {{user.paymentUserName}}</th>
                        </tr>
                        <tr ng-repeat="payment in user.paymentTypes">
                            <td>{{payment.paymentName}}</td>
                            <td class="text-right">% {{payment.percent | number: 2}}</td>
                            <td class="text-right">{{payment.amount | number:vm.decimals}}</td>
                        </tr>
                        <tr class="table__highlight">
                            <td>@L("Total")</td>
                            <td class="text-right">% {{vm.sum(user.paymentTypes, "percent") | number: 2}}</td>
                            <td class="text-right">{{vm.sum(user.paymentTypes, "amount") | number:vm.decimals}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>