﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="departmentCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.department.id">@L("EditConnectTables"): {{vm.table.name}}</span>
                <span ng-if="!vm.department.id">@L("CreateConnectTables")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-hint">
                        <label>@L("Name")</label>
                        <input class="form-control ucase" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.table.name}" ng-model="vm.table.name" required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group no-hint">
                        <label>@L("Pax")</label>
                        <input class="form-control ucase" type="number" name="pax" ng-class="{'edited':vm.table.name}" ng-model="vm.table.pax" required>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="departmentCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

