@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div>
    <form name="userCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.user.id">@L("EditUser"): {{vm.user.userName}}</span>
                <span ng-if="!vm.user.id">@L("CreateNewUser")</span>
            </h4>
        </div>
		<div class="modal-body">
			<uib-tabset class="tab-container tabbable-line">
				<uib-tab heading="@L("UserInformations")">

					<div class="row">
						<div class="col-sm-4 text-center">
							<img ng-if="vm.profilePictureId" ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.profilePictureId}}" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
							<img ng-if="!vm.profilePictureId" src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
						</div>
						<div class="col-sm-8">
							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<input class="form-control" type="text" name="Name" ng-class="{'edited':vm.user.name}" ng-model="vm.user.name" required maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxNameLength">
								<label>@L("Name")</label>
							</div>

							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<input type="text" name="Surname" class="form-control" ng-class="{'edited':vm.user.surname}" ng-model="vm.user.surname" required maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxSurnameLength">
								<label>@L("Surname")</label>
							</div>
						</div>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input type="email" name="EmailAddress" class="form-control" ng-class="{'edited':vm.user.emailAddress}" ng-model="vm.user.emailAddress" required maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxEmailAddressLength">
						<label>@L("EmailAddress")</label>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label">
						<input type="text" ng-disabled="!vm.canChangeUserName" ng-class="{'edited':vm.user.userName}" name="UserName" class="form-control" ng-model="vm.user.userName" required maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxUserNameLength">
						<label>@L("UserName")</label>
						<span class="help-block" ng-show="!vm.canChangeUserName">@L("CanNotChangeAdminUserName")</span>
					</div>

					<div class="md-checkbox-list" ng-if="!vm.userId">
						<div class="md-checkbox">
							<input id="EditUser_SetRandomPassword" class="md-check" type="checkbox" name="SetRandomPassword" ng-model="vm.setRandomPassword">
							<label for="EditUser_SetRandomPassword">
								<span class="inc"></span>
								<span class="check"></span>
								<span class="box"></span>
								@L("SetRandomPassword")
							</label>
						</div>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.setRandomPassword && !vm.userId">
						<input type="password" name="Password" class="form-control" ng-model="vm.user.password" ng-required="!vm.user.id && !vm.setRandomPassword" maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxPlainPasswordLength" ng-minlength="@DinePlan.DineConnect.Authorization.Users.User.MinPlainPasswordLength">
						<label>@L("Password")</label>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.setRandomPassword && !vm.userId">
						<input type="password" name="PasswordRepeat" class="form-control" ng-model="vm.user.passwordRepeat" ng-required="!vm.user.id && !vm.setRandomPassword" maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxPlainPasswordLength" ui-validate=" '$value==vm.user.password' " ui-validate-watch=" 'vm.user.password' " ng-minlength="@DinePlan.DineConnect.Authorization.Users.User.MinPlainPasswordLength">
						<label>@L("PasswordRepeat")</label>
					</div>

					<div class="md-checkbox-list">
						<div class="md-checkbox">
							<input id="EditUser_ShouldChangePasswordOnNextLogin" class="md-check" type="checkbox" name="ShouldChangePasswordOnNextLogin" ng-model="vm.user.shouldChangePasswordOnNextLogin">
							<label for="EditUser_ShouldChangePasswordOnNextLogin">
								<span class="inc"></span>
								<span class="check"></span>
								<span class="box"></span>
								@L("ShouldChangePasswordOnNextLogin")
							</label>
						</div>
						<div class="md-checkbox">
							<input id="EditUser_SendActivationEmail" class="md-check" type="checkbox" name="SendActivationEmail" ng-model="vm.sendActivationEmail">
							<label for="EditUser_SendActivationEmail">
								<span class="inc"></span>
								<span class="check"></span>
								<span class="box"></span>
								@L("SendActivationEmail")
							</label>
						</div>
						<div class="md-checkbox">
							<input id="EditUser_IsActive" class="md-check" type="checkbox" name="IsActive" ng-model="vm.user.isActive">
							<label for="EditUser_IsActive">
								<span class="inc"></span>
								<span class="check"></span>
								<span class="box"></span>
								@L("Active")
							</label>
						</div>
					</div>

				</uib-tab>
				<uib-tab heading="@L("Account") @L("Information")">
					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<label class="control-label">@L("StartDate") @L("Of") @L("Account") @L("Validity")</label>
						<input id="gltgv"
							   name="gltgv"
							   class="form-control date-picker"
							   ng-model="vm.user.userJsonDataObject.gltgv" ng-change="validateDate()" autocomplete="off" />
					</div>
					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<label class="control-label">@L("EndDate") @L("Of") @L("Account") @L("Validity")</label>
						<input id="gltgb"
							   name="gltgb"
							   class="form-control date-picker"
							   ng-model="vm.user.userJsonDataObject.gltgb" ng-change="validateDate()" autocomplete="off" />
					</div>
					<div class="form-group form-md-line-input  no-hint">
						<label class="control-label">@L("Log") @L("On") @L("Language")</label>
						<ui-select class="borderself" ng-model="vm.user.userJsonDataObject.language">
							<ui-select-match placeholder="@L("Select") @L("Language") @L("Name")">{{$select.selected.displayName}}</ui-select-match>
							<ui-select-choices repeat="item.displayName as item in vm.reflanguageCode | filter: $select.search">
								<div ng-bind="item.displayName"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</uib-tab>
				<uib-tab heading="@L("Contact") @L("Information")">
					<div class="row">
						<div class="col-md-10">
							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<input type="tel" name="TelephoneNumber" class="form-control" ng-class="{'edited':vm.user.userJsonDataObject.tel1_Number}" ng-model="vm.user.userJsonDataObject.tel1_Number">
								<label>@L("Telephone")</label>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<input type="tel" name="TelephoneExt" class="form-control" ng-class="{'edited':vm.user.userJsonDataObject.tel1_Ext}" ng-model="vm.user.userJsonDataObject.tel1_Ext">
								<label>@L("Ext")</label>
							</div>
						</div>
					</div>
					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="FaxNumber"
							   ng-class="{'edited':vm.user.userJsonDataObject.faxNumber}"
							   ng-model="vm.user.userJsonDataObject.faxNumber">
						<label>@L("FaxNumber") </label>
					</div>
					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="Mobile"
							   ng-class="{'edited':vm.user.userJsonDataObject.mobile}"
							   ng-model="vm.user.userJsonDataObject.mobile">
						<label>@L("Mobile") </label>
					</div>
					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input class="form-control" type="text" name="Department"
							   ng-class="{'edited':vm.user.userJsonDataObject.department}"
							   ng-model="vm.user.userJsonDataObject.department">
						<label>@L("Department") </label>
					</div>
				</uib-tab>
				<uib-tab>
					<uib-tab-heading>
						@L("Roles") @*<b class="badge badge-primary">{{vm.getAssignedRoleCount()}}</b>*@
					</uib-tab-heading>
					@*<div class="md-checkbox-list">
					<div class="md-checkbox" ng-repeat="role in vm.roles">
						<input id="EditUser_{{role.roleName}}" class="md-check" type="checkbox" name="{{role.roleName}}" ng-model="role.isAssigned">
						<label for="EditUser_{{role.roleName}}">
							<span class="inc"></span>
							<span class="check"></span>
							<span class="box"></span>
							{{role.roleDisplayName}}
						</label>
					</div>
				</div>*@
					<div class="modal-body">

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">@L("Roles") - @L("Count") :{{ vm.selectedUserRoles.length }} </label>
									<ui-select multiple ng-model="vm.selectedUserRoles" ng-change="vm.setUserRolesSelection()" class="form-control">
										<ui-select-match placeholder=@L("Object")>{{$item.roleDisplayName}}</ui-select-match>
										<ui-select-choices repeat="role in vm.roles">
											<small>
												@L("Name"): {{role.roleDisplayName}}
											</small>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="input-group">
									<input ng-model="vm.filterUserRole" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.init()">
									<span class="input-group-btn">
										<button ng-click="vm.init()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12" busy-if="vm.loading">
								<div ui-grid="vm.roleOptions" style="height: 500px;" ui-grid-pagination ui-grid-selection ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
							</div>
						</div>
					</div>
				</uib-tab>
				<uib-tab ng-if="false">
					<uib-tab-heading>
						@L("Locations") <b class="badge badge-primary"></b>
					</uib-tab-heading>
					<div class="row margin-top-10">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="control-label">@L("Company")</label>
								<ui-select multiple ng-model="vm.allowedCompany" ng-change="vm.filterLocations()" class="form-control">
									<ui-select-match placeholder="">{{$item.displayText}}</ui-select-match>
									<ui-select-choices repeat="company in vm.refcompany">
										<small>
											@L("Name"): {{ company.displayText }}
										</small>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="row margin-top-30">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="control-label">@L("Locations")</label>
								<ui-select multiple ng-model="vm.requestlocations" class="form-control">
									<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
									<ui-select-choices repeat="location in vm.locations">
										<small>
											@L("Name"): {{ location.name }}
											<br />
											@L("Code"): {{ location.code }}
										</small>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="row margin-top-30">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="control-label">@L("DefaultLocation")</label>
								<ui-select class="borderself" ng-model="vm.defaultLocationRefId">
									<ui-select-match id="defaultLocationRefId" placeholder="">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="location.id as location in vm.requestlocations | filter: $select.search">
										<div ng-bind="location.name"></div>
										<small>
											city:<span ng-bind-html="locitems.city"></span>
										</small>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>

			<div ng-if="vm.passwordPolicyChecked!=null">
				<p class="m-heading-1 border-yellow-gold m-bordered" ng-bind-html="vm.passwordPolicyChecked.description">
				</p>
			</div>
		</div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.submitData()" ng-disabled="userCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>