﻿<div ng-controller="tenant.views.addons.grab as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Grab")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="row">
             
                <div class="col-sm-12" ng-if="!vm.isConnected">
                    <form name="connectGrabForm" role="form" novalidate class="form-validation">

                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>@L("Production")</td>
                                <td>
                                    <div class="md-checkbox">
                                        <input id="production" class="md-check" type="checkbox" ng-model="vm.production">
                                        <label for="production">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Production
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>@L("ClientId")</td>
                                <td>
                                    <input type="text" ng-model="vm.clientId" name="clientId" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td>@L("ClientSecret")</td>
                                <td>
                                    <input type="text" ng-model="vm.clientSecret" name="ClientSecret" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="connect-buttton-container">
                                        <button ng-click="vm.connect()" class="btn btn-primary" type="button" ng-disabled="connectGrabForm.$invalid">
                                            Connect
                                            </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="col-md-12 margin-bottom-15" ng-if="vm.isConnected">
                    <a ng-click="vm.disconnect()" class="btn btn-primary">
                        Disconnect
                    </a>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    </div>
</div>