@using DinePlan.DineConnect.Localization
<div ng-controller="common.views.maintenance.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Maintenance")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>
    <div class="portlet light">
        <div class="row portlet-body">
            <div class="col-xs-12">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading="@L("Caches")" tabindex="1">
                        <div class="row margin-bottom-10">
                            <div class="col-xs-6">
                                <p>@L("CachesHeaderInfo")</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-primary" ng-click="vm.clearAllCaches()">
                                    <i class="fa fa-recycle"></i>
                                    @L("ClearAll")
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped table-hover table-bordered">
                                    <tbody>
                                        <tr data-ng-repeat="cache in vm.caches ">
                                            <td>
                                                <span>{{cache.name}}</span>
                                                <button class="btn btn-primary btn-sm pull-right"
                                                        ng-click="vm.clearCache(cache.name);">
                                                    @L("Clear")
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("WebSiteLogs")" tabindex="2">
                        <div class="row margin-bottom-10">
                            <div class="col-xs-6">
                                <p>@L("WebSiteLogsHeaderInfo")</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-secondary" ng-click="vm.downloadWebLogs()">
                                    <i class="fa fa-download"></i>@L("DownloadAll")
                                </button>
                                <button class="btn btn-primary" ng-click="vm.getWebLogs()">
                                    <i class="fa fa-sync"></i>
                                    @L("Refresh")
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="web-log-view full-height">
                                    <span class="log-line" ng-repeat="log in vm.logs track by $index">
                                        <span ng-class="vm.getLogClass(log)">{{vm.getLogType(log)}}</span>
                                        {{vm.getRawLogContent(log)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

<style>
    .web-log-view {
        font-family: "Courier New";
        overflow-x: scroll;
        overflow-y: scroll;
        height: 100%;
        white-space: nowrap;
    }

        .web-log-view span.log-line {
            margin-bottom: 5px;
            display: block;
        }

        .web-log-view span.label {
            width: 50px;
            display: inline-block;
        }
</style>