@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.dailynonsalestaxreport as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("DailyNonSalesTaxReport")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Plants")</span>
			</button>
		</div>
	</div>
	<div class="portlet light">
		<div class="portlet-body">

			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">
						<div class="row">

							<div class="col-md-4 pl-44">
								<div class="form-group">
									<input type="radio" class="zom-15" name="selectData" ng-model="vm.selectedCondition" value="selectedMonthAndYear" ng-change='vm.changeCondition()'>
									<select class="form-control" ng-model="vm.selectedMonthAndYear">
										<option ng-repeat="item in vm.lstMonthYear" value="{{item}}">{{item}}</option>
									</select>
								</div>
							</div>

							<div class="col-md-4 pl-44">
								<div class="form-group">
									<input type="radio" class="zom-15" id="selectDateRange" ng-model="vm.selectedCondition" name="selectDataRange" value="selectedDateRange" ng-change='vm.changeCondition()'>
									<input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
										   class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>

							<div class="col-md-4 pl-44">
								<div class="form-group">
									<input type="radio" class="zom-15" id="selectedPOS" ng-model="vm.selectedCondition" ng-change='vm.changeCondition()' name="selectData" value="selectedPOS">
									<select class="form-control" ng-model="vm.selectedPOS">
										<option ng-repeat="item in vm.locations" value="{{item.value}}">{{item.displayText}}</option>
									</select>
								</div>
							</div>

							<div class="col-md-4 pl-44">
								<div class="form-group">
									<input type="radio" class="zom-15" name="selectData" ng-model="vm.selectedCondition" value="selectedDate" ng-change='vm.changeCondition()'>
									<input id="selectDate" name="selectDate" autocomplete="off" class="form-control date-picker" ng-class="{'edited':vm.selectDate}" ng-model="vm.selectedDate" />
								</div>
							</div>


							@*<div class="col-md-4 pl-44">
								<div class="form-group">
									<input type="radio" class="zom-15" id="selectedFolder" ng-model="vm.selectedCondition" ng-change='vm.changeCondition()' name="selectData" value="selectedFolder">

									<select class="form-control" ng-model="vm.saleStatus">
										<option value="All" selected>@L("All")</option>
										<option value="Sale">@L("Sale")</option>
										<option value="Return">@L("Return")</option>
										<option value="Refund">@L("Refund")</option>
									</select>
								</div>
							</div>*@
						</div>
					</div>
					<div class="row  margin-top-10 margin-bottom-10">
						<div class="col-xs-12">
							<query-builder options="builder.options" builder="builder.builder"></query-builder>
						</div>
					</div>

					<div class="col-sm-12">
						<button class="btn blue float-right  ml-10" ng-click="vm.getData()">
							<i class=" fa fa-refresh"></i> @L("Refresh")
						</button>

						<div class="btn-group float-right">
							<button class="btn red dropdown-toggle " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
								<i class="fa fa-file-excel-o"></i> @L("Export")
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
								</li>
								<li>
									<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
								</li>
							</ul>
						</div>

					</div>

				</form>
			</div>
		</div>
		<div class="portlet-body mt-50">
			<div busy-if="vm.loading">
				@*<div ui-grid="vm.gridOptions" ui-grid-grouping ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>*@
				<div ui-grid="vm.gridOptions"  ui-grid-grouping ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>

			</div>
		</div>
	</div>
</div>
<style>
	.float-right {
		float: right;
	}

	.ml-10 {
		margin-left: 10px;
	}

	.mt-50 {
		margin-top: 50px;
	}

	.zom-15 {
		zoom: 1.5;
	}

	.pl-44 {
		padding-left: 44px;
	}
</style>
