﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.addons.index as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1 class="font-red-intense">
                        Accounting
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            Xero
                        </h3>
                    </div>
                    <div class="icon">
                        <button title="@L("Link")" class="btn btn-circle btn-icon-only red" ng-click="vm.xero()">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            QuickBooks
                        </h3>
                    </div>
                    <div class="icon">
                        <button title="@L("Link")" class="btn btn-circle btn-icon-only red" ng-click="vm.quickbooks()">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            ZohoBooks
                        </h3>
                    </div>
                    <div class="icon">
                        <button title="@L("Link")" class="btn btn-circle btn-icon-only red" ng-click="vm.zohobooks()">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            ODOO
                        </h3>
                    </div>
                    <div class="icon">
                        <button title="@L("Link")" class="btn btn-circle btn-icon-only red" ng-click="vm.odoo()">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title ">
                    <h1 class="font-red-intense">
                        Online Ordering
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

      
        <div class="col-sm-4">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            Grab
                        </h3>
                    </div>
                    <div class="icon">
                        <button title="@L("Link")" class="btn btn-circle btn-icon-only red" ng-click="vm.grab()">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            Zomato
                        </h3>
                    </div>
                    <div class="icon">
                        <button title="@L("Link")" class="btn btn-circle btn-icon-only red" ng-click="vm.zomato()">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

