﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog">
    <form name="swipecardCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.swipecard.id">@L("EditSwipeCard"): {{vm.swipecard.id}}</span>
                <span ng-if="!vm.swipecard.id">@L("CreateSwipeCard")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">@L("CardType")</label>
                        <ui-select class="borderself" id="selCardType" name="selCardType" autofocus ng-change="vm.changeCardType($select.selected)" ng-class="{'edited':vm.swipecard.cardTypeRefId}" ng-model="vm.swipecard.cardTypeRefId" required>
                            <ui-select-match placeholder="Select Material Type...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refCardtypes | filter: $select.search">
                                @*<div ng-bind="item.name"></div>*@
                                <small>
                                    <b>@L("Name"): {{item.name}} </b>
                                    <br />
                                    @L("DepositRequired"): {{ item.depositRequired }} - @L("DepositAmount"): {{ item.depositAmount }}
                                    <br />
                                    @L("RefundAllowed"): {{ item.refundAllowed }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@L("CardNumber") *</label>
                        <input class="form-control" type="text" name="id" ng-class="{'edited':vm.swipecard.cardNumber}" ng-model="vm.swipecard.cardNumber" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@L("ExpiryDaysFromIssue") *</label>
                        <input class="form-control text-right" type="number" name="ExpiryDaysFromIssue" ng-class="{'edited':vm.swipecard.expiryDaysFromIssue}" ng-model="vm.swipecard.expiryDaysFromIssue" onkeypress="return NumberOnly(event, null)" maxlength="4" ng-disabled="!vm.permissions.canOverRide_CardType">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@L("MinimumTopUpAmount")</label>
                        <input class="form-control text-right" type="number" name="minimumTopUpAmount"
                               ng-class="{'edited':vm.swipecard.minimumTopUpAmount}"
                               ng-model="vm.swipecard.minimumTopUpAmount"
                               onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                               ng-disabled="!vm.permissions.canOverRide_CardType">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@L("Balance")</label>
                        <input class="form-control text-right" type="number" name="Balance" ng-class="{'edited':vm.swipecard.balance}" ng-model="vm.swipecard.balance" ng-disabled="true">
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-4 margin-top-30">
                    <div class="md-checkbox">
                        <input id="DepositRequired" class="md-check" type="checkbox" name="DepositRequired"
                               ng-class="{'edited':vm.swipecard.depositRequired}" ng-model="vm.swipecard.depositRequired"
                               style="text-decoration: line-through;" ng-disabled="!vm.permissions.canOverRide_CardType">
                        <label for="DepositRequired">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("DepositRequired") *
                        </label>
                    </div>
                </div>
                <div class="col-sm-4" ng-if="vm.swipecard.depositRequired">
                    <div class="form-group">
                        <label>@L("DepositAmount")</label>
                        <input class="form-control" type="number" name="DepositAmount" ng-class="{'edited':vm.swipecard.depositAmount}" ng-model="vm.swipecard.depositAmount" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="!vm.permissions.canOverRide_CardType">
                    </div>
                </div>
                <div class="col-sm-4 margin-top-30">
                    <div class="md-checkbox">
                        <input id="CanIssueWithOutMember" class="md-check" type="checkbox" name="CanIssueWithOutMember" ng-class="{'edited':vm.swipecard.canIssueWithOutMember}" ng-model="vm.swipecard.canIssueWithOutMember" style="text-decoration: line-through;" ng-disabled="!vm.permissions.canOverRide_CardType || vm.swipecard.isEmployeeCard">
                        <label for="CanIssueWithOutMember">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("CanIssueWithOutMember")
                        </label>
                    </div>
                </div>
            </div>

            <div class="row margin-top-30">
                <div class="col-sm-4">
                    <div class="md-checkbox">
                        <input id="RefundAllowed" class="md-check" type="checkbox" name="RefundAllowed" ng-class="{'edited':vm.swipecard.refundAllowed}" ng-model="vm.swipecard.refundAllowed" style="text-decoration: line-through;" ng-disabled="!vm.permissions.canOverRide_CardType">
                        <label for="RefundAllowed">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("RefundAllowed")
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="md-checkbox">
                        <input id="IsEmployeeCard" class="md-check" type="checkbox" name="IsEmployeeCard" ng-class="{'edited':vm.swipecard.isEmployeeCard}" ng-model="vm.swipecard.isEmployeeCard" style="text-decoration: line-through;"
                               ng-disabled="!vm.permissions.canOverRide_CardType && vm.swipecard.canIssueWithOutMember">
                        <label for="IsEmployeeCard">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsEmployeeCard")
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="md-checkbox">
                        <input id="CanExcludeTaxAndCharges" class="md-check" type="checkbox" name="CanExcludeTaxAndCharges"
                               ng-class="{'edited':vm.swipecard.canExcludeTaxAndCharges}" ng-model="vm.swipecard.canExcludeTaxAndCharges"
                               style="text-decoration: line-through;">
                        <label for="CanExcludeTaxAndCharges">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("CanExcludeTaxAndCharges")
                        </label>
                    </div>
                </div>


            </div>
            <div class="row margin-top-30">
               
                <div class="col-sm-4">
                    <div class="md-checkbox">
                        <input id="IsAutoRechargeCard" class="md-check" type="checkbox" name="IsAutoRechargeCard" ng-class="{'edited':vm.swipecard.isAutoRechargeCard}"
                               ng-model="vm.swipecard.isAutoRechargeCard" style="text-decoration: line-through;">
                        <label for="IsAutoRechargeCard">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsAutoRechargeCard")
                        </label>
                    </div>
                </div>

            </div>
            <div class="row margin-top-30" ng-if="vm.swipecard.isAutoRechargeCard">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@L("DailyLimit")</label>
                        <input class="form-control text-right" type="number" name="DailyLimit"
                               ng-class="{'edited':vm.swipecard.dailyLimit}" ng-model="vm.swipecard.dailyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecard.weeklyLimit || vm.swipecard.monthlyLimit || vm.swipecard.yearlyLimit">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@L("WeeklyLimit")</label>
                        <input class="form-control text-right" type="number" name="WeeklyLimit"
                               ng-class="{'edited':vm.swipecard.weeklyLimit}" ng-model="vm.swipecard.weeklyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecard.dailyLimit || vm.swipecard.monthlyLimit || vm.swipecard.yearlyLimit">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@L("MonthlyLimit")</label>
                        <input class="form-control text-right" type="number" name="MonthlyLimit"
                               ng-class="{'edited':vm.swipecard.monthlyLimit}" ng-model="vm.swipecard.monthlyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecard.weeklyLimit || vm.swipecard.dailyLimit || vm.swipecard.yearlyLimit">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@L("YearlyLimit")</label>
                        <input class="form-control text-right" type="number" name="YearlyLimit"
                               ng-class="{'edited':vm.swipecard.yearlyLimit}" ng-model="vm.swipecard.yearlyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecard.weeklyLimit || vm.swipecard.monthlyLimit || vm.swipecard.dailyLimit">
                    </div>
                </div>

            </div>
            <div class="row margin-top-30">
                <div class="col-sm-6" ng-if="vm.swipecard.id" ng-disabled="true">
                    <div class="md-checkbox">
                        <input id="ActiveStatus" class="md-check" type="checkbox" name="ActiveStatus" ng-class="{'edited':vm.swipecard.activeStatus}" ng-model="vm.swipecard.activeStatus">
                        <label for="ActiveStatus">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("ActiveStatus")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="swipecardCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

