﻿<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />


<style>
	.modal-dialog {
		width: 96%;
	}
</style>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="manualincentiveCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.manualincentive.id">@L("EditManualIncentive"): {{vm.manualincentive.}}</span>
                <span ng-if="!vm.manualincentive.id">@L("CreateManualIncentive")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loadingCount">
       
			<div class="row">
				@*<div class="col-xs-2">
					<div class="form-group">
						<label class="control-label">@L("Date")</label>
						<input name="poDate" id="poDate" class="form-control date-picker" ng-class="{'edited':vm.manualincentive.incentiveDate}" ng-model="vm.manualincentive.incentiveDate" />
					</div>
				</div>*@
				<div class="col-xs-2">
					<label>@L("Incentive") @L("Date") </label> <span class="bold" style="font-size:small; color:red"> *</span>
					<input onkeydown="return false" type="text" id="rptDate" ng-model="vm.manualincentive.incentiveDate" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened"
								 datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-disabled="!vm.callfromIndex" />
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label">@L("Employee(s)")</label> <span class="bold" style="font-size:small; color:red"> *</span>
						<input id="chkAll" ng-model="vm.showAllEmployee" ng-change="vm.filterEmployeeList()" type="checkbox" value="Show All" />
						<ui-select multiple id="employee" required ng-model="vm.employeelist" class="borderself">
							<ui-select-match>{{$item.employeeRefName}}</ui-select-match>
							<ui-select-choices repeat="item as item in vm.filteredemployeecode | filter: $select.search  | limitTo: vm.uilimit">
								<small>
									<span>{{ item.employeeRefName }} <span></span> </span>
									<br ng-if="item.activeStatus==false" />
									<span style="color:orangered;" ng-if="item.activeStatus==false">@L("Resigned"): {{ item.lastWorkingDate | date : 'dd-MMM-yyyy' }}</span>
								</small>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
      </div>
			<div class="row">
				<div class="col-xs-2">
					<div class="form-group">
						<label class="control-label">@L("IncentiveTag")</label> <span class="bold" style="font-size:small; color:red"> *</span>
						<ui-select class="borderself" ng-change="vm.getIncentiveTagValue($select.selected);" ng-required ng-model="vm.manualincentive.incentiveTagRefId">
							<ui-select-match placeholder="@L("IncentiveTag")">{{$select.selected.incentiveTagName}}</ui-select-match>
							<ui-select-choices  repeat="item.id as item in vm.refincentivetags | filter: $select.search">
								<div ng-bind="item.incentiveTagName"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="col-xs-2" ng-if="vm.incenitveBasedOnSalaryTags==false">
					<div class="form-group form-xs-line-input form-xs-floating-label no-hint">
						<label>@L("Incentive")</label> <span class="bold" style="font-size:small; color:red"> *</span>
						<input onkeypress="return NumberWithPointPassingText(this.value,event,'remarks',true)" class="form-control text-right" type="number" name="BasicSalary" ng-class="{'edited':vm.manualincentive.incentiveAmount}" ng-model="vm.manualincentive.incentiveAmount" required>
					</div>
				</div>
				<div class="col-xs-2" ng-if="vm.incenitveBasedOnSalaryTags==true && vm.overTimeBasedIncentiveFlag">
					<div class="form-group form-xs-line-input form-xs-floating-label no-hint">
						<label>@L("ManualOtHours")</label> <span class="bold" style="font-size:small; color:red"> *</span>
						<input onkeypress="return NumberWithPointPassingText(this.value,event,'remarks',true)" class="form-control text-right" type="number" name="BasicSalary" ng-class="{'edited':vm.manualincentive.manualOtHours}" ng-model="vm.manualincentive.manualOtHours" required>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group form-xs-line-input form-xs-floating-label no-hint">
						<label>@L("Remarks")</label> @*<span class="bold" style="font-size:small; color:red"> *</span>*@
						<input class="form-control" type="text" name="remarks" ng-class="{'edited':vm.manualincentive.remarks}" ng-model="vm.manualincentive.remarks">
					</div>
				</div>
			</div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="manualincentiveCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

