<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Transaction") @L("Detail") : </span>
            <span>@L("Id") : {{ vm.ledger.id }}</span>
            <span>@L("UserName") : {{ vm.ledger.userName }}</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("General")">
                @*<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Description"):</label>
                            <div class="col-sm-6">
                                {{ vm.ledger.description}}
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <div class="form-group">
                            <h4 class="control-label">@L("Description"): <span  style="color:white;background-color:orangered" >{{ vm.ledger.description }}</span> </h4>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-top-10" >
                    <div class="col-sm-6 text-left">
                        <div class="form-group">
                            <h4 class="control-label">@L("OpenBalance"):</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <h4>{{ vm.ledger.openingBalance }}</h4>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.ledger.credit>0">
                    <div class="col-sm-6 text-left">
                        <div class="form-group">
                            <h4 class="control-label">@L("Credit"):</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <h4>{{ vm.ledger.credit }}</h4>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.ledger.debit>0">
                    <div class="col-sm-6 text-left">
                        <div class="form-group">
                            <h4 class="control-label">@L("Debit"):</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <h4>{{ vm.ledger.debit }}</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <div class="form-group">
                            <h4 class="control-label">@L("Close") @L("Balance"):</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <h4>{{ vm.ledger.closingBalance }}</h4>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("CreationTime"):</label>
                            <div class="col-sm-6">
                                {{ vm.ctime }}
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab heading="@L("Payments")">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-hover">
                                <tr>
                                    <th>@L("PayType")</th>
                                    <th>@L("TenderedAmount")</th>
                                </tr>
                                <tr ng-repeat="x in vm.ledger.paymentDetailList">
                                    <td>
                                        {{x.paymentTypeName}}
                                    </td>
                                    <td>
                                        {{x.tenderedAmount}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>