﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="host.views.swipe.transaction.swipeshift.shiftDetailReport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SwipeShift").Pluralize()</span> <small>@L("Detail") @L("Transaction")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input" busy-if="vm.loading">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("UserName")</label>
                                    <input ng-model="vm.userName" autofocus class="form-control" placeholder="@L("UserName")" type="text">
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Payment")</label>
                                    <ui-select multiple ng-model="vm.payments" class="form-control">
                                        <ui-select-match placeholder=@L("Payment")>{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="location in vm.refPaymentTypes">
                                            <small>
                                                {{ location.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Transaction")</label>
                                    <ui-select multiple ng-model="vm.selectedTransactions" class="form-control">
                                        <ui-select-match placeholder=@L("Transaction")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="location in vm.transactions">
                                            <small>
                                                {{ location.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn blue margin-top-20" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>

