﻿@using DinePlan.DineConnect.Localization
<div>
    <form name="dineplanuserCreateOrEditForm" role="form" novalidate class="form-validation" enter-key="vm.getLocations()">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("Select")</span>
            </h4>
            <button ng-click="vm.clear()" class="btn default" type="submit">@L("Clear")</button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Count") :{{ vm.selectedLocations.length }} </label>
                        <ui-select multiple ng-model="vm.selectedLocations" class="form-control">
                            <ui-select-match placeholder=@L("Object")>{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="location in vm.selectedLocations">
                                <small>
                                    @L("Name"): {{ location.name }}
                                    <br />
                                    @L("Code"): {{ location.code }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                        <span class="input-group-btn">
                            <button ng-click="vm.getLocations()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" busy-if="vm.loading">
                    <div ui-grid="vm.locationOptions" style="height: 500px;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>