﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div>
    <form name="dcgroupmasterCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.dcgroupmaster.id">@L("EditDcGroupMaster"): {{vm.dcgroupmaster.groupName}}</span>
                <span ng-if="!vm.dcgroupmaster.id">@L("CreateDcGroupMaster")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">@L("Head") @L("Name")</label>
                        <ui-select class="borderself" ng-model="vm.dcgroupmaster.dcHeadRefId" name="HeadName">
                            <ui-select-match placeholder="Select Head...">{{$select.selected.headName}}</ui-select-match>
                            <ui-select-choices ng-model="vm.dcgroupmaster.dcHeadRefId" repeat="item.id as item in vm.refdcheadmaster | filter: $select.search">
                                <div ng-bind="item.headName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="groupname" ng-class="{'edited':vm.dcgroupmaster.groupName}" ng-model="vm.dcgroupmaster.groupName" required>
                        <label>@L("Group") @L("Name")</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group no-hint">
                        <label>@L("#")</label>
                        <input class="form-control" type="text" name="priorityLevel" ng-class="{'edited':vm.dcgroupmaster.priorityLevel}" ng-model="vm.dcgroupmaster.priorityLevel" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input  no-hint">
                        <label class="control-label">@L("SkillSet")*</label>
                        <ui-select autofocus multiple id="skillsetRefId" required ng-model="vm.skillSetRefId" class="form-control">
                            <ui-select-match>{{$item.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item as item in vm.refskillset | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dcgroupmasterCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
</form>
</div>

