﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delagglocationitem.indexdelagglocationitem1 as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggLocationItem2")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            @*<button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@

            <button @*ng-if="vm.permissions.create"*@ class="btn btn-primary blue" ng-click="vm.createDelAggLocationItem()">
                <i class="fa fa-plus"></i> @L("CreateDelAggLocationItem1")</button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggLocMapping") &nbsp;<a ng-click="vm.delAggLocMappingId=null;vm.editFlag = false;" ng-if="vm.delAggLocMappingId!=null">@L("Clear")</a></label>
                                    <ui-select id="locmap" class="borderself" ng-model="vm.delAggLocMappingId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delAggLocMappingId" repeat="item.id as item in vm.reflocmap | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggItem")&nbsp;<a ng-click="vm.delAggItemId=null;vm.editFlag = false;" ng-if="vm.delAggItemId!=null">@L("Clear")</a></label>
                                    <ui-select id="item" class="borderself" ng-model="vm.delAggItemId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delAggItemId" repeat="item.id as item in vm.refitem | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="md-checkbox">
                                    <input id="Active" class="md-check" type="checkbox" ng-model="vm.inActive" name="Active" />
                                    <label for="Active">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("In") @L("Active")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button ng-click="vm.getAll()" class="btn default pull-right" type="submit">Refresh</button>
                                <button ng-click="vm.getAllClear()" class="btn default pull-right" type="submit" style="margin-right:10px">Clear</button>
                            </div>
                        </div>                        
                        <div class="input-group margin-top-20">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

