﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.house.master.housereport.purchasereturndetailreport as vm">
    <div ng-if="!vm.isPurchaseAllowed">
        <h2>@L("PurchaseAllowedErr")</h2>
    </div>

    <div class="row margin-bottom-5" ng-if="vm.isPurchaseAllowed">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("PurchaseReturn")</span> <small>@L("Report")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default purple" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button class="btn btn-primary blue" ng-click="vm.clear()">
                @L("Clear")
            </button>
        </div>
    </div>

    <div class="portlet light" ng-if="vm.isPurchaseAllowed" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" ng-model="vm.supplierRefId" required>
                                        <ui-select-match id="selsupplierRefId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search | limitTo :vm.uilimit">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn blue margin-top-20" ng-click="vm.purchaseReturnreports()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>

                        @*<div class="row">
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="searchflag" class="md-check" type="checkbox" ng-model="vm.exactsearch" name="searchflag" />
                                    <label for="searchflag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ExactInvoiceNumber")
                                    </label>

                                    <input class="form-control" type="text" name="Refno" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
                                </div>
                            </div>
                        
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.returnData.length>0 && vm.detailFlag" busy-if="vm.loading">
        <div>
            <table class="table table-striped table-bordered col-xs-8" ng-init="vm.subtotal=0">
                <thead>
                    <tr>
                        <th># . @L("Code")</th>
                        <th>@L("MaterialName")</th>
                        <th>@L("Return") @L("Date")</th>
                        <th> @L("Supplier") / @L("Ref#")</th>
                        <th class="text-right">@L("Qty")</th>
                        <th class="text-right">@L("Unit")</th>
                        <th class="text-right">@L("Cost")</th>
                        <th class="text-right">@L("Tax") / @L("TotalAmount")</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.returnData">
                    <td class="col-xs-1">
                        {{index+1}} .  {{data.materialPetName}}
                    </td>
                    <td class="col-xs-2">
                        <b> {{data.materialRefName}} </b>
                    </td>
                    <td class="col-xs-1">
                        {{data.returnDate | date :'dd-MMM-yyyy HH:mm:ss'}}
                    </td>
                    <td class="col-xs-2">
                        <span> {{data.supplierRefName}} </span>
                        <br/>
                        <b> {{data.referenceNumber}} </b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <b>  {{data.quantity | number:4}}</b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <b>{{data.unitRefName}}</b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <strong> {{data.price |number:vm.connectdecimals}} </strong>
                    </td>
                    <td class="col-xs-2 text-right">
                        @L("Tax") : {{data.taxAmount |number:vm.connectdecimals}}
                        <br/>
                        <strong> <b> Net : {{data.netAmount |number:vm.connectdecimals}} </b> </strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="7"> @L("NetAmount")</td>
                    <td class="text-right">
                        <b>  {{vm.purchaseReturn.netPurchaseReturnAmount |number:vm.connectdecimals}}</b>
                    </td>
                </tr>
                @*<tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("SubTotal")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right">
                            <b>  {{invoicedata.invoice.subTotalAmount |number:vm.connectdecimals}}</b>
                        </td>

                        <td class="col-xs-2 text-right">
                            <b>  {{invoicedata.invoice.taxAmount  |number:vm.connectdecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.subTotalAmount +  invoicedata.invoice.taxAmount |number:vm.connectdecimals}}</b>
                        </td>

                    </tr>
                    <tr ng-if="invoicedata.invoice.totalDiscountAmount>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Discount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.totalDiscountAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="invoicedata.invoice.totalShipmentCharges>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Extra")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.totalShipmentCharges |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="invoicedata.invoice.roundedAmount!=0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("RoundedOff")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.roundedAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>*@


            </table>

            <br />
            <div class="row">
                <br />
            </div>
            <hr />
            <br />
            <br />
            <br />
        </div>
        <hr />
    </div>
</div>

