﻿@using DineConnect.XeroTenantGateway.Authorization
@model List<DineConnect.XeroTenantGateway.Authorization.XeroConnection>

@{
    ViewBag.Title = "Xero";
}

<h2>Xero - DineConnect</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-5">

            <form method="post">
                <input type="hidden" name="applicationUrl" value="@ViewBag.applicationUrl" />
                <input type="hidden" name="accessToken" value="@ViewBag.accessToken" />
                <input type="hidden" name="refreshToken" value="@ViewBag.refreshToken" />
                <input type="hidden" name="expiresIn" value="@ViewBag.expiresIn" />

                <div class="form-group">
                    <label for="tenantId">Choose a connection</label>
                    <select class="form-control" id="xeroConnectionId" name="xeroConnectionId">
                        @foreach (XeroConnection item in Model)
                        {
                            <option value="@item.TenantId">@item.TenantName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Proceed</button>
                </div>
            </form>

        </div>
    </div>

</div>