﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />


<div ng-controller="tenant.views.hr.master.leaverequest.createOrEditModal as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span ng-if="vm.leaverequest.id">@L("EditLeaveRequest"): {{vm.leaverequest.id}}</span>
                        <span ng-if="!vm.leaverequest.id">@L("CreateLeaveRequest")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="leaverequestCreateOrEditForm">
                    <div class="form-body">
                        <uib-tabset class="tab-container tabbable-line">
                            <uib-tab heading="@L("LeaveEntry")" @*ng-if="!vm.leaverequest.employeeRefId"*@>

                                <div class="row">
                                    <div class="col-lg-4 col-xs-12 hidden-lg" >
                                        <div class="col-xs-12">
                                            <table class="table table-striped table-bordered col-xs-12" style="border:outset;border-color:goldenrod">
                                                <thead>
                                                    <tr>
                                                        <th>@L("LeaveType")</th>
                                                        <th class="text-right">@L("Allowed")</th>
                                                        <th class="text-right">@L("Applied")</th>
                                                        <th class="text-right">@L("Available")</th>
                                                    </tr>
                                                </thead>
                                                <tr data-ng-repeat="(index,data) in vm.ltnumberofdays">
                                                    <td class="col-xs-6">
                                                        {{data.leaveTypeRefName}}
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                        {{data.numberOfLeaveAllowed}}
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                        {{data.numberOfLeaveTaken | number : 1}}
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                        {{data.numberOfLeaveRemaining | number : 1}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label">@L("Employee")</label>
                                                    <ui-select id="empid" class="borderself" name="Employee" required ng-model="vm.leaverequest.employeeRefId"
                                                               ng-change="vm.fillLeaveTypes($select.selected);vm.displayleavetypedetails();" ng-disabled="vm.loginStatus == 'EMP'" ng-required="true">
                                                        <ui-select-match placeholder="Select Employee ...">{{$select.selected.employeeRefName}}</ui-select-match>
                                                        <ui-select-choices repeat="item.employeeRefId as item in vm.refemployeecode | filter: $select.search | limitTo: vm.uilimit">
                                                            <small>
                                                                <span>{{ item.employeeRefName }} <span></span> </span>
                                                                <br ng-if="item.activeStatus==false" />
                                                                <span style="color:orangered;" ng-if="item.activeStatus==false">@L("Resigned"): {{ item.lastWorkingDate | date : 'dd-MMM-yyyy' }}</span>
                                                            </small>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-xs-12" ng-show="vm.leaverequest.employeeRefId">
                                                <div class="form-group">
                                                    <label class="control-label">@L("LeaveType")</label>
                                                    <ui-select class="borderself" required name="LeaveType" ng-model="vm.leaverequest.leaveTypeRefCode" ng-change="vm.getIsDocumentRequired($select.selected);vm.displayleavetypedetails();">
                                                        <ui-select-match placeholder="Select Leave Type ...">{{$select.selected.leaveTypeName}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in vm.refleavetype | filter: $select.search">
                                                            <div ng-bind="item.leaveTypeName"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-xs-12" ng-show="vm.leaverequest.leaveTypeRefCode">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control uppercase" type="text" name="LeaveReson" ng-class="{'edited':vm.leaverequest.leaveReason}" ng-model="vm.leaverequest.leaveReason" required maxlength="30">
                                                    <label>@L("LeaveReason") *</label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row margin-top-20" ng-show="vm.leaverequest.leaveTypeRefCode">
                                            <div class="col-lg-4 col-xs-4">
                                                <div class="form-group md-checkbox bottom-left">
                                                    <input id="halfdayflag" class="md-check" type="checkbox" name="halfdayflag" ng-class="{'edited':vm.leaverequest.halfDayFlag}" ng-model="vm.leaverequest.halfDayFlag" ng-change="validateDate()">
                                                    <label for="halfdayflag">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("HalfDay")
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-xs-4" ng-if="vm.leaverequest.halfDayFlag">
                                                @*<div class="form-group btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" id="forenoon" autocomplete="off" ng-class="{'edited':vm.forenoon}" ng-model="vm.forenoon" checked> @L("ForeNoon")
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="afternoon" autocomplete="off"ng-class="{'edited':vm.afternoon}" ng-model="vm.afternoon">@L("AfterNoon")
                    </label>
                </div>*@
                                                <div class="col-xs-3">
                                                    <div class="form-group md-radio-inline bottom-left">
                                                        <input id="forenoon" class="md-radio-inline" type="radio" name="forenoon" ng-class="{'edited':vm.forenoon}" ng-model="vm.forenoon">
                                                        <label for="foreNoon">@L("ForeNoon")</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xs-4">
                                                    <div class="form-group md-radio-inline bottom-left">
                                                        <input id="afternoon" class="md-radio-inline" type="radio" name="forenoon" ng-class="{'edited':vm.afternoon}" ng-model="vm.afternoon">
                                                        <label for="afternoon">@L("AfterNoon")</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-20" ng-show="vm.leaverequest.leaveReason.length>3" ng-if="!vm.mobileFlag">
                                            <div class="col-lg-4">
                                                <label>@L("StartDate")</label>
                                                <input onkeydown="return false" type="text" id="stDate" required name="LeaveFrom" ng-model="vm.leaverequest.leaveFrom" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-change="validateDate()" min-date="minDate" max-date="maxDate" />
                                            </div>
                                            <div class="col-lg-4" ng-if="!vm.leaverequest.halfDayFlag">
                                                <label>@L("EndDate")</label>
                                                <input onkeydown="return false" type="text" id="endDate" required name="LeaveUpTo" ng-model="vm.leaverequest.leaveTo" class="form-control"
                                                       uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats"
                                                       ng-click="open2()" ng-change="validateDate()" min-date="minDate" max-date="maxDate" />
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group form-md-line-input  no-hint">
                                                    <input class="form-control text-right" type="number" id="TotalNumberOfDays" name="TotalNumberOfDays" ng-class="{'edited':vm.leaverequest.totalNumberOfDays}" ng-model="vm.leaverequest.totalNumberOfDays"
                                                           ng-disabled="true" maxlength="30">
                                                    <label>@L("TotalNumberOfDays")</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label>@L("ApplyDate")</label>
                                                <input id="applydate" name="applydate" class="form-control date-picker" ng-class="{'edited':vm.leaverequest.dateOfApply}" ng-model="vm.leaverequest.dateOfApply" ng-disabled="true" />
                                            </div>
                                        </div>
                                        <div class="row margin-top-20" ng-show="vm.leaverequest.leaveReason.length>3" ng-if="vm.mobileFlag">
                                            <div class="col-sm-6 col-xs-12">
                                                <label>@L("StartDate")</label>
                                                <input onkeydown="return false" type="text" id="stDate" required name="LeaveFrom" ng-model="vm.leaverequest.leaveFrom" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-change="validateDate()" min-date="minDate" max-date="maxDate" show-weeks="false"/>
                                            </div>
                                            <div class="col-sm-6 col-xs-12" ng-if="!vm.leaverequest.halfDayFlag">
                                                <label>@L("EndDate")</label>
                                                <input onkeydown="return false" type="text" id="endDate" required name="LeaveUpTo" ng-model="vm.leaverequest.leaveTo" class="form-control"
                                                       uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats"
                                                       ng-click="open2()" ng-change="validateDate()" min-date="minDate" max-date="maxDate" show-weeks="false"/>
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="form-group form-md-line-input  no-hint">
                                                    <input class="form-control text-right" type="number" id="TotalNumberOfDays" name="TotalNumberOfDays" ng-class="{'edited':vm.leaverequest.totalNumberOfDays}" ng-model="vm.leaverequest.totalNumberOfDays"
                                                           ng-disabled="true" maxlength="30">
                                                    <label>@L("TotalNumberOfDays")</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <label>@L("ApplyDate")</label>
                                                <input id="applydate" name="applydate" class="form-control date-picker" ng-class="{'edited':vm.leaverequest.dateOfApply}" ng-model="vm.leaverequest.dateOfApply" ng-disabled="true" />
                                            </div>
                                        </div>
                                        <div class="row margin-top-20" ng-show="vm.leaverequest.leaveReason.length>3">
                                            <div class=" col-lg-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>@L("HandOverWorkTo")</label>
                                                    <ui-select class="borderself" ng-model="vm.leaverequest.handOverWorkTo">
                                                        <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices repeat="item.value as item in vm.refhandoveremployeecode | filter: $select.search | limitTo: vm.uilimit">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class=" col-lg-4 col-xs-12">
                                                <div class="form-group no-hint">
                                                    <label>@L("ContactOfWorkIncharge")</label>
                                                    <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="ContactOfWorkIncharge" ng-class="{'edited':vm.leaverequest.contactOfWorkIncharge}" ng-model="vm.leaverequest.contactOfWorkIncharge" />
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-xs-12 margin-top-30" ng-if="vm.permissions.approve && vm.leaverequest.id!=null">
                                                <div class="md-checkbox bottom-left">
                                                    <input id="isSupportingDocumentsOverRide" class="md-check" type="checkbox" name="isSupportingDocumentsOverRide" ng-class="{'edited':vm.leaverequest.isSupportingDocumentsOverRide}" ng-model="vm.leaverequest.isSupportingDocumentsOverRide">
                                                    <label for="isSupportingDocumentsOverRide">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsSupportingDocumentsOverRide")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row margin-top-20 m-heading-1 border-yellow-gold m-bordered" ng-if="vm.leaverequest.isDocumentRequired && !vm.leaverequest.isSupportingDocumentsOverRide">
                                            <div class="col-xs-12">
                                                <div class="form-group " id="filebrowse">
                                                    <label>@L("UploadDocument")</label>&nbsp;<label ng-show="vm.isDocumentRequired">@L("IsMandatory")</label>
                                                    <br />
                                                    <input id="fileinput" type="file" nv-file-select size="70" uploader="vm.uploader" ng-click="vm.changeVariable()" required />
                                                    <span class="help-block m-b-none">@L("TsDocument_Change_Info")</span>

                                                </div>
                                                <div class="m-heading-1 border-green m-bordered" id="viewfile" ng-if="vm.leaverequest.fileName">
                                                    <p>@L("Document") &nbsp; @L("AlreadyExist"), @L("DownloadInfo")  </p>
                                                    <a href="{{ vm.importpath }}">@L("ViewUploadedDocument")</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="vm.permissions.approve && vm.leaverequest.id!=null">
                                            <div class="form-group no-hint">
                                                <label>@L("Remarks")</label>
                                                <input class="form-control" type="text" placeholder="@L("Remarks")" name="ApprovedRemarks" ng-class="{'edited':vm.leaverequest.approvedRemarks}" ng-model="vm.leaverequest.approvedRemarks" />
                                            </div>
                                        </div>

                                        <div class="row margin-top-30" ng-if="vm.leaveRequestPortions.length>0">
                                            <div class="col-lg-12 col-xs-12">
                                                <table class="table table-striped table-bordered col-xs-12" style="border-color:slateblue">
                                                    <caption class="text-center bold">@L("Leave") @L("Applied") </caption>
                                                    <thead>
                                                        <tr>
                                                            <th>@L("LeaveType")</th>
                                                            <th>@L("Reason")</th>
                                                            <th>@L("LeaveFrom")</th>
                                                            <th>@L("LeaveTo")</th>
                                                            <th class="text-right">@L("Days")</th>
                                                        </tr>
                                                    </thead>

                                                    <tr data-ng-repeat="(index,data) in vm.leaveRequestPortions">
                                                        <td class="col-xs-4">
                                                            <span>{{data.sno}} . {{data.leaveTypeRefName}}</span>
                                                        </td>
                                                        <td class="col-xs-2">
                                                            <span>{{data.leaveReason}}</span>
                                                        </td>
                                                        <td class="col-xs-2">
                                                            <span>{{data.leaveFrom}}</span>
                                                        </td>
                                                        <td class="col-xs-2">
                                                            <span>{{data.leaveTo}}</span>
                                                        </td>
                                                        <td class="col-xs-2" align="right">
                                                            <span>{{data.totalNumberOfDays | number : 1}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-1" colspan="4" align="right">@L("TotalNumberOfDays")</td>
                                                        <td class="col-xs-1" align="right">
                                                            <span>{{vm.numberofdays | number : 1}}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xs-12 visible-lg"  @*ng-if="vm.leaverequest.employeeRefId"*@>
                                        <div class="col-xs-12">
                                            <table class="table table-striped table-bordered col-xs-12" style="border:outset;border-color:goldenrod">
                                                <thead>
                                                    <tr>
                                                        <th>@L("LeaveType")</th>
                                                        <th class="text-right">@L("Allowed")</th>
                                                        <th class="text-right">@L("Applied")</th>
                                                        <th class="text-right">@L("Available")</th>
                                                    </tr>
                                                </thead>
                                                <tr data-ng-repeat="(index,data) in vm.ltnumberofdays">
                                                    <td class="col-xs-6">
                                                        {{data.leaveTypeRefName}}
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                        {{data.numberOfLeaveAllowed}}
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                        {{data.numberOfLeaveTaken | number : 1}}
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                        {{data.numberOfLeaveRemaining | number : 1}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab ng-if="leaverequestCreateOrEditForm.$invalid">
                                <uib-tab-heading style="color:orangered">
                                    <i class="glyphicon glyphicon-bell"></i> @L("Alert")!
                                </uib-tab-heading>
                                <div class="portlet light">
                                    <div class="portlet-body">
                                        <ul>
                                            <li ng-repeat="(key, errors) in leaverequestCreateOrEditForm.$error track by $index">
                                                <strong>{{ key }}</strong> errors
                                                <ul>
                                                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default"
                                ng-click="vm.cancel()">
                            @L("Cancel")
                        </button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue" ng-click="vm.save(1)"
                                ng-disabled="leaverequestCreateOrEditForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue" ng-click="vm.save(2)"
                                ng-disabled="leaverequestCreateOrEditForm.$invalid" ng-if="vm.permissions.approve && vm.leaverequest.id!=null">
                            <i class="fa fa-save"></i> <span>@L("LeaveApproval")</span>
                        </button>
                        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-danger" ng-click="vm.save(3)"
                                ng-disabled="leaverequestCreateOrEditForm.$invalid" ng-if="vm.permissions.approve && vm.leaverequest.id!=null">
                            <i class="fa fa-save"></i> <span>@L("REJECT")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>