﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<script>
$('input').each(function (i, e) {
var label;
switch ($(e).attr('id')) {
    case 'name':
        label = 'Name ';
        break;
}
$(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
});
</script>

<div ng-controller="tenant.views.hr.master.leaverequest.employeeLeaveRequest as vm">

<div class="row margin-bottom-5">
<div class="col-xs-12">
    <div class="page-head">
        <div class="page-title">
            <h1 style="color:red">
                <span ng-if="vm.leaverequest.id">@L("EditLeaveRequest"): {{vm.leaverequest.id}}</span>
                <span ng-if="!vm.leaverequest.id">@L("CreateLeaveRequest")</span>
            </h1>
        </div>
    </div>
</div>
</div>

<div class="portlet light">
<div class="portlet-body">
    <div class="form">
        <form name="leaverequestForm">
            <div class="form-body">
                <uib-tabset class="tab-container tabbable-line">
                    <uib-tab heading="@L("LeaveEntry")" @*ng-if="!vm.leaverequest.employeeRefId"*@>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">@L("Employee")</label>
                                    <ui-select id="empid" class="borderself" ng-model="vm.leaverequest.employeeRefId" ng-change="vm.displaydetails()" ng-disabled="vm.loginStatus == 'EMP'">
                                        <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refemployeecode | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">@L("LeaveType")</label>
                                    <ui-select class="borderself" ng-model="vm.leaverequest.leaveTypeRefCode" ng-change="vm.displayleavetypedetails()">
                                        <ui-select-match placeholder="Select Leave Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refleavetype | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="form-group">
                                    <label>@L("ApplyDate")</label>
                                    <input id="applydate" name="applydate" class="form-control date-picker" ng-class="{'edited':vm.leaverequest.dateOfApply}" ng-model="vm.leaverequest.dateOfApply" ng-disabled="true" />
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="md-checkbox bottom-left">
                                    <input id="halfdayflag" class="md-check" type="checkbox" name="halfdayflag" ng-class="{'edited':vm.leaverequest.halfDayFlag}" ng-model="vm.leaverequest.halfDayFlag">
                                    <label for="halfdayflag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HalfDay")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-8" ng-if="vm.leaverequest.halfDayFlag">
                                <div class="col-xs-4">
                                    <div class="md-radio-inline bottom-left">
                                        <input id="forenoon" class="md-radio-inline" type="radio" name="forenoon" ng-class="{'edited':vm.forenoon}" ng-model="vm.forenoon">
                                        <label for="foreNoon">@L("ForeNoon")</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="md-radio-inline bottom-left">
                                        <input id="afternoon" class="md-radio-inline" type="radio" name="forenoon" ng-class="{'edited':vm.afternoon}" ng-model="vm.afternoon">
                                        <label for="afternoon">@L("AfterNoon")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-12">
                                <label>@L("StartDate")</label>
                                <input onkeydown="return false" type="text" id="stDate" ng-model="vm.leaverequest.leaveFrom" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-change="validateDate()" min-date="minDate" max-date="maxDate" />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12" ng-if="!vm.leaverequest.halfDayFlag">
                                <label>@L("EndDate")</label>
                                <input onkeydown="return false" type="text" id="endDate" ng-model="vm.leaverequest.leaveTo" class="form-control"
                                       uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats"
                                       ng-click="open2()" ng-change="validateDate()" min-date="minDate" max-date="maxDate" />
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" id="TotalNumberOfDays" name="TotalNumberOfDays" ng-class="{'edited':vm.leaverequest.totalNumberOfDays}" ng-model="vm.leaverequest.totalNumberOfDays"
                                           ng-disabled="true" maxlength="30">
                                    <label>@L("TotalNumberOfDays")</label>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="LeaveReson" ng-class="{'edited':vm.leaverequest.leaveReason}" ng-model="vm.leaverequest.leaveReason" required maxlength="30">
                                    <label>@L("LeaveReason")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("HandOverWorkTo")</label>
                                    <ui-select class="borderself" ng-model="vm.leaverequest.handOverWorkTo">
                                        <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refhandoveremployeecode | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberOnly(event,'cancel')" class="form-control" type="text" name="ContactOfWorkIncharge" ng-class="{'edited':vm.leaverequest.contactOfWorkIncharge}" ng-model="vm.leaverequest.contactOfWorkIncharge" required />

                                    <label>@L("ContactOfWorkIncharge")</label>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("LeaveListDetails")" ng-if="vm.leaverequest.employeeRefId" >
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Sno")</th>
                                            <th>@L("LeaveType")</th>
                                            <th>@L("ApplyDate")</th>
                                            <th>@L("LeaveFrom")</th>
                                            <th>@L("LeaveTo")</th>
                                            <th>@L("NumberOfDays")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.leaveRequestPortions">
                                        <td class="col-xs-1" ng-disabled="true">
                                            <span>{{data.sno}}</span>
                                        </td>
                                        <td class="col-xs-2">
                                            <span>{{data.leaveTypeRefName}}</span>
                                        </td>
                                        <td class="col-xs-2">
                                            <span>{{data.dateOfApply}}</span>
                                        </td>
                                        <td class="col-xs-2">
                                            <span>{{data.leaveFrom}}</span>
                                        </td>
                                        <td class="col-xs-2">
                                        <span>{{data.leaveTo}}</span>
                                        </td>
                                        <td class="col-xs-2" align="right">
                                        <span>{{data.totalNumberOfDays}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" align="right">@L("TotalNumberOfDays")</td>
                                        <td class="col-xs-2" align="right">
                                            <span>{{vm.numberofdays}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            </div>
                </uib-tab>

                </uib-tabset>

            </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="leaverequestCreateOrEditForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
        </form>
    </div>
</div>
</div>

</div>