﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .ui-pending {
        background-color: black;
        color: brown;
    }

    .ui-rejected {
        background-color: red;
        color: black;
    }

    .ui-approved {
        background-color: black;
        color: forestgreen;
    }
</style>

<div ng-controller="tenant.views.hr.master.leaverequest.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("LeaveRequest").Pluralize()</span> 
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right" ng-if="!vm.errorFlag">
            <button class="btn btn-default" ng-click="vm.leaveDaysCorrect()">
                <i class="fa fa-refresh"></i> @L("Refresh")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createLeaveRequest()">
                <i class="fa fa-plus"></i> @L("CreateLeaveRequest")
            </button>

        </div>
    </div>
    <div ng-if="vm.errorFlag">
        <h2 class="red">@L("EmployeeCodeNotAssignedToThisUser", "") </h2>
    </div>
    <div class="portlet light" ng-if="!vm.errorFlag">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Employee")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>

                    <div class="row margin-top-15" ng-if="vm.advancedFiltersAreShown">
                        <div class="col-xs-2">
                            <div class="md-checkbox">
                                <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                <label for="dateRange">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Leave") @L("Range")
                                </label>
                                <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label">@L("Minimum") @L("Leave") @L("Days")</label>
                                <input type="text" class="form-control" ng-model="vm.minimumDays">
                            </div>
                        </div>
                        @*<div class="col-xs-2">
                            <div class="md-checkbox">
                                <input id="resignedFlag" class="md-check" type="checkbox" ng-model="vm.resignedFlag" name="resignedFlag" />
                                <label for="resignedFlag">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Resigned") ?
                                </label>
                            </div>
                        </div>*@
                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">
                            <span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                            <span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                        </div>
                        <div class="col-sm-6 text-right" ng-if="vm.advancedFiltersAreShown">
                            <button class="btn blue" ng-click="vm.getAll()"><i class=" fa fa-refresh"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height:70vh;" >
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>