﻿<style>
    .modal-dialog {
        width: 70%;
        max-height: 200%;
    }

    .ui-dialog {
        height: 700px;
    }

    .ui-dialog-content {
        position: relative;
        margin-left: 10px;
        margin-top: 80px;
        color: black;
    }
</style>
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script>
    function myFunction() {
        document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>


<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.hr.master.leaverequest.leaveRequestPrint as vm">
<div id="divprintemail" class="row">
    <div class="col-xs-11 text-right">
        <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        <span class="">  &nbsp; &nbsp; <i class="fa fa-envelope"></i></span>
        <a ng-click="vm.cancel()"><span class="">  &nbsp; &nbsp; <i class="fa fa-close"></i></span></a>
</div>
</div>
<div id="content">
    <center><h3 style="color:red"> <b><u> @L("LeaveRequest")</u></b></h3></center>
</div>
<br /><br />
    <div class="row" style="margin-left:5%">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered col-xs-12" style="width:93%">
                <tr>
                    <td>
                        @L("LeaveRequestId")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.id}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("EmployeeName")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.employeeRefName}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("EmployeeCode")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.employeeRefId}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("RequestDate")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.dateOfApply | date : 'dd-MMM-yy'}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("LeaveFrom")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.leaveFrom | date : 'dd-MMM-yy'}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("LeaveTo")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.leaveTo | date : 'dd-MMM-yy'}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("No.Of.Days")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.totalNumberOfDays}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("LeaveType")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.leaveTypeRefName}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("LeaveReason")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.leaveReason}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("HandOverWorkTo")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.handOverWorkTo}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @L("ContactOfWorkIncharge")
                    </td>
                    <td>
                        <b>{{vm.leaverequest.contactOfWorkIncharge}}</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br /><br /><br />
    <div id="footer" class="col-xs-12">
        <small>  @L("SignNotRequired") </small>
    </div>

    </div>
