﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<div ng-controller="tenant.views.hr.master.leaverequest.leavemobileindex as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("LeaveRequest").Pluralize()</span> @*<small>@L("LeaveRequestHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right" ng-if="!vm.errorFlag">
            @*<button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createLeaveRequest()">
                <i class="fa fa-plus"></i> @L("Apply")</button>

        </div>
    </div>
    <div ng-if="vm.errorFlag">
        <h2 class="red">@L("EmployeeCodeNotAssignedToThisUser", "") </h2>
    </div>
    <div class="portlet light" ng-if="!vm.errorFlag">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Employee")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

