@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.monthlystoresales as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("MonthlySales")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Locations")</span>
			</button>
		</div>
	</div>

	<div class="portlet light">
		<div class="portlet-body">
			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">

						<hr />
						<div class="row">
							<div class="col-md-4">
								<label class="control-label">@L("FromDate")</label>
								<div class='input-group'>
									<input type='text' class="form-control form-control-1 form-input input-sm fromq from" placeholder="Enter Month and year" ng-cha id="fromDate" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<label class="control-label">To Date</label>
								<div class='input-group'>
									<input type='text' class="form-control form-control-1 form-input input-sm fromq to" placeholder="Enter Month and year" ng-cha id="endDate" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 text-right margin-top-20">
									<button class="btn blue" ng-click="vm.clear()">
										<i class="fa fa-eraser"></i> @L("Clear")
									</button>

									<div class="btn-group">
										<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
											<i class="fa fa-file-excel-o"></i> @L("ExportLocation")
											<i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a ng-click="vm.exportToExcel(0,1)">@L("Excel")</a>
											</li>
											<li>
												<a ng-click="vm.exportToExcel(1,1)">@L("HTML")</a>
											</li>
										</ul>
									</div>

									<div class="btn-group">
										<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
											<i class="fa fa-file-excel-o"></i> @L("ExportLocationGroup")
											<i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a ng-click="vm.exportToExcel(0,0)">@L("Excel")</a>
											</li>
											<li>
												<a ng-click="vm.exportToExcel(1,0)">@L("HTML")</a>
											</li>
										</ul>
									</div>

									<button class="btn blue" ng-click="vm.getData()">
										<i class="fa fa-refresh"></i> @L("Refresh")
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="portlet-body">
			<div busy-if="vm.loading">
				<div>
					<div class="content_str" ng-repeat="dataByMonth in vm.data">
						<table class="table table-bordered custom_table_date border_bottom_none table-condensed">
							<tr class="thead_title">
								<td colspan="22" class="border_bottom_none font_weight_bold">{{dataByMonth.monthToString}}</td>
							</tr>
							<tr class="thead_content">
								<td class="item border_bottom_none text-center font_weight_bold">@L("Location")</td>
								<td class="item border_bottom_none text-center font_weight_bold" ng-repeat="department in  vm.lstDepartment">
									{{department.displayText}}
								</td>
								<td class="item border_bottom_none text-center font_weight_bold">@L("TotalActual")  {{getYearFromDate(dataByMonth.month)}} </td>
								<td class="item border_bottom_none text-center font_weight_bold">@L("TotalActual")  {{getYearFromDate(dataByMonth.month) - 1}}</td>
								<td class="item border_bottom_none text-center font_weight_bold">@L("TotalActual") {{getYearFromDate(dataByMonth.month)- 2}} </td>
								<td class="item border_bottom_none text-center font_weight_bold">@L("Actual")  {{getYearFromDate(dataByMonth.month)}} vs @L("Actual") {{getYearFromDate(dataByMonth.month) - 1}} (%)</td>
								<td class="item border_bottom_none text-center font_weight_bold">@L("Actual") {{getYearFromDate(dataByMonth.month)}} vs @L("Actual") {{getYearFromDate(dataByMonth.month) - 2}} (%)</td>
							</tr>
							<tr ng-repeat="dataByLocation in  dataByMonth.listDataByLocation">
								<td class="item border_bottom_none text-center">{{dataByLocation.locationCode}}</td>
								<td class="item border_bottom_none text-center " ng-repeat="department in  vm.lstDepartment">
									<p>
										{{vm.getTotalAmount(department,dataByLocation.listDataByDepartment)  | number:2}}
									</p>
								</td>
								<td class="item border_bottom_none text-center ">{{dataByLocation.totalAmountByLocationCurrrentYear | number:2}}</td>
								<td class="item border_bottom_none text-center ">{{dataByLocation.totalAmountByLocation1YearAgo | number:2}}</td>
								<td class="item border_bottom_none text-center ">{{dataByLocation.totalAmountByLocation2YearAgo | number:2}}</td>
								<td class="item border_bottom_none text-center ">{{dataByLocation.percentWith1YearAgo | number:2}} %</td>
								<td class="item border_bottom_none text-center ">{{dataByLocation.percentWith2YearAgo | number:2}} % </td>
							</tr>
							<tr class="nodata" ng-if="dataByMonth.listDataByLocation.length == 0">
								<td colspan="22" class="border_bottom_none font_weight_bold text-center">No data</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.item {
		max-width: 116px;
	}

	.w-100 {
		width: 100%;
	}


	.float-right {
		float: right;
	}

	.thead_title {
		background-color: #008000;
		font-weight: bold;
		color: white;
	}

	.thead_content {
		background-color: #808080;
		color: white;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #808080;
		color: white;
	}

	.font_weight_bold {
		font-weight: bold;
	}

	.nodata {
		background: navajowhite;
		color: red;
	}
</style>
