@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
@*<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />*@
<div ng-controller="tenant.views.connect.programSettingTemplate.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.programSettingTemplate.id">@L("EditProgramSettingTemplate"): {{vm.programSettingTemplate.name}}</span>
                        <span ng-if="!vm.programSettingTemplate.id">@L("CreateProgramSettingTemplate")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <form name="detailform" novalidate>
            <div class="portlet-body">
                <div class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DefaultValue")</label>
                                    <input class="form-control" type="text"
                                           ng-class="{'edited':vm.programSettingTemplate.defaultValue}"
                                           ng-model="vm.programSettingTemplate.defaultValue" />
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    Values Based On Locations
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-2 margin-top-20">
                                            <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label>Value</label>
                                                <input class="form-control" type="text"
                                                       ng-class="{'edited':vm.programSettingValue.actualValue}"
                                                       ng-model="vm.programSettingValue.actualValue" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 margin-top-20">
                                            <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase">
                                            Program Setting Value
                                        </span>
                                    </div>
                                    <div class="actions pull-right">
                                        <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-eraser"></i> Clear
                                        </a>
                                        <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-search"></i> Filter
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row" busy-if="vm.loading">
                                        <div class="col-xs-6">
                                            <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row margin-top-40" ng-show="vm.programSettingTemplate.id" style="border:outset">
                        <div class="col-xs-6">
                            <table class="table table-striped table-bordered col-xs-6">
                                <thead>
                                    <tr>
                                        <td>
                                            Remove
                                        </td>
                                        <td>
                                            Edit
                                        </td>
                                        <td>
                                            Locations
                                        </td>
                                        <td>
                                            Value
                                        </td>
                                        <td>
                                            Save
                                        </td>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.programSettingValues">
                                    <td>
                                        <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removePortion(data,index)" />
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-primary" value="Edit" data-ng-click="data.editFlag=true" />
                                    </td>
                                    <td>-->
                        @*{{data.locationGroup}}*@
                        @*<br ng-if="data.locationGroup.locations.length>0 && data.editFlag" />*@
                        <!--<h4 ng-if="data.locationGroup.locations.length>0">Locations : </h4>
                                            <h5 class="bold" style="color:blue" ng-if="data.locationGroup.locations.length>0" data-ng-repeat="(locindex,locdata) in data.locationGroup.locations"> {{locdata.name}}<br /> </h5>
                                            <br ng-if="data.locationGroup.groups.length>0" />
                                            <h4 ng-if="data.locationGroup.groups.length>0">Location Groups : </h4>
                                            <h5 class="bold" style="color:purple" ng-if="data.locationGroup.groups.length>0" data-ng-repeat="(locindex,locdata) in data.locationGroup.groups"> {{locdata.name}}<br /> </h5>
                                            <a ng-if="data.editFlag" ng-click="vm.openLocation(data)">Change Location </a>
                                        </td>
                                        <td>
                                            <input ng-disabled="!data.editFlag" ng-if="vm.programSettingTemplate.programSettingType == null || vm.programSettingTemplate.programSettingType == 2"
                                                   class="form-control" type="text"
                                                   ng-class="{'edited':data.actualValue}"
                                                   ng-model="data.actualValue" required />

                                            <input ng-disabled="!data.editFlag" ng-if="vm.programSettingTemplate.programSettingType == 0" class="form-control" type="text"
                                                   onkeypress="return NumberOnly( event, null)"
                                                   ng-class="{'edited':data.actualValue}"
                                                   ng-model="data.actualValue" required />

                                            <div ng-disabled="!data.editFlag" ng-if="vm.programSettingTemplate.programSettingType == 1" class="md-checkbox-list">
                                                <input ng-model="data.actualValue" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <input ng-disabled="detailform.$invalid || !data.editFlag" type="button" class="btn btn-primary" value="@L("Save")" data-ng-click="vm.savePortion(data)" />
                                        </td>
                                    </tr>
                                </table>
                                <a class="pull-right" ng-click="vm.addValuePortion()"> <i class="fa fa-plus">Add Values</i> </a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" @*ng-disabled="detailform.$invalid"*@>
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" @*ng-disabled="detailform.$invalid"*@>
                                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .host {
        margin-top: 0 !important;
    }
</style>