﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading">
    <div class="modal-header">
        <div class="col-xs-7">
            <h3 style="color:red" class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.materialRefName}}</span> 
            </h3>
            <h4 style="color:red">
                <span> {{vm.quantity}} {{vm.unitRefName}}</span>
            </h4>
        </div>
        <div class="col-xs-5 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row" ng-if="vm.detailData.length>0">
            <div class="col-xs-12" ng-if="vm.detailData.length>0">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption><h3>@L("Menu")</h3></caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            @*<th>@L("Dept")</th>*@
                            <th>@L("Menu")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("PortionPerSale")</th>
                            <th class="text-right">@L("Material") @L("Required") @L("Quantity")</th>
                            <th class="text-right">@L("UOM")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.detailData">
                        <td align="right">
                            {{index+1}}
                        </td>
                        @*<td>
                                {{data.departmentName}}
                            </td>*@
                        <td>
                            {{data.posRefName}}
                        </td>
                        <td align="right">
                            {{data.totalSaleQuantity | number : 6}}
                        </td>
                        <td align="right">
                            <span>{{data.portionPerUnitOfSales | number : 6}}</span>
                        </td>
                        <td align="right">
                            {{data.portionQty | number : 6}}
                        </td>
                        <td align="right">
                            <span>{{data.unitRefName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            @L("Total")
                        </td>
                        <td align="right">
                            <span style="color:blue">{{vm.quantity | number : 6}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>