﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cater.quotecosting.caterquoteCosting as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Quotation").Pluralize() Costing</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="false" class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading || vm.loadingCount">
        <div class="portlet-title portlet-title-filter">
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label class="control-label">@L("DateRange")</label>
                        <input id="reportDate" date-range-picker type="text" ng-change="vm.dateRangeChange();" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                               class="form-control date-picker" ng-model="vm.dateRangeModel" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <label class="control-label">@L("CustomerName")</label>
                    <div class="input-group">
                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("CustomerName")" type="text">
                        <span class="input-group-btn">
                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label>@L("Customer")</label>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="vm.openCustomerLookup()">
                                <span ng-if="vm.caterCustomerId == 0 || vm.caterCustomerId == null ">@L("SelectCustomer")</span>
                                <span ng-if="vm.caterCustomerId && vm.caterCustomerId!=0">
                                    {{ vm.caterCustomerId }} - {{ vm.caterCustomerName }}
                                </span>
                            </button>
                        </div>
                        @*<div class="form-group">
                                <a href="javascript:void(0);" ng-click="vm.openCustomer()">@L("EditCustomer")</a>
                            </div>*@
                    </div>
                </div>
                <div class="col-xs-6 margin-top-10 text-right">
                    <button type="button" class="btn btn-primary" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" ng-click="vm.getAll()">
                        <i class="fa fa-refresh"></i> @L("Refresh")
                    </button>
                    <button type="button" class="btn btn-primary green" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" ng-click="vm.getCosting()">
                        <i class="fa fa-money"></i> @L("Costing")
                    </button>
                    <button type="button" class="btn btn-primary blue" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" ng-click="vm.cosingForAll()">
                        <i class="fa fa-money"></i> @L("Costing") for All Quote
                    </button>
                    <button type="button" class="btn" ng-click="vm.clear()">
                        <i class="fa fa-eraser"></i> @L("Clear")
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered col-xs-12">
                <caption class="text-center">Quotation Details</caption>
                <thead>
                    <tr>
                        <th>@L("Id")</th>
                        <th>@L("CustomerName")</th>
                        <th class="text-right">@L("EventDate")/Time </th>
                        @*<th class="text-right">@L("EventTime")</th>*@
                        <th class="text-right">@L("Pax")</th>
                        @*<th class="text-right">@L("OrderChannel")</th>*@
                        <th class="text-right">@L("TotalAmount") Per Pax </th>
                        <th class="text-right">Quote Amount </th>
                        <th>@L("Costing") Action</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.refQuotationHeaders">
                    <td class="col-xs-1">
                        <b> {{data.id}} </b>
                    </td>
                    <td class="col-xs-2">
                        <b>  {{data.caterCustomerCustomerName}}</b>
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.eventDateTime | date : 'dd-MMM-yyyy EEE'}}
                        <br />
                        <b>  {{data.eventDateTime | date : 'HH:mm'}}</b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <b>  {{data.noOfPax}}</b>
                    </td>
                    @*<td class="col-xs-1 text-right">
                        {{data.orderChannel}}
                    </td>*@
                    <td class="col-xs-1 text-right">
                        {{data.totalAmount |number:2}}
                    </td>
                    <td class="col-xs-1 text-right">
                        {{ data.noOfPax * data.totalAmount |number:2}}
                    </td>
                    <td class="col-xs-2">
                        <input ng-model="data.doesCostingRequired" type="checkbox"> Incl in Costing &nbsp; &nbsp;
                        <a ng-click="data.doesCostingRequired=true;vm.getCosting();">(Click here for Instant Cost) </a>
                    </td>
                </tr>
                <tr style="color:blue">
                    <td colspan="5" class="col-xs-3 text-right"><h4> Total Quote Amount </h4></td>
                    <td class="col-xs-1 text-right">
                        <h4>  {{vm.totalQuoteAmount |number:2}} </h4>
                    </td>
                    <td class="col-xs-1">
                        <h4>  <a ng-click="vm.cosingForAll()"><span>Costing For All Above </span> </a> </h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="portlet light" ng-show="vm.costingData!=null && vm.costingData.overAllCosting!=null">
        <div ng-if="vm.costingData!=null && vm.costingData.overAllCosting!=null">
            <div id="divStat" class="row margin-top-10" busy-if="vm.loading || vm.loadingCount">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.costingData.overAllCosting.totalCateringBillValue}} </span>
                            </div>
                            <div class="desc"> <span ng-if="vm.overAllFlag"> Over All </span> Quote Total </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">

                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.costingData.overAllCosting.totalMaterialCostRequired}} </span>
                            </div>
                            <div class="desc"> <span ng-if="vm.overAllFlag"> Over All </span> Food Cost Amount</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat yellow">
                        <div class="visual">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.costingData.overAllCosting.foodCostPercentage}} </span>
                            </div>
                            <div class="desc"> <span ng-if="vm.overAllFlag"> Over All </span> Food Cost %</div>
                        </div>
                    </div>

                </div>
                @*<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        &nbsp;
                        <span class="clickable-item" style="color:blue" ng-if="!vm.costCentreWiseadvancedFiltersAreShown" ng-click="vm.costCentreWiseadvancedFiltersAreShown=!vm.costCentreWiseadvancedFiltersAreShown;"><i class="fa fa-angle-down"></i>@L("Show") All</span>
                        <span class="clickable-item" style="color:blue" ng-if="vm.costCentreWiseadvancedFiltersAreShown" ng-click="vm.costCentreWiseadvancedFiltersAreShown=!vm.costCentreWiseadvancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("Hide") All</span>
                    </div>*@
            </div>
        </div>
        <br />

        <div data-ng-repeat="(quoteindex,quotedata) in vm.costingData.quotationWiseCostingList">

            <div class="row margin-top-20" style="border-style:outset">
                <span style="color:blue" class="pull-right input-lg"> Id : {{quotedata.quotationInfo.id}}</span>
                <h3 class="text-center" style="color:blue"> Customer : {{quotedata.quotationInfo.caterCustomerName}} , Date : {{quotedata.quotationInfo.eventDateTime | date : 'dd-MMM-yyyy EEE'}} Time : {{quotedata.quotationInfo.eventTime | date : 'HH:mm'}} - Pax : {{quotedata.quotationInfo.noOfPax}}</h3>

                <div class="col-lg-6">

                    <table class="table table-striped table-bordered col-xs-12">
                        <caption class="text-center">Ingredients Material Cost Data</caption>
                        <thead>
                            <tr>
                                <th>@L("Material")</th>
                                <th class="text-right">@L("Quantity")</th>
                                <th class="text-right">@L("UOM")</th>
                                <th class="text-right">@L("Price")</th>
                                <th class="text-right">@L("Cost")</th>
                                <th class="text-right">@L("Cost") %</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in quotedata.quoteRequiredMaterialWithCostDtoList">
                            <td class="col-xs-3">
                                <b> {{data.materialRefName}} </b> <span ng-click="vm.viewLinkedMenu(data)" class="btn-xs pull-right"> <i data-toggle="tooltip" title="Click to View Menu wise material mapping" data-placement="top" class="fa fa-eye"></i> </span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <a ng-click="vm.viewLinkedMenu(data)"> <b>  {{data.totalQty | number:3}}</b> </a>
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.uom}}
                            </td>
                            <td class="col-xs-1 text-right">
                                <b>  {{data.price | number:3}}</b>
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.totalCost |number:3}}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.costPercentage |number:3}}
                            </td>
                        </tr>
                        <tr style="color:blue">
                            <td colspan="4" class="col-xs-3 text-right"> Total Cost</td>
                            @*<td class="col-xs-1 text-right"></td>
                                <td class="col-xs-1 text-right"></td>
                                <td class="col-xs-1 text-right"></td>*@
                            <td class="col-xs-1 text-right">
                                {{quotedata.totalMaterialCostRequired |number:2}}
                            </td>
                            <td class="col-xs-1"></td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-4">
                    <table class="table table-striped table-bordered col-xs-12">
                        <caption class="text-center">Quotation Details</caption>
                        <thead>
                            <tr>
                                <th>@L("Menu")</th>
                                <th class="text-right">Ordered @L("Qty")</th>
                                <th class="text-right">@L("Price")</th>
                                <th class="text-right">@L("Cost")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in quotedata.quotationDetails">
                            <td class="col-xs-3">
                                <b> {{data.menuItemName}} </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b>  {{data.quantity | number:3}}</b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b>  {{data.price | number:3}}</b>
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.amount |number:3}}
                            </td>
                        </tr>
                        <tr style="color:blue">
                            <td colspan="3" class="col-xs-3 text-right"> Quote Cost Per Pax</td>
                            @*<td class="col-xs-1 text-right"></td>
                                <td class="col-xs-1 text-right"></td>*@
                            <td class="col-xs-1 text-right">
                                {{quotedata.quotationInfo.totalAmount |number:2}}
                            </td>
                        </tr>
                        <tr style="color:blue">
                            <td colspan="3" class="col-xs-3 text-right"> Total Quotation for {{quotedata.quotationInfo.noOfPax |number:2}} Pax </td>
                            @*<td class="col-xs-1 text-right"></td>
                                <td class="col-xs-1 text-right"></td>*@
                            <td class="col-xs-1 text-right">
                                {{quotedata.totalCateringBillValue |number:2}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-2">

                    <div class="dashboard-stat blue margin-top-5" ng-show="vm.overAllFlag">
                        <div class="visual">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{quotedata.totalCateringBillValue}} </span>
                            </div>
                            <div class="desc">Quote Total </div>
                        </div>
                    </div>



                    <div class="dashboard-stat purple  margin-top-5" ng-show="vm.overAllFlag">
                        <div class="visual">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{quotedata.totalMaterialCostRequired}} </span>
                            </div>
                            <div class="desc">Food Cost Amount</div>
                        </div>
                    </div>


                    <div class="dashboard-stat yellow  margin-top-5" ng-show="vm.overAllFlag">
                        <div class="visual">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{quotedata.foodCostPercentage}} </span>
                            </div>
                            <div class="desc">Food Cost %</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
