﻿<div ng-controller="tenant.views.addons.urbanpiper as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">UrbanPiper</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row margin-top-20">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        <tr>
                            <td>@L("Url")</td>
                            <td>
                                <input type="text" ng-model="vm.urbanPiper.url" name="url" class="form-control" required>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("UserName")</td>
                            <td>
                                <input type="text" ng-model="vm.urbanPiper.user" name="user" class="form-control" required>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Key")</td>
                            <td>
                                <input type="text" ng-model=" vm.urbanPiper.key" name="key" class="form-control" required>
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.checkConnected()" button-busy="vm.loading">
                                    @L("Save")
                                </button>
                            </td>
                        </tr>
                       
                    </table>
                </div>
            </div>
            <div class="row margin-top-20" >
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        <tr>
                            <td>@L("Locations")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncLocations()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
        </div>
    </div>


</div>