﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="dineplantaxCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.dineplantax.id">@L("EditDinePlanTax"): {{vm.dineplantax.Id}}</span>
                <span ng-if="!vm.dineplantax.id">@L("CreateDinePlanTax")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="taxName" ng-class="{'edited':vm.dineplantax.taxName}" ng-model="vm.dineplantax.taxName" required>
                        <label>@L("Name")</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input no-hint">
                        <select id="TransactionType" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.transactionTypes" ng-model="vm.dineplantax.transactionTypeId" required></select>
                        <label>@L("TransactionType")</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplantaxCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>

            @*<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.taxMapping()" ng-if="vm.dineplantax.id">
                <i class="fa fa-save"></i> <span>@L("TaxMapping")</span>
            </button>*@
        </div>
    </form>
</div>

