﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'rebate':
                label = 'Rebate percentage if any on the Taxable value, otherwise please feed Zero \'0\'';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.dineplantax.dineplantaxDetail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("TaxMapping") : {{vm.dineplantax.taxName | uppercase }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="dineplantaxCreateOrEditForm">
                    <div class="form-body">
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading="@L("Tax")" tabindex="1" active="vm.tabone">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group no-hint">
                                            <label>@L("Name")</label>
                                            <input class="form-control" type="text" name="taxName" ng-class="{'edited':vm.dineplantax.taxName}" ng-model="vm.dineplantax.taxName" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="help-block">@L("FutureData")</span>
                                        <input type="checkbox"
                                               bs-switch
                                               ng-model="vm.dineplantax.futureData"
                                               switch-size="small"
                                               switch-on-text="@L("On")"
                                               switch-off-text="@L("Off")" />
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label">@L("TransactionType") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                            <ui-select class="borderself" ng-model="vm.dineplantax.transactionTypeId" ng-required="true">
                                                <ui-select-match placeholder="Select Transaction Type ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.transactionTypes | filter: $select.search | limitTo: vm.uilimit ">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row" ng-if="vm.dineplantax.id||vm.futureDataFlag == true">
                                    <div class="col-xs-6">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Tax Based On Locations
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div ui-grid="vm.locationGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="@L("TaxMapping")" tabindex="2" active="vm.tabtwo" ng-if="vm.dineplantax.id||vm.futureDataFlag == true">
                                <div class="panel panel-info margin-top-15">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                        <h3 class="panel-title bold">
                                            Tax Mapping Based On Locations
                                        </h3>
                                    </div>
                                    <div id="collapse1" class="collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <button class="btn btn-large green" ng-click="vm.openLocation()">
                                                            Select Location
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group ">
                                                        <label>@L("Percentage")</label>
                                                        <input ng-blur="vm.getDetail()" class="form-control" type="number" id="percentage" name="percentage" ng-class="{'edited':vm.taxlocation.taxPercentage}" ng-model="vm.taxlocation.taxPercentage" maxlength="5">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="vm.taxlocation.dinePlanTaxMappings.length==0">
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div ng-if="" class="col-sm-12 text-right">
                                                </div>
                                                <div class="col-sm-12">
                                                    <table class="table table-striped table-bordered col-sm-12">
                                                        <thead>
                                                            <tr>
                                                                <th>@L("Delete")</th>
                                                                <th>@L("Department")</th>
                                                                <th>@L("Category")</th>
                                                                <th>@L("Menu")</th>
                                                                <th>@L("Add")</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                        <tr data-ng-repeat="(index,data) in vm.taxlocation.dinePlanTaxMappings">
                                                            <td class="col-sm-1">
                                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                                                    <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                                </button>
                                                            </td>
                                                            <td class="col-sm-2">
                                                                <ui-select id="matCategory" ng-model="data.departmentId">
                                                                    <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                                    <ui-select-choices ng-model="data.departmentId" repeat="item.value as item in vm.refdepartments | filter: $select.search | limitTo: vm.uilimit ">
                                                                        <div ng-bind="item.displayText"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </td>
                                                            <td class="col-sm-2">
                                                                <div class="form-group">
                                                                    <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==null" data-ng-click="vm.openforCategoryItem(data)" required>
                                                                    <input type="button" class="btn btn-primary" value='{{ data.categoryId }} - {{ data.categoryName }}' ng-if="data.categoryId!=null" data-ng-click="vm.openforCategoryItem(data)">
                                                                </div>
                                                            </td>
                                                            <td class="col-sm-2">
                                                                <div class="form-group">
                                                                    <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==null" data-ng-click="vm.openforMenuItem(data)" required>
                                                                    <input type="button" class="btn btn-primary" value='{{ data.menuItemId }} - {{ data.menuItemGroupCode }}' ng-if="data.menuItemId!=null" data-ng-click="vm.openforMenuItem(data)">
                                                                </div>
                                                            </td>
                                                            <td class="col-sm-1">
                                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-footer" style="height:50px">
                                            <div class="row pull-right">
                                                <button type="button" class="btn btn-primary" ng-click="vm.saveMapping()">@L("UpSert")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </uib-tab>
                        </uib-tabset>
                    </div>

                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-hide="vm.tabtwo==true">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplantaxCreateOrEditForm.$invalid" ng-hide="vm.tabtwo==true">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>