﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });

    function enable_text(status) {
        // status = !status;
        document.employeedocumentinfoCreateOrEditForm.DefaultAlertDays.disabled = status;
        document.employeedocumentinfoCreateOrEditForm.stdate.disabled = status;
        document.employeedocumentinfoCreateOrEditForm.enddate.disabled = status;
    }

</script>

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="empdocumentinfoCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.employeedocumentinfo.id">@L("EditEmployeeDocumentInfo"): {{vm.employeedocumentinfo.id}}</span>
                <span ng-if="!vm.employeedocumentinfo.id">@L("CreateEmployeeDocumentInfo")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Employee")*</label>
                        <ui-select class="borderself" ng-model="vm.employeedocumentinfo.employeeRefId" ng-disabled="vm.loginStatus == 'EMP'">
                            <ui-select-match placeholder="Select Employee...">{{$select.selected.employeeRefName}} - {{$select.selected.employeeRefCode}}</ui-select-match>
                            <ui-select-choices repeat="item.employeeRefId as item in vm.refemployeecode | filter: $select.search | limitTo: vm.uilimit">
                                <small>
                                    <span>{{ item.employeeRefName }} <span></span> </span>
                                    <span>{{ item.employeeRefCode }} <span></span> </span>
                                    <br ng-if="item.activeStatus==false" />
                                    <span style="color:orangered;" ng-if="item.activeStatus==false">@L("Resigned"): {{ item.lastWorkingDate | date : 'dd-MMM-yyyy' }}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("DocumentName")*</label>
                        <ui-select class="borderself" ng-model="vm.employeedocumentinfo.documentInfoRefId" ng-change="vm.getDefaultAlertDays($select.selected)">
                            <ui-select-match placeholder="Select Document ...">{{$select.selected.documentName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refdocumentinfo | filter: $select.search">
                                <div ng-bind="item.documentName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input id="documentReferenceNumber" class="form-control" type="text" name="documentReferenceNumber" ng-class="{'edited':vm.employeedocumentinfo.docReferenceNumber}" ng-model="vm.employeedocumentinfo.docReferenceNumber" />
                        <label>@L("DocumentReferenceNumber")*</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="islifetime">
                    <div class="md-checkbox tp-bottom">
                        <input id="IsLifeTime" class="md-check" type="checkbox" name="IsLifeTime" ng-class="{'edited':vm.employeedocumentinfo.lifeTimeFlag}"
                               ng-model="vm.employeedocumentinfo.lifeTimeFlag" ng-disabled="true">
                        <label for="IsLifeTime">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsLifeTime")
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" @*ng-click="vm.showCheck()" ng-change="vm.hideCheck()" id="alertdays"*@>
                <div class="col-xs-12" ng-if="!vm.employeedocumentinfo.lifeTimeFlag">
                    <label>@L("StartDate")*</label>
                    <input type="text" id="stDate" ng-model="vm.employeedocumentinfo.startDate" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" @*ng-change="validateDate()"*@ @*ng-blur="vm.hideCheck()"*@ />
                </div>
            </div>
        <br />
            <div class="row">
                <div class="col-xs-12" ng-if="!vm.employeedocumentinfo.lifeTimeFlag">
                    <label>@L("EndDate")*</label>
                    <input type="text" id="endDate" ng-model="vm.employeedocumentinfo.endDate" class="form-control"
                           uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats"
                           ng-click="open2()" @*ng-change="validateDate()"*@ />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-if="!vm.employeedocumentinfo.lifeTimeFlag">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event,'cancel')" id="DefaultAlertDays" class="form-control" type="text" name="DefaultAlertDays" ng-class="{'edited':vm.employeedocumentinfo.defaultAlertDays}" ng-model="vm.employeedocumentinfo.defaultAlertDays" />
                        <label>@L("DefaultAlertDays")*</label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12" ng-if="vm.employeedocumentinfo.id">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("ExistingFile")</label> : <span>{{vm.employeedocumentinfo.fileName}}</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group" id="filebrowse">
                <label>@L("UploadDocument")</label>
                <br />
                <input id="fileinput" type="file" nv-file-select size="70" uploader="vm.uploader" ng-click="vm.changeVariable()" />
                <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            </div>
            <div class="m-heading-1 border-green m-bordered" id="viewfile" ng-if="vm.employeedocumentinfo.fileName">
                <p> @L("DownloadTemplate_Info") </p>
                <a href="{{ vm.importpath }}">@L("ViewUploadedDocument")</a>
            </div>

</div>
            <div class="modal-footer">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="employeedocumentinfoCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
</form>
</div>
