﻿
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });

    function enable_text(status) {
        // status = !status;
        document.employeedocumentinfoCreateOrEditForm.DefaultAlertDays.disabled = status;
        document.employeedocumentinfoCreateOrEditForm.stdate.disabled = status;
        document.employeedocumentinfoCreateOrEditForm.enddate.disabled = status;
    }

</script>
<div>
    <form name="employeedocumentinfoCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.employeedocumentinfo.id">@L("Download")  @L("DocumentInfo"): {{vm.employeedocumentinfo.id}}</span>
                <span ng-if="!vm.employeedocumentinfo.id">@L("Download") @L("DocumentInfo")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("Employee")</label>
                        <ui-select class="borderself" ng-model="vm.employeedocumentinfo.employeeRefId" ng-disabled="vm.employeedocumentinfo.id">
                            <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refemployeecode | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("DocumentName")</label>
                        <ui-select class="borderself" ng-model="vm.employeedocumentinfo.documentInfoRefId" ng-disabled="vm.employeedocumentinfo.id" >
                            <ui-select-match placeholder="Select Document ...">{{$select.selected.documentName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refdocumentinfo | filter: $select.search">
                                <div ng-bind="item.documentName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
         
            <div class="form-group" id="filebrowse">
                <label>@L("UploadDocument")</label>
                <br />
                <input id="fileinput" type="file" nv-file-select size="70" uploader="vm.uploader"/>
                <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            </div>
            <div class="m-heading-1 border-green m-bordered" id="viewfile" >
                <p> @L("DownloadInfo") </p>
                <a href="{{ vm.importpath }}">@L("ViewUploadedDocument")</a>
            </div>
        </div>

     
        <div class="modal-footer">
            <button name="cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
          
        </div>
    </form>
</div>
