﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<style>
    .ui-greencolor {
        background-color: black;
        font-weight: bold;
        color: green;
    }
</style>

<div ng-controller="tenant.views.hr.master.employeedocumentinfo.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("EmployeeDocumentInfo").Pluralize()</span> @*<small>@L("EmployeeDocumentInfoHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2 margin-top-10">
            <div class="md-checkbox">
                <input id="showPendingFlag" class="md-check red" type="checkbox" ng-click="vm.getAll()" ng-model="vm.showPendingFlag" name="showPendingFlag" />
                <label class="bold" style="color:brown" for="showPendingFlag">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("Show") @L("Pending")
                </label>
            </div>
        </div>
        <div class="col-xs-2 margin-top-10">
            <div class="md-checkbox">
                <input id="showExpiredFlag" class="md-check red" type="checkbox" ng-click="vm.getAll()" ng-model="vm.showExpiredFlag" name="showExpiredFlag" />
                <label class="red" style="color:orangered" for="showExpiredFlag">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("Show") @L("Expired")
                </label>
            </div>
        </div>
        <div class="col-xs-5 text-right">
            @*<button class="btn" ng-click="vm.clear()" id="clear">
                    <i class="fa fa-download"></i> @L("Clear")
                </button>*@

            <button class="btn darkCyan" ng-click="vm.import()" id="import">
                <i class="fa fa-download"></i> @L("Import")
            </button>

            <button class="btn purple" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createEmployeeDocumentInfo()">
                <i class="fa fa-plus"></i> @L("CreateEmployeeDocumentInfo")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row" ng-hide="vm.clientflag">
                            <div class="col-xs-3">
                                <div class="form-group no-hint">
                                    <label>@L("EmployeeName")</label>
                                    <input class="form-control" type="text" name="EmployeeName" id="EmployeeName"
                                           ng-model="vm.filterText">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DocumentName") <a ng-if="vm.documentInfoRefId" ng-click="vm.documentInfoRefId=null;"> &nbsp;&nbsp; @L("Clear")</a></label>
                                    <ui-select class="borderself" ng-model="vm.documentInfoRefId" ng-change="vm.getAll()">
                                        <ui-select-match placeholder="Select Document ...">{{$select.selected.documentName}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refdocumentinfo | filter: $select.search">
                                            <div ng-bind="item.documentName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" ng-click="vm.dateSetup()" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>

                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button class="btn blue default" ng-click="vm.getAll()" id="getAll">
                                    <i class="fa fa-refresh"></i> @L("Refresh")
                                </button>
                                @*<span class="input-group-btn">
                                        <button ng-click="vm.getAll()" class="btn btn-default blue-chambray-stripe" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

