﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />



<style>
    .highlight-alreadyavailable {
        border: dotted;
        border-color: red;
        color: deeppink;
        font-weight: bold;
    }
</style>

<div ng-controller="tenant.views.engage.reservation.reservation as vm">

    <div busy-if="vm.loading" class="row">
        <div class="col-sm-6  text-center">
            <button class="glyphicon glyphicon-user large-icon" type="button" ng-click="vm.choseMember()"></button>
            <h3>{{ vm.memberDetail }}</h3>
            <span>{{ vm.memberAddress }}</span>
        </div>
        <div class="col-sm-6 text-center">
            <button class="glyphicon glyphicon-map-marker large-icon" type="button" ng-click="vm.choseLocation()"></button>
            <h3>{{ vm.locationDetail }}</h3>
            <span>{{ vm.locationAddress }}</span>
        </div>
    </div>


    <div busy-if="vm.loading" class="row margin-top-40" ng-if="vm.selectedMember.memberCode">
        <div class="col-sm-9">
            <lable> @L("Date")</lable>
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group">
                        <input type="datetime" id="date" ng-change="vm.dateChange()" ng-blur="vm.dateChange();"  name="date" class="form-control" data-ng-model="vm.dateselected">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="vm.dateselected" 
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown' , minuteStep : 30}" 
                                    data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" 
                                    ng-change="vm.dateChange()" >
                    </datetimepicker>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="control-label">@L("Pax")</label>
            <input type="text" id="searPax" ng-focus="vm.focusOnPax();vm.dateChange();" class="form-control text-right" ng-model="vm.selectedPax" placeholder='@L("Pax")' onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)" required>
        </div>
    </div>
    <div busy-if="vm.loading" class="row margin-top-40" ng-if="vm.selectedMember.memberCode">
        <div class="col-sm-6">
            <div class="form-group">
                <input id="remainderFlag" class="md-check" type="checkbox" ng-model="vm.remainderFlag" name="Remainder" />
                <label for="remainderFlag">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("Remainder")
                </label>
                <ui-select class="borderself" id="selMed" ng-if="vm.remainderFlag" multiple ng-class="{'edited':vm.remainderMediums}" ng-model="vm.remainderMediums">
                    <ui-select-match placeholder="">{{$item.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.refremainderMediums | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-sm-6" ng-if="vm.remainderFlag">
            <div class="form-group">
                <label class="control-label">@L("RemainderTime")</label>
                <ui-select class="borderself" id="seltime" ng-if="vm.remainderFlag" multiple ng-class="{'edited':vm.remainderTimes}" ng-model="vm.remainderTimes">
                    <ui-select-match placeholder="">{{$item.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.refremaindertimes | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.selectedMember.memberCode">
        <div class="col-sm-12">
            <label class="control-label">@L("Remarks")</label>
            <input type="text" id="searNote" class="form-control input-lg" ng-model="vm.selectedNotes" ng-focus="vm.focusOnNotes()" placeholder='@L("Note")'>
        </div>
    </div>

    <div class="row margin-top-20" ng-if="vm.existreservationDetails.length>0">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered red col-xs-12">
                <thead>
                    <tr>
                        <th>@L("Member")</th>
                        <th class="text-right">@L("Pax")</th>
                        <th class="text-right">@L("Date")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.existreservationDetails" ng-class="{'highlight-alreadyavailable': data.alreadyExists}">
                    <td class="col-xs-4">
                      {{data.memberCode}}  - {{ data.memberName}}
                    </td>
                    <td class="col-xs-2 text-right">
                        <input id="Pax" type="text" class="form-control text-right" ng-model="data.pax" />
                    </td>
                    <td class="col-xs-2 text-right">
                        {{ data.reservationDate | date : 'yyyy-MMM-dd HH:mm' }}
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row margin-top-20" ng-if="vm.selectedMember.memberCode">
        <div class="col-md-6">
            <div class="form-group">
                <button ng-disabled="vm.saving" type="button" name="cancel" id="cancel" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.menuitem.portions.length==0">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>

</div>