﻿<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Upload")</span>
            </h3>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <input type="file" nv-file-select name="fileUpload" id="fileUpload" uploader="vm.uploader" />
                @*<button ng-click="vm.chooseFile()">Choose files upload</button>*@

                @*<span ng-show="vm.uploader.queue.length">{{vm.uploader.queue.length}} files chosen</span>
                    <span ng-show="!vm.uploader.queue.length">No file chosen</span>*@

                <span class="help-block m-b-none">@L("UploadTemplate_Info")</span>
            </div>
            <div id="status">{{ vm.status }}</div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.loading" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.loading" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Upload")</span></button>
        </div>
    </form>
</div>