@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.connect.report.till.tilltransaction as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TillTransaction").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getOrders()">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>
							<div class="col-md-6">

								<div class="form-group">
									<label class="control-label">@L("User")</label>
									<input type="text" class="form-control" ng-model="vm.requestParams.lastModifiedUserName">
								</div>
								@*<div class="form-group">
						<label class="control-label">@L("Location")</label>
						<ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
							<ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="location in vm.locations">
								<small>
									@L("Name"): {{ location.name }}
									<br />
									@L("Code"): {{ location.code }}
								</small>
							</ui-select-choices>
						</ui-select>
					</div>*@
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Account").Pluralize()</label>
									<ui-select multiple ng-model="vm.requestParams.accounts" class="form-control">
										<ui-select-match placeholder=@L("Account")>{{$item.displayText}}</ui-select-match>
										<ui-select-choices repeat="location in vm.accounts">
											<small>
												@L("Name"): {{ location.displayText }}
											</small>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<button class="btn btn-large green" ng-click="vm.openLocation()">
									<i class="fa fa-file"></i> <span>@L("Locations")</span>
									<span ng-if="vm.currentLocation"> - {{ vm.currentLocation.name }}</span>
								</button>
							</div>
						</div>
					</div>
					<div class="row  margin-top-10 margin-bottom-10">
						<div class="col-xs-12" ng-if="true">
							<query-builder options="builder.options" builder="builder.builder"></query-builder>
						</div>
					</div>
					<div class="row margin-bottom-10">
						<div class="col-sm-6">
						</div>
						<div class="col-sm-6 text-right">

							<button class="btn blue" ng-click="vm.clear()">
								<i class="fa fa-eraser"></i> @L("Clear")
							</button>
							<div class="btn-group">
								<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-file-excel-o"></i> @L("Export")
									<i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
									</li>
									<li>
										<a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
									</li>
									@*<li>
							<a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
						</li>*@
								</ul>
							</div>
							<button class="btn blue" ng-click="vm.getOrders()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
						</div>
					</div>
				</form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>