<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.menu.tickettaggroup.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.tag.id">@L("EditTicketTagGroup"): {{vm.tag.name}}</span>
                        <span ng-if="!vm.tag.id">@L("CreateTicketTagGroup") : {{vm.tag.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading='@L("General")' tabindex="1">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">@L("Name")</label>
                                            <input type="text" class="form-control" ng-model="vm.tag.name" placeholder='@L("Name")' required>
                                        </div>
                                    </div>
                                    <div class="col-md-1 margin-top-30" ng-if="vm.tag.id">
                                        <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal(null)">
                                            <i class="fa fa-file"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("Department")</label>
                                            <ui-select multiple ng-model="vm.requestDepartments" class="form-control">
                                                <ui-select-match placeholder="@L("Department")">{{$item.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="dept in vm.departments| filter: $select.search | limitTo: vm.uilimit">
                                                    <small>
                                                        {{ dept.displayText }}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("TagType")</label>
                                            <select id="CategoryEditBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.processors"
                                                    ng-model="vm.tag.dataType"></select>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="FreeTagging" class="md-check" type="checkbox" ng-model="vm.tag.freeTagging">
                                                    <label for="FreeTagging">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("FreeTagging")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="saveFreeTags" class="md-check" type="checkbox" ng-model="vm.tag.saveFreeTags">
                                                    <label for="saveFreeTags">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("SaveFreeTags")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="forcevalue" class="md-check" type="checkbox" ng-model="vm.tag.forceValue">
                                                    <label for="forcevalue">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("ForceValue")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="askbeforeticket" class="md-check" type="checkbox" ng-model="vm.tag.askBeforeCreatingTicket">
                                                    <label for="askbeforeticket">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AskBeforeTicket")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </uib-tab>
                            <uib-tab heading='@L("Tags")' tabindex="1">
                                <div class="row  margin-top-10" ng-if="vm.tag.tags.length==0">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addTag()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row margin-top-10">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("Name")*</th>
                                                    <th></th>
                                                    <th>@L("AlternateName")</th>
                                                    <th>@L("Add")</th>

                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(productIndex, product) in vm.tag.tags">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeTag(productIndex)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-3">
                                                    <input type="text" class="form-control" ng-model="product.name"  />
                                                </td>
                                                <td class="col-sm-1 margin-top-30">
                                                    <div ng-if="product.id!=null">
                                                        <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal(product)">
                                                            <i class="fa fa-file"></i> <span></span>
                                                        </button>
                                                    </div>
                                                    <div ng-if="product.id==null"></div>
                                                </td>
                                                <td class="col-sm-3">
                                                    <input type="text" class="form-control" ng-model="product.alternateName" />
                                                </td>
                                                <td class="col-sm-2">

                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addTag()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>