﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="publicholidayCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.publicholiday.id">@L("EditPublicHoliday"): {{vm.publicholiday.holidayDate}}</span>
                <span ng-if="!vm.publicholiday.id">@L("CreatePublicHoliday")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-12">
                    <label>@L("HolidayDate")</label>
                    <input onkeydown="return false" type="text" id="holidayDate" ng-model="vm.publicholiday.holidayDate" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="holidayReason" ng-class="{'edited':vm.publicholiday.holidayReason}" ng-model="vm.publicholiday.holidayReason" required>
                        <label>@L("HolidayReason")</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="number" name="OTProportion" ng-class="{'edited':vm.publicholiday.otProportion}" ng-model="vm.publicholiday.otProportion" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" required>
                        <label>@L("OTProportion")</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="publicholidayCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

