﻿<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="common.views.outlet.po as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h3>
                @L("PurchaseOrder") : {{ vm.location.name }}
            </h3>
        </div>
        <div class="col-xs-6 text-right">
            <h2>
                <button class="fa fa-home large-icon" type="button" ng-click="vm.gotoHome()"></button>
            </h2>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input class="form-control" type="text" name="itemcode" ng-class="{'edited':vm.itemcode}" ng-model="vm.itemcode" required maxlength="128">
                                    <label>@L("Item")</label>
                                </div>
                            </div>
                            <div class="col-md-6 margin-top-10">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <button class="btn btn-primary blue" ng-click="vm.fetch()">
                                        <i class="fa fa-floppy-o"></i> @L("Fetch")
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title">
                                    <h4>@L("Orders")</h4>
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>

                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th>@L("Name")*</th>
                                            <th>@L("Quantity")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(productIndex, product) in vm.menuitem.portions">
                                        <td>
                                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRow(index)">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.name" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.multiPlier" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>	