﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<style>
    /*#wrapper {
        border-style:solid;
        display:table-cell;
        vertical-align:top;
        text-align:center;
    }*/

  
</style>

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div>
    <form name="materialgroupcategoryCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.materialgroupcategory.id">@L("EditMaterialGroupCategory"): {{vm.materialgroupcategory.materialGroupCategoryName | uppercase}}</span>
                <span ng-if="!vm.materialgroupcategory.id">@L("CreateMaterialGroupCategory")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("MaterialGroupName") <a ng-click="vm.openGroupMaster()" href="javascript:alert('Category');">@L("AddOrEdit")</a></label>

                        <ui-select id="selmaterialGroupRefId" class="borderself" ng-model="vm.materialgroupcategory.materialGroupRefId" @*class="form-control"*@ required>
                            <ui-select-match placeholder="Select Material Group Name...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices @*ng-model="vm.inwarddirectcredit.locationRefId"*@ repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>


                        @*<select id="selmaterialGroupRefId" autofocus class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterialgroup" ng-model="vm.materialgroupcategory.materialGroupRefId" required></select>*@
                    </div>
                </div>
            @*</div>

            <div class="row">*@
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="materialGroupCategoryName" ng-class="{'edited':vm.materialgroupcategory.materialGroupCategoryName}" ng-model="vm.materialgroupcategory.materialGroupCategoryName" required >
                        <label>@L("MaterialGroupCategoryName")</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save(1)" ng-disabled="materialgroupcategoryCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save(2)" ng-disabled="materialgroupcategoryCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
            </button>
        </div>
    </form>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("MaterialGroupCategoryName")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

