<div>
    <form name="languageTextEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.disable">@L("EditText")</span>
                <span ng-if="!vm.disable">@L("CreateText")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("Key")</label>
                <textarea ng-disabled="vm.disable" auto-focus class="form-control edited" ng-class="{'edited':vm.editingText.key}" rows="4" ng-model="vm.editingText.key"></textarea>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label>@L("Value")</label>
                    <textarea class="form-control" ng-class="{'edited':vm.editingText.value}" rows="4" ng-model="vm.editingText.value"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button ng-show="vm.disable" ng-disabled="vm.saving || vm.currentIndex == 0" title="Page Up" class="btn btn-default" ng-click="vm.previous()"><i class="fa fa-long-arrow-left"></i> <span>@L("Previous")</span></button>
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button button-busy="vm.saving" class="btn btn-primary green" ng-click="vm.saveAndClose()" ng-disabled="languageTextEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("SaveAndClose")</span></button>
                <button ng-show="vm.disable" type="submit" title="Page Down" button-busy="vm.saving" ng-disabled="vm.currentIndex >= (vm.allTexts.length-1)" class="btn btn-primary blue" ng-click="vm.saveAndNext()" ng-disabled="languageTextEditForm.$invalid"><span>@L("SaveAndNext")</span> <i class="fa fa-long-arrow-right"></i></button>
            </div>
    </form>
</div>