@using DinePlan.DineConnect.Localization
<div ng-controller="common.views.dineplanLanguages.texts as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("LanguageTexts")</span> <small>@L("LanguageTextsHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="TextTargetLanguageSelectionCombobox">@L("Language")</label>
                                    <select id="TextTargetLanguageSelectionCombobox"
                                            class="form-control bs-select"
                                            ng-model="vm.targetLanguageName"
                                            ui-jq="selectpicker"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option ng-repeat="language in vm.languages"
                                                data-icon="{{language.icon}}"
                                                value="{{language.name}}">
                                            <i class="{{language.icon}}"></i>{{language.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group pull-right">
                                    <button class="btn btn-success" ng-click="vm.exportToExcel()">
                                        <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                                    </button>
                                    <button class="btn btn-primary" ng-click="vm.importLanguages()">
                                        <i class="fa fa-download"></i> @L("Import")
                                    </button>
                                    <button ng-click="vm.createText()" class="btn btn-primary" type="button"><i class=" fa fa-plus"></i> @L("CreateText")</button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.loadTexts()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions"style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>