﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.engage.serviceinfo.templates as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TemplateBuilder").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.a.createTemplate()">
                <i class="fa fa-plus"></i> @L("Create") @L("Template")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.d.ui.filterText"
                                   auto-focus class="form-control"
                                   placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.a.getTemplates()"
                                        class="btn default" type="submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.d.ui.templateGridLoading" style="height: 100%;">
                <div ui-grid="vm.c.templateGrid" style="height: 100%;"
                     ui-grid-pagination ui-grid-resize-columns
                     dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>