﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/App/tenant/views/engage/serviceinfo/templates/templatebuilder.min.css" rel="stylesheet">
<link href="~/App/tenant/views/engage/serviceinfo/templates/c-font-awesome.min.css" rel="stylesheet">
@*<script src="~/App/tenant/views/engage/serviceinfo/templates/filestack-0.1.10.js"></script>*@
<script src="~/App/tenant/views/engage/serviceinfo/templates/templatebuilder.min.js"></script>
<div ng-controller="tenant.views.engage.serviceinfo.templatebuilder2 as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TemplateBuilder")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>@L("Name")</label>
                            <input class="form-control" type="text" name="XXX"
                                   ng-model="vm.d.template.name">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ServiceInfoType")</label>
                            <select ng-change="vm.e.serviceInfoTypeSelected()" ng-model="vm.d.ui.selectedServiceInfoType"
                                    class="form-control" ng-options="t.description for t in vm.d.serviceInfoTypes"></select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="checkbox">
                                <label style="margin-left:15px;">
                                    <input type="checkbox" style="margin-top:2px;" ng-model="vm.d.template.isActive">
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="checkbox">
                                <label style="margin-left:15px;">
                                    <input type="checkbox" style="margin-top:2px;" ng-model="vm.d.template.storedAsPlainText">
                                    Is plain text
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div>
                                <button class="btn btn-primary blue" button-busy="vm.d.ui.saving" ng-click="vm.a.saveTemplate()">
                                    <i class="fa fa-floppy-o"></i> @L("Save")
                                </button>
                                <button class="btn btn-default" ng-click="vm.a.goBackToList()">
                                    <i class="fa fa-arrow-circle-left"></i> @L("Cancel")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="gjs" style="height:100%; overflow:auto" busy-if="vm.d.ui.editorLoading">

        <style>
            .panel {
                width: 90%;
                max-width: 700px;
                border-radius: 3px;
                padding: 30px 20px;
                margin: 150px auto 0px;
                background-color: #d983a6;
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
                color: rgba(255,255,255,0.75);
                font: caption;
                font-weight: 100;
            }

            .welcome {
                text-align: center;
                font-weight: 100;
                margin: 0px;
            }

            .logo {
                width: 70px;
                height: 70px;
                vertical-align: middle;
            }

                .logo path {
                    pointer-events: none;
                    fill: none;
                    stroke-linecap: round;
                    stroke-width: 7;
                    stroke: #fff
                }

            .big-title {
                text-align: center;
                font-size: 3.5rem;
                margin: 15px 0;
            }

            .description {
                text-align: justify;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        </style>
    </div>
    <div id="convertToPlainText" style="display:none;"></div>
</div>
