﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

@*<style>
    .modal-dialog {
        width: 60%;
    }
</style>

<div class="modal-dialog">*@
<div>
    <form name="manualreasonCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.manualreason.id">@L("EditManualReason"): {{vm.manualreason.manualReasonName | uppercase}}</span>
                <span ng-if="!vm.manualreason.id">@L("CreateManualReason")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">@L("Action")</label>
                        <ui-select class="borderself" id="selMaterialType" ng-click="vm.getAll()" ng-class="{'edited':vm.manualreason.manualReasonCategoryRefId}"
                                   ng-model="vm.manualreason.manualReasonCategoryRefId" required>
                            <ui-select-match placeholder="Select Action ...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refmanualActions | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!vm.newAdditionNeeded">
                <div class="col-sm-12">
                    <div class="md-checkbox">
                        <input id="generalIncluded" class="md-check" type="checkbox" ng-model="vm.generalIncluded" ng-change="vm.getAll();" name="generalIncluded" />
                        <label for="generalIncluded">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Include") @L("General")
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.newAdditionNeeded">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" autofocus type="text" name="manualreasonname" ng-class="{'edited':vm.manualreason.manualReasonName}" ng-model="vm.manualreason.manualReasonName" required>
                        <label>@L("Reason")</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="manualreasonCreateOrEditForm.$invalid" ng-if="vm.newAdditionNeeded">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="manualreasonCreateOrEditForm.$invalid" ng-if="vm.newAdditionNeeded">
                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
            </button>
            <button type="button" button-busy="vm.saving" busy-text="@L("Create")" class="btn btn-primary blue" ng-click="vm.newAdditionNeeded=true" ng-if="!vm.newAdditionNeeded">
                <i class="fa fa-save"></i> <span>@L("Create")</span>
            </button>
        </div>
    </form>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>

</div>

