﻿<div busy-if="vm.loading">
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title" style="color:red">
                <span>@L("ImportAttLog")</span>
            </h3>
        </div>
        @*<div class="m-heading-1 border-green m-bordered">
            <p> @L("DownloadTemplate_Info") </p>
            <a href="{{ vm.importpath }}">@L("DownloadTemplate")</a>
        </div>*@
        <div class="modal-body">
            <div class="form-group">
                <input type="file" nv-file-select size="50" uploader="vm.uploader" />
                @*<span class="help-block m-b-none">@L("ImportTemplate_Info")</span>*@
                <br />

                @*Drag and Drop File Upload and Save into local path*@
                <style>
                    /* Just add this CSS to your project */
                    .container {
                        width: 400px;
                    }

                    .dropzone {
                        border: 2px dashed #dedede;
                        border-radius: 5px;
                        background: #f5f5f5;
                    }

                        .dropzone i {
                            font-size: 5rem;
                        }

                        .dropzone .dz-message {
                            color: rgba(0,0,0,.24);
                            font-weight: 500;
                            font-size: initial;
                            text-transform: uppercase;
                        }
                </style>
                <script>
                    $(function () {
                        $("#my-dropzone").dropzone({
                            clickable: true,
                            maxFilesize: 25, //in mb
                            uploadMultiple: true,
                            maxFiles: 5, // allowing any more than this will stress a basic php/mysql stack
                            addRemoveLinks: true,
                            acceptedFiles: '.png,.jpg,.pdf,.docx,.doc,.gif', //allowed filetypes


                        });

                    });

                    Dropzone.options.dropzoneForm = {
                        init: function () {
                            this.on("complete", function (data) {
                                //var res = eval('(' + data.xhr.responseText + ')');
                                var res = JSON.parse(data.xhr.responseText);
                            });
                        }
                    };

                </script>

                <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <div class="container" ng-hide="true">
                    <div class="row my-4">
                        <div class="col">
                            <div class="jumbotron">
                                <form action="~/Home/SaveUploadedFile" class="dropzone dz-clickable" id="my-dropzone" ng-hide="true">
                                    <div class="d-flex flex-column" ng-hide="true">
                                        <i class="material-icons text-muted">cloud_upload</i>
                                        Drag &amp; Drop here or click
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <div class="container">
                    <div class="row my-4">
                        <div class="col">
                            <div class="jumbotron">
                                <form action="~/Home/SaveUploadedFile" class="dropzone dz-clickable" id="my-dropzone">
                                    <div class="dz-message d-flex flex-column">
                                        <i class="material-icons text-muted">cloud_upload</i>
                                        Drag &amp; Drop here or click
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                @*Drag and Drop File Upload and Save into local path*@
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>
            </div>
        </div>
    </form>
</div>