﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .highlight-alreadyavailable {
        border: dotted;
        border-color: red;
        background-color: black;
        color: red;
        font-weight: bold;
    }

    .weekoff-given {
        border: dotted;
        border-color: red;
        color: yellowgreen;
        font-weight: bold;
    }

    .InvoiceDone {
        border: dotted;
        border-color: red;
        color: green;
        font-weight: bold;
    }

    .PendingForInvoice {
        border: dotted;
        border-color: red;
        background-color: white;
        color: red;
        font-weight: bold;
    }


    .PinkPending {
        border: dotted;
        border-color: red;
        color: deeppink;
        font-weight: bold;
    }

    .YellowPending {
        border: dotted;
        border-color: red;
        background-color: black;
        color: yellow;
        font-weight: bold;
    }
</style>


<script>

    function myFunction() {
        document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>



<div ng-controller="tenant.views.tick.master.employeeattendance.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("AttendanceLog").Pluralize()</span> @*<small>@L("AttendanceLogHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.import" class="btn btn-default" ng-click="vm.import()" id="import">
                <i class="fa fa-download"></i> @L("Import")
            </button>
            <button ng-if="vm.permissions.import" class="btn btn-default" ng-click="vm.importmanual()" id="import">
                <i class="fa fa-download"></i> @L("Import")@L("Manual")
            </button>
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createAttendanceLog()">
                <i class="fa fa-plus"></i> @L("CreateAttendanceLog")
            </button>

        </div>
    </div>

    @*Drag and Drop File Upload and Save into local path*@
    @*<style>
        /* Just add this CSS to your project */

        .dropzone {
            border: 2px dashed #dedede;
            border-radius: 5px;
            background: #f5f5f5;
        }

            .dropzone i {
                font-size: 5rem;
            }

            .dropzone .dz-message {
                color: rgba(0,0,0,.54);
                font-weight: 500;
                font-size: initial;
                text-transform: uppercase;
            }

        #dropZone {
            background: gray;
            border: black dashed 3px;
            width: 100px;
            padding: 50px;
            text-align: center;
            color: white;
        }
    </style>
    <script>
        $(function () {
            $("#my-dropzone").dropzone({
                clickable: true,
                maxFilesize: 25, //in mb
                uploadMultiple: true,
                maxFiles: 5, // allowing any more than this will stress a basic php/mysql stack
                addRemoveLinks: true,
                acceptedFiles: '.png,.jpg,.pdf', //allowed filetypes


            });

        });

        Dropzone.options.dropzoneForm = {
            init: function () {
                this.on("complete", function (data) {
                    //var res = eval('(' + data.xhr.responseText + ')');
                    var res = JSON.parse(data.xhr.responseText);
                });
            }
        };

    </script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="container" ng-hide="true">
        <div class="row my-4">
            <div class="col">
                <div class="jumbotron">
                    <form action="~/Home/SaveUploadedFile" class="dropzone dz-clickable" id="my-dropzone">
                        <div class="dz-message d-flex flex-column">
                            <i class="material-icons text-muted">cloud_upload</i>
                            Drag &amp; Drop here or click
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

    @*Drag and Drop File Upload and Save into local path*@

    @*<div class="container">
            <div id='scheduler'></div>
        </div>
        <div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>*@





    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>

                        <div ng-if="vm.resultfromBioImport.length>0">
                            <h4> {{vm.bioimportRemarks}} </h4>
                            <hr />
                            <hr />
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-change="vm.getAll()" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <ui-select id="empid" class="borderself" ng-model="vm.employeeRefId" ng-change="vm.getAll()">
                                        <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refemployeecode | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">

                                    <button ng-click="vm.getAll()" id="enterbutton" class="btn default" type="submit"><i class="fa fa-thumbs-up fa-2x"></i></button>
                                    @*<button ng-click="vm.getFullDetail()" ng-disabled="!vm.employeeRefId" id="enterbutton1" class="btn default" type="button"><i class="fa fa-search-plus fa-2x"></i></button>*@
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="portlet-body" ng-if="vm.fingerviewFlag" style="height:70vh;">
            <div busy-if="vm.loading" style="height:100%">
                <div ui-grid="vm.userGridOptions" style="height:100%" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>

        <div ng-if="!vm.fingerviewFlag">
            <div class="row">
                <div class="col-xs-3">
                    <span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
                <div class="col-xs-2">
                    <input ng-model="vm.empnamefilter" auto-focus class="form-control" placeholder="@L("Name")" type="text">
                </div>
                <div class="col-xs-2">
                    <input ng-model="vm.workstatusfilter" class="form-control" placeholder="@L("Status")" type="text">
                </div>
                <div class="col-xs-2">
                    <input ng-model="vm.tspendingfilter" ng-change="vm.setNullifEmpty()" class="form-control" placeholder="@L("TimeSheet") @L("Status")" type="text">
                </div>
            </div>
            <div class="row" ng-if="vm.employeeExecutionDetails.length>0">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            @*<th>@L("Employee")</th>*@
                            <th>@L("Date")</th>
                            <th>@L("Status")</th>
                            <th>@L("Remarks")</th>
                            <th>@L("TimeSheet")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.employeeExecutionDetails | filter: { employeeRefName: vm.empnamefilter, workStatus : vm.workstatusfilter, timeSheetRemarks : vm.tspendingfilter } | orderBy : 'employeeRefName'">
                        @*<td class="col-xs-2">

                                <b> {{index + 1| limitTo:3}} - {{data.employeeRefName}} </b>
                            </td>*@
                        <td class="col-xs-2">
                            {{data.executionDate | date : 'EEE dd-MMM-yy'}}
                        </td>
                        <td class="col-xs-1" ng-class="{'highlight-alreadyavailable': data.workStatus=='@L("Absent")' }, {'weekoff-given': data.workStatus=='@L("WeekOff")' }">
                            <span ng-if="data.workStatus=='@L("Absent")'"> <b> <a href="" ng-click="vm.manualAttendance(data)"> {{data.workStatus}}</a> </b> </span>
                            <span ng-if="data.workStatus!='@L("Absent")'"> <b> {{data.workStatus}}</b> </span>
                        </td>
                        <td class="col-xs-4">
                            {{data.remarks}}
                        </td>
                        <td class="col-xs-3" ng-class="data.tsNgClass">
                            {{data.timeSheetRemarks}}
                        </td>
                    </tr>


                </table>

                <hr />

            </div>
        </div>
    </div>
</div>

