﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceInfo</title>
    <style>@ViewData["TemplateStyle"]</style>
</head>
<body>
    <div> 
        <div>@ViewData["Content"]</div>
    </div>
</body>
</html>
