﻿<div ng-controller="tenant.views.addons.quoyod as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">Qoyod</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-3">
                    @L("Key")
                </div>
                <div class="col-sm-6">
                    <input class="form-control ucase" type="text" name="name" ng-class="{'edited':vm.company.name}" ng-model="vm.code"  required>
                    
                </div>
                <div class="col-sm-3">
                    <button title="@L("Link")" class="btn btn-large" ng-click="vm.connect()">
                        @L("Save")
                    </button>
                </div>
            </div>

            <div class="row margin-top-20" ng-if="vm.isConnected">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>@L("Locations")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncLocations()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                            <td ng-if="vm.outputLocation!=null">
                                <span ng-if="vm.outputLocation.createCount>0">
                                    Create Records : {{ vm.outputLocation.createCount }}
                                </span>
                                
                                <span ng-if="vm.outputLocation.updateCount>0">
                                    Update Records : {{ vm.outputLocation.updateCount }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Suppliers")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncSuppliers()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                            <td ng-if="vm.outputSupplier!=null">
                                <span ng-if="vm.outputSupplier.createCount>0">
                                    Create Records : {{ vm.outputSupplier.createCount }}
                                </span>

                                <span ng-if="vm.outputSupplier.updateCount>0">
                                    Update Records : {{ vm.outputSupplier.updateCount }}
                                </span>
                            </td>
                        </tr>
                      
                          @*<tr>
                            <td>@L("Materials")/@L("MenuItem")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncLocations()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@L("Customers")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncCustomers()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                            <td>
                                <span ng-if="vm.outputCustomer!=null">
                                    Create Records : {{ vm.outputCustomer.createCount }}
                                    Update Records : {{ vm.outputCustomer.updateCount }}
                                </span>
                            </td>
                        </tr>*@

                    </table>
                </div>
            </div>
        
        </div>
    </div>


</div>