@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.futuredata.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.futureData.id">@L("EditFutureData")</span>
                        <span ng-if="!vm.futureData.id">@L("CreateFutureData")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" required
                                           ng-class="{'edited':vm.futureData.name}"
                                           ng-model="vm.futureData.name" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Type")</label>
                                    <select id="futureDataType" required
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.futureDataTypes"
                                            ng-model="vm.futureData.futureDateType"
                                            ng-change="vm.onChangedType()"></select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("FutureDate")</label>
                                    <input required id="futureDate"
                                           name="futureDate"
                                           class="form-control date-picker"
                                           ng-class="{'edited':vm.futureData.futureDate}"
                                           ng-model="vm.futureData.futureDate" />
                                </div>
                            </div>

                            @*<div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">@L("FutureDate") @L("To") &nbsp;<a ng-click="vm.futureData.futureDateTo=null" ng-if="vm.futureData.futureDateTo!=null">@L("Clear")</a></label>
                                    <input id="futureDateTo"
                                           name="futureDateTo"
                                           class="form-control date-picker"
                                           ng-class="{'edited':vm.futureData.futureDateTo}"
                                           ng-model="vm.futureData.futureDateTo" />
                                </div>
                            </div>*@

                            <div class="col-md-6">
                                @*<div class="form-group" ng-if="vm.futureData.futureDateType == 1">
                                        <label class="control-label">@L("MenuItem")</label>
                                        <select id="contents"
                                                class="form-control selectpicker"
                                                data_live_search="true"
                                                ng-options="item.value as item.displayText for item in vm.menuItems"
                                                ng-model="vm.futureData.contents"></select>
                                    </div>*@

                                <div class="form-group" ng-if="vm.futureData.futureDateType == 2">
                                    <label class="control-label">@L("PriceTag")</label>
                                    <select id="contents"
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="item.value as item.displayText for item in vm.priceTags"
                                            ng-model="vm.futureData.contents"></select>
                                </div>

                                <div class="form-group" ng-if="vm.futureData.futureDateType == 3">
                                    <label class="control-label">@L("Tax")</label>
                                    <select id="contents"
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="item.value as item.displayText for item in vm.taxes"
                                            ng-model="vm.futureData.contents"></select>
                                </div>

                                <div class="form-group" ng-if="vm.futureData.futureDateType == 4">
                                    <label class="control-label">@L("ScreenMenu")</label>
                                    <select id="contents"
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="item.value as item.displayText for item in vm.screenMenus"
                                            ng-model="vm.futureData.contents"></select>
                                </div>
                                <div class="form-group" ng-if="vm.futureData.futureDateType == 5">
                                    <label class="control-label">@L("ChangeType")</label>
                                    <select id="contents"
                                            class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="item.value as item.displayText for item in vm.changeType"
                                            ng-model="vm.futureData.contents"></select>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="vm.futureData.futureDateType == 5">
                                <div class="form-group">
                                    <input type="radio" class="zom-15" name="IsIncrease" ng-model="vm.futureData.isIncrease" value="true">
                                    <label>@L("Increase")</label>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="vm.futureData.futureDateType == 5">
                                <div class="form-group">
                                    <input type="radio" class="zom-15" name="IsIncrease" ng-model="vm.futureData.isIncrease" value="false">
                                    <label>@L("Decrease")</label>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.futureData.futureDateType == 5">
                                <div class="form-group">
                                    <label class="control-label">@L("Value")</label>
                                    <input type="number" class="form-control" required
                                           name="valueMenuprice"
                                           ng-class="{'edited':vm.futureData.value}"
                                           ng-model="vm.futureData.value" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row margin-top-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid" ng-hide="vm.futureData.entityId>0">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>