@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.futuredata.menuitem.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("FuturePrice").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="col-sm-12">
                <div class="pull-right form-group row">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Back")</button>
                    <button class="btn btn-primary" ng-click="vm.importPrices()">
                        <i class="fa fa-download"></i> @L("Import")
                    </button>
                </div>
            </div>

            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.loadPrices()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 75vh;">
            <div busy-if="vm.saving" style="height: 100%;">
                <div ui-grid="vm.gridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>