﻿<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Import")</span>
            </h3>
        </div>
        <div busy-if="vm.loading">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("DownloadTemplate_Info_Menu") </p>
                <a href="{{ vm.importpath }}">@L("DownloadTemplate")</a>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="file" nv-file-select uploader="vm.uploader" />
                <span class="help-block m-b-none">@L("ImportTemplate_Info")</span>
            </div>
        </div>
        <div class="modal-footer">
            <div busy-if="vm.loading">
                <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Import")</span>
                </button>
            </div>
        </div>
    </form>
</div>