@using System
@using DinePlan.DineConnect
<div class="page-footer-inner">
    <span class="text-muted">
            &copy; DineConnect 2008-@DateTime.Now.Year | Version: @(AppVersionHelper.Version) 
    </span>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>