﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.engage.giftvouchertype.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.giftvouchertype.id">@L("EditGiftVoucherType"): {{vm.giftvouchertype.name}}</span>
                        <span ng-if="!vm.giftvouchertype.id">@L("CreateGiftVoucherType")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <div class="md-checkbox-list" style="display: inline;" ng-if="vm.giftvouchertype.id">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="isDeleted" class="md-check" type="checkbox" ng-model="vm.isDeleted" ng-change="vm.getAll()">
                    <label for="isDeleted">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Deleted")</strong>
                    </label>
                </div>
            </div>
            <button ng-if="vm.giftvouchertype.id" class="btn btn-default" ng-click="vm.importFromExcel()">
                <i class="fa fa-download"></i> @L("Import")
            </button>
            <button ng-if="vm.giftvouchertype.id" class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("Export")
            </button>
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading='@L("General")' tabindex="1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                               @L("Category") <a ng-click="vm.giftvouchertype.giftVoucherCategoryId=null" ng-if="vm.giftvouchertype.giftVoucherCategoryId!=null&&vm.giftvouchertype.giftVoucherCategoryId>0">@L("Clear")</a>
                                            </label>
                                            <ui-select class="borderself" ng-model="vm.giftvouchertype.giftVoucherCategoryId">
                                                <ui-select-match placeholder="@L("Select") @L("Voucher") @L("Category")">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="vouchercategory.id as vouchercategory in  vm.vouchercategorys| filter: $select.search | limitTo: vm.uilimit ">
                                                    <small>
                                                        {{ vouchercategory.name }}
                                                        <br />
                                                        {{vouchercategory.code}}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Name") *</label>
                                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.giftvouchertype.name}" ng-model="vm.giftvouchertype.name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("VoucherType") *</label>
                                            <ui-select class="borderself" id="selMaterialType" ng-class="{'edited':vm.giftvouchertype.type}" ng-model="vm.giftvouchertype.type" required>
                                                <ui-select-match placeholder="Select Voucher Type...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.voucherTypes | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("VoucherValue") *</label>
                                            <input class="form-control" type="number" name="Format" ng-class="{'edited':vm.giftvouchertype.voucherValue}" ng-model="vm.giftvouchertype.voucherValue" min="1" required>
                                        </div>
                                    </div>

                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Conditions")' tabindex="2">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Validity") *</label>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                    <div class="input-group">
                                                        <input type="datetime" id="date" name="date" class="form-control" data-ng-model="vm.giftvouchertype.validTill">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="vm.giftvouchertype.validTill"
                                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown' , modelType: 'YYYY-MM-DD', minView: 'day'}"
                                                                    data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
                                                    </datetimepicker>
                                                </ul>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("MinimumTicketTotal") </label>
                                            <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.giftvouchertype.minimumTicketTotal}" ng-model="vm.giftvouchertype.minimumTicketTotal">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="AutoAttach" class="md-check" type="checkbox" ng-model="vm.giftvouchertype.autoAttach" ng-disabled="vm.giftvouchertype.id>0">
                                                    <label for="AutoAttach">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AutoAttach")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" ng-hide="vm.giftvouchertype.autoAttach">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="IsPointsApplicable" class="md-check" type="checkbox" ng-model="vm.giftvouchertype.isPointsApplicable">
                                                    <label for="IsPointsApplicable">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("PointsApplicable")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="IsRepeatApplicable" class="md-check" type="checkbox" ng-model="vm.giftvouchertype.isRepeatApplicable">
                                                    <label for="IsRepeatApplicable">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("RepeatAllowed")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6" ng-hide="!vm.giftvouchertype.isRepeatApplicable">
                                        <div class="form-group">
                                            <label>@L("RepeatCount")</label>
                                            <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.giftvouchertype.repeatCount}" ng-model="vm.giftvouchertype.repeatCount" required>
                                        </div>
                                    </div>
                                </div>


                            </uib-tab>
                            <uib-tab heading='@L("Generate")' tabindex="3">


                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Prefix")</label>
                                            <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.giftvouchertype.prefix}" ng-model="vm.giftvouchertype.prefix">
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Suffix")</label>
                                            <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.giftvouchertype.suffix}" ng-model="vm.giftvouchertype.suffix">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("TotalVouchers") *</label>
                                            <input class="form-control" type="text" name="VoucherCount" ng-class="{'edited':vm.giftvouchertype.voucherCount}" ng-model="vm.giftvouchertype.voucherCount" min="1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("TotalDigit") *</label>
                                            <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.giftvouchertype.voucherDigit}" ng-model="vm.giftvouchertype.voucherDigit" min="1" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-15" ng-hide="vm.giftvouchertype.autoAttach">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-if="vm.giftvouchertype.id">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary red" ng-click="vm.generate()" ng-disabled="vm.giftvouchertype.voucherCount==0 || vm.giftvouchertype.voucherDigit == 0">
                                                <i class="fa fa-save"></i> <span>@L("Generate")</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </uib-tab>
                            <uib-tab heading='@L("Vouchers")' tabindex="4" ng-if="vm.showvoucherstab">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dashboard-stat2">
                                            <div class="display">
                                                <div class="number">
                                                    <h3 class="font-green-sharp">
                                                        {{ vm.dashBoard.totalVoucherCount }}
                                                    </h3>
                                                    <small>@L("TotalCount").ToUpper() </small>
                                                </div>
                                                <div class="icon">
                                                    <i class="icon-pie-chart"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dashboard-stat2">
                                            <div class="display">
                                                <div class="number">
                                                    <h3 class="font-red-haze">{{ vm.dashBoard.totalClaimed }}</h3>
                                                    <small>@L("TotalClaimed").ToUpper() </small>
                                                </div>
                                                <div class="icon">
                                                    <i class="icon-like"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dashboard-stat2">
                                            <div class="display">
                                                <div class="number">
                                                    <h3 class="font-red-haze">{{ vm.dashBoard.totalAssigned }}</h3>
                                                    <small>@L("TotalAssigned").ToUpper() </small>
                                                </div>
                                                <div class="icon">
                                                    <i class="icon-like"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-9 margin-bottom-10">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    </div>
                                    <div class="col-sm-2">

                                        <span class="input-group-btn">
                                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-9 margin-bottom-10">
                                        <div class="md-checkbox-list" style="display: inline;">
                                            <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                                                <input id="isSelectAll" class="md-check" type="checkbox" ng-model="vm.isSelectAll" ng-change="vm.selectAll()">
                                                <label for="isSelectAll">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <strong>@L("SelectAll")</strong>
                                                </label>
                                            </div>
                                        </div>

                                        <button class="btn btn-large red" ng-if="!vm.isDeleted" ng-click="vm.deleteAll()">
                                            <i class="fa fa-times"></i> <span>@L("Delete")</span>
                                        </button>

                                        <button class="btn btn-large blue" ng-if="vm.isDeleted" ng-click="vm.activeAll()">
                                            <span>@L("Activate")</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 container-cover">
                                        <div class="grid-style" ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                    </div>
                                </div>

                            </uib-tab>
                        </uib-tabset>


                    </div>
                    <div class="modal-footer">
                        <div class="row margin-top-15">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(0)" ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                    <button button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    .grid-style {
        width: 1300px;
    }

    .container-cover {
        overflow-x: scroll;
    }
</style>