﻿@using DinePlan.DineConnect.Localization
<div>
    <form name="dinePlanForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Import")</span>
            </h3>
        </div>
        <div ng-if="vm.noError">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("DownloadTemplate_Info") </p>
                <a href="{{ vm.importpath }}">@L("DownloadTemplate")</a>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="file" nv-file-select uploader="vm.uploader" />
                    <span class="help-block m-b-none">@L("ImportTemplate_Info")</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="vm.loading" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.loading" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>
            </div>
        </div>
        <div ng-if="vm.error">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <p style="display:inline"> @L("FoundDuplicateRecord"): </p>
                        <p style="color:red; display:inline"> {{ vm.duplicateRecord }} </p>
                        <p style="display:inline"> @L("Records") </p>
                    </div>

                    <div class="col-sm-6 text-right">
                        <button class="btn btn-default" ng-click="vm.exportErrorToExcel()">
                            <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                        </button>
                    </div>
                </div>

                <div class="row margin-bottom-10">
                    <div class="col-xs-6">
                        <p style="display:inline"> @L("FoundDigitExceedLimitation"): </p>
                        <p style="color:red; display:inline"> {{ vm.digitExceedLimitation }} </p>
                        <p style="display:inline"> @L("RecordsNoCap") </p>
                    </div>

                </div>
                <div ui-grid="vm.voucherCodes" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="vm.loading" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            </div>
        </div>
    </form>
</div>