﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.engage.searchVouchers.index as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("GiftVoucher").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

        </div>
    </div>

    <div class="portlet light">
        <div class="row">
            <div class="col-sm-6">
                <div class="dashboard-stat2">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                {{ vm.dashBoard.totalVoucherCount }}
                            </h3>
                            <small>@L("TotalCount").ToUpper() </small>
                        </div>
                        <div class="icon">
                            <i class="icon-pie-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dashboard-stat2">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-red-haze">{{ vm.dashBoard.totalClaimed }}</h3>
                            <small>@L("TotalClaimed").ToUpper() </small>
                        </div>
                        <div class="icon">
                            <i class="icon-like"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

