﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">
            <span>@L("Voucher").Pluralize()</span>
        </h3>
    </div>
    <div class="modal-body" busy-if="vm.d.ui.loadings.modalBody">

        <div style="height: 100%;">
            <div ui-grid-selection ui-grid="vm.grid" style="height: 100%;"
                 ui-grid-pagination ui-grid-resize-columns
                 dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
        </div>

    </div>
    <div class="modal-footer">
        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default"
                ng-click="vm.a.modalCancel()">
            @L("Cancel")
            </button>
            <button style="min-width:100px;" type="submit" button-busy="vm.saving"
                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                    ng-click="vm.a.modalOk()">
                <span>@L("OK")</span>
            </button>
    </div>
</div>
<style>
    .ui-grid-row, .ui-grid-cell {
        height: 30px !important;
    }
</style>