﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.engage.voucher.index as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("EditGiftVoucher"): {{vm.giftvoucher.voucher}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="locationCreateOrEditForm" role="form" novalidate class="form-validation">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("VoucherName")</label>
                                <input class="form-control" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.giftvoucher.voucher}" ng-model="vm.giftvoucher.voucher" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>

