﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<div>
    <form name="createPrinterMapForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("CreatePrinterMap")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>@L("MenuItem")</label><br />
                        <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="vm.printerMap.menuItemId==0" data-ng-click="vm.openforMenuItem()" required>
                        <input type="button" class="btn btn-primary" value='{{ vm.printerMap.menuItemId}} - {{vm.printerMap.menuItemName}}' ng-if="vm.printerMap.menuItemId!=0"
                               data-ng-click="vm.openforMenuItem()">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label>@L("Printer")</label>
                        <select id="Printer"
                                class="form-control selectpicker"
                                data_live_search="true"
                                ng-options="(item) as item.displayText for item in vm.printers"
                                ng-model="vm.printer"
                                ng-change="vm.getPrinterValue(vm.printer)"></select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>@L("Template")</label>
                        <select id="Template"
                                class="form-control selectpicker"
                                data_live_search="true"
                                ng-options="(item) as item.displayText for item in vm.templates"
                                ng-model="vm.template"
                                ng-change="vm.getTemplateValue(vm.template)"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPrinterMapForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>