@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.printJob.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.printConfiguration.id">@L("EditPrintJob"): {{vm.printConfiguration.name}}</span>
                        <span ng-if="!vm.printConfiguration.id">@L("CreatePrintJob")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading="@L("PrintJob")" tabindex="1" active="vm.tabone">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.printConfiguration.name}"
                                           ng-model="vm.printConfiguration.name" required>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row" ng-if="vm.printConfiguration.id">
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase">
                                            @L("PrintJob")
                                        </span>
                                    </div>
                                    <div class="actions pull-right">
                                        <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-eraser"></i> @L("Clear")
                                        </a>
                                        <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                            <i class="fa fa-search"></i> @L("Filter")
                                        </a>

                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row" busy-if="vm.loading">
                                        <div ui-grid="vm.printJobOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("PrintJob") @L("Mapping")" tabindex="2" active="vm.tabtwo" ng-if="vm.printConfiguration.id">
                        <div class="panel panel-info margin-top-15">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    @L("PrintJob")
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">@L("AliasName")</label>
                                                <input class="form-control" type="text" name="AliasName" ng-class="{'edited':vm.printJob.aliasName}"
                                                       ng-model="vm.printJob.aliasName">
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center margin-top-20">
                                            <button class="btn btn-large green" ng-click="vm.openLocation()">
                                                @L("Select") @L("Location")
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("Group")</label>
                                                <input class="form-control" type="text" name="Group" ng-class="{'edited':vm.printJob.jobGroup}"
                                                       ng-model="vm.printJob.jobGroup">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">@L("WhatToPrint")</label>
                                                <select id="WhatToPrint"
                                                        class="form-control selectpicker"
                                                        data_live_search="true"
                                                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.whatToPrints"
                                                        ng-model="vm.printJob.whatToPrint"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4  margin-top-20">
                                            <div class="md-checkbox">
                                                <input id="ExcludeTax" class="md-check" type="checkbox" ng-model="vm.printJob.excludeTax">
                                                <label for="ExcludeTax">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("ExcludeTax")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 margin-top-20">
                                            <div class="md-checkbox">
                                                <input id="Negative" class="md-check" type="checkbox" ng-model="vm.printJob.negative">
                                                <label for="Negative">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Negative")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-hover">
                                                <caption>
                                                    <button type="button" class="btn btn-default pull-right " data-ng-click="vm.addPrintMap()">
                                                        @L("AddMap")
                                                    </button>
                                                </caption>
                                                <thead ng-if="vm.printJob.printerMaps.length>0">
                                                    <tr>
                                                        <th>@L("Department")</th>
                                                        <th>@L("Category")</th>
                                                        <th>@L("MenuItem")</th>
                                                        <th>@L("Printer")</th>
                                                        <th>@L("Template")</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tr data-ng-repeat="(productIndex, product) in vm.printJob.printerMaps">
                                                    <td class="col-sm-2">
                                                        <div class="form-group">
                                                            <input type="button" class="btn btn-primary" value='@L("Department")' ng-if="product.departmentId==0" data-ng-click="vm.openforDepartment(product)">
                                                            <input type="button" class="btn btn-primary" value='{{ product.departmentId }} - {{ product.departmentName }}' ng-if="product.departmentId!=0" data-ng-click="vm.openforDepartment(product)">
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <div class="form-group">
                                                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="product.categoryId==0" data-ng-click="vm.openforCategoryItem(product)" required>
                                                            <input type="button" class="btn btn-primary" value='{{ product.categoryId }} - {{ product.categoryName }}' ng-if="product.categoryId!=0" data-ng-click="vm.openforCategoryItem(product)">
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-3">
                                                        <div class="form-group">
                                                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="product.menuItemId==0" data-ng-click="vm.openforMenuItem(product)" required>
                                                            <input type="button" class="btn btn-primary" value='{{ product.menuItemId }} - {{ product.menuItemGroupCode }}' ng-if="product.menuItemId!=0" data-ng-click="vm.openforMenuItem(product)">
                                                        </div>
                                                    </td>

                                                    <td class="col-sm-3">
                                                        <ui-select ng-model="product.printerId">
                                                            <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                            <ui-select-choices ng-model="product.printerId" repeat="item.value as item in vm.printers | filter: $select.search">
                                                                <div ng-bind="item.displayText"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </td>
                                                    <td class="col-sm-3">
                                                        <ui-select ng-model="product.printTemplateId">
                                                            <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                                            <ui-select-choices ng-model="product.printTemplateId" repeat="item.value as item in vm.templates | filter: $select.search ">
                                                                <div ng-bind="item.displayText"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <button type="button" class="btn btn-primary" data-ng-click="vm.removePrintMap(productIndex)">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" style="height:50px">
                                    <div class="row pull-right">
                                        <button type="button" class="btn btn-primary" ng-click="vm.savePrintJobMapping()">@L("Add") @L("PrintJob")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-hide="vm.tabtwo==true">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-hide="vm.tabtwo==true">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>

</div>