﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.master.inventorycycletag.inventoryCycleTag as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span ng-if="vm.inventorycycletag.id">@L("EditInventoryCycleTag"): {{vm.inventorycycletag.name}}</span>
                        <span ng-if="!vm.inventorycycletag.id">@L("CreateInventoryCycleTag")</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <form name="inventorycycletagCreateOrEditForm" role="form" novalidate class="form-validation">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">@L("MaterialType")</label>
                            <ui-select class="borderself" id="selMaterialType" ng-change="vm.cyclemodeSelection()" ng-class="{'edited':vm.inventorycycletag.inventoryCycleMode}" ng-model="vm.inventorycycletag.inventoryCycleMode" required>
                                <ui-select-match placeholder="Select Tag Type...">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.refcyclemode | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group  no-hint">
                            <label>@L("InventoryCycleTagCode")</label>
                            <input class="form-control" type="text" name="inventoryCycleTagCode" ng-class="{'edited':vm.inventorycycletag.inventoryCycleTagCode}" ng-model="vm.inventorycycletag.inventoryCycleTagCode" required maxlength="50">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group  no-hint">
                            <label>@L("Description")</label>
                            <input class="form-control" type="text" name="InventoryCycleTagDescription" ng-class="{'edited':vm.inventorycycletag.inventoryCycleTagDescription}" ng-model="vm.inventorycycletag.inventoryCycleTagDescription" required>
                        </div>
                    </div>

                </div>
                <div class="row margin-top-40" id="weekly" ng-if="vm.inventorycycletag.inventoryCycleMode==1">
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Sunday" class="md-check" type="checkbox" name="Sunday" ng-class="{'edited':vm.weekly.sunday}" ng-model="vm.weekly.sunday">
                            <label for="Sunday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Sun")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Monday" class="md-check" type="checkbox" ng-class="{'edited':vm.weekly.monday}" ng-model="vm.weekly.monday">
                            <label for="Monday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Mon")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Tueday" class="md-check" type="checkbox" ng-class="{'edited':vm.weekly.tueday}" ng-model="vm.weekly.tueday">
                            <label for="Tueday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Tue")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Wedday" class="md-check" type="checkbox" ng-class="{'edited':vm.weekly.wedday}" ng-model="vm.weekly.wedday">
                            <label for="Wedday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Wed")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Thuday" class="md-check" type="checkbox" ng-class="{'edited':vm.weekly.thuday}" ng-model="vm.weekly.thuday">
                            <label for="Thuday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Thu")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Friday" class="md-check" type="checkbox" ng-class="{'edited':vm.weekly.friday}" ng-model="vm.weekly.friday">
                            <label for="Friday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Fri")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="md-checkbox">
                            <input id="Satday" class="md-check" type="checkbox" ng-class="{'edited':vm.weekly.satday}" ng-model="vm.weekly.satday">
                            <label for="Satday">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Sat")
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-40" id="monthly" ng-if="vm.inventorycycletag.inventoryCycleMode==2">
                    <div class="row margin-top-10">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Days")</label>
                                <select multiple ng-model="vm.selectedMonthdays" class="form-control" ng-options="mat as mat.day for mat in vm.monthCycleData"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">@L("Operations")</label>
                            <input type="number" class="form-control margin-bottom-10" ng-model="vm.monthday" ng-maxlength="2" onkeypress="return NumberOnly(event, 'cancel')" placeholder="Day">
                            <div class="pull-right">
                                <input type="button" class="form-control btn btn-sm btn-success margin-bottom-10" value="@L("Add")" data-ng-click="vm.addMonthday()" />
                                <input type="button" class="form-control btn btn-sm btn-warning margin-bottom-10" value="@L("Delete")" data-ng-click="vm.deleteMonthday()" />
                            </div>
                        </div>
                    </div>
                </div>

                <div style="border-style:outset" class="margin-bottom-10 margin-top-20">
                    <div class="row margin-top-20">
                        <div class="col-xs-2">                            
                            <div class="md-checkbox">
                                
                                <input id="doesApplicableToAllLocations" class="md-check" type="checkbox" ng-model="vm.inventorycycletag.doesApplicableToAllLocations" style="text-decoration: line-through;">
                                <label for="doesApplicableToAllLocations">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AllLocations") ?
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" ng-if="!vm.inventorycycletag.doesApplicableToAllLocations">
                            <button class="btn btn-large green" ng-click="vm.openLocation()">
                                <i class="fa fa-location-arrow"></i> <span> @L("Select") @L("Locations")</span>
                            </button>
                        </div>
                        <div class="col-sm-2" ng-if="!vm.inventorycycletag.doesApplicableToAllLocations">
                            <label style="color:red"> @L("Location") @L("Group") </label>
                            <br />
                            <h5 data-ng-repeat="(index,data) in vm.locationGroup.groups"> {{data.name}} <br /> </h5>
                        </div>
                        @*<div class="col-sm-2" ng-if="!vm.inventorycycletag.doesApplicableToAllLocations">
                            <label style="color:darkorange"> @L("Location") @L("Tag") </label>
                            <br />
                            <h5 data-ng-repeat="(index,data) in vm.locationGroup.tags"> {{data.name}} <br /></h5>
                        </div>*@
                        <div class="col-sm-2" ng-if="!vm.inventorycycletag.doesApplicableToAllLocations">
                            <label style="color:blue"> @L("Location") </label>
                            <br />
                            <h5 data-ng-repeat="(index,data) in vm.locationGroup.locations"> {{data.name}}<br /> </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="inventorycycletagCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
