﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div class="dinedevice" ng-controller="tenant.views.connect.dinedevice.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.dinedevice.id">@L("EditDineDevice"): {{vm.dinedevice.name}}</span>
                        <span ng-if="!vm.dinedevice.id">@L("CreateDineDevice")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading="@L("General")" tabindex="1">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" type="text" name="Name"
                                           ng-class="{'edited':vm.dinedevice.name}" ng-model="vm.dinedevice.name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DineDevice") @L("Type")</label>
                                    <ui-select class="borderself" ng-model="vm.dinedevice.deviceType" required
                                               ng-change="vm.onchangedinedevicetype()" ng-disabled="vm.dinedevice.id">
                                        <ui-select-match placeholder="@L("Select") @L("DineDevice") @L("Type")">
                                            {{$select.selected.displayText}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.dinedeviceTypes | filter: $select.search | limitTo: vm.uilimit ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading='@L("Settings")'
                             ng-if="vm.dinedevicefields && vm.dinedevicefields.length > 0 && (vm.dinedevice.deviceType == 0 || vm.dinedevice.deviceType == 1)">
                        <formly-form model="vm.dinedeviceType" fields="vm.dinedevicefields" options="vm.options"
                                     form="vm.form">
                        </formly-form>
                    </uib-tab>
                    <script type="text/ng-template" id="repeatSection.html">
                        <div ng-if="options.key != 'FilePaths' || (options.key == 'FilePaths' && model[options.key])" class="col-12">
                            <div class="title">{{to.label}}</div>
                            <div class="repeatsection {{to.className}}" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
                                <hr ng-if="$first">
                                <div class="margin-bottom-10 form-row">
                                    <div class="formly-wrap">
                                        <formly-form fields="fields"
                                                     model="element"
                                                     form="form">
                                        </formly-form>
                                    </div>
                                    <div ng-if="to.btnRemoveText" class="delete-btn">
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                                <hr ng-if="model[options.key] && model[options.key].length > 1">
                            </div>
                            <p ng-if="to.btnText" class="AddNewButton">
                                <button type="button" class="btn btn-primary margin-left-15" ng-click="addNew()">{{to.btnText}}</button>
                            </p>
                        </div>
                    </script>
                    <script type="text/ng-template" id="section.html">
                        <div class="col-12">
                            <div class="title">{{to.label}}</div>
                            <div class="section {{to.className}}" ng-init="fields = copyFields(to.fields)">
                                <hr>
                                <div class="margin-bottom-10 form-row">
                                    <div class="formly-wrap col-md-10">
                                        <formly-form fields="fields"
                                                     model="model[options.key]"
                                                     form="form">
                                        </formly-form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="dineSelect.html">
                        <div class="form-group">
                            <label class="control-label">{{to.label}}</label>
                            <ui-select ng-model="model[options.key]" ng-required="{{to.required}}" ng-change="onChangeDineSelect()">
                                <ui-select-match placeholder="{{to.placeholder}}">{{$select.selected[to.labelProp || 'name']}}</ui-select-match>
                                <ui-select-choices repeat="option[to.valueProp || 'value'] as option in to.options | filter: $select.search">
                                    <div ng-bind-html="option[to.labelProp || 'name'] | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </script>
                    <script type="text/ng-template" id="colorPicker.html">
                        <div class="form-group">
                            <label class="control-label">{{to.label}}</label>
                            <input type="text" class="form-control" color-picker color-picker-position="bottom" color-picker-outputformat="hex" color-picker-model="model[options.key]" ng-style="{background: model[options.key]}">
                        </div>
                    </script>
                    <script type="text/ng-template" id="sampleText.html">
                        <div class="form-group">
                            <label class="control-label">{{to.label}}</label>
                            <div ng-if="to.isBackgroundColor" class="sample-text"
                                 ng-style="{
                                    'background-color':model.Background,
                                    'color': model.Foreground
                                }">
                                Sample Text
                            </div>
                            <div ng-if="to.isFontSize" class="sample-text"
                                 ng-style="{
                                    'font-size': model[to.fieldFontSize] + 'px',
                                    'font-family': model.Font
                                }">
                                Sample Text
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="labelText.html">
                        <div class="form-group" ng-if="to.isVisible">
                            <label class="control-label">{{to.label}}</label>
                            <div class="labelText">
                                {{to.labelText}}
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="uploadFile.html">
                        <div ng-if="model" class="form-group">
                            <input type="file" nv-file-select uploader="uploader" />
                            <a class="help-block m-b-none" href="model.FilePath">{{model.FilePath}}</a>
                        </div>
                    </script>
                    <script type="text/ng-template" id="uploadFileSound.html">
                        <div ng-if="model" class="form-group">
                            <input type="file" nv-file-select uploader="uploader" accept="audio/*" />
                            <a class="help-block m-b-none" href="model.FilePath">{{model.FilePath}}</a>
                        </div>
                    </script>
                </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default"
                ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                ng-disabled="!vm.dinedevice.name || (vm.dinedevice.deviceType != 0 && vm.dinedevice.deviceType != 1)" class="btn btn-primary blue" ng-click="vm.save()">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>

<style>
    .dinedevice .margin-left-15 {
        margin-left: 15px !important;
    }

    .dinedevice .margin-left-20 {
        margin-left: 20px !important;
    }

    .dinedevice .title {
        font-size: 18px;
        font-weight: 600;
        margin-left: 15px;
    }

    .dinedevice .ui-select-bootstrap {
        width: 100%;
        background-color: #fff;
        border: 1px solid #c2cad8;
        border-radius: 4px;
    }

    .dinedevice .form-row {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .dinedevice .form-row>div.formly-wrap {
        width: 100%;
    }

    .dinedevice .form-row .delete-btn {
        margin: auto;
        margin-left: 10px;
    }

    .dinedevice .formly-field .form-group .checkbox {
        padding: 0 20px;
    }
    .labelText{
        padding: 10px;
        font-weight: bold;
    }
    .sample-text {
        text-align: left;
        height: 34px;
        padding: 0 12px;
        line-height: 34px;
        margin-top: 5px;
        border: solid 1px #c2cad8;
        border-radius: 4px;
    }
</style>
