﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="tenant.views.hr.transaction.incentivetag.incentiveTag as vm">
    <form name="incentivetagCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="modal-title" style="color:red">
                    <span ng-if="vm.incentivetag.id">@L("EditIncentiveTag"): {{vm.incentivetag.incentiveTagCode}}</span>
                    <span ng-if="!vm.incentivetag.id">@L("CreateIncentiveTag") : {{vm.incentivetag.incentiveTagCode}}</span>
                </h4>
            </div>
            <div class="col-xs-6 text-right">
                <button name="BulkUpdate" type="submit" button-busy="vm.saving" class="btn btn-primary yellow" ng-click="vm.onetimeInsertForAll(vm.incentivetag.id)" @*ng-if="vm.permissions.bulkUpdateForAllEligibleEmployee && vm.incentivetag.id && vm.incentivetag.isBulkUpdateAllowed"*@ ng-disabled="incentivetagCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("BulkUpdateForEligibleEmployees")</span>
                </button>
            </div>
        </div>
        <div class="portlet light" busy-if="vm.loading || vm.saving">
            <div class="portlet-body" busy-if="vm.loading">
                <uib-tabset class="success" active="active" type="pills" @*class="tab-container tabbable-line"*@>
                    @*<uib-tabset class="tab-container tabbable-line">*@
                    <uib-tab heading="@L("Incentive")">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Category")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" class="borderself" id="Category" name="Category" ng-required="true" ng-model="vm.incentivetag.incentiveCategoryRefId">
                                        <ui-select-match ng-required="true" placeholder="Select Category...">{{$select.selected.incentiveCategoryCode}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refcategory | filter: $select.search">
                                            <div ng-bind="item.incentiveCategoryCode"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group no-hint">
                                    <label>@L("IncentiveTagCode")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <input class="form-control " type="text" name="incentivetagcode" ng-class="{'edited':vm.incentivetag.incentiveTagCode}" ng-model="vm.incentivetag.incentiveTagCode" required ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" maxlength="30">

                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group no-hint">
                                    <label>@L("IncentiveTagName")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <input class="form-control uppercase" type="text" name="incentivetagname" ng-class="{'edited':vm.incentivetag.incentiveTagName}" ng-model="vm.incentivetag.incentiveTagName" ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" required maxlength="30">

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">@L("EntryMode")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" required class="borderself" ng-model="vm.incentivetag.incentiveEntryMode">
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refincentivegenerationmode | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Pay") @L("Duration")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select required ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" class="borderself" id="PayDuration" name="PayDuration" ng-required="true" ng-model="vm.incentivetag.incentivePayModeId">
                                        <ui-select-match placeholder="Select Duration...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refincentivePayMode | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Allowance") / @L("Deduction")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" required class="borderself" id="AllowanceOrDeductionMode" name="AllowanceOrDeductionMode" ng-required="true" ng-model="vm.incentivetag.allowanceOrDeductionRefId">
                                        <ui-select-match placeholder="Select ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refAllowanceOrDeductionMode | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                        </div>

                        <div class="row margin-top-30" ng-show="vm.incentivetag.incentivePayModeId==1">

                            @*<div class="col-md-2 margin-top-30">
                    <div class="md-checkbox tp-bottom">
                        <input id="DisplayNotApplicable" class="md-check" type="checkbox" name="DisplayNotApplicable" ng-class="{'edited':vm.incentivetag.displayNotApplicable}" ng-model="vm.incentivetag.displayNotApplicable">
                        <label for="DisplayNotApplicable">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("DisplayNotApplicable")
                        </label>
                    </div>
                </div>*@
                            <div class="col-md-2 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="OverTimeBasedIncentive" class="md-check" type="checkbox" name="OverTimeBasedIncentive" ng-class="{'edited':vm.incentivetag.overTimeBasedIncentive}" ng-model="vm.incentivetag.overTimeBasedIncentive">
                                    <label for="OverTimeBasedIncentive">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("OverTimeBasedIncentive") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30" ng-show="vm.incentivetag.incentivePayModeId==1">
                                <div class="md-checkbox tp-bottom">
                                    <input id="CanIssueToIdleStatus" class="md-check" type="checkbox" name="CanIssueToIdleStatus" ng-class="{'edited':vm.incentivetag.canIssueToIdleStatus}" ng-model="vm.incentivetag.canIssueToIdleStatus">
                                    <label for="CanIssueToIdleStatus">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("CanIssueToIdleStatus") ?
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="row margin-top-30" ng-show="vm.incentivetag.incentivePayModeId==1" ng-if="false">
                            <div class="col-md-2 margin-top-30" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="IncludeInConsolidationPerDay" class="md-check" type="checkbox" name="IncludeInConsolidationPerDay" ng-class="{'edited':vm.incentivetag.includeInConsolidationPerDay}" ng-model="vm.incentivetag.includeInConsolidationPerDay">
                                    <label for="IncludeInConsolidationPerDay">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IncludeInConsolidationPerDay")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="HoursBased" class="md-check" type="checkbox" name="HoursBased" ng-class="{'edited':vm.incentivetag.hoursBased}" ng-model="vm.incentivetag.hoursBased">
                                    <label for="HoursBased">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HoursBased") @L("Incentive") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="FullWorkHours" class="md-check" type="checkbox" name="FullWorkHours" ng-class="{'edited':vm.incentivetag.fullWorkHours}" ng-model="vm.incentivetag.fullWorkHours">
                                    <label for="FullWorkHours">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("FullWorkHours") @L("Incentive") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="!vm.incentivetag.fullWorkHours && vm.incentivetag.hoursBased">
                                <div class="form-group no-hint">
                                    <label>@L("MinimumHoursWorkedInTimeSheet") </label>
                                    <input class="form-control" type="number" name="MinimumHours" ng-class="{'edited':vm.incentivetag.minimumHours}" ng-model="vm.incentivetag.minimumHours" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="vm.incentivetag.hoursBased">
                                <div class="form-group no-hint">
                                    <label>@L("MinimumOTHours") </label>
                                    <input class="form-control" type="number" name="MinimumHours" ng-class="{'edited':vm.incentivetag.minimumOtHours}" ng-model="vm.incentivetag.minimumOtHours" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="vm.incentivetag.hoursBased">
                                <div class="form-group no-hint">
                                    <label>@L("MinimumClaimedHours") </label>
                                    <input class="form-control" type="number" name="MinimumHours" ng-class="{'edited':vm.incentivetag.minimumClaimedHours}" ng-model="vm.incentivetag.minimumClaimedHours" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-10" ng-show="(vm.incentivetag.incentiveAmount ==0 || vm.incentivetag.incentiveAmount == null) && vm.incentivetag.incentivePayModeId==1">

                            <div class="col-md-2 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="IncenitveBasedOnSalaryTags" class="md-check" type="checkbox" name="IncenitveBasedOnSalaryTags" ng-class="{'edited':vm.incentivetag.incenitveBasedOnSalaryTags}" ng-model="vm.incentivetag.incenitveBasedOnSalaryTags">
                                    <label for="IncenitveBasedOnSalaryTags">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IncenitveBasedOnSalaryTags") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="vm.incentivetag.incenitveBasedOnSalaryTags">
                                <div class="form-group">
                                    <label class="control-label">@L("SalaryTags")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <ui-select class="borderself" ng-model="vm.incentivetag.salaryTagRefId">
                                        <ui-select-match placeholder="Select SalaryTagRefId...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsalarytags | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="vm.incentivetag.incenitveBasedOnSalaryTags">
                                <div class="form-group no-hint">
                                    <label>@L("ProportianteValueOfSalaryTags") <span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <input class="form-control" type="number" name="proportianteValueOfSalaryTags" ng-class="{'edited':vm.incentivetag.proportianteValueOfSalaryTags}" ng-model="vm.incentivetag.proportianteValueOfSalaryTags" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-30" ng-if="vm.incentivetag.formulaRefId==null">
                            <div class="col-md-2" ng-show="!vm.incentivetag.incenitveBasedOnSalaryTags">
                                <div class="form-group no-hint">
                                    <label>@L("Amount")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <input ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" class="form-control text-right" type="number" name="incentiveAmount" ng-class="{'edited':vm.incentivetag.incentiveAmount}" ng-model="vm.incentivetag.incentiveAmount" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                            <div class="col-md-1" ng-show="!vm.incentivetag.incenitveBasedOnSalaryTags">
                                <div class="form-group no-hint">
                                    <label>@L("MinRange")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <input class="form-control text-right" type="number" name="MinRange" ng-class="{'edited':vm.incentivetag.minRange}" ng-model="vm.incentivetag.minRange" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                            <div class="col-md-1" ng-show="!vm.incentivetag.incenitveBasedOnSalaryTags">
                                <div class="form-group no-hint">
                                    <label>@L("MaxRange")<span class="bold" style="font-size:small; color:red"> *</span></label>
                                    <input class="form-control text-right" type="number" name="MaxRange" ng-class="{'edited':vm.incentivetag.maxRange}" ng-model="vm.incentivetag.maxRange" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)">
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30" ng-show="vm.incentivetag.incentivePayModeId==1" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="TimeSheetRequiredForGivenDate" class="md-check" type="checkbox" name="TimeSheetRequiredForGivenDate" ng-class="{'edited':vm.incentivetag.timeSheetRequiredForGivenDate}" ng-model="vm.incentivetag.timeSheetRequiredForGivenDate">
                                    <label for="TimeSheetRequiredForGivenDate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("TimeSheetRequiredForGivenDate") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30" ng-show="vm.incentivetag.incentivePayModeId==1" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="HourlyClaimableTimeSheets" class="md-check" type="checkbox" name="HourlyClaimableTimeSheets" ng-class="{'edited':vm.incentivetag.hourlyClaimableTimeSheets}" ng-model="vm.incentivetag.hourlyClaimableTimeSheets">
                                    <label for="HourlyClaimableTimeSheets">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HourlyClaimableTimeSheets") ?
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="row" ng-if="vm.incentivetag.allowanceOrDeductionRefId == 3 || vm.incentivetag.allowanceOrDeductionRefId == 4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Formula") @L("Based") <a ng-click="vm.incentivetag.formulaRefId=null;"></a> </label>
                                    <ui-select class="borderself" ng-disabled="vm.incentivetag.isSytemGeneratedIncentive==true" id="Formula" name="Formula" ng-model="vm.incentivetag.formulaRefId">
                                        <ui-select-match ng-required="true" placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refspecialformulaTags | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-hide="vm.incentivetag.isSytemGeneratedIncentive==true">
                            <div class="col-md-2 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="CanBeAssignedToAllEmployees" class="md-check" type="checkbox" name="CanBeAssignedToAllEmployees" ng-class="{'edited':vm.incentivetag.canBeAssignedToAllEmployees}" ng-model="vm.incentivetag.canBeAssignedToAllEmployees">
                                    <label for="CanBeAssignedToAllEmployees">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("CanBeAssignedToAllEmployees") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="OnlyAllowedOnWorkDay" class="md-check" type="checkbox" name="OnlyAllowedOnWorkDay" ng-class="{'edited':vm.incentivetag.onlyAllowedOnWorkDay}" ng-model="vm.incentivetag.onlyAllowedOnWorkDay">
                                    <label for="OnlyAllowedOnWorkDay">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("OnlyAllowedOnWorkDay") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="WorkDayHourBasedIncentive" class="md-check" type="checkbox" name="WorkDayHourBasedIncentive" ng-class="{'edited':vm.incentivetag.workDayHourBasedIncentive}" ng-model="vm.incentivetag.workDayHourBasedIncentive">
                                    <label for="OnlyAllowedOnWorkDay">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("WorkDayHourBasedIncentive") ?
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 margin-top-30" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="MaterialQuantityBasedIncentiveFlag" class="md-check" type="checkbox" name="MaterialQuantityBasedIncentiveFlag" ng-class="{'edited':vm.incentivetag.isMaterialQuantityBasedIncentiveFlag}" ng-model="vm.incentivetag.isMaterialQuantityBasedIncentiveFlag">
                                    <label for="MaterialQuantityBasedIncentiveFlag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("MaterialQuantityBasedIncentiveFlag") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30" ng-if="false">
                                <div class="md-checkbox tp-bottom">
                                    <input id="DoesIssueOnlyForBillableEmployee" class="md-check" type="checkbox" name="DoesIssueOnlyForBillableEmployee" ng-class="{'edited':vm.incentivetag.doesIssueOnlyForBillableEmployee}" ng-model="vm.incentivetag.doesIssueOnlyForBillableEmployee">
                                    <label for="DoesIssueOnlyForBillableEmployee">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DoesIssueOnlyForBillableEmployee") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-30">
                                <div class="md-checkbox tp-bottom">
                                    <input id="Active" class="md-check" type="checkbox" name="Active" ng-class="{'edited':vm.incentivetag.activeStatus}" ng-model="vm.incentivetag.activeStatus">
                                    <label for="Active">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Active") ?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("LinkedWith")">
                        <div class="row">
                            <h3 class="text-center bold" style="background-color:lightcoral;color:white; font-size:x-large">@L("LinkedWith") @L("Entity") <span ng-if="vm.detailPortions.length==0" style="font-size:medium"> &nbsp;&nbsp; <a ng-click="vm.addPortion(0)"> @L("Add") </a>  </span> </h3>
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Action")</th>
                                            <th>@L("Entity")</th>
                                            <th>@L("Reference")</th>
                                            <th>@L("Exclude")</th>
                                            <th>@L("EitherOrSameEntity")</th>
                                            <th>@L("Remarks")</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.detailPortions">
                                        <td class="col-xs-2">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" ng-disabled="!data.editFlag" />
                                            <button type="submit" class="btn btn-primary" data-ng-click="data.editFlag=true;" ng-disabled="data.editFlag">
                                                <i class="fa fa-edit"></i> <span></span>
                                            </button>
                                        </td>
                                        <td class="col-xs-2">
                                            <ui-select id="selentity" name="Entity" focus-on="{{'uiselect-' + index}}" class="borderself" ng-required="true" ng-value="data.displayText" ng-change="data.entityRefId = null;vm.fillEntityReferences(data)" ng-model="data.entityType" ng-disabled="!data.editFlag">
                                                <ui-select-match placeholder="Select Entity...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="item.value as item in vm.refentities | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-3">
                                            <ui-select id="selReference" name="Entity Reference" class="borderself" ng-required="true" ng-value="data.entityRefName" ng-change="entityAlreadyLinked(data,$select.selected,index)" ng-model="data.entityRefId" ng-disabled="!data.editFlag">
                                                <ui-select-match placeholder="Select References...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.entityRefId" repeat="item.value as item in data.referencelist | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-1">
                                            <input ng-model="data.excludeFlag" type="checkbox" ng-change="vm.showToolTipExclude()">
                                        </td>
                                        <td class="col-xs-1">
                                            <input ng-model="data.eitherOr_ForSameEntity" type="checkbox" ng-change="vm.showToolTipEitherOr_ForSameEntity()">
                                        </td>
                                        <td class="col-xs-4">
                                            <input id="remarks" type="text" ng-disabled="!data.editFlag" class="form-control" ng-model="data.remarks" />
                                        </td>
                                        <td class="col-xs-1">
                                            <button type="submit" class="btn btn-primary" data-ng-click="data.editFlag=false; vm.addPortion(index)" ng-disabled="!data.editFlag && index < (vm.detailPortions.length-1)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Employees")" ng-if="vm.incentivetag.id">
                        <div class="row">
                            <h3 class="text-center bold" style="background-color:lightblue;color:black; font-size:x-large">@L("Linked") @L("Employees")</h3>
                            <div class="col-xs-8">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Remove")</th>
                                            <th>@L("Company")</th>
                                            <th>@L("EmployeeCode")</th>
                                            <th>@L("EmployeeName")</th>
                                            <th>@L("JobTitle")</th>
                                            <th>@L("SkillSet")</th>
                                            @*<th>@L("Next")</th>*@
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.employeedetailPortions">
                                        <td class="col-xs-1">
                                            <button type="button" ng-click="vm.employeeRemoveRow(data)" class="btn btn-primary"><i class="fa fa-trash-o"></i></button>
                                            &nbsp; &nbsp;
                                            {{index+1}}
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.companyRefCode}}
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.employeeCode}}
                                        </td>
                                        <td class="col-xs-3">
                                            {{data.employeeName}}
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.jobTitle}}
                                        </td>
                                        <td class="col-xs-2">
                                            {{data.skillSetList}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Employees") @L("Bulk") @L("Updated")" ng-if="vm.incentivetag.id && vm.employeeBulkUpdatedList.length > 0">
                        <div class="row">
                            <h3 class="text-center bold" style="background-color:lightblue;color:black; font-size:x-large">@L("Bulk") @L("Updated") @L("Employees") </h3>
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-8">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>@L("Company")</th>
                                            <th>@L("EmployeeCode")</th>
                                            <th>@L("EmployeeName")</th>
                                            <th>@L("JobTitle")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.employeeBulkUpdatedList">
                                        <td class="col-xs-1">
                                            {{index+1}}
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.companyRefCode}}
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.employeeCode}}
                                        </td>
                                        <td class="col-xs-3">
                                            {{data.employeeRefName}}
                                        </td>
                                        <td class="col-xs-1">
                                            {{data.jobTitle}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab ng-if="incentivetagCreateOrEditForm.$invalid">
                        <uib-tab-heading style="color:orangered">
                            <i class="glyphicon glyphicon-bell"></i> @L("Alert")!
                        </uib-tab-heading>
                        <div>
                            <ul>
                                <li ng-repeat="(key, errors) in incentivetagCreateOrEditForm.$error track by $index">
                                    <strong>{{ key }}</strong> errors
                                    <ul>
                                        <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="incentivetagCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

