﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.purchasereturn.PoReturnPrint as vm">
    <div class="col-xs-12" style="align-content:center" ng-if="vm.companyProfilePictureId">
        <img ng-dblclick="vm.changePicture(null)" ng-if="vm.companyProfilePictureId"
             ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.companyProfilePictureId}}"
             class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
        <img ng-dblclick="vm.changePicture(vm.company.id)" ng-if="!vm.companyProfilePictureId"
             src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="100" height="50" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
    </div>
  <div id="divprintemail" class="row">
    <div class="col-xs-12 text-right" ng-show="vm.printmailflag">
      <a ng-click="vm.printmailflag=false;"> <span class=""><i class="fa fa-print" onclick="myFunction()"></i> </span> </a>
    </div>
  </div>

  <div id="editor"></div>
  <center><h5> <b><u> @L("PurchaseReturn")</u></b></h5></center>
  <div class="row">
    <div class="col-xs-8">
      <h6>    @L("Ref#"): {{vm.purchaseReturn.referenceNumber}} </h6>
    </div>
    <div class="col-xs-4 text-right">
      <h6>   @L("Date"): {{vm.purchaseReturn.returnDate | date : 'dd-MMM-yy'}} </h6>
    </div>
  </div>

  <div class="lineHr">.</div>

  <h6>
    <b>   @L("Supplier") </b><br />
    {{vm.headerline}}

    <div style="height:50%;width:50%;">
      <div class="row">
        <div class="col-xs-12" ng-if="vm.supplier.supplierName.length>0">
          {{vm.supplier.supplierName}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.supplier.address1.length>0">
          {{vm.supplier.address1}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.supplier.address2.length>0">
          {{vm.supplier.address2}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.supplier.address3.length>0">
          {{vm.supplier.address3}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.supplier.city.length>0">
          {{vm.supplier.city}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.supplier.state.length>0">
          {{vm.supplier.state}}
        </div>
      </div>
    </div>

    <div class="lineHr">.</div>

    <div>
      <div class="row">
        <div class="col-xs-6">
          <b>   @L("BillingAddress")</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.address1}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.address2}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.address3}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.city}}
        </div>
      </div>
    </div>
  </h6>
  <div class="lineHr">.</div>
  @L("PoReturnDetailHeader") <b> <span ng-if="vm.purchaseReturn.invoiceReferenceNumber.length>0">{{vm.purchaseReturn.invoiceReferenceNumber}}</span> </b>

  <div id="content" busy-if="vm.loading" ng-if="vm.purchaseDetailPortion.length>=5">
    <h6>
      <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered col-xs-12">
                <thead>
                    <tr>
                        <th># . @L("Material")</th>
                        <th class="text-right">@L("Qty")</th>
                        <th class="text-right">@L("UOM")</th>
                        <th class="text-right">@L("Cost")</th>
                        <th class="text-right">@L("Total")</th>
                        <th class="text-right">@L("Tax")</th>
                        <th class="text-right">@L("LineTotal")</th>
                    </tr>
                </thead>
                
                <tr data-ng-repeat="(index,data) in vm.purchaseDetailPortion">
                    <td class="col-xs-4" style="font-size:10px">
                        {{data.sno}} . <b> {{data.materialRefName}} </b>
                        <span ng-if="data.supplierMaterialAliasName.length>0"> @L("Alias") {{data.supplierMaterialAliasName}}</span>
                    </td>
                    <td class="col-xs-1 text-right" style="font-size:10px">
                        <b>  {{data.quantity | number:vm.housedecimals}}</b>
                    </td>
                    <td class="col-xs-1 text-right" style="font-size:10px">
                        {{data.unitRefName}}
                    </td>
                    <td class="col-xs-1 text-right" style="font-size:10px">
                        {{data.price |number:vm.connectdecimals}}
                    </td>
                    <td class="col-xs-2 text-right" style="font-size:10px">
                        {{data.totalAmount |number:vm.connectdecimals}}
                    </td>
                    <td class="col-xs-1 text-right" style="font-size:10px">
                        {{data.taxAmount |number:vm.connectdecimals}}
                    </td>
                    <td class="col-xs-2 text-right" style="font-size:10px">
                        {{data.netAmount |number:vm.connectdecimals}}
                    </td>

                </tr>
                <tr>

                    <td class="col-xs-4 text-right"><b> @L("SubTotal") </b></td>
                    <td class="col-xs-1 text-right"></td>
                    <td class="col-xs-1 text-right"></td>
                    <td class="col-xs-1 text-right"></td>
                    <td class="col-xs-2 text-right">
                        <b>  {{vm.subtotalamount |number:vm.connectdecimals}}</b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <b>  {{vm.subtaxamount |number:vm.connectdecimals}}</b>
                    </td>
                    <td class="col-xs-2 text-right">
                        <b>  {{vm.subnetamount |number:vm.connectdecimals}}</b>
                    </td>

                </tr>

            </table>
        </div>
      </div>
    </h6>
  </div>

  <div id="smallcontent" busy-if="vm.loading" ng-if="vm.purchaseDetailPortion.length<5">

    <h6>
        <table class="table table-striped table-bordered col-xs-12">
            <thead>
                <tr>
                    <th># . @L("Material")</th>
                    <th class="text-right">@L("Qty")</th>
                    <th class="text-right">@L("UOM")</th>
                    <th class="text-right">@L("Cost")</th>
                    <th class="text-right">@L("Total")</th>
                    <th class="text-right">@L("Tax")</th>
                    <th class="text-right">@L("LineTotal")</th>
                </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.purchaseDetailPortion">
                <td class="col-xs-4" style="font-size:10px">
                    {{data.sno}} . <b> {{data.materialRefName}} </b>
                    <span ng-if="data.supplierMaterialAliasName.length>0"> @L("Alias") {{data.supplierMaterialAliasName}}</span>
                </td>
                <td class="col-xs-1 text-right" style="font-size:10px">
                    <b>  {{data.quantity | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-1 text-right" style="font-size:10px">
                    {{data.unitRefName}}
                </td>
                <td class="col-xs-1 text-right" style="font-size:10px">
                    {{data.price |number:vm.connectdecimals}}
                </td>
                <td class="col-xs-2 text-right" style="font-size:10px">
                    {{data.totalAmount |number:vm.connectdecimals}}
                </td>
                <td class="col-xs-1 text-right" style="font-size:10px">
                    {{data.taxAmount |number:vm.connectdecimals}}
                </td>
                <td class="col-xs-2 text-right" style="font-size:10px">
                    {{data.netAmount |number:vm.connectdecimals}}
                </td>

            </tr>
            <tr>

                <td class="col-xs-4 text-right"><b> @L("SubTotal") </b></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-1 text-right"></td>
                <td class="col-xs-2 text-right">
                    <b>  {{vm.subtotalamount |number:vm.connectdecimals}}</b>
                </td>
                <td class="col-xs-1 text-right">
                    <b>  {{vm.subtaxamount |number:vm.connectdecimals}}</b>
                </td>
                <td class="col-xs-2 text-right">
                    <b>  {{vm.subnetamount |number:vm.connectdecimals}}</b>
                </td>

            </tr>

        </table>
    </h6>
  </div>
   @L("CreatedBy") : {{vm.user.name}}
  <div>
    <h6>
      @*<b>@L("TermsConditions") </b><br />
      {{vm.headerline}}<br />
      <b>  {{vm.termdelivery}} </b><br />
      @L("Term1")<br />
      @L("Term2")<br />
      @L("Term3")<br />*@
      <div class="lineHr">.</div>
      <small>  @L("SignNotRequired") </small>
    </h6>
  </div>
</div>

<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


</script>

