﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />


<div ng-controller="tenant.views.house.transaction.purchasereturn.purchasereturn as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.purchasereturn.id">@L("EditPurchaseReturn"): {{vm.purchasereturn.id}}</span>
                        <span ng-if="!vm.purchasereturn.id">@L("CreatePurchaseReturn")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading || vm.loadingCount">
                <form name="purchasereturnForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName") <span style="color:red">* </span></label>
                                    <ui-select class="borderself" id="selSupplierId" ng-model="vm.purchasereturn.supplierRefId" ng-change="vm.fillDropDownMaterial();" ng-blur="vm.purchasereturn.referenceNumber=''" required ng-disabled="vm.purchasereturn.id!=null">
                                        <ui-select-match id="selSupplierId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("ReturnDate") <span style="color:red">* </span></label>
                                    <input name="returnDate" id="returnDate" class="form-control date-picker" ng-model="vm.purchasereturn.returnDate" ng-disabled="vm.purchasereturn.id!=null" />
                                </div>
                            </div>
                            <div class="col-xs-3" ng-if="vm.purchasereturn.supplierRefId">
                                <div class="form-group">
                                    <label>@L("Ref#") <span style="color:red">* </span></label>
                                    <input class="form-control text-right" type="text" id="purchasereturnno" name="purchasereturnno" ng-class="{'edited':vm.purchasereturn.referenceNumber}" ng-blur="filterDcDate(vm.dateRangeModel)" ng-model="vm.purchasereturn.referenceNumber" required ng-disabled="vm.purchasereturn.id!=null">

                                </div>
                            </div>
                            <div class="col-xs-3" ng-if="vm.purchasereturn.supplierRefId">
                                <div class="form-group">
                                    @*<label class="control-label">@L("InvoiceReference")</label>*@
                                    <input id="invoiceFlag" class="md-check" type="checkbox" ng-model="vm.invoiceRefFlag" name="InvoiceReference" ng-click="vm.filterInvoiceList()" />
                                    <label for="invoiceFlag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Invoice") @L("Reference")
                                    </label>
                                    <ui-select class="borderself" id="selInvoice" ng-if="vm.invoiceRefFlag" ng-model="vm.purchasereturn.invoiceRefId" ng-change="vm.fillMaterialBasedOnInvoiceSelection();" ng-disabled="!vm.invoiceRefFlag">
                                        <ui-select-match id="selInvoiceRefId" placeholder="Select Invoice...">{{$select.selected.invoiceNumber}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refinvoices | filter: $select.search">
                                            <div ng-bind="item.invoiceNumber"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.purchasereturn.referenceNumber.length > 0">
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label>@L("Remarks") <span style="color:red">* </span></label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="@L("Remarks")" id="purchasereturnremarks" name="purchasereturnremarks" ng-class="{'edited':vm.purchasereturn.remarks}" ng-model="vm.purchasereturn.remarks" >
                                        <span class="input-group-btn">
                                            <button ng-click="vm.loading = true;vm.openManualReason(vm.purchasereturn,'remarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                        </span>
                                    </div>
                                    @*<div class="input-group">
                                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("MaterialName") / @L("Barcode")" type="text">
                                            <span class="input-group-btn">
                                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>*@
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.purchasereturn.referenceNumber.length > 0">

                            <div ng-show="vm.purchasereturn.referenceNumber.length > 0" ng-if="false">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DcDateRange")</label>
                                        <input date-range-picker type="text" ng-change="filterDcDate(vm.dateRangeModel)" options="vm.dateRangeOptions"
                                               min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" ng-disabled="vm.purchasereturn.id!=null" />
                                    </div>
                                </div>

                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="control-label">@L("ReceiptReference")</label>
                                        <ui-select class="borderself" id="dcTidEditBox" ng-model="vm.tempinvoicedetail.dcTranid"
                                                   ng-change="vm.inwardDcTranIdRef(vm.tempinvoicedetail.dcTranid)" ng-disabled="vm.purchasereturn.id!=null">
                                            <ui-select-match id="dcTidEditBox" placeholder="Select Reference...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item.value as item in vm.refdctranid | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group">
                                        <button class="btn blue margin-top-30" ng-click="vm.getDetailMaterial()"><i class="fa fa-refresh"></i> </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="ReferRecipts" ng-disabled="vm.purchasereturn.id!=null" ng-show="vm.returnPortions.length>0">
                                <div class="col-xs-12" busy-if="vm.detailloading">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Action")</th>
                                                <th ng-if="false">@L("#")</th>
                                                <th>@L("MaterialName") / @L("Remarks") </th>
                                                <th class="text-right">@L("Qty")</th>
                                                <th class="text-right">@L("UOM")</th>
                                                <th class="text-right">@L("Cost")</th>
                                                <th class="text-right">@L("SubTotal")</th>
                                                <th class="text-right">@L("Tax")</th>
                                                <th class="text-right">@L("TaxAmount")</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.returnPortions">
                                            <td class="col-xs-1">
                                                <input ng-disabled="vm.invoice.id!=null" type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" /> {{data.sno}}
                                            </td>
                                            <td ng-if="false" class="col-xs-1">
                                                <input type="text" ng-disabled="true" class="form-control  text-right" ng-model="data.sno" />
                                            </td>
                                            <td class="col-xs-3">
                                                <ui-select id="selMaterial" class="borderself" ng-required="true" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId" ng-disabled="vm.invoice.id!=null">
                                                    <ui-select-match placeholder="Select Material...">
                                                        {{$select.selected.materialRefName}}

                                                        <span style="color:blue;" ng-if="$select.selected.supplierMaterialAliasName.length>0">- @L("Alias") : {{$select.selected.supplierMaterialAliasName}} </span>
                                                    </ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="vm.getMaterialQuotePrice(data,item) as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                        <div ng-bind="item.materialRefName"></div>
                                                        <small style="color:blue" ng-if="item.supplierMaterialAliasName.length>0">
                                                            @L("SupplierMaterialAliasName"):<span ng-bind-html="item.supplierMaterialAliasName"></span>
                                                        </small>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <br />

                                                <div class="input-group">
                                                    <input class="form-control" placeholder="@L("Remarks")" type="text" id="remarks" name="remarks" ng-class="{'edited':data.remarks}" ng-model="data.remarks">
                                                    <span class="input-group-btn">
                                                        <button ng-click="vm.loading = true;vm.openManualReason(data,'remarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                                    </span>
                                                </div>
                                               
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="qtyOrder" type="text" ng-change="vm.amtCalc(data,data.quantity,data.price)" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.quantity" required ng-disabled="vm.invoice.id!=null || !data.materialRefId" />
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed">
                                                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>


                                            <td class="col-xs-1">
                                                <input id="price" type="text" ng-change="vm.amtCalc(data,data.quantity,data.price)" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.price"
                                                       required ng-disabled="!data.rateeditflag" />
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="netAmt" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="12" ng-model="data.totalAmount" ng-disabled="true"  />
                                            </td>
                                            <td class="col-xs-2">
                                                <ui-select id="selTax" multiple class="borderself"
                                                           ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.quantity, data.price)" ng-click="taxCalc(data, data.quantity, data.price)" ng-model="data.applicableTaxes">
                                                    <ui-select-match placeholder="@L("SelectTax")">{{$item.taxName}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                                                        <div ng-bind="item.taxName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="taxAmount" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="12" ng-model="data.taxAmount" ng-disabled="true" />
                                            </td>

                                            <td class="col-xs-1">
                                                <button ng-disabled="vm.invoice.id!=null" type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />



                            <div class="row" ng-if="false">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <label class="control-label">@L("DiscountAmount")</label>
                                        <input id="discountamount" type="text" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)"
                                               class="form-control  text-right" ng-model="vm.purchasereturn.totalDiscountAmount" />
                                    </div>



                                    <div class="col-xs-2">
                                        <label class="control-label">@L("OtherCharges")</label>
                                        <input id="shipmentamount" onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)"
                                               class="form-control  text-right" ng-model="vm.purchasereturn.totalShipmentCharges" />
                                    </div>

                                    <div class="col-xs-2">
                                        <label class="control-label">@L("RoundedAmount")</label>
                                        <input id="roundedamount" onkeypress="return NumberWithPointAndNegativePassingText(this.value, event, 'cancel', true)"
                                               class="form-control  text-right" ng-model="vm.purchasereturn.roundedAmount" />
                                    </div>

                                </div>
                            </div>



                        </div>

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-if="vm.purchasereturn.id!=null">@L("Close")</button>
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-if="vm.purchasereturn.id==null">@L("Cancel")</button>
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-if="vm.purchasereturn.id==null" ng-click="vm.save()" ng-disabled="purchasereturnForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

