@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="common.views.syncer.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("LastSync")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body" style="height: 100%;">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getAll()">
                        <div class="row ">
                            <div class="col-md-3 text-center margin-bottom-20" ng-repeat="item in vm.statuses">
                                <button class="btn btn-success" style="width:100%" ng-click="vm.getListByStatus(item)">
                                    <div class="margin-top-10">{{item.status}}</div>
                                    <div class="margin-bottom-10">({{item.count}})</div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Status")</label>

                                    <select id="CategoryBox" class="form-control selectpicker" data_live_search="true"
                                            ng-options="item.status as item.status for item in vm.statuses" ng-change="vm.getEditionValue(vm.status)"
                                            ng-model="vm.status"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>

                                    <div>
                                        <div class="pull-left">
                                            <button type="button" class="btn  btn-primary" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
                                        </div>
                                        <div class="pull-right">
                                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-crop"></i></button>
                                            <button ng-click="vm.exportToExcel()" class="btn btn-danger" type="button"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @*<div class="form-group">
                                        <button type="button" class="btn default" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
                                    </div>*@
                            </div>
                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-crop"></i></button>
                                        <button ng-click="vm.clear()" class="btn btn-danger" type="button"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </form>
            </div>

            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
            </div>
        </div>
    </div>
</div>