@using Humanizer
<div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <table class="table table-hover">
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("SyncTime")</th>
                            <th>@L("Synced")</th>
                        </tr>
                        <tr ng-repeat="x in vm.syncer.items">
                            <td>
                                {{x.syncerName}}
                            </td>
                            <td>
                                <span ng-if="x.synced"> {{x.lastSyncTime|date:'yyyy-MM-dd hh:mm:ss'}} </span>
                            </td>
                            <td ng-if="x.synced">
                                @L("Yes")
                            </td>
                            <td ng-if="!x.synced">
                                @L("No")
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>