﻿@*@using Stimulsoft.Report.Mvc
<h2>Show Report in the Viewer</h2>
<table>
    <tr>
        <td class="reports" valign="top">
            <div style="width: 150px;">
                @Html.ActionLink("Simple List", "Index", new {id = "1"})
                <br/>Report Snapshot

                <br/><br/>
                @Html.ActionLink("Two Simple Lists", "Index", new {id = "2"})
                <br/>Report Template
            </div>
        </td>
        <td style="width: 100%;" valign="top">
            @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions
            {
                Actions =
                {
                    GetReportSnapshot = "GetReport",
                    ViewerEvent = "ViewerEvent"
                }
            })
        </td>
    </tr>
</table>*@

<h2>Show Report in the Viewer</h2>
