﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="swipepaymenttypeCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.swipepaymenttype.id">@L("EditSwipePaymentType"): {{vm.swipepaymenttype.id}}</span>
                <span ng-if="!vm.swipepaymenttype.id">@L("CreateSwipePaymentType")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return AlphaAToZOnly(event, 'accountcode')" class="form-control uppercase" type="text" name="name" autofocus required ng-class="{'edited':vm.swipepaymenttype.name}" ng-model="vm.swipepaymenttype.name" >
                        <label>@L("Name") <span style="color:red;"> *</span>  </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return AlphaAToZOnly(event, 'sortorder')" class="form-control" type="text" name="accountcode" ng-class="{'edited':vm.swipepaymenttype.accountCode}" ng-model="vm.swipepaymenttype.accountCode">
                        <label>@L("AccountCode")</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="sortorder" ng-class="{'edited':vm.swipepaymenttype.sortOrder}" ng-model="vm.swipepaymenttype.sortOrder" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="5" required >
                        <label>@L("SortOrder") <span style="color:red;"> *</span></label>
                    </div>
                </div>
            </div><br />
			 <div class="row">
                <div class="col-md-6">
                    <div class="md-checkbox">
                        <input id="AcceptChange" class="md-check" type="checkbox" name="AcceptChange" ng-class="{'edited':vm.swipepaymenttype.acceptChange}" ng-model="vm.swipepaymenttype.acceptChange" style="text-decoration: line-through;">
                        <label for="AcceptChange">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AcceptChange")
                        </label>
                    </div>
                </div>
              <div class="col-md-6">
                  @*<div class="md-checkbox">
                      <input id="Hide" class="md-check" type="checkbox" name="Hide" ng-class="{'edited':vm.swipepaymenttype.hide}" ng-model="vm.swipepaymenttype.hide" style="text-decoration: line-through;">
                      <label for="Hide">
                          <span class="inc"></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          @L("Hide")
                      </label>
                  </div>*@
              </div>
            </div><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="md-checkbox">
                        <input id="TopupAcceptFlag" class="md-check" type="checkbox" name="TopupAcceptFlag" ng-class="{'edited':vm.swipepaymenttype.topupAcceptFlag}" ng-model="vm.swipepaymenttype.topupAcceptFlag" style="text-decoration: line-through;">
                        <label for="TopupAcceptFlag">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("TopupAcceptFlag")
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-checkbox">
                        <input id="RefundAcceptFlag" class="md-check" type="checkbox" name="RefundAcceptFlag" ng-class="{'edited':vm.swipepaymenttype.refundAcceptFlag}" ng-model="vm.swipepaymenttype.refundAcceptFlag" style="text-decoration: line-through;">
                        <label for="RefundAcceptFlag">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("RefundAcceptFlag")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="swipepaymenttypeCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

