﻿<div ng-controller="tenant.views.tick.ticket.create as vm">
    <div class="row">
        <div class="col-xs-6">
            <div class="portlet light ">
                <div class="portlet-title">

                    <div class="caption">
                        @*<i class="icon-bar-chart font-green"></i>*@
                        <span class="caption-subject font-dark bold uppercase">@L("CreateNewTicketMessage")</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="createPersonForm" role="form" novalidate class="form-validation">
                                
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>

                                    <ui-select ng-model="vm.selectedLocation" theme="bootstrap" required>
                                        <ui-select-match placeholder="@L("SearchLocation")">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.locations | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>

                                <div class="form-group">
                                    <label class="control-label">@L("Department")</label>

                                    <ui-select ng-model="vm.selectedDepartment" theme="bootstrap" required>
                                        <ui-select-match placeholder="@L("SearchDepartment")">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.departments | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>

                                <div class="form-group">
                                    <label>@L("Message")</label>
                                    <textarea name="Message" class="form-control"  rows="3" ng-model="vm.ticketMessage.message" required></textarea>
                                </div>

                                <div class="form-group">
                                    
                                    <span class="btn green fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span>@L("AttachDocuments") </span>
                                        <input type="file" nv-file-select uploader="vm.uploader" multiple="">
                                    </span>
                                    <ul>
                                        <li ng-repeat="item in vm.uploader.queue">
                                            <span ng-bind="item.file.name"></span> <span class="glyphicon glyphicon-remove" ng-click="vm.uploader.removeFromQueue(item)"></span><br />
                                        </li>
                                    </ul>
                                    
                                </div>


                                <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.editMode">

                                    <label>@L("Status")</label>

                                    <ui-select ng-model="vm.selectedStatus" theme="bootstrap" required>
                                        <ui-select-match placeholder="@L("SearchStatus")">{{$select.selected.title}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.statuses | filter: $select.search">
                                            <div ng-bind-html="item.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>



                               
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>

                                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

