<div ng-controller="tenant.views.tick.ticket.detail as vm">
    <div class="row">
        <div class="col-xs-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        @*<i class="icon-bar-chart font-green"></i>*@
                        <span class="caption-subject font-dark bold uppercase">@L("TICKETINFO") {{vm.ticketMessage.id}} @L("TICKETCREATED") {{vm.ticketMessage.creationTime | date:'medium'}} </span>
                    </div>

                    <div class="actions">

                        <label class="btn btn-circle btn-default btn-xs">
                            {{vm.currentStatus.title}}
                        </label>

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">

                            @*<h3>@L("TICKETMESSAGETITLE")</h3>*@
                            <div class="note note-info">
                                <p class="lead">
                                    {{vm.ticketMessage.message}}
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="row" ng-if="vm.files.length>0">
                        <div class="col-md-12">
                            <h3>@L("TICKETMESSAGEFILES")</h3>
                            <ul class="list-unstyled" ng-repeat="file in vm.files">
                                <li><a ng-click="vm.saveDocument(file)">{{file.fileName}}<i class="glyphicon glyphicon-download-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">@L("TICKETACIVITY")</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="#" class="form-horizontal ng-pristine ng-valid">
                                <div class="form">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>@L("Message")</label>
                                            <textarea ng-model="vm.messageReply.message" class="form-control" rows="5" placeholder="@L("Message")"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">

                                            <label for="span_large" class="control-label">@L("ChangeStatus")</label>
                                            <div class="input-group select2-bootstrap-prepend">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" ng-model="vm.changeStatus" id="changeStatus">
                                                </span>
                                                <ui-select ng-disabled="!vm.changeStatus" ng-model="vm.selectedStatus" theme="bootstrap" required>
                                                    <ui-select-match placeholder="@L("SearchStatus")">{{$select.selected.title}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.statuses | filter: $select.search">
                                                        <div ng-bind-html="item.title | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="span_large" class="control-label">@L("ChangeDepartment")</label>

                                            <div class="input-group select2-bootstrap-prepend">
                                                <span class="input-group-addon">
                                                    <input type="checkbox"  ng-model="vm.changeDepartment" id="changeDepartment">
                                                </span>

                                                <ui-select ng-disabled="!vm.changeDepartment" ng-model="vm.selectedDepartment" theme="bootstrap" required>
                                                    <ui-select-match placeholder="@L("SelectDepartment")">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item in vm.departments | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <span class="btn green fileinput-button">
                                                <i class="fa fa-plus"></i>
                                                <span>@L("AttachDocuments") </span>
                                                <input type="file" nv-file-select uploader="vm.uploader" multiple="">
                                            </span>
                                            <ul>
                                                <li ng-repeat="item in vm.uploader.queue">
                                                    <span ng-bind="item.file.name"></span> <span class="glyphicon glyphicon-remove" ng-click="vm.uploader.removeFromQueue(item)"></span><br />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    
                                    <div class="form-actions right" ng-if="vm.editMode">
                                        <button button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"  ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    </div>

                                    <div class="form-actions right" ng-if="!vm.editMode">
                                        <button button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.add()"><i class="fa fa-save"></i><span>@L("AddReply")</span></button>
                                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="media" ng-repeat="reply in vm.replies">
                                <div class="media-left">
                                    <img ng-if="reply.user.profilePictureId" src="{{ abp.appPath + '/Profile/GetProfilePictureById?id=' + reply.user.profilePictureId }}" width="50" height="50" class="img-rounded media-object" />
                                    <img ng-if="!reply.user.profilePictureId" src="{{ abp.appPath + '/Common/Images/default-profile-picture.png' }}" width="50" height="50" class="img-rounded media-object" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        {{reply.user.name}} {{reply.user.surname}}
                                        <small>
                                            <i>@L("PostedOn") {{reply.creationTime | date:'medium'}}</i>
                                        </small>


                                        <small ng-if="$index==0" class="pull-right">
                                            <a ng-click="vm.edit(reply)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                            <a ng-click="vm.remove(reply)"><span class="glyphicon glyphicon-remove"></span> Remove</a>
                                        </small>
                                    </h4>

                                    <h4>{{reply.message}}</h4>


                                    <ul class="list-unstyled" ng-repeat="file in reply.files">
                                        <li style="height: 14px;"><a ng-click="vm.saveDocument(file)">{{file.fileName}}<i class="glyphicon glyphicon-download-alt"></i></a></li>
                                    </ul>
                                    
                                    <div class="pull-right margin-top-10">
                                        <span ng-if="reply.ticketMessageStatus" class="label label-sm label-default margin-right-10">
                                            @L("ChangeStatusTo") {{reply.ticketMessageStatus.title}}
                                        </span>
                                        <span ng-if="reply.employeeDepartment" class="label label-sm label-default">
                                            @L("ChangeDepartmentTo") {{reply.employeeDepartment.name}}
                                        </span>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>