@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="tenant.views.tick.ticket.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Ticket").Pluralize()</span> <small>@L("TicketInfoHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.openCreateTicketMessage()"><i class="fa fa-plus"></i> @L("CreateTicket")</button>
            @*<button class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateBroadcastTicket")</button>*@
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">

                    <form class="horizontal-form" id="MyLoginForm">
                        <div class="form-body" enter-key="vm.getTickets()">

                            @*<div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-green-sharp">
                                                    <small class="font-green-sharp">{{ vm.currencyText }}</small> {{ vm.totalTicketAmount }}
                                                </h3>
                                                <small>@L("TotalTicket").ToUpper() </small>
                                            </div>
                                            <div class="icon">
                                                <i class="icon-pie-chart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-red-haze">{{ vm.totalTickets }}</h3>
                                                <small>@L("TotalTickets").ToUpper() </small>
                                            </div>
                                            <div class="icon">
                                                <i class="icon-like"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-blue-sharp">{{ vm.totalOrders }}</h3>
                                                <small>@L("TotalOrders").ToUpper() </small>
                                            </div>
                                            <div class="icon">
                                                <i class="icon-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-blue-sharp">{{ vm.totalItems }}</h3>
                                                <small>@L("TotalItems").ToUpper() </small>
                                            </div>
                                            <div class="icon">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.date" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Location")</label>
                                        <ui-select multiple ng-model="vm.filter.locations" class="form-control">
                                            <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Status")</label>
                                        <ui-select ng-model="vm.filter.status">
                                            <ui-select-match allow-clear placeholder=@L("Status")>{{$select.selected.title}}</ui-select-match>
                                            <ui-select-choices repeat="status in vm.statuses">
                                                {{ status.title }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("CreatedUser")</label>
                                        <ui-select multiple ng-model="vm.filter.users" class="form-control">
                                            <ui-select-match placeholder=@L("CreatedUser")>{{$item.name}} {{user.surname}}</ui-select-match>
                                            <ui-select-choices repeat="user in vm.users">
                                                <small>
                                                    {{ user.name }} {{user.surname }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12 text-right">
                               <button class="btn btn-default" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                <button class="btn blue" ng-click="vm.getAll()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                        @*<div class="input-group">
                            <input ng-model="vm.filter.search" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":"" )></div>
            </div>
        </div>
    </div>
</div>