﻿<div ng-controller="tenant.views.connect.screenmenu.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.screenmenu.id">@L("EditScreenMenu"): {{vm.screenmenu.name}}</span>
                        <span ng-if="!vm.screenmenu.id">@L("CreateScreenMenu")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large blue" ng-click="vm.sortItems()" ng-if=" vm.screenMenuId">
                <i class="fa fa-file"></i> <span>@L("SortMenu-(AtoZ)")</span>
            </button>
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>


        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform" busy-if="vm.loading">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control" type="text" name="name" ng-class="{'edited':vm.screenmenu.name}" ng-model="vm.screenmenu.name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("FutureData")</label>
                                    <input type="checkbox"
                                           bs-switch
                                           ng-model="vm.screenmenu.futureData"
                                           switch-size="small"
                                           switch-on-text="@L("On")"
                                           switch-off-text="@L("Off")" />
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group ">
                                    <label>@L("ColumnCount")</label>
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="name" ng-class="{'edited':vm.screenmenu.columnCount}" ng-model="vm.screenmenu.categoryColumnCount">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group ">
                                    <label>@L("ColumnWidth")</label>
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="name" ng-class="{'edited':vm.screenmenu.columnWidth}" ng-model="vm.screenmenu.categoryColumnWidthRate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Department")</label>
                                    <ui-select multiple ng-model="vm.requestdepartments" class="form-control">
                                        <ui-select-match placeholder=@L("Department")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="location in vm.departments">
                                            <small>
                                                {{ location.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.futureDataFlag == true">
                            <button type="submit" class="btn btn-primary" data-ng-click="vm.listCategories()">@L("ScreenMenuCategory") @L("List") </button>
                        </div>
                    </div>

                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.tag.tags.length==0">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
</form>
            </div>
        </div>
    </div>

</div>