﻿<div ng-controller="tenant.views.connect.screenmenu.virtualScreen as vm" class="vitual-screen">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>
                            @L("VirtualScreen"): <b>{{vm.screenmenu.name}}</b>
                        </span>
                        <small><button class="btn btn-primary blue" ng-click="vm.cancel()"><i class="fa fa-long-arrow-left"></i></button></small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary red" ng-click="vm.sortCategory()">
                @L("SortCategory")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createScreenCategory()">
                <i class="fa fa-plus"></i> @L("CreateScreenCategory")
            </button>
        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <form name="vitualScreen" role="form" novalidate class="form-validation">

                <div class="form-body vitual-screen-body col-sm-12">
                    <div ng-style="{ 'width': vm.screenmenu.categoryColumnWidthRate + '%' }" style="float:left;">
                        <div ng-repeat="item in vm.categories" ng-style="{'width':vm.cateWidth, 'height':item.mainButtonHeight + 'px'}" class="vitual-screen__cate">
                            <div class="vitual-screen__cate-div">
                                <div class="btn vitual-screen__cate-btn md-skip" ng-style="{ 'background': item.mainButtonColor}">
                                    <div class="text-right">
                                        <a ng-if="vm.permissions.edit" title="Edit" href="javascript:void(0);" ng-click="vm.editCategory(item)"><i class="fa fa-pencil-square-o"></i></a>
                                        <a ng-if="vm.permissions.edit" title="Add menu" href="javascript:void(0);" ng-click="vm.createMenuItem(item)"><i class="fa fa-plus-square-o"></i></a>
                                    </div>
                                    <div id="{{$index}}" name="{{$index}}" ng-click="vm.loadMenuItem(item)">
                                        <span ng-attr-title="{{item.name}}" ng-style="{'font-size': item.mainFontSize}" ng-bind-html="vm.getCateName(item)"></span><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-style="{ 'width': 100 - vm.screenmenu.categoryColumnWidthRate + '%' }" class="margin-left-30">
                        <div busy-if="vm.loadingMenu">
                            <div ng-repeat="item in vm.categoryTags" ng-style="{'width':100/vm.currentCate.subButtonRows+'%', 'height': vm.currentCate.subButtonHeight }" class="vitual-screen__item">
                                <div class="vitual-screen__item-div">
                                    <div class="btn btn-default" ng-style="{ 'background': vm.currentCate.subButtonColorDef}" style="width: 100%;height: 100%;" ng-click="vm.getMenuItemsForTag(item)">
                                        <span ng-style="{'font-size': vm.currentCate.mainFontSize}" ng-bind-html="vm.getTagName(item)"></span><br />
                                    </div>
                                </div>
                            </div>
                            <button ng-if="vm.currentTag.length > 0" ng-style="{'width':100/vm.currentCate.subButtonRows+'%', 'height': vm.currentCate.subButtonHeight }"
                                    class="btn btn-danger vitual-screen__item" ng-click="vm.getMenuItemsForTag(vm.backButtonTag)">
                                <i class="fa fa-long-arrow-left" />{{ vm.backButtonCaption}}
                            </button>
                        </div>
                        <div class="margin-top-20">
                            <div ui-sortable ng-model="vm.subMenuItems">
                                <div ng-repeat="item in vm.subMenuItems" ng-style="{'width':vm.menuWidth, 'height': vm.menuHeight }" class="vitual-screen__item">
                                    <div class="vitual-screen__item-div">
                                        <div class="btn vitual-screen__item-btn md-skip" ng-attr-title="{{item.name}}" ng-style="{ 'background': item.buttonColor}">
                                            <span ng-style="{'font-size': item.fontSize}" ng-bind-html="vm.getItemName(item.name)"></span><br />
                                            <span ng-if="item.showAliasName" ng-bind-html="vm.getItemName(item.menuItemAliasName)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

    .vitual-screen-body {
        display: flex;
    }

    .vitual-screen__item, .vitual-screen__cate {
        display: inline-block;
    }

        .vitual-screen__item .vitual-screen__item-div, .vitual-screen__cate .vitual-screen__cate-div {
            border: 1px solid #fff;
            height: 100%;
        }

    .vitual-screen__item-btn, .vitual-screen__cate-btn {
        width: 100%;
        white-space: normal;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vitual-screen__item-btn {
        height: 100%;
        text-align: left
    }
</style>