﻿<h3>Print ESCPOS commands</h3>
<div>
    <label class="checkbox">
        <input type="checkbox" id="useDefaultPrinter" /> <strong>Print to Default printer</strong> or...
    </label>
</div>
<div style="visibility:hidden">
   
</div>
<div id="loadPrinters">
    Click to load and select one of the installed printers!
    <br />
    <input type="button" onclick="javascript:jsWebClientPrint.getPrinters();" value="Load installed printers..." />
    <br /><br />
</div>
<div id="installedPrinters" style="visibility:hidden">
    <label for="installedPrinterName">Select an installed Printer:</label>
    <select name="installedPrinterName" id="installedPrinterName"></select>
</div>
<script type="text/javascript">
	var wcppGetPrintersDelay_ms = 5000; //5 sec
	function wcpGetPrintersOnSuccess() {
		// Display client installed printers
		if (arguments[0].length > 0) {
			var p = arguments[0].split("|");
			var options = '';
			for (var i = 0; i < p.length; i++) {
				options += '<option>' + p[i] + '</option>';
			}
			$('#installedPrinters').css('visibility', 'visible');
			$('#installedPrinterName').html(options);
			$('#installedPrinterName').focus();
			$('#loadPrinters').hide();
		} else {
			alert("No printers are installed in your system.");
		}
	}
	function wcpGetPrintersOnFailure() {
		// Do something if printers cannot be got from the client
		alert("No printers are installed in your system.");
	}
</script>
<br />
<input type="button" style="font-size:18px" onclick="javascript: jsWebClientPrint.print('useDefaultPrinter=' + $('#useDefaultPrinter').attr('checked') + '&printerName=' + $('#installedPrinterName').val() + '&transactionId=' + $('#transactionId').val());" value="Print ESCPOS..." />

@section scripts{

    @* Register the WebClientPrint script code generated by PrintESCPOSController. *@
    @Html.Raw(ViewBag.WCPScript);
    <input type="hidden" name="" id="transactionId" value="@ViewBag.transactionId" /> 

}
