﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.tender as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Tender").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getOrders()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Payment")</label>
                                    <ui-select multiple ng-model="vm.requestParams.payments" class="form-control">
                                        <ui-select-match placeholder=@L("Payment")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="payment.value as payment in vm.payments">
                                            <small>
                                                {{ payment.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.advancedFiltersAreShown">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Terminal")</label>
                                    <input type="text" class="form-control" ng-model="vm.requestParams.terminalName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("User")</label>
                                    <input type="text" class="form-control" ng-model="vm.requestParams.lastModifiedUserName">
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="row margin-bottom-10">
						<div class="col-sm-6">
							<span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
							<span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
						</div>
							<div class="col-xs-12" ng-if="true">
								<query-builder options="builder.options" builder="builder.builder"></query-builder>
							</div>
							<div class="col-sm-12 text-right">
								<span ng-if="vm.tallyAvailable"><button class="btn btn-default" ng-click="vm.exportForTally()"><i class="fa fa-file-excel-o"></i> @L("Tally")</button></span>
								<button class="btn blue" ng-click="vm.clear()">
									<i class="fa fa-eraser"></i> @L("Clear")
								</button>
								<div class="btn-group">
									<button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-file-excel-o"></i> @L("Excel")
										<i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
										</li>
										<li>
											<a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
										</li>
										@*<li>
					<a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
				</li>*@
									</ul>
								</div>
								<button class="btn red" ng-click="vm.getOrders()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
							</div>
					</div>
                </form>
            </div>
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.gridOptions" style="height: 100%;" ui-grid-grouping ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-grid-render-container-left .ui-grid-viewport .ui-grid-cell-contents {
        white-space: nowrap !important;
    }

    .ui-grid-render-container-left .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
        border-bottom: none;
    }

    .ui-grid-render-container-left .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: #fdfdfd;
    }
</style>