﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

@*<link href="~/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <script src="~/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>*@

@*<script src="https://code.highcharts.com/highcharts.js"></script>*@
@*<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>*@

<style>
    .highlight-nightflag {
        font-weight: bold;
        background-color: black;
    }


    .ui-billable {
        background-color: black;
        color: green;
        font-size: small
    }

    .ui-idle {
        background-color: black;
        color: red;
        font-size: small;
    }

    .ui-leave {
        background-color: black;
        color: darkgoldenrod;
        font-size: small;
    }

    .ui-absent {
        background-color: black;
        color: darkmagenta;
        font-weight: bold;
    }
</style>

<div ng-controller="tenant.views.hr.transaction.dutychart.dutyApproval as vm">
    <div class="row" ng-show="vm.companyWiseadvancedFiltersAreShown" ng-if="false">
        <div class="col-xs-6" ng-if="vm.companyWiseJobStatus.length>0">
            <table class="table table-hover table-striped table-bordered table-condensed table-dark blackbgfull">
                <caption class=" text-center bold" style="color:lightseagreen"> @L("Company") @L("Wise") @L("Employee") @L("Count") @L("Status") &nbsp; &nbsp; <a style="color:blue" ng-click="vm.companyWiseadvancedFiltersAreShown=!vm.companyWiseadvancedFiltersAreShown"> @L("Hide")</a> </caption>
                <thead class="warning">
                    <tr>
                        <th class="text-center">@L("Company")</th>
                        <th colspan="2" class="text-center">@L("Billable")</th>
                        <th colspan="2" class="text-center">@L("Other") @L("Job")</th>
                        <th colspan="2" class="text-center">@L("Idle")</th>
                        <th colspan="2" class="text-center">@L("Leave")</th>
                        <th colspan="2" class="text-center">@L("Absent")</th>
                        <th class="text-right">@L("Total")</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.companyWiseJobStatus">
                    <td class="col-xs-1">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')">{{data.companyRefCode}} </a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{data.billableCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a style="color:green" ng-click="vm.filterDatabasedOnManager(data,'billable')">{{data.billablePercentage | number : 2}}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'otherjob')">{{data.otherJobCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a style="color:purple" ng-click="vm.filterDatabasedOnManager(data,'otherjob')">{{data.otherJobPercentage | number : 2}}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'idle')">{{data.idleCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'idle')">{{data.idlePercentage | number : 2}}%</a>
                    </td>

                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'leave')">{{data.leaveCount }}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a style="color:black" ng-click="vm.filterDatabasedOnManager(data,'leave')">{{data.leavePercentage | number : 2}}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'absent')">{{data.absentCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a style="color:darkorange" ng-click="vm.filterDatabasedOnManager(data,'absent')">{{data.absentPercentage | number : 2}}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')">
                            {{data.billableCount + data.otherJobCount + data.idleCount+ data.leaveCount + data.absentCount}}
                        </a>
                    </td>
                </tr>
                <tr class="success" ng-if="vm.companyWiseJobStatus.length>1">
                    <td class="col-xs-1">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')"> @L("Total")</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.companyWisebillableCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.billablePercentage | number :2 }}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'otherjob')">{{vm.companyWiseotherJobCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.otherJobPercentage | number :2 }}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'idle')">{{vm.companyWiseidleCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.idlePercentage | number :2 }}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'leave')">{{vm.companyWiseleaveCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.leavePercentage | number :2 }}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'absent')">{{vm.companyWiseabsentCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.absentPercentage | number :2 }}%</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')">
                            {{vm.companyWisebillableCount + vm.companyWiseotherJobCount + vm.companyWiseidleCount+ vm.companyWiseleaveCount + vm.companyWiseabsentCount}}
                        </a>
                    </td>
                </tr>

            </table>
        </div>

        <div class="col-xs-6">
            <div id="divCompanySemiPieChart">
                <div id="companypiecontainer" ng-show="vm.companyWiseJobStatus.length>0" style="height:300px; width:auto; margin: 0"></div>
            </div>
        </div>
    </div>

    <div id="divStat" class="row margin-top-10" ng-if="vm.dashBoardShowFlag" busy-if="vm.loading">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-opera"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{vm.otherJobCount}}</span>
                    </div>
                    <div class="desc">@L("Job")</div>
                </div>
            </div>


        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat yellow">
                <div class="visual">
                    <i class="fa fa-i-cursor"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{vm.idleCount}}</span>
                    </div>
                    <div class="desc">@L("Idle")@*.ToUpper()*@</div>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-chambray">
                <div class="visual">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{vm.leaveCount}}</span>
                    </div>
                    <div class="desc">@L("Leave")@*.ToUpper()*@</div>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-flamingo">
                <div class="visual">
                    <i class="fa fa-ban"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{vm.absentCount}}</span>
                    </div>
                    <div class="desc">@L("Absent")@*.ToUpper()*@</div>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <span class="bold" style="color:blue;font-size:large">{{vm.gridOptions.data.length}} @L("Records") </span>

            <div class="btn-group">
                <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cloud-download"></i> @L("Consolidated") @L("Report")
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="vm.daywiseConsolidateDutyChart(vm.dutyChartDate,0)">@L("ExportToExcel")</a>
                    </li>
                    <li>
                        <a ng-click="vm.daywiseConsolidateDutyChart(vm.dutyChartDate,2)">@L("Pdf")</a>
                    </li>
                </ul>
            </div>
            <br />
            <br />
            <span class="clickable-item" style="color:blue" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i>@L("Incharge")</span>
            <span class="clickable-item" style="color:blue" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("Incharge")</span>
            &nbsp;
            @*<span class="clickable-item" style="color:blue" ng-if="!vm.companyWiseadvancedFiltersAreShown" ng-click="vm.companyWiseadvancedFiltersAreShown=!vm.companyWiseadvancedFiltersAreShown;vm.companyWiseDashboard()"><i class="fa fa-angle-up"></i>@L("Company")</span>
            <span class="clickable-item" style="color:blue" ng-if="vm.companyWiseadvancedFiltersAreShown" ng-click="vm.companyWiseadvancedFiltersAreShown=!vm.companyWiseadvancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("Company")</span>*@
        </div>
    </div>

    <div class="row" ng-show="vm.advancedFiltersAreShown">
        <div class="col-xs-6" ng-if="vm.managerWiseJobStatus.length>0">
            <table class="table table-hover table-striped table-bordered table-condensed">
                <caption class=" text-center bold" style="color:brown"> @L("Manager") @L("Wise") @L("Employee") @L("Count") @L("Status") &nbsp; &nbsp; <a style="color:blue" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"> @L("Hide")</a> </caption>
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">@L("Manager")</th>
                        @*<th class="text-right">@L("Billable")</th>*@
                        <th class="text-right">@L("Other") @L("Job")</th>
                        <th class="text-right">@L("Idle")</th>
                        <th class="text-right">@L("Leave")</th>
                        <th class="text-right">@L("Absent")</th>
                        <th class="text-right">@L("Total")</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.managerWiseJobStatus">
                    <td class="col-xs-3">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')">{{data.inchargeEmployeeRefName}} </a>
                    </td>
                    @*<td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{data.billableCount}}</a>
                    </td>*@
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'otherjob')">{{data.otherJobCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'idle')">{{data.idleCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'leave')">{{data.leaveCount }}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'absent')">{{data.absentCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')">
                            {{data.billableCount + data.otherJobCount + data.idleCount+ data.leaveCount + data.absentCount}}
                        </a>
                    </td>
                </tr>
                <tr class="success" ng-if="vm.managerWiseJobStatus.length>1">
                    <td class="col-xs-3">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')"> @L("Total")</a>
                    </td>
                    @*<td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'billable')">{{vm.billableCount}}</a>
                    </td>*@
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'otherjob')">{{vm.otherJobCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'idle')">{{vm.idleCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'leave')">{{vm.leaveCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'absent')">{{vm.absentCount}}</a>
                    </td>
                    <td class="col-xs-1 text-right">
                        <a ng-click="vm.filterDatabasedOnManager(data,'total')">
                            {{vm.billableCount + vm.otherJobCount + vm.idleCount+ vm.leaveCount + vm.absentCount}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-6">
            <div id="divSemiPieChart">
                <div id="piecontainer" ng-show="vm.totalCount>0" style="height:300px; width:auto; margin: 0"></div>
                @*min-width: 310px; height: 400px; max-width: 1200px;*@
            </div>
        </div>
    </div>

    <div ng-if="vm.loading" style="color:gold;background-color:black">
        <center><h2>@L("ExecutionStatusDutyChart")</h2> </center>
    </div>
    <div class="row" busy-if="vm.loading || vm.saving || vm.loadingCount">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h4 style="color:red">
                        <b>
                            <span ng-if="vm.dutyChartMaster.id">@L("DutyChart") : </span>
                            <span ng-if="!vm.dutyChartMaster.id">@L("DutyChart") : </span>
                            <span> {{vm.dutyChartDate  | date:'MMMM dd yyyy, EEEE'}}  </span>
                        </b>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary yellow" ng-click="vm.verifyFlag=true; vm.SendStatusMailToAllEmployee(false);vm.showLockAndAlertEdp();vm.getAllEmployeeDocumentInfo();" ng-if="vm.dayClosedAllowFlag">@L("Verify") @L("DayClosed")</button>
            <span> <a ng-click="vm.clearFilter()"> @L("Clear") @L("Filter") &nbsp;&nbsp;</a></span>
            <button name="refresh" ng-disabled="vm.saving" type="button" class="btn btn-default green" ng-click="vm.showLockAndAlertEdp();">@L("Refresh")</button>
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            &nbsp;&nbsp;
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="dutychartForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="dutychartForm">
                    <div class="portlet light" ng-show="!vm.verifyFlag">
                        <div class="portlet-title portlet-title-filter" busy-if="vm.loading || vm.loadingCount || vm.saving">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <div class="row">
                                        @*<div class="col-xs-1">
                                            <ui-select class="borderself" ng-click="vm.applyAllFilters()" ng-model="vm.filterFlagStatus">
                                                <ui-select-match placeholder="Filter ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.filterFlagStatuses | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>*@
                                        <div class="col-xs-2">
                                            <input ng-model="vm.smartFilterText" auto-focus class="form-control ucase" placeholder="@L("Smart") @L("Filter")" ng-change="vm.applyAllFilters()" type="text">
                                        </div>
                                        <div class="col-xs-1">
                                            <input ng-model="vm.filterText" class="form-control ucase" placeholder="@L("Employee")" ng-change="vm.applyAllFilters()" type="text">
                                        </div>
                                        <div class="col-xs-1">
                                            <input ng-model="vm.workStatusFilterText" class="form-control ucase" placeholder="@L("Work") @L("Status")" ng-change="vm.applyAllFilters()" type="text">
                                        </div>
                                        <div class="col-xs-1">
                                            <input ng-model="vm.companyFilterText" class="form-control" placeholder="@L("Company")" ng-change="vm.applyAllFilters()" type="text">
                                        </div>
                                        <div class="col-xs-1">
                                            <input ng-model="vm.skillFilterText" class="form-control ucase" placeholder="@L("Skill")" ng-change="vm.applyAllFilters()" type="text">
                                        </div>
                                        <div class="col-xs-2">
                                            <ui-select class="borderself" name="uisupervisor" ng-click="vm.applyAllFilters();" ng-change="vm.showLockAndAlertEdp();" ng-model="vm.supervisorFilter">
                                                <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in vm.refSupervisorEmployeeList | filter: $select.search">
                                                    <div ng-bind="item.employeeName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-xs-2">
                                            <ui-select class="borderself" name="uiincharge" ng-click="vm.applyAllFilters();" ng-change="vm.showLockAndAlertEdp();" ng-model="vm.inchargeFilter">
                                                <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in vm.refInchargeEmployeeList | filter: $select.search">
                                                    <div ng-bind="item.employeeName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        <div class="col-xs-2">
                                            <div class="md-checkbox">
                                                <input id="EitherRSorRM" class="md-check" type="checkbox" name="EitherRSorRM" ng-click="vm.applyAllFilters()" ng-class="{'edited':vm.eitherOr}" ng-model="vm.eitherOr">
                                                <label for="EitherRSorRM">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <b>@L("EitherRSorRM") </b>
                                                </label>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" style="height:65vh; border:inset">
                        <div busy-if="vm.loading || vm.loadingCount || vm.saving" style="height:100%">
                            <div ui-grid="vm.gridOptions" style="height:100%" @*ui-grid-pagination*@ ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                        </div>
                    </div>


                    @*<div class="modal-footer" ng-if="!vm.verifyFlag">
                            <span>{{vm.gridOptions.data.length}} @L("Records") </span>
                            <input type="checkbox" ng-model="vm.legend" id="legend" ng-click="vm.legendFill()" />
                            <label>Legend</label>
                        </div>*@
                    <div class="row" id="leaveConfirmation" ng-if="vm.verifyFlag && vm.leaveFinishedGivenDateList.length>0">
                        <div ng-repeat="(index,data) in vm.leaveFinishedGivenDateList">

                        </div>
                        <table class="table table-striped table-bordered table-striped col-xs-12">
                            <caption class=" text-center bold" style="color:brown">@L("VerifyLeaveCarryOver")</caption>
                            <thead>
                                <tr>
                                    <th>@L("CompanyName")</th>
                                    <th>@L("EmployeeCode")</th>
                                    <th>@L("EmployeeName")</th>
                                    <th>@L("FromDate")</th>
                                    <th>@L("ToDate")</th>
                                    <th>@L("Days")</th>
                                    <th>@L("LeaveType") - @L("LeaveReason")</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="(index,data) in vm.leaveFinishedGivenDateList">
                                <td class="col-xs-1">
                                    {{data.companyRefCode}}
                                </td>
                                <td class="col-xs-1">
                                    {{data.employeeRefCode}}
                                </td>
                                <td class="col-xs-2">
                                    {{ data.employeeRefName}}
                                </td>
                                <td class="col-xs-1">
                                    {{data.leaveFrom | date : 'dd-MMM-yy EEE' }}
                                </td>
                                <td class="col-xs-1">
                                    {{data.leaveTo | date : 'dd-MMM-yy EEE' }}
                                </td>
                                <td class="col-xs-1">
                                    {{data.totalNumberOfDays}}
                                </td>
                                <td>
                                    {{data.leaveTypeRefName}} - {{data.leaveReason}}
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-xs-3 border-left-red-intense text-right">
                                <b> @L("NeededYourActionForDayClose") </b>
                            </div>
                            <div class="col-xs-9">
                                <div class="md-checkbox">
                                    <input id="VerifyLeaveCarryOver" class="md-check" type="checkbox" name="VerifyLeaveCarryOver"
                                           ng-class="{'edited':vm.leaveConfirmationFlag}" ng-model="vm.leaveConfirmationFlag">
                                    <label for="VerifyLeaveCarryOver" style="color:orangered">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        <b>@L("WheterVerifyLeaveCarryOver") [<i class="fa fa-check-circle-o" aria-hidden="true"></i>] </b>

                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="row" ng-if="vm.employeeDocumentInfos.length>0">
                        <div class="col-xs-9" ng-if="vm.employeeDocumentInfos.length>0" busy-if="vm.loading||vm.loadingCount">
                            <table class="table table-striped table-bordered col-xs-12" ng-if="vm.employeeDocumentInfos!=null">
                                <caption class="text-center bold" style="color:blue">@L("DocumentNeedToUpdate")</caption>
                                <thead>
                                    <tr>
                                        <th>@L("Employee")</th>
                                        <th>@L("Document")</th>
                                        <th class="text-right">@L("ValidityFrom")</th>
                                        <th class="text-right">@L("ValidityTo")</th>
                                        <th class="text-right">@L("Status")</th>
                                        <th class="text-right">@L("AlertFrom")</th>
                                    </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.employeeDocumentInfos">
                                    <td class="col-xs-4">
                                        {{data.employeeRefCode}} - {{data.employeeRefName}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.documentInfoRefName}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.startDate | date : 'yyyy-MMM-dd' }}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.endDate | date : 'yyyy-MMM-dd'}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <span ng-if="data.status=='Pending'" class="bold" style="color:brown"> {{data.status }}</span>
                                        <span ng-if="data.status=='Expired'" class="bold red" style="color:orangered"> {{data.status }}</span>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.alertStartingDate | date : 'yyyy-MMM-dd'}}
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div ng-show="vm.errorMessage!=''" class="row m-heading-1 border-red m-bordered">
                                <p id="p1errorMessage" class="bold" style="color:red; font-size:medium"></p>
                            </div>
                            <div ng-show="vm.errorMessage==''" class="row m-heading-1 border-red m-bordered">
                                <p id="p1errorMessage" class="bold text-center" style="color:red; font-size:medium">No Job Issue</p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div ng-show="vm.hrOperationHealthText!=null" class="row m-heading-1 border-red m-bordered">
                                <p id="hrOperationError" style="color:red; font-size:smaller"></p>
                            </div>
                            <div ng-show="vm.hrOperationHealthText==null" class="row m-heading-1 border-red m-bordered">
                                <p id="hrOperationError" class="bold text-center" style="color:red; font-size:medium;">No Leave Issue</p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div ng-show="vm.hrAlertText!=null" class="row m-heading-1 border-blue m-bordered">
                                <p id="hrAlert" style="color:blue; font-size:smaller"></p>
                            </div>
                            <div ng-show="vm.hrAlertText==null" class="row m-heading-1 border-blue m-bordered">
                                <p id="hrAlert" class="bold text-center" style="color:blue; font-size:medium">No Idle Issue</p>
                            </div>
                        </div>
                        @*<div class="col-xs-3">
                            <div ng-if="vm.hrOfficeJobAlertText!=null" class="row m-heading-1 border-yellow m-bordered">
                                <p id="hrOfficeJobAlert" style="color:darkcyan; font-size:smaller"></p>
                            </div>
                            <div ng-if="vm.hrOfficeJobAlertText==null" class="row m-heading-1 border-yellow m-bordered">
                                <p id="hrOfficeJobAlert" class="bold text-center" style="color:darkcyan; font-size:medium">No Office Job Issue</p>
                            </div>
                        </div>*@
                    </div>
                    <div id="email" busy-if="vm.loading || vm.loadingCount" ng-if="vm.mailList.length>0">
                        <div>
                            <h2 style="color:white;background-color:orangered;" class="text-center">@L("VerifyJobStatusNonJobEmployee")</h2>
                        </div>
                        <div id="pemail" ng-repeat="(index,data) in vm.mailList">
                            <p ng-bind-html="data.htmlMessage"></p>
                        </div>
                    </div>



                    <div class="text-right" ng-if="vm.verifyFlag" busy-if="vm.loading || vm.loadingCount">
                        <div class="col-xs-4">
                            <button class="btn btn-primary btn-group btn-group-justified yellow" button-busy="vm.loading" busy-text="@L("SavingWithThreeDot")" ng-click="vm.dutyChartDayClosed(vm.dutylistmaster.id);" ng-if="vm.verifyFlag">@L("DayClose")</button>
                        </div>
                    </div>
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>