﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 95%;
    }

    .bootstrap-timepicker-widget.dropdown-menu.open {
        display: inline-block;
        z-index: 10000;
    }
</style>

<style>
    .highlight-nightflag {
        border: dotted;
        border-color: red;
        color: deeppink;
        font-weight: bold;
        background-color: black
    }
</style>

<div class="modal-dialog">
    <form name="requestEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-8">
                    <h4 class="modal-title" style="color:red">
                        <span ng-if="vm.editingText.id">@L("DutyChart"): {{vm.editingText.companyRefCode}} - {{vm.editingText.employeeRefCode}}</span>
                        <span ng-if="!vm.editingText.id">@L("DutyChart") :  {{vm.editingText.employeeRefId}} - {{vm.editingText.employeeRefCode}} </span>
                    </h4>
                </div>
                <div class="col-xs-4 text-right" style="color:red">
                    <h4 class="modal-title">
                        <span> {{vm.editingText.dutyChartDate | date : 'EEE , dd-MMM-yy' }} </span>
                    </h4>
                </div>

            </div>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-2 text-center" @*ng-if="false"*@>
                    <img ng-if="vm.editingText.profilePictureId" ng-src="@Url.Action("GetPerInfoPictureById", "PersonalInformation")?id={{vm.editingText.profilePictureId}}" width="90" height="90" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                    <img ng-if="!vm.editingText.profilePictureId" src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="90" height="90" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                </div>

                <div class="col-xs-10">
                    <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                        <input class="form-control ucase text-center bold " style="color:white;background-color:orangered;font-size:larger" type="text" name="employeecode" id="employeecode" ng-class="{'edited':vm.editingText.employeeRefName}" ng-model="vm.editingText.employeeRefName" required ng-disabled="true">
                    </div>
                    <div ng-if="vm.employeeSkills.length>0">
                        <center><span>@L("SkillSet") :  {{vm.employeeSkills}}</span> </center>
                    </div>
                </div>

                <div busy-if="vm.loading">
                    <table class="table table-striped table-bordered col-xs-12">
                        <thead>
                            <tr>
                                <th>@L("WorkType")</th>
                                <th>@L("SkillSet")</th>
                                <th>@L("Head")/@L("Group")/@L("Station") <a ng-click="vm.lockFlag = false;vm.changeDuty(vm.editingText.dutyDetails[0])">@L("Change")</a></th>
                                <th>@L("Group") / @L("Station") / @L("Shift")</th>
                                <th>@L("Time") </th>
                                <th>@L("Remarks")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr class="margin-top-20" data-ng-repeat="(index,data) in vm.editingText.dutyDetails">
                            <td class="col-xs-1">
                                <ui-select class="borderself" ng-change="vm.changeallottedStatus(data)" ng-model="data.allottedStatus">
                                    <ui-select-match placeholder="Select Status ...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refjobstatus | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td class="col-xs-1">
                                <ui-select class="borderself" ng-model="data.skillRefId" ng-change="vm.checkSkillSet(data);vm.fillDropDownDcGroupMasterBasedOnSkill(data,true)">
                                    <ui-select-match placeholder="Select SkillSet ..." ng-model="data.skillRefId">{{$select.selected.skillCode}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.editingText.skills | filter: $select.search">
                                        <div ng-bind="item.skillCode"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>

                            <td class="col-xs-3" >
                                <table class="table-condensed table-bordered" style="background-color:orangered;color:white;font-size:x-large">
                                    <tr>
                                        <td>@L("Head")</td>
                                        <td>{{data.dcHeadRefName}}</td>
                                    </tr>
                                    <tr>
                                        <td>@L("Group")</td>
                                        <td>{{data.dcGroupRefName}}</td>
                                    </tr>
                                    <tr>
                                        <td>@L("Station")</td>
                                        <td>{{data.stationRefName}}</td>
                                    </tr>
                                    <tr>
                                        <td>@L("Shift")</td>
                                        <td>{{data.shiftRefName}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-xs-2" ng-disabled="vm.lockFlag">
                                <ui-select class="borderself" ng-disabled="vm.lockFlag" ng-model="data.dcGroupRefId" ng-change="vm.fillDropDownDcStationMaster(data,true)">
                                    <ui-select-match placeholder="Select Cost Centre ...">{{$select.selected.groupName}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.refdcgroupmaster | filter: $select.search">
                                        <div ng-bind="item.groupName"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <hr />
                                <ui-select class="borderself" ng-disabled="vm.lockFlag" ng-model="data.stationRefId" ng-change="vm.fillDropDownDcShiftMaster(data,true)">
                                    <ui-select-match placeholder="Select Station ...">{{$select.selected.stationName}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.refdcstationmaster | filter: $select.search">
                                        <div ng-bind="item.stationName"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <hr />
                                <ui-select class="borderself" ng-change="vm.getShiftValue($select.selected,data)" ng-disabled="vm.lockFlag" ng-model="data.shiftRefId">
                                    <ui-select-match  placeholder="Select Shift ...">{{$select.selected.dutyDesc}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.refdcshiftmaster | filter: $select.search">
                                        <div ng-bind="item.dutyDesc"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </td>
                            <td class="col-xs-3" ng-class="{'highlight-nightflag': data.nightFlag }">
                                @*<ui-select class="borderself" ng-model="data.timeRefId" ng-change="vm.checkNightFlag($select.selected,data)">
                <ui-select-match>{{$select.selected.timeDescription}}</ui-select-match>
                <ui-select-choices repeat="item.id as item in vm.reftimedescription | filter: $select.search">
                    <div ng-bind="item.timeDescription"></div>
                </ui-select-choices>
            </ui-select>*@
                                {{data.timeDescription}}
                            </td>
                            <td class="col-xs-3">
                                <input style="background-color:lightgreen" placeholder="@L("Remarks")" id="Remarks" type="text" class="form-control" ng-class="{OtExtra:vm.speicalotFlag}" autocomplete="off" ng-model="data.remarks">
                                <hr />
                                <div class="md-checkbox margin-top-20" ng-disabled="!data.allottedStatus=='Job'">
                                    <input id="SetAsDefault-{{index}}" class="md-check" type="checkbox" name="SetAsDefault"
                                           ng-class="{'edited':data.isSetAsDefault}"
                                           ng-model="data.isSetAsDefault">
                                    <label for="SetAsDefault-{{index}}">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SetAsDefaultWorkStation")
                                    </label>
                                </div>
                                <br ng-if="(data.allottedStatus=='Job' || data.allottedStatus=='MockUp')" />

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="margin-top-10 text-right">
                                            <a ng-if="vm.editingText.dutyDetails.length>1" ng-click="vm.removePortion(vm.editingText.dutyDetails,index,data.id)">@L("Remove") </a> &nbsp; &nbsp;
                                            <a ng-if="index==(vm.editingText.dutyDetails.length-1)" ng-click="vm.addPortion(vm.editingText.dutyDetails)">@L("Next") </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                    </table>


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving || vm.currentIndex == 0" title="Page Up" class="btn btn-default" ng-click="vm.previous()"><i class="fa fa-long-arrow-left"></i> <span>@L("Previous")</span></button>
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button button-busy="vm.saving" class="btn btn-primary green" ng-click="vm.saveAndClose()" ng-disabled="requestEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("SaveAndClose")</span></button>
            <button type="submit" title="Page Down" button-busy="vm.saving" ng-disabled="vm.currentIndex >= (vm.allItems.length-1) || requestEditForm.$invalid" class="btn btn-primary blue" ng-click="vm.saveAndNext()"><span>@L("SaveAndNext")</span> <i class="fa fa-long-arrow-right"></i></button>
        </div>

    </form>
</div>





@*<tr ng-if="false">
        <td class="col-xs-12" colspan="6">
            <br />
            <table class="table table-striped table-bordered col-xs-12">
                <caption class="text-center" style="color:white;background-color:orangered;">Billing Info</caption>
                <thead>
                    <tr>
                        <th>@L("GatePass#")</th>
                        <th>@L("Billed")@L("SkillSet")</th>
                        <th>@L("JobDescription")</th>
                        <th>@L("JobCardReferenceNumber")</th>
                        <th>@L("From") @L("Hour")</th>
                        <th>@L("To") @L("Hour")</th>
                        <th>@L("RestMinutes")</th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-xs-1">
                        <input id="gatePassRefNumber" class="form-control" autocomplete="off" ng-model="vm.editingText.gatePassRefNumber" ng-blur="vm.checkAlreadyExistGatePassRef()">
                    </td>
                    <td class="col-xs-2">
                        <ui-select class="borderself" ng-model="vm.editingText.billedSkillRefId" ng-change="vm.checkSkillSet(vm.editingText.billedSkillRefId)">
                            <ui-select-match placeholder="Select SkillSet ..." ng-model="vm.editingText.billedSkillRefId">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refskillcode | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="col-xs-3">
                        <input id="JobDescription" class="form-control" autocomplete="on" ng-model="vm.editingText.jobDescription">
                    </td>
                    <td class="col-xs-2">
                        <input id="JobCardReferenceNumber" class="form-control" autocomplete="on" ng-model="vm.editingText.jobCardReferenceNumber">
                    </td>
                    <td class="col-xs-1">
                        <input id="startingtime" class="form-control time ui-timepicker-input" ng-model="vm.editingText.companyManPowerTimeIn">
                    </td>
                    <td class="col-xs-1">
                        <input id="endingtime" type="text" class="form-control time ui-timepicker-input" ng-model="vm.editingText.companyManPowerTimeOut">
                    </td>
                    <td class="col-xs-1">
                        <input id="endingtime" type="text" class="form-control time ui-timepicker-input" ng-model="vm.editingText.companyManPowerBreakMinutes">
                    </td>
                </tr>
            </table>
        </td>
    </tr>*@