﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style type="text/css">
    html {
        height: 100%
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #map_canvas {
        height: 100%
    }
</style>

<div ng-controller="tenant.views.hr.transaction.dutychart.manpower as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading||vm.loadingCount">
        <div class="col-xs-2">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("DutyChart").Pluralize()</span> @*<small>@L("DutyChartHeaderInfo") </small>*@
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-2 text-right">
            <input id="chartDate" name="chartDate" class="form-control date-picker" ng-class="{'edited':vm.selectedDate}" ng-model="vm.selectedDate" />
        </div>
        <div class="col-xs-7 text-left">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.fillNewEmployees(vm.selectedDate)">
                <i class="fa fa-plus"></i> @L("DutyChart")
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" ng-click="vm.refresh()">
                <i class="fa fa-refresh"></i> @L("Refresh")
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @*<button class="btn btn-primary green" ng-click="vm.dayWiseDutyChartReport(vm.selectedDate)">
                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                </button>*@
            @*<div class="btn-group">
                <button class="btn purple dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-file-excel-o"></i> @L("Company") @L("Wise") @L("Report")
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="vm.dayWiseDutyChartReport(vm.selectedDate,0)">@L("ExportToExcel")</a>
                    </li>
                    <li>
                        <a ng-click="vm.dayWiseDutyChartReport(vm.selectedDate,2)">@L("Pdf")</a>
                    </li>
                </ul>
            </div>*@



            @*<div class="btn-group" ng-if="false">
                <button class="btn purple dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-file-excel-o"></i> @L("Mail")
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="vm.maildayWiseDutyChartReport(vm.selectedDate,0)">@L("ExportToExcel")</a>
                    </li>
                    <li>
                        <a ng-click="vm.maildayWiseDutyChartReport(vm.selectedDate,2)">@L("Pdf")</a>
                    </li>
                </ul>
            </div>*@
        </div>

    </div>

    <div class="row margin-top-40" busy-if="vm.loading||vm.loadingCount" ng-if="vm.dateWiseStatusList.length>0">
        <div class="col-xs-4">
            <table style="border:thick" class="table table-striped table-bordered col-xs-12">
                <thead style="background-color:orangered;color:white;font-size:x-large">
                    <tr>
                        <th>@L("Date") </th>
                        <th>@L("Status") </th>
                    </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.dateWiseStatusList">
                    <td class="col-xs-8">
                        {{data.dutychartDate | date : 'dd-MMM-yyyy EEE'}}
                    </td>
                    <td class="col-xs-4">
                        <a ng-click="vm.fillNewEmployees(data.dutychartDate)"> {{data.status}} </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-8" ng-if="false">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label">@L("Reporting") @L("Supervisor")</label>
                        <ui-select class="borderself" ng-model="vm.supervisorFilter">
                            <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refSupervisorEmployeeList | filter: $select.search">
                                <div ng-bind="item.employeeName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label">@L("Reporting") @L("Manager")</label>
                        <ui-select class="borderself" ng-model="vm.inchargeFilter">
                            <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refInchargeEmployeeList | filter: $select.search">
                                <div ng-bind="item.employeeName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-4 margin-top-30">
                    <div class="btn-group">
                        <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cloud-download"></i> @L("Consolidated") @L("Report")
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="vm.daywiseConsolidateDutyChart(vm.selectedDate,0)">@L("ExportToExcel")</a>
                            </li>
                            <li>
                                <a ng-click="vm.daywiseConsolidateDutyChart(vm.selectedDate,2)">@L("Pdf")</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="row" ng-if="false" busy-if="vm.loading||vm.loadingCount">
        <div class="col-xs-6">
            <a href="javascript:;" class="icon-btn center-block" style="height:60px;width:300px;  ">
                <i class="fa fa-group"></i>
                <div> Workers </div>
                <span class="badge badge-success" style="font-size:x-large"> {{vm.employeecount}} </span>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="javascript:;" class="icon-btn center-block" style="height:60px;width:300px;  ">
                <i class="fa fa-barcode"></i>
                <div> Projects </div>
                <span class="badge badge-success"> {{vm.projectcount}} </span>
            </a>
        </div>
    </div>

    <hr />

    <div class="row" busy-if="vm.loading||vm.loadingCount">
        <div class="col-xs-4" ng-show="vm.hrOperationHealthText!=null">
            <div ng-if="vm.hrOperationHealthText!=null" class="row m-heading-1 border-purple m-bordered">
                <p id="hrOperationError" style="color:purple; font-size:smaller"></p>
            </div>
        </div>
        <div class="col-xs-4" ng-show="vm.hrOperationHealthText!=null">
            <div ng-if="vm.hrAlertText!=null" class="row m-heading-1 border-blue m-bordered">
                <p id="hrAlert" style="color:blue; font-size:smaller"></p>
            </div>
        </div>
        <div class="col-xs-4" ng-show="vm.hrOperationHealthText!=null">
            <div ng-if="vm.hrOfficeJobAlertText!=null" class="row m-heading-1 border-yellow m-bordered">
                <p id="hrOfficeJobAlert" style="color:darkcyan; font-size:smaller"></p>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.employeeDocumentInfos.length>0">
        <div class="col-xs-9" ng-if="vm.employeeDocumentInfos.length>0" busy-if="vm.loading||vm.loadingCount">
            <table class="table table-striped table-bordered col-xs-12" ng-if="vm.employeeDocumentInfos!=null">
                <caption class="text-center bold" style="color:blue">@L("DocumentNeedToUpdate")</caption>
                <thead>
                    <tr>
                        <th>@L("Employee")</th>
                        <th>@L("Document")</th>
                        <th class="text-right">@L("ValidityFrom")</th>
                        <th class="text-right">@L("ValidityTo")</th>
                        <th class="text-right">@L("Status")</th>
                        <th class="text-right">@L("AlertFrom")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.employeeDocumentInfos">
                    <td class="col-xs-4">
                        {{data.employeeRefCode}} - {{data.employeeRefName}}
                    </td>
                    <td class="col-xs-3">
                        {{data.documentInfoRefName}}
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.startDate | date : 'yyyy-MMM-dd' }}
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.endDate | date : 'yyyy-MMM-dd'}}
                    </td>
                    <td class="col-xs-1 text-right">
                        <span ng-if="data.status=='Pending'" class="bold" style="color:brown"> {{data.status }}</span>
                        <span ng-if="data.status=='Expired'" class="bold red" style="color:orangered"> {{data.status }}</span>
                    </td>
                    <td class="col-xs-1 text-right">
                        {{data.alertStartingDate | date : 'yyyy-MMM-dd'}}
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>