﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.hr.transaction.dutychart.salaryCost as vm">
    <div class="row">
        <div class="page-head">
            <div class="page-title">
                <h1 style="color:red">
                    <span class="caption-subject bold uppercase">@L("Salary") @L("Cost")</span> @*<small>@L("DutyChartHeaderInfo") </small>*@
                </h1>
            </div>
        </div>
    </div>

    <div class="row margin-top-40" busy-if="vm.loading||vm.loadingCount" ng-hide="true" ng-if="vm.dateWiseStatusList.length>0">
        <div class="col-xs-4">
            <table style="border:thick" class="table table-striped table-bordered col-xs-12">
                <thead style="background-color:orangered;color:white;font-size:x-large">
                    <tr>
                        <th>@L("Date") </th>
                        <th>@L("Status") </th>
                    </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.dateWiseStatusList">
                    <td class="col-xs-8">
                        {{data.dutychartDate | date : 'dd-MMM-yyyy EEE'}} <a ng-click="vm.getEmployeeCost(data.dutychartDate)"> @L("Cost")</a>
                    </td>
                    <td class="col-xs-4">
                        <a ng-click="vm.fillNewEmployees(data.dutychartDate)"> {{data.status}} </a>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row margin-bottom-5" busy-if="vm.loading||vm.loadingCount">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label class="control-label">@L("Date")</label>
                        <input id="chartDate" name="chartDate" class="form-control date-picker" ng-class="{'edited':vm.selectedDate}" ng-model="vm.selectedDate" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">@L("Reporting") @L("Supervisor")</label>
                        <ui-select class="borderself" ng-model="vm.supervisorFilter">
                            <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refSupervisorEmployeeList | filter: $select.search">
                                <div ng-bind="item.employeeName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">@L("Reporting") @L("Manager")</label>
                        <ui-select class="borderself" ng-model="vm.inchargeFilter">
                            <ui-select-match placeholder="Incharge ...">{{$select.selected.employeeName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.refInchargeEmployeeList | filter: $select.search">
                                <div ng-bind="item.employeeName"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-xs-2 margin-top-20">
                    <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.getEmployeeCost(vm.selectedDate)">
                        <i class="fa fa-money"></i> @L("Cost")
                    </button>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" ng-if="vm.salaryCost.employeeSalaryPayableList.length>0">
                    <span class="bold" style="color:blue;font-size:large">{{vm.gridOptions.data.length}} @L("Records") </span>
                    <div class="btn-group">
                        <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cloud-download"></i> @L("Consolidated") @L("Report")
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="vm.daywiseConsolidateDutyChart(vm.dutyChartDate,0)">@L("ExportToExcel")</a>
                            </li>
                            <li>
                                <a ng-click="vm.daywiseConsolidateDutyChart(vm.dutyChartDate,2)">@L("Pdf")</a>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <span class="clickable-item" style="color:blue" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i>@L("Incharge")</span>
                    <span class="clickable-item" style="color:blue" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("Incharge")</span>
                    &nbsp;
                    <span class="clickable-item" style="color:blue" ng-if="!vm.costCentreWiseadvancedFiltersAreShown" ng-click="vm.costCentreWiseadvancedFiltersAreShown=!vm.costCentreWiseadvancedFiltersAreShown;"><i class="fa fa-angle-up"></i>@L("CostCentre")</span>
                    <span class="clickable-item" style="color:blue" ng-if="vm.costCentreWiseadvancedFiltersAreShown" ng-click="vm.costCentreWiseadvancedFiltersAreShown=!vm.costCentreWiseadvancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("CostCentre")</span>
                </div>
            </div>

            <div id="divStat" class="row margin-top-10" ng-if="vm.dashBoardShowFlag" busy-if="vm.loading">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green-dark">
                        <div class="visual">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.salaryCost.grossSalaryAmount  | number : 2}} </span>
                            </div>
                            <div class="desc">@L("Gross") @L("Salary")</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-hoki">
                        <div class="visual">
                            <i class="fa fa-opera"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.salaryCost.deductionAmount  | number : 2}}</span>
                            </div>
                            <div class="desc">@L("Deduction")</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat yellow">
                        <div class="visual">
                            <i class="fa fa-i-cursor"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.salaryCost.netSalaryAmount  | number : 2}}</span>
                            </div>
                            <div class="desc">@L("Net") @L("Salary")</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red-flamingo text-right">
                        <div class="visual">
                            <i class="fa fa-ban"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.salaryCost.idleSalaryAmount  | number : 2}}</span>
                            </div>
                            <div class="desc">@L("Idle") @L("Salary")</div>
                        </div>
                        <span ng-if="vm.idlePercentage>0" class="help-block" style="color:white;font-size:medium"> @L("Idle") % : {{vm.idlePercentage | number : 2}} %</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-chambray">
                        <div class="visual">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.salaryCost.fixedAmount  | number : 2}}</span>
                            </div>
                            <div class="desc">@L("FixedExpense")</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple ">
                        <div class="visual">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{vm.salaryCost.totalPayable | number : 2}}</span>
                            </div>
                            <div class="desc">@L("Total") @L("Payable")</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-success margin-top-20" ng-show="vm.costCentreWiseadvancedFiltersAreShown">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                    <h3 class="panel-title">
                        @L("CostCentre") @L("Wise") @L("Employee") @L("Salary")
                    </h3>
                </div>
                <div id="collapse2" class="collapse out">
                    <div class="row" id="CostCentreGraph" ng-show="vm.costCentreWiseadvancedFiltersAreShown">
                        <div class="col-xs-7" ng-if="vm.salaryCost.salaryPayableCostCentreList.length>0">
                            <table class="table table-hover table-striped table-bordered table-condensed table-dark blackbgfull">
                                <caption class=" text-center bold" style="color:lightseagreen"> @L("CostCentre") @L("Wise") @L("Employee") @L("Salary") &nbsp; &nbsp; <a style="color:blue" ng-click="vm.costCentreWiseadvancedFiltersAreShown=!vm.costCentreWiseadvancedFiltersAreShown"> [@L("Hide")]</a> </caption>
                                <thead class="warning">
                                    <tr>
                                        <th class="text-center">@L("CostCentre")</th>
                                        <th class="text-center">@L("Count")</th>
                                        <th class="text-center">@L("Gross")</th>
                                        <th class="text-center">@L("Deduction")</th>
                                        <th class="text-center">@L("Net")</th>
                                        <th colspan="2" class="text-center">@L("Idle")</th>
                                        <th class="text-center">@L("Fixed")</th>
                                        <th colspan="2" class="text-right">@L("Total") @L("Payable")</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.salaryCost.salaryPayableCostCentreList">
                                    <td class="col-xs-1">
                                        <a>{{data.costCentre}} </a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.noOfEmployees}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.grossSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.deductionAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a style="color:purple">{{data.netSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.idleSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.idleSalaryPercentage | number : 2}}%</a>
                                    </td>

                                    <td class="col-xs-1 text-right">
                                        <a>{{data.fixedAmount | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.totalPayable | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.totalPayablePercentage | number : 2}}%</a>
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td class="col-xs-1">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'total')">@L("Total") </a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'billable')">{{vm.salaryCost.noOfEmployees}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a style="color:green" ng-click="vm.filterDatabasedOnCompany(data,'billable')">{{vm.salaryCost.grossSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'otherjob')">{{vm.salaryCost.deductionAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a style="color:purple" ng-click="vm.filterDatabasedOnCompany(data,'otherjob')">{{vm.salaryCost.netSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'idle')">{{vm.salaryCost.idleSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'idle')">{{vm.salaryCost.idleSalaryPercentage | number : 2}}%</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'leave')">{{vm.salaryCost.fixedAmount | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'absent')">{{vm.salaryCost.totalPayable | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right"></td>
                                </tr>

                            </table>
                        </div>

                        <div class="col-xs-5">
                            <div id="divCostCentre">
                                <div id="pieGraph" style="height:300px; width:auto; margin: 0"></div>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
            </div>

            <div class="panel panel-info" ng-show="vm.advancedFiltersAreShown">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                    <h3 class="panel-title">
                        @L("Incharge") @L("Wise") @L("Employee") @L("Salary")
                    </h3>
                </div>
                <div id="collapse3" class="collapse out">
                    <div class="row" id="InchargeGraph" ng-show="vm.advancedFiltersAreShown">
                        <div class="col-xs-7" ng-if="vm.salaryCost.salaryPayableInchargeWiseList.length>0">
                            <table class="table table-hover table-striped table-bordered table-condensed table-dark blackbgfull">
                                <caption class=" text-center bold" style="color:lightseagreen"> @L("Incharge") @L("Wise") @L("Employee") @L("Salary") &nbsp; &nbsp; <a style="color:blue" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"> [@L("Hide")]</a> </caption>
                                <thead class="warning">
                                    <tr>
                                        <th class="text-center">@L("Incharge")</th>
                                        <th class="text-center">@L("Count")</th>
                                        <th class="text-center">@L("Gross")</th>
                                        <th class="text-center">@L("Deduction")</th>
                                        <th class="text-center">@L("Net")</th>
                                        <th colspan="2" class="text-center">@L("Idle")</th>
                                        <th class="text-center">@L("Fixed")</th>
                                        <th colspan="2" class="text-right">@L("Total") @L("Payable")</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.salaryCost.salaryPayableInchargeWiseList">
                                    <td class="col-xs-1">
                                        <a>{{data.inchargeEmployeeRefName}} </a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.noOfEmployees}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.grossSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.deductionAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a style="color:purple">{{data.netSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.idleSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.idleSalaryPercentage | number : 2}}%</a>
                                    </td>

                                    <td class="col-xs-1 text-right">
                                        <a>{{data.fixedAmount | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.totalPayable | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a>{{data.totalPayablePercentage | number : 2}}%</a>
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td class="col-xs-1">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'total')">@L("Total") </a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'billable')">{{vm.salaryCost.noOfEmployees}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a style="color:green" ng-click="vm.filterDatabasedOnCompany(data,'billable')">{{vm.salaryCost.grossSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'otherjob')">{{vm.salaryCost.deductionAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a style="color:purple" ng-click="vm.filterDatabasedOnCompany(data,'otherjob')">{{vm.salaryCost.netSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'idle')">{{vm.salaryCost.idleSalaryAmount | number : 2}}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'idle')">{{vm.salaryCost.idleSalaryPercentage | number : 2}}%</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'leave')">{{vm.salaryCost.fixedAmount | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <a ng-click="vm.filterDatabasedOnCompany(data,'absent')">{{vm.salaryCost.totalPayable | number : 2 }}</a>
                                    </td>
                                    <td class="col-xs-1 text-right"></td>
                                </tr>

                            </table>
                        </div>

                        <div class="col-xs-5">
                            <div id="divIncharge">
                                <div id="pieInchargeGraph" style="height:300px; width:auto; margin: 0"></div>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
            </div>

            <div id="tblSalaryList" class="row" ng-if="vm.salaryCost!=null">
                <div class="col-xs-12" ng-if="vm.salaryCost.employeeSalaryPayableList.length>0" busy-if="vm.loading||vm.loadingCount">
                    <table class="table table-striped table-bordered col-xs-12">
                        <caption class="text-center bold" style="color:blue">@L("Salary") @L("Cost")</caption>
                        <thead>
                            <tr>
                                <th>#. @L("Code")</th>
                                <th>@L("Employee")</th>
                                <th>@L("CostCentre")</th>
                                <th class="text-right">@L("Gross") @L("Salary")</th>
                                <th class="text-right">@L("Deduction")</th>
                                <th class="text-right">@L("Net") @L("Salary")</th>
                                <th class="text-right">@L("Idle") @L("Salary")</th>
                                <th class="text-right">@L("FixedExpense")</th>
                                <th class="text-right">@L("Total") @L("Payable")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.salaryCost.employeeSalaryPayableList">
                            <td class="col-xs-1">
                                {{index+1}} . {{data.personalInformation.employeeCode}}
                            </td>
                            <td class="col-xs-2">
                                {{data.personalInformation.employeeName}}
                                <br />
                                {{personalInformation.jobTitle}}
                            </td>
                            <td class="col-xs-1">
                                {{data.personalInformation.costCentre}}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.grossSalaryAmount | number : 2 }}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.deductionAmount | number : 2 }}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.netSalaryAmount | number : 2 }}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.idleSalaryAmount | number : 2 }}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.fixedAmount | number : 2 }}
                            </td>
                            <td class="col-xs-1 text-right">
                                <a ng-click="vm.showSalaryModal(data)"> {{data.totalPayable | number : 2 }}</a>
                            </td>
                            <td class="col-xs-2 text-right">
                                {{data.remarks}}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>