﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<div ng-controller="tenant.views.connect.card.connectcardtypecategory.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.connectcardtypecategory.id">@L("EditConnectCardTypeCategory"): {{vm.connectcardtypecategory.name}}</span>
                        <span ng-if="!vm.connectcardtypecategory.id">@L("CreateConnectCardTypeCategory")</span>
                    </h1>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="connectcardtypecategoryCreateOrEditForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Code")</label>
                                    <input class="form-control ucase" type="text" name="Code" ng-class="{'edited':vm.connectcardtypecategory.code}" ng-model="vm.connectcardtypecategory.code" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control ucase" type="text" name="Name" ng-class="{'edited':vm.connectcardtypecategory.name}" ng-model="vm.connectcardtypecategory.name" required>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="connectcardtypecategoryCreateOrEditForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

