﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>

<div ng-controller="tenant.views.house.master.housereport.closingStockExcelwithGroupCategoryMaterial as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold">@L("Closing") @L("Stock") @L("Cost") - @L("Group") / @L("CategoryWise") / @L("Material") </span> <small>@L("Report")</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("Date")</label>
                                    <input name="closingStockDate" id="closingStockDate" class="form-control date-picker" ng-class="{'edited':vm.closingStockDate}" ng-model="vm.closingStockDate" />
                                </div>
                            </div>
                            @*<div class="col-xs-3">
                <label>@L("DateRange")</label>
                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
            </div>*@
                            <div class="col-xs-6 margin-top-20">
                                <button class="btn btn-large purple" ng-click="vm.openLocation()">
                                    <i class="fa fa-location-arrow"></i>
                                    <span ng-if="vm.locationGroup.groups.length==0 && vm.locationGroup.locations.length==0 && vm.locationGroup.locationTags.length==0">@L("All") @L("Locations")</span>
                                    <span ng-if="vm.locationGroup.groups.length==1">@L("LocationGroup") : {{vm.locationGroup.groups[0].name}}</span>
                                    <span ng-if="vm.locationGroup.groups.length>1">@L("LocationGroup") : {{vm.locationGroup.groups.length}}</span>
                                    <span ng-if="vm.locationGroup.groups.length>0 && (vm.locationGroup.locations.length>0 || vm.locationGroup.locationTags.length>0"> , </span>
                                    <span ng-if="vm.locationGroup.locations.length==1">@L("Location") : {{vm.locationGroup.locations[0].name}}</span>
                                    <span ng-if="vm.locationGroup.locations.length>1">@L("Locations") : {{vm.locationGroup.locations.length}}</span>
                                    <span ng-if="(vm.locationGroup.groups.length>0 || vm.locationGroup.locations.length>0) && vm.locationGroup.locationTags.length>0">,</span>
                                    <span ng-if="vm.locationGroup.tags.length==1">@L("LocationTag") : {{vm.locationGroup.locationTags[0].name}}</span>
                                    <span ng-if="vm.locationGroup.tags.length>1">@L("LocationsTag") : {{vm.locationGroup.locationTags.length}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>@L("Group") &nbsp; <a ng-if="vm.selectedGroups.length>0" ng-click="vm.selectedGroups=[]; vm.selectedCategories=null;">Clear</a></label>
                                    <ui-select multiple class="borderself" id="selMaterialGroupCategoryRefId" ng-change="vm.fillDropDownMaterialGroupCategory(); vm.selectedCategories=[];" ng-model="vm.selectedGroups">
                                        <ui-select-match placeholder="Select Group...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.refmaterialgroup | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>@L("Category") &nbsp; <a ng-if="vm.selectedCategories.length>0" ng-click="vm.selectedCategories=[]">Clear</a> </label>
                                    <ui-select multiple class="borderself" id="selMaterialCategoryRefId" ng-model="vm.selectedCategories">
                                        <ui-select-match placeholder="Select Category...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>@L("MaterialName")</label>
                                    <ui-select multiple class="borderself" ng-model="vm.selectedMaterials" required>
                                        <ui-select-match id="selmaterialrefid" placeholder="Select Material...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.refmaterial | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-xs-3 margin-top-30">
                                <div class="md-checkbox">
                                    <input id="materialExport" class="md-check" type="checkbox" name="materialExport"
                                           ng-class="{'edited':vm.exportMaterialAlso}" ng-model="vm.exportMaterialAlso">
                                    <label style="color:black" for="materialExport">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Export") @L("Material") @L("Also")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-7 margin-top-20">
                                <button class="btn btn-default btn-primary" ng-click="vm.exportToCategoryExcel(false)">
                                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                                </button>
                                <button class="btn btn-default btn-primary" ng-click="vm.exportToCategoryExcel(true)">
                                    <i class="fa fa-file-excel-o"></i> @L("Background") @L("ExportToExcel")
                                </button>
                                @*<button class="btn blue" ng-click="vm.getAll()">
                    <i class="fa fa-refresh"></i> @L("Export")
                </button>*@
                                <button class="btn btn-primary yellow" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary purple" ng-click="vm.openHangFire()">
                                    <i class="fa fa-hourglass"></i> @L("Background") @L("Status")
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="vm.backGroundId>0">
                            <h3> {{vm.backGroundReportStatus}}</h3>
                            <button class="btn btn-default btn-primary" ng-click="vm.downLoadBackGroundReport(vm.backGroundId)">
                                <i class="fa fa-file-excel-o"></i> @L("Download") @L("Background") @L("Report") @L("Id") : {{vm.backGroundId}}
                            </button>
                        </div>
                        <div class="row">
                            <br />
                            <br />
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="m-heading-1 border-yellow-gold m-bordered">
                            <h3 style="color:black;background-color:gold;">   For more than 5 locations, better to run the report in Background and view the result in Background report notification after some time. </h3>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @*<div class="portlet-body" style="height: 70vh;">
                <div busy-if="vm.loading" style="height: 100%;">
                    <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
                </div>
            </div>*@

    </div>


</div>

