    @using DinePlan.DineConnect.Localization
    @using Humanizer

    <link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

    <div ng-controller="tenant.views.house.master.housereport.consolidatedClosingStockDiff as vm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span class="caption-subject bold uppercase">@L("Consolidated") @L("ClosingStockTaken")</span> <small>@L("Report")</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="control-label">@L("StockDate")</label>
                                    <input name="closingDate" class="form-control date-picker" style="background-color:limegreen" ng-class="{'edited':vm.stockDate}" ng-model="vm.stockDate" />
                                </div>

                                <div class="col-xs-5">
                                    <div class="md-checkbox">
                                        <input id="alllocation" class="md-check" type="checkbox" name="alllocation"
                                               ng-class="{'edited':vm.alllocationflag}" ng-model="vm.alllocationflag">
                                        <label for="alllocation">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AllLocations")
                                        </label>

                                        <ui-select multiple ng-model="vm.selectedLocations" class="form-control" ng-show="!vm.alllocationflag">
                                            <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>



                                <div class="col-xs-5">
                                    <div class="md-checkbox">
                                        <input id="allmaterial" class="md-check" type="checkbox" name="allmaterial"
                                               ng-class="{'edited':vm.allmaterialflag}" ng-model="vm.allmaterialflag">
                                        <label for="allmaterial">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AllMaterials")
                                        </label>

                                        <ui-select multiple ng-model="vm.selectedMaterials" class="form-control" ng-show="!vm.allmaterialflag">
                                            <ui-select-match placeholder=@L("Materials")>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="material in vm.materials">
                                                <small>
                                                    @L("Name"): {{ material.displayText }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="row margin-top-40">
                                <div class="col-xs-2">
                                    <div class="md-checkbox">
                                        <input id="HighValueItem" class="md-check" type="checkbox" name="allmaterial"
                                               ng-class="{'edited':vm.isHighValueItem}" ng-model="vm.isHighValueItem">
                                        <label for="HighValueItem">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("HighValueItem")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-9">

                                </div>
                                <div class="col-xs-1">
                                        <div class="form-group">
                                            <label class="control-label"> </label>
                                            <button class="btn blue margin-top-20" ng-click="vm.exportToExcel()">
                                                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

