﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading" >
    <div class="modal-header">
        <div class="col-xs-7">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.materialRefName}}</span>
            </h4>
        </div>
        <div class="col-xs-5 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div ng-if="vm.detailData.length==0">
           @L("Standard")  @L("NoRecordsFound")
        </div>

        <div class="row" ng-if="vm.detailData.length>0">
            <div class="col-xs-12" ng-if="vm.detailData.length>0">
                <table class="table table-striped table-bordered col-xs-12">
					<caption><h3>@L("Standard")</h3></caption>
                    <thead>
                    <tr>
                        <th>#</th>
						<th>@L("Dept")</th>
                        <th>@L("Menu")</th>
                        <th class="text-right">@L("SoldQty")</th>
                        <th ng-if="vm.recipeExistFlag">@L("Recipe")</th>
                        <th ng-if="vm.recipeExistFlag" class="text-right">@L("Recipe") @L("Qty")@*/Per Sold Quantity*@</th>
                        <th class="text-right">@L("PortionPerSale")</th>
                        <th class="text-right">@L("UOM")</th>
                        <th class="text-right">@L("Material") @L("Used") @L("Quantity")</th>
                       
                    </tr>
                </thead>

        <tr data-ng-repeat="(index,data) in vm.detailData">
            <td align="right">
                {{index+1}}
            </td>
			<td>
				{{data.departmentName}}
			</td>
            <td>
                {{data.posRefName}}
            </td>
            <td align="right">
                {{data.menuQuantitySold | number : 6}}
            </td>
            <td ng-if="vm.recipeExistFlag">
               <span ng-if="data.recipeRefId>0">{{data.recipeRefId}} - {{data.recipeRefName}}</span> 
            </td>
            <td ng-if="vm.recipeExistFlag">
                <span ng-if="data.recipeRefId>0">{{data.recipeUsedQty | number : 6}} @*- {{data.recipeUsedUnitRefName}}*@ </span>
            </td>
            <td align="right">
                <span ng-if="data.recipeRefId>0">{{data.recipePortionPerQtySold | number : 6}}</span>
                <span ng-if="data.recipeRefId==0" >{{data.portionPerQtySold | number : 6}}</span>
            </td>
            <td align="right">
                <span>{{data.unitRefName}}</span>
            </td>
            <td align="right">
                {{data.portionQty | number : 6}}
            </td>
          
        </tr>
        <tr>
            <td colspan="6" align="right">
                @L("Total")
            </td>
            <td align="right">
				<span style="color:blue">{{vm.quantity | number : 6}}</span> 
                
            </td>
        </tr>
    </table>
</div>
</div>

		<div class="row" ng-if="vm.actualData.length>0">
			
			<div class="col-xs-12">
				<table class="table table-striped table-bordered col-xs-12">
					<caption><h3>@L("Actual")</h3></caption>
					<thead>
						<tr>
							<th>@L("DateRange")</th>
							<th class="text-right">@L("Issued")</th>
							<th class="text-right">@L("Sales")</th>
							<th class="text-right">@L("Damaged")</th>
							<th class="text-right">@L("Shortage")</th>
							<th class="text-right">@L("Return")</th>
							<th class="text-right">@L("Total") @L("Consumption")</th>
						</tr>
					</thead>
					<tr data-ng-repeat="(index,data) in vm.actualData">
						<td>
							{{data.ledgerFromDate | date : 'dd-MMM-yy'}} - {{data.ledgerToDate | date : 'dd-MMM-yy'}}
						</td>
						<td align="right">
							{{data.issued | number : 6}}
						</td>
						<td align="right">
							{{data.sales | number : 6}}
						</td>
						<td align="right">
							<span style="color:red">{{data.damaged | number : 6}}</span>
						</td>
						<td align="right">
							<span style="color:red">{{data.shortage | number : 6}}</span> 
						</td>
						<td align="right">
							<span style="color:red">{{data.return | number : 6}}</span> 
						</td>
						<td align="right">
							<span style="color:blue">{{data.totalConsumption | number : 6}}</span> 
						</td>
					</tr>
				</table>
			</div>
		</div>
</div>
</div>