﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="tenant.views.house.master.housereport.costingReport as vm">
    <div id="divprintemail" class="row" busy-if="vm.loading">
        <div class="col-xs-11 text-right" ng-show="vm.printmailflag">
            <button class="btn btn-default purple" ng-click="vm.exportToExcel()" ng-disabled="vm.output==null">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <span>   </span>

        </div>
        <div class="col-xs-1 text-right" ng-show="vm.printmailflag">
            <a ng-click="vm.printmailflag=false; vm.myFunction();"> <span class=""><i class="fa fa-print" ng-click=""></i> </span> </a>
            <span>   </span>
        </div>

    </div>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("Costing")</span> <span class="caption-subject bold uppercase" ng-if="vm.materialcostingflag"> - @L("CostVsSales") - @L("MaterialWise")</span> 
                <span class="caption-subject bold uppercase" ng-if="vm.categorycostingflag"> - @L("CategoryWise") - @L("CostVsSales") </span>
            </h4>
        </div>
    </div>
    <div >
        
        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="input-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                        <span class="input-group-btn">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label class="control-label">@L("Location")</label>
                                        <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                            <ui-select-match>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations | filter: $select.search">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                <div class="col-xs-1 margin-top-10">
                                    <button class="btn blue margin-top-10" ng-click="vm.costingReport()"><i class="fa fa-refresh"></i> </button>
                                </div>

                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>


            <div ng-show="vm.chartFlag">
                <table class="table table-striped  table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>
                                @L("Location")
                            </th>
                            <th>
                                @L("Opening")
                            </th>
                            <th>
                                @L("Receipt")
                            </th>
                            <th>
                                @L("Issue")
                            </th>
                            <th>
                                @L("Closing")
                            </th>
                            <th>
                                @L("Actual")
                            </th>
                            <th>
                                @L("Actual")%
                            </th>
                            <th>
                                @L("Standard")
                            </th>
                            <th>
                                @L("Standard")%
                            </th>
                            <th>
                                @L("Variance")
                            </th>
                            <th>
                                @L("Variance")%
                            </th>
                            <th>
                                @L("Sales")
                            </th>

                        </tr>
                    </thead>
                    <tr data-ng-repeat="(index,data) in vm.costofsales">
                        <td>
                            <a ng-click="vm.changeLocationDetail(data,index)">
                                <span ng-if="data.locations.length==1">{{data.locations[0].name}} </span>
                                <span ng-if="data.locations.length>1">@L("All") </span>
                            </a>
                        </td>
                        <td align="right">
                            {{data.openingCostValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.overAllReceivedValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.overAllIssueValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.closingValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.actualFoodCostValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.actualFoodCostPercentage | number : 2}}
                        </td>
                        <td align="right">
                            {{data.foodCostValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.foodCostPercentage | number : 2}}
                        </td>
                        <td align="right">
                            {{data.varianceValue | number : 2}}
                        </td>
                        <td align="right">
                            {{data.variancePercentage | number : 2}}
                        </td>
                        <td align="right">
                            {{data.salesValueWithoutTax | number : 2}}
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-show="vm.chartFlag">
                <div class="col-xs-6">
                    <div ng-show="vm.chartFlag" id="container" style="min-width: 510px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-6">
                    <div ng-show="vm.chartFlag" id="variancecontainer" style="min-width: 510px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>

            <div class="row" ng-show="vm.chartFlag">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @L("Description")
                            </th>
                            <th>
                                @L("Standard")
                            </th>
                            <th>
                                @L("Actual")
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="col-xs-6">
                            @L("TotalSalesWithoutTax")
                        </td>
                        <td colspan="2" class="col-xs-3" align="center">
                            {{vm.output.salesValueWithoutTax | number : 2}}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-xs-6">
                            @L("FoodCost")
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.foodCostValue | number : 2}}
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.actualFoodCostValue | number : 2}}
                        </td>

                    </tr>

                    <tr>
                        <td class="col-xs-6">
                            @L("FoodCostPercentage")
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.foodCostPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.actualFoodCostPercentage | number : 2}}
                        </td>

                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            @L("Opening") @L("Value")
                        </td>
                        <td align="right">
                            {{vm.output.openingCostValue | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            @L("Receipt") @L("Value")

                        </td>
                        <td align="right">
                            {{vm.output.overAllReceivedValue | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            @L("Issue") @L("Value")

                        </td>
                        <td align="right">
                            {{vm.output.overAllIssueValue | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            @L("Closing") @L("Value")
                        </td>
                        <td align="right">
                            {{vm.output.closingValue  | number : 2 }}
                        </td>
                    </tr>
                    @*<tr ng-if="vm.output.pricingRemarks.length >0 || vm.output.mappingRemarks.length > 0">
                    <td class="col-xs-6">
                        @L("PointsToVerify")
                    </td>
                    <td class="col-xs-3" colspan="2">
                        {{vm.output.mappingRemarks}}
                        <br/>
                        <br/>

                        {{vm.output.pricingRemarks}}
                    </td>
                </tr>*@
                    <tr ng-if="vm.output.remarks.length > 0">
                        <td class="col-xs-6">
                            @L("Remarks")
                        </td>
                        <td class="col-xs-3" colspan="2">
                            {{vm.output.remarks}}
                        </td>
                    </tr>

                </table>
            </div>

            <p id="p1" class="bold"></p>
            <p id="p2" class="bold"></p>

            @*<div ng-if="vm.output.mappingRemarks.length >0">
            <br />
            <hr />
            @L("Mapping") @L("Remarks") :  {{vm.output.mappingRemarks}}
        </div>

        <div ng-if="vm.output.pricingRemarks.length >0">
            <br />
            <hr />
            @L("Price") @L("Remarks")  :  {{vm.output.pricingRemarks}}
        </div>*@

            <div ng-init="vm.showStandard=false" ng-if="vm.output.materialWiseValueAndPercentage.length>0 && vm.materialcostingflag">
                <h3>
                    <b>
                        @L("StandardMaterialWiseCostingReport") <a ng-click="vm.showStandard=!vm.showStandard">
                            <span ng-if="vm.showStandard"> @L("Hide") </span>
                            <span ng-if="!vm.showStandard"> @L("Show") </span>
                        </a>
                    </b>
                </h3>
            </div>
            <div class="row" ng-if="vm.output.materialWiseValueAndPercentage.length>0 && vm.materialcostingflag && vm.showStandard">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> </caption>
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th align="right">@L("StandaradUsageQty")</th>
                            <th>@L("UOM")</th>
                            <th align="right">@L("AvgRate")</th>
                            <th align="right">@L("Amount")</th>
                            <th>@L("Percentage")</th>
                            <th>@L("DateRange")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.materialWiseValueAndPercentage">
                        <td class="col-xs-3">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-2" align="right">
                            {{data.usageQty | number : 3}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.avgRate | number : 2}}
                        </td>

                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3">
                            {{data.invoiceDateRange}}
                        </td>

                    </tr>

                </table>
            </div>

            <div ng-init="vm.showActual=false" ng-if="vm.output.actualMaterialWiseValueAndPercentage.length>0 && vm.materialcostingflag">
                <h3>
                    <b>
                        @L("ActualMaterialWiseCostingReport") <a ng-click="vm.showActual=!vm.showActual">
                            <span ng-if="vm.showActual"> @L("Hide") </span>
                            <span ng-if="!vm.showActual"> @L("Show") </span>
                        </a>
                    </b>
                </h3>
            </div>

            <div class="row" ng-if="vm.output.actualMaterialWiseValueAndPercentage.length>0 && vm.materialcostingflag && vm.showActual">
                <table class="table table-striped table-bordered col-xs-12">
                    @*<caption> <h3> <b> @L("ActualMaterialWiseCostingReport")</b></h3></caption>*@
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th align="right">@L("ActualUsageQty")</th>
                            <th>@L("UOM")</th>
                            <th align="right">@L("AvgRate")</th>
                            <th align="right">@L("Amount")</th>
                            <th>@L("Percentage")</th>
                            <th>@L("DateRange")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.actualMaterialWiseValueAndPercentage">
                        <td class="col-xs-3">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-2" align="right">
                            {{data.usageQty | number : 3}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.avgRate | number : 2}}
                        </td>

                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3">
                            {{data.invoiceDateRange}}
                        </td>

                    </tr>

                </table>
            </div>

            <div class="row" ng-if="vm.output.standardVsActual.length>0 && vm.materialcostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("ActualVsStandardMaterialWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th>@L("UOM")</th>
                            <th>@L("AvgRate")</th>
                            <th align="right">@L("StandardUsageQty")</th>
                            <th align="right">@L("StandardCost")</th>
                            <th align="right">@L("StandardPercentage")</th>
                            <th align="right">@L("ActualUsageQty")</th>
                            <th align="right">@L("ActualCost")</th>
                            <th align="right">@L("ActualPercentage")</th>
                            <th align="right">@L("StdVsActQty")</th>
                            <th align="right">@L("StdVsActCost")</th>

                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.standardVsActual | orderBy:'-quantityDifference'">
                        <td class="col-xs-3">
                            <span ng-if="data.quantityDifference<0" style="color:white;background-color:orangered;"> {{data.materialRefName}}</span>
                            <span ng-if="data.quantityDifference==0">{{data.materialRefName}}</span>
                            <span ng-if="data.quantityDifference>0" style="color:white;background-color:blue;"> {{data.materialRefName}}</span>

                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.avgRate | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            <a ng-click="vm.detailDataShown(data)">{{data.standardQty | number : 6}}</a>
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.standardAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.standardCostPercentage | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.actualQty | number : 6}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.actualAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.actualCostPercentage | number : 2}}
                        </td>

                        <td class="col-xs-1" align="right">
                            <span ng-if="data.quantityDifference<0" style="color:white;background-color:orangered;"> {{data.quantityDifference | number : 6}}</span>
                            <span ng-if="data.quantityDifference==0"> {{data.quantityDifference | number : 6}}</span>
                            <span ng-if="data.quantityDifference>0" style="color:white;background-color:blue;"> {{data.quantityDifference | number : 6}}</span>
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costDifference | number : 2}}
                        </td>
                    </tr>

                </table>
            </div>

            <div class="row" ng-if="vm.output.standardCategoryWiseCost.length>0 && vm.categorycostingflag">
                <table class="table table-striped table-bordered col-xs-6">
                    <caption> <h3> <b> @L("Standard") - @L("CategoryWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("Category")</th>
                            <th>@L("Amount")</th>
                            <th>@L("Percentage")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.standardCategoryWiseCost">
                        <td class="col-xs-3">
                            {{data.materialGroupCategoryRefName}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right" >
                            {{data.costPercentage | number : 2}}
                        </td>
                    </tr>

                </table>
            </div>

            <div class="row" ng-if="vm.output.actualCategoryWiseCost.length>0 && vm.categorycostingflag">
                <table class="table table-striped table-bordered col-xs-6">
                    <caption> <h3> <b>  @L("Actual") - @L("CategoryWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("Category")</th>
                            <th>@L("Amount")</th>
                            <th ng-if="false">@L("Percentage")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.actualCategoryWiseCost">
                        <td class="col-xs-3">
                            {{data.materialGroupCategoryRefName}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right" ng-if="false">
                            {{data.costPercentage | number : 2}}
                        </td>
                    </tr>

                </table>
            </div>


            <div class="row" ng-if="vm.output.salesVsIsueCategoryWiseCosting.length>0 && vm.categorycostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("IssuesSalesCategoryWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("Category")</th>
                            <th>@L("Sales")</th>
                            <th>@L("IssueCost")</th>
                            <th>@L("Percentage")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.salesVsIsueCategoryWiseCosting">
                        <td class="col-xs-3">
                            {{data.materialGroupCategoryRefName}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.salesAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costPercentage}}
                        </td>
                    </tr>

                </table>
            </div>


        </div>
    </div>
</div>