﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

  
<div>
    <form name="housereportCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.housereport.id">@L("EditHouseReport"): {{vm.housereport.id}}</span>
                <span ng-if="!vm.housereport.id">@L("CreateHouseReport")</span>
            </h4>
        </div>
        <div class="modal-body">

            


            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="ReportKey" ng-class="{'edited':vm.housereport.reportKey}" ng-model="vm.housereport.reportKey" maxlength="30" required>
                        <label>@L("ReportKey")</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="Description" ng-class="{'edited':vm.housereport.description}" ng-model="vm.housereport.description" required>
                        <label>@L("Description")</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return AlphaAToZOnly(event,'cancel')" class="form-control" type="text" name="ReportRole" ng-class="{'edited':vm.housereport.reportRole}" ng-model="vm.housereport.reportRole" required>
                        <label>@L("ReportRole")</label>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="housereportCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

