﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    text:focus {
        background: pink;
    }

    input:focus {
        background: pink;
    }
</style>

<div ng-controller="tenant.views.house.master.housereport.housereport as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading || vm.loadingCount">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span class="caption-subject bold uppercase">{{vm.reportHeader}} <span style="color:red" class="bold" ng-if="vm.reportSubHeader.length>0"> - {{vm.reportSubHeader}}</span> </span>
                    </h4>
                    <h5 ng-if="vm.reportRefKey=='VARIANCESTOCK' " style="color:blue">
                        @L("AccountDate") : {{vm.housetransactiondate | date : 'YYYY-MMM-DD EEE'}}
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-if="vm.reportRefKey=='STOCK' || vm.reportRefKey=='CLOSESTOCK'">
                <label class="control-label"></label>
                <div class="md-checkbox">
                    <input id="isNeedToBeDisplayedInSingleSheet" class="md-check" type="checkbox" name="isNeedToBeDisplayedInSingleSheet"
                           ng-class="{'edited':vm.isNeedToBeDisplayedInSingleSheet }" ng-model="vm.isNeedToBeDisplayedInSingleSheet">
                    <label for="isNeedToBeDisplayedInSingleSheet">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("IsNeedToBeDisplayedInSingleSheet")
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label"></label>

                <div class="md-checkbox">
                    <input id="HighValueItem" class="md-check" type="checkbox" name="HighValueItem" ng-class="{'edited':vm.isHighValueItemOnly }" ng-model="vm.isHighValueItemOnly " ng-click="vm.getAll()">
                    <label for="HighValueItem">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("HighValueItem")
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-default purple" ng-if="vm.reportRefKey=='CLOSESTOCK' || vm.reportRefKey=='STOCK' || vm.reportRefKey=='SUPPLIERRATEVIEW' || vm.reportRefKey=='RATEVIEW' || vm.reportRefKey=='VARIANCESTOCK'" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <button class="btn btn-default purple" ng-if="vm.reportRefKey=='CLOSESTOCK' || vm.reportRefKey=='STOCK' || vm.reportRefKey=='SUPPLIERRATEVIEW' || vm.reportRefKey=='RATEVIEW' || vm.reportRefKey=='VARIANCESTOCK' " ng-click="vm.pdfFileExpected=true; vm.exportToExcel()">
                <i class="fa fa-file-pdf-o"></i> @L("PDF")
            </button>
            @*<button class="btn btn-default yellow" ng-if="vm.reportRefKey=='CLOSESTOCK'" ng-click="vm.batchFileCreation()">
                <i class="fa fa-file-pdf-o"></i> @L("Batch") @L("File")
            </button>*@

        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row" busy-if="vm.loading || vm.loadingCount">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input id="reportDate" date-range-picker type="text" ng-change="vm.checkVarianceAfterOrBefore();vm.dateRangeChange();" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>
                                    <ui-select class="borderself" id="defaultLocation" ng-model="vm.locationRefId" required>
                                        <ui-select-match id="selLocationRefid" placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialType")</label>
                                    <ui-select class="borderself" multiple id="selMaterialType" ng-class="{'edited':vm.materialTypeList}" ng-model="vm.materialTypeList">
                                        <ui-select-match>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.refmaterialtype | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4" busy-if="vm.loading || vm.loadingCount">
                                <div class="form-group">
                                    <label class="control-label">@L("Material") @L("List")</label>
                                    <ui-select multiple ng-model="vm.materialRefIds">
                                        <ui-select-match placeholder="Select Materials...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterials | filter: $select.search | limitTo: vm.uilimit ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label">@L("MaterialName")</label>
                                <input id="MaterialRefNameLike" type="text" class="form-control" ng-model="vm.materialRefNameLike" />
                            </div>

                            <div class="col-xs-1">
                                <div class="form-group">
                                    <button class="btn btn-primary margin-top-20" ng-click="vm.getAll()">
                                        <i class="fa fa-refresh"></i> @L("Refresh")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading || vm.loadingCount" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>


