﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 75%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-9">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.materialRefName}}</span>
            </h4>
        </div>
        <div class="col-xs-3 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div ng-if="vm.priceListdetails==null || vm.priceListdetails.length==0">
            @L("NoMoreRecordsFound")
        </div>
        <div class="row" ng-if="vm.priceListdetails.length>0">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Ingredient")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th class="text-right">@L("Price")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("Cost")</th>
                            <th>@L("DateRange")</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="(index,data) in vm.priceListdetails">
                        <td class="col-xs-3">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-1">
                            <span>{{data.uom}} </span>
                        </td>
                        <td align="right" class="col-xs-1">
                            {{data.avgPrice | number : 3}}
                        </td>
                        <td align="right" class="col-xs-1">
                            {{data.materialUsedQty |number : 3}}
                        </td>
                        <td align="right" class="col-xs-1">
                            {{data.totalPrice |number : 3}}
                        </td>
                        <td align="left" class="col-xs-2">
                            {{data.invoiceDateRange}}
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>