﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.house.master.housereport.intertransferRequestConsolidationReport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Transfer") @L("Request") @L("Quantity") @L("Consolidated")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2">

        </div>
       
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.defaultLocationId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-9 margin-top-20">
                                <button class="btn btn-large purple" ng-click="vm.openLocation()">
                                    <i class="fa fa-location-arrow"></i>
                                    <span ng-if="vm.locationGroup.groups.length==0 && vm.locationGroup.locations.length==0 && vm.locationGroup.locationTags.length==0">@L("All") @L("Locations")</span>
                                    <span ng-if="vm.locationGroup.groups.length==1">@L("LocationGroup") : {{vm.locationGroup.groups[0].name}}</span>
                                    <span ng-if="vm.locationGroup.groups.length>1">@L("LocationGroup") : {{vm.locationGroup.groups.length}}</span>
                                    <span ng-if="vm.locationGroup.groups.length>0 && (vm.locationGroup.locations.length>0 || vm.locationGroup.locationTags.length>0"> , </span>
                                    <span ng-if="vm.locationGroup.locations.length==1">@L("Location") : {{vm.locationGroup.locations[0].name}}</span>
                                    <span ng-if="vm.locationGroup.locations.length>1">@L("Locations") : {{vm.locationGroup.locations.length}}</span>
                                    <span ng-if="(vm.locationGroup.groups.length>0 || vm.locationGroup.locations.length>0) && vm.locationGroup.locationTags.length>0">,</span>
                                    <span ng-if="vm.locationGroup.tags.length==1">@L("LocationTag") : {{vm.locationGroup.locationTags[0].name}}</span>
                                    <span ng-if="vm.locationGroup.tags.length>1">@L("LocationsTag") : {{vm.locationGroup.locationTags.length}}</span>
                                </button>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            @*<div class="col-xs-2">
            <div class="md-checkbox">
                <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                <label for="dateRange">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("DateRange")
                </label>
            </div>
        </div>*@
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label class="bold" style="color:black" for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Request")  @L("DateRange")
                                    </label>
                                </div>
                                <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="deliveryDateFilterApplied" class="md-check" type="checkbox" ng-model="vm.deliveryDateFilterApplied" name="deliveryDateFilterApplied" />
                                    <label class="bold" style="color:black" for="deliveryDateFilterApplied">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DeliveryDate") @L("Range")
                                    </label>
                                </div>
                                <input ng-if="vm.deliveryDateFilterApplied" id="deliveryDate" date-range-picker type="text" options="vm.deliveryDateRangeOptions" min="vm.deliveryDateRangeOptions.min" max="vm.deliveryDateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.deliveryDateRangeModel" />
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Group") &nbsp; <a ng-if="vm.materialGroupRefId" ng-click="vm.materialGroupRefId=null; vm.materialGroupCategoryRefId=null;">Clear</a></label>
                                    <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-change="vm.fillDropDownMaterialGroupCategory();vm.materialGroupCategoryRefId=null;" ng-model="vm.materialGroupRefId">
                                        <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Category") &nbsp; <a ng-if="vm.materialGroupCategoryRefId" ng-click="vm.materialGroupCategoryRefId=null;">Clear</a> </label>
                                    <ui-select class="borderself" id="selMaterialCategoryRefId" ng-model="vm.materialGroupCategoryRefId" ng-change="vm.getAll();">
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-2 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="showOnlyDeliveryDateExpectedAsOnDate" class="md-check" type="checkbox" ng-model="vm.showOnlyDeliveryDateExpectedAsOnDate" ng-change="vm.getAll();" name="showOnlyDeliveryDateExpectedAsOnDate" />
                                    <label class="bold" style="color:black" for="showOnlyDeliveryDateExpectedAsOnDate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ShowOnlyDeliveryDateExpectedAsOnDate")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-xs-2">
                                <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="md-checkbox">
                                        <input id="isPending" class="md-check" type="checkbox" name="isPending"
                                               ng-class="{'edited':vm.isPending }" ng-model="vm.isPending">
                                        <label class="bold" style="color:black" for="isPending">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Pending")
                                        </label>
                                    </div>
                                </div>
                                @*<span ng-if="vm.isPending"> @L("PendingRequestSelectMsg") </span>*@
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="md-checkbox">
                                        <input id="isApproved" class="md-check" type="checkbox" name="isApproved"
                                               ng-class="{'edited':vm.isApproved }" ng-model="vm.isApproved">
                                        <label class="bold" style="color:black" for="isApproved">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Approved")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="md-checkbox">
                                        <input id="isReceived" class="md-check" type="checkbox" name="isReceived"
                                               ng-class="{'edited':vm.isReceived }" ng-model="vm.isReceived">
                                        <label class="bold" style="color:black" for="isReceived">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Received")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 text-right">
                                <button class="btn btn-primary blue" button-busy="vm.saving" busy-text="@L(" ...")" ng-click="vm.consolidatedExcel()">
                                    <i class="fa fa-file-excel-o"></i> @L("RequestConsolidation") @L("Report")
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        @*<div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>*@

    </div>
</div>

