﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.house.master.housereport.intertransferStatusReport as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Transfer") @L("Status")</span> 
                    </h1>
                </div>
            </div>
        </div>
       
    </div>

    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            
                            <div class="col-xs-3" >
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                          <div class="col-xs-6">
                            <div class="md-checkbox">
                              <input id="alllocation" class="md-check" type="checkbox" name="alllocation"
                                     ng-class="{'edited':vm.alllocationflag}" ng-model="vm.alllocationflag">
                              <label for="alllocation">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("AllLocations")
                              </label>

                              <ui-select multiple ng-model="vm.locationstransferred" class="form-control" ng-show="!vm.alllocationflag">
                                <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="location in vm.alllocations">
                                  <small>
                                    @L("Name"): {{ location.name }}
                                    <br />
                                    @L("Code"): {{ location.code }}
                                  </small>
                                </ui-select-choices>
                              </ui-select>
                            </div>
                          </div>
                            </div>

                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialType")</label>
                                    <ui-select class="borderself" multiple id="selMaterialType" ng-class="{'edited':vm.materialTypeList}" ng-model="vm.materialTypeList">
                                        <ui-select-match placeholder="Select Material Types...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.refmaterialtype | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialName")</label>
                                    <ui-select class="borderself" multiple ng-model="vm.materialList">
                                        <ui-select-match id="selmateriallist" placeholder="Select Material...">{{$item.materialName}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.refmaterial | filter: $select.search">
                                            <div ng-bind="item.materialName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="md-checkbox">
                                    <input id="searchflag" class="md-check" type="checkbox" ng-model="vm.exactsearch" name="searchflag" />
                                    <label for="searchflag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Ref#")
                                    </label>

                                    <input class="form-control" type="text" name="Refno" ng-model="vm.transferNumber" placeholder=@L("Ref#") >
                                </div>
                            </div>
                                </div>
																<div class="row margin-top-30">
																	<div class="col-xs-12 text-right">
																		<button class="btn btn-primary btn-default" ng-click="vm.exportToExcel()">
																			<i class="fa fa-file-excel-o"></i> @L("GenerateExcel")
																		</button>

																		<button class="btn btn-primary blue" ng-click="vm.clear()">
																			@L("Clear")
																		</button>
																	</div>
																</div>
                    </form>
                </div>
            </div>
        </div>

      
    </div>
</div>

