﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="tenant.views.house.master.housereport.locationwiseCostOfSSales as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("LocationWiseCostOfSales")</span> 
            </h4>
        </div>
    </div>
    <div >
        <div class="row" ng-if="false">
            <div class="col-md-6 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-body">
                        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input" >
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Location")</label>
                                        <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                            <ui-select-match >{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>

                                <div class="input-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    <span class="input-group-btn">
                                        <button class="btn blue margin-top-20" ng-click="vm.costingReport()"><i class="fa fa-refresh"></i> </button>
                                    </span>
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>

            <div class="row" >
                <table class="table table-striped table-bordered col-xs-12" >
                    <thead>
                        <tr>
                            <th>
                                @L("Description")
                            </th>
                            <th>
                                @L("Standard")
                            </th>
                            <th>
                                @L("Actual")
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="col-xs-6">
                            @L("TotalSalesWithoutTax")
                        </td>
                        <td colspan="2" class="col-xs-3" align="center">
                            {{vm.output.salesValueWithoutTax | number : 2}}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-xs-6">
                            @L("FoodCost")
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.foodCostValue | number : 2}}
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.actualFoodCostValue | number : 2}}
                        </td>

                    </tr>

                    <tr>
                        <td class="col-xs-6" >
                            @L("FoodCostPercentage")
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.foodCostPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.actualFoodCostPercentage | number : 2}}
                        </td>

                    </tr>                        
                    <tr ng-if="vm.output.pricingRemarks.length >0 || vm.output.mappingRemarks.length > 0">
                        <td class="col-xs-6">
                            @L("PointsToVerify")
                        </td>
                        <td class="col-xs-3" colspan="2">
                            {{vm.output.mappingRemarks}}
                            <br/>
                            <br/>

                            {{vm.output.pricingRemarks}}
                        </td>
                    </tr>
                    <tr ng-if="vm.output.remarks.length > 0">
                        <td class="col-xs-6">
                            @L("Remarks")
                        </td>
                        <td class="col-xs-3" colspan="2">
                            {{vm.output.remarks}}
                        </td>
                    </tr>

                </table>
            </div>

            <div class="row" ng-if="vm.output.materialWiseValueAndPercentage.length>0 && vm.materialcostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("StandardMaterialWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th align="right">@L("StandaradUsageQty")</th>
                            <th>@L("UOM")</th>
                            <th align="right">@L("AvgRate")</th>
                            <th align="right">@L("Amount")</th>
                            <th>@L("Percentage")</th>
                            <th>@L("DateRange")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.materialWiseValueAndPercentage">
                        <td class="col-xs-3">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-2" align="right" >
                            {{data.usageQty | number : 2}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.avgRate | number : 2}}
                        </td>

                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3">
                            {{data.invoiceDateRange}}
                        </td>

                    </tr>

                </table>
            </div>

            <div class="row" ng-if="vm.output.actualMaterialWiseValueAndPercentage.length>0 && vm.materialcostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("ActualMaterialWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th align="right">@L("ActualUsageQty")</th>
                            <th>@L("UOM")</th>
                            <th align="right">@L("AvgRate")</th>
                            <th align="right">@L("Amount")</th>
                            <th>@L("Percentage")</th>
                            <th>@L("DateRange")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.actualMaterialWiseValueAndPercentage">
                        <td class="col-xs-3">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-2" align="right">
                            {{data.usageQty | number : 2}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.avgRate | number : 2}}
                        </td>

                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3">
                            {{data.invoiceDateRange}}
                        </td>

                    </tr>

                </table>
            </div>

            <div class="row" ng-if="vm.output.standardVsActual.length>0 && vm.materialcostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("ActualVsStandardMaterialWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th>@L("UOM")</th>
                            <th>@L("AvgRate")</th>
                            <th align="right">@L("StandardUsageQty")</th>
                            <th align="right">@L("StandardCost")</th>
                            <th align="right">@L("StandardPercentage")</th>
                            <th align="right">@L("ActualUsageQty")</th>
                            <th align="right">@L("ActualCost")</th>
                            <th align="right">@L("ActualPercentage")</th>
                            <th align="right">@L("StdVsActQty")</th>
                            <th align="right">@L("StdVsActCost")</th>

                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.standardVsActual">
                        <td class="col-xs-3">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.avgRate | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.standardQty | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.standardAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.standardCostPercentage | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.actualQty | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.actualAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.actualCostPercentage | number : 2}}
                        </td>

                        <td class="col-xs-1" align="right">
                            {{data.quantityDifference | number : 2}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costDifference | number : 2}}
                        </td>
                    </tr>

                </table>
            </div>
            


            <div class="row" ng-if="vm.output.actualCategoryWiseCost.length>0 && vm.categorycostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("ActualCategoryWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("Category")</th>
                            <th>@L("Amount")</th>
                            <th ng-if="false">@L("Percentage")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.actualCategoryWiseCost">
                        <td class="col-xs-3">
                            {{data.materialGroupCategoryRefName}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.netAmount}}
                        </td>
                        <td class="col-xs-1" align="right" ng-if="false" >
                            {{data.costPercentage | number : 2}}
                        </td>
                    </tr>

                </table>
            </div>


            <div class="row" ng-if="vm.output.salesVsIsueCategoryWiseCosting.length>0 && vm.categorycostingflag">
                <table class="table table-striped table-bordered col-xs-12">
                    <caption> <h3> <b> @L("IssuesSalesCategoryWiseCostingReport")</b></h3></caption>
                    <thead>
                        <tr>
                            <th>@L("Category")</th>
                            <th>@L("Sales")</th>
                            <th>@L("IssueCost")</th>
                            <th>@L("Percentage")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.output.salesVsIsueCategoryWiseCosting">
                        <td class="col-xs-3">
                            {{data.materialGroupCategoryRefName}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.salesAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costAmount}}
                        </td>
                        <td class="col-xs-1" align="right">
                            {{data.costPercentage}}
                        </td>
                    </tr>

                </table>
            </div>

            
        </div>
    </div>
</div>