﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.master.housereport.materialTrackReport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("MaterialTrack")</span>  
            </h4>
        </div>
    </div>
    <div >
        <div class="row" ng-if="false">
            <div class="col-md-6 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-body">
                        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input" >
                        <form>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>
                                    <ui-select ng-model="vm.requestParams.locationRefId" class="borderself">
                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Material")</label>
                                    <ui-select multiple ng-model="vm.requestParams.materials" class="form-control">
                                        <ui-select-match>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="material in vm.refmaterials | filter: $select.search">
                                            <small>
                                                {{ material.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                        </div>
                            <div class="row">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    </div>
                                </div>
                                <div class="col-xs-5 margin-top-20">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                         <button class="btn blue " ng-click="vm.materialTrackReport()">@L("Refresh")</button>
                                    </div>
                                </div>
                                <div class="col-xs-1 margin-top-30">
                                    <div id="divprintemail" class="row">
                                        <div class="col-xs-1 text-right" @*ng-show="vm.printmailflag"*@>
                                            <a ng-click="vm.printmailflag=false;" onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div data-ng-repeat="(index,materialdata) in vm.output">
                                    <table class="table table-striped table-bordered col-xs-8">
                                        <caption> <h3> <b> @L("Summary") </b></h3></caption>

                                        <thead>
                                            <tr>
                                                @*<th>
                                @L("Location")
                            </th>*@
                                                <th>
                                                    @L("Material")
                                                </th>
                                                <th align="center">
                                                    @L("UOM")
                                                </th>
                                                <th align="center">
                                                    @L("OpenBalance")
                                                </th>
                                                <th align="center">
                                                    @L("Received")
                                                </th>
                                                <th align="center">
                                                    @L("Issued")
                                                </th>
                                                <th align="center">
                                                    @L("ClBalance")
                                                </th>

                                            </tr>
                                        </thead>
                                        <tr>
                                            <td class="col-xs-3">

                                                <b> {{materialdata.materialName}} </b>
                                                <span style="color:red" ng-if="materialdata.remarks.length>0"><br /> {{materialdata.remarks}}</span>
                                                <br ng-if="materialdata.remarks.length>0"/>
                                                <a ng-if="materialdata.errorDate!=null" ng-click="vm.materialMaterialLedgerCorrection(materialdata.errorDate, materialdata.materialRefId)"> Correct The Issue</a>
                                                
                                            </td>
                                            <td class="col-xs-1">
                                                {{materialdata.uom}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{materialdata.openingBalance | number : 2}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{materialdata.totalReceived | number : 2}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{materialdata.totalIssued | number : 2}}
                                              
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{materialdata.closingBalance | number : 2}}
                                            </td>

                                        </tr>

                                        @*<tr ng-if="materialdata.remarks.length >0">
                        <td class="col-xs-12">
                            @L("Remarks") : {{materialdata.remarks}}
                        </td>
                    </tr>*@
                                    </table>
                                    <hr />

                                    <table class="table table-striped table-bordered col-xs-12" ng-if="materialdata.trackDetail.length>0">
                                        <caption> <h3> <b> @L("Detail") </b></h3></caption>

                                        <thead>
                                            <tr>
                                                <th>@L("Time")</th>
                                                <th>@L("TrackStatus")</th>
                                                <th>@L("OpenBalance")</th>
                                                <th align="right">
                                                    @L("Received")
                                                </th>
                                                <th align="right">
                                                    @L("Issued")
                                                </th>
                                                <th align="right">
                                                    @L("ClBalance")
                                                </th>
                                                <th>@L("Remarks")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(index,data) in materialdata.trackDetail">
                                            <td class="col-xs-2">
                                                {{data.modifyTime | date : 'dd-MMM-yy h:mm a' }}
                                            </td>
                                            <td class="col-xs-2">
                                                {{data.trackStatus}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{data.openBalance | number : 2}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{data.recived | number : 2}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                <a ng-if="data.trackStatus=='Sales'" ng-click="vm.detailDataShown(materialdata.materialName,materialdata.uom,data.issued,data.modifyTime, data.modifyTime,materialdata.materialRefId)"> <i class="fa fa-eye"></i> </a>
                                                {{data.issued | number : 2}}
                                            </td>
                                            <td class="col-xs-1" align="right">
                                                {{data.closingBalance | number : 2}}
                                            </td>
                                            <td class="col-xs-4">
                                                {{data.trackDesc}} 
                                                <span style="color:red;" class="bold" ng-if="data.remarks.length>0" ><br/> {{data.remarks}}</span>
                                            </td>
                                        </tr>

                                    </table>

                                    <hr />

                                    <hr />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          
          
        </div>
    </div>
</div>