﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.housereport.materialWastageReport as vm">
    <div class="row margin-bottom-5" busy-if="vm.loading">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MaterialWastageReport")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <label class="control-label">@L("Locations")</label>
                                <ui-select multiple ng-model="vm.locationsSelected" class="form-control" ng-show="!vm.alllocationflag">
                                    <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="location in vm.alllocations">
                                        <small>
                                            @L("Name"): {{ location.name }}
                                            <br />
                                            @L("Code"): {{ location.code }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-xs-12">
                                <div class="md-checkbox">
                                    <ui-select multiple ng-model="vm.selectedEntryTypes" class="form-control">
                                        <ui-select-match placeholder=@L("EntryType")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="entrytype in vm.entryTypes">
                                            <small>
                                                {{ entrytype.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-xs-12 text-right">
                                <button ng-if="vm.isCustomReportEnabled" class="btn btn-primary purple" ng-click="vm.customReportexportToExcel()">
                                    @L("Generate") @L("Custom") @L("Export")
                                </button>
                                &nbsp;
                                &nbsp;
                                <div class="btn-group">
                                    <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-file-excel-o"></i> @L("Export")
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                        </li>
                                        <li>
                                            <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                        </li>
                                        <li>
                                            <a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
                                        </li>
                                    </ul>
                                </div>
                                &nbsp;
                                &nbsp;
                                <button class="btn btn-primary blue" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

