﻿<div ng-controller="tenant.views.house.master.housereport.menuitemcostingReport as vm">

<div class="row margin-bottom-5">
    <div class="col-xs-5">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span class="caption-subject bold uppercase">@L("Costing")</span> <span class="caption-subject bold uppercase"> - @L("Menu")</span> 
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-5 text-right">
        <button class="btn btn-default" ng-click="vm.exportToExcel()" ng-disabled="vm.output==null">
            <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
        </button>
    </div>
    <div class="col-xs-1 text-right" ng-show="vm.printmailflag">
        <a ng-click="vm.printmailflag=false; vm.myFunction();">
            <span class=""><i class="fa fa-print" ng-click=""></i>@L("Print").ToUpper()</span>
        </a>
        <span>   </span>
    </div>

</div>




<div class="portlet light" busy-if="vm.loading">
<div class="portlet-title portlet-title-filter">
    <div class="inputs inputs-full-width">
        <div class="portlet-input">
            <form>
                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("Locations")</label>
                            <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                <ui-select-match>{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="location in vm.locations | filter: $select.search">
                                    <small>
                                        @L("Name"): {{ location.name }}
                                        <br />
                                        @L("Code"): {{ location.code }}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("DateRange")</label>
                            <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                   class="form-control date-picker" ng-model="vm.dateRangeModel"/>
                        </div>
                    </div>
                   
                </div>
                <div class="row margin-top-10">
                    <div class="col-xs-3">
                        <div class="md-checkbox">
                            <input id="IncludeGift" class="md-check" type="checkbox" name="IncludeGift" ng-class="{'edited':vm.includeGiftFlag}" ng-model="vm.includeGiftFlag">
                            <label for="IncludeGift">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("IncludeGift")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="md-checkbox">
                            <input id="IncludeComp" class="md-check" type="checkbox" name="IncludeComp" ng-class="{'edited':vm.includeCompFlag}" ng-model="vm.includeCompFlag">
                            <label for="IncludeComp">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("IncludeComp")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="md-checkbox">
                            <input id="ShowDetail" class="md-check" type="checkbox" name="ShowDetail" ng-class="{'edited':vm.detailFlag}" ng-model="vm.detailFlag">
                            <label for="ShowDetail">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("ShowDetail")
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn blue margin-top-20" ng-click="vm.costingReport()"><i class="fa fa-refresh"></i>@L("Refresh")</button>
                       
                    </div>
                </div>
</form>
        </div>
    </div>
</div>

<p id="p1" class="bold"></p>

@*<span ng-if="vm.output.remarks.length >0">
            <b>     @L("PointsToVerify") : {{vm.output.remarks}} </b>
        </span>*@

<div class="row" ng-if="vm.output.recipeWiseCosting.length>0 && vm.consolidatedFlag">
    <div>
        <table class="table table-striped table-bordered col-xs-12">
            <caption class="text-center">
                <h4>
                    <b>@L("Consolidated") - @L("MenuWiseCosting")</b>
                </h4>
            </caption>
            <thead>
            <tr>
                <th>
                    @L("Department")
                </th>
                <th>
                    @L("Menu")
                </th>
                <th class="text-right">
                    @L("UnitPrice")
                </th>
                <th class="text-right">
                    @L("SoldQty")
                </th>
                <th class="text-right">
                    @L("Sales")
                </th>
                <th class="text-right">
                    @L("UnitCost")
                </th>
                <th class="text-right">
                    @L("TotalCost")
                </th>
                <th class="text-right">
                    @L("Profit")
                </th>
                <th class="text-right">
                    @L("Margin")%
                </th>
            </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.output.recipeWiseCosting">
                <td class="col-xs-1">
                    {{data.departmentRefName}}
                </td>
                <td class="col-xs-3">
                    {{data.menuItemRefName}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.unitPrice | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.qtySold | number : 2}}
                </td>
                <td class="col-xs-2" align="right">
                    {{data.salesAmount | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.costPerUnit | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.totalCost | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.profit | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.profitMargin | number : 2}}
                </td>
            </tr>
            <tr>
                <td class="col-xs-1">

                </td>
                <td class="col-xs-3" align="right">
                    <b>@L("Total") </b>
                </td>
                <td class="col-xs-1" align="right">

                </td>
                <td class="col-xs-1" align="right">

                </td>
                <td class="col-xs-2" align="right">
                    <b> {{vm.output.totalSales | number : 2}} </b>
                </td>
                <td class="col-xs-1" align="right">

                </td>
                <td class="col-xs-1" align="right">
                    <b> {{vm.output.totalCost | number : 2}} </b>
                </td>
                <td class="col-xs-1" align="right">
                    <b> {{vm.output.totalProfit | number : 2}} </b>
                </td>
                <td class="col-xs-1" align="right">
                    <b> {{vm.output.totalProfitMargin | number : 2}} </b>
                </td>
            </tr>
        </table>
        <br/>
        <hr/>
    </div>
    <hr/>
</div>

<div class="row" ng-if="vm.output.recipeWiseCosting.length>0 && vm.detailFlag">
    <hr/>
    <br/>
    <div data-ng-repeat="(index,recipedata) in vm.output.recipeWiseCosting">
        <div class="row">
            <div class="col-xs-4">
                <b> {{recipedata.departmentRefName }} - {{recipedata.menuItemRefName}} </b>
            </div>
            <div class="col-xs-3">
                <b> @L("Quantity"): {{recipedata.qtySold}}</b> , <b> @L("Sales") : {{recipedata.salesAmount | number : 2}} </b>
            </div>
            <div class="col-xs-5">
                <b> @L("Total") @L("Cost") : {{recipedata.totalCost | number : 2}} </b>, <b> @L("Profit"): {{recipedata.profit | number : 2}} ( {{recipedata.profitMargin | number : 2}} %) </b>
            </div>
        </div>
        <table class="table table-striped table-bordered col-xs-8">
            @*<caption> <h5> <b> - @L("TotalCost") - {{recipedata.totalCost}} </b></h5></caption>*@
            <thead>
            <tr>
                <th>
                    @L("Material")
                </th>
                <th class="text-right">
                    @L("QuantityPerPortion")
                </th>
                <th class="text-right">
                    @L("UnitCost")
                </th>
                <th class="text-right">
                    @L("CostPerUom")
                </th>
                <th class="text-right">
                    @L("TotalUsage")
                </th>
                <th class="text-right">
                    @L("LineTotal")
                </th>
                <th class="text-right">
                    @L("FoodCostPercentage")
                </th>
            </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in recipedata.standardMaterialWiseValueAndPercentage">
                <td class="col-xs-3">
                    {{data.materialRefName}}
                </td>
                <td class="col-xs-2" align="right">
                    {{data.usagePerUnit | number : 2}} {{data.uom}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.avgRate | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.avgRate * data.usagePerUnit | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.usageQty | number : 3}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.netAmount | number : 2}}
                </td>
                <td class="col-xs-1" align="right">
                    {{data.netAmount / recipedata.totalCost * 100 | number : 2}}
                </td>
            </tr>
            <tr>
                <td class="col-xs-3">

                </td>
                <td class="col-xs-2" align="right">

                </td>
                <td class="col-xs-1" align="right">

                </td>
                <td class="col-xs-1" align="right">
                    <b> {{recipedata.costPerUnit | number : 2}} </b>
                </td>
                <td class="col-xs-1" align="right">

                </td>
                <td class="col-xs-1" align="right">
                    <b>{{recipedata.totalCost | number : 2}} </b>
                </td>
                <td class="col-xs-1" align="right">

                </td>
            </tr>

        </table>
        <br/>
        <hr/>
    </div>
    <hr/>
</div>


</div>

</div>