﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>


<div ng-controller="tenant.views.house.master.housereport.productionunitcostingReport as vm">

    <div id="divprintemail" class="row" busy-if="vm.loading">
        <div class="col-xs-10 text-right" ng-show="vm.printmailflag">
            <button class="btn btn-default" ng-click="vm.exportToExcel()" ng-disabled="vm.output==null">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <span>   </span>
          
        </div>
        <div class="col-xs-1" ng-show="vm.printmailflag">
        
        </div>
        <div class="col-xs-1 text-left" ng-show="vm.printmailflag">
            <a ng-click="vm.printmailflag=false; vm.myFunction();"> <span class=""><i class="fa fa-print" ng-click=""></i> </span> </a>

            <span>   </span>
        </div>

    </div>

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("Costing")</span> <span class="caption-subject bold uppercase"> - @L("ProductionUnit")</span> 
                
            </h4>
        </div>
    </div>
  

    <div >
        <div class="row" ng-if="false">
            <div class="col-md-6 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-body">
                        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input" >
                        <form>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("Location")</label>
                                        <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getProductionUnits()" required>
                                            <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                                <div ng-bind="location.name"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>

                            
                                <div class="col-xs-5">
                                    <div class="md-checkbox">
                                        <input id="AllProductionUnits" class="md-check" type="checkbox" name="AllProductionUnits" ng-class="{'edited':vm.allproductionunitsflag}" ng-model="vm.allproductionunitsflag">
                                        <label for="AllProductionUnits">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AllProductionUnits")
                                        </label>

                                        <ui-select multiple ng-model="vm.requestParams.productionunits" class="form-control"  ng-show="!vm.allproductionunitsflag">
                                            <ui-select-match>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in vm.productionunits | filter: $select.search">
                                                <small>
                                                    {{ item.name }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-4"> 
                                    <div class="input-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                        <span class="input-group-btn">
                                            <button class="btn blue margin-top-20" ng-click="vm.costingReport()"><i class="fa fa-refresh"></i> </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>

            <span ng-if="vm.output.remarks.length >0">
                <b>     @L("PointsToVerify") : {{vm.output.remarks}} </b>
            </span>

            <div class="row" ng-if="vm.output.productionWiseCosting.length>0" >
                <div data-ng-repeat="(index,data) in vm.output.productionWiseCosting" ng-if="data.materialUsage.length>0">
                    <h3> <b> {{data.locationRefName}} - {{data.productionUnitRefName}} </b></h3>
                    <table class="table table-striped table-bordered col-xs-8">
                        <caption> @L("Material") @L("Consumption") </caption>
                        <thead>
                        <tr>
                            <th>
                                @L("Material")
                            </th>
                            <th class="text-right">
                                @L("IssueQty") 
                            </th>
                            <th class="text-right">
                                @L("Return")  @L("Quantity")
                            </th>
                            <th class="text-right">
                                @L("Usage") - @L("UOM")
                            </th>
                            <th class="text-right">
                                @L("CostPerUom")
                            </th>
                            <th class="text-right">
                                @L("Amount")
                            </th>
                        </tr>
                        </thead>
                        <tr data-ng-repeat="(index,matdata) in data.materialUsage">
                            <td class="col-xs-3">
                                <b> {{matdata.materialRefName}} </b>
                            </td>
                            <td class="col-xs-2" align="right">
                                {{matdata.issueQty | number : 3}} 
                            </td>
                            <td class="col-xs-2" align="right">
                                {{matdata.returnQty | number : 3}}
                            </td>
                            <td class="col-xs-2" align="right">
                                {{matdata.usageQty | number : 3}} - {{matdata.uom}}
                            </td>
                            <td class="col-xs-2" align="right">
                                <b> {{matdata.avgRate | number : 2}} </b>
                            </td>
                            <td class="col-xs-2" align="right">
                                {{matdata.usageQty * matdata.avgRate | number : 2}}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3" align="right" >
                                <b>  @L("Total")  : </b>
                            </td>
                            <td class="col-xs-2" align="right">

                            </td>
                            <td class="col-xs-2" align="right">

                            </td>
                            <td class="col-xs-2" align="right">

                            </td>
                            <td class="col-xs-2" align="right">

                            </td>
                            <td class="col-xs-2" align="right">
                                <b>   {{data.materialCost | number : 2}} </b>
                            </td>
                        </tr>

                    </table>
                    <hr/>

                    <table class="table table-striped table-bordered col-xs-8">
                        <caption> @L("Production") & @L("Yield") </caption>
                        <thead>
                            <tr>
                                <th>
                                    @L("Material")
                                </th>
                                <th class="text-right">
                                    @L("Quantity") 
                                </th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,prddata) in data.productionDetails">
                            <td class="col-xs-3">
                                <b> {{prddata.materialRefName}} </b>
                            </td>
                            <td class="col-xs-2" align="right">
                                {{prddata.productionQty | number : 3}} {{prddata.uom}}
                            </td>
                        </tr>
                    </table>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
//function myFunction() {
//    document.getElementById("divprintemail").style.visibility = "hidden";
//    myPrint();
//}

//function myPrint() {
//    window.print();
//    document.getElementById("divprintemail").style.visibility = "visible";
    
//}


</script>
