﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.master.housereport.productAnalysis as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("ProductAnalysis")</span>
            </h4>
        </div>


    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row" busy-if="vm.loading">
                            <div class="col-xs-6">
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" ng-change="vm.getAll()" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel"/>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label"></label>
                                
                                <div class="md-checkbox">
                                    <input id="HighValueItem" class="md-check" type="checkbox" name="HighValueItem" ng-class="{'edited':vm.isHighValueItemOnly }" ng-model="vm.isHighValueItemOnly " ng-click="vm.getAll()">
                                    <label for="HighValueItem">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HighValueItem")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
								<button ng-disabled="!vm.userGridOptions.data.length" class="btn blue margin-top-20" ng-click="vm.getAllToExcel()">
									@L("Excel")
								</button>

                                <button class="btn blue margin-top-20" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
            </div>
        </div>
    </div>

</div>