﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>

<div ng-controller="tenant.views.house.master.housereport.purchaseexportwithCategory as vm">
    <div ng-if="!vm.isPurchaseAllowed">
        <h2>@L("PurchaseAllowedErr")</h2>
    </div>

    <div class="row margin-bottom-5" ng-if="vm.isPurchaseAllowed">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold">@L("Invoice").Pluralize() @L("Export")- @L("PurchaseOrder") &amp; @L("CategoryWise") </span> <small>@L("Report")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="md-checkbox-list" style="display: inline;">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="showAlreadyExported" class="md-check" type="checkbox" ng-model="vm.showAlreadyExported" ng-change="vm.getAll()">
                    <label for="showAlreadyExported">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Show") @L("Already") @L("Exported") @L("Also")</strong>
                    </label>
                </div>
            </div>

            <button class="btn btn-default purple" ng-click="vm.exportToCategoryExcel()">
                <i class="fa fa-file-excel-o"></i> @L("Category") @L("ExportToExcel")
            </button>
            <button class="btn btn-default primary" ng-click="vm.setAsComplete()">
                <i class="fa fa-file-excel-o"></i> @L("SetAs") @L("Export") @L("Finished")
            </button>
        </div>
    </div>

    <div class="portlet light" ng-if="vm.isPurchaseAllowed">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" ng-model="vm.supplierRefId" required>
                                        <ui-select-match id="selsupplierRefId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialName")</label>
                                    <ui-select class="borderself" ng-model="vm.materialRefId" required>
                                        <ui-select-match id="selmaterialrefid" placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterial | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="searchflag" class="md-check" type="checkbox" ng-model="vm.exactsearch" name="searchflag" />
                                    <label for="searchflag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ExactInvoiceNumber")
                                    </label>

                                    <input class="form-control" type="text" name="Refno" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button class="btn blue" ng-click="vm.getAll()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-primary yellow fa-pull-right" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>

    </div>


</div>

