﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.house.master.housereport.purchasereciptcategorywise as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("InvoiceReportsCategoryWise")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button class="btn btn-primary blue" ng-click="vm.clear()">
                @L("Clear")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            
                            <div class="col-xs-4" >
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" ng-model="vm.supplierRefId" required>
                                        <ui-select-match id="selsupplierRefId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialGroupCategoryName")</label>
                                    <ui-select class="borderself" ng-model="vm.categoryRefId" required>
                                        <ui-select-match id="selmaterialrefid" placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>

                            <div class="col-xs-4">
                                <button class="btn blue margin-top-20" ng-click="vm.purchasecategoryreports()">
                                   @L("Refresh")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>

    </div>
</div>

