﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="tenant.views.house.master.housereport.recipecostingReport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4 class="page-title">
                <span class="caption-subject bold uppercase">@L("Costing")</span> <span class="caption-subject bold uppercase"> - @L("RecipeWise")</span> 
                
            </h4>
        </div>
    </div>
    <div >
        <div class="row" ng-if="false">
            <div class="col-md-6 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-body">
                        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

        <div class="portlet light" busy-if="vm.loading">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input" >
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Location")</label>
                                        <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                            <ui-select-match>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations | filter: $select.search">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br/>
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                               class="form-control date-picker" ng-model="vm.dateRangeModel" />

                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Recipe")</label>
                                        <ui-select multiple ng-model="vm.requestParams.recipes" class="form-control">
                                            <ui-select-match>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="recipe in vm.refRecipe| filter: $select.search">
                                                <small>
                                                    {{ recipe.displayText }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn blue margin-top-20" ng-click="vm.costingReport()">@L("Refresh")</button>


                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <span ng-if="vm.output.remarks.length >0">
                <b>     @L("PointsToVerify") : {{vm.output.remarks}} </b>
            </span>

            <div class="row" ng-if="false">
                <table class="table table-striped table-bordered col-xs-12" >
                    <thead>
                        <tr>
                            <th>
                                @L("Description")
                            </th>
                            <th>
                                @L("Standard")
                            </th>
                            <th>
                                @L("Actual")
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="col-xs-6">
                            @L("TotalSalesWithoutTax")
                        </td>
                        <td colspan="2" class="col-xs-3" align="center">
                            {{vm.output.salesValueWithoutTax | number : 2}}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-xs-6">
                            @L("FoodCost")
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.foodCostValue | number : 2}}
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.actualFoodCostValue | number : 2}}
                        </td>

                    </tr>

                    <tr>
                        <td class="col-xs-6" >
                            @L("FoodCostPercentage")
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.foodCostPercentage | number : 2}}
                        </td>
                        <td class="col-xs-3" align="right">
                            {{vm.output.actualFoodCostPercentage | number : 2}}
                        </td>

                    </tr>                        
                    <tr ng-if="vm.output.remarks.length >0">
                        <td class="col-xs-6">
                            @L("PointsToVerify")
                        </td>
                        <td class="col-xs-3" colspan="2">
                            {{vm.output.remarks}}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row" ng-if="vm.output.recipeWiseCosting.length>0" >
                <div data-ng-repeat="(index,recipedata) in vm.output.recipeWiseCosting">
                    <table class="table table-striped table-bordered col-xs-8">
                        <caption> <h3> <b> @L("Production") </b></h3></caption>
                        <thead>
                        <tr>
                            <th>
                                @L("Recipe")
                            </th>
                            <th align="center">
                                @L("ProductionQty") - @L("UOM")
                            </th>

                            <th align="right">
                                @L("Cost")
                            </th>
                            <th align="right">
                                @L("CostPerUom")
                            </th>
                            <th align="right">
                                @L("Sales")
                            </th>
                            <th align="right">
                                @L("ConvertedAsSales")
                            </th>
                            <th align="right">
                                @L("ConvertedAsWastage")
                            </th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="col-xs-3">
                                <b> {{recipedata.materialRefName}} </b>
                            </td>
                            <td class="col-xs-2" align="right">
                                {{recipedata.productionQty | number : 2}} - {{recipedata.uom}}
                            </td>
                            <td class="col-xs-1" align="right">
                                {{recipedata.costForProduction | number : 2}}
                            </td>
                            <td class="col-xs-2" align="right">
                                <b> {{recipedata.costPerUom | number : 2}} / {{recipedata.uom}} </b>
                            </td>
                            <td class="col-xs-2" align="right">
                                <span ng-if="recipedata.totalSales"> {{recipedata.totalSales | number : 2}} </span> 
                                <span ng-if="!recipedata.totalSales"> - </span> 
                            </td>
                            <td class="col-xs-2" align="right">
                                {{recipedata.saleConvertedCost | number : 2}}
                            </td>
                            <td class="col-xs-2" align="right">
                                <b> {{recipedata.wastageCost | number : 2}} </b>
                            </td>
                        </tr>

                        <tr ng-if="recipedata.remarks.length >0">
                            <td class="col-xs-12">
                                @L("Remarks") : {{recipedata.remarks}}
                            </td>
                        </tr>
                    </table>
                    <hr/>

                        <table class="table table-striped table-bordered col-xs-12"  ng-if="recipedata.recipeSalesDetail.length>0">
                            <caption> <h3> <b> @L("Sales") </b></h3></caption>
                            <thead>
                                <tr>
                                    <th>@L("Name")</th>
                                    <th>@L("Portion")</th>
                                    <th align="right">@L("SoldQty")</th>
                                    <th>@L("Sales")</th>
                                    <th align="right">@L("RecipeFoodCost")</th>
                                    <th align="right">@L("RecipeQuantity")</th>
                                
                                </tr>
                            </thead>

                            <tr data-ng-repeat="(index,data) in recipedata.recipeSalesDetail">
                                <td class="col-xs-2">
                                    {{data.menuItemName}}
                                </td>
                                <td class="col-xs-2">
                                    {{data.portion}}
                                </td>
                                <td class="col-xs-2" align="right">
                                    {{data.totalSaleQuantity | number : 2}}
                                </td>
                                <td class="col-xs-2" align="right">
                                    {{data.totalSaleValue | number : 2}}
                                </td>
                                <td class="col-xs-2" align="right">
                                    {{data.costTotal | number : 2}}
                                </td>

                                <td class="col-xs-2" align="right">
                                    {{data.portionQty | number : 2}} - {{data.portionUnitName}}
                                </td>
                            </tr>

                        </table>

                    <hr/>

                    <table class="table table-striped table-bordered col-xs-12" ng-if="recipedata.actualMaterialWiseValueAndPercentage.length>0">
                        <caption> <h3> <b> @L("Materials")</b></h3></caption>
                        <thead>
                            <tr>
                                <th>@L("MaterialName")</th>
                                <th align="right">@L("IssueQty")</th>
                                <th>@L("UOM")</th>
                                <th align="right">@L("AvgRate")</th>
                                <th align="right">@L("Amount")</th>
                                <th>@L("Percentage")</th>
                                <th>@L("DateRange")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in recipedata.actualMaterialWiseValueAndPercentage">
                            <td class="col-xs-3">
                                {{data.materialRefName}}
                            </td>
                            <td class="col-xs-2" align="right">
                                {{data.usageQty | number : 2}}
                            </td>
                            <td class="col-xs-1">
                                {{data.uom}}
                            </td>
                            <td class="col-xs-1" align="right">
                                {{data.avgRate | number : 2}}
                            </td>

                            <td class="col-xs-1" align="right">
                                {{data.netAmount | number : 2}}
                            </td>
                            <td class="col-xs-1" align="right">
                                {{data.netAmount / recipedata.costForProduction * 100 | number : 2}}
                            </td>
                            <td class="col-xs-3">
                                {{data.invoiceDateRange}}
                            </td>

                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <td class="col-xs-3">
                             
                            </td>
                            <td class="col-xs-2" align="right">
                               
                            </td>
                            <td class="col-xs-1">
                             
                            </td>
                            <td class="col-xs-1" align="right">
                              
                            </td>

                            <td class="col-xs-1" align="right">
                                <b>    {{recipedata.costForProduction | number : 2}} </b>
                            </td>
                            <td class="col-xs-1" align="right">
                         
                            </td>
                            <td class="col-xs-3">
                          
                            </td>

                        </tr>

                    </table>

                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>