﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
.modal-dialog {
    width: 90%;
}
</style>

<div class="modal-dialog">
    <form name="requestEditForm" role="form" novalidate class="form-validation" >
        <div class="row">
             
        </div>
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h4 class="modal-title">
                            <span> <strong>@L("Material"): {{vm.currentText.materialName}} </strong></span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button ng-disabled="vm.currentIndex == 0" title="Page Up" class="btn btn-primary blue"  ng-click="vm.previous()"><i class="fa fa-long-arrow-left"></i> <span>@L("Previous")</span></button>

             

                <button type="submit" title="Page Down" ng-disabled="vm.currentIndex >= (vm.allItems.length-1) || requestEditForm.$invalid" class="btn btn-primary blue" ng-click="vm.next()"><span>@L("Next")</span> <i class="fa fa-long-arrow-right"></i></button>

                <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            </div>
        </div>

        <div >
            <div class="modal-header">
              
              
            </div>


           <div class="modal-body" busy-if="vm.loading">
               <uib-tabset class="tab-container tabbable-line">
                   <uib-tab heading="@L("Information")">
                       <div class="row">
                           <div class="col-xs-12">
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("AveragePrice"):</label>
                                   <div class="col-xs-3">
                                       <b>  {{vm.currencyText}} {{ vm.currentText.avgPrice | number : 2}} </b>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-xs-12">
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("MinimumPurchasePrice"):</label>
                                   <div class="col-xs-3">
                                       <b> {{vm.currencyText}}  {{ vm.currentText.minPrice | number : 2}} </b>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-xs-12">
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("MaximumPurchasePrice"):</label>
                                   <div class="col-xs-3">
                                       <b>{{vm.currencyText}} {{ vm.currentText.maxPrice | number : 2}} </b>
                                   </div>
                               </div>
                           </div>
                       </div>
                       
                       <div class="row">
                           <div class="col-xs-12">
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("TotalQuantityPurchased"):</label>
                                   <div class="col-xs-3">
                                       <b>   {{ vm.currentText.totalQty | number : 6}} ( {{vm.currentText.uom}} ) </b>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-xs-12">
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("TotalAmountPurchased"):</label>
                                   <div class="col-xs-3">
                                       <b> {{vm.currencyText}}  {{ vm.currentText.totalAmount | number : 2 }} </b>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </uib-tab>
                   <uib-tab heading="@L("PriceGraph")" ng-click="vm.showDetails(vm.currentText)" >
                       <div class="row">
                           @*<div class="col-xs-4">*@
                               <div class="form-group">
                                   <label class="control-label col-xs-2">@L("AveragePrice"):</label>
                                   <div class="col-xs-1">
                                       <strong> {{vm.currencyText}}  {{ vm.currentText.avgPrice | number : 2}} </strong>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("MinimumPurchasePrice"):</label>
                                   <div class="col-xs-1">
                                       <strong>  {{vm.currencyText}} {{ vm.currentText.minPrice | number : 2}} </strong>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="control-label col-xs-3">@L("MaximumPurchasePrice"):</label>
                                   <div class="col-xs-1">
                                       <strong> {{vm.currencyText}}  {{ vm.currentText.maxPrice | number : 2}} </strong>
                                   </div>
                               </div>
                           @*</div>*@
                       </div>
                         
                       <div class="row">
                           <div class="col-xs-12 col-xs-12">
                               <!-- BEGIN PORTLET-->
                               <div class="portlet light ">
                                   <div class="portlet-body">
                                       <div id="container" style="min-width: 1000px; max-width: 1600px; height: 400px; margin: 0 auto"></div>
                                   </div>
                               </div>
                           </div>
                           <!-- END PORTLET-->
                       </div>
                   </uib-tab>
                   <uib-tab heading="@L("Purchase")">
                       <div class="row">
                           <div class="col-xs-8">
                               <div class="form-group">
                                   <table class="table table-hover">
                                       <tr>
                                           <th>@L("Date")</th>
                                           <th>@L("Supplier")</th>
                                           <th align="right">@L("Quantity")</th>
                                           <th align="right">@L("UOM")</th>
                                           <th align="right">@L("Price")</th>
                                           <th align="right">@L("TotalAmount")</th>
                                       </tr>
                                       <tr ng-repeat="x in vm.currentText.purchaseDetailForParticularMaterial">
                                           <td>
                                               {{x.purchaseDate |  date : "yyyy-MMM-dd" }}
                                           </td>
                                           <td>
                                               {{x.supplierName}}
                                           </td>
                                           <td align="right">
                                               {{x.billedQty | number : 6}}
                                           </td>
                                           <td align="right">
                                               {{x.unitRefName}}
                                           </td>
                                           <td align="right">
                                              {{vm.currencyText}} {{x.price | number : 2}} /{{x.unitRefName}}
                                           </td>
                                           <td align="right">
                                              {{vm.currencyText}} {{x.purchaseAmount | number : 2}}
                                           </td>

                                       </tr>

                                   </table>
                               </div>
                           </div>
                       </div>

                   </uib-tab>
                   <uib-tab heading="@L("PurchaseGraph")" ng-click="vm.showDetails(vm.currentText)">
                       <div class="row">
                           <div class="col-md-12">
                               <div id="purchase_stats" style="height: 400px">
                               </div>
                           </div>
                       </div>
                   </uib-tab>
                   <uib-tab heading="@L("SystemInfo")"  >
                       <div class="row" ng-show="vm.systeminfominprice.length>0" >
                           <table class="table table-hover">
                               <tr>
                                  <th style="font-size:xx-large">@L("MinimumPriceBased")</th>
                               </tr>
                               <tr ng-repeat="x in vm.systeminfominprice">
                                   <td style="color:red">
                                       <u>  <strong>   {{x}} </strong> </u>
                            </td>
                               </tr>

                           </table>
                           </div>
                       <div class="row" ng-show="vm.systeminfoavgprice.length>0">
                           <table class="table table-hover">
                               <tr>
                                  <th style="font-size:xx-large">@L("AveragePriceBased")</th> 
                               </tr>
                               <tr ng-repeat="x in vm.systeminfoavgprice">
                                   <td style="color:deeppink">
                                       <i>  <strong> {{x}} </strong>    </i>
                                   </td>
                               </tr>

                           </table>
                           <span><strong>{{vm.systeminfo}}</strong> </span>
                       </div>
                   </uib-tab>
               </uib-tabset>
           


</div>
            <div class="modal-footer">
               
            </div>
        </div>
    </form>
</div>