﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<style>
    
 .ui-red {
  background-color: red !important;
  color: white;
}
</style>

<div ng-controller="tenant.views.house.master.housereport.wastageReport as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Adjustment")</span> 
                        <small>@L("Report")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button class="btn btn-primary blue" ng-click="vm.clear()">
                @L("Clear")
            </button>
        </div>
    </div>

<div class="portlet light" busy-if="vm.loading">
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
        <div class="row">
            <div class="col-xs-4">
                <div class="md-checkbox">
                    <input id="alllocation" class="md-check" type="checkbox" name="alllocation"
                            ng-class="{'edited':vm.alllocationflag}" ng-model="vm.alllocationflag">
                    <label for="alllocation">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("AllLocations")
                    </label>

                    <ui-select multiple ng-model="vm.locationsSelected" class="form-control" ng-show="!vm.alllocationflag">
                        <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="location in vm.alllocations">
                            <small>
                                @L("Name"): {{ location.name }}
                                <br />
                                @L("Code"): {{ location.code }}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-4">
                <label class="control-label">@L("DateRange")</label>
                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                        class="form-control date-picker" ng-model="vm.dateRangeModel" />
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">@L("MaterialType")</label>
                    <ui-select class="borderself" id="selMaterialType" ng-class="{'edited':vm.materialTypeId}" ng-model="vm.materialTypeId">
                        <ui-select-match>{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.refmaterialtype | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">@L("MaterialName")</label>
                    <ui-select class="borderself" ng-model="vm.materialRefId" required>
                        <ui-select-match id="selmaterialrefid" placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.refmaterial | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
            <div class="col-xs-4">
                <div class="md-checkbox">
                    <input id="AllAdjustmentMode" class="md-check" type="checkbox" name="AllAdjustmentMode"
                           ng-class="{'edited':vm.allAdjustmentModeFlag}" ng-model="vm.allAdjustmentModeFlag">
                    <label for="AllAdjustmentMode">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("AllAdjustmentMode")
                    </label>
                    <select id="adjustmentmode" class="form-control selectpicker" data_live_search="true" ng-model="vm.adjustmentMode" ng-if="!vm.allAdjustmentModeFlag">
                        <option>@L("Excess")</option>
                        @*<option>@L("Shortage")</option>*@
                        <option>@L("Wastage")</option>
                        @*<option>@L("Damaged")</option>*@
                        <option ng-if="vm.autolock">Equal</option>
                    </select>

                </div>
            </div>
            <div class="col-xs-3">
                <button class="btn blue margin-top-20" ng-click="vm.wastagereports()">
                    @L("Refresh")
                </button>
            </div>
        </div>
                </form>
            </div>
        </div>
    </div>

    <div class="portlet-body" style="height: 80vh;">
        <div busy-if="vm.loading" style="height: 100%;">
            <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
        </div>
    </div>

</div>

</div>

