@using DinePlan.DineConnect.Localization

@*<script src="~/libs/ownScript/UserOwnModule.js"></script>*@
@*<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />*@

<div ng-controller="tenant.views.connect.report.items.topdownitem as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TopDown") @L("ItemSales")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form role="form" novalidate class="form-validation" name="searchForm">
                    <div class="form-body" enter-key="vm.getOrders()">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="Void" class="md-check" type="checkbox" ng-model="vm.requestParams.void">
                                                <label for="Void">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Void")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="Gift" class="md-check" type="checkbox" ng-model="vm.requestParams.gift">
                                                <label for="Gift">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Gift")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="Comp" class="md-check" type="checkbox" ng-model="vm.requestParams.comp">
                                                <label for="Comp">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Comp")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="takeType" ng-model="vm.takeType" value="desc" checked> @L("Top")
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="takeType" ng-model="vm.takeType" value="asc"> @L("Bottom")
                                        </label>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="number" ng-keypress="vm.preventNonNumericalInput($event)" class="form-control" ng-model="vm.takeNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-3 control-label text-right">@L("Ranking")</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="vm.ranking">
                                            <option value="Quantity">@L("Quantity")</option>
                                            <option value="Total">@L("Total") @L("Price")</option>
                                            <option value="Price">@L("Average")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-15" ng-if="vm.advancedFiltersAreShown">
                            <div class="col-md-6">
                                 <div class="form-group">
                                        <label class="control-label">@L("Select") @L("Category")</label>
                                        <div>
                                            <button class="btn blue" ng-click="vm.selectCategory()">@L("Category")<span ng-if="vm.categoryIds.length"> - {{vm.categoryIds.length}} items</span></button>
                                            <button ng-if="vm.categoryIds.length" class="btn btn-default" ng-click="vm.resetSelectedCategory()">@L("Clear")</button>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Group")</label>
                                    <ui-select multiple id="selproductGroupRefId" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.selectedGroups">
                                        <ui-select-match placeholder="Select Group Name...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.productGroups | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            </div>
                        <div class="row margin-top-15" ng-if="vm.advancedFiltersAreShown">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Department")</label>
                                    <ui-select multiple id="CategoryEditBox" class="border border-grey-salsa" style="border-radius: 4px" ng-model="vm.selectedDepartments">
                                        <ui-select-match placeholder="Select Department...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.displayText as item in vm.departments | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Select") @L("MenuItem")</label>
                                    <div>
                                        <button class="btn blue" ng-click="vm.selectMenuitems()">@L("MenuItem")<span ng-if="vm.menuItemIds.length"> - {{vm.menuItemIds.length}} items</span></button>
                                        <button ng-if="vm.menuItemIds.length" class="btn btn-default" ng-click="vm.resetSelectedItem()">@L("Clear")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="row margin-top-15">
							<div class="col-sm-12">
								<span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
								<span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
							</div>
								<div class="col-xs-12" ng-if="true">
									<query-builder options="builder.options" builder="builder.builder"></query-builder>
								</div>
								<div class="col-sm-12 text-right">
									<button class="btn blue" ng-click="vm.clear()">
										<i class="fa fa-eraser"></i> @L("Clear")
									</button>
									<button class="btn btn-outline btn-success" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> @L("Excel")</button>
									<button class="btn blue" ng-click="vm.getOrders()" ng-disabled="searchForm.$invalid"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
								</div>
						</div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>