﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<div>
    <form name="unitconversionCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.unitconversion.id">@L("EditUnitConversion"): {{vm.unitconversion.id}}</span>
                <span ng-if="!vm.unitconversion.id">@L("CreateUnitConversion")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
           <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">@L("baseUnitId") <a ng-click="vm.unitconversion.baseUnitId = vm.filterText"> &nbsp; Set</a></label>
                        <select id="selbaseUnitId"  class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.unitconversion.baseUnitId" required  ></select>
                    </div>
                </div>
            @*</div>
            <div class="row">*@
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">@L("refUnitId")</label>
                        <select id="selrefUnitId" class="form-control selectpicker" autofocus data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.unitconversion.refUnitId" required></select>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group form-md-line-input no-hint">
						<input class="form-control" onkeypress="return NumberWithPoint('conversion',event,'cancel')" type="text" name="conversion" ng-class="{'edited':vm.unitconversion.conversion}" ng-model="vm.unitconversion.conversion" ng-change="SetExample()" required>
						<label>@L("Conversion")</label>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group form-md-line-input  no-hint">
						<input class="form-control" onkeypress="return NumberOnly(event,'cancel')" type="number" name="decimalPlaceRounding" ng-class="{'edited':vm.unitconversion.decimalPlaceRounding}" ng-model="vm.unitconversion.decimalPlaceRounding" required>
						<label>@L("DecimalPlaceRounding")</label>
					</div>
				</div>
			</div>
          

        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save()" ng-disabled="unitconversionCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>

    <div class="portlet light">
        <div ng-if="false" class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

