﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="host.views.swipe.transaction.swipeshift.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SwipeShift").Pluralize()</span> <small>@L("SwipeShiftHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            @*<button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@


        </div>

    </div>

    <div class="portlet light" busy-if="vm.loading">
        <div class="row margin-top-40">
            <div class="col-xs-12 text-center">
                <h2 class="uppercase">{{vm.currentUserId}} - {{vm.currentUserName}}</h2>
            </div>
        </div>

        <div class="row margin-top-40" ng-if="vm.shiftAlreadyOpenflag">
            <div class="col-xs-12 text-center bold uppercase">
                @L("ShiftStartAt") : {{vm.loginStatus.shiftStartTime | date : 'dd-MMM-yyyy HH:mm:ss'}}
            </div>
        </div>

        <div class="row margin-top-40">
            <div class="col-xs-12 text-center" ng-if="vm.permissions.create && vm.shiftAlreadyOpenflag==false">
                <button class="btn btn-primary btn-group btn-group-justified" style="font-size:x-large" ng-click="vm.createSwipeShift()">
                    <i class="fa fa-sign-in"></i> @L("StartShift")
                </button>
            </div>
            <br />
            <div class="col-xs-12 margin-top-20" ng-if="vm.permissions.createTransaction && vm.shiftAlreadyOpenflag==true">
                <button class="btn btn-primary btn-group btn-success btn-group-justified" style="font-size:x-large" ng-click="vm.openTransaction()">
                    <i class="fa fa-money"></i> @L("Transaction")
                </button>
            </div>
            <hr/>
            <hr/>
            
                <div class="col-xs-6 margin-top-20" ng-if="vm.permissions.createTransaction && vm.shiftAlreadyOpenflag==true">
                    <button class="btn btn-primary btn-group btn-group-justified" style="font-size:x-large" ng-click="vm.openCashInOut(2)">
                        <i class="fa fa-caret-square-o-left"></i> @L("CASH") @L("In")
                    </button>
                </div>
                <div class="col-xs-6 margin-top-20" ng-if="vm.permissions.createTransaction && vm.shiftAlreadyOpenflag==true">
                    <button class="btn btn-group btn-group-justified" style="font-size:x-large;background-color:orangered" ng-click="vm.openCashInOut(3)">
                        <i class="fa fa-caret-square-o-right"></i> @L("CASH") @L("Out")
                    </button>
                </div>
            <hr />

            <div class="col-xs-12 margin-top-20" ng-if="vm.permissions.create && vm.shiftAlreadyOpenflag==true">
                <button class="btn btn-primary btn-group btn-danger btn-group-justified" style="font-size:x-large" ng-click="vm.editSwipeShift(vm.loginStatus)">
                    <i class="fa fa-sign-out"></i> @L("StopShift")
                </button>
            </div>
        </div>
    </div>


    <div class="portlet light" ng-if="false">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading" ng-if="false" >
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

