﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    text:focus {
        background: pink;
    }

    input:focus {
        background: pink;
    }
</style>

<div ng-controller="host.views.swipe.transaction.swipeshift.swipeshift as vm">
    <form name="swipeshiftCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 class="uppercase" style="color:blue;">
                    @*<span ng-if="vm.swipeshift.id">@L("StopShift")</span>
                        <span ng-if="!vm.swipeshift.id">@L("StartShift")</span>*@
                    <span class="uppercase"> {{vm.operationStatus}} : @L("User") {{vm.currentUserId}} - {{vm.currentUserName}}</span>
                </h3>
            </div>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3" ng-if="!vm.closePaymentList.length>0">
                    <table class="table table-striped table-bordered col-xs-12" ng-if="vm.openPaymentList.length>0">
                        <caption style="font-size:large" ng-if="vm.refundFlag"><center><span style="color:forestgreen;"> @L("Opening") @L("Tender") </span> </center></caption>
                        <thead>
                            <tr>
                                <th class="text-center">@L("Type")</th>
                                <th class="text-right">@L("Amount")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.openPaymentList | @*filter: { showFlag : true} |*@ orderBy : 'sortOrder'">
                            <td class="col-xs-6 text-center">
                                <b> <span class="input-lg">{{data.name}}</span> </b>
                            </td>
                            <td class="col-xs-6">
                                <input id="price" type="text" ng-change="vm.calculateTenderOpenAmount(vm.openPaymentList)" ng-keypress="vm.priceKeyPress(index,$event)"
                                       class="form-control text-right input-lg" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="10"
                                       ng-model="data.tenderedAmount" ng-attr-id="{{'price-' + index}}" ng-blur="vm.calculateTenderOpenAmount(vm.openPaymentList)" ng-disabled="vm.shiftInOutStatus==1" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-6 text-center">
                                <b> <span class="input-lg uppercase">@L("TotalFloat")</span> </b>
                            </td>
                            <td class="col-xs-6 text-right">
                                <b> <span class="input-lg text-right" style="font-size:xx-large">{{vm.tenderOpenAmount}}</span> </b>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-xs-12">
                    <table class="table table-striped table-bordered col-xs-12" ng-if="vm.closePaymentList.length>0">
                        <caption style="font-size:large" ng-if="vm.refundFlag"><center><span style="color:red;"> @L("Closing") @L("Tender") </span> </center></caption>
                        <thead>
                            <tr>
                                <th class="text-center">@L("Type")</th>
                                <th class="text-right">@L("Open")</th>
                                <th class="text-right">@L("CASH") @L("In")</th>
                                <th class="text-right">@L("CASH") @L("Out")</th>
                                <th class="text-right" ng-if="!vm.permissions.blindShift">@L("Credit")</th>
                                <th class="text-right" ng-if="!vm.permissions.blindShift">@L("Debit")</th>
                                <th class="text-right" ng-if="!vm.permissions.blindShift"> @L("ShouldBeInHand")</th>
                                <th class="text-right">@L("Closing") @L("Tender") @L("Amount")</th>
                                <th class="text-right" ng-if="!vm.permissions.blindShift">@L("Diff") @L("Amount")</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="(index,data) in vm.closePaymentList | orderBy : 'sortOrder'">
                            <td class="col-xs-1 text-center">
                                <b> <span class="input-lg">{{data.name}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg" style="color:blue;">{{data.openBalance}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg" style="color:blue;">{{data.tillShiftCashIn}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg" style="color:red;">{{data.tillShiftCashOut}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg">{{data.credit}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg" style="color:red;"> {{data.debit}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg">{{data.actualAmount}}</span> </b>
                            </td>
                            <td class="col-xs-1">
                                <input id="price" type="text" ng-change="vm.calculateTenderCloseAmount(vm.closePaymentList)" ng-keypress="vm.txtclosetenderKeyPress(index,$event)"
                                       class="form-control text-right input-lg" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="10"
                                       ng-model="data.tenderedAmount" ng-attr-id="{{'txtclosetender-' + index}}" ng-blur="vm.calculateTenderCloseAmount(vm.closePaymentList)" />
                            </td>
                            <td class="col-xs-1 text-right" align="right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg text-right">{{data.differenceAmount}}</span> </b>
                                <br />
                                <span class="small" style="color:blue;" ng-if="data.differenceAmount>0">@L("Excess")</span>
                                <span class="small" style="color:red;" ng-if="data.differenceAmount<0">@L("Shortage")</span>
                                <span class="small" style="color:green;" ng-if="data.differenceAmount==0">@L("Equal")</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-1 text-center">
                                <b> <span class="input-lg uppercase">@L("Total")</span> </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg" style="color:blue;font-size:xx-large">{{vm.openTotalAmount}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg" style="color:blue;font-size:xx-large">{{vm.shiftTotalCashInAmount}}</span> </b>
                            </td>

                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg" style="color:red;font-size:xx-large">{{vm.shiftTotalCashOutAmount}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg text-right" style="color:blue;font-size:xx-large">{{vm.shiftTotalCreditAmount}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg text-right" style="color:red;font-size:xx-large">{{vm.shiftTotalDebitAmount}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg text-right" style="font-size:xx-large">{{vm.swipeshift.actualTenderClosing}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> <span class="input-lg text-right" style="font-size:xx-large">{{vm.tenderCloseAmount}}</span> </b>
                            </td>
                            <td class="col-xs-1 text-right" ng-if="!vm.permissions.blindShift">
                                <b> <span class="input-lg text-right" style="font-size:xx-large">{{vm.tenderDifferenceAmount}}</span> </b>
                                <br />
                                <span class="small" style="color:blue;" ng-if="vm.tenderDifferenceAmount>0">@L("Excess")</span>
                                <span class="small" style="color:red;" ng-if="vm.tenderDifferenceAmount<0">@L("Shortage")</span>
                                <span class="small" style="color:green;" ng-if="vm.tenderDifferenceAmount==0">@L("Equal")</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row margin-top-10" ng-if="vm.tenderDifferenceAmount!=0">
                <div class="col-xs-12">
                    <div class="m-heading-1 border-left-red-thunderbird m-bordered" ng-if="vm.alertMessageFlag">
                        <br />
                        <h3 style="color: red">
                            <b> {{vm.alertMessage}} </b>
                        </h3>
                        <div class="md-checkbox">
                            <input id="AcceptExcessShortage" class="md-check" type="checkbox" name="AcceptExcessShortage" ng-class="{'edited':vm.alertViewFlag}" ng-model="vm.alertViewFlag">
                            <label for="AcceptExcessShortage" style="color: orangered">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                <b>@L("AcceptExcessShortage") </b>

                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" id="cmdsave" name="cmdsave" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="swipeshiftCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

