@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggLanguages.indexdelaggLanguages as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Languages")</span> <small>@L("LanguagesHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createLanguage()"><i class="fa fa-plus"></i> @L("CreateNewLanguage")</button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
            <p ng-if="vm.currentTenantId" class="margin-top-20">
                @("* " + L("CanNotEditOrDeleteDefaultLanguages"))
            </p>
        </div>
    </div>
</div>