﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>

<style>
    .ui-approved {
        background-color: white;
        color: blue;
    }

    .ui-pending {
        background-color: white;
        color: red;
    }

    .ui-rejected {
        background-color: white;
        color: brown;
    }

    .ui-received {
        background-color: white;
        color: green;
    }

    .ui-red {
        background-color: black !important;
        color: red;
    }
</style>

<div ng-controller="tenant.views.cater.caterAutoPo.caterAutoPo as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Cater") @L("GeneratePo")</span> <small></small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            @*<button class="btn btn-primary blue" button-busy="vm.saving" busy-text="@L(" ...")" ng-disabled="vm.loading || vm.requestList.length==0" ng-click="vm.consolidatedExcel()">
                    <i class="fa fa-file-excel-o"></i> @L("RequestConsolidation")
                </button>*@
        </div>
    </div>

    <div class="portlet light" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-2">
                <div class="md-checkbox">
                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                    <label for="dateRange">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("DateRange")
                    </label>
                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                </div>
            </div>
            <div class="col-xs-2">
                @*<div class="md-checkbox">
                    <input id="showOnlyDeliveryDateExpectedAsOnDate" class="md-check" type="checkbox" ng-model="vm.showOnlyDeliveryDateExpectedAsOnDate" ng-change="vm.getAll();" name="showOnlyDeliveryDateExpectedAsOnDate" />
                    <label for="showOnlyDeliveryDateExpectedAsOnDate">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("ShowOnlyDeliveryDateExpectedAsOnDate")
                    </label>
                </div>*@
            </div>
            <div class="col-xs-8 text-right">
                <button class="btn btn-large purple" ng-click="vm.openLocation()">
                    <i class="fa fa-location-arrow"></i>
                    <span ng-if="vm.locationGroup.groups.length==0 && vm.locationGroup.locations.length==0 && vm.locationGroup.locationTags.length==0">@L("All") @L("Locations")</span>
                    <span ng-if="vm.locationGroup.groups.length==1">@L("LocationGroup") : {{vm.locationGroup.groups[0].name}}</span>
                    <span ng-if="vm.locationGroup.groups.length>1">@L("LocationGroup") : {{vm.locationGroup.groups.length}}</span>
                    <span ng-if="vm.locationGroup.groups.length>0 && (vm.locationGroup.locations.length>0 || vm.locationGroup.locationTags.length>0"> , </span>
                    <span ng-if="vm.locationGroup.locations.length==1">@L("Location") : {{vm.locationGroup.locations[0].name}}</span>
                    <span ng-if="vm.locationGroup.locations.length>1">@L("Locations") : {{vm.locationGroup.locations.length}}</span>
                    <span ng-if="vm.locationGroup.groups.length>0 || vm.locationGroup.locations.length>0) && vm.locationGroup.locationTags.length>0">,</span>
                    <span ng-if="vm.locationGroup.tags.length==1">@L("LocationTag") : {{vm.locationGroup.locationTags[0].name}}</span>
                    <span ng-if="vm.locationGroup.tags.length>1">@L("LocationsTag") : {{vm.locationGroup.locationTags.length}}</span>
                </button>

                <button class="btn yellow" ng-click="vm.clear()">
                    <i class="fa fa-eraser"></i>
                    @L("Clear")
                </button>
                <button class="btn btn-primary blue" ng-click="vm.getAll()">
                    <i class="fa fa-refresh"></i>
                    @L("Refresh")
                </button>
            </div>
        </div>
    </div>

    <div class="portlet light" ng-if="vm.requestList.length>0">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input" busy-if="vm.loading">
                    <div class="row margin-top-10">
                        <div class="col-xs-10">
                            <table ng-table="vm.tableParams" class="table table-bordered table-hover" show-filter="true">
                                <caption class="text-center" style="color:purple"> {{vm.requestList.length}} @L("Pending") @L("Request") </caption>
                                <tr ng-repeat="data in $data">
                                    <td title="Id" @*filter="{ id: 'number'}"*@ align="center" @*sortable="'eventDateTime'"*@>
                                        <a ng-click="vm.showRequestData(data)">
                                            <h5>
                                                <a ng-click="vm.viewCaterDetail(data.id)">{{data.id}} </a>
                                            </h5>
                                        </a>
                                    </td>
                                    <td title="getLValue('RequestLocation')" sortable="'locationRefName'" filter="{ locationRefName: 'text'}" class="text-left" align="left">
                                        <h5> {{data.locationRefName}} </h5>
                                    </td>
                                    <td title="getLValue('Customer')" sortable="'caterCustomerCustomerName'" filter="{ caterCustomerCustomerName: 'text'}" align="left">
                                        <a ng-click="vm.viewCaterDetail(data.id)">
                                            <h5> {{data.caterCustomerCustomerName}} </h5>
                                            <h5 class="bold">{{data.eventDateTime | date : 'dd-MMM-yyyy EEE HH:mm'}} </h5>
                                        </a>
                                    </td>
                                    <td title="getLValue('CurrentStatus')" filter="{ currentStatus: 'text'}" align="left">
                                        <h5>
                                            {{data.currentStatus}}
                                        </h5>
                                    </td>
                                    <td title="'PO Status'" align="left">
                                        <h5 ng-repeat="(poindex,podata) in data.poStatusCountList ">
                                            <a ng-click="vm.showPoStatusRemarks(data)">{{podata.poStatus}} : {{podata.count}}</a>
                                        </h5>
                                    </td>
                                    <td title="getLValue('Count')" @*filter="{ noOfMaterials: 'number'}"*@ align="right">
                                        <h5>Total : {{data.noOfMaterials | number : 0}} </h5>
                                        <h5 ng-if="data.noOfPoDependent>0">PO : {{data.noOfPoDependent| number : 0}} </h5>
                                        <h5 ng-if="data.noOfStockDependent>0">Pend : {{data.noOfStockDependent| number : 0}} </h5>
                                    </td>
                                    <td title="getLValue('Pax')" align="left">
                                        <h5> {{data.noOfPax | number : 0}} </h5>
                                    </td>
                                    <td title="getLValue('DeliveryDateRequested')" align="left">
                                        <h5> {{data.deliveryDateRequested | date : 'EEE dd-MMM-yyyy'}} </h5>
                                    </td>
                                    <td title="getLValue('AutoPO')" align="center">
                                        <h5> <input ng-model="data.doesThisRequestToBeConvertedAsPO" ng-click="vm.smartLocationSelection(); vm.getMaterialPoList()" type="checkbox"> </h5>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-2">
                            <br />
                            <br />
                            <br />
                            <br />
                            <a class="font-lg" ng-if="vm.requestList.length>0" ng-click="vm.selectAllRequest()"> @L("Select") @L("All")</a>
                            <br />
                            <br />
                            <a class="font-lg margin-top-20" ng-if="vm.requestList.length>0 && vm.materialPoList.length>0" ng-click="vm.deselectAllRequest()"> @L("Deselect") @L("All")</a>
                            <br />
                            <br />
                            <div class="md-checkbox margin-top-20">
                                <input id="omitQueueOrder" class="md-check" type="checkbox" name="omitQueueOrder" ng-class="{'edited':vm.omitQueueInOrder}" ng-model="vm.omitQueueInOrder">
                                <label for="omitQueueOrder">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Exclude") @L("InQueue") @L("Order")
                                </label>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row" ng-if="vm.requestList.length>0">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label">@L("Request") @L("Location")</label>
                                <ui-select class="borderself" id="selShipLocationRefid" ng-model="vm.locationRefId" required>
                                    <ui-select-match id="selShipLocationRefid" placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="locitems.id as locitems in vm.availableLocations | filter: $select.search">
                                        <div ng-bind="locitems.name"></div>
                                        <small>
                                            @L("Code"):<span ng-bind-html="locitems.code"></span>
                                            @L("City"):<span ng-bind-html="locitems.city"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label">@L("ShippingLocation")</label>
                                <ui-select class="borderself" id="selShipLocationRefid" ng-model="vm.shippingLocationId" required>
                                    <ui-select-match id="selShipLocationRefid" placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="locitems.id as locitems in vm.availableLocations | filter: $select.search">
                                        <div ng-bind="locitems.name"></div>
                                        <small>
                                            @L("Code"):<span ng-bind-html="locitems.code"></span>
                                            @L("City"):<span ng-bind-html="locitems.city"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label">@L("DeliveryDate")</label>
                                <input name="dueDate" id="dueDate" class="form-control date-picker"
                                       ng-class="{'edited':vm.deliveryDateExpected}" ng-model="vm.deliveryDateExpected" required />
                            </div>

                        </div>
                        <div class="col-xs-2 margin-top-20">
                            <button class="btn btn-primary green" ng-click="vm.getMaterialPoList()">
                                <i class="fa fa-refresh"></i>
                                @L("Consolidated") @L("List")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light" ng-if="vm.materialPoList.length>0">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input" busy-if="vm.loading">
                    <div class="row" ng-if="vm.requestList.length>0">
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-6 text-right" ng-if="vm.materialPoList.length>0">
                            <a ng-if="vm.enterOnHandFilter!=0" ng-click="vm.enterOnHandFilter=0">@L("Hide") @L("Zero") @L("Qty")</a>
                            <a ng-if="vm.enterOnHandFilter==0" ng-click="vm.enterOnHandFilter=-1">@L("Show") @L("All")</a>
                        </div>
                    </div>


                    <div class="row margin-top-30" ng-if="vm.materialPoList.length>0">
                        <table ng-table="vm.tableParamsMaterial" class="table table-bordered table-hover" show-filter="true">
                            <caption class="bold text-center" style="color:blue">{{vm.materialPoList.length}} @L("Material").Pluralize() To Be Ordered </caption>
                            <tr ng-repeat="data in $data" ng-if="data.poOrderQuantity > vm.enterOnHandFilter">
                                <td title="getLValue('MaterialCode')" class="col-xs-1" filter="{ materialPetName: 'text'}" sortable="'materialPetName'" align="left">
                                    <a ng-click="vm.previousPriceOpen(data)">
                                        <h5>
                                            <b>{{data.materialPetName}} </b>
                                        </h5>
                                        <br />
                                        <h5>
                                            @L("Prev") <i class="fa fa-money"></i>
                                        </h5>
                                    </a>
                                </td>
                                <td title="getLValue('MaterialName')" class="col-xs-2" filter="{ materialRefName: 'text'}" align="left">
                                    <h5> {{data.materialRefName}} </h5>
                                    <h5 data-toggle="tooltip" title="Click to View PO" data-placement="top" ng-repeat="(poindex,podata) in data.poDetails ">
                                        <a ng-click="vm.viewPoDetail(podata.poRefId)">  {{podata.poCurrentStatus}}</a>
                                        <br />
                                    </h5>
                                </td>
                                <td title="getLValue('Unit')" class="col-xs-1" filter="{ uom: 'text'}" align="right">
                                    <span> UOM : {{data.uom}} </span><br />
                                    <span> Min : {{data.minimumStock}} </span> <br />
                                    <span> Max : {{data.maximumStock}} </span> <br />
                                    <span> ROL : {{data.reOrderLevel}} </span>
                                </td>
                                <td title="getLValue('OnHand') + ' ' + getLValue('Request') " class="col-xs-2" align="right">
                                    <span>
                                        @L("OnHand") :  {{data.liveStock | number : 6}}
                                    </span>
                                    <br />
                                    <span>
                                        <a ng-click="vm.showSubDetailsForRequiredQuantity(data)">@L("Total") Required  :  {{data.totalRequiredQty | number : 6}} </a>
                                    </span>
                                    <br />
                                    <span>
                                        @L("Request")  :  {{data.totalRequestQty | number : 6}}
                                    </span>
                                    <br />
                                    <span>
                                        @L("Balance")  :  {{data.onHandAfterIssue | number : 6}}
                                    </span>
                                    <br />
                                    <span>
                                        <a ng-click="vm.showPipelineOrders(data.defaultSupplier)">  @L("InQueue") :  {{data.alreadyOrderedQuantity | number : 6}} </a>
                                    </span>

                                </td>
                                <td title="getLValue('Supplier')" filter="{ supplierRefName : 'text'}" align="center">
                                    <h5 style="color:orangered" ng-if="data.defaultSupplier.supplierRefName==null">N/A </h5>
                                    <h5 ng-if="data.defaultSupplier.supplierRefName!=null"><a ng-click="vm.loading=true; vm.changeSupplier(data);"> {{data.defaultSupplier.supplierRefName}} </a> </h5>
                                    <span ng-if="data.defaultSupplier.supplierRefName!=null" style="color:blue"> @L("Price") {{data.defaultSupplier.materialPrice}}</span>
                                    <br />
                                    <br />
                                    <input ng-model="data.omitQueueInOrder" type="checkbox"> @L("Exclude") @L("InQueue") @L("Order")
                                </td>
                                <td title="getLValue('Order')  + ' ' + getLValue('Qty') " align="right">
                                    <h5> @L("Recommended") : {{data.poOrderQuantityRecommended | number : 6}} </h5>
                                    <h5 ng-if="data.poOrderQuantityRecommended>0"> @L("Remarks") : {{data.remarks}} </h5>
                                    <h5 ng-if="data.poOrderQuantityRecommended>0"> @L("Formula") : {{data.formulaForRecommended}} </h5>
                                    <input ng-model="data.poOrderQuantity" class="text-right" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" type="number" />
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="row" ng-if="vm.materialPoList.length>0">
                        <div class="col-xs-2 margin-top-20">
                            <button class="btn btn-primary blue" ng-click="vm.fillAutoPoDetails()">
                                <i class="fa fa-refresh"></i>
                                @L("GeneratePo") @L("List")
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.autoPoDetails.length>0">
                        <div class="m-heading-1 border-yellow-gold m-bordered" ng-if="vm.autoPoDetails.length==0 && vm.autoPoFlag && vm.loading==false" ng-hide="vm.loading">
                            <h4 style="color:red"> <b> @L("AutoPoMaterialNotExist")</b></h4>
                        </div>
                        <div ng-if="vm.autoPoDetails.length>0" busy-if="vm.autoPoloading">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr>
                                        <th>@L("Supplier")  <a ng-click="vm.showAllAutoPos(vm.autoPoDetails)">@L("ShowAll")</a></th>
                                        <th>@L("NumberOfMaterials")</th>
                                        <th>@L("List")</th>
                                        <th>@L("Remarks")</th>
                                    </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.autoPoDetails | filter: { visibleFlag: true} | orderBy : 'supplierRefName'">
                                    <td class="col-xs-3">
                                        <b> {{index + 1| limitTo:3}} - {{data.supplierRefName}} </b>
                                    </td>
                                    <td class="col-xs-1">
                                        {{data.noOfProducts}}
                                    </td>
                                    <td class="col-xs-2">
                                        <span> <b> <a href="" ng-click="vm.showPoList(data)"> @L("Show")</a> </b> </span>
                                    </td>

                                    <td class="col-xs-6" ng-class="data.tsNgClass">
                                        {{data.remarks}}
                                    </td>
                                </tr>


                            </table>

                            <hr />
                            <hr />
                            <hr />
                        </div>

                    </div>
                    <div class="row" ng-if="vm.autoPoDetails.length>0">
                        <div class="col-xs-2 margin-top-20">
                            <button class="btn btn-primary purple" ng-click="vm.redirectToPurchaseOrderForm()">
                                <i class="fa fa-shopping-cart"></i>
                                @L("Generate") @L("PurchaseOrder")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>