﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 75%;
    }

    .fontreport {
        font-family: 'Courier New';
        font-size: medium
    }
</style>

<div class="modal-dialog ">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h4 class="modal-title">
                    <span class="caption-subject bold uppercase" style="color:blue">@L("Cater") @L("Order") - Id  {{vm.quotation.id}}  - </span>
                </h4>
            </div>
            <div class="col-xs-2 text-right">
                <button class="btn btn-default" ng-click="vm.cancel()">
                    @L("Close")
                </button>
            </div>
        </div>
        <div style="color:orangered" class="row bold">
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("Customer") : {{vm.quotation.caterCustomerName}}
                </span>
            </div>
            <div class="col-xs-4">
                <span class="caption-subject bold uppercase">
                    @L("EventDateTime") : {{vm.quotation.eventDateTime | date : 'dd-MMM-yyyy HH:mm' }}
                </span>
            </div>

            <div class="col-xs-2">
                <span class="caption-subject bold uppercase">
                    @L("Pax") : {{vm.quotation.noOfPax}}
                </span>
            </div>
        </div>
    </div>


    <div class="modal-body" busy-if="vm.loading">
        <div class="portlet light">
            <div class="portlet-body">
                <div class="row">
                    <div ng-if="vm.quoteDetails.length == 0" class="col-md-12 text-center"><span>@L("OrdersEmpty")</span></div>
                    <div ng-if="vm.quoteDetails.length > 0" class="col-md-12">
                        <div id="quoteDetailsGrid" ui-grid="vm.gridOptions" ui-grid-expandable class="grid"></div>
                    </div>
                </div>
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>

</div>


<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">

<style>
    .grid {
        width: 100%;
        height: 400px;
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
        border-width: 0.1px;
        min-height: 29.3px;
    }

    .expandableRow .ui-grid {
        height: 100% !important;
        min-height: unset;
    }

        .expandableRow .ui-grid .ui-grid-render-container-body .ui-grid-viewport {
            height: 100% !important;
            min-height: unset;
        }
</style>