﻿<style>
    .modal-dialog {
        width: 80%;
    }
</style>


<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>


<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-8">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("Customer") -  {{vm.customerName}}</span>
            </h5>
            <h5 class="modal-title">
                <span style="color:purple" class="caption-subject bold uppercase">Material Required</span>
            </h5>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary yellow" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
        </div>
    </div>
    <div>

    </div>
    <div class="modal-body" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>Material Name</th>
                            <th>Total Qty</th>
                            <th>UOM</th>
                            <th>Status</th>
                            <th>
                                <table class="table table-striped table-bordered table-condensed col-xs-12">
                                    <tr>
                                        <td class="col-xs-6">
                                            Supplier / PO Number
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            Qty Ord
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            Qty Recd
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            Qty Pend
                                        </td>
                                        <td class="col-xs-1">
                                            UOM
                                        </td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.data">
                        <td class="col-xs-2">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-1  text-right">
                            {{data.totalQty | number : 6}}
                        </td>
                        <td class="col-xs-1">
                            {{data.unitRefName}}
                        </td>
                        <td class="col-xs-2">
                            {{data.statusRefName }}
                        </td>
                        <td class="col-xs-6">
                            <table class="table table-striped table-bordered table-condensed col-xs-12">
                                <tr data-ng-repeat="(poindex,podata) in data.poDetails">
                                    <td class="col-xs-6">
                                        {{podata.supplierRefName}}
                                        <br />
                                        <a data-toggle="tooltip" title="Click to View PO" data-placement="top" ng-click="vm.viewPoDetail(podata.poRefId)"> {{podata.poReferenceCode}} - {{podata.poStatusRemarks}} </a>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{podata.qtyOrdered | number : 4}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{podata.qtyReceived | number : 4}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{podata.qtyPending | number : 4}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{podata.unitRefName}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
