﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<style>
    .modal-dialog {
        width:70%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-8">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("Material") - {{vm.data.materialRefId}} -{{vm.data.materialRefName}} :  {{vm.data.totalRequiredQty}}  {{vm.data.uom}}</span>
            </h5>
            <h5 class="modal-title">
                <span style="color:purple" class="caption-subject bold uppercase">@L("Required") @L("Detail").Pluralize()</span>
            </h5>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary yellow" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
        </div>
    </div>
    <div>

    </div>
    <div class="modal-body" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>Event @L("Date")</th>
                            <th>@L("Customer")</th>
                            <th class="text-right">@L("Qty") @L("Required") </th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.data.subDetails">
                        <td class="col-xs-2">
                            {{data.caterHeader.eventDateTime | date :'EEE dd-MMM-yyyy HH:mm'}}
                        </td>
                        <td class="col-xs-2">
                            {{data.caterHeader.id}} - {{data.caterHeader.caterCustomerCustomerName}}
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.requestQty | number : 6}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">
                            @L("Total")
                        </td>
                        <td class="col-xs-2 text-right">
                            {{vm.data.totalRequiredQty | number : 6}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
