﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggitemgroup.delaggitemgroup as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delaggitemgroup.id">@L("EditDelAggItemGroup"): {{vm.delaggitemgroup.name}}</span>
                        <span ng-if="!vm.delaggitemgroup.id">@L("CreateDelAggItemGroup")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>@L("Code")</label>
                            <input class="form-control" type="text" name="Code" ng-class="{'edited':vm.delaggitemgroup.code}" ng-model="vm.delaggitemgroup.code" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>@L("Name")</label>
                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.delaggitemgroup.name}" ng-model="vm.delaggitemgroup.name" required>
                        </div>
                    </div>

                    <div class="col-md-2 margin-top-30" ng-if="vm.delaggitemgroup.id">
                        <button class="btn btn-xs red" ng-click="vm.openLanguageDescriptionModal()">
                            <i class="fa fa-file"></i> <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="delaggitemgroupCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>
</div>

