@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>
<div ng-controller="tenant.views.connect.report.hour.locationsummary as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("LocationHourlySales")</span> <small>@L("LocationHourlySalesInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("DateRange")</label>
                                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Location")</label>
                                <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                    <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="location in vm.locations">
                                        <small>
                                            @L("Name"): {{ location.name }}
                                            <br />
                                            @L("Code"): {{ location.code }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                            </button>
                            <button class="btn blue" ng-click="vm.getResult()">
                                <i class=" fa fa-refresh"></i> @L("Refresh")
                            </button>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-12" style="height: 400px" id="daychart">
                          
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-12" >
                            <div class="row" ng-if="vm.dayDetails.length>0">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@L("Name")</th>
                                            <th>@L("Total")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(productIndex, product) in vm.dayDetails">
                                        <td>{{ product.name }}</td>
                                        <td align="right">
                                            {{product.total | number : 2}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>