﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 80%;
    }
</style>
<script>
    function myFunction() {
        document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.transaction.intertransfer.ApprovalPrint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
    </div>
    <div id="editor"></div>
    <center><h2>{{vm.company.name}}</h2></center>
    <center><h3><span ng-if="vm.company.address1.length>0">{{vm.company.address1}}, </span> <span ng-if="vm.company.address2.length>0">{{vm.company.address2}} </span> {{}}</h3></center>
    <center><h3><span ng-if="vm.company.city.length>0">{{vm.company.city}}, </span> <span ng-if="vm.company.state.length>0">{{vm.company.state}} </span> {{}}</h3></center>

    <center ng-if="!vm.permissions.transportAllowed"><h3> <b><u> @L("TransferApproval") </u></b></h3></center>
    <center ng-if="vm.permissions.transportAllowed"><h3> <b><u> @L("InterBranchTransferMemo")</u></b></h3></center>
    <div class="row text-right" ng-if="vm.company.govtApprovalId.length>0">
        <h4 class="text-right" ng-if="!vm.enabledforIndia">
            <span>@L("GovtApprovalId")</span>: {{vm.company.govtApprovalId}}
        </h4>
        <h4 class="text-right" ng-if="!vm.enabledforIndia">
            <span>@L("GST")</span>: {{vm.company.govtApprovalId}}
        </h4>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h5>
                <span ng-if="vm.permissions.transportAllowed">@L("IBTM")</span>
                <span ng-if="!vm.permissions.transportAllowed">@L("Id")</span>   : {{vm.intertransferapproval.id}}
            </h5>
        </div>
        <div class="col-xs-4">
            <h5>   @L("RequestDate"): {{vm.intertransferapproval.requestDate | date : 'dd-MMM-yy'}} </h5>
        </div>
        <div class="col-xs-4 text-right">
            <h5>   @L("ApprovalDate"): {{vm.intertransferapproval.completedTime | date : 'dd-MMM-yy'}} </h5>
        </div>
    </div>

    <div busy-if="vm.loadingCount">
        <div class="row">
            <div class="col-xs-4">
                <b>   @L("Location")</b>
            </div>
            <div class="col-xs-6">
                <b>  @L("TransferTo") </b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {{vm.billinglocation.name}}
            </div>
            <div class="col-xs-6">
                {{vm.shippinglocation.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {{vm.billinglocation.address1}}
            </div>
            <div class="col-xs-6">
                {{vm.shippinglocation.address1}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {{vm.billinglocation.address2}}
            </div>
            <div class="col-xs-6">
                {{vm.shippinglocation.address2}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {{vm.billinglocation.address3}}
            </div>
            <div class="col-xs-6">
                {{vm.shippinglocation.address3}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {{vm.billinglocation.city}}
            </div>
            <div class="col-xs-6">
                {{vm.shippinglocation.city}}
            </div>
        </div>
    </div>
    <div ng-if="vm.permissions.transportAllowed">
        <div class="row" ng-if="vm.intertransferapproval.vehicleNumber!='' || vm.intertransferapproval.personInCharge!=''">
            <div class="col-xs-6">
                <b>@L("Vehicle") # : {{vm.intertransferapproval.vehicleNumber}}</b>
            </div>
            <div class="col-xs-6">
                <b>  @L("Incharge") : {{vm.intertransferapproval.personInCharge}} </b>
            </div>
        </div>
    </div>
    <br />
    @L("ApprovalHeader")

    <div id="smallcontent">

        <table class="table table-striped table-bordered col-xs-12">
            <thead>
                <tr>
                    <th># . </th>
                    <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                    <th>@L("Material")</th>
                    <th class="text-right">@L("Request") @L("Qty")</th>
                    <th class="text-right">@L("Issue") @L("Qty")</th>
                    <th class="text-right">@L("UOM")</th>
                    <th ng-if="vm.transfervalueshown" class="text-right">@L("Price")</th>
                    <th ng-if="vm.transfervalueshown" class="text-right">@L("Cost")</th>
                    <th class="text-right">@L("Remarks")</th>
                </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                <td class="col-xs-1">
                    {{data.sno}}
                </td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode">
                    <b> {{data.materialPetName}} </b>
                </td>
                <td class="col-xs-3">
                    <b> {{data.materialRefName}} </b>
                </td>
                <td class="col-xs-1 text-right">
                    <b>  {{data.requestQty | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-1 text-right">
                    <b>  {{data.issueQty | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-1 text-right">
                    {{data.unitRefName}}
                </td>
                <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                    <b>  {{data.price | number:vm.housedecimals}}</b>
                </td>
                <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                    <b>  {{data.lineTotal | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-2 text-right">
                    {{data.approvedRemarks}}
                </td>

            </tr>
            <tr>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>

                <td class="text-center" colspan="6">
                    @L("Total")
                </td>
                <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                    <b>  {{vm.intertransferapproval.transferValue | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-2 text-right"></td>

            </tr>
        </table>

    </div>
    <div class="row text-right" ng-if="vm.permissions.transportAllowed && vm.enabledforIndia">
        <div class="col-xs-10">
            <span>{{vm.intertransferapproval.transferValueInWords}} </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @L("ApprovedBy") : {{vm.user.name}}
        </div>

        <div class="col-xs-5 text-right">
            @L("ReceivedBy") : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <small>  @L("SignNotRequired") </small>

        </div>
        <div class="col-xs-12">
            <small ng-if="vm.permissions.transportAllowed">@L("NotForSaleTerm")</small>
        </div>
    </div>
    <br />
    <a ng-click="vm.gotoIndex()">@L("Redirect") @L("To")  @L("View")</a>
</div>

