﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
     .Approved {
  background-color: green;
  color: white;
}

  .Pending {
  background-color: greenyellow;
  color: black;
}

   .ui-rejected {
  background-color: orangered;
  color: black;
}
</style>
<div ng-controller="tenant.views.house.transaction.intertransfer.approval as vm" >
    <div class="row margin-bottom-5" busy-if="vm.loading">
        <div class="col-xs-6" >
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span ng-if="vm.intertransferapproval.id">@L("Approval"): </span>
                         @L("Id") : {{vm.intertransferapproval.id}} - {{vm.locationRefName}} - @L("Dated")  : {{dt  | date:'yyyy MMM dd'}}  
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button name="approveall" ng-disabled="vm.saving" type="button" class="btn btn-primary green-dark" ng-click="vm.approveAll()">@L("ApproveAll")</button>
            <button type="button" button-busy="vm.saving" busy-text="@L("RejectAll")" class="btn btn-default red" ng-click="vm.rejectAll()">
                <span>@L("RejectAll")</span>
            </button>
            <button type="button" button-busy="vm.saving" busy-text="@L("PendingAll")" class="btn btn-primary yellow" ng-click="vm.pendingAll()">
                <span>@L("PendingAll")</span>
            </button>
        </div>
    </div>

    <div class="portlet light"  busy-if="vm.loading">
        <div class="portlet-body">
        <div class="form">
        <form name="intertransferRequestForm">
            <div class="form-body" ng-if="false">
                <div class="row" ng-if="false">
                    <div class="col-sm-4">
                        <dl̥iv class="form-group">
                            <label class="control-label">@L("CurrentLocation")</label>
                            <ui-select class="borderself" id="defaultLocation" ng-disabled="vm.defaultLocationId"	 ng-model="vm.intertransferapproval.requestLocationRefId" required>
                                <ui-select-match placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </dl̥iv>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">@L("RequestedFrom")</label>
                            <ui-select class="borderself" ng-model="vm.intertransferapproval.locationRefId" required>
                                <ui-select-match  placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                                   
                        </div>
                    </div>
                         

                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">

                </div>
                <div class="col-sm-2">
                    <label class="control-label">@L("DeliveryDateRequested")</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input ame="deliveryDateRequested" class="form-control" date-picker-input ng-class="{'edited':vm.deliveryDateRequested}" data-ng-model="vm.deliveryDateRequested" ng-disabled="!vm.permissions.editDeliveryDate && vm.deliveryDateRequested==null && vm.intertransfer.id!=null" type="text" required data-date-time-input="YYYY-MMM-DD HH:mm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="vm.deliveryDateRequested" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
                @*<div class="col-xs-2">
                    <label class="control-label">@L("DeliveryDateRequested")</label>

                    <input name="deliveryDateRequested" class="form-control date-picker" ng-class="{'edited':vm.intertransferapproval.deliveryDateRequested}" ng-model="vm.intertransferapproval.deliveryDateRequested" ng-disabled="!vm.permissions.editDeliveryDate && vm.intertransferapproval.deliveryDateRequested==null && vm.intertransferapproval.id!=null" />
                </div>*@
            </div>
            <div class="portlet light">
                <div class="portlet-title portlet-title-filter">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form>
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.applyFilters()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div >
                        <div ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-pagination dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    </div>
                </div>
				<span style="color:white;background-color:orangered;">@L("AvlQtyInRequestLocation") </span>
            </div>

        <div class="modal-footer">
            <div class="col-xs-7 text-left" >
                <div class="col-xs-6" ng-if="vm.permissions.transportAllowed">
                    <div ng-if="vm.permissions.transportAllowed">
                        <label>@L("Vehicle") #</label>
                        <input type="text" id="vehiclenumber" ng-class="{'edited':vm.intertransferapproval.vehicleNumber}"
                               ng-model="vm.intertransferapproval.vehicleNumber" autocomplete="on">

                    </div>
                </div>
                <div class="col-xs-6" ng-if="vm.permissions.transportAllowed">
                    <div></div>
                    <label>@L("Incharge")</label>
                    <input type="text" width="120" id="incharge"
                           ng-class="{'edited':vm.intertransferapproval.personInCharge}" ng-model="vm.intertransferapproval.personInCharge" autocomplete="on">
                </div>

            </div>
            <div class="col-xs-5">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.close()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" ng-if="!vm.rejectallbuttonstatus" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="intertransferRequestForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("SaveDraft")</span>
                </button>
                <button type="submit" button-busy="vm.saving" ng-if="!vm.rejectallbuttonstatus" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="intertransferRequestForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                </button>
                <button type="submit" button-busy="vm.saving" ng-if="vm.rejectallbuttonstatus" busy-text="@L("SavingWithThreeDot")" class="btn btn-default red" ng-click="vm.save(2)" ng-disabled="intertransferRequestForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("RejectAndClose")</span>
                </button>
            </div>
        </div>
                </form>
            </div>
        </div>
    </div>
</div>

