﻿<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-8">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("Material") -  {{vm.materialRefName}} -  {{vm.uom}}</span>
            </h5>
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("Default") @L("Supplier") <span ng-if="vm.norecordsfound==false"> -  {{vm.defaultSupplier.supplierRefName}} </span></span>
            </h5>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary yellow" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
            <button class="btn btn-primary blue" ng-click="vm.save()">
                @L("SaveAndClose")
            </button>
        </div>
    </div>
    <div>

    </div>
    <div class="modal-body" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Supplier")</th>
                            <th class="text-right">@L("Price")</th>
                            <th align="left">@L("UOM")</th>
                            <th align="right">@L("MinimumOrderQuantity") / @L("MaximumOrderQuantity") </th>
                            <th class="text-center">@L("Change")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.data.supplierMaterialViewDtos">
                        <td class="col-xs-3">
                            {{data.supplierRefName}}     &nbsp;  &nbsp;
                            @*<br ng-if="data.supplierRefId ==vm.defaultSupplier.supplierRefId" />*@
                            <span ng-if="data.supplierRefId ==vm.defaultSupplier.supplierRefId" class="label label-info">   @L("Default") </span>
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.materialPrice | number :3}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-2 text-right">
                            <span> @L("MinimumOrderQuantity") : {{data.minimumOrderQuantity | number :3}} </span> ,
                            <br />
                            <span> @L("MaximumOrderQuantity") : {{data.maximumOrderQuantity | number :3}} </span>
                        </td>
                        <td class="col-xs-2 text-right">
                            <input type="button" class="btn btn-primary" ng-if="data.supplierRefId!=vm.defaultSupplier.supplierRefId" value="@L("Change") @L("Default") @L("Supplier")" data-ng-click="vm.changeDefaultSupplier(data)" />
                            @*<a ng-if="data.supplierRefId!=vm.defaultSupplier.supplierRefId" ng-click="vm.changeDefaultSupplier(data)">@L("Change") @L("Default") @L("Supplier")</a>*@
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
