﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .ui-approved {
        background-color: white;
        color: blue;
    }

    .ui-pending {
        background-color: white;
        color: red;
    }

    .ui-rejected {
        background-color: white;
        color: brown;
    }

    .ui-received {
        background-color: white;
        color: green;
    }

    .ui-red {
        background-color: black !important;
        color: red;
    }
</style>

<div ng-controller="tenant.views.house.transaction.intertransfer.approval.indexTransfer as vm">
    <div  busy-if="vm.loading || vm.loadingCount"  class="row margin-bottom-5">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Approval").Pluralize()</span> <small>@L("InterTransferApprovalHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-9 text-right">
            <button ng-if="vm.selectedRecords.length>0" class="btn btn-primary blue" ng-click="vm.bulkAutoApproval()">
                <i class="fa fa-plus"></i> @L("Bulk") @L("Approval") ({{vm.selectedRecords.length}})
            </button>
            <button class="btn btn-primary blue" button-busy="vm.saving" busy-text="@L("...")" ng-click="vm.requestToAutoPO()">
                <i class="fa fa-shopping-cart "></i> @L("AutoPurchaseOrder")
            </button>

            <button class="btn btn-primary blue" button-busy="vm.saving" busy-text="@L("...")" ng-disabled="!(vm.userGridOptions.data.length>0)" ng-click="vm.consolidatedExcel()">
                <i class="fa fa-file-excel-o"></i> @L("Pending") @L("RequestConsolidation")
            </button>

            <button ng-if="vm.permissions.directapprove" class="btn btn-primary green" ng-click="vm.createInterTransfer(1)">
                <i class="fa fa-plus"></i> @L("DirectTransferMultiLocation")
            </button>
            <button ng-if="vm.permissions.directapprove" class="btn btn-primary yellow" ng-click="vm.createInterTransfer(2)">
                <i class="fa fa-plus"></i> @L("DirectTransferSingleLocation")
            </button>

        </div>
    </div>

    <div class="row margin-bottom-5" busy-if="vm.loadingDashboard">
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            {{ vm.totalPending }}<small class="font-green-sharp"></small>
                        </h3>
                        <small>@L("Pending").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pause"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.totalApproved}}</h3>
                        <small>@L("ApprovedNotYetReceived").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="icon-like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.totalRejected}}</h3>
                        <small>@L("Declined").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">{{ vm.totalReceived }}</h3>
                        <small>@L("Received").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-level-down"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="portlet light">
        <div  busy-if="vm.loading || vm.loadingCount"  class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label style="color:black" for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Request")  @L("DateRange")
                                    </label>
                                </div>
                                <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="deliveryDateFilterApplied" class="md-check" type="checkbox" ng-model="vm.deliveryDateFilterApplied" name="deliveryDateFilterApplied" />
                                    <label style="color:black" for="deliveryDateFilterApplied">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DeliveryDate") @L("Range")
                                    </label>
                                </div>
                                <input ng-if="vm.deliveryDateFilterApplied" id="deliveryDate" date-range-picker type="text" options="vm.deliveryDateRangeOptions" min="vm.deliveryDateRangeOptions.min" max="vm.deliveryDateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.deliveryDateRangeModel" />
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Group") &nbsp; <a ng-if="vm.materialGroupRefId" ng-click="vm.materialGroupRefId=null; vm.materialGroupCategoryRefId=null;">Clear</a></label>
                                    <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-change="vm.fillDropDownMaterialGroupCategory();vm.materialGroupCategoryRefId=null;" ng-model="vm.materialGroupRefId">
                                        <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Category") &nbsp; <a ng-if="vm.materialGroupCategoryRefId" ng-click="vm.materialGroupCategoryRefId=null;">Clear</a> </label>
                                    <ui-select class="borderself" id="selMaterialCategoryRefId" ng-model="vm.materialGroupCategoryRefId" ng-change="vm.getAll();"> 
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4 text-right margin-top-20">
                                <button class="btn btn-large purple" ng-click="vm.openLocation()">
                                    <i class="fa fa-location-arrow"></i>
                                    <span ng-if="vm.locationGroup.groups.length==0 && vm.locationGroup.locations.length==0 && vm.locationGroup.locationTags.length==0">@L("All") @L("Locations")</span>
                                    <span ng-if="vm.locationGroup.groups.length==1">@L("LocationGroup") : {{vm.locationGroup.groups[0].name}}</span>
                                    <span ng-if="vm.locationGroup.groups.length>1">@L("LocationGroup") : {{vm.locationGroup.groups.length}}</span>
                                    <span ng-if="vm.locationGroup.groups.length>0 && (vm.locationGroup.locations.length>0 || vm.locationGroup.locationTags.length>0"> , </span>
                                    <span ng-if="vm.locationGroup.locations.length==1">@L("Location") : {{vm.locationGroup.locations[0].name}}</span>
                                    <span ng-if="vm.locationGroup.locations.length>1">@L("Locations") : {{vm.locationGroup.locations.length}}</span>
                                    <span ng-if="(vm.locationGroup.groups.length>0 || vm.locationGroup.locations.length>0) && vm.locationGroup.locationTags.length>0">,</span>
                                    <span ng-if="vm.locationGroup.tags.length==1">@L("LocationTag") : {{vm.locationGroup.locationTags[0].name}}</span>
                                    <span ng-if="vm.locationGroup.tags.length>1">@L("LocationsTag") : {{vm.locationGroup.locationTags.length}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="text" class="form-control" ng-model="vm.status" placeholder='@L("Status")'>
                            </div>
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="showOnlyDeliveryDateExpectedAsOnDate" class="md-check" type="checkbox" ng-model="vm.showOnlyDeliveryDateExpectedAsOnDate" ng-change="vm.getAll();" name="showOnlyDeliveryDateExpectedAsOnDate" />
                                    <label style="color:black" for="showOnlyDeliveryDateExpectedAsOnDate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ShowOnlyDeliveryDateExpectedAsOnDate")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" ng-model="vm.id" placeholder='@L("Id")' onkeypress="return NumberOnly(event,null)">
                            </div>
                            <div class="col-xs-4 text-right">
                                <button class="btn  yellow" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                                <button class="btn btn-primary blue" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="portlet-body" style="height: 50vh;">
            <div busy-if="vm.loading || vm.loadingCount" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" ui-grid-selection style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":
                     "" )></div>
            </div>
        </div>
    </div>
</div>

