﻿<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-8">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("Material") -  {{vm.materialRefName}} -  {{vm.uom}}</span>
            </h5>
            <h5 class="modal-title">
                <span style="color:purple" class="caption-subject bold uppercase">@L("InQueue") @L("Order")</span>
            </h5>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary yellow" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
        </div>
    </div>
    <div>

    </div>
    <div class="modal-body" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Order") @L("Date")</th>
                            <th>@L("Supplier")</th>
                            <th class="text-right">@L("Qty") @L("Ordered") </th>
                            <th class="text-right">@L("Qty") @L("Received") </th>
                            <th class="text-right">@L("Qty") @L("Pending")</th>
                            <th>@L("DeliveryDateRequested")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.data.pipelineDetails">
                        <td class="col-xs-2">
                            {{data.poDate | date :'EEE dd-MMM-yyyy'}}
                        </td>
                        <td class="col-xs-2">
                            {{data.supplierRefName}}
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.qtyOrdered | number : 6}}
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.qtyReceived | number : 6}}
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.qtyPending | number : 6}}
                        </td>
                        <td class="col-xs-2">
                            {{data.expectedDeliveryDate | date :'EEE dd-MMM-yyyy'}}
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">
                            @L("Total") @L("InQueue")
                        </td>
                        <td class="col-xs-2 text-right">
                            {{vm.alreadyOrderedQuantity | number : 6}}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
