﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.pptOrSetting.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("PTTOrSettings").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform" ng-disabled="vm.saving" ng-if="vm.pttOrSettingsIds">
                    <div class="form-body">
                        <uib-tabset class="tab-container tabbable-line" id="tabs">
                            <uib-tab heading='@L("LMS")' index="1" select="vm.onChangeTab(vm.pttOrSettingsIds.lms)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.lms">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("LMSPaymentDepartment")' index="1" select="vm.onChangeTab(vm.pttOrSettingsIds.lmsPaymentDepartments)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.lmsPaymentDepartments">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("InternalSales")' index="2" select="vm.onChangeTab(vm.pttOrSettingsIds.internalSale)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.internalSale">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("HanaSearch")' index="3" select="vm.onChangeTab(vm.pttOrSettingsIds.hanaSearch)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.hanaSearch">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("FullTax")' index="2" select="vm.onChangeTab(vm.pttOrSettingsIds.fullTax)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.fullTax">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("EccCreditLimit")' index="2" select="vm.onChangeTab(vm.pttOrSettingsIds.eccCreditLimit)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.eccCreditLimit">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("PettyCashControl")' index="2" select="vm.onChangeTab(vm.pttOrSettingsIds.pettyCashControl)">
                                <div ng-if="vm.programSettingTemplateId == vm.pttOrSettingsIds.pettyCashControl">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>@L("Name")</label>
                                                <input class="form-control" type="text" disabled name="Name" ng-class="{'edited':vm.programSettingTemplate.name}" ng-model="vm.programSettingTemplate.name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">@L("DefaultValue")</label>
                                                <div>
                                                    <input class="btn btn-primary" type="button"
                                                           ng-click="vm.editDefaultValue()"
                                                           value="Click to view data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info margin-top-15" ng-if="vm.programSettingTemplate.id">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                            <h3 class="panel-title bold">
                                                Values Based On Locations
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-success" ng-click="vm.openLocation()">Select Location</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Value</label>
                                                            <input class="form-control" type="text"
                                                                   readonly
                                                                   ng-click="vm.openPortion()"
                                                                   value="{{vm.getActualValueName(vm.programSettingValue)}}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 margin-top-20">
                                                        <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" busy-if="vm.loading" ng-if="vm.programSettingTemplate.id">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">
                                                        Program Setting Value
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">
                                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-eraser"></i> Clear
                                                    </a>
                                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                        <i class="fa fa-search"></i> Filter
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row" busy-if="vm.loading">
                                                    <div class="col-xs-6">
                                                        <div ui-grid="vm.programSettingValueOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer">
                        <div class="row margin-top-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .auto-entry {
        border: solid 1px gray;
        padding: 10px
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .margin-left-5 {
        margin-left: 5px !important;
    }

    .margin-top-25 {
        margin-top: 25px;
    }

    .cell-custom {
        height: 32px;
        line-height: 32px;
        padding-left: 10px;
    }
</style>