﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<script src="~/libs/ui-select/select.js"></script>
<link href="~/libs/ui-select/select.css" rel="stylesheet" />
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 85%;
    }
</style>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'fixedcost':
                label = app.localize('FixedCostTTip'); // 'Based on Accounts Department Costing method, fixed cost for batch production of the product';
                break;
            case 'prdBatchQty':
                label = app.localize('PrdBatchTTip'); //'Output Qty value for one Batch Production';
                break;
            case 'LifeTimeInMinutes':
                label = app.localize('LifeTimeTTip'); // 'Product shelf life time in Minutes';
                break;
            case 'AlarmTimeInMinutes':
                label = app.localize('AlarmTimeTTip'); // 'Alarm time in Minutes, for enable to alert Production Incharge for qulity verification of the product. Alarm time should be <= Life time. ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div  class="modal-dialog">
    <form name="recipeCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.recipe.id">@L("EditRecipe"): {{vm.recipe.recipeName | uppercase}}</span>
                <span ng-if="!vm.recipe.id">@L("CreateRecipe")</span>
            </h4>
        </div>
        <div class="modal-body modal-lg">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("Information")">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input autofocus class="form-control ucase" type="text" id="recipename" name="recipename" ng-class="{'edited':vm.recipe.recipeName}" ng-model="vm.recipe.recipeName" required maxlength="50">
                                <label>@L("RecipeName")</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control ucase" type="text" name="recipeShortName" ng-class="{'edited':vm.recipe.recipeShortName}" ng-model="vm.recipe.recipeShortName" required maxlength="50">
                                <label>@L("RecipeShortName")</label>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("GroupName") <a ng-click="vm.openGroupMaster()" href="javascript:">@L("AddOrEdit")</a> </label>
                                @*<label class="control-label">@L("GroupName")</label>*@
                                <select id="selid" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refrecipegroup" ng-model="vm.recipe.recipeGroupRefId" required></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("ProductionUnit")</label>
                                <select id="prdUnitBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.recipe.prdUnitId" ng-change="vm.fillRefConversionUnit()" required></select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("SellingUnit")</label>
                                <select id="selUnitBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunitconversion" ng-model="vm.recipe.selUnitId" required></select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" id="fixedcost" name="fixedcost" onkeypress="return NumberWithPoint('fixedcost',event,'cancel')" ng-class="{'edited':vm.recipe.fixedCost}" ng-model="vm.recipe.fixedCost" required>
                                <label>@L("FixedCostValue")</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" onkeypress="return NumberWithPoint('prdBatchQty',event,'cancel')" type="text" id="prdBatchQty" name="prdBatchQty" ng-class="{'edited':vm.recipe.prdBatchQty}" ng-model="vm.recipe.prdBatchQty" required>
                                <label>@L("PrdBatchQty")</label>
                            </div>
                        </div>
                        @*</div>


                        <hr />
                        <div class="row">*@
                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" id="LifeTimeInMinutes" name="LifeTimeInMinutes" onkeypress="return NumberOnly(event,cancel)" ng-class="{'edited':vm.recipe.lifeTimeInMinutes}" ng-model="vm.recipe.lifeTimeInMinutes" required>
                                <label>@L("LifeTimeInMinutes")</label>
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" id="AlarmTimeInMinutes" name="AlarmTimeInMinutes" onkeypress="return NumberOnly(event,cancel)"
                                       ng-class="{'edited':vm.recipe.alarmTimeInMinutes}" ng-model="vm.recipe.alarmTimeInMinutes" required ng-change="vm.setAlarmFlag()">
                                <label>@L("AlarmTimeInMinutes")</label>
                            </div>
                        </div>


                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="md-checkbox">
                                <input id="recipeAlarmFlag" class="md-check" type="checkbox" name="AlarmFlag"
                                       ng-class="{'edited':vm.recipe.alarmFlag}" ng-model="vm.recipe.alarmFlag">
                                <label for="recipeAlarmFlag">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AlarmFlag")
                                </label>
                            </div>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab heading="@L("Ingridient")">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberWithPoint('usersrno',event,'cancel')" class="form-control" type="number" name="usersrno" ng-class="{'edited':vm.recipeingredient.userSerialNumber}" ng-model="vm.recipeingredient.userSerialNumber" ng-blur="vm.fillDropDownMaterial()">
                                    <label>@L("SNo")</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialName")</label>
                                    <select id="selMaterialRefId" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterial" ng-model="vm.recipeingredient.materialRefId" ng-change="vm.fillDropDownUnit()" required></select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberWithPoint('usedmaterial',event,'cancel') " class="form-control" type="number" id="usedmaterial" name="usedmaterial" ng-class="{'edited':vm.recipeingredient.materialUsedQty}" ng-model="vm.recipeingredient.materialUsedQty" required>
                                    <label>@L("QtyUsed")</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">@L("UnitRefId")</label>
                                    <select id="unitRefIDselect" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.recipeingredient.unitRefId" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-checkbox chkinput">
                                    <input id="variationflag_IsActive" class="md-check " type="checkbox" name="variationflag_IsActive" style="vertical-align :middle"
                                           ng-model="vm.recipeingredient.variationflagForProduction">
                                    <label for="variationflag_IsActive">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("VariationFlagForProduction")
                                    </label>
                                </div>
                            </div>
                        </div>
                    <hr />
                    <div class="modal-content" ng-if="vm.detailData.length" style="width:300px">
                        <table class="table table-striped table-bordered" style="width:300px">
                            <thead>
                                <tr>
                                    <th>Material Name</th>
                                    <th>Qty</th>
                                    @* <th>Unit</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="warning" ng-repeat="data in vm.detailData | orderBy:'userSerialNumber'">
                                    <td>{{data.materialRefName}}</td>
                                    <td align="right">{{data.materialUsedQty}} {{data.unitRefName}}</td>
                                    @* <td>{{data.unitRefName}}</td>*@
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                    </div>
                </uib-tab>
</uib-tabset>
         </div>
                   
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="recipeCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

