﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.house.master.recipe.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Recipe").Pluralize()</span> <small>@L("RecipeHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createRecipeDetail()">
                <i class="fa fa-plus"></i> @L("CreateRecipe")
            </button>
        </div>
    </div>
    <uib-tabset class="tab-container tabbable-line">
        <uib-tab heading="@L("Recipe")">
            <div class="portlet light">
                <div class="portlet-title portlet-title-filter">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form>
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div busy-if="vm.loading">
                        <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="@L("CostingReport")" ng-if="false">

            <div class="portlet light">
                <div class="portlet-title portlet-title-filter">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form>
                                <div class="input-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                    <span class="input-group-btn">
                                        <button class="btn blue margin-top-20" ng-click="vm.getCostingReport()"><i class="fa fa-refresh"></i> </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div busy-if="vm.loadingRep">
                        <div ui-grid="vm.userGridOptionsReport" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    </div>
                </div>
            </div>

            @*<div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">@L("DateRange")</label>
                        <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                               class="form-control date-picker" ng-model="vm.dateRangeModel" />
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <button class="btn blue margin-top-20" ng-click="vm.getAll()"><i class="fa fa-refresh"></i> </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptionsReport" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>*@
        </uib-tab>
    </uib-tabset>
</div>

