﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'fixedcost':
                label = app.localize('FixedCostTTip'); // 'Based on Accounts Department Costing method, fixed cost for batch production of the product';
                break;
            case 'prdBatchQty':
                label = app.localize('PrdBatchTTip'); //'Output Qty value for one Batch Production';
                break;
            case 'LifeTimeInMinutes':
                label = app.localize('LifeTimeTTip'); // 'Product shelf life time in Minutes';
                break;
            case 'AlarmTimeInMinutes':
                label = app.localize('AlarmTimeTTip'); // 'Alarm time in Minutes, for enable to alert Production Incharge for qulity verification of the product. Alarm time should be <= Life time. ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>


<div ng-controller="tenant.views.house.master.recipe.recipedetail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span ng-if="vm.recipe.id">@L("EditRecipe"): {{vm.recipe.recipeName | uppercase}}</span>
                        <span ng-if="!vm.recipe.id">@L("CreateRecipe")</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                    <form name="detailform" role="form" novalidate class="form-validation">
                        <div class="form-body">
                            <uib-tabset class="tab-container tabbable-line">
                                    <uib-tab heading="@L("Information")">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control ucase" type="text" name="recipeShortName" ng-class="{'edited':vm.recipe.recipeShortName}" ng-model="vm.recipe.recipeShortName" required maxlength="50">
                                                    <label>@L("RecipeShortName")</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input autofocus class="form-control ucase" type="text" id="recipename" name="recipename" ng-class="{'edited':vm.recipe.recipeName}" ng-model="vm.recipe.recipeName" required maxlength="50">
                                                    <label>@L("Name")</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <hr />

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">@L("Group") <a ng-click="vm.openGroupMaster()" href="javascript:alert('Group');">@L("AddOrEdit")</a> </label>
                                                    @*<label class="control-label">@L("GroupName")</label>*@
                                                   
                                                    <ui-select class="borderself" ng-model="vm.recipe.recipeGroupRefId" @*class="form-control"*@ required>
                                                        <ui-select-match id="selRecicpeGroupRefid" placeholder="Select Recipe Group...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices @*ng-model="vm.inwarddirectcredit.locationRefId"*@ repeat="item.value as item in vm.refrecipegroup | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>

                                                    
                                                    
                                                     @*<select id="selid" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refrecipegroup" ng-model="vm.recipe.recipeGroupRefId" required></select>*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">@L("ProductionUnit")</label>

                                                    <ui-select class="borderself" ng-change="vm.fillRefConversionUnit()" ng-model="vm.recipe.prdUnitId" @*class="form-control"*@ required>
                                                        <ui-select-match  placeholder="Select Units...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices @*ng-model="vm.inwarddirectcredit.locationRefId"*@ repeat="item.value as item in vm.refunit | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">@L("SellingUnit")</label>

                                                    <ui-select class="borderself" ng-model="vm.recipe.selUnitId" @*class="form-control"*@ required>
                                                        <ui-select-match placeholder="Select Units...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices @*ng-model="vm.inwarddirectcredit.locationRefId"*@ repeat="item.value as item in vm.refunitconversion | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>


                                                    @*<select id="selUnitBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunitconversion" ng-model="vm.recipe.selUnitId" required></select>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control" type="text" id="fixedcost" name="fixedcost" onkeypress="return NumberWithPoint('fixedcost',event,'cancel')" ng-class="{'edited':vm.recipe.fixedCost}" ng-model="vm.recipe.fixedCost" required>
                                                    <label>@L("FixedCostValue")</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control" onkeypress="return NumberWithPoint('prdBatchQty',event,'cancel')" type="text" id="prdBatchQty" name="prdBatchQty" ng-class="{'edited':vm.recipe.prdBatchQty}" ng-model="vm.recipe.prdBatchQty" required>
                                                    <label>@L("PrdBatchQty")</label>
                                                </div>
                                            </div>
                                            @*</div>


                                <div class="row">*@
                                            <div class="col-sm-3">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control" type="text" id="LifeTimeInMinutes" name="LifeTimeInMinutes" onkeypress="return NumberOnly(event,'cancel')" ng-class="{'edited':vm.recipe.lifeTimeInMinutes}" ng-model="vm.recipe.lifeTimeInMinutes" required>
                                                    <label>@L("LifeTimeInMinutes")</label>
                                                </div>
                                            </div>


                                            <div class="col-sm-3">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input class="form-control" type="text" id="AlarmTimeInMinutes" name="AlarmTimeInMinutes" onkeypress="return NumberOnly(event,'cancel')"
                                                           ng-class="{'edited':vm.recipe.alarmTimeInMinutes}" ng-model="vm.recipe.alarmTimeInMinutes" required ng-change="vm.setAlarmFlag()">
                                                    <label>@L("AlarmTimeInMinutes")</label>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="md-checkbox">
                                                    <input id="recipeAlarmFlag" class="md-check" type="checkbox" name="AlarmFlag"
                                                           ng-class="{'edited':vm.recipe.alarmFlag}" ng-model="vm.recipe.alarmFlag">
                                                    <label for="recipeAlarmFlag">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AlarmFlag")
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </uib-tab>

                                    @*<uib-tab heading="@L("Ingredient")">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input onkeypress="return NumberWithPoint('usersrno',event,'cancel')" class="form-control" type="number" name="usersrno" ng-class="{'edited':vm.recipeingredient.userSerialNumber}" ng-model="vm.recipeingredient.userSerialNumber" ng-blur="vm.fillDropDownMaterial()">
                                                    <label>@L("SNo")</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">@L("Material")</label>
                                                    <select id="selMaterialRefId" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterial" ng-model="vm.recipeingredient.materialRefId" ng-change="vm.fillLinkedUnit()" required></select>
                                                </div>
                                            </div>

                                            <div class="col-sm-1">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <input onkeypress="return NumberWithPoint('usedmaterial',event,'cancel') " class="form-control" type="number" id="usedmaterial" name="usedmaterial" ng-class="{'edited':vm.recipeingredient.materialUsedQty}" ng-model="vm.recipeingredient.materialUsedQty" required>
                                                    <label>@L("Qty")</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="control-label">@L("Unit")</label>
                                                    <select id="unitRefIDselect" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.reflinkedunit" ng-model="vm.recipeingredient.unitRefId" required></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="md-checkbox chkinput">
                                                    <input id="variationflag_IsActive" class="md-check " type="checkbox" name="variationflag_IsActive" style="vertical-align :middle"
                                                           ng-model="vm.recipeingredient.variationflagForProduction">
                                                    <label for="variationflag_IsActive">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("Proportionate")
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <button type="button" button-busy="vm.nexting" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.next()">
                                                        <i class="fa fa-save"></i> <span>@L("Next")</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                        <hr />
                                        <div class="modal-content" ng-if="vm.recipeingredientdata.length" style="width:900px">
                                            <table class="table table-striped table-bordered" style="width:900px">
                                                <caption>Ingredient List</caption>
                                                <thead>
                                                    <tr>
                                                        <th width="50">@L("Edit")</th>
                                                        <th width="50">@L("Delete")</th>
                                                        <th width="100">@L("SNo")</th>
                                                        <th width="400">@L("Material")</th>
                                                        <th class="text-right" width="100" align="right">@L("Qty")</th>
                                                        <th width="100">@L("Unit")</th>
                                                        <th width="100">@L("Proportionate")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr @*class="success"*@ @*ng-repeat="data in vm.recipeingredientdata | orderBy:'userSerialNumber'">
                                                        <td width="50"> <a ng-click="vm.editDetail(data)" href=""> <i class="fa fa-edit"></i> - {{data.id}}</a> </td>
                                                        <td class="text-center" width="50"> <a ng-click="vm.deleteDetail(data)" href=""><i class="glyphicon glyphicon-remove"></i></a> </td>
                                                        <td width="100">{{data.userSerialNumber}}</td>
                                                        <td width="400">{{data.materialRefName}}</td>
                                                        <td width="100" class="text-right">{{data.materialUsedQty}}</td>
                                                        <td width="100">{{data.unitRefName}}</td>
                                                        <td width="100">{{data.variationflagForProduction}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <hr />
                                        </div>
                                    </uib-tab>*@

                                <uib-tab heading="@L("Ingredient")">
                                    <div class="row">
                                        <div @*class="modal-content"*@ class="col-sm-12">
                                            <table class="table table-striped table-bordered col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <th>@L("Actions")</th>
                                                        <th>@L("Code")</th>
                                                        <th>@L("MaterialName")</th>
                                                        <th class="text-right">@L("Qty")</th>
                                                        <th>@L("Unit")</th>
                                                        <th>@L("Next")</th>
                                                    </tr>
                                                </thead>

                                                <tr data-ng-repeat="(index,data) in vm.recipeingredientdata">
                                                    <td class="col-sm-1">
                                                        <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(index)" />
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" @*ng-value="data.materialRefName.value"*@ />
                                                    </td>
                                                    <td class="col-sm-5">
                                                        <ui-select id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected.displayText)" ng-model="data.materialRefId" onfocus="dsetFocus(this)" onblur="dsetFocus(this)" required>
                                                            <ui-select-match id="selMaterial1" placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                                                            <ui-select-choices id="selMaterial2" ng-model="data.materialRefId"  repeat="item.value as item in vm.tempRefMaterial | filter: $select.search">
                                                                <div ng-bind="item.displayText"></div></ui-select-choices>
                                                        </ui-select>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <input id="rcdqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.materialUsedQty" required />
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <ui-select @*ng-change="func(data.unitRefId)"*@ ng-model="data.unitRefId" @*class="form-control"*@ required>
                                                            <ui-select-match id="selUnit" placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                            <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.tempRefUnit | filter: $select.search">
                                                                <div ng-bind="item.displayText"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>
                                                
                                        </div>
                                    </div>

                                </uib-tab>
                                
                                </uib-tabset>
                        </div>

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="recipeCreateOrEditForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="recipeCreateOrEditForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div>

                            </div>
                        </div>
</form>
               </div>
        </div>
    </div>
</div>