<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.connect.promotion.detail as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-9">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span ng-if="vm.promotion.id">@L("EditPromotion"): {{vm.promotion.name}}</span>
                    <span ng-if="!vm.promotion.id">@L("CreatePromotion")</span>
                </h1>
            </div>
        </div>
        <div class="m-heading-1 border-green m-bordered">
            <p> @L("CreatePromotionInfo") </p>
        </div>
    </div>
    <div class="col-sm-3 text-right">
        <button class="btn btn-large green" ng-click="vm.openLocation()">
            <i class="fa fa-file"></i>
            <span>@L("Locations")</span>
        </button>
    </div>
</div>
<div class="portlet light"  busy-if="vm.loading">
<div class="portlet-body">
<div class="form">
<form name="detailform" novalidate>
<div class="form-body">
<uib-tabset id="tabs" class="tab-container tabbable-line">
    <uib-tab heading='@L("General")' tabindex="1">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        @L("PromotionCategory") <a ng-click="vm.promotion.promotionCategoryId=null" ng-if="vm.promotion.promotionCategoryId!=null&&vm.promotion.promotionCategoryId>0">@L("Clear")</a>
                    </label>
                    <ui-select class="borderself" ng-model="vm.promotion.promotionCategoryId">
                        <ui-select-match placeholder="@L("Select") @L("PromotionCategory")">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="promotioncategory.id as promotioncategory in  vm.promotioncategorys| filter: $select.search | limitTo: vm.uilimit ">
                            <small>
                                {{ promotioncategory.name }}
                                <br />
                                {{promotioncategory.code}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">@L("Name")</label>
                    <input type="text" class="form-control" ng-model="vm.promotion.name" placeholder='@L("Name")' required>
                </div>
            </div>
            <div class="col-md-1 margin-top-30" ng-if="vm.promotion.id">
                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                    <i class="fa fa-file"></i> <span></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">@L("PromotionType")</label>
                    <select id="PromotionEditBox" class="form-control selectpicker" ng-disabled="vm.promotionId"
                            data_live_search="true" required
                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.promotionTypes"
                            ng-model="vm.promotionTypeId"
                            ng-change="vm.typeChanged()">
                    </select>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="control-label">@L("DateRange")</label>
                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" ng-change="vm.datePickerData()" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">@L("CardType")</label>
                    <select id="CardTypeEditBox" class="form-control selectpicker" ng-disabled="vm.promotionId"
                            data_live_search="true" required
                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.connectCardTypes"
                            ng-model="vm.promotion.connectCardTypeId"
                            ng-change="vm.typeChanged()">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">@L("Description")</label>
                    <textarea class="form-control"  rows="3" ng-model="vm.promotion.description" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 margin-top-30">
                <div class="form-group">
                    <div class="md-checkbox">
                        <input id="combineAllPro" class="md-check" type="checkbox" ng-model="vm.promotion.combineAllPro" ng-change="vm.combineProCheckChange()">
                        <label for="combineAllPro">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("CombineAllPro")
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-30">
                <div class="form-group">
                    <div class="md-checkbox">
                        <input id="DisplayPromotion" class="md-check" type="checkbox" ng-model="vm.promotion.displayPromotion">
                        <label for="DisplayPromotion">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("DisplayPromotion")
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-30">
                <div class="form-group">
                    <div class="md-checkbox">
                        <input id="limi1PromotionPerItem" class="md-check" type="checkbox" ng-model="vm.promotion.limi1PromotionPerItem">
                        <label for="limi1PromotionPerItem">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Limit1PrivilegePerBill")
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-30">
                <div class="form-group">
                    <div class="md-checkbox">
                        <input id="active" class="md-check" type="checkbox" ng-model="vm.promotion.active">
                        <label for="active">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("PromotionActive")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 margin-top-30" ng-if="!vm.promotion.combineAllPro">
                <div class="form-group">
                    <label class="control-label">@L("Click") @L("Here") @L("To") @L("Select") @L("Promotion")</label>
                    <textarea class="form-control" ng-readonly="true" rows="3" ng-model="vm.combinePros" data-ng-click="vm.chooseCombinePromotion()" />
                </div>
            </div>
            <div class="col-md-6" ng-if="vm.promotion.displayPromotion">
                <div class="form-group">
                    <label class="control-label">@L("PromotionPosition")</label>
                    <select id="PromotionPosition" class="form-control selectpicker"
                            data_live_search="true"
                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.promotionPositions"
                            ng-model="vm.promotion.promotionPosition">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 margin-top-30">
                <div class="form-group">
                    <div class="md-checkbox">
                        <input id="IgnorePromotionLimitation" class="md-check" type="checkbox" ng-model="vm.promotion.ignorePromotionLimitation">
                        <label for="IgnorePromotionLimitation">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IgnorePromotionLimitation")
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin-top-30" ng-if="vm.promotion.connectCardTypeId">
                <div class="form-group">
                    <div class="md-checkbox">
                        <input id="ApplyOffline" class="md-check" type="checkbox" ng-model="vm.promotion.applyOffline">
                        <label for="ApplyOffline">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("ApplyOffline")
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </uib-tab>
<uib-tab heading='@L("Schedules")' tabindex="1" >
    <div class="row  margin-top-10">
        <div class="col-md-5">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">@L("StartDate")</label>
                    <input  id="stDate"
                           name="stDate"
                           class="form-control date-picker"
                           ng-model="vm.scheduleStartDate" ng-blur="validateDate()" autocomplete="off"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">@L("EndDate")</label>
                    <input id="endDate"
                           name="endDate"
                           class="form-control date-picker"
                           ng-model="vm.scheduleEndDate" ng-blur="validateDate()" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label"> @L("Time")</label>
                <wy-time-picker data-dropdown-toggle-state="settings.dropdownToggleState"
                                data-time-settings="settings.time"
                                data-theme="settings.theme"
                                data-no-range="settings.noRange"
                                data-format="settings.format"
                                data-no-validation="timeSettings"
                                data-apply-callback="onApplyTimePicker()"
                                data-clear-callback="onClearTimePicker()">
                </wy-time-picker>
            </div>
        </div>
    </div>
    <div class="row  margin-top-20">
        <div class="col-md-5">
            <div class="form-group">
                <ui-select multiple ng-model="vm.refday" class="form-control">
                    <ui-select-match placeholder=@L("WeekDays")>{{$item.displayText}}</ui-select-match>
                    <ui-select-choices repeat="day in vm.refdays">
                        <small>
                            {{ day.displayText }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <ui-select multiple ng-model="vm.refmonthday" class="form-control">
                    <ui-select-match placeholder=@L("Days")>{{$item.displayText}}</ui-select-match>
                    <ui-select-choices repeat="day in vm.refmonthdays">
                        <small>
                            {{ day.displayText }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                @L("Add")
            </button>
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>@L("StartDate")</th>
                    <th>@L("EndDate")</th>
                    <th>@L("SHourMinute")*</th>
                    <th>@L("EHourMinute")*</th>
                    <th>@L("Days")*</th>
                    <th>@L("MonthDays")*</th>
                    <th>@L("")</th>
                </tr>
                </thead>
                <tr data-ng-repeat="(productIndex, product) in vm.promotion.promotionSchedules">
                    <td class="col-sm-2">
                        {{product.startDate}}
                    </td>
                    <td class="col-sm-2">
                        {{product.endDate}}
                    </td>
                    <td class="col-sm-2">
                        {{product.startHour}}:{{product.startMinute}}
                    </td>
                    <td class="col-sm-2">
                        {{product.endHour}}:{{product.endMinute}}
                    </td>
                    <td class="col-sm-3">
                        <table ng-if="product.allDays.length>0">
                            <tr data-ng-repeat="(pi, p) in product.allDays">
                                <td>
                                    {{ p.displayText }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col-sm-3">
                        <table ng-if="product.allMonthDays.length>0">
                            <tr data-ng-repeat="(pi, p) in product.allMonthDays">
                                <td>
                                    {{ p.displayText }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col-sm-2">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                            @L("Delete")
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Conditions")' tabindex="1" ng-if="vm.promotionTypeId!=1">
    <div class="row  margin-top-10">
        <div class="col-xs-12">
            <query-builder options="builder.options" builder="builder.builder"  ng-disabled="true" id="builder"></query-builder>
        </div>
    </div>
    <div class="row  margin-top-10" ng-disabled="true">
        <div class="col-xs-12">
            <div id="builder"></div>
        </div>
    </div>
   
</uib-tab>
<uib-tab heading='@L("RestrictItems")' tabindex="1">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="@L("AddItem")" data-ng-click="vm.addRestrictItems()"/>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>@L("Name")*</th>
                </tr>
                </thead>
                <tr data-ng-repeat="(productIndex, product) in vm.promotion.promotionRestrictItems">
                    <td>
                        <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRestrictItem(productIndex)">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value='@L("Click")' ng-if="product.menuItemId==0"
                               data-ng-click="vm.openforMenuItemModal(product)">
                        <span ng-if="product.menuItemId!=0">
                            {{ product.menuItemId }} - {{ product.name }}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Distribution")' tabindex="2" ng-if="vm.promotionTypeId==8">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("Distribution") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">@L("Select") @L("ProductGroup")</label>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="vm.ticketDiscountPromotionDistribution.productGroupId==0" data-ng-click="vm.openforProductGroupItem(vm.ticketDiscountPromotionDistribution)">
                <input type="button" class="btn btn-primary" value="{{vm.ticketDiscountPromotionDistribution.productGroupId }} - {{ vm.ticketDiscountPromotionDistribution.productGroupName }}" ng-if="vm.ticketDiscountPromotionDistribution.productGroupId!=0" data-ng-click="vm.openforProductGroupItem(vm.ticketDiscountPromotionDistribution)">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="control-label">@L("Select") @L("Category")</label>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="vm.ticketDiscountPromotionDistribution.categoryId==0" data-ng-click="vm.openforCategoryItem(vm.ticketDiscountPromotionDistribution)">
                <input type="button" class="btn btn-primary" value="{{ vm.ticketDiscountPromotionDistribution.categoryId }} - {{ vm.ticketDiscountPromotionDistribution.categoryName }}" ng-if="vm.ticketDiscountPromotionDistribution.categoryId!=0" data-ng-click="vm.openforCategoryItem(vm.ticketDiscountPromotionDistribution)">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="control-label">@L("Select") @L("MenuItem")</label>
            <div class="form-group">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="vm.ticketDiscountPromotionDistribution.menuItemId==0" data-ng-click="vm.openforMenuItem(vm.ticketDiscountPromotionDistribution)">
                    <input type="button" class="btn btn-primary" value="{{ vm.ticketDiscountPromotionDistribution.menuItemId }} - {{ vm.ticketDiscountPromotionDistribution.menuItemGroupCode }}" ng-if="vm.ticketDiscountPromotionDistribution.menuItemId!=0" data-ng-click="vm.openforMenuItem(vm.ticketDiscountPromotionDistribution)">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="control-label">@L("Select") @L("Portion")</label>
            <div class="form-group">
                    <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="vm.ticketDiscountPromotionDistribution.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(vm.ticketDiscountPromotionDistribution)">
                    <input type="button" class="btn btn-primary" value="{{ vm.ticketDiscountPromotionDistribution.menuItemPortionId }} - {{ vm.ticketDiscountPromotionDistribution.portionName }}" ng-if="vm.ticketDiscountPromotionDistribution.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(vm.ticketDiscountPromotionDistribution)">
                </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                <label style="color: blue">@L("Percentage")</label>
                <input onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                       class="form-control text-right input-lg" type="number" name="@L("Percentage")" ng-class="{'edited':vm.ticketDiscountPromotionDistribution.percentage}" ng-model="vm.ticketDiscountPromotionDistribution.percentage">
            </div>
        </div>
        <div class="col-md-4 margin-top-20">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addTicketDistributions(vm.ticketDiscountPromotionDistribution);vm.gettotalPercentage()">
                @L("Add")
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("MenuItem")</th>
                    <th>@L("Portion")</th>
                    <th>@L("Percentage")</th>
                </tr>
                </thead>
                <tr data-ng-repeat="(index, product) in vm.ticketDiscountPromotion.ticketDiscountPromotionDistributions">
                    <td class="col-sm-2">
                        <button class="btn btn-danger btn-xs" data-ng-click="vm.removeTicketDistributions(index);vm.gettotalPercentage()">
                            <i class="fa fa-trash-o" />
                        </button>
                    </td>
                    <td class="col-sm-3">
                        {{product.productGroupName}}
                    </td>
                    <td class="col-sm-2">
                        {{product.categoryName}}
                    </td>
                    <td class="col-sm-2">
                        {{product.menuItemGroupCode}}
                    </td>
                    <td class="col-sm-2">
                        {{product.portionName}}
                    </td>
                    <td class="col-sm-2">
                        {{product.percentage| number : 2}}
                    </td>
                </tr>
                <tr ng-if="vm.totalPercentage>0">
                    <td colspan="5" class="text-right" align="right">
                        @L("Total")
                    </td>
                    <td>
                        <span style="color: blue"> {{vm.totalPercentage | number : 2}} </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("PromotionQuota")'>

    <div class="row  margin-top-10">
        <div class="text-right margin-right-15">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addPromotionQuota()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>

    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <thead>
                    <tr>
                        <th></th>
                        <th>@L("Count")</th>
                        <th>@L("Each")</th>
                        <th>@L("Reset")</th>
                        <th>@L("Plants")</th>
                    </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.promotionQuotas">
                    <td class="col-sm-2">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeQuota(index)">
                            <i class="glyphicon glyphicon-trash"/>
                        </button>
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.showQuotaDetail(data.id)">
                            <i class="glyphicon glyphicon-search"/>
                        </button>
                    </td>
                    <td class="col-sm-1">
                        <input type="number" class="form-control" ng-model="data.quotaAmount" placeholder='@L("Count")'
                               min="0" ng-required="true"/>
                    </td>
                    <td class="col-sm-1">
                        <div class="form-group margin-top-10">
                            <div class="md-checkbox">
                                <input id="{{index}}" class="md-check" type="checkbox" ng-model="data.each">
                                <label for="{{index}}">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <select id="reset" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.resetTypes"
                                            ng-model="data.resetType" required/>
                                </div>
                                <div class="col-sm-7" ng-if="data.resetType==1">
                                    <select id="week" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.refdays"
                                            ng-model="data.resetWeekValue" ng-required="true"/>
                                </div>
                                <div class="col-sm-7" ng-if="data.resetType==2">
                                    <input onkeydown="return false" type="text" id="resetMonth" name="resetMonth" ng-model="data.resetMonthValue" class="form-control"
                                           uib-datepicker-popup="{{requestformat}}" ng-required="true" show-weeks="false" is-open="data.showDatePicker"  ng-close-text="Close"
                                           ng-click="open3(data)"/>
                                </div>
                                <div class="col-sm-7" ng-if="data.resetType==3">
                                    <input onkeydown="return false" type="text" id="resetYear" name="resetYear" ng-model="data.resetMonthValue" class="form-control"
                                           uib-datepicker-popup="{{requestformat}}" ng-required="true" show-weeks="false" is-open="data.showDatePicker" ng-close-text="Close"
                                           ng-click="open3(data)"/>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="1" readonly ng-model="data.plants" />
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary form-control" data-ng-click="vm.openQuotaLocation(data)">
                                        <span>@L("Plants").ToUpper()</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</uib-tab>

<uib-tab heading='@L("TimerPromotion")' tabindex="2" ng-if="vm.promotionTypeId==1">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("TimerPromotionInfo") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">@L("PriceTag")</label>
                <select id="PromotionEditBox" class="form-control selectpicker"
                        data_live_search="true"
                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.priceTags"
                        ng-model="vm.timerPromotion.priceTagId">
                </select>
            </div>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("FixedPromotionPercentage")' tabindex="2" ng-if="vm.promotionTypeId==2">
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFixProsPer()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("Menu")</th>
                    <th>@L("Portion")</th>
                    <th>@L("Percentage")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.fixedpromotionper">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFixProsPer(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <input type="text" class="form-control" onkeypress="return NumberWithPoint(event, 'cancel')" ng-model="data.promotionValue"
                               min="0" required />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("FixedPromotionValue")' tabindex="2" ng-if="vm.promotionTypeId==3">
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFixPros()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("Menu")</th>
                    <th>@L("Portion")</th>
                    <th>@L("Value")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.fixedpromotion">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFixPros(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <input type="text" class="form-control" onkeypress="return NumberWithPoint(event, 'cancel')" ng-model="data.promotionValue" min="0" required />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("FreePromotion")' tabindex="2" ng-if="vm.promotionTypeId==4">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("FreePromotionInfo") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <div class="form-group">
                <label class="control-label">@L("FromCount")</label>
                <input type="number" class="form-control input-lg" ng-model="vm.freePromotion.fromCount" ng-disabled="vm.fromCountLocked" ng-min="1" placeholder='@L("FromCount")' required>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-group">
                <label class="control-label">@L("ToCount")</label>
                <input type="number" class="form-control input-lg" ng-model="vm.freePromotion.toCount" placeholder='@L("ToCount")' ng-min="1" required>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-group">
                <div class="md-checkbox">
                    <input id="AcceptChange1" class="md-check" type="checkbox" ng-model="vm.freePromotion.allFrom"
                           ng-change="vm.changeFromCount(vm.freePromotion.allFrom)">
                    <label for="AcceptChange1">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("All")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFreeFrom()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <caption>
                    <b> @L("BuyItems")</b>
                </caption>
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("Menu")</th>
                    <th>@L("Portion")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.freePromotion.from">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFreeFrom(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFreeTo()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <caption>
                    <b> @L("FreeItems")</b>
                </caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>@L("ProductGroup")</th>
                        <th>@L("Category")</th>
                        <th>@L("Menu")</th>
                        <th>@L("Portion")</th>
                    </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.freePromotion.to">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFreeTo(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("FreeValuePromotion")' tabindex="2" ng-if="vm.promotionTypeId==5">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("FreeValuePromotionInfo") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label">@L("FromCount")</label>
                <input type="number" class="form-control input-lg" ng-model="vm.freeValuePromotion.fromCount" ng-min="1" placeholder='@L("FromCount")' ng-disabled="vm.fromCountValueLocked" required>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <div class="md-checkbox">
                    <input id="AcceptChange" class="md-check" type="checkbox" ng-model="vm.freeValuePromotion.allFrom" ng-change="vm.changeFromValueCount(vm.freeValuePromotion.allFrom)">
                    <label for="AcceptChange">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("All")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFreeValueFrom()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <caption>
                    <b> @L("BuyItems")</b>
                </caption>
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("Menu")</th>
                    <th>@L("Portion")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.freeValuePromotion.from">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFreeValueFrom(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFreeValueTo()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <caption>
                    <b> @L("FreeItems")</b>
                </caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>@L("ProductGroup")</th>
                        <th>@L("Category")</th>
                        <th>@L("Menu")</th>
                        <th>@L("Portion")</th>
                        <th>@L("Type")</th>
                        <th>@L("Value")</th>
                    </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.freeValuePromotion.to">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFreeValueTo(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <select class="form-control selectpicker"
                                data_live_search="true"
                                ng-options="vm.getEditionValue(item) as item.displayText for item in vm.promotionValueTypes"
                                ng-model="data.valueType">
                        </select>
                    </td>
                    <td class="col-sm-1">
                        <input type="number" class="form-control" ng-model="data.value" placeholder='@L("Value")' required>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("OrderPromotion")' tabindex="2" ng-if="vm.promotionTypeId==6 || vm.promotionTypeId==9">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("DemandPromotionInfo") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label">@L("Caption")*</label>
                <textarea type="text" ng-model="vm.demandPromotion.buttonCaption" name="buttonCaption" class="form-control text-uppercase" rows="2" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <div class="form-group">
                <label class="control-label">@L("PromotionType")*</label>
                <select id="PromotionValueEditBox" class="form-control selectpicker"
                        data_live_search="true"
                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.promotionValueTypes"
                        ng-model="vm.demandPromotion.promotionValueType">
                </select>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="form-group">
                <label class="control-label">@L("PromotionValue")*</label>
                <input type="number" class="form-control text-uppercase" ng-model="vm.demandPromotion.promotionValue" name="promotionValue" required>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="form-group">
                <label class="control-label">@L("Group")</label>
                <input type="text" class="form-control" ng-model="vm.demandPromotion.group" name="promotionGroup">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="promotionOverride" class="md-check" type="checkbox" ng-model="vm.demandPromotion.promotionOverride">
                        <label for="promotionOverride">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("PromotionOverride")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="askReference" class="md-check" type="checkbox" ng-model="vm.demandPromotion.askReference">
                        <label for="askReference">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AskReferenceCode")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="authentionRequired" class="md-check" type="checkbox" ng-model="vm.demandPromotion.authenticationRequired">
                        <label for="authentionRequired">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AuthenticationRequired")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">       
        <div class="col-md-3 margin-top-30">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="promotionApplyOnce" class="md-check" type="checkbox" ng-model="vm.demandPromotion.promotionApplyOnce" ng-change="vm.changepromotionApplyOnce()">
                        <label for="promotionApplyOnce">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Apply") @L("Once")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-if="vm.demandPromotion.promotionApplyOnce">
            <div class="form-group">
                <label class="control-label">@L("Apply") @L("Type")</label>
                <ui-select id="PromotionApplyTypeEditBox" class="borderself" ng-model="vm.demandPromotion.promotionApplyType">
                    <ui-select-match>{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices ng-model="vm.demandPromotion.promotionApplyType" repeat="item.value as item in vm.refPromotionApplyTypes | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addDemandPromosExes()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("Menu")</th>
                    <th>@L("Portion")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.demandPromotion.demandPromotionExecutions">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeDemandPromosExes(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("FreeItemPromotion")' tabindex="2" ng-if="vm.promotionTypeId==7">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("FreeItemPromotionInfo") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="confirmation" class="md-check" type="checkbox" ng-model="vm.freeItemPromotion.confirmation">
                        <label for="confirmation">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Confirmation")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="multipleTimes" class="md-check" type="checkbox" ng-model="vm.freeItemPromotion.multipleTimes">
                        <label for="multipleTimes">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("MultipleTimes")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label">@L("ItemCount")</label>
                <input type="text" class="form-control input-lg" ng-model="vm.freeItemPromotion.itemCount" placeholder='@L("ItemCount")' required>
            </div>
        </div>
        <div class="col-md-6" ng-if="vm.freeItemPromotion.multipleTimes">
            <div class="form-group">
                <label class="control-label">@L("TicketTotal")</label>
                <input type="number" class="form-control input-lg" ng-model="vm.freeItemPromotion.totalAmount" placeholder='@L("TotalAmount")'>
            </div>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addFreeItem()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <caption>
                    <b> @L("FreeItems")</b>
                </caption>
                <thead>
                <tr>
                    <th></th>
                    <th>@L("Menu")</th>
                    <th>@L("Price")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.freeItemPromotion.executions">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeFreeItem(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-5">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)" required>
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                    <td class="col-sm-5">
                        <input type="number" class="form-control" ng-model="data.price" placeholder='@L("Value")'>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("TicketDiscountPromotion")' tabindex="2" ng-if="vm.promotionTypeId==8 || vm.promotionTypeId==10">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("TicketDiscountPromotionInfo") </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label">@L("Caption")*</label>
                <textarea type="text" ng-model="vm.ticketDiscountPromotion.buttonCaption" name="buttonCaption" class="form-control text-uppercase" rows="2" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label">@L("PromotionType")*</label>
                <select id="PromotionValueEditBox" class="form-control selectpicker"
                        data_live_search="true"
                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.promotionValueTypes"
                        ng-model="vm.ticketDiscountPromotion.promotionValueType">
                </select>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label">@L("PromotionValue")*</label>
                <input type="number" class="form-control text-uppercase" ng-model="vm.ticketDiscountPromotion.promotionValue" name="promotionValue" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="askReference" class="md-check" type="checkbox" ng-model="vm.ticketDiscountPromotion.askReference">
                        <label for="askReference">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AskReferenceCode")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="authentionRequired" class="md-check" type="checkbox" ng-model="vm.ticketDiscountPromotion.authenticationRequired">
                        <label for="authentionRequired">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("AuthenticationRequired")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 " ng-if="vm.promotionTypeId==10">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="applyAsPayment" class="md-check" type="checkbox" ng-model="vm.ticketDiscountPromotion.applyAsPayment">
                        <label for="applyAsPayment">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Apply") @L("As") @L("Payment")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-top-30">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="ticketPromotionApplyOnce" class="md-check" type="checkbox" ng-model="vm.ticketDiscountPromotion.promotionApplyOnce" ng-change="vm.changeTicketPromotionApplyOnce()">
                        <label for="ticketPromotionApplyOnce">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Apply") @L("Once")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-if="vm.ticketDiscountPromotion.promotionApplyOnce">
            <div class="form-group">
                <label class="control-label">@L("Apply") @L("Type")</label>
                <ui-select id="PromotionApplyTypeEditBox" class="borderself" ng-model="vm.ticketDiscountPromotion.promotionApplyType">
                    <ui-select-match>{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices ng-model="vm.ticketDiscountPromotion.promotionApplyType" repeat="item.value as item in vm.refPromotionApplyTypes | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</uib-tab>

<uib-tab heading='@L("BuyXAndYAtZValue")' tabindex="2" ng-if="vm.promotionTypeId==11">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                <label style="color: blue">@L("ItemCount")</label>
                <input onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                       class="form-control text-right input-lg" type="number" name="@L("ItemCount")" ng-class="{'edited':vm.buyXAndYAtZValuePromotion.itemCount}" ng-model="vm.buyXAndYAtZValuePromotion.itemCount">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-xs-line-input form-xs-floating-label no-hint">
                <label style="color: blue">@L("Value")</label>
                <input onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                       class="form-control text-right input-lg" type="number" name="@L("Value")" ng-class="{'edited':vm.buyXAndYAtZValuePromotion.value}" ng-model="vm.buyXAndYAtZValuePromotion.value">
            </div>
        </div>
    </div>
    <div class="row  margin-top-10">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.addbuyXAndYAtZValue()">
                <i class="glyphicon glyphicon-plus"></i>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <thead>
                <tr>
                    <th></th>
                    <th>@L("ProductGroup")</th>
                    <th>@L("Category")</th>
                    <th>@L("Menu")</th>
                    <th>@L("Portion")</th>
                </tr>
                </thead>
                <tr>
                <tr data-ng-repeat="(index,data) in vm.buyXAndYAtZValuePromotion.buyXAndYAtZValueExecutions">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removebuyXAndYAtZValue(index)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Step") @L("Discount")' ng-if="vm.promotionTypeId==12">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> @L("Step") @L("Type")</label>
                <select id="PromotionValueEditBox" class="form-control selectpicker"
                        data_live_search="true"
                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.refStepDiscountTypes"
                        ng-model="vm.stepDiscountPromotion.stepDiscountType" required>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="applyForEachQuantity" class="md-check" type="checkbox" ng-model="vm.stepDiscountPromotion.applyForEachQuantity">
                        <label for="applyForEachQuantity">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Apply") @L("For") @L("Each") @L("Quantity")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="panel panel-info margin-top-15">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
            <h3 class="panel-title bold">
                @L("Step") @L("Discount")
            </h3>
        </div>
        <div id="collapse1" class="collapse in">
            <div class="panel-body">
                <div class="row" ng-if="vm.stepDiscountPromotion.stepDiscountType>0">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                <span ng-if="vm.stepDiscountPromotion.stepDiscountType==1">@L("Quantity")</span>
                                <span ng-if="vm.stepDiscountPromotion.stepDiscountType==2">@L("Price")</span>
                            </label>
                            <input type="number" class="form-control"
                                   ng-class="{'edited':vm.stepDiscountPromotionInfo.promotionStepTypeValue}"
                                   ng-model="vm.stepDiscountPromotionInfo.promotionStepTypeValue" onkeypress="return NumberWithPoint(event, 'cancel')" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("Type")</label>
                            <select id="PromotionValueEditBox" class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.promotionValueTypes"
                                    ng-model="vm.stepDiscountPromotionInfo.promotionValueType">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.stepDiscountPromotion.stepDiscountType>0">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">@L("PromotionValue")</label>
                            <input type="number" class="form-control" ng-model="vm.stepDiscountPromotionInfo.promotionValue" name="promotionValue" onkeypress="return NumberWithPoint(event, 'cancel')">
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-20">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addStepDiscount(vm.stepDiscountPromotionInfo)">
                            @L("Add")
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped table-condensed table-bordered col-xs-12">
                            <thead>
                                <tr>
                                    <th class="text-center bold">
                                        <span ng-if="vm.stepDiscountPromotion.stepDiscountType==1">@L("Quantity")</span>
                                        <span ng-if="vm.stepDiscountPromotion.stepDiscountType==2">@L("Price")</span>
                                    </th>
                                    <th class="text-center bold">@L("Type")</th>
                                    <th class="text-center bold">@L("Value")</th>
                                    <th class="text-center bold">@L("Delete")</th>
                                </tr>

                            </thead>
                            <tr data-ng-repeat="(index,data) in vm.stepDiscountPromotion.stepDiscountExecutions">
                                <td class="col-xs-2 text-center">
                                    {{data.promotionStepTypeValue}}
                                </td>
                                <td class="col-xs-1 text-center">
                                    {{data.promotionValueTypeName}}
                                </td>
                                <td class="col-xs-1 text-center">
                                    <span> {{data.promotionValue}}</span>
                                </td>
                                <td class="col-xs-1 text-center">
                                    <button class="btn btn-danger btn-xs" data-ng-click="vm.removeStepDiscount(index)">
                                        <i class="fa fa-trash-o" />
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
                <div class="panel panel-info margin-top-15">
                    <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                        <h3 class="panel-title bold">
                            @L("Step") @L("Discount") @L("Mapping")
                        </h3>
                    </div>
                    <div id="collapse2" class="collapse in">
                        <div class="panel-body">
                            <div class="row  margin-top-10">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addStepDiscountMapping()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered col-sm-12">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>@L("ProductGroup")</th>
                                                <th>@L("Category")</th>
                                                <th>@L("Menu")</th>
                                                <th>@L("Portion")</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                        <tr data-ng-repeat="(index,data) in vm.stepDiscountPromotion.stepDiscountMappingExecutions">
                                            <td class="col-sm-1">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.removeStepDiscountMapping(index)">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                    <span></span>
                                                </button>
                                            </td>
                                            <td class="col-sm-2">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" value='@L("ProductGroup")' ng-if="data.productGroupId==0||data.productGroupId==null" data-ng-click="vm.openforProductGroupItem(data)">
                                                    <input type="button" class="btn btn-primary" value="{{ data.productGroupId }} - {{ data.productGroupName }}" ng-if="data.productGroupId!=0&&data.productGroupId!=null" data-ng-click="vm.openforProductGroupItem(data)">
                                                </div>
                                            </td>
                                            <td class="col-sm-3">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" value='@L("Category")' ng-if="data.categoryId==0" data-ng-click="vm.openforCategoryItem(data)">
                                                    <input type="button" class="btn btn-primary" value="{{ data.categoryId }} - {{ data.categoryName }}" ng-if="data.categoryId!=0" data-ng-click="vm.openforCategoryItem(data)">
                                                </div>
                                            </td>
                                            <td class="col-sm-3">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="data.menuItemId==0" data-ng-click="vm.openforMenuItem(data)">
                                                    <input type="button" class="btn btn-primary" value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}" ng-if="data.menuItemId!=0" data-ng-click="vm.openforMenuItem(data)">
                                                </div>
                                            </td>
                                            <td class="col-sm-3">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                                                    <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.portionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</uib-tab>
</uib-tabset>
</div>
<div class="modal-footer">
    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"
            ng-disabled="detailform.$invalid || vm.promotion.promotionSchedules.length == 0 || vm.disabledSaveforLastTab || vm.promotionTypeId == 0">
        <i class="fa fa-save"></i>
        <span>@L("Save")</span>
    </button>
</div>
</form>
</div>
</div>
</div>
</div>