﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.menu.promotion.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Promotion").Pluralize()</span> <small>@L("PromotionHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="md-checkbox-list" style="display: inline;">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="isDeleted" class="md-check" type="checkbox" ng-model="vm.isDeleted" ng-change="vm.getAll()">
                    <label for="isDeleted">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Deleted")</strong>
                    </label>
                </div>
            </div>
            <button class="btn btn-primary red" ng-click="vm.sortPromotion()">
                <i class="fa fa-ellipsis-v"></i> @L("Sort")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportPromotion")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createPromotion()">
                <i class="fa fa-plus"></i> @L("CreatePromotion")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body">

                        <div class="row" ng-if="!vm.allPromotion">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Date")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" ng-change="vm.getAll()" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Type")</label>
                                    <ui-select multiple ng-model="vm.types" class="form-control">
                                        <ui-select-match placeholder=@L("PromotionType")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="dept in vm.promotionTypes">
                                            <small>
                                                {{ dept.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="!vm.isDeleted">
                            <div class="col-md-6">
                                <div class="md-checkbox-list" style="display: inline;">
                                    <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                                        <input id="noFilter" class="md-check" type="checkbox" ng-model="vm.allPromotion">
                                        <label for="noFilter">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <strong>@L("NoFilter")</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-refresh"></i> @L("Refresh")</button>
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i> @L("Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>