﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.intertransfer.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Transfer") @L("Request")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createInterTransfer()">
                <i class="fa fa-plus"></i> @L("CreateRequest")
            </button>

        </div>
    </div>

    <div class="row margin-bottom-5" busy-if="vm.loadingDashboard">
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            {{ vm.totalPending }}<small class="font-green-sharp"></small>
                        </h3>
                        <small>@L("Pending").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pause"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.totalApproved}}</h3>
                        <small>@L("Approved").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="icon-like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.totalRejected}}</h3>
                        <small>@L("Declined").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">{{ vm.totalReceived }}</h3>
                        <small>@L("Received").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-level-down"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("RequestLocation")</label>
                                    <input ng-model="vm.filterText" auto-focus class="form-control" type="text" placeholder='@L("RequestLocation")'>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <label class="control-label">@L("Status")</label>
                                <input type="text" class="form-control" ng-model="vm.status" placeholder='@L("Status")'>
                            </div>
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>
                                    @*</div>
                                        <div class="col-xs-2">*@
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Group") &nbsp; <a ng-if="vm.materialGroupRefId" ng-click="vm.materialGroupRefId=null; vm.materialGroupCategoryRefId=null;">Clear</a></label>
                                    <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-change="vm.fillDropDownMaterialGroupCategory();vm.materialGroupCategoryRefId=null;" ng-model="vm.materialGroupRefId">
                                        <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Category") &nbsp; <a ng-if="vm.materialGroupCategoryRefId" ng-click="vm.materialGroupCategoryRefId=null;">Clear</a> </label>
                                    <ui-select class="borderself" id="selMaterialCategoryRefId" ng-model="vm.materialGroupCategoryRefId" ng-change="vm.getAll();">
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-1">
                                <label class="control-label">@L("Id")</label>
                                <input type="text" class="form-control" ng-model="vm.id" placeholder='@L("Id")' onkeypress="return NumberOnly(event,null)">
                            </div>
                            <div class="col-xs-2 text-right">
                                <button class="btn yellow" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                                <button class="btn  btn-primary blue" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 60vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":
                     "" )></div>
            </div>
        </div>
    </div>
</div>

