﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 95%;
    }

    .fontreport {
        font-family: 'Courier New';
        font-size: medium
    }
</style>

<div class="modal-dialog ">
    <div class="modal-header" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="modal-title">
                    <span class="caption-subject bold">@L("Request") : {{vm.interTransfer.id}}</span>
                </h4>
            </div>
            <div class="col-xs-4">
                <h4 class="caption-subject bold">
                    @L("Request") @L("Date") : {{vm.interTransfer.requestDate | date :'dd-MMM-yyyy HH:mm:ss'}}
                </h4>
            </div>

            <div class="col-xs-4">
                <h4 style="color:red" class="caption-subject bold">
                    @L("DeliveryDateRequested") : {{vm.interTransfer.deliveryDateRequested | date :'dd-MMM-yyyy HH:mm:ss'}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h4 class="caption-subject bold">
                    @L("Location") : {{vm.interTransfer.locationRefName}}
                </h4>
            </div>
            <div class="col-xs-4">
                <h4 class="caption-subject bold">
                    @L("Request") @L("Location") : {{vm.interTransfer.requestLocationRefName}}
                </h4>
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-primary blue" ng-if="vm.manualCompleteAllowed" ng-click="vm.setPoAsCompletion()">
                    @L("SetPoAsCompletion")
                </button>

                <button class="btn btn-default" ng-click="vm.cancel()">
                    @L("Close")
                </button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="portlet light">
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>

        </div>
    </div>
    @*<center>
            <div ng-show="vm.poreport.length>0">
                <textarea class="fontreport" name="text" rows="50" cols="120">{{vm.poreport}}</textarea>
            </div>
        </center>
        <div id="regReport" >

        </div>*@
</div>