﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    function myFunction() {
        document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>
<div ng-controller="tenant.views.house.transaction.intertransfer.RequestPrint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
            <a ng-click="vm.sendMail()">  <span class="">   <i class="fa fa-envelope"></i></span> </a>

        </div>
    </div>
    <div id="editor"></div>
    <div class="row" busy-if="vm.loadingCount">
        <div class="col-xs-10">
            <center><h3><u> <b> @L("InterTransferRequest")</b> <span ng-if="vm.intertransfer.currentStatus=='Q'"> - @L("RequestApprovalPending") </span>  </u></h3></center>
        </div>
    </div>
    <div class="row" busy-if="vm.loadingCount">
        <div class="col-xs-4">
            <h6 class="bold">    @L("Id"): {{vm.intertransfer.id}} </h6>
        </div>
        <div class="col-xs-4">
            <h6 class="bold">   @L("RequestDate"): {{vm.intertransfer.requestDate | date : 'EEE dd-MMM-yyyy'}} </h6>
        </div>
        <div class="col-xs-4">
            <h6 class="bold">   @L("DeliveryDateRequested"): {{vm.intertransfer.deliveryDateRequested | date : 'EEE dd-MMM-yyyy'}} </h6>
        </div>
    </div>
    <h6>
        <div busy-if="vm.loadingCount">
            <div class="row">
                <div class="col-xs-4">
                    <b>   @L("Location")</b>
                </div>
                <div class="col-xs-6">
                    <b>  @L("RequestedTo") </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{vm.billinglocation.name}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{vm.billinglocation.address1}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{vm.billinglocation.address2}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address2}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{vm.billinglocation.address3}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address3}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{vm.billinglocation.city}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.city}}
                </div>
            </div>
        </div>
    </h6>
    <br />
    @L("RequestHeader")
    <div id="content" ng-if="vm.tempdetaildata.length>=5" busy-if="vm.loadingCount">
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th># . </th>
                            <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                            <th>@L("Material")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th>@L("UOM")</th>
                            <th>@L("Remarks")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                        <td class="col-xs-1">
                            {{data.sno}}
                        </td>
                        <td class="col-xs-2" ng-if="vm.permissions.printMaterialCode">
                            <b ng-if="data.materialPetName!=data.materialRefName"> {{data.materialPetName}} </b>
                        </td>
                        <td class="col-xs-3">
                            <b> {{data.materialRefName}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.requestQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-2">
                            {{data.unitRefName}}
                        </td>
                        <td class="col-xs-4">
                            {{data.requestRemarks}}
                            <br ng-if="data.poCurrentStatus.length>0" />
                            <span>{{data.poCurrentStatus}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="smallcontent" ng-if="vm.tempdetaildata.length<5" busy-if="vm.loadingCount">
        <div class="row margin-top-10">
            <table class="table table-striped table-bordered col-xs-12">
                <thead>
                    <tr>
                        <th># . </th>
                        <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                        <th>@L("Material")</th>
                        <th class="text-right">@L("Qty")</th>
                        <th>@L("UOM")</th>
                        <th>@L("Remarks")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                    <td class="col-xs-1">
                        {{data.sno}}
                    </td>
                    <td class="col-xs-2" ng-if="vm.permissions.printMaterialCode">
                        <b ng-if="data.materialPetName!=data.materialRefName"> {{data.materialPetName}} </b>
                    </td>
                    <td class="col-xs-3">
                        <b> {{data.materialRefName}} </b>
                    </td>
                    <td class="col-xs-1 text-right">
                        <b>  {{data.requestQty | number:vm.housedecimals}}</b>
                    </td>
                    <td class="col-xs-2">
                        {{data.unitRefName}}
                    </td>
                    <td class="col-xs-4">
                        {{data.requestRemarks}}
                        <br ng-if="data.poCurrentStatus.length>0" />
                        <span>{{data.poCurrentStatus}}</span>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    @L("CreatedBy") : {{vm.user.name}}
    <div>
        <div class="row">
            <div class="col-xs-12">
                <small>  @L("SignNotRequired") </small>
            </div>
        </div>
    </div>
    <br/>
    <a ng-click="vm.gotoIndex()">@L("Redirect") @L("To")  @L("View")</a>
</div>