﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.intertransfer.request as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title" ng-if="!vm.directTransfer">
                    <h1>
                        <span ng-if="vm.intertransfer.id">@L("EditInterTransferRequest"): {{vm.intertransfer.Id}}</span>
                        <span ng-if="!vm.intertransfer.id">@L("CreateInterTransferRequest")</span>
                    </h1>
                </div>

                <div class="page-title" ng-if="vm.directTransfer">
                    <h1>
                        <span ng-if="vm.intertransfer.id">@L("EditInterTransferApprovalReceived"): {{vm.intertransfer.Id}}</span>
                        <span ng-if="!vm.intertransfer.id">@L("CreateInterTransferApprovalReceived")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="md-checkbox">
                <input id="AutoRequest" class="md-check" type="checkbox" name="AutoRequest" ng-class="{'edited':vm.isHighValueItemOnly }" ng-model="vm.autoRequestFlag">
                <label style="color:black" for="AutoRequest">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("AutoRequest")
                </label>
            </div>
        </div>
        <div class="col-xs-3  text-right">
            <div class="form-group" ng-disabled="vm.tempdetaildata.length>1">
                <ui-select class="borderself" ng-disabled="vm.intertransfer.id || vm.tempdetaildata.length>1" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()">
                    <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button class="btn blue " type="button" ng-if="vm.template" ng-disabled="vm.intertransfer.id || vm.tempdetaildata.length>1" ng-click="vm.fillDataFromTemplate()"><i class="fa fa-refresh"></i> </button>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body" busy-if="vm.loading || vm.loadingCount">
            <div class="form">
                <form name="intertransferRequestForm">
                    <div class="form-body">
                        <div class="row" ng-show="vm.timeElapsedAlert.length>0">
                            <div class="col-xs-12">
                                <span style="color:red">
                                    @L("Note") : {{vm.timeElapsedAlert}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">@L("RequestFrom")</label>
                                    <ui-select class="borderself" id="defaultLocation" ng-change="vm.fillDropDownLocation();vm.setTimeElapsedAlert();"
                                               ng-disabled="!vm.permissions.requestForOtherLocation"
                                               ng-model="vm.intertransfer.locationRefId" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.allowedLocation | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">@L("RequestedTo")</label>
                                    <ui-select class="borderself" ng-model="vm.intertransfer.requestLocationRefId" required>
                                        <ui-select-match id="selreqLocationRefid" placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.filteredreflocations | filter: $select.search ">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">@L("RequestDate")</label>

                                <input name="reqDate" class="form-control date-picker" ng-class="{'edited':vm.intertransfer.requestDate}" ng-model="vm.intertransfer.requestDate" ng-change="vm.setDeliveryDateMinDate()" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">@L("DeliveryDateRequested")</label>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input ame="deliveryDateRequested" class="form-control" date-picker-input ng-class="{'edited':vm.deliveryDateRequested}" data-ng-model="vm.deliveryDateRequested" ng-disabled="!vm.permissions.editDeliveryDate && vm.deliveryDateRequested==null && vm.intertransfer.id!=null" type="text" required data-date-time-input="YYYY-MMM-DD HH:mm">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="vm.deliveryDateRequested" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                                <div class="col-sm-2">
                                    <label>@L("Ref#") #</label>
                                    <input type="text" id="refno" class="form-control" ng-class="{'edited':vm.intertransfer.docReferenceNumber}"
                                           ng-model="vm.intertransfer.docReferenceNumber">

                                </div>
                            </div>

                        <div class="row" ng-if="vm.intertransfer.requestLocationRefId && vm.intertransfer.locationRefId">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("Group")</label>
                                    <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-change="vm.fillDropDownMaterialGroupCategory();vm.materialGroupCategoryRefId=null;" ng-model="vm.materialGroupRefId">
                                        <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("Category")</label>
                                    <ui-select class="borderself" id="selMaterialCategoryRefId" ng-model="vm.materialGroupCategoryRefId">
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-2 margin-top-20">
                                <div class="form-group">
                                    <button class="btn blue" type="button" ng-disabled="!vm.materialGroupCategoryRefId" ng-click="vm.getDetailMaterial()"><span>@L("FillCategoryMaterial")</span> </button>
                                </div>
                            </div>

                            <div class="col-xs-2 margin-top-20">
                                <div class="form-group">
                                    <button class="btn btn-danger " type="button" ng-click="vm.removeUnfilled()"><span>@L("RemoveUnfilled")</span> </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.autoRequestFlag">
                            <div class="col-xs-3">
                                <label class="control-label">@L("ConsumptionBasedOn")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group no-hint">
                                    <label>@L("Request") @L("Days")</label>
                                    <input class="form-control text-right" type="number" onkeypress="return NumberOnly(event, 'cancel')" id="nextndays" name="nextndays" ng-model="vm.nextndays" maxlength="3">
                                </div>
                            </div>

                            <div class="col-xs-3 margin-top-20">
                                <button class="btn btn-primary" ng-disabled="!vm.nextndays" ng-click="vm.autoRequest('AVGCONSUMPTION')">
                                    <i class="fa fa-shopping-cart"></i> @L("AutoRequest") - @L("ConsumptionBased")
                                </button>
                            </div>
                            <div class="col-xs-3 margin-top-20">
                                <button class="btn btn-primary" ng-disabled="vm.nextndays" ng-click="vm.autoRequest('ROLBASED')">
                                    <i class="fa fa-shopping-cart"></i> @L("AutoRequest") - @L("ROLBased")
                                </button>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.intertransfer.requestLocationRefId && vm.intertransfer.locationRefId">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th ng-if="false">@L("Code")</th>
                                            <th ng-if="vm.permissions.barcodeUsage">@L("Barcode")</th>
                                            <th>@L("MaterialName")</th>
                                            <th>@L("MaterialType")</th>
                                            <th class="text-right" ng-if="!vm.permissions.hideStock">@L("OnHand")/@L("UOM")</th>
                                            <th class="text-right">@L("Qty") / @L("Remarks")</th>
                                            <th>@L("UOM")</th>
                                            <th>@L("Next")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                                        <td class="col-sm-1">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                            @*<input type="button" class="btn btn-primary fa-pull-right" value="@L("Edit")" data-ng-click="data.editFlag=true;" ng-if="data.editFlag==false" />*@
                                            <br /><br />
                                            <input type="button" class="btn btn-primary" value="@L("UsagePattern")" data-ng-show="data.materialRefId" data-ng-click="vm.openPatternView(data.materialRefId,data.materialRefName,data.usagePatternList,data.uom)" />
                                        </td>
                                        <td class="col-sm-1" ng-if="false">
                                            <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" />
                                        </td>
                                        <td class="col-sm-1" ng-if="vm.permissions.barcodeUsage">
                                            <input autofocus class="form-control" type="text" id="barcode" ng-class="{'edited':data.barcode}" ng-model="data.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(data,index)" ng-disabled="data.materialRefId" ng-attr-id="{{'barcode-' + index}}" ng-keypress="vm.barcodeKeyPress(index,$event)">
                                        </td>
                                        <td class="col-sm-3" busy-if="vm.materialLoading">
                                            <a ng-if="!data.editFlag" ng-disabled="vm.intertransfer.id" ng-click="data.editFlag=true;"><span><b> {{data.materialRefName}} </b> </span> </a>
                                            <ui-select ng-if="data.editFlag" class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-required="true" ng-change="func(data,$select.selected,index)" ng-model="data.materialRefId" ng-attr-id="{{'uimaterialname-' + index}}">
                                                <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="mat.id as mat in vm.tempRefMaterial | filter: $select.search | limitTo: vm.uilimit">
                                                    <div ng-bind="mat.materialName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-sm-1">
                                            <input id="materialTypeName" type="text" class="form-control" ng-model="data.materialTypeName" ng-disabled="true" />
                                        </td>
                                        <td class="col-sm-2 text-right text-bold" ng-if="!vm.permissions.hideStock">
                                            <span>{{data.onHand | number :6}} / {{data.uom}} </span>
                                            <br ng-if="data.reservedIssueQuantity >0" />
                                            <span ng-if="data.reservedIssueQuantity >0"> @L("Reserved") @L("Issue") : {{data.reservedIssueQuantity | number : 6}} </span>
                                            <br ng-if="data.reservedYieldQuantity >0" />
                                            <span ng-if="data.reservedYieldQuantity >0"> @L("Reserved") @L("Yield") : {{data.reservedYieldQuantity | number  : 6}} </span>
                                        </td>
                                        <td class="col-sm-2">
                                            <input id="rcdqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" ng-attr-id="{{'rcdqty-' + index}}"
                                                   placeholder="Qty" ng-keypress="vm.qtyKeyPress(index,$event)" maxlength="10"
                                                   ng-model="data.requestQty" required />
                                            <br />
                                            <div class="input-group">
                                                <input id="remarks" type="text" placeholder="@L("Remarks")" class="form-control" ng-model="data.requestRemarks" />
                                                <span class="input-group-btn">
                                                    <button ng-click="vm.loading = true;vm.openManualReason(data,'requestRemarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="col-sm-1">
                                            <a ng-if="!data.changeunitflag" ng-disabled="vm.intertransfer.id" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                            <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="vm.intertransfer.id || !vm.mutlipleUomAllowed">
                                                <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-sm-1">
                                            <button type="submit" class="btn btn-primary" ng-attr-id="{{'btnadd-' + index}}" data-ng-click="vm.addPortion(index)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-20" ng-if="vm.intertransfer.requestLocationRefId && vm.intertransfer.locationRefId && vm.directTransfer && vm.permissions.transportAllowed">
                        <div class="col-xs-6" ng-if="vm.permissions.transportAllowed">
                            <div ng-if="vm.permissions.transportAllowed">
                                <label>@L("Vehicle") #</label>
                                <input type="text" id="vehiclenumber" ng-class="{'edited':vm.intertransfer.vehicleNumber}"
                                       ng-model="vm.intertransfer.vehicleNumber" autocomplete="on">

                            </div>
                        </div>
                        <div class="col-xs-6" ng-if="vm.permissions.transportAllowed">
                            <div></div>
                            <label>@L("Incharge")</label>
                            <input type="text" width="120" id="incharge"
                                   ng-class="{'edited':vm.intertransfer.personInCharge}" ng-model="vm.intertransfer.personInCharge" autocomplete="on">
                        </div>

                    </div>
                    <div class="modal-footer" ng-if="vm.intertransfer.requestLocationRefId && vm.intertransfer.locationRefId">
                        <div class="col-xs-2 text-left margin-bottom-40">
                            <div class="md-checkbox">
                                <input id="SaveAsTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templateflag" style="text-decoration: line-through;">
                                <label style="color:black" for="SaveAsTemplate">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("SaveAsTemplate")
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <div class="form-group" ng-show="vm.templatesave.templateflag">
                                @*<label class="control-label">@L("TemplateName")</label>*@
                                <input id="tname" placeholder=@L("TemplateName") type="text" class="form-control ucase" ng-model="vm.templatesave.templatename" ng-disabled="!vm.templatesave.templateflag" />
                            </div>
                        </div>
                        <div class="col-xs-2 text-left" @*ng-show="vm.templatesave.templateflag"*@>
                            <div class="md-checkbox" ng-disabled="!vm.templatesave.templateflag" ng-show="vm.templatesave.templateflag">
                                <input id="GlobalTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templatescope" style="text-decoration: line-through;">
                                <label style="color:black" for="GlobalTemplate">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("GlobalTemplate")
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" ng-if="!vm.directTransfer" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save('Q')" ng-disabled="intertransferRequestForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                            </button>
                            <button type="submit" button-busy="vm.saving" ng-if="!vm.directTransfer && vm.permissions.approveRequest" busy-text="@L("Approve")" class="btn btn-primary blue" ng-click="vm.save('A')" ng-disabled="intertransferRequestForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("SaveAndApprove")</span>
                            </button>

                            <button type="submit" button-busy="vm.saving" ng-if="vm.directTransfer" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.makeRequestAndApproval(1)" ng-disabled="intertransferRequestForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Approve")</span>
                            </button>

                            <button type="submit" button-busy="vm.saving" ng-if="vm.directTransfer && vm.permissions.directapproveandreceive" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.makeRequestAndApproval(2)" ng-disabled="intertransferRequestForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("ApproveAndReceive")</span>
                            </button>
                        </div>

                    </div>
                    <div class="row">
                        @*<span class="fa-pull-left bold" style="color:blue">
                            @L("RequestAlert1")
                        </span>*@
                        <span ng-if="vm.intertransfer.requestLocationRefId && vm.intertransfer.locationRefId && intertransferRequestForm.$invalid" class="fa-pull-right bold" style="color:blue">
                            @L("RequestAlert2")
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

