﻿<div>
    <div class="modal-header">
        <div class="col-xs-10">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("UsagePattern") -  {{vm.materialRefName}} -  {{vm.uom}}</span>
            </h5>
        </div>
        <div class="col-xs-2 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered col-sm-12">
                    <thead>
                        <tr>
                            <th>@L("LastDaysCount")</th>
                            <th>@L("Description")</th>
                            <th class="text-right">@L("AvgConsumption")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.usagePatternList">
                        <td class="col-sm-2 text-center">
                            {{data.days}}
                        </td>
                        <td class="col-sm-3">
                            {{data.description}}
                        </td>
                        <td class="col-sm-2 text-right">
                            {{data.consumption}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" > @L("UsagePatternAlert")</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
</div>
