﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div>
    <form name="documentinfoCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.documentinfo.id">@L("EditDocumentInfo"): {{vm.documentinfo.documentName}}</span>
                <span ng-if="!vm.documentinfo.id">@L("CreateDocumentInfo")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="documentname" ng-class="{'edited':vm.documentinfo.documentName}" ng-model="vm.documentinfo.documentName" required>
                        <label>@L("DocumentName")</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="control-label">@L("Applicable")<span class="bold" style="font-size:small; color:red"> *</span></label>
                    <ui-select class="borderself" ng-required="true" ng-model="vm.documentinfo.documentType" required>
                        <ui-select-match placeholder="Select Document Type ...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.refdocumentType | filter: $select.search| limitTo: vm.uilimit">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                
            </div>
            <div class="row margin-top-40">
                <div class="col-xs-12" id="islifetime">
                    <div class="md-checkbox tp-bottom">
                        <input id="IsLifeTime" class="md-check" type="checkbox" name="IsLifeTime" ng-class="{'edited':vm.documentinfo.lifeTimeFlag}"
                               ng-model="vm.documentinfo.lifeTimeFlag" @*onclick="enable_text(this.checked)"*@>
                        <label for="IsLifeTime">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsLifeTime")
                        </label>
                    </div>
                </div>
            </div>

            <div class="row margin-top-40" ng-if="!vm.documentinfo.lifeTimeFlag">
                <div class="col-xs-6" ng-if="!vm.documentinfo.lifeTimeFlag">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event,'cancel')" id="DefaultAlertDays" class="form-control" type="text" name="DefaultAlertDays"
                               ng-class="{'edited':vm.documentinfo.defaultAlertDays}" ng-model="vm.documentinfo.defaultAlertDays" ng-click="vm.hideCheck()" />
                        <label>@L("DefaultAlertDays")</label>
                    </div>
                </div>
                <div class="col-xs-6" ng-if="!vm.documentinfo.lifeTimeFlag">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event,'cancel')" id="DefaultExpiryDays" class="form-control" type="text" name="DefaultExpiryDays"
                               ng-class="{'edited':vm.documentinfo.defaultExpiryDays}" ng-model="vm.documentinfo.defaultExpiryDays" ng-click="vm.hideCheck()" />
                        <label>@L("Default") @L("Expiry") @L("Days")</label>
                    </div>
                </div>
            </div>
            <div class="row margin-top-40">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input  no-hint">
                        <label class="control-label">@L("SkillSet")*</label>
                        <ui-select autofocus multiple id="skillsetRefId" required ng-model="vm.skillSetRefId" class="form-control">
                            <ui-select-match>{{$item.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item as item in vm.refskillset | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="documentinfoCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

