﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.hr.master.documentinfo.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("DocumentInfo").Pluralize()</span> @*<small>@L("DocumentInfoHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDocumentInfo()">
                <i class="fa fa-plus"></i> @L("CreateDocumentInfo")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-7">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("DocumentName")" type="text">
                            </div>

                            <div class="col-xs-4">
                                <ui-select class="borderself" ng-model="vm.documentType">
                                    <ui-select-match placeholder="Search by Document Type ...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refdocumentType | filter: $select.search| limitTo: vm.uilimit">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span><a ng-if="vm.documentType" ng-click="vm.documentType=null;"> &nbsp;&nbsp; @L("Clear")</a></span>
                            </div>
                            <div class="col-xs-1">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </div>
                            @*<span class="input-group-btn">
                                    <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height:70vh">
            <div busy-if="vm.loading" style="height:100%">
                <div ui-grid="vm.userGridOptions" style="height:100%" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

