﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="biometricexcludedentryCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.biometricexcludedentry.id">@L("EditBioMetricExcludedEntry"): {{vm.biometricexcludedentry.id}}</span>
                <span ng-if="!vm.biometricexcludedentry.id">@L("CreateBioMetricExcludedEntry")</span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("Employee")</label>
                        <ui-select id="empid" class="borderself" ng-model="vm.biometricexcludedentry.employeeRefId" ng-disabled="vm.argemployeerefid">
                            <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refemployeecode | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("ProjectCostCentre")</label>
                        <ui-select id="empid" class="borderself" ng-model="vm.biometricexcludedentry.projectCostCentreRefId">
                            <ui-select-match placeholder="Select Project...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refprojcostcentre | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-xs-6">
            <label>@L("FromDate")</label>
            <input onkeydown="return false" type="text" id="stDate" ng-model="vm.biometricexcludedentry.excludeFromDate"
                   class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-change="validateDate()" ng-disabled="vm.argemployeerefid" />
        </div>
        <div class="col-xs-6">
            <label>@L("ToDate")</label>
            <input onkeydown="return false" type="text" id="endDate" ng-model="vm.biometricexcludedentry.excludeToDate" class="form-control"
                   uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-close-text="Close" alt-input-formats="altInputFormats"
                   ng-click="open2()" ng-change="validateDate()" />
        </div>*@
                {{vm.biometricexcludedentry.excludeFromDate | date : 'dd-MMM-yyyy'}} 
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="Reason" ng-class="{'edited':vm.biometricexcludedentry.reason}" ng-model="vm.biometricexcludedentry.reason" ng-minlength="5" required />
                        <label>@L("Reason")</label>
                    </div>
                </div>
            </div>

            </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="biometricexcludedentryCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

