@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>
<div ng-controller="tenant.views.connect.report.tickets.abbreprint as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ReprintReceiptReport")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Plants")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getReport()">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
										   class="form-control date-picker" ng-model="vm.dateRangeModel" />

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("TicketNumber")</label>
									<input ng-model="vm.ticketNumber" auto-focus class="form-control" type="text">

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("SaleStatus")</label>
									<select class="form-control" ng-model="vm.saleStatus">
										<option value="All" selected>@L("All")</option>
										<option value="Sale">@L("Sale")</option>
										<option value="Return">@L("Return")</option>
										<option value="Refund">@L("Refund")</option>
									</select>
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-if="!vm.requestParams.noSales">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="Gift" class="md-check" type="checkbox" ng-checked="vm.isMoreThanOneReprintChecked" ng-class="{'edited':vm.isMoreThanOneReprintChecked}" ng-model="vm.isMoreThanOneReprintChecked" style="text-decoration: line-through;">
											<label for="Gift">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("MoreThanOneReprint")
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="row  margin-top-10 margin-bottom-10">
						<div class="col-xs-12" ng-if="true">
							<query-builder options="builder.options" builder="builder.builder"></query-builder>
						</div>
					</div>

					<div class="col-sm-12 text-right">
						<button class="btn blue" ng-click="vm.clear()">
							<i class="fa fa-eraser"></i> @L("Clear")
						</button>
						<div class="btn-group">
							<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
								<i class="fa fa-file-excel-o"></i> @L("Export")
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
								</li>
								<li>
									<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
								</li>
							</ul>

						</div>
						<button class="btn blue" ng-click="vm.getReport()">
							<i class=" fa fa-refresh"></i> @L("Refresh")
						</button>
					</div>


				</form>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>