@using Humanizer
<div ng-controller="host.views.swipe.swipedashboard as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-9">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Dashboard")</span> 
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <div class="form-group">
                <input date-range-picker type="text" options="vm.dateRangeOptions"
                       min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                       class="form-control date-picker bold"
                       style="background-color: orangered; color: white"
                       ng-change="vm.refresh()"
                       ng-model="vm.dateRangeModel" />
            </div>
        </div>
    </div>


    <div class="row" busy-if="vm.loading">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-dark">
                            <small class="font-green-dark">{{ vm.currencyText }}</small>
                            {{ vm.totalAmountBalance }}
                        </h3>
                        <small class="font-green-dark">@L("TotalCardBalance").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-dark">
                        <small class="font-blue-dark">{{ vm.currencyText }}</small>
                            {{ vm.refundableDepositCollected }}</h3>
                        <small class="font-blue-dark">@L("RefundableDeposit").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">{{ vm.numberOfCardsActivated }}</h3>
                        <small class="font-green-sharp">@L("TotalActiveCards").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.numberOfCardsDorment }}</h3>
                        <small class="font-red-haze">@L("TotalDormentCards").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.swipeCardTypeList.length>0" busy-if="vm.loading">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase"><b> @L("SwipeCardType")</b></span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table ng-table="vm.tableParams" class="table table-bordered table-hover">
                            <tr ng-repeat="data in $data">
                                <td title="getLValue('Name')" sortable="'name'">
                                    
                                    <h5>
                                        <b>{{data.cardDetails.name}} </b>
                                    </h5>
                                    
                                </td>
                                <td title="getLValue('TotalCards')" align="right">
                                    <h5> {{data.numberOfCardsGenerated | number : 0}} </h5>
                                </td>
                                <td title="getLValue('ActiveCards')"  align="right">
                                    <h5>
                                        {{data.numberOfCardsActivated | number : 0}}
                                    </h5>
                                </td>
                                <td title="getLValue('DormentCards')"  align="right">
                                    <h5>
                                        {{data.numberOfCardsDorment | number : 0}}
                                    </h5>
                                </td>
                                <td title="getLValue('Balance')" align="right">
                                    <h5> {{data.totalAmountBalance | number : 2}} </h5>
                                </td>
                                @*<td title="getLValue('Confiscated')"  align="right">
                                    <h5> {{data.totalAmountConfiscated | number : 2}} </h5>
                                </td>*@
                                <td title="getLValue('RefundableDeposit')" align="right">
                                    <h5> {{data.refundableDepositCollected | number : 2}} </h5>
                                </td>
                                <td title="getLValue('NonRefundableDeposit')" align="right">
                                    <h5> {{data.nonRefundableDepositCollected | number : 2}} </h5>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" busy-if="vm.loading">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">@L("TransactionSummary")</span>
                    </div>

                </div>

                <div class="portlet-body">
                    <div id="transaction_stats" style="height: 400px">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>