﻿<div ng-controller="tenant.views.connect.menu.screenmenuitem.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.categoryId">@L("Create")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div busy-if="vm.loading" class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform" ng-disabled="vm.saving">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("ButtonColor")</label>
                                    <input type="text" class="form-control" color-picker color-picker-position="bottom" color-picker-outputformat="hex" color-picker-model="vm.menuitem.buttonColor" ng-style="{background:vm.menuitem.buttonColor}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("FontSize")</label>
                                    <input type="number" class="form-control" ng-model="vm.menuitem.fontSize" name="fontSize" class="form-control text-uppercase">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("OrderTag")</label>
                                    <input type="text" class="form-control" ng-model="vm.menuitem.orderTags">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="control-label">@L("SubMenuTag")</span>
                                    <tags-input ng-model="vm.subMenuTags" placeholder="Add a tag" replace-spaces-with-dashes="false">
                                    </tags-input>
                                    @*<input type="text" class="form-control" ng-model="vm.menuitem.subMenuTag">*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("ConfirmationType")</label>
                                    <select id="ConfirmationType" class="form-control selectpicker" data_live_search="true"
                                            ng-options="item.value as item.displayText for item in vm.confirmationTypes" ng-model="vm.menuitem.confirmationType">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="WeightedItem" class="md-check" type="checkbox" ng-model="vm.menuitem.weightedItem">
                                            <label for="WeightedItem">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("WeightedItem")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <dualmultiselect options="vm.groupOptions">
                                </dualmultiselect>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.menuitem.portions.length==0">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>