﻿@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<div ng-controller="tenant.views.connect.menu.screenmenuitem.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.menuitem.id">{{vm.menuitem.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform" ng-disabled="vm.saving">
                    <div class="form-body">
                        <uib-tabset class="tab-container tabbable-line" id="tabs">
                            <uib-tab heading='@L("BasicInformation")'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("Name")</label>
                                            <textarea type="text" ng-model="vm.menuitem.name" name="name" class="form-control" rows="2" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("MenuItem")</label><br />
                                            <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="vm.modelMenuItemId==0" data-ng-click="vm.openforMenuItem()" required>
                                            <input type="button" class="btn btn-primary" value='{{ vm.modelMenuItemId}} - {{vm.modelMenuItemName}}' ng-if="vm.modelMenuItemId!=0" data-ng-click="vm.openforMenuItem()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("ButtonColor")</label>
                                            <input type="text" class="form-control" color-picker color-picker-position="bottom" color-picker-model="vm.menuitem.buttonColor" ng-style="{background:vm.menuitem.buttonColor}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("FontSize")</label>
                                            <input type="number" ng-model="vm.menuitem.fontSize" name="fontSize" class="form-control text-uppercase">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("OrderTag")</label>
                                            <input type="text" class="form-control" ng-model="vm.menuitem.orderTags">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="control-label">@L("SubMenuTag")</span>
                                            @*<input type="text" class="form-control" ng-model="vm.menuitem.subMenuTag">*@
                                            <tags-input ng-model="vm.tags" placeholder="Add a tag" replace-spaces-with-dashes="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("ConfirmationType")</label>
                                            <select id="ConfirmationType" class="form-control selectpicker" data_live_search="true"
                                                    ng-options="item.value as item.displayText for item in vm.confirmationTypes" ng-model="vm.menuitem.confirmationType">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="autoSelect" class="md-check" type="checkbox" ng-model="vm.menuitem.autoSelect">
                                                    <label for="autoSelect">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AutoSelect")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="showAliasName" class="md-check" type="checkbox" ng-model="vm.menuitem.showAliasName">
                                                    <label for="showAliasName">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("ShowAliasName")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="WeightedItem" class="md-check" type="checkbox" ng-model="vm.menuitem.weightedItem">
                                                    <label for="WeightedItem">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("WeightedItem")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="copyAll" class="md-check" type="checkbox" ng-model="vm.copyAll">
                                                    <label for="copyAll">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("CopyToAll")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="voucherItem" class="md-check" type="checkbox" ng-model="vm.menuitem.voucherItem">
                                                    <label for="voucherItem">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("VoucherItem")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-if="vm.menuitem.voucherItem">
                                        <div class="form-group">
                                            <label class="control-label">@L("CardType")</label>
                                            <select id="CardType" class="form-control selectpicker" data_live_search="true"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.cardTypes" ng-model="vm.menuitem.connectCardTypeId">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading='@L("Image").Pluralize()'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>@L("Image").Pluralize() </h3>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>@L("Name") </th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                                                    <td>
                                                        <strong>{{ file.fileName }}</strong>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                                            <span class="glyphicon  glyphicon-download-alt"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6" style="margin-bottom: 40px">
                                        <h3>@L("Select") </h3>
                                        <input type="file" nv-file-select="" uploader="vm.uploader" multiple accept="image/*" /><br />
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="50%">@L("Name") </th>
                                                    <th>@L("Size")</th>
                                                    <th>@L("Progress")</th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.uploader.queue">
                                                    <td>
                                                        <strong>{{ item.file.name }}</strong>
                                                    </td>
                                                    <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="vm.uploader.isHTML5">
                                                        <div class="progress" style="margin-bottom: 0;">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.modelMenuItemId==0">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>