﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.menu.screenmenuitem.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ScreenMenuItem").Pluralize()</span>
                        <small><button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.gotoCategory()"><i class="fa fa-long-arrow-left"></i></button></small> 
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary red" ng-click="vm.sortMenuItem()">
                @L("SortMenuItem")
            </button>
             <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createMenuItem()">
                <i class="fa fa-plus"></i> @L("CreateScreenMenuItem")</button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
        </div>
    </div>
</div>

