﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="common.views.externalLogs.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("ExternalLogs")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body" enter-key="vm.getExternalLogs()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Audit") @L("Type")</label>
                                    <ui-select multiple ng-model="vm.auditType" class="form-control">
                                        <ui-select-match placeholder="@L("Audit") @L("Type")">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="audittype in vm.auditTypes">
                                            <small>
                                                {{ audittype.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="btn-group">
                                <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                    <i class="fa fa-file-excel-o"></i> @L("Export")
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn blue" ng-click="vm.clear()">
                                <i class="fa fa-eraser"></i> @L("Clear")
                            </button>
                            <button class="btn blue" ng-click="vm.getExternalLogs()">
                                <i class="fa fa-refresh"></i> @L("Refresh")
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>