﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.house.master.housereport.purchasetaxDetailReport as vm">
    <div ng-if="!vm.isPurchaseAllowed">
        <h2>@L("PurchaseAllowedErr")</h2>
    </div>

    <div class="row margin-bottom-5" ng-if="vm.isPurchaseAllowed">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Purchase") @L("Tax") @L("Details") </span> <small>@L("Report")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
         
        </div>
    </div>

    <div class="portlet light" ng-if="vm.isPurchaseAllowed" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" ng-model="vm.supplierRefId" required>
                                        <ui-select-match id="selsupplierRefId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="searchflag" class="md-check" type="checkbox" ng-model="vm.exactsearch" name="searchflag" />
                                    <label for="searchflag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ExactInvoiceNumber")
                                    </label>

                                    <input class="form-control" type="text" name="Refno" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                @*<button class="btn blue margin-top-20" ng-click="vm.purchasereports()">
                                    <i class="fa fa-refresh"></i> @L("Refresh")
                                </button>*@
                                <button class="btn btn-primary purple margin-top-20" ng-click="vm.exportToExcel()">
                                    <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
                                </button>
                                &nbsp; &nbsp;
                                <button class="btn margin-top-20" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row" ng-if="vm.invoiceData.length>0 && vm.detailFlag" busy-if="vm.loading">
            <hr />
            <br />
            <div data-ng-repeat="(index,invoicedata) in vm.invoiceData">
                <div class="row" ng-init="vm.subtotal=0">
                    <div class="col-xs-3">
                        <b> @L("Location"): {{invoicedata.invoice.locationRefName}}</b>
                    </div>
                    <div class="col-xs-3">
                        <b>    {{invoicedata.invoice.invoiceDate | date : 'dd-MMM-yy' }}</b>
                    </div>
                    <div class="col-xs-3">
                        <b>    {{invoicedata.invoice.supplierRefName}}</b>
                    </div>
                    <div class="col-xs-3">
                        <b>   @L("Inv#"): {{invoicedata.invoice.invoiceNumber}}</b> , <b>    @L("Amount") : {{invoicedata.invoice.invoiceAmount | number : 2}} </b>
                    </div>
                </div>
                <table class="table table-striped table-bordered col-xs-8" ng-init="vm.subtotal=0">
                    <thead>
                        <tr>
                            <th class="text-right">@L("#")</th>
                            <th ng-if="false">@L("DC")</th>
                            <th>@L("MaterialName")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th class="text-right">@L("Cost")</th>
                            <th ng-if="false">@L("DiscAmount")</th>
                            <th class="text-right">@L("TotalAmount")</th>
                            <th class="text-right">@L("TaxAmount")</th>
                            <th class="text-right">@L("LineTotal")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in invoicedata.invoiceDetail" >
                        <td class="col-xs-1" align="right">
                            {{data.sno}}
                        </td>
                        <td class="col-xs-1" ng-if="false">
                            {{data.dcTranid}}
                        </td>
                        <td class="col-xs-3">
                            <b> {{data.materialRefName}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.totalQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>{{data.unitRefName}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b> {{data.price |number:vm.connectdecimals}} </b>
                        </td>
                        <td class="col-xs-2 text-right"
                            ng-init="vm.subtotal = vm.subtotal + data.totalAmount" >
                            {{data.totalAmount |number:vm.connectdecimals}}
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>{{data.taxAmount |number:vm.connectdecimals}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <strong> <b> {{data.netAmount |number:vm.connectdecimals}} </b> </strong>
                        </td>

                    </tr>

                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("SubTotal")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right">
                            <b>  {{invoicedata.invoice.subTotalAmount |number:vm.connectdecimals}}</b>
                        </td>

                        <td class="col-xs-2 text-right">
                            <b>  {{invoicedata.invoice.taxAmount  |number:vm.connectdecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.subTotalAmount +  invoicedata.invoice.taxAmount |number:vm.connectdecimals}}</b>
                        </td>

                    </tr>
                    <tr ng-if="invoicedata.invoice.totalDiscountAmount>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Discount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.totalDiscountAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="invoicedata.invoice.totalShipmentCharges>0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("Extra")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.totalShipmentCharges |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr ng-if="invoicedata.invoice.roundedAmount!=0">
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("RoundedOff")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.roundedAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"> @L("NetAmount")</td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"></td>
                        <td class="col-xs-1 text-right"><b> </b></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-2 text-right"></td>
                        <td class="col-xs-1 text-right">
                            <b>  {{invoicedata.invoice.invoiceAmount |number:vm.connectdecimals}}</b>
                        </td>
                    </tr>

                </table>

                <br />
                <div class="row">
                    <br />
                </div>
                <hr />
                <br />
                <br />
                <br />
            </div>
            <hr />
        </div>*@
</div>

