@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.mealtimesales as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("MealTimeSales")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Locations")</span>
			</button>
		</div>
	</div>

	<div class="portlet light">
		<div class="portlet-body">
			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">
						<div class="row">
							<div class="form-group col-md-6">
								<label class="control-label">@L("DateRange")</label>
								<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
							</div>

							<div class="row">
								<div class="col-xs-12 text-right">
									<button class="btn blue" ng-click="vm.clear()">
										<i class="fa fa-eraser"></i> @L("Clear")
									</button>
									<div class="btn-group">
										<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
											<i class="fa fa-file-excel-o"></i> @L("Export")
											<i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
											</li>
											<li>
												<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
											</li>
										</ul>
									</div>
									<div class="btn-group">
										<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
											<i class="fa fa-file-excel-o"></i> @L("ExportByCategory")
											<i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a ng-click="vm.exportToExcelByCategory(0)">@L("Excel")</a>
											</li>
											<li>
												<a ng-click="vm.exportToExcelByCategory(1)">@L("HTML")</a>
											</li>
										</ul>
									</div>

									<button class="btn blue" ng-click="vm.getData()">
										<i class="fa fa-refresh"></i> @L("Refresh")
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="portlet-body">
			<div busy-if="vm.loading">
				<div ng-repeat="location in vm.data.listItem">
					<table class="table table-bordered table-condensed" >
						<thead>
							<tr class="thead_title">
								<td colspan="22" class="border_bottom_none font_weight_bold">{{location.locationName}}</td>
							</tr>
							<tr class="thead_content">
								<th colspan="3"></th>
								<th colspan="3" class="text-center font_weight_bold" ng-repeat="schedule in location.scheduleSettings">
									{{schedule.name}} <br />
									{{schedule.start_String}} - {{schedule.end_String}}
								</th>
							</tr>
							<tr>
								<th class="text-center max_width_50"> @L("Category")</th>
								<th class="text-center max_width_50"> @L("MenuItem")</th>
								<th class="text-center max_width_50"> @L("Portion")</th>
								<th colspan="3" style="margin: 0px !important; padding: 0px !important;border: none !important" ng-repeat="schedule in location.scheduleSettings">
									<table class="table table-bordered table_Item">
										<tr>
											<th class="text-center table_Item_Element max_width_20"> @L("Quantity")</th>
											<th class="text-center table_Item_Element max_width_20"> @L("Price")</th>
											<th class="text-center table_Item_Element max_width_20"> @L("Amount")</th>
										</tr>
									</table>
								</th>
							</tr>
						</thead>
						<tr ng-repeat="item in  location.listData">
							<td class="item border_bottom_none text-center max_width_50">{{item.categoryName}}</td>
							<td class="item border_bottom_none text-center max_width_50">{{item.menuItemName}}</td>
							<td class="item border_bottom_none text-center max_width_50">{{item.menuItemPortionName}}</td>
							<td colspan="3" style="margin: 0px !important; padding: 0px !important;border: none !important" ng-repeat="mealTime in item.listItem">
								<table class="table table-bordered table_Item">
									<tr>
										<td class="text-center table_Item_Element max_width_20"> {{mealTime.quantity | number:2}}</td>
										<td class="text-center table_Item_Element max_width_20"> {{mealTime.price | number:2}}</td>
										<td class="text-center table_Item_Element max_width_20"> {{mealTime.total | number:2}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.item {
		max-width: 116px;
	}

	.w-100 {
		width: 100%;
	}


	.float-right {
		float: right;
	}

	.thead_title {
		background-color: #008000;
		font-weight: bold;
		color: white;
	}

	.thead_content {
		background-color: #808080;
		color: white;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #808080;
		color: white;
	}

	.font_weight_bold {
		font-weight: bold;
	}

	.nodata {
		background: navajowhite;
		color: red;
	}

	.table_Item {
		border: none !important;
		margin: 0px !important;
		padding: 0px !important;
	}

	.table_Item_Element {
		border-left: none !important;
		border-bottom: none !important;
	}

	.max_width_50 {
		max-width: 50px;
	}

	.max_width_20 {
		max-width: 20px;
	}
</style>
