﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cater.quotation.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.quotation.id">@L("EditQuotation"): {{vm.quotation.id}}</span>
                        <span ng-if="!vm.quotation.id">@L("CreateQuotation")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            @*<button class="btn btn-large green" ng-click="vm.openLocation()">
                    <i class="fa fa-file"></i> <span>@L("Locations")</span>
                </button>*@
        </div>
    </div>

    <div class="portlet light margin-top-10"  busy-if="vm.loading">
        <div class="portlet-body">

            <div class="form-body">
                <form name="caterQuotationCreateOrEditForm" role="form" novalidate class="form-validation" ng-submit="vm.save()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">@L("Location")</label>
                                <ui-select class="borderself" id="defaultLocation"                                            
                                           ng-disabled="!vm.permissions.canGetOrderForOtherLocation"
                                           ng-model="vm.quotation.locationRefId" required>
                                    <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in vm.allowedLocation | filter: $select.search">
                                        <div ng-bind="item.code"></div>
                                        <div ng-bind="item.name"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>@L("Customer")</label>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" ng-click="vm.openCustomerLookup()">
                                        <span ng-if="vm.quotation.caterCustomerId == 0">@L("SelectCustomer")</span>
                                        <span ng-if="vm.quotation.caterCustomerId && vm.quotation.caterCustomerId!=0">
                                            {{ vm.quotation.caterCustomerId }} - {{ vm.quotation.caterCustomerName }}
                                        </span>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0);" ng-click="vm.openCustomer()">@L("EditCustomer")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("EventDate") </label>
                                <div class=" input-group">
                                    <input id="EventDate" class="form-control" name="EventDate"
                                           ng-class="{'edited':vm.quotation.eventDateTime}"
                                           value="{{ vm.quotation.eventDateTime | momentFormat: 'DD/MM/YYYY' }}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("EventTime") </label>
                                <div class=" input-group">
                                    <input id="EventTime" class="form-control" name="EventTime"
                                           ng-class="{'edited':vm.quotation.eventTime}"
                                           value="{{ vm.eventTime | momentFormat: 'LT' }}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("NoOfPax") </label>
                                <input class="form-control" type="number" name="NoOfPax"
                                       ng-class="{'edited':vm.quotation.noOfPax}"
                                       ng-model="vm.quotation.noOfPax">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>@L("EventAddress") </label>
                                <ui-select id="EventAddress" ng-model="vm.quotation.eventAddressId" class="border border-grey-salsa" style="border-radius: 4px;">
                                    <ui-select-match placeholder="SelectClient">{{$select.selected.address1}} - {{$select.selected.city}} - {{$select.selected.country}}</ui-select-match>
                                    <ui-select-choices ng-model="vm.quotation.eventAddressId" repeat="item.id as item in vm.eventAddresses | filter: $select.search">

                                        <small>
                                            {{item.address1}}, {{item.city}}, {{item.country}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0);" ng-click="vm.openCustomer(true)">@L("EditEventAddress")</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("OrderChannel") </label>
                                <select id="orderChannel"
                                        class="form-control selectpicker"
                                        data_live_search="true"
                                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.orderChannels"
                                        ng-model="vm.quotation.orderChannel"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>@L("Note") </label>
                                <textarea class="form-control" type="text" name="Note" rows="5"
                                          ng-class="{'edited':vm.quotation.note}"
                                          ng-model="vm.quotation.note">  </textarea>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.quotation.doesPOCreatedForThisCateringOrder">
                        <div class="m-heading-1 border-yellow-gold m-bordered">
                            <h3 style="color:white;background-color:orangered;">Already PO Generated based on this Catering Order. So please be contact the Purchase department immediately, if any changes in Menu / Quantity </h3>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.quotation.id">
                        <div class="header">
                            <div class="col-md-6">
                                <h3>
                                    <span>@L("QuoteDetails")</span>
                                </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success" ng-click="vm.addOrder()">
                                    <i class="fa fa-plus"></i> <span>@L("AddOrder")</span>
                                </button>
                            </div>
                        </div>
                        <div ng-if="vm.quoteDetails.length == 0" class="col-md-12 text-center"><span>@L("OrdersEmpty")</span></div>
                        <div ng-if="vm.quoteDetails.length > 0" class="col-md-12">
                            <div id="quoteDetailsGrid" ui-grid="vm.gridOptions" ui-grid-expandable class="grid"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"
                        ng-disabled="caterQuotationCreateOrEditForm.$invalid || vm.quotation.caterCustomerId==0 || vm.quotation.eventAddressId==0">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">

<style>
    .grid {
        width: 100%;
        height: 400px;
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
        border-width: 0.1px;
        min-height: 29.3px;
    }

    .expandableRow .ui-grid {
        height: 100% !important;
        min-height: unset;
    }

        .expandableRow .ui-grid .ui-grid-render-container-body .ui-grid-viewport {
            height: 100% !important;
            min-height: unset;
        }
</style>