﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cater.quotation.packageselection as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-7">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject uppercase">@L("Quotation").Pluralize() / @L("EditQuotation") / @L("PackageSelection") </span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-5 text-right">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.saving">
                <i class="fa fa-remove"></i> @L("Cancel")
            </button>

            <button type="button" class="btn btn-primary" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" ng-click="vm.save()">
                <i class="fa fa-save"></i> @L("Save")
            </button>
        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading">
        <div class="row">
            <div class="col-xs-9">
                <div ng-if="!vm.showCategories">
                    <div class="row" ng-if="!vm.showPackage">
                        <div class="col-xs-6">
                            <div class="page-title">
                                <h3>
                                    <span class="caption-subject ">@L("PackageSelection").Pluralize() </span>
                                </h3>
                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            @*<button type="button" class="btn btn-primary">@L("ManageALaCarte")</button>*@
                        </div>
                    </div>
                    <div ng-if="!vm.showPackage" class="portlet-title portlet-title-filter">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchByCategoryMenuItem")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!vm.showPackage" class="portlet-body row" style="height: 70vh;">
                        <div ng-repeat="item in vm.categories" class="col-md-4 margin-bottom-10" ng-click="vm.openMenuByCategory(item)">
                            <div class="border border-default menu-selection">
                                <h4 class="text-center">{{item.categoryName}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.showCategories || vm.showPackage " class="portlet-body margin-top-20" style="min-height: 70vh;">

                    <div class="selection-header margin-bottom-15">
                        <a href="javascript:void(0);" ng-click="vm.backToCategories()" class="form-control-static">
                            <i class="fa fa-arrow-left" style="padding:0px 15px;"></i>
                            <span>{{vm.menuItemsByCategory.categoryName}}</span>
                            <i class="fa fa-angle-right" style="padding:0px 15px;"></i>
                        </a>
                        <a href="javascript:void(0);" ng-click="vm.backToPackage()" class="form-control-static a-middle selected-header">
                            <span ng-if="!vm.showCategories">@L("MenuSelection")</span>
                            <span ng-if="vm.showCategories">{{vm.package.menuItem.name}}</span>
                            <i class="fa fa-angle-right" style="padding:0px 15px;"></i>
                        </a>
                        <a href="javascript:void(0);" class="form-control-static" ng-class="vm.menuClass">
                            <span>@L("ComboItemSelection")</span>
                        </a>
                    </div>

                    <div ng-if="vm.showPackage && !vm.showCategories " ng-repeat="item in vm.menuItemsByCategory.menuItems"
                         ng-class="vm.getSelectedClass(item)" class="margin-bottom-10 border border-default menu-selection">
                        <div class="col-md-8" ng-click="vm.openPackage(item)" style="border-right: 1px solid #e1e5ec;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><b>{{item.menuItem.name}}</b></h5>
                                    <b>@L("Price"):</b>    {{item.menuItem.portions[0].price | number:2 }} <small> Per Pax</small>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{item.menuItem.itemDescription}}</h5>
                                    <b>@L("Type"):</b> <span>{{item.menuItem.foodTypeName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="display:flex; position:relative;">
                            <div style="width:100%;">
                                <span>
                                    @L("NoOfPax")
                                    @*<span class="btn">40</span>*@
                                    <input type="number" min="0" class="btn input-xsmall" ng-model="item.menuItem.quantity" />
                                </span>
                                <button type="button" class="btn btn-default pull-right" ng-click="vm.openPackage(item, true)">
                                    <span style="color:#32c5d2" ng-if="item.isSelected"><i class="fa fa-remove"></i>@L("Remove")</span>
                                    <span ng-if="!item.isSelected"><i class="fa fa-plus"></i>@L("Select")</span>
                                </button>
                            </div>
                            <span class="fa fa-tags" style="position:absolute;top:-15px;right:-6px;" title="Ordered" ng-if="item.isOrdered">
                            </span>
                        </div>
                    </div>

                    <div class="selection-body" ng-if="vm.showCustomizarion">
                        <div class="tilte col-md-12 margin-bottom-20">
                            <h4>
                                <span class="caption-subject ">@L("MenuSelection")</span>
                            </h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div ng-repeat="item in vm.package.productComboGroups">
                                        <a href="javascript:void(0);" class="form-control-static product-group" ng-class="{'active':$first}"
                                           ng-click="vm.selectGroup(item, $event)">
                                            <span>{{item.name}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div ng-repeat="item in vm.menuItems" class="margin-bottom-10 col-md-6">
                                        <div class="border border-default menu-selection" ng-class="vm.getSelectedClass(item)">
                                            <h5 class="text-bold">
                                                {{item.name}}
                                            </h5>
                                            <div style="color: #ababab; margin: 15px 0px;">
                                                <span>@L("AddOnPrice")</span><span class="pull-right">{{item.price | number:2}}</span>
                                            </div>
                                            <div>
                                                Pax <input type="number" min="0" class="btn input-xsmall" ng-model="item.count" ng-click="$event.preventDefault();" />
                                                <button type="button" class="btn pull-right btn-default" ng-click="vm.selectItem(item)">
                                                    <span style="color:#32c5d2" ng-if="item.isSelected"><i class="fa fa-remove"></i>@L("Remove")</span>
                                                    <span ng-if="!item.isSelected"><i class="fa fa-plus"></i>@L("Select")</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="border-left: 1px solid #ccc;min-height: 80vh;">
                <div class="row margin-bottom-15">
                    <div class="col-md-12">
                        <div class="margin-bottom-25">
                            <h4>
                                <span class="text-bold">@L("OrderPreview")</span>
                            </h4>
                        </div>
                    </div>
                    <div ng-if="vm.showCategories">
                        <div class="col-md-12" style="border-bottom: 1px solid #ccc">
                            <p class="bold">{{vm.package.menuItem.name}}</p>
                            <div>
                                <label class="control-label">{{vm.package.menuItem.portions[0].price | number:2 }} <small> Per Pax</small></label>
                            </div>
                            <span>{{vm.package.menuItem.quantity}} <small> Pax</small></span>
                        </div>
                        <div class="col-md-12 margin-top-15">
                            <div ng-repeat="item in vm.package.productComboGroups">
                                <div ng-repeat="menu in item.comboItems" ng-if="menu.isSelected">
                                    <span>{{menu.count}} {{menu.name}}</span>
                                    <span class="pull-right">-</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!vm.showCategories" class="col-md-12 margin-top-15">
                        <div ng-repeat="item in vm.packages">
                            <div class="margin-bottom-10" ng-if="item.isSelected">
                                <span>{{item.menuItem.quantity}}    {{item.menuItem.name}}</span>
                                <span class="pull-right">
                                    {{item.menuItem.portions[0].price | number:2}} -- {{item.menuItem.portions[0].price * item.menuItem.quantity | number:2}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="!vm.showCategories" class="row" style="padding:0;background-color: #e7f1ff;color: blue;border-top: 1px dashed blue;">
                    <div class="col-md-12">
                        <p>
                            <label class="control-label">@L("SubTotal")</label>
                            <span class="pull-right">{{vm.getTotal() | number:2}}</span>
                        </p>
                        <p>
                            <label class="control-label">@L("Tax") (7% GST)</label>
                            <span class="pull-right">{{vm.getTax() | number:2}}</span>
                        </p>
                    </div>
                    <div class="col-md-12" style="border-top: 1px solid #ccc">
                        <p>
                            <label class="control-label text-bold">@L("GrandTotal")</label>
                            <span class="pull-right text-bold">{{vm.getGrandTotal() | number:2}}</span>
                        </p>
                    </div>
                </div>

                <div ng-if="vm.showCategories" class="col-md-12 row"
                     SSstyle="padding:0;background-color: #e7f1ff;color: blue;border-top: 1px dashed blue;">
                    <div class="col-md-12">
                        <p>
                            <label class="control-label">@L("SubTotal")</label>
                            <span class="pull-right">{{vm.package.menuItem.portions[0].price*vm.package.menuItem.quantity | number:2}}</span>
                        </p>
                        <p>
                            <label class="control-label">@L("Tax") (7% GST)</label>
                            <span class="pull-right">{{vm.package.menuItem.portions[0].price * vm.package.menuItem.quantity * 0.07 | number:2}}</span>
                        </p>
                    </div>
                    <div class="col-md-12" style="border-top: 1px solid #ccc">
                        <p>
                            <label class="control-label text-bold">@L("GrandTotal")</label>
                            <span class="pull-right text-bold">{{vm.package.menuItem.portions[0].price * vm.package.menuItem.quantity * 1.07 | number:2}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .selection-header {
        border-bottom: 1px solid #e5e5e5;
    }

        .selection-header a {
            text-decoration: none;
        }

        .selection-header .selected-header {
            font-weight: 600;
            border-bottom: 1px solid;
        }

    .menu-selection {
        padding: 20px 15px;
        border-radius: 4px;
        width: 100%;
        cursor: pointer;
        display: inline-block;
    }

    .active.product-group {
        font-weight: bold;
        text-decoration: none;
    }

    .item-selected {
        background-color: #ddeff9;
        border-color: #80bef3 !important;
    }
</style>