﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div>
    <form name="foreigncurrencyCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.foreigncurrency.id">@L("EditForeignCurrency"): {{vm.foreigncurrency.id}}</span>
                <span ng-if="!vm.foreigncurrency.id">@L("CreateForeignCurrency")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>@L("Name") *</label>
                        <input class="form-control ucase" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.foreigncurrency.name}" ng-model="vm.foreigncurrency.name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("PaymentType") *</label>
                        <select id="selname" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refPaymentTypes" ng-model="vm.foreigncurrency.paymentTypeId" required></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("CurrencySymbol") </label>
                        <input class="form-control ucase" type="text" name="currencySymbol" onblur="changetoupper(this)" ng-class="{'edited':vm.foreigncurrency.currencySymbol}" ng-model="vm.foreigncurrency.currencySymbol" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("ExchangeRate") *</label>
                        <input type="text" class="form-control" onkeypress="return NumberWithPoint(event, 'cancel')" ng-class="{'edited':vm.foreigncurrency.exchangeRate}" ng-model="vm.foreigncurrency.exchangeRate" min="0" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="foreigncurrencyCreateOrEditForm.$invalid || vm.foreigncurrency.paymentTypeId==0">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>