﻿<div ng-controller="tenant.views.addons.zomato as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Zomato")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light" >
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-3">
                    @L("Key")
                </div>
                <div class="col-sm-6">
                    <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="name" ng-class="{'edited':vm.zomatoKey}" ng-model="vm.zomatoKey" maxlength="60">
                </div>
                <div class="col-sm-3">
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.checkConnected()">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    @L("Price")
                </div>
                <div class="col-sm-6">

                    <select id="PromotionEditBox" class="form-control selectpicker"
                            data_live_search="true"
                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.priceTags"
                            ng-model="vm.priceTagId"></select>
                </div>
                <div class="col-sm-3" ng-if="vm.isConnected">
                    <button class="btn btn-default" ng-click="vm.syncPrice()" button-busy="vm.loading">
                        @L("Sync")
                    </button>
                </div>

            </div>
            <div class="row margin-top-20" ng-if="vm.isConnected">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        

                        <tr>
                            <td>@L("Locations")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncLocations()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Suppliers")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncSuppliers()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>


</div>