@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.speedofservicereport as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("SpeedOfServiceReport")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Locations")</span>
			</button>
		</div>
	</div>

	<div class="portlet light">

		<div class="portlet-body">
			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">

						<hr />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>
						</div>
						<div class="row  margin-top-10 margin-bottom-10">
							<div class="col-xs-12" ng-if="true">
								<query-builder options="builder.options" builder="builder.builder"></query-builder>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-right">
								<button class="btn blue" ng-click="vm.clear()">
									<i class="fa fa-eraser"></i> @L("Clear")
								</button>
								<div class="btn-group">

									<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
										<i class="fa fa-file-excel-o"></i> @L("Export")
										<i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
										</li>
										<li>
											<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
										</li>
									</ul>
								</div>

								<button class="btn blue" ng-click="vm.getData()">
									<i class="fa fa-refresh"></i> @L("Refresh")
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="portlet-body">
			<div busy-if="vm.loading">
				<div>
					<table class="table table-bordered custom_table_date border_bottom_none">
						<tr class="thead_title">
							<td colspan="9" class="border_bottom_none text-center font_weight_bold">{{vm.title}}</td>
						</tr>
						<tr class="thead_content">
						<tr class="thead_content">
							<td class="text-center w-11 font_weight_bold ">@L("Plant")</>
							<td class="text-center w-11 font_weight_bold">@L("PlantName")</td>
							<td class="text-center w-11 font_weight_bold">@L("POSName")</td>
							<td class="text-center w-11 font_weight_bold">@L("Staff")</td>
							<td class="text-center w-11 font_weight_bold">@L("TicketNumber")</td>
							<td class="text-center w-12 font_weight_bold">@L("DateTime")</td>
							<td class="text-center w-11 font_weight_bold">@L("OrderTime")</td>
							<td class="text-center w-11 font_weight_bold">@L("PackingTime")</td>
							<td class="text-center w-11 font_weight_bold">@L("TotalTime")</td>
						</tr>
					</table>
				</div>
				<div class="content_str" ng-repeat="dataByPlant in  vm.data.listItem">
					<div class="w-100" ng-repeat="dataByPOS in  dataByPlant.listItem">
						<table class="table table-bordered margin_bottom_0">
							<tr ng-repeat="item in  dataByPOS.listItem">
								<td class="w-11 ">{{item.plant}}</td>
								<td class="w-11">{{item.plantName}}</td>
								<td class="w-11">{{item.pos}}</td>
								<td class="w-11">{{item.staff}}</td>
								<td class="w-11">{{item.ticketNumber}}</td>
								<td class="w-12 text-center">{{item.dateTime | date: 'MM-dd-yyyy hh:mm:ss'}}</td>
								<td class="w-11 text-center">{{item.orderTime}}</td>
								<td class="w-11 text-center">{{item.packingTime}}</td>
								<td class="w-11 text-center">{{item.totalTime}}</td>
							</tr>
						</table>
						<table class="table table-bordered custom_table_date border_bottom_none color_total" ng-if="vm.data">
							<tr>
								<td colspan="6" style="text-align: right;" class="w-67 font_weight_bold">@L("AVG") {{dataByPOS.pos}}</td>
								<td class="text-center w-11 font_weight_bold">{{formatTimeSpan(dataByPOS.avgOrderTime)}}</td>
								<td class="text-center w-11 font_weight_bold">{{formatTimeSpan(dataByPOS.avgPackingTime)}}</td>
								<td class="text-center w-11 font_weight_bold">{{formatTimeSpan(dataByPOS.avgTotalTime)}}</td>
							</tr>
						</table>
					</div>
					<table class="table table-bordered custom_table_date border_bottom_none color_total" ng-if="vm.data">
						<tr>
							<td colspan="6" style="text-align: right;" class="w-67 font_weight_bold">@L("TotalAVG") {{dataByPlant.plant}}</td>
							<td class="text-center w-11 font_weight_bold">{{formatTimeSpan(dataByPlant.totalOrderTime)}}</td>
							<td class="text-center w-11 font_weight_bold">{{formatTimeSpan(dataByPlant.totalPackingTime)}}</td>
							<td class="text-center w-11 font_weight_bold">{{formatTimeSpan(dataByPlant.totalTotalTime)}}</td>
						</tr>

						<tr>
							<td colspan="8" style="text-align: right;" class="w-67 font_weight_bold">@L("Met%")</td>
							<td class="text-center w-11 font_weight_bold">{{dataByPlant.totalMet| number:2}}%</td>
						</tr>
					</table>
				</div>
			</div>
			<table class="table table-bordered custom_table_date border_bottom_none color_total" ng-if="vm.data">
				<tr>
					<td colspan="6" style="text-align: right;" class="w-67 font_weight_bold">@L("TotalAVG")</td>
					<td class="text-center w-11 font_weight_bold">{{ formatTimeSpan(vm.data.totalOrderTime)}}</td>
					<td class="text-center w-11 font_weight_bold">{{ formatTimeSpan(vm.data.totalPackingTime)}}</td>
					<td class="text-center w-11 font_weight_bold">{{ formatTimeSpan(vm.data.totalTotalTime)}}</td>
				</tr>

				<tr>
					<td colspan="8" style="text-align: right;" class="w-67 font_weight_bold">@L("TotalMet%")</td>
					<td class="text-center w-11 font_weight_bold">{{ vm.data.totalMet | number:2}}%</td>
				</tr>

			</table>
		</div>
	</div>
</div>
<style>
	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.w-11 {
		width: 11%;
	}

	.w-12 {
		width: 12%;
	}


	.w-67 {
		width: 67%;
	}


	.w-100 {
		width: 100%;
	}


	.float-right {
		float: right;
	}

	.ml-10 {
		margin-left: 10px;
	}

	.mt-50 {
		margin-top: 50px;
	}

	.zom-15 {
		zoom: 1.5;
	}

	.pl-44 {
		padding-left: 44px;
	}

	.thead_title {
		background-color: #008000;
		font-weight: bold;
		color: white;
	}

	.thead_content {
		background-color: #808080;
		color: white;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #808080;
		color: white;
	}

	.color_posName {
		background-color: #f0f0f0;
	}

	.color_total {
		background-color: #f0f0f0;
	}

	.font_weight_bold {
		font-weight: bold;
	}
</style>