﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.transaction.menuitemwastage.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MenuItemWastage").Pluralize()</span> <small>@L("MenuItemWastageHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createMenuItemWastage()">
                <i class="fa fa-plus"></i> @L("CreateMenuItemWastage")</button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
					<div class="inputs inputs-full-width">
						<div class="portlet-input">
							<form>
								<div class="row">
								<div class="col-xs-3" ng-if="!vm.reportFlag && !vm.closingstockAdjustmentFlag">
									<div class="form-group">
										<input ng-model="vm.filterText" auto-focus class="form-control" type="text" placeholder='@L("Reference")'>
									</div>
								</div>

								<div class="col-xs-2">
									<div class="md-checkbox">
										<input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
										<label for="dateRange">
											<span class="inc"></span>
											<span class="check"></span>
											<span class="box"></span>
											@L("DateRange")
										</label>

									</div>
								</div>
									<div class="col-xs-3">
										<div class="md-checkbox">
											<input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
														 class="form-control date-picker" ng-model="vm.dateRangeModel" />
										</div>
									</div>
								<div class="col-xs-4 text-right">
									<button class="btn btn-primary blue" ng-click="vm.clear()">
										@L("Clear")
									</button>
									<button class="btn blue" ng-click="vm.getAll()">@L("Refresh")</button>
								</div>
						</div>
						@*<div class="row">
							
						</div>*@
						@*<div class="input-group">
							<input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
							<span class="input-group-btn">
								<button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
							</span>
						</div>*@
						</form>
					</div>
            </div>
        </div>
        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions"  style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

