﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.house.transaction.menuitemwastage.menuitemwastageMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-8">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.menuitemwastage.id">@L("EditMenuItemWastage"): {{vm.menuitemwastage.id}}</span>
                        <span ng-if="!vm.menuitemwastage.id">@L("CreateMenuItemWastage")</span>
                    </h1>
                </div>
            </div>
        </div>
        @*<div class="col-xs-3  text-right">
                <div class="form-group">
                    <ui-select class="borderself" ng-disabled="vm.menuitemwastage.id || vm.menuitemwastagePortions.length>1" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()">
                        <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-1  text-right">
                <div class="form-group">
                    <button class="btn blue " ng-disabled="vm.menuitemwastage.id || vm.menuitemwastagePortions.length>1" ng-click="vm.fillDataFromTemplate()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>*@
    </div>
    <div class="portlet light" busy-if="vm.loading || vm.loadingCount">
        <div class="portlet-body">
            <div class="form">
                <form name="menuitemwastageForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="control-label">@L("Sales") @L("Date")</label>
                                <input name="closingDate" class="form-control date-picker" ng-class="{'edited':vm.menuitemwastage.salesDate}" ng-model="vm.menuitemwastage.salesDate" />
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>@L("TokenNumber") # <span style="color:red"> * </span>  </label>
                                    <input class="form-control" type="text" id="TokenRefNumber" onkeypress="return NumberOnly(event, 'cancel');" ng-class="{'edited':vm.menuitemwastage.tokenRefNumber}" ng-model="vm.menuitemwastage.tokenRefNumber" required>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-if="vm.menuitemwastage.id || vm.menuitemwastage.tokenRefNumber.length>0">
                                <div class="form-group">
                                    <label>@L("Remarks") <span style="color:red"> * </span>  </label>
                                    <div class="input-group">
                                        <input class="form-control text-bold" id="AdjustmentRemarks" type="text" ng-class="{'edited':vm.menuitemwastage.remarks}" ng-model="vm.menuitemwastage.remarks" required>
                                        <span class="input-group-btn">
                                            <button ng-click="vm.loading = true;vm.openManualReason(vm.menuitemwastage,'remarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-20" ng-if="vm.menuitemwastage.id || vm.menuitemwastage.tokenRefNumber.length>0">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Delete")</th>
                                            <th>@L("MenuItem")</th>
                                            <th class="text-right">@L("Wastage") @L("Quantity")</th>
                                            <th>@L("Wastage") @L("Remarks")</th>
                                            <th>@L("Next")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.menuitemwastagePortions">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRow(index)" />
                                        </td>
                                        <td class="col-xs-4">
                                            <ui-select class="borderself" ng-change="func(data,$select.selected,this)" id="posSelectId" ng-model="data.posMenuPortionRefId" required>
                                                <ui-select-match id="selmenuitemid" placeholder="Select Menu Item...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refmenuitem | filter: $select.search | limitTo:vm.uilimit">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2">
                                            <input id="issqty" type="text" class="form-control text-right text-bold" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)"  ng-model="data.wastageQty" ng-disabled="!data.posMenuPortionRefId" required />
                                        </td>
                                        <td class="col-xs-3">
                                            <div class="input-group">
                                                <input id="remarks" type="text" class="form-control text-bold" ng-model="data.wastageRemarks" ng-disabled="!data.posMenuPortionRefId" />
                                                <span class="input-group-btn">
                                                    <button ng-click="vm.loading = true;vm.openManualReason(data,'wastageRemarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="col-xs-1">
                                            <button type="submit" class="btn btn-primary" ng-disabled="data.wastageQty==null" data-ng-click="vm.addPortion(data)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row margin-top-15" ng-if="false">
                            <div class="col-xs-2 margin-bottom-40">
                                <div class="md-checkbox">
                                    <input id="SaveAsTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templateflag" style="text-decoration: line-through;">
                                    <label for="SaveAsTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SaveAsTemplate")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group" ng-show="vm.templatesave.templateflag">
                                    <input id="tname" placeholder=@L("TemplateName") type="text" class="form-control ucase" ng-model="vm.templatesave.templatename" ng-disabled="!vm.templatesave.templateflag" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="md-checkbox" ng-disabled="!vm.templatesave.templateflag" ng-show="vm.templatesave.templateflag">
                                    <input id="GlobalTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templatescope" style="text-decoration: line-through;">
                                    <label for="GlobalTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("GlobalTemplate")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2" ng-show="vm.templatesave.templateflag">
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary yellow" ng-click="vm.templateSave()">
                                    <i class="fa fa-save"></i> <span>@L("Save") @L("Template")</span>
                                </button>
                            </div>

                        </div>
                        <hr />
                        <div class="row margin-top-15">

                            <div class="col-xs-12">
                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="menuitemwastageForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

