﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.go.paymenttype.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">

            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("PaymentType").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
           <button class="btn btn-success" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createPaymentType()">
                <i class="fa fa-plus"></i> @L("Create") @L("PaymentType")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="fa fa-eraser"></i> @L("Clear")</button>
                                    </div>
                              
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.gridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>