﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.house.transaction.customersales.salesorder.index as vm">
    @*<div ng-if="!vm.isSalesAllowed">
        <h2>@L("SalesAllowedErr")</h2>
    </div>*@

    <div class="row margin-bottom-5" @*ng-if="vm.isSalesAllowed"*@>
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SalesOrder").Pluralize()</span> <small>@L("SalesOrderHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-6 text-right" @*ng-if="vm.isSalesAllowed"*@>
            @*<button ng-if="vm.permissions.importData" class="btn btn-default" ng-click="vm.importSampleSalesOrder()">
                    <i class="fa fa-download"></i> @L("ImportSample")
                </button>*@

            @*<button class="btn btn-primary" ng-click="vm.autoPo()">
                <i class="fa fa-shopping-cart"></i> @L("AutoSalesOrder")
            </button>*@
           
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createSalesOrder()">
                <i class="fa fa-plus"></i> @L("CreateSalesOrder")
            </button>

           


        </div>
    </div>

    <div class="row margin-bottom-5" @*ng-if="vm.isSalesAllowed"*@>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            {{ vm.totalPending }}<small class="font-green-sharp"></small>
                        </h3>
                        <small>@L("Pending").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pause"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.totalApproved}}</h3>
                        <small>@L("Approved").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="icon-like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">{{ vm.totalDeclined}}</h3>
                        <small>@L("Declined").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">{{ vm.totalYetToReceived }}</h3>
                        <small>@L("YetToReceived").ToUpper() </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-end"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="portlet light" @*ng-if="vm.isSalesAllowed"*@>
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Customer")</label>
                                    <input ng-model="vm.filterText"
                                           auto-focus class="form-control" placeholder='@L("Customer")' type="text">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Material")</label>
                                    <ui-select id="selMaterial" class="borderself" ng-value="vm.materialRefName" ng-model="vm.materialRefId">
                                        <ui-select-match placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.materialRefId" repeat="item.value as item in vm.refmaterial | filter: $select.search ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                          
                            

                        </div>

                        <div class="row margin-top-15">
                            
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.status" placeholder='@L("Status")'>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.soReferenceCode" placeholder='@L("Reference")'/>
                                </div>
                            </div>
                            <div class="col-sm-4 text-right">

                                <button class="btn blue" type="button" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                                <button class="btn btn-primary blue" type="submit" ng-click="vm.getAll()">
                                    @L("Refresh")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>