﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.customersales.salesorder.salesOrder as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-5">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.salesorder.id">@L("EditSalesOrder"): {{vm.salesorder.id}}</span>
                        <span ng-if="!vm.salesorder.id">@L("CreateSalesOrder")</span>
                    </h1>
                </div>
            </div>
        </div>
     
        <div class="col-xs-3  text-right" >
            <div class="form-group">
                <ui-select class="borderself" ng-disabled="vm.salesorder.id" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()" >
                    <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-1  text-right">
          <div class="form-group">
            <button class="btn blue "  ng-disabled="vm.salesorder.id" ng-click="vm.fillDataFromTemplate()"><i class="fa fa-refresh"></i> </button>
        </div>
        </div>
        <div class="col-xs-3">
            <div class="md-checkbox">
                <input id="PreviousPriceShow" class="md-check" type="checkbox" name="PreviousPriceShow"
                       ng-model="vm.lastpriceshow">
                <label for="PreviousPriceShow">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("PreviousPriceShow")
                </label>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="poForm">
                    <div class="form-body" busy-if="vm.auotSoloading || vm.loading" >

                        <div ng-if="vm.autoSoDetails.length>0">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr>
                                        <th>@L("Customer")  <a ng-click="vm.showAllAutoPos(vm.autoSoDetails)">@L("ShowAll")</a></th>
                                        <th>@L("NumberOfMaterials")</th>
                                        <th>@L("GeneratePo")</th>
                                        <th>@L("Remarks")</th>
                                    </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.autoSoDetails | filter: { visibleFlag: true} | orderBy : 'customerRefName'">
                                    <td class="col-xs-4">
                                        <b> {{index + 1| limitTo:3}} - {{data.customerRefName}} </b>
                                    </td>
                                    <td class="col-xs-2">
                                        {{data.noOfProducts}}
                                    </td>
                                    <td class="col-xs-2">
                                        <span> <b> <a href="" ng-click="vm.makePoBasedOnAutoPo(data)"> @L("GeneratePo")</a> </b> </span>
                                    </td>
                                  
                                    <td class="col-xs-3" ng-class="data.tsNgClass">
                                        {{data.remarks}}
                                    </td>
                                </tr>


                            </table>

                            <hr />
                            <hr />
                            <hr />
                        </div>


                        <div class="row" @*ng-if="vm.soshowflag"*@>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Customer")</label>
                                    <ui-select class="borderself" ng-model="vm.salesorder.customerRefId" ng-change="vm.fillDropDownMaterial()" required>
                                        <ui-select-match id="selcustomerRefId" placeholder="Select Customer...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refcustomer | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Date")</label>
                                    <input name="soDate" id="soDate" class="form-control date-picker" ng-class="{'edited':vm.salesorder.soDate}" ng-model="vm.salesorder.soDate" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("QuoteReference")</label>
                                    <input id="quoteref" type="text" class="form-control" ng-model="vm.salesorder.quoteReference" ng-class="{'edited' : vm.salesorder.quoteReference}" />
                                </div>
                            </div>
                        </div>

                        <div class="row" @*ng-if="vm.soshowflag"*@>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("ShippingLocation")</label>
                                    <ui-select class="borderself" id="selShipLocationRefid" ng-model="vm.salesorder.shippingLocationId"  required>
                                        <ui-select-match id="selShipLocationRefid" placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="vm.setShippingName(locitems) as locitems in vm.refShippingLocation | filter: $select.search">
                                            <div ng-bind="locitems.name"></div>
                                            <small>
                                                city:<span ng-bind-html="locitems.city"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("DeliveryDate")</label>
                                    <input name="dueDate" id="dueDate"  class="form-control date-picker" 
                                           ng-class="{'edited':vm.salesorder.deliveryDateExpected}" ng-model="vm.salesorder.deliveryDateExpected"  required  />
                                </div>
                              
                            </div>
                        
                        </div>
                      
                        <hr />
                    
                        <div class="row" ng-if="vm.salesorder.customerRefId"  busy-if="vm.loading">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Action")</th>
                                            <th>@L("MaterialName")</th>
                                            <th class="text-right">@L("Qty")</th>
                                            <th class="text-right">@L("OnHand")/@L("OnOrder")</th>
                                            <th class="text-right">@L("UOM") </th>
                                            <th class="text-right">@L("Cost")</th>
                                            <th class="text-right" ng-if="false">@L("DiscAmount")</th>
                                            <th class="text-right">@L("Tax")</th>
                                            <th class="text-right">@L("Total")/@L("TaxAmount")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.salesDetailPortion">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                            <a ng-if="data.materialRefId" ng-click="vm.previousPriceOpen(data)"> <span class=""><i class="fa fa-search-plus"></i> </span> </a>
                                        </td>
                                        <td class="col-xs-3">
                                            <ui-select id="selMaterial"  class="borderself" ng-required="true" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId" >
                                                <ui-select-match placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                                                <ui-select-choices refresh-delay="0" ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.refmaterial  | filter: $select.search  | limitTo: vm.uilimit">
                                                    <div ng-bind="item.materialRefName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-1">
                                            <input id="qtyOrder" type="text" ng-change="amtCalc(data,data.qtyOrdered,data.price)"  class="form-control text-right"
                                                   onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.qtyOrdered" ng-disabled="!data.materialRefId"  required />
                                        </td>
                                        <td class="col-xs-2 text-right text-bold">
                                            <span ng-if="data.materialRefId">{{data.currentInHand}} / {{data.alreadyOrderedQuantity}} / {{data.uom}}</span>
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                            <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed">
                                                <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>                                  
                                        <td class="col-xs-1">
                                            <input id="price" type="text" ng-change="amtCalc(data,data.qtyOrdered,data.price)"  
                                                   class="form-control text-right"
                                                   onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" 
                                                   ng-model="data.price" required ng-disabled="!data.qtyOrdered" ng-blur="vm.ratediffshow(data)" />
                                        </td>
                                        <td class="col-xs-2"  ng-if="false" >
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input ng-model="data.discountOption" ng-click="discOptionCheck(data)"  type="checkbox">%
                                                </span>
                                                <input type="text" ng-change="calcDiscountPerc(data)" ng-model="data.discountValue" class="form-control" required>
                                            </div><!-- /input-group -->
                                        </td>
                                        <td class="col-xs-1">
                                            <ui-select id="selTax" multiple class="borderself" 
                                                       ng-value="data.applicableTaxes" ng-blur="taxCalc(data, data.qtyOrdered, data.price)" ng-click="taxCalc(data, data.qtyOrdered, data.price)" ng-model="data.applicableTaxes">
                                                <ui-select-match placeholder="@L("SelectTax")">{{$item.taxName}}</ui-select-match>
                                                <ui-select-choices repeat="item in vm.reftax | filter: $select.search">
                                                    <div ng-bind="item.taxName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2" align="right">
                                            <span ng-if="data.materialRefId">{{data.totalAmount}} / {{data.taxAmount}} <button type="button" class="btn btn-primary" data-ng-click="vm.addPortion()"><i class="glyphicon glyphicon-plus"></i></button>
                                            </span>

                                        </td>

                                   
                               
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr />

        <div class="row margin-bottom-5" ng-if="vm.salesorder.customerRefId">
            <div class="col-xs-2 text-right">
                <div class="form-group">
                    <label class="control-label">@L("SubTotal")</label>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <div class="form-group">
                    <div class="input-group ">
                        <input id="poTotalAmt" type="number" class="form-control text-right"
                               ng-model="vm.poTotalAmount" ng-disabled="true" />
                    </div>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <div class="form-group">
                    <label class="control-label">@L("TaxAmount")</label>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <div class="form-group">
                    <div class="input-group ">
                        <input id="poTaxAmt" type="number" class="form-control text-right"
                               ng-model="vm.poTaxAmount" ng-disabled="true" />
                    </div>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <div class="form-group">
                        <label class="control-label">@L("NetAmount")</label>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <div class="form-group">
                    <div class="input-group ">
                        <input id="poNetAmt" type="number" class="form-control text-right"
                               ng-model="vm.salesorder.poNetAmount" ng-disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
           

    </div>

            <div class="row margin-top-15" ng-if="vm.salesorder.customerRefId">
              
                    <div class="col-xs-1 margin-bottom-40">
                        <div class="md-checkbox">
                            <input id="SaveAsTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templateflag" style="text-decoration: line-through;">
                            <label for="SaveAsTemplate">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("SaveAsTemplate")
                            </label>
                        </div>
                    </div>
                  
                <div class="col-xs-2" >
                    <div class="form-group" ng-show="vm.templatesave.templateflag">
                        @*<label class="control-label">@L("TemplateName")</label>*@
                        <input id="tname" placeholder=@L("TemplateName") type="text" class="form-control ucase" ng-model="vm.templatesave.templatename" ng-disabled="!vm.templatesave.templateflag" />
                    </div>
                </div>
                <div class="col-xs-2" @*ng-show="vm.templatesave.templateflag"*@>
                    <div class="md-checkbox" ng-disabled="!vm.templatesave.templateflag" ng-show="vm.templatesave.templateflag">
                        <input id="GlobalTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templatescope" style="text-decoration: line-through;">
                        <label for="GlobalTemplate">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("GlobalTemplate")
                        </label>
                    </div>
                </div>
            
                <div class="col-xs-7">
                    <div style="display:block;float:right;">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="button" button-busy="vm.saving" busy-text="@L("Decline")" class="btn btn-danger" ng-click="vm.save('X')" ng-disabled="poForm.$invalid" ng-if="vm.permissions.approve && vm.salesorder.id">
                            <i class="fa fa-save"></i> <span>@L("Decline")</span>
                        </button>
                        <button type="button" button-busy="vm.saving" busy-text="@L("Draft")" class="btn btn-success " ng-click="vm.draft()" ng-disabled="poForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Draft")</span>
                        </button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary" ng-click="vm.save('P')" ng-disabled="poForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("Approve")" class="btn btn-primary blue" ng-click="vm.save('A')" ng-disabled="poForm.$invalid" ng-if="vm.permissions.approve">
                            <i class="fa fa-save"></i> <span>@L("SaveAndApprove")</span>
                        </button>
                    </div>
                </div>
            </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>