﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 85%;
    }

    .fontreport {
        font-family : 'Courier New';
        font-size : medium
            
    }
</style>



<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="modal-title">
                    <span class="caption-subject bold uppercase">@L("SalesOrder").Pluralize() - {{vm.sorefnumber}} - {{vm.sodate | date : YYYY-MMM-DD }}</span>
                </h4>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary blue" ng-disabled="!vm.manualCompleteAllowed" ng-click="vm.setSoAsCompletion()">
                    @L("SetSoAsCompletion")
                </button>

                <button class="btn btn-primary blue" ng-click="vm.cancel()">
                    @L("Close")
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("CustomerName") - {{vm.customerRefName}}
                </span>
            </div>
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("Amount") - {{vm.soNetAmount}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("Location") - {{vm.locationRefName}}
                </span>
            </div>
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("ShippingLocation") - {{vm.shippingLocationRefName}}
                </span>
            </div>
        </div>
    </div>
   

    <div class="modal-body" ng-show="!vm.soreport.length">
        <div class="portlet light">
            <div class="portlet-title portlet-title-filter">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            @*<div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>*@

                        </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
           
        </div>
        


    </div>
    <center>
        <div ng-show="vm.soreport.length>0">
            <textarea class="fontreport" name="text" rows="50" cols="120">{{vm.soreport}}</textarea>
        </div>
    </center>
    <div id="regReport" >

    </div>
</div>