﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.customersales.salesorder.SoPrint as vm">
    <div class="col-xs-12" style="align-content:center" ng-if="vm.companyProfilePictureId">
        <img ng-dblclick="vm.changePicture(null)" ng-if="vm.companyProfilePictureId"
             ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.companyProfilePictureId}}"
             class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
        <img ng-dblclick="vm.changePicture(vm.company.id)" ng-if="!vm.companyProfilePictureId"
             src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="100" height="50" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
    </div>
  <div id="divprintemail" class="row">
    <div class="col-xs-12 text-right" ng-show="vm.printmailflag">
      <a ng-click="vm.printmailflag=false;"> <span class=""><i class="fa fa-print" onclick="myFunction()"></i> </span> </a>
      <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
      <a ng-click="vm.sendMail()">  <span class="">   <i class="fa fa-envelope"></i></span> </a>
    </div>
  </div>

  <div id="editor"></div>
  <center><h5> <b><u> @L("SalesOrder")</u></b></h5></center>
  <div class="row">
    <div class="col-xs-8">
      <h6>    @L("SoReference"): {{vm.salesOrder.soReferenceCode}} </h6>
    </div>
    <div class="col-xs-4 text-right">
      <h6>   @L("Date"): {{vm.salesOrder.soDate | date : 'dd-MMM-yy'}} </h6>
    </div>
  </div>

  <div class="lineHr">.</div>

  <h6>
    <b>   @L("Customer") </b><br />
    {{vm.headerline}}

    <div style="height:50%;width:50%;">
      <div class="row">
        <div class="col-xs-12" ng-if="vm.customer.customerName.length>0">
          {{vm.customer.customerName}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.customer.address1.length>0">
          {{vm.customer.address1}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.customer.address2.length>0">
          {{vm.customer.address2}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.customer.address3.length>0">
          {{vm.customer.address3}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.customer.city.length>0">
          {{vm.customer.city}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="vm.customer.state.length>0">
          {{vm.customer.state}}
        </div>
      </div>
    </div>

    <div class="lineHr">.</div>

    <div>
      <div class="row">
        <div class="col-xs-6">
          <b>   @L("BillingAddress")</b>
        </div>
        <div class="col-xs-6">
          <b>  @L("ShippingAddress") </b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.name}}
        </div>
        <div class="col-xs-6">
          {{vm.shippinglocation.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.address1}}
        </div>
        <div class="col-xs-6">
          {{vm.shippinglocation.address1}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.address2}}
        </div>
        <div class="col-xs-6">
          {{vm.shippinglocation.address2}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.address3}}
        </div>
        <div class="col-xs-6">
          {{vm.shippinglocation.address3}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{vm.billinglocation.city}}
        </div>
        <div class="col-xs-6">
          {{vm.shippinglocation.city}}
        </div>
      </div>
    </div>
  </h6>
  <div class="lineHr">.</div>
  @L("SoDetailHeader")

  <div id="content" busy-if="vm.loading" ng-if="vm.salesDetailPortion.length>=5">
    <h6>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped table-bordered col-xs-12">
            <thead>
              <tr>
                <th># . @L("Material")</th>
                <th class="text-right">@L("Qty")</th>
                <th class="text-right">@L("UOM")</th>
                <th class="text-right">@L("Cost")</th>
                <th class="text-right">@L("Total")</th>
                <th class="text-right">@L("Tax")</th>
                <th class="text-right">@L("LineTotal")</th>
              </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.salesDetailPortion">
              <td class="col-xs-4" style="font-size:10px">
                {{data.sno}} . <b> {{data.materialRefName}} </b>
              </td>
              <td class="col-xs-1 text-right"  style="font-size:10px">
                <b>  {{data.qtyOrdered | number:vm.housedecimals}}</b>
              </td>
              <td class="col-xs-1 text-right"  style="font-size:10px">
                {{data.unitRefName}} 
              </td>
              <td class="col-xs-1 text-right"  style="font-size:10px">
                {{data.price |number:vm.connectdecimals}}
              </td>
              <td class="col-xs-2 text-right"  style="font-size:10px">
                {{data.totalAmount |number:vm.connectdecimals}}
              </td>
              <td class="col-xs-1 text-right"  style="font-size:10px">
                {{data.taxAmount |number:vm.connectdecimals}}
              </td>
              <td class="col-xs-2 text-right"  style="font-size:10px">
                {{data.netAmount |number:vm.connectdecimals}}
              </td>

            </tr>
            <tr>

              <td class="col-xs-4 text-right"><b> @L("SubTotal") </b></td>
              <td class="col-xs-1 text-right"></td>
              <td class="col-xs-1 text-right"></td>
              <td class="col-xs-1 text-right"></td>
              <td class="col-xs-2 text-right">
                <b>  {{vm.subtotalamount |number:vm.connectdecimals}}</b>
              </td>
              <td class="col-xs-1 text-right">
                <b>  {{vm.subtaxamount |number:vm.connectdecimals}}</b>
              </td>
              <td class="col-xs-2 text-right">
                <b>  {{vm.subnetamount |number:vm.connectdecimals}}</b>
              </td>

            </tr>

          </table>
        </div>
      </div>
    </h6>
  </div>

  <div id="smallcontent" busy-if="vm.loading" ng-if="vm.salesDetailPortion.length<5">

    <h6>
      <table class="table table-striped table-bordered col-xs-12" style="font-size:30pt;">
        <thead style="font-size:30pt;">
          <tr>
            <th># . @L("Material")</th>
            <th class="text-right">@L("Qty")</th>
            <th class="text-right">@L("UOM")</th>
            <th class="text-right">@L("Cost")</th>
            <th class="text-right">@L("Total")</th>
            <th class="text-right">@L("Tax")</th>
            <th class="text-right">@L("LineTotal")</th>
          </tr>
        </thead>

        <tr data-ng-repeat="(index,data) in vm.salesDetailPortion" style="font-size:15pt;">
          <td class="col-xs-4">
            {{data.sno}} . <b> {{data.materialRefName}} </b>
          </td>
          <td class="col-xs-1 text-right">
            <b>  {{data.qtyOrdered | number:vm.housedecimals}}</b>
          </td>
          <td class="col-xs-1 text-right">
            {{data.unitRefName}}
          </td>
          <td class="col-xs-1 text-right">
            {{data.price |number:vm.connectdecimals}}
          </td>
          <td class="col-xs-2 text-right">
            {{data.totalAmount |number:vm.connectdecimals}}
          </td>
          <td class="col-xs-1 text-right">
            {{data.taxAmount |number:vm.connectdecimals}}
          </td>
          <td class="col-xs-2 text-right">
            {{data.netAmount |number:vm.connectdecimals}}
          </td>

        </tr>
        <tr style="font-size:15pt;">

          <td class="col-xs-4 text-right"><b> @L("SubTotal") </b></td>
          <td class="col-xs-1 text-right"></td>
          <td class="col-xs-1 text-right"></td>
          <td class="col-xs-1 text-right"></td>
          <td class="col-xs-2 text-right">
            <b>  {{vm.subtotalamount |number:vm.connectdecimals}}</b>
          </td>
          <td class="col-xs-1 text-right">
            <b>  {{vm.subtaxamount |number:vm.connectdecimals}}</b>
          </td>
          <td class="col-xs-2 text-right">
            <b>  {{vm.subnetamount |number:vm.connectdecimals}}</b>
          </td>

        </tr>

      </table>
    </h6>
  </div>
   @L("CreatedBy") : {{vm.user.name}}
  <div>
    <h6>
      <b>@L("TermsConditions") </b><br />
      {{vm.headerline}}<br />
      <b>  {{vm.termSalesOrder}} </b><br />
      @L("TermSo1")<br />
      @L("TermSo2")<br />
      <div class="lineHr">.</div>
      <small>  @L("SignNotRequired") </small>
    </h6>
  </div>
</div>

<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


</script>

