@using Humanizer
<div>
    <div>
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{ vm.name }} @L("Exchanges"):</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-hover">
                            <tr ng-repeat="x in vm.getExchanges()">
                                <td>
                                    {{ x }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
        </div>
    </div>
</div>