﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<div ng-controller="tenant.views.go.charge.detail as vm">
    <form name="dinegochargeCreateOrEditForm" novalidate>
        <div class="row margin-bottom-5" busy-if="vm.loading || vm.saving">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span ng-if="vm.dinegocharge.id">@L("Edit") @L("Charges"): {{vm.dinegocharge.label}}</span>
                            <span ng-if="!vm.dinegocharge.id">@L("Create") @L("Charges")</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light" busy-if="vm.loading || vm.saving">
            <div class="portlet-input">
                <div class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.dinegocharge.label}" ng-model="vm.dinegocharge.label" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("TransactionType") </label>
                                    <ui-select class="borderself" ng-model="vm.dinegocharge.transactionTypeId" ng-required="true">
                                        <ui-select-match placeholder="Select Transaction Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.transactionTypes | filter: $select.search | limitTo: vm.uilimit ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="md-checkbox">
                                        <input id="IsPercent" class="md-check" type="checkbox" name="IsPercent" ng-class="{'edited':vm.dinegocharge.isPercent}" ng-model="vm.dinegocharge.isPercent">
                                        <label for="IsPercent">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Is Percent
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Charge @L("Value")</label>
                                    <input class="form-control" type="text" name="ChargeValue" onkeypress="return NumberOnly(event, 'enterbutton')" ng-class="{'edited':vm.dinegocharge.chargeValue}" ng-model="vm.dinegocharge.chargeValue" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="md-checkbox">
                                        <input id="TaxIncluded" class="md-check" type="checkbox" name="TaxIncluded" ng-class="{'edited':vm.dinegocharge.taxIncluded}" ng-model="vm.dinegocharge.taxIncluded">
                                        <label for="TaxIncluded">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Tax Included
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dinegochargeCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
