﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.house.numbering.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.numbering.id">@L("EditNumbering"): {{vm.numbering.name}}</span>
                        <span ng-if="!vm.numbering.id">@L("CreateNumbering")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input class="form-control " type="text" name="Name" ng-class="{'edited':vm.numbering.name}" ng-model="vm.numbering.name" required>
                                </div>
                            </div>
                            <div class="col-sm-3  margin-top-20">
                                <div class="md-checkbox">
                                    <input id="active" class="md-check"  type="checkbox" ng-model="vm.numbering.active">
                                    <label for="active">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        <strong>@L("Active")</strong>
                                    </label>
                                </div>
                            </div> 
                            <div class="col-sm-3  margin-top-20">
                                <div class="md-checkbox">
                                    <input id="locationPrefix" class="md-check"  type="checkbox" ng-model="vm.numbering.locationPrefix">
                                    <label for="locationPrefix">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        <strong>@L("LocationPrefix")</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Prefix")</label>
                                    <input class="form-control " type="text" name="Prefix"  ng-class="{'edited':vm.numbering.prefix}" ng-model="vm.numbering.prefix" >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Length")*</label>
                                    <input class="form-control " type="number" name="Length" ng-class="{'edited':vm.numbering.length}" ng-model="vm.numbering.length"   >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Suffix")</label>
                                    <input class="form-control " type="text" name="Suffix"  ng-class="{'edited':vm.numbering.suffix}" ng-model="vm.numbering.suffix" >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Begining") *</label>
                                    <input class="form-control " type="number" name="Begining"  ng-class="{'edited':vm.numbering.begining}" ng-model="vm.numbering.begining" required >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

