﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div>
    <form name="unitCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.unit.id">@L("EditUnit"): {{vm.unit.name}}</span>
                <span ng-if="!vm.unit.id">@L("CreateUnit")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input uib-tooltip="After today restriction" autofocus class="form-control ucase" type="text" name="name" ng-class="{'edited':vm.unit.name}" ng-model="vm.unit.name" required>
                        <label>@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save()" ng-disabled="unitCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

