﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.cluster.delaggcategory.delaggcategory as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delaggcategory.id">@L("EditDelAggCategory"): {{vm.delaggcategory.name}}</span>
                        <span ng-if="!vm.delaggcategory.id">@L("CreateDelAggCategory")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group ">
                            <label>@L("Name")</label>
                            <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.delaggcategory.name}" ng-model="vm.delaggcategory.name" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>@L("Code")</label>
                            <input class="form-control" type="text" name="code" ng-class="{'edited':vm.delaggcategory.code}" ng-model="vm.delaggcategory.code">
                        </div>
                    </div>
                    <div class="col-md-2 margin-top-30" ng-if="vm.delaggcategory.id">
                        <button class="btn btn-xs red" ng-click="vm.openLanguageDescriptionModal()">
                            <i class="fa fa-file"></i> <span></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">@L("DelTimingGroup") <a ng-click="vm.delaggcategory.delTimingGroupId=null" ng-if="vm.delaggcategory.delTimingGroupId!=null&&vm.delaggcategory.delTimingGroupId>0">@L("Clear")</a></label>
                            <ui-select class="borderself" ng-model="vm.delaggcategory.delTimingGroupId">
                                <ui-select-match placeholder="Select Timing Group ...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="timingGroup.id as timingGroup in vm.timingGroups| filter: $select.search | limitTo: vm.uilimit ">
                                    <small>
                                        {{ timingGroup.name }}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("Description")</label>
                            <input class="form-control" type="text" name="description" ng-class="{'edited':vm.delaggcategory.description}" ng-model="vm.delaggcategory.description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("SortOrder")</label>
                            <input class="form-control" type="number" name="SortOrder" ng-class="{'edited':vm.delaggcategory.sortOrder}" ng-model="vm.delaggcategory.sortOrder">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("LocalRefCode")</label>
                            <input class="form-control" type="text" name="LocalRefCode" ng-class="{'edited':vm.delaggcategory.localRefCode}" ng-model="vm.delaggvariant.localRefCode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="delaggcategoryCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>
</div>