﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggcategory.indexdelaggcategory as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggCategory")</span> <small>@L("DelAggCategoryHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDelAggCategory()">
                <i class="fa fa-plus"></i> @L("CreateDelAggCategory")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DelTimingGroup") <a ng-click="vm.delTimingGroupId=null" ng-if="vm.delTimingGroupId!=null&&vm.delTimingGroupId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-model="vm.delTimingGroupId" ng-change="vm.getAll()">
                                        <ui-select-match  placeholder="Select Timing Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="timingGroup.id as timingGroup in vm.timingGroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ timingGroup.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-5 margin-top-20">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.getAll()">
                                </div>
                            </div>

                            <div class="col-xs-2 margin-top-20">
                                    <button type="submit" busy-text="@L("Clear")" class="btn btn-primary blue" ng-click="vm.getAllClear()">@L("Clear")</button>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button ng-click="vm.getAll()" type="submit" busy-text="@L("Refresh")" class="btn btn-primary blue">@L("Refresh")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

