﻿<div ng-controller="tenant.views.cluster.delaggcategory.virtualdelaggcategory as vm" class="vitual-screen">

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>
                            @L("DelAggCategory")
                        </span>
                       
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <small><button class="btn btn-primary blue" ng-click="vm.init()"><i class="fa fa-refresh"></i></button></small>
            <button ng-if="vm.permissions.create" class="btn btn-primary red" ng-click="vm.sortCategory()">
                @L("SortCategory")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createCategory()">
                <i class="fa fa-plus"></i> @L("CreateCategory")
            </button>
        </div>
    </div>
    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-title portlet-title-filter">
            <form name="vitualScreen" role="form" novalidate class="form-validation">

                <div class="form-body vitual-screen-body col-sm-12">
                    <div ng-style="{ 'width': vm.categories.categoryColumnWidthRate + '%' }" style="float:left;">
                        <div ng-repeat="item in vm.categories" ng-style="{'width':120 + 'px', 'height':120 + 'px'}" class="vitual-screen__cate">
                            <div class="vitual-screen__cate-div">
                                <div class="btn vitual-screen__cate-btn md-skip" ng-style="{ 'background': item.mainButtonColor}">
                                    <div class="text-right">
                                        <a ng-if="vm.permissions.edit" title="Edit" href="javascript:void(0);" ng-click="vm.editCategory(item)"><i class="fa fa-pencil-square-o"></i></a>
                                        <a ng-if="vm.permissions.edit" title="Add Item" href="javascript:void(0);" ng-click="vm.createItem(item)"><i class="fa fa-plus-square-o"></i></a>
                                    </div>
                                    <div id="{{$index}}" name="{{$index}}" ng-click="vm.loadItem(item)">
                                        <span ng-attr-title="{{item.name}}" ng-style="{'font-size': 20}" ng-bind-html="vm.getCateName(item)"></span><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-style="{ 'width': 100 - vm.categories.categoryColumnWidthRate + '%' }" class="margin-left-30" ng-if="!vm.spanFlag">
                        <div class="margin-top-20 text-center">
                            <span> </span>
                        </div>
                    </div>
                    <div ng-style="{ 'width': 100 - vm.categories.categoryColumnWidthRate + '%' }" class="margin-left-30" ng-if="!vm.subItems.length>0 && vm.spanFlag">
                        <div class="margin-top-20 text-center">
                            <span> <b> <centre><strong>There is No Item in the Selected Category </strong></centre></b></span>
                        </div>
                    </div>
                    <div ng-style="{ 'width': 100 - vm.categories.categoryColumnWidthRate + '%' }" class="margin-left-30" ng-if="vm.subItems.length>0">
                        <div class="margin-top-20">
                            <div ui-sortable ng-model="vm.subItems">
                                <div ng-repeat="item in vm.subItems" ng-style="{'width':150 + 'px', 'height': 90 + 'px' }" class="vitual-screen__item">
                                    <div class="vitual-screen__item-div">
                                        <div class="btn vitual-screen__item-btn md-skip" ng-attr-title="{{item.name}}" ng-style="{ 'background': item.buttonColor}">
                                            <span ng-style="{'font-size': 17}" ng-bind-html="vm.getItemName(item.name)"></span><br />
                                            <span ng-if="item.showAliasName" ng-bind-html="vm.getItemName(item.itemAliasName)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

    .vitual-screen-body {
        display: flex;
    }

    .vitual-screen__item, .vitual-screen__cate {
        display: inline-block;
    }

        .vitual-screen__item .vitual-screen__item-div, .vitual-screen__cate .vitual-screen__cate-div {
            border: 1px solid #fff;
            height: 100%;
        }

    .vitual-screen__item-btn, .vitual-screen__cate-btn {
        width: 100%;
        white-space: normal;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vitual-screen__item-btn {
        height: 100%;
        text-align: left
    }
</style>