@using DinePlan.DineConnect.Localization
<div ng-controller="common.views.keyentry.index as vm">
    <h3>@L("WelcomePage_Title")</h3>
    <p>
        @L("ValidatePage_Info")
    </p>

    <form name="dineConnectValidate" role="form" novalidate class="form-validation">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" placeholder="@L("Key")" ng-model="vm.key" required name="key" class="form-control" style="width: 350px">
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.validate()" ng-disabled="dineConnectValidate.$invalid">
                        <span>@L("Validate")</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>