﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.connect.user.dineplanuser.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.dineplanuser.id">@L("EditDinePlanUser"): {{vm.dineplanuser.id}} / {{vm.dineplanuser.name}} </span>
                        <span ng-if="!vm.dineplanuser.id">@L("CreateDinePlanUser")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-large green" ng-click="vm.openUser()" ng-if="!vm.dineplanuser.userId">
                                        <i class="fa fa-file"></i> <span>@L("SelectAUser")</span>
                                    </button>

                                    <button class="btn btn-large green" ng-click="vm.cancelUser()" ng-if="vm.dineplanuser.userId">
                                        <i class="fa fa-file"></i> <span>{{vm.dineplanuser.userId}} /{{vm.dineplanuser.name}}  </span>
                                    </button>

                                </div>
                            </div>



                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Code")</label>
                                    <input class="form-control" type="number" name="code" ng-class="{'edited':vm.dineplanuser.code}" ng-model="vm.dineplanuser.code" ng-maxlength="8">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input class="form-control" name="name" ng-class="{'edited':vm.dineplanuser.name}" ng-model="vm.dineplanuser.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("PinCode")*</label>
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="pinCode" ng-class="{'edited':vm.dineplanuser.pinCode}" ng-model="vm.dineplanuser.pinCode" required ng-minlength="4">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("SecurityCode")</label>
                                    <input class="form-control" type="text" name="securityCode" ng-class="{'edited':vm.dineplanuser.securityCode}" ng-model="vm.dineplanuser.securityCode" ng-minlength="4">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Language")</label>
                                    <select id="languageCode" class="form-control selectpicker" data_live_search="true" ng-options="item.name as item.name for item in vm.languages" ng-model="vm.dineplanuser.languageCode"></select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("AlternateLanguage")</label>
                                    <select id="alternatelange" class="form-control selectpicker" data_live_search="true" ng-options="item.name as item.name for item in vm.languages" ng-model="vm.dineplanuser.alternateLanguageCode"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-groupt">
                                    <label>@L("Role")*</label>
                                    <select id="RoleEditBox" class="form-control selectpicker"
                                            data_live_search="true"
                                            ng-options="vm.getEditionValue(item) as item.displayText for item in vm.userRoles"
                                            ng-model="vm.dineplanuser.dinePlanUserRoleId" required></select>
                                </div>
                            </div>

                          
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.dineplanuser.dinePlanUserRoleId==0">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>