﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.user.dineplanuser.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("User").Pluralize()</span> <small>@L("DinePlanUserHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="md-checkbox-list" style="display: inline;">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="isDeleted" class="md-check" type="checkbox" ng-model="vm.isDeleted" ng-change="vm.getAll()">
                    <label for="isDeleted">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Deleted")</strong>
                    </label>
                </div>
            </div>
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDinePlanUser()">
                <i class="fa fa-plus"></i> @L("CreateDinePlanUser")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="vm.clear()" class="btn default" type="button"><i class="icon-refresh"></i> @L("Refresh")</button>
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i> @L("Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
        </div>
    </div>
</div>