﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />


<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="employeeskillsetCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.employeeskillset.id">@L("EditEmployeeSkillSet"): {{vm.employeeskillset.id}}</span>
                <span ng-if="!vm.employeeskillset.id">@L("CreateEmployeeSkillSet")</span>
            </h4>
        </div>
        <div class="modal-body">
			 <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label">@L("Employee")*</label>
                      <ui-select required class="borderself" ng-model="vm.employeeskillset.employeeRefId" ng-disabled="true">
                          <ui-select-match placeholder="Select Employee ...">{{$select.selected.displayText}}</ui-select-match>
                          <ui-select-choices repeat="item.value as item in vm.refemployeecode | filter: $select.search">
                              <div ng-bind="item.displayText"></div>
                          </ui-select-choices>
                      </ui-select>
                  </div>
              </div>
        
               
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-line-input  no-hint">
                    <label class="control-label">@L("SkillSet")*</label>
                    <ui-select autofocus multiple id="skillsetRefId" required ng-model="vm.skillSetRefId" class="form-control">
                        <ui-select-match>{{$item.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item as item in vm.refskillset | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="employeeskillsetCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

