﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $(function () {

        //show tooltip box when textbox get focus
        $('#import').focusin(function () {
            $('#clueTipBox').mouseenter();
        });

        //hide tooltip box when textbox lost focus
        $('#import').focusout(function () {
            $('#clueTipBox').mouseleave();
        });
    });
</script>

<style>

    .ui-redcolor {
        background-color: black;
        color: red;
    }

    .ui-bold {
        font-weight: bold;
    }
</style>
<div ng-controller="tenant.views.hr.master.employeeskillset.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("EmployeeSkillSet").Pluralize()</span> @*<small>@L("EmployeeSkillSetHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createEmployeeSkillSet()">
                <i class="fa fa-plus"></i> @L("CreateEmployeeSkillSet")</button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-6">
                                <input ng-model="vm.filterText" class="form-control" placeholder="@L("Employee")" type="text">
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input ng-model="vm.skillfilterText" auto-focus class="form-control" placeholder="@L("Skill")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height:70vh">
            <div busy-if="vm.loading" style="height:100%">
                <div ui-grid="vm.userGridOptions" style="font-weight:bold;height:100%" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

