﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="common.views.syncdashboard.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold ">@L("SyncDashboard")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getAll()">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10 margin-top-10">
                                <div class="dashboard-stat2 fix">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="bg-font-blue-sharp" style="text-align:center">
                                                <small> @L("Total") @L("Tickets").ToUpper()</small>
                                                <br />
                                                <small> {{vm.totalTickets}}</small>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10 margin-top-10">
                                <div class="dashboard-stat2 fix">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="bg-font-blue-sharp center-block">
                                                <small>@L("Synced") @L("Tickets").ToUpper()</small>
                                                <br />
                                                <small>   {{vm.totalSynced}}</small>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10 margin-top-10">
                                <div class="dashboard-stat2 fix">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="bg-font-blue-sharp">
                                                <small>@L("Total") @L("Amount").ToUpper()</small>
                                                <br />
                                                <small>  {{vm.totalTicketAmount | number : 2}}</small>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("TimeRange")</label>
                                    <div>
                                        <wy-time-picker style="display:inline-block;"
                                                        data-dropdown-toggle-state="settings.dropdownToggleState"
                                                        data-time-settings="settings.time"
                                                        data-theme="settings.theme"
                                                        data-no-range="settings.noRange"
                                                        data-format="settings.format"
                                                        data-no-validation="settings.noValidation">
                                        </wy-time-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 text-right">

                            </div>
                        </div>
                        <div class="row  margin-top-10 margin-bottom-10">
                            <div class="col-xs-12" ng-if="true">
                                <query-builder options="builder.options" builder="builder.builder"></query-builder>
                            </div>
                        </div>
                        @*<div class="row margin-top-20" ng-if="vm.advancedFiltersAreShown">
                            <div class="col-md-2">
                                <div class="md-checkbox">
                                    <input id="unsynced" class="md-check" type="checkbox" name="unsynced" ng-model="vm.unsynced">
                                    <label for="unsynced">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Unsynced")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-checkbox">
                                    <input id="noFilter" class="md-check" type="checkbox" name="noFilter" ng-model="vm.noFilter">
                                    <label for="noFilter">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("NoFilter")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>*@
                        <div class="row margin-top-20">
                            <div class="col-sm-4">
                                @*<span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                                <span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>*@
                            </div>
                            <div class="col-md-8">
                                <div class="f-right">
                                    <button class="btn blue" ng-click="vm.getAll()">
                                        <i class="fa fa-refresh"></i> @L("Refresh").ToUpper()
                                    </button>
                                    <button class="btn btn-danger" ng-click="vm.process()">
                                        <i class="fa fa-refresh"></i> @L("Process").ToUpper()
                                    </button>
                                    <button class="btn red" ng-click="vm.exportToExcel(0)">
                                        <i class="fa fa-file-excel-o"></i> @L("Excel").ToUpper()
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>