﻿<div>
    <div class="modal-header">
        <h5 class="modal-title text-center">@L("Re-Process") @L("Result")</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label  col-sm-6">@L("Passed"):</label>
                    <div class="col-sm-6">
                        {{ vm.totalPass }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-sm-6">@L("Failed"):</label>
                    <div class="col-sm-6">
                        {{ vm.totalFail }}
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-sm-6">@L("Total") @L("Transaction"):</label>
                    <div class="col-sm-6">
                        {{ vm.totalTran}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>

</div>