<div>
    <form name="roleCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("Log")">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label  col-sm-6">@L("TicketNumber"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ticket.ticketNumber }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("TotalAmount"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ticket.totalAmount }}
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("LastUpdatedTime"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ticket.lastUpdateTime | date:'yyyy-MM-dd HH:mm' }}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Contents")">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <textarea class="form-control" type="text" name="Contents" ng-class="{'edited':vm.data.contents}" ng-model="vm.data.contents" required style="height:350px;"></textarea>
                        <label>@L("Contents")</label>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Error")">
                    <div class="col-md-12 border-blue" ng-repeat="x in vm.error">
                        <div class="date-errors padding-tb-10 ">
                            {{x.errorDate| date:'yyyy-MM-dd HH:mm'}}
                        </div>
                        <div class="content-error">
                            {{x.contents}}
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.close()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="roleCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>
<style>
    .date-errors {
        border: 1px solid #EFEFEF;
        text-align: center;
        color: black;
        background-color: lightgrey;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .content-error {
        min-height: 100px;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #EFEFEF;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>