<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.settings.index as vm">
    <div class="row margin-bottom-5">

        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Settings")</span> <small>@L("SettingsHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.saveAll()">
                <i class="fa fa-floppy-o"></i> @L("SaveAll")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <form class="horizontal-form" id="MyLoginForm" busy-if="vm.loading">
                <uib-tabset class="tab-container tabbable-line">

                    <uib-tab heading="@L("General")" ng-if="!vm.isMultiTenancyEnabled">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input class="form-control" type="text" name="WebSiteRootAddress" ng-class="{'edited':vm.settings.general.webSiteRootAddress}" ng-model="vm.settings.general.webSiteRootAddress" required maxlength="128">
                            <label>@L("ThisWebSiteRootAddress")</label>
                            <span class="help-block">@L("ThisWebSiteRootAddress_Hint")</span>
                        </div>
                        <div></div>
                    </uib-tab>
                    <uib-tab heading="@L("UserManagement")">
                        <div>
                            <h4>@L("FormBasedRegistration")</h4>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="Setting_AllowSelfRegistration" class="md-check" type="checkbox" name="AllowSelfRegistration" ng-model="vm.settings.userManagement.allowSelfRegistration">
                                    <label style="color:black" for="Setting_AllowSelfRegistration">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowUsersToRegisterThemselves")
                                    </label>
                                    <span class="help-block">@L("AllowUsersToRegisterThemselves_Hint")</span>
                                </div>
                                <div class="md-checkbox" ng-show="vm.settings.userManagement.allowSelfRegistration">
                                    <input id="Setting_IsNewRegisteredUserActiveByDefault" class="md-check" type="checkbox" name="IsNewRegisteredUserActiveByDefault" ng-model="vm.settings.userManagement.isNewRegisteredUserActiveByDefault">
                                   <label style="color:black" for="Setting_IsNewRegisteredUserActiveByDefault">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("NewRegisteredUsersIsActiveByDefault")
                                    </label>
                                    <span class="help-block">@L("NewRegisteredUsersIsActiveByDefault_Hint")</span>
                                </div>
                                <div class="md-checkbox" ng-show="vm.settings.userManagement.allowSelfRegistration">
                                    <input id="Setting_UseCaptchaOnRegistration" class="md-check" type="checkbox" name="UseCaptchaOnRegistration" ng-model="vm.settings.userManagement.useCaptchaOnRegistration">
                                   <label style="color:black" for="Setting_UseCaptchaOnRegistration">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseCaptchaOnRegistration")
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div ng-if="vm.isMultiTenancyEnabled && vm.settings.ldap.isModuleEnabled">
                            <h4>@L("LdapSettings")</h4>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="Setting_LdapIsEnabled" class="md-check" type="checkbox" name="LdapIsEnabled" ng-model="vm.settings.ldap.isEnabled">
                                   <label style="color:black" for="Setting_LdapIsEnabled">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("EnableLdapAuthentication")
                                    </label>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="vm.settings.ldap.isEnabled">
                                <input type="text" name="LdapDomainName" class="form-control" ng-class="{'edited':vm.settings.ldap.domain}" ng-model="vm.settings.ldap.domain" maxlength="128">
                                <label>@L("DomainName")</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="vm.settings.ldap.isEnabled">
                                <input type="text" name="LdapUserName" class="form-control" ng-class="{'edited':vm.settings.ldap.userName}" ng-model="vm.settings.ldap.userName" maxlength="128">
                                <label>@L("UserName")</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="vm.settings.ldap.isEnabled">
                                <input type="password" name="LdapPassword" class="form-control" ng-class="{'edited':vm.settings.ldap.password}" ng-model="vm.settings.ldap.password" maxlength="128">
                                <label>@L("Password")</label>
                            </div>
                        </div>

                        <div>
                            <h4>@L("OtherSettings")</h4>
                            <div class="md-checkbox">
                                <input id="Setting_IsEmailConfirmationRequiredForLogin" class="md-check" type="checkbox" name="IsEmailConfirmationRequiredForLogin" ng-model="vm.settings.userManagement.isEmailConfirmationRequiredForLogin">
                               <label style="color:black" for="Setting_IsEmailConfirmationRequiredForLogin">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("EmailConfirmationRequiredForLogin")
                                </label>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("EmailSmtp")" ng-if="!vm.isMultiTenancyEnabled">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="email" name="DefaultFromAddress" class="form-control" ng-class="{'edited':vm.settings.email.defaultFromAddress}" ng-model="vm.settings.email.defaultFromAddress" maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxEmailAddressLength">
                            <label>@L("DefaultFromAddress")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="DefaultFromDisplayName" class="form-control" ng-class="{'edited':vm.settings.email.defaultFromDisplayName}" ng-model="vm.settings.email.defaultFromDisplayName" maxlength="128">
                            <label>@L("DefaultFromDisplayName")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpHost" class="form-control" ng-class="{'edited':vm.settings.email.smtpHost}" ng-model="vm.settings.email.smtpHost" maxlength="64">
                            <label>@L("SmtpHost")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="number" name="SmtpPort" class="form-control" ng-class="{'edited':vm.settings.email.smtpPort}" ng-model="vm.settings.email.smtpPort" maxlength="5">
                            <label>@L("SmtpPort")</label>
                        </div>

                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Settings_SmtpEnableSsl" class="md-check" type="checkbox" name="SmtpEnableSsl" ng-model="vm.settings.email.smtpEnableSsl">
                               <label style="color:black" for="Settings_SmtpEnableSsl">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseSsl")
                                </label>
                            </div>
                            <div class="md-checkbox">
                                <input id="Settings_SmtpUseDefaultCredentials" class="md-check" type="checkbox" name="SmtpUseDefaultCredentials" ng-model="vm.settings.email.smtpUseDefaultCredentials">
                               <label style="color:black" for="Settings_SmtpUseDefaultCredentials">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseDefaultCredentials")
                                </label>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                            <input type="text" name="SmtpDomainName" class="form-control" ng-class="{'edited':vm.settings.email.smtpDomain}" ng-model="vm.settings.email.smtpDomain" maxlength="128">
                            <label>@L("DomainName")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                            <input type="text" name="SmtpUserName" class="form-control" ng-class="{'edited':vm.settings.email.smtpUserName}" ng-model="vm.settings.email.smtpUserName" maxlength="128">
                            <label>@L("UserName")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.setRandomPassword" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                            <input type="password" name="SmtpPassword" class="form-control" ng-class="{'edited':vm.settings.email.smtpPassword}" ng-model="vm.settings.email.smtpPassword" maxlength="128">
                            <label>@L("Password")</label>
                        </div>
                    </uib-tab>
                    <uib-tab heading='@L("Sync")' id="Sync">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Url")</label>
                                    <input type="text" name="url" class="form-control input-lg" ng-class="{'edited':vm.settings.general.syncurl}" ng-model="vm.settings.general.syncurl">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Tenant")</label>
                                    <input type="number" name="url" class="form-control input-lg" ng-class="{'edited':vm.settings.general.tenantId}" ng-model="vm.settings.general.tenantId">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("TenantName")</label>
                                    <input type="text" name="url" class="form-control input-lg" ng-class="{'edited':vm.settings.general.tenantName}" ng-model="vm.settings.general.tenantName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("User")</label>
                                    <input type="text" name="url" class="form-control input-lg" ng-class="{'edited':vm.settings.general.user}" ng-model="vm.settings.general.user">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Password")</label>
                                    <input type="password" name="url" class="form-control input-lg" ng-class="{'edited':vm.settings.general.password}" ng-model="vm.settings.general.password">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.syncAll()">
                                        <i class="fa fa-floppy-o"></i> @L("Sync")
                                    </button>


                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.mycustomer == '6PTT'">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.executeApp('~/External/Monitor/SecondMonitor.exe')">
                                        <i class="fa fa-floppy-o"></i> @L("SecondMonitor")
                                    </button>
                                </div>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab heading='@L("Setup")' id="Setup">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.tenantOrderUpdates()">
                                        <i class="fa fa-floppy-o"></i> @L("DuplicateMenuItems")
                                    </button>
                                    <span class="help-block">The Function corrects all the duplicate Menu and Categories</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.clearMenu()">
                                        <i class="fa fa-floppy-o"></i> @L("ClearMenu")
                                    </button>
                                    <span class="help-block">The Function clears all the Current Sales and House Transactions and Menu</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.clearSales()">
                                        <i class="fa fa-floppy-o"></i> @L("ClearSales")
                                    </button>
                                    <span class="help-block">The Function clears all the Sales</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.clearHouseTransaction()">
                                        <i class="fa fa-floppy-o"></i> @L("ClearHouseTransaction")
                                    </button>
                                    <span class="help-block">The Function clears all the House Transaction and Set the Location Transaction Date to Current</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.seedData()">
                                        <i class="fa fa-floppy-o"></i> @L("Seed")
                                    </button>
                                    <span class="help-block">Seed Basic Data</span>
                                </div>
                            </div>
                        </div>


                    </uib-tab>
                    <uib-tab heading='@L("UrbanPiperIntegration")' id="Integrate" ng-if="vm.urbanPiperEnabled">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("Url")</label>
                                    <input type="text" name="Url" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.urbanPiperUrl}" ng-model="vm.settings.connect.urbanPiperUrl">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("PriceTag")</label>
                                    <input type="text" name="PriceTag" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.urbanPiperPriceTag}" ng-model="vm.settings.connect.urbanPiperPriceTag">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("UserName")</label>
                                    <input type="text" name="userName" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.urbanPiperUserName}" ng-model="vm.settings.connect.urbanPiperUserName">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("ApiKey")</label>
                                    <input type="text" name="apiKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.urbanPiperApiKey}" ng-model="vm.settings.connect.urbanPiperApiKey">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" ng-if="!vm.settings.connect.urbanPiperApiKey || !vm.settings.connect.urbanPiperUserName || !!vm.settings.connect.urbanPiperPriceTag">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.integrateMenuItems()">
                                        <i class="fa fa-floppy-o"></i> @L("PushCatalogue")
                                    </button>
                                    <span class="help-block">Flushes everything and update the Master Items and Category to UrbanPiper</span>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="!vm.settings.connect.urbanPiperApiKey || !vm.settings.connect.urbanPiperUserName || !!vm.settings.connect.urbanPiperPriceTag">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.integratePushLocations()">
                                        <i class="fa fa-floppy-o"></i> @L("PushLocation")
                                    </button>
                                    <span class="help-block">Create Locations in UrbanPiper</span>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading='@L("DeliveryHero")' id="IntegrateDev" ng-if="vm.deliveryHeroEnabled">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("Url")</label>
                                    <input type="text" name="Url" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.deliveryHeroUrl}" ng-model="vm.settings.connect.deliveryHeroUrl">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("PriceTag")</label>
                                    <input type="text" name="PriceTag" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.deliveryHeroPriceTag}" ng-model="vm.settings.connect.deliveryHeroPriceTag">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("UserName")</label>
                                    <input type="text" name="userName" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.deliveryHeroUser}" ng-model="vm.settings.connect.deliveryHeroUser">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("Password")</label>
                                    <input type="text" name="apiKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.deliveryHeroPassword}" ng-model="vm.settings.connect.deliveryHeroPassword">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("MenuUrl")</label>
                                    <input type="text" name="apiKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.deliveryHeroPushMenuUrl}" ng-model="vm.settings.connect.deliveryHeroPushMenuUrl">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="btn btn-primary blue margin-top-30" ng-click="vm.integrateDeliveryHero()">
                                        <i class="fa fa-floppy-o"></i> @L("IntegrateMenuItems")
                                    </button>
                                    <span class="help-block">Flushes everything and update the Master Items and Category to DeliveryHero</span>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading='@L("Schedules")' tabindex="1">

                        <div class="row  margin-top-10">
                            <div class="col-md-5">
                                <wy-time-picker style="display:inline-block;"
                                                data-dropdown-toggle-state="settings.dropdownToggleState"
                                                data-time-settings="settings.time"
                                                data-theme="settings.theme"
                                                data-no-range="settings.noRange"
                                                data-format="settings.format"
                                                data-no-validation="settings.noValidation">
                                </wy-time-picker>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>@L("Name")</label>
                                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.scname}" ng-model="vm.scname">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                                    @L("Add")
                                </button>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@L("Name")*</th>
                                            <th>@L("StartHour")*</th>
                                            <th>@L("StartMinute")*</th>
                                            <th>@L("EndHour")*</th>
                                            <th>@L("EndMinute")*</th>
                                            <th>@L("")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(productIndex, product) in vm.schedules">
                                        <td class="col-sm-3">
                                            <label>{{product.name}}</label>
                                        </td>
                                        <td class="col-sm-3">
                                            <label>{{product.startHour}}</label>
                                        </td>
                                        <td class="col-sm-3">
                                            <label>{{product.startMinute}}</label>
                                        </td>
                                        <td class="col-sm-3">
                                            <label>{{product.endHour}}</label>
                                        </td>
                                        <td class="col-sm-3">
                                            <label>{{product.endMinute}}</label>
                                        </td>

                                        <td class="col-sm-2">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                                                @L("Delete")
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr />

                        <div class="row  margin-top-20">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <ui-select multiple ng-model="vm.refweekday" class="form-control">
                                        <ui-select-match placeholder="WeekDays">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="day in vm.refdays">
                                            <small>
                                                {{ day.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ui-select multiple ng-model="vm.refweekend" class="form-control">
                                        <ui-select-match placeholder="WeekEnd">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="day in vm.refdays">
                                            <small>
                                                {{ day.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading='@L("Connect")' ng-if="vm.isConnectEnabled" id="Connect">

                        <div class="row margin-top-10">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("DateTimeFormat")</label>
                                    <input type="text" name="connectADateTimeFormatccessKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.dateTimeFormat}" ng-model="vm.settings.connect.dateTimeFormat">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("DateFormat")</label>
                                    <input type="text" name="connectDateForamtSecretKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.simpleDateFormat}" ng-model="vm.settings.connect.simpleDateFormat">
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-10">
                            <div class="col-sm-4">
                                <div class="form-group form-md-line-input">
                                    <label>@L("TimeZone")</label>
                                    <input type="text" name="timeZoneUtc" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.timeZoneUtc}" ng-model="vm.settings.connect.timeZoneUtc">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-md-line-input">
                                    <label>@L("OperateHours")</label>
                                    <input type="number" name="OperateHours" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.operateHours}" ng-model="vm.settings.connect.operateHours">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-md-line-input">
                                    <label>@L("Decimals")</label>
                                    <input type="number" name="connectdecimals" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.decimals}" ng-model="vm.settings.connect.decimals" onkeypress="return NumberOnly(event, null)">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-sm-4">
                                <div class="md-checkbox">
                                    <input id="Cloudinary" class="md-check" type="checkbox" name="Cloudinary" ng-model="vm.settings.connect.cloudinary">
                                   <label style="color:black" for="Cloudinary">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Cloudinary")
                                    </label>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="md-checkbox">
                                    <input id="SendEmailOnWorkDayClose" class="md-check" type="checkbox" name="SendEmailOnWorkDayClose" ng-model="vm.settings.connect.sendEmailOnWorkDayClose">
                                   <label style="color:black" for="SendEmailOnWorkDayClose">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SendEmailOnWorkDayClose")
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6" ng-if="!vm.settings.connect.cloudinary">
                                <div class="form-group form-md-line-input">
                                    <label>@L("ServerUrl")</label>
                                    <input type="text" name="connectServerUrl" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.serverUrl}" ng-model="vm.settings.connect.serverUrl">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("BucketName")</label>
                                    <input type="text" name="bucketName" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.bucketName}" ng-model="vm.settings.connect.bucketName">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("AccessKey")</label>
                                    <input type="text" name="connectAccessKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.accessKey}" ng-model="vm.settings.connect.accessKey">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label>@L("SecretKey")</label>
                                    <input type="text" name="connectSecretKey" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.secretKey}" ng-model="vm.settings.connect.secretKey">
                                </div>
                            </div>
                        </div>

						<div class="row margin-top-20">
							<div class="col-sm-6">
								<div class="md-checkbox">
									<input id="Settings_LocationAsBrand" class="md-check" type="checkbox" name="LocationAsBrand" ng-model="vm.settings.connect.locationGroupAsBrand">
									<label for="Settings_LocationAsBrand">
										<span class="inc"></span>
										<span class="check"></span>
										<span class="box"></span>
										@L("LocationGroupAsBrand")
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-md-line-input">
									<label>@L("CreditSaleReport")</label>
									<input type="text" name="CreditSaleReport" class="form-control input-lg" ng-class="{'edited':vm.settings.connect.creditSaleReport}" ng-model="vm.settings.connect.creditSaleReport">
								</div>
							</div>
						</div>
                    </uib-tab>
                    <uib-tab heading="@L("Engage")" ng-if="vm.isEngageEnabled" id="engage">
                        @*<div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="number" name="DefaultFromAddress" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.pointsAccumulation}" ng-model="vm.settings.engage.pointsAccumulation">
                                        <label>@L("PointsAccumulation")</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="number" name="DefaultFromAddress" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.pointsAccumulationFactor}" ng-model="vm.settings.engage.pointsAccumulationFactor">
                                        <label>@L("PointsAccumulationFactor")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="number" name="DefaultFromAddress" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.pointsRedemptionFactor}" ng-model="vm.settings.engage.pointsRedemptionFactor">
                                        <label>@L("PointsRedemptionFactor")</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="number" name="DefaultFromAddress" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.pointsRedemption}" ng-model="vm.settings.engage.pointsRedemption">
                                        <label>@L("PointsRedemption")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="OnBoardMemberFromPOS" class="md-check" type="checkbox" name="OnBoardMemberFromPOS" ng-model="vm.settings.engage.onBoardMemberFromPOS">
                                       <label style="color:black" for="OnBoardMemberFromPOS">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("OnBoardMemberFromPOS")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="CalculatePoints" class="md-check" type="checkbox" name="CalculatePoints" ng-model="vm.settings.engage.calculatePoints">
                                       <label style="color:black" for="CalculatePoints">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("CalculatePoints")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="vm.settings.engage.calculatePoints">
                                    <div class="md-checkbox">
                                        <input id="CalculateOnOrder" class="md-check" type="checkbox" name="CalculateOnOrder" ng-model="vm.settings.engage.calculatePointsOnOrder">
                                       <label style="color:black" for="CalculateOnOrder">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("CalculationOnOrder")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="vm.settings.engage.calculatePoints">
                                    <div class="md-checkbox">
                                        <input id="CalculatePointsOnMultiple" class="md-check" type="checkbox" name="CalculatePointsOnMultiple" ng-model="vm.settings.engage.calculatePointsOnMultiple">
                                       <label style="color:black" for="CalculatePointsOnMultiple">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("CalculatePointsOnMultiple")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-40">
                                <div class="col-sm-4">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" name="defaultCity" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.defaultCity}" ng-model="vm.settings.engage.defaultCity">
                                        <label>@L("City")</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" name="defaultState" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.defaultState}" ng-model="vm.settings.engage.defaultState">
                                        <label>@L("State")</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" name="defaultCountry" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.defaultCountry}" ng-model="vm.settings.engage.defaultCountry">
                                        <label>@L("Country")</label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="panel panel-info">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    @L("Member") @L("Creation")
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 margin-top-20">
                                            <div class="md-checkbox">
                                                <input id="AutoGenerateMemberCode" class="md-check" type="checkbox" name="AutoGenerateMemberCode" ng-model="vm.settings.engage.autoGenerateMemberCode">
                                               <label style="color:black" for="AutoGenerateMemberCode">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Auto") @L("Generate") @L("Member") @L("Code")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>@L("Code") @L("Format")</label>
                                                    <input class="form-control" type="text" name="code" ng-class="{'edited':vm.settings.engage.codeFormat}" ng-model="vm.settings.engage.codeFormat">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 margin-top-20">
                                            <div class="md-checkbox">
                                                <input id="CreateNewUserOnActivation" class="md-check" type="checkbox" name="CreateNewUserOnActivation" ng-model="vm.settings.engage.createNewUserOnActivation">
                                               <label style="color:black" for="CreateNewUserOnActivation">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Create") @L("New") @L("User") @L("On") @L("Activation")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin-top-15">
                                            <label class="control-label">@L("Member") @L("User") @L("Role")</label>
                                            <div class="form-group">
                                                <input type="button" class="btn btn-primary" value='@L("User") @L("Role")' ng-if="vm.settings.engage.memberUserRoleID==0" data-ng-click="vm.openMemberUserRole()">
                                                <input type="button" class="btn btn-primary" value='{{ vm.settings.engage.memberUserRoleID}} - {{ vm.settings.engage.memberUserRoleName}}' ng-if="vm.settings.engage.memberUserRoleID!=0" data-ng-click="vm.openMemberUserRole()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                                <h3 class="panel-title bold">
                                    @L("Address")
                                </h3>
                            </div>
                            <div id="collapse2" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" name="defaultCity" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.defaultCity}" ng-model="vm.settings.engage.defaultCity">
                                                <label>@L("City")</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" name="defaultState" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.defaultState}" ng-model="vm.settings.engage.defaultState">
                                                <label>@L("State")</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" name="defaultCountry" class="form-control input-lg" ng-class="{'edited':vm.settings.engage.defaultCountry}" ng-model="vm.settings.engage.defaultCountry">
                                                <label>@L("Country")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="@L("House")" ng-if="vm.isHouseEnabled" id="house">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="InvoiceSupplierRateChangeFlag" class="md-check" type="checkbox" name="InvoiceSupplierRateChangeFlag" ng-model="vm.settings.house.invoiceSupplierRateChangeFlag">
                                   <label style="color:black" for="InvoiceSupplierRateChangeFlag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("InvoiceSupplierRateChangeFlag")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="MessageNotification" class="md-check" type="checkbox" name="MessageNotification" ng-model="vm.settings.house.messageNotification">
                                   <label style="color:black" for="MessageNotification">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DayClose") - @L("MessageNotification")
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="ExtraMaterialAllowedInDc" class="md-check" type="checkbox" name="ExtraMaterialAllowedInDc" ng-model="vm.settings.house.extraMaterialReceivedInDc">
                                   <label style="color:black" for="ExtraMaterialAllowedInDc">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("ExtraMaterialAllowedInDc")
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="tallyIntegrationFlag" class="md-check" type="checkbox" name="ExtraMaterialAllowedInDc" ng-model="vm.settings.house.tallyIntegrationFlag">
                                   <label style="color:black" for="tallyIntegrationFlag">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("TallyIntegrationFlag")
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-20">
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="InterTransferValueShown" class="md-check" type="checkbox" name="InterTransferValueShown" ng-model="vm.settings.house.interTransferValueShown">
                                   <label style="color:black" for="InterTransferValueShown">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("InterTransferValueShown")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="SmartPrintOutExists" class="md-check" type="checkbox" name="SmartPrintOutExists" ng-model="vm.settings.house.smartPrintOutExists">
                                   <label style="color:black" for="SmartPrintOutExists">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SmartPrintOutExists")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="IsMaterialCodeTreatedAsBarCode" class="md-check" type="checkbox" name="IsMaterialCodeTreatedAsBarCode"
                                           ng-model="vm.settings.house.isMaterialCodeTreatedAsBarCode">
                                   <label style="color:black" for="IsMaterialCodeTreatedAsBarCode">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsMaterialCodeTreatedAsBarCode")
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-40">
                            <div class="col-lg-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="number" name="decimals" class="form-control input-lg" ng-class="{'edited':vm.settings.house.decimals}" ng-model="vm.settings.house.decimals" maxlength="1" onkeypress="return NumberOnly(event, null)">
                                    <label>@L("Decimals")</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="number" name="transferRequestLockHours" class="form-control input-lg" ng-class="{'edited':vm.settings.house.transferRequestLockHours}" ng-model="vm.settings.house.transferRequestLockHours">
                                    <label>@L("Transfer") @L("Request") @L("Cutoff")  @L("Hours") </label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="number" name="transferRequestGraceHours" class="form-control input-lg" ng-class="{'edited':vm.settings.house.transferRequestGraceHours}" ng-model="vm.settings.house.transferRequestGraceHours">
                                    <label>@L("Transfer") @L("Request")  @L("Cutoff")  @L("Grace") @L("Hours") </label>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-40" style="border: outset; border-color: lightgreen">

                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="IsOmitFOCMaterialQuantities" class="md-check" type="checkbox" name="IsOmitFOCMaterialQuantities" ng-model="vm.settings.house.isOmitFOCMaterialQuantities">
                                   <label style="color:black" for="IsOmitFOCMaterialQuantities">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsOmitFOCMaterialQuantities") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="IsCalculateAverageRateWithoutTax" class="md-check" type="checkbox" name="IsCalculateAverageRateWithoutTax" ng-model="vm.settings.house.isCalculateAverageRateWithoutTax">
                                   <label style="color:black" for="IsCalculateAverageRateWithoutTax">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsCalculateAverageRateWithoutTax") ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("Average") @L("Price") @L("Tag") </label>
                                    <ui-select class="borderself" id="selMaterialType" ng-class="{'edited':vm.settings.house.defaultAveragePriceTagRefId}" ng-model="vm.settings.house.defaultAveragePriceTagRefId" required>
                                        <ui-select-match placeholder="Select Price Tag...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refaveragepricetags | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-3" ng-if="vm.settings.house.defaultAveragePriceTagRefId==2">
                                <div class="form-group no-hint">
                                    <label>@L("Number") @L("Of") @L("Months") </label>
                                    <input class="form-control" type="text" onkeypress="return NumberOnly(event, null)" name="NoOfMonthAvgTaken" ng-class="{'edited':vm.settings.house.noOfMonthAvgTaken}" ng-model="vm.settings.house.noOfMonthAvgTaken" required>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-20"  style="border: outset; border-color: lightgreen">
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="IsInwardPurchaseOrderReferenceFromOtherErpRequired" class="md-check" type="checkbox" name="IsInwardPurchaseOrderReferenceFromOtherErpRequired"
                                           ng-model="vm.settings.house.isInwardPurchaseOrderReferenceFromOtherErpRequired">
                                    <label style="color:black" for="IsInwardPurchaseOrderReferenceFromOtherErpRequired">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsInwardPurchaseOrderReferenceFromOtherErpRequired")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="IsInwardInvoiceNumberReferenceFromOtherErpRequired" class="md-check" type="checkbox" name="IsInwardInvoiceNumberReferenceFromOtherErpRequired"
                                           ng-model="vm.settings.house.isInwardInvoiceNumberReferenceFromOtherErpRequired">
                                   <label style="color:black" for="IsInwardInvoiceNumberReferenceFromOtherErpRequired">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsInwardInvoiceNumberReferenceFromOtherErpRequired")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("PurchaseOrder") @L("CCEmailListSepartedBySemicolon")  </label>
                                    <input type="text" name="url" class="form-control input-lg" ng-class="{'edited':vm.settings.house.purchaseOrderCCMailList}" ng-model="vm.settings.house.purchaseOrderCCMailList">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-40" style="border: outset; border-color: lightgreen">
                            <div class="col-sm-12 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="WhileClosingStockTakenCanAllUnitAllowed" class="md-check" type="checkbox" name="WhileClosingStockTakenCanAllUnitAllowed"
                                           ng-model="vm.settings.house.whileClosingStockTakenCanAllUnitAllowed">
                                   <label style="color:black" for="WhileClosingStockTakenCanAllUnitAllowed">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("WhileClosingStockTakenCanAllUnitAllowed") ?
                                    </label>
                                </div>
                                <span style="color: red" class="bold red margin-top-20" ng-if="vm.settings.house.whileClosingStockTakenCanAllUnitAllowed"> All the units linked with material can be used, while enter closing stock entry</span>
                                <span style="color: blue" class="bold blue margin-top-20" ng-if="!vm.settings.house.whileClosingStockTakenCanAllUnitAllowed"> Only Default / Transaction / Stock Adjustment Unit can be used, , while enter closing stock entry</span>
                            </div>
                        </div>
                        <div class="row margin-top-40" style="border: outset; border-color: lightgreen">
                            <div class="col-sm-12 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="BackGroundDayCloseCanBeAllowed" class="md-check" type="checkbox" name="BackGroundDayCloseCanBeAllowed"
                                           ng-model="vm.settings.house.backGroundDayCloseCanBeAllowed">
                                   <label style="color:black" for="BackGroundDayCloseCanBeAllowed">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("BackGroundDayCloseCanBeAllowed") ?
                                    </label>
                                </div>
                                @*<span style="color: red" class="bold red margin-top-20" ng-if="vm.settings.house.backGroundDayCloseCanBeAllowed"> All the units linked with material can be used, while enter closing stock entry</span>
                                    <span style="color: blue" class="bold blue margin-top-20" ng-if="!vm.settings.house.backGroundDayCloseCanBeAllowed"> Only Default / Transaction / Stock Adjustment Unit can be used, , while enter closing stock entry</span>*@
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-lg-3">
                                <div class="form-group no-hint">
                                    <label>@L("Materials") Count To Update Test </label>
                                    <input class="form-control" type="text" onkeypress="return NumberOnly(event, null)" name="MaterialCountToUpdate" ng-class="{'edited':vm.settings.house.materialCountToUpdate}" ng-model="vm.settings.house.materialCountToUpdate" required>
                                </div>
                            </div>

                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Touch")" ng-if="vm.isCompactEnabled" id="compactSale">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="number" name="RoundValue" class="form-control input-lg" ng-class="{'edited':vm.settings.compact.rounding}" ng-model="vm.settings.compact.rounding">
                                    <label>@L("Rounding")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="number" name="TotalDecimal" class="form-control input-lg" ng-class="{'edited':vm.settings.compact.totalDecimal}" ng-model="vm.settings.compact.totalDecimal">
                                    <label>@L("NoOfDecimal")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="TaxInclusive" class="md-check" type="checkbox" name="TaxInclusive" ng-model="vm.settings.compact.taxInclusive">
                                   <label style="color:black" for="TaxInclusive">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("TaxInclusive")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="IsActivity" class="md-check" type="checkbox" name="TaxInclusive" ng-model="vm.settings.compact.isActivity">
                                   <label style="color:black" for="IsActivity">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsActivity")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="IsReport" class="md-check" type="checkbox" name="TaxInclusive" ng-model="vm.settings.compact.isReport">
                                   <label style="color:black" for="IsReport">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsReport")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="IsBlindShift" class="md-check" type="checkbox" name="TaxInclusive" ng-model="vm.settings.compact.isBlindShift">
                                   <label style="color:black" for="IsBlindShift">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsBlindShift")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-sm-3">
                                <div class="md-checkbox">
                                    <input id="DuplicateReceipt" class="md-check" type="checkbox" name="DuplicateReceipt" ng-model="vm.settings.compact.duplicateReceipt">
                                   <label style="color:black" for="DuplicateReceipt">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DuplicateReceipt")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("ReceiptHeader")</label>
                                    <textarea class="form-control" rows="10" ng-class="{'edited':vm.settings.compact.receiptHeader}" ng-model="vm.settings.compact.receiptHeader"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("ReceiptFooter")</label>
                                    <textarea class="form-control" rows="10" ng-class="{'edited':vm.settings.compact.receiptFooter}" ng-model="vm.settings.compact.receiptFooter"></textarea>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="@L("Swipe")" ng-if="vm.isSwipeEnabled" id="swipe">
                        <div class="row">
                            @*<div class="col-sm-6">
                                    <div class="md-checkbox">
                                        <input id="CanIssueCardDirectly" class="md-check" type="checkbox" name="CanIssueCardDirectly" ng-model="vm.settings.swipe.canIssueCardDirectly">
                                       <label style="color:black" for="CanIssueCardDirectly">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("CanIssueCardDirectly")
                                        </label>
                                    </div>
                                </div>*@
                        </div>

                        <div class="row margin-top-40">

                            <div class="col-sm-6 margin-top-30">
                                <div class="md-checkbox">
                                    <input id="DepositRequiredDefault" class="md-check" type="checkbox" name="DepositRequiredDefault" ng-model="vm.settings.swipe.depositRequiredDefault">
                                   <label style="color:black" for="DepositRequiredDefault">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DepositRequiredDefault")
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6" ng-if="vm.settings.swipe.depositRequiredDefault">
                                <div class="form-group">
                                    <label>@L("DepositAmountDefault")</label>
                                    <input type="number" name="DepositAmountDefault" class="form-control input-lg" ng-class="{'edited':vm.settings.swipe.depositAmountDefault}" ng-model="vm.settings.swipe.depositAmountDefault" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" maxlength="8">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-40">
                            <div class="col-sm-6">
                                <div class="md-checkbox">
                                    <input id="RefundAllowedDefault" class="md-check" type="checkbox" name="RefundAllowedDefault" ng-model="vm.settings.swipe.refundAllowedDefault">
                                   <label style="color:black" for="RefundAllowedDefault">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("RefundAllowedDefault")
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("ExpiryDaysFromLastUsageDefault")</label>
                                    <input type="number" name="ExpiryDaysFromIssueDefault" class="form-control input-lg" ng-class="{'edited':vm.settings.swipe.expiryDaysFromLastUsageDefault}" ng-model="vm.settings.swipe.expiryDaysFromLastUsageDefault" onkeypress="return NumberOnly(event, null)" maxlength="4">
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Tick")" ng-if="vm.isTickEnabled" id="tick">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Absent") @L("Deduction") @L("Per") @L("Day") </label>
                                    <input type="number" name="AbsentDeductionPerDay" class="form-control input-lg" ng-class="{'edited':vm.settings.house.absentDeductionPerDay}" ng-model="vm.settings.house.absentDeductionPerDay">
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading='@L("LastSyncStatuses")' tabindex="10" id="lastSyncs">

                        <div class="row  margin-top-10" style="align-items: center; display: flex;">
                            <div class="col-md-5">
                                <wy-time-picker data-dropdown-toggle-state="lastSyncSettings.dropdownToggleState"
                                                data-time-settings="lastSyncSettings.time"
                                                data-theme="lastSyncSettings.theme"
                                                data-no-range="lastSyncSettings.noRange"
                                                data-format="lastSyncSettings.format"
                                                data-no-validation="timeSettings"
                                                data-apply-callback="onApplyTimePicker()"
                                                data-clear-callback="onClearTimePicker()">
                                </wy-time-picker>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>@L("Status")</label>
                                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.status}" ng-model="vm.status">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addStatus()">
                                    @L("Add")
                                </button>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@L("Status")*</th>
                                            <th>@L("StartHour")*</th>
                                            <th>@L("StartMinute")*</th>
                                            <th>@L("EndHour")*</th>
                                            <th>@L("EndMinute")*</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index, product) in vm.lastSyncStatuses">
                                        <td class="col-sm-2">
                                            <label>{{product.status}}</label>
                                        </td>
                                        <td class="col-sm-2">
                                            <label>{{product.startHour}}</label>
                                        </td>
                                        <td class="col-sm-2">
                                            <label>{{product.startMinute}}</label>
                                        </td>
                                        <td class="col-sm-2">
                                            <label>{{product.endHour}}</label>
                                        </td>
                                        <td class="col-sm-2">
                                            <label>{{product.endMinute}}</label>
                                        </td>

                                        <td class="col-sm-2">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.removeStatus(index)">
                                                @L("Delete")
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr />
                    </uib-tab>
                    <uib-tab heading='@L("Password") @L("Policy")' id="passwordPolicy">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Minimum") @L("Length") @L("Of") @L("Password")</label>
                                    <input type="number" name="minimumlength" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.min_Length}" ng-model="vm.settings.passwordPolicy.min_Length" ng-change="vm.getPasswordPolicyRule()">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Maximum") @L("Length") @L("Of") @L("Password")</label>
                                    <input type="number" name="maximumlength" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.max_Length}" ng-model="vm.settings.passwordPolicy.max_Length" ng-change="vm.getPasswordPolicyRule()">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Minimum") @L("Number") @L("Of") @L("LCL") @L("In") @L("Password")</label>
                                    <input type="number" name="minimumLCL" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.min_LCL}" ng-model="vm.settings.passwordPolicy.min_LCL" ng-change="vm.getPasswordPolicyRule()">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Minimum") @L("Number") @L("Of") @L("UCL") @L("In") @L("Password")</label>
                                    <input type="number" name="minimumUCL" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.min_UCL}" ng-model="vm.settings.passwordPolicy.min_UCL" ng-change="vm.getPasswordPolicyRule()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Minimum") @L("Number") @L("Of") @L("AC") @L("In") @L("Password")</label>
                                    <input type="number" name="min_AC" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.min_AC}" ng-model="vm.settings.passwordPolicy.min_AC" ng-change="vm.getPasswordPolicyRule()">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Minimum") @L("Number") @L("Of") @L("SC") @L("In") @L("Password")</label>
                                    <input type="number" name="min_SC" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.min_SC}" ng-model="vm.settings.passwordPolicy.min_SC" ng-change="vm.getPasswordPolicyRule()">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Size") @L("Of") @L("Password") @L("History")</label>
                                    <input type="number" name="size" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.size}" ng-model="vm.settings.passwordPolicy.size">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Impermissible") @L("Password")</label>
                                    <input type="text" name="impermissible_Passwords" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.impermissible_Passwords}" ng-model="vm.settings.passwordPolicy.impermissible_Passwords">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Password") @L("Maximum") @L("Idle") @L("Time")</label>
                                    <input type="number" name="maximum_IT" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.maximum_IT}" ng-model="vm.settings.passwordPolicy.maximum_IT">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Password") @L("Validity") @L("Period")</label>
                                    <input type="number" name="password_VP" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.password_VP}" ng-model="vm.settings.passwordPolicy.password_VP">
                                </div>
                            </div>
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="Allow_LIDPP" class="md-check" type="checkbox" name="Allow_LIDPP" ng-model="vm.settings.passwordPolicy.allow_LIDPP">
                                   <label style="color:black" for="Allow_LIDPP">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowLogonIDasPartofPassword")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="Allow_OPPP" class="md-check" type="checkbox" name="Allow_OPPP" ng-model="vm.settings.passwordPolicy.allow_OPPP">
                                   <label style="color:black" for="Allow_OPPP">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowOldPasswordAsPartOfNewPassword")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="Allow_UCOP" class="md-check" type="checkbox" name="Allow_UCOP" ng-model="vm.settings.passwordPolicy.allow_UCOP">
                                   <label style="color:black" for="Allow_UCOP">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowUsersToChangeTheirOwnPassword")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 margin-top-20">
                                <div class="md-checkbox">
                                    <input id="Enforce" class="md-check" type="checkbox" name="Enforce" ng-model="vm.settings.passwordPolicy.enforce">
                                   <label style="color:black" for="Enforce">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("EnforcePasswordSecurityPolicyAtLogon")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Maximum") @L("Number") @L("Of") @L("FLA")</label>
                                    <input type="number" name="maximum_NFLA" class="form-control input-lg" ng-class="{'edited':vm.settings.passwordPolicy.maximum_NFLA}" ng-model="vm.settings.passwordPolicy.maximum_NFLA">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@L("Suggest") @L("Message")</label>
                                    <textarea class="form-control" ng-class="{'edited':vm.settings.passwordPolicy.suggest_Message}" ng-model="vm.settings.passwordPolicy.suggest_Message"></textarea>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div ng-if="vm.passwordPolicy!=null && vm.settings.passwordPolicy.enforce" >
							<p class="m-heading-1 border-yellow-gold m-bordered" ng-bind-html="vm.passwordPolicy.description">
							</p>
                        </div>

                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
</div>