@using DinePlan.DineConnect.Localization
<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Report")</span>
            </h3>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Report")</label>
                        <ui-select multiple ng-model="vm.allRequestReports" class="form-control">
                            <ui-select-match placeholder=@L("Reports")>{{$item.displayText}}</ui-select-match>
                            <ui-select-choices repeat="dept in vm.allReports">
                                <small>
                                    {{ dept.displayText }}
                                </small>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                        <span class="input-group-btn">
                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" busy-if="vm.loading">
                <div class="col-xs-12">
                    <div ui-grid="vm.locationOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    </form>
</div>