﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />


<div ng-controller="tenant.views.house.master.suppliermaterial.createOrEditModal as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h4 class="modal-title">
                        <span class="caption-subject bold uppercase">@L("EditSupplierMaterial")</span>
                    </h4>
                    @*<h4>
                            <span ng-if="vm.suppliermaterial.id">@L("EditMaterial"): {{vm.suppliermaterial.supplierRefId | uppercase}}</span>
                            <span ng-if="!vm.matsuppliermaterialerial.id">@L("CreateMaterial") : {{vm.suppliermaterial.supplierRefId | uppercase}}</span>
                        </h4>*@
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="suppliermaterialCreateOrEditForm">
                    <div class="row" busy-if="vm.loading">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">@L("SupplierName")</label>
                                <ui-select id="selSupplier" class="borderself" ng-value="data.supplierRefName" ng-model="vm.suppliermaterial.supplierRefId" required ng-disabled="true">
                                    <ui-select-match placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices ng-model="vm.suppliermaterial.supplierRefId" repeat="item.value as item in vm.temprefSupplierName | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="md-checkbox">
                                <input id="alllocation" class="md-check" type="checkbox" name="alllocation"
                                       ng-class="{'edited':vm.alllocationflag}" ng-change="vm.clearExistRecords();" ng-model="vm.alllocationflag">
                                <label for="alllocation">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AllLocations")
                                </label>

                                <ui-select multiple ng-model="vm.selectedLocations" class="form-control" ng-show="!vm.alllocationflag">
                                    <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="location in vm.refallowedLocations">
                                        <small>
                                            @L("Name"): {{ location.name }}
                                            <br />
                                            @L("Code"): {{ location.code }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-1 text-right margin-top-20" ng-show="!vm.alllocationflag && vm.materialDetailPortion.length==0">
                            <button name="refresh" ng-disabled="vm.saving" type="button" class="btn btn-default btn-primary" ng-click="vm.getDataForGivenLocations()"><i class="fa fa-refresh"></i> </button>
                        </div>
                        @*<div class="col-xs-8">
                            <div class="form-group">
                                <label class="control-label">@L("Locations")</label>
                                <ui-select multiple ng-model="vm.selectedLocations" class="form-control">
                                    <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="location in vm.refallowedLocations">
                                        <small>
                                            @L("Name"): {{ location.name }}
                                            <br />
                                            @L("Code"): {{ location.code }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>*@
                    </div>
                    <div class="row" busy-if="vm.loading">
                        <div class="col-sm-6" ng-if="false">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="LastQuoteRefNo" ng-class="{'edited':vm.suppliermaterial.lastQuoteRefNo}" ng-model="vm.suppliermaterial.lastQuoteRefNo" required>
                                <label>@L("LastQuoteRefNo")</label>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-if="false">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("LastQuoteDate")</label>
                                <input class="datepicker" type="date" name="LastQuoteRefNo" ng-class="{'edited':vm.suppliermaterial.lastQuoteDate}" ng-model="vm.suppliermaterial.lastQuoteDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" busy-if="vm.loading">
                        <div class="col-sm-11">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("Delete")</th>
                                        <th>@L("Edit")</th>
                                        <th>@L("MaterialName")</th>
                                        <th>@L("AliasName")</th>
                                        <th>@L("UOM")</th>
                                        <th class="text-right">@L("Price")</th>
                                        <th class="text-right">@L("MOQ")</th>
                                        <th ng-if="false">@L("QuoteRef")</th>
                                        <th>@L("Actions")</th>
                                        <th>@L("UnitConversion")</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.materialDetailPortion">
                                    <td class="col-sm-1">
                                        @*<input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.deleteSupplierMaterial(data,index)" />*@
                                        <button class="btn btn-primary" data-ng-click="vm.deleteSupplierMaterial(data,index)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                    <td class="col-sm-1">
                                        <input type="button" class="btn btn-primary" value="@L("Edit")" data-ng-click="vm.editSet(index)" />
                                    </td>
                                    <td class="col-sm-3">
                                        <ui-select id="selMaterial" class="borderself" ng-required="true" ng-disabled="!data.editflag" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId">
                                            <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}} </ui-select-match>
                                            <ui-select-choices ng-model="data.materialRefId" repeat="item.id as item in vm.refmaterial | filter: $select.search | limitTo: vm.uilimit">
                                                <div ng-bind="item.materialName"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>

                                    <td class="col-sm-3">
                                        <input id="aliasName" type="text" class="form-control" ng-model="data.supplierMaterialAliasName" ng-disabled="!data.editflag || !data.materialRefId" />


                                    </td>
                                    <td class="col-sm-1">
                                        <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.uom}} </b> </span> </a>
                                        <ui-select id="selSupUnit" class="borderself" ng-value="data.uom" ng-model="data.unitRefId" ng-disabled="!vm.mutlipleUomAllowed" ng-change="vm.supunitReference(data,$select.selected)" ng-if="data.changeunitflag">
                                            <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.suprefunit | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>

                                    <td class="col-sm-1">
                                        <input id="price" type="text" class="form-control text-right"
                                               onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.materialPrice" required ng-disabled="!data.editflag || !data.materialRefId" />
                                    </td>
                                    <td class="col-sm-1">
                                        <input id="moq" type="text" class="form-control text-right"
                                               onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.minimumOrderQuantity" required ng-disabled="!data.editflag || !data.materialRefId" />
                                    </td>

                                    <td class="col-sm-1" ng-if="false">
                                        <input id="quotereference" type="text" class="form-control text-right" ng-model="data.lastQuoteRefNo" ng-disabled="!data.materialRefId" />
                                    </td>
                                    <td class="col-sm-1">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </td>
                                    <td class="col-sm-1">
                                        <button type="button" class="btn btn-info" data-ng-click="vm.unitConversionLink(data)">
                                            <i class="glyphicon glyphicon-scale"></i> <span></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row margin-top-40">
                        <div class="col-xs-11 text-right">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.save()" ng-disabled="suppliermaterialCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
