﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delagglocationitem.delagglocationitem as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delagglocationitem.id">@L("EditDelAggLocationItem"): {{vm.delagglocationitem.name}}</span>
                        <span ng-if="!vm.delagglocationitem.id">@L("CreateDelAggLocationItem")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="delagglocationitemCreateOrEditForm" role="form" novalidate class="form-validation">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggLocMapping")</label>
                                    <ui-select class="borderself" id="locmap" ng-model="vm.delagglocationitem.delAggLocMappingId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delagglocationitem.delAggLocMappingId" repeat="item.id as item in vm.reflocmap | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggItem")</label>
                                    <ui-select class="borderself" id="item" ng-model="vm.delagglocationitem.delAggItemId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delagglocationitem.delAggItemId" repeat="item.id as item in vm.refitem | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggVariant")</label>
                                    <ui-select class="borderself" id="item" ng-model="vm.delagglocationitem.delAggVariantId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delagglocationitem.delAggVariantId" repeat="item.id as item in vm.refvariant | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggModifier")</label>
                                    <ui-select class="borderself" id="item" ng-model="vm.delagglocationitem.delAggModifierId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delagglocationitem.delAggModifierId" repeat="item.id as item in vm.refmodifier | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group ">
                                    <label>@L("Price")</label>
                                    <input class="form-control" type="number" name="Price" ng-class="{'edited':vm.delagglocationitem.price}" ng-model="vm.delagglocationitem.price">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="md-checkbox margin-top-30">
                                    <input id="Active" class="md-check" type="checkbox" ng-model="vm.delagglocationitem.inActive" name="Active" />
                                    <label for="Active">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("In") @L("Active")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">@L("DelPriceType")</label>
                                    <ui-select class="borderself" id="selPriceType" ng-class="{'edited':vm.delagglocationitem.delAggPriceTypeRefId}"
                                               ng-model="vm.delagglocationitem.delAggPriceTypeRefId">
                                        <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.delpriceTypes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="delagglocationitemCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

