﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delagglocationitem.indexdelagglocationitem as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggLocationItem")</span> <small>@L("DelAggLocationItemHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>

            <button @*ng-if="vm.permissions.create"*@ class="btn btn-primary blue" ng-click="vm.createDelAggLocationItem()">
                <i class="fa fa-plus"></i> @L("CreateDelAggLocationItem")</button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggLocMapping") &nbsp;<a ng-click="vm.delAggLocMappingId=null;vm.editFlag = false;" ng-if="vm.delAggLocMappingId!=null">@L("Clear")</a></label>
                                    <ui-select id="locmap" ng-model="vm.delAggLocMappingId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delAggLocMappingId" repeat="item.id as item in vm.reflocmap | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggItem")&nbsp;<a ng-click="vm.delAggItemId=null;vm.editFlag = false;" ng-if="vm.delAggItemId!=null">@L("Clear")</a></label>
                                    <ui-select id="item" ng-model="vm.delAggItemId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delAggItemId" repeat="item.id as item in vm.refitem | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggVariant")&nbsp;<a ng-click="vm.delAggVariantId=null;vm.editFlag = false;" ng-if="vm.delAggVariantId!=null">@L("Clear")</a></label>
                                    <ui-select id="item" ng-model="vm.delAggVariantId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delAggVariantId" repeat="item.id as item in vm.refvariant | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggModifier")&nbsp;<a ng-click="vm.delAggModifierId=null;vm.editFlag = false;" ng-if="vm.delAggModifierId!=null">@L("Clear")</a></label>
                                    <ui-select id="item" ng-model="vm.delAggModifierId">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.delAggModifierId" repeat="item.id as item in vm.refmodifier | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelPriceType")&nbsp;<a ng-click="vm.delAggPriceTypeRefId=null;vm.editFlag = false;" ng-if="vm.delAggPriceTypeRefId!=null">@L("Clear")</a></label>
                                    <ui-select class="borderself" id="selPriceType" ng-class="{'edited':vm.delAggPriceTypeRefId}"
                                               ng-model="vm.delAggPriceTypeRefId">
                                        <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.delpriceTypes | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4  margin-top-20">
                                <button ng-click="vm.getAll()" class="btn default" type="submit">Refresh</button>
                            </div>
                            <div class="col-xs-4  margin-top-20">
                                <button ng-click="vm.getAllClear()" class="btn default" type="submit">Clear</button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

