﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.display.detail as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase"><span ng-if="vm.workMode=='ADD'">@L("Create")</span> @L("Display")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            @*<uib-tabset active="active" class="tab-container tabbable-line">
                                <uib-tab index="0" heading="General">
                                    
                                </uib-tab>
                            </uib-tabset>*@
                            <div class="form">
                                <form name="displayCreateOrEditForm"
                                      role="form" novalidate class="form-validation form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@L("Name")</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text"
                                                   ng-model="vm.display.name" required aria-describedby="">
                                            <span id="helpBlockPlant" class="help-block">
                                                @L("DisplayNameDesc")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label">@L("Plant")</label>
                                        <div class="col-sm-10">
                                            @*<select ng-model="vm.selectedPlant" ng-options="r.name for r in vm.plants"
                                                    class="form-control" required>
                                            </select>*@
                                            <div class="input-group">
                                                <input type="text" class="form-control" value="{{vm.selectedPlant.name}}" disabled>
                                                <span class="input-group-btn" style="padding-left:5px;">
                                                    <button class="btn btn-default" ng-click="vm.openLocationSelectorModal()">
                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <span id="helpBlockPlant" class="help-block">
                                                @L("DisplayPlantDesc")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label">@L("Resolution")</label>
                                        <div class="col-sm-10">
                                            <select ng-model="vm.selectedResolution" ng-options="r.name for r in vm.resolutions"
                                                    class="form-control"
                                                    aria-describedby="helpBlockResolution"
                                                    required>
                                            </select>
                                            <span id="helpBlockResolution" class="help-block">
                                                @L("LayoutResolutionDesc")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@L("MacAddress")</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text"
                                                   ng-model="vm.display.macAddress">
                                            <span id="helpBlockResolution" class="help-block">
                                                @L("DisplayMacAddressDesc")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px;">
                                        <label class="col-sm-2 control-label">&nbsp;</label>
                                        <div class="col-sm-5" style="padding-top:5px;">
                                            <div class="checkbox">
                                                <label style="margin-left:15px;">
                                                    <input type="checkbox" style="margin-top:2px;" ng-model="vm.display.active">
                                                    Enable?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="input-group" style="margin-bottom:3px;text-align:right;">
                                                <span class="input-group-btn">
                                                    <button ng-click="vm.openDisplayGroupSelectorModal()"
                                                            class="btn btn-default" type="submit">
                                                        <i class="icon-plus"></i>
                                                        Add groups
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <div busy-if="vm.loading" style="height: 100%;">
                                                <div ui-grid="vm.userGridOptions" style="height: 100%;"
                                                     ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize
                                                     dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">

                            <div class="row">
                                <div class="col-xs-6" style="text-align:left;">
                                    <button ng-if="vm.workMode=='EDIT'" type="submit" button-busy="vm.saving"
                                            busy-text="@L("SavingWithThreeDot")" class="btn btn-primary green"
                                            ng-click="vm.copyRegistrationKeyToClipBoard()">
                                        <i class="fa fa-clone"></i> <span>@L("RegistrationKey")</span>
                                    </button>
                                    <div><input ng-if="vm.workMode=='EDIT'" style="display:none;" id="txtRegisKey" type="text" value="{{vm.registrationKey}}" /></div>
                                </div>
                                <div class="col-xs-6">
                                    <button name="cancel" ng-disabled="vm.saving"
                                            type="button" class="btn btn-default"
                                            ng-click="vm.cancel()">
                                        @L("Cancel")
                                    </button>
                                    <button type="submit" button-busy="vm.saving"
                                            busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                            ng-click="vm.save()" ng-disabled="displayCreateOrEditForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>
<style>
    .ui-grid {
        min-height:200px !important;
    }
</style>

