﻿
		@using DinePlan.DineConnect.Localization
		@using Humanizer
		<div ng-controller="tenant.views.play.displays as vm">
			<div class="row margin-bottom-5">
				<div class="col-xs-6">
					<div class="page-head">
						<div class="page-title">
							<h1>
								<span class="caption-subject bold uppercase">@L("Display").Pluralize()</span>
							</h1>
						</div>
					</div>
				</div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-large green" ng-click="vm.openLocationSelectorModal()">
                        <i class="fa fa-file"></i> <span>@L("Locations")</span>
                    </button>
                    <button class="btn btn-primary blue" ng-click="vm.createDisplay()">
                        <i class="fa fa-plus"></i> @L("Create") @L("Display")
                    </button>
                </div>
			</div>
			<div class="portlet light">
				<div class="portlet-title portlet-title-filter">
					<div class="inputs inputs-full-width">
						<div class="portlet-input">
							<form>
								<div class="input-group">
									<input ng-model="vm.filterText"
										   auto-focus class="form-control"
										   placeholder="@L("SearchWithThreeDot")" type="text"
										   enter-key="vm.getDisplays()">
									<span class="input-group-btn">
										<button ng-click="vm.getDisplays()"
												class="btn default" type="submit">
											<i class="icon-magnifier"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="portlet-body" style="height: 60vh;">
					<div busy-if="vm.loading" style="height: 100%;">
						<div ui-grid="vm.userGridOptions" style="height: 100%;"
							 ui-grid-pagination ui-grid-resize-columns
							 dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
					</div>
				</div>
			</div>
		</div>
	