﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.transaction.dayclose.daycloseindex as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DayClose").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            <button ng-if="vm.doesRunInBackGround" class="btn btn-primary blue" ng-click="vm.checkCloseDay()">
                <i class="fa fa-hourglass"></i> @L("Check") @L("Status")
            </button>

            <button ng-if="vm.permissions.create" ng-disabled="vm.doesRunInBackGround" class="btn btn-primary blue" ng-click="vm.createDetailItem()">
                <i class="fa fa-thumbs-o-up"></i> @L("DayClose")
            </button>
            <button class="btn btn-primary purple" ng-click="vm.openHangFire()">
                <i class="fa fa-hourglass"></i> @L("Background") @L("Status")
            </button>
            <button ng-if="vm.permissions.missingSalesIntoDayClose" ng-disabled="vm.doesRunInBackGround" class="btn btn-primary yellow" ng-click="vm.missingSalesModule()">
                <i class="fa fa-plus-square-o"></i> @L("IncludeSalesIntoClosedLedger")
            </button>
        </div>
    </div>
    <div class="portlet light">
        @*<div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("MaterialName") / @L("Barcode")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@
        <div class="portlet-body" ng-if="vm.doesRunInBackGround">

            <div ng-if="vm.doesRunInBackGround" style="color:gold;background-color:black">
                <center>Start Time : {{startTime}} , Current Time : {{theTime}}</center>
                <center><h1>{{vm.backgroundStatus}} - {{vm.noofInterval}}</h1> </center>
            </div>
        </div>
        <div class="portlet-body" ng-if="vm.backgroundFinished==true">
            <div ng-if="vm.backgroundFinished" style="color:gold;background-color:black">
                <center><h1>{{vm.remarksAfterFinished}}</h1> </center>
            </div>
        </div>

            
        <div class="portlet-body" style="height: 50vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":"" )></div>
            </div>
        </div>
    </div>
</div>

