﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.dayclose.dayclose as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span > @L("DayClose") <span ng-if="vm.status.length>0"> - {{vm.status}}</span> </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.saving || vm.loading">
                <form name="daycloseRequestForm">
                    <div class="form-body">


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-disabled="vm.defaultLocationId">
                                    <label class="control-label">@L("CurrentLocation")</label>
                                    <ui-select class="borderself" id="defaultLocation" ng-disabled="vm.defaultLocationId" ng-model="vm.locationRefId" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label">@L("TransactionDate")</label>

                                <input name="trnDate" class="form-control date-picker" ng-class="{'edited':vm.housetransactiondate}" ng-model="vm.housetransactiondate" />
                            </div>
                        </div>
                    </div>
                    <div class="m-heading-1 border-yellow-gold m-bordered" ng-if="vm.remarks.length>0">
                        <h3 style="color:white;background-color:orangered;">   {{vm.remarks}} </h3>
                    </div>

                    <div class="m-heading-1 border-yellow-gold m-bordered" ng-if="!vm.salesExistFlag && vm.salesMessage.length>0">
                        <h4 style="color:red"> <b>  {{vm.salesMessage}} </b></h4>
                    </div>

                    <div class="m-heading-1 border-red-mint m-bordered" ng-if="vm.sameDayCloseAlertFlag">
                        <h2 style="color:white; background-color:orangered"> <b>  {{vm.sameDayCloseMessage}} </b></h2>
                    </div>


                    <div class="m-heading-1 border-green-dark m-bordered" ng-if="vm.salesExistFlag && vm.salesMessage.length>0">
                        <h4 style="color:lightseagreen"> <b>  {{vm.salesMessage}} </b></h4>
                    </div>

                    <div class="m-heading-1 border-red-intense m-bordered" ng-if="vm.lastDayCloseErrorFlag && vm.dayCloseSyncErrorList.length>0">
                        <div class="row">
                            <div>
                                <h4 class="bold" style="color:darkred;">@L("DayCloseSyncErrorMessage")</h4>
                                <table class="table table-striped table-bordered col-xs-12" ng-if="vm.dayCloseSyncErrorList.length>0">
                                    <caption class="text-center"> <h3> <b> @L("DayCloseSalesSyncAnalysis") @L("Detail") </b></h3></caption>
                                    <thead>
                                        <tr>
                                            <th>@L("AccountDate")</th>
                                            <th>@L("DayClose") @L("Time")</th>
                                            <th>@L("Status")</th>
                                            <th>@L("SalesSync") <br /> @L("DayClose")</th>
                                            <th>@L("ActualSales") </th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.dayCloseSyncErrorList">
                                        <td class="col-xs-2">
                                            {{data.accountDate | date : 'dd-MMM-yyyy' }}
                                        </td>
                                        <td class="col-xs-2">
                                            {{data.dayCloseTime | date : 'dd-MMM-yyyy h:mm a' }}
                                        </td>
                                        <td class="col-xs-2">
                                            <span style="color:red;" class="bold" ng-if="data.syncErrorFlag">@L("Mismatch")</span>
                                            <span style="color:green;" class="bold" ng-if="!data.syncErrorFlag">@L("NoMismatch")</span>
                                        </td>
                                        <td class="col-xs-3">
                                            <span ng-if="data.syncErrorFlag">@L("Ticket") @L("Count") : {{data.dayCloseSalesDashBoard.totalTicketCount}}</span>
                                            <br />
                                            <span ng-if="data.syncErrorFlag">@L("Sales") @L("Amount") : {{data.dayCloseSalesDashBoard.totalAmount | number : 2}}</span>
                                        </td>
                                        <td class="col-xs-3">
                                            <span ng-if="data.syncErrorFlag">@L("Ticket") @L("Count") : {{data.actualSalesDashBoard.totalTicketCount}}</span>
                                            <br />
                                            <span ng-if="data.syncErrorFlag">@L("Sales") @L("Amount") : {{data.actualSalesDashBoard.totalAmount | number : 2}}</span>
                                        </td>
                                    </tr>

                                </table>

                                <hr />
                            </div>
                        </div>
                    </div>


                    <div ng-if="vm.carryoverMateriallist.length>0">
                        <h3>   @L("CarryOverMsg") </h3>
                    </div>
                    <div class="row" ng-if="vm.carryoverMateriallist.length>0">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr ng-if="vm.carryoverMateriallistReceivedOrProductionEntryMissing.length>0 && !vm.permissions.negativeStockAllowedAuthorization">
                                        <td colspan="12" class="text-center" style="color:orangered">
                                            <h4> @L("NeededYourActionForDayClose") </h4>
                                        </td>
                                    </tr>
                                    <tr ng-if="vm.carryoverMateriallistReceivedOrProductionEntryMissing.length>0 && vm.permissions.negativeStockAllowedAuthorization">
                                        <td colspan="12">
                                            <div class="m-heading-1 border-left-red-thunderbird m-bordered">
                                                <h5 style="color:orangered"> <b>  @L("NegativeStockAlertMessage") </b></h5>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="(vm.carryoverMateriallistReceivedOrProductionEntryMissing.length>0 || vm.carryoverMateriallistNegativeStockBecomesZero.length>0 )  && vm.permissions.negativeStockAllowedAuthorization">
                                        <td align="left" style="color:blue" colspan="12">
                                            <div class="row">
                                                <div class="col-xs-6 border-left-red-intense text-right">
                                                    <b> @L("NeededYourActionForDayClose") </b>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="md-checkbox">
                                                        <input id="AcceptNegativeStock" class="md-check" type="checkbox" name="AcceptNegativeStock" ng-class="{'edited':vm.acceptNegativeStockFlag}" ng-model="vm.acceptNegativeStockFlag">
                                                        <label for="AcceptNegativeStock" style="color:orangered">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            <b>@L("AcceptNegativeStock") [<i class="fa fa-minus" aria-hidden="true"></i>] </b>

                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>@L("Material")</th>
                                        <th class="text-right">@L("Balance")</th>
                                        <th class="text-right">@L("UOM")</th>
                                        <th class="text-right">@L("Sales") / @L("Comp") /@L("Menu") @L("Wastage")</th>
                                        <th class="text-right">@L("CarryOver")</th>
                                        <th>@L("Remarks")</th>
                                    </tr>


                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.carryoverMateriallistReceivedOrProductionEntryMissing ">
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.clBalance | number:3}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.uom}}
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <a ng-click="vm.detailDataShown(data)"> <span ng-if="data.compWastage>0 || data.menuWastage>0 ">@L("Sale") : </span>  {{data.sales |number:3}} </a>
                                        <br ng-if="data.compWastage>0" />
                                        <span ng-if="data.compWastage>0">@L("Comp") : {{data.compWastage |number:3}}</span>
                                        <br ng-if="data.menuWastage>0" />
                                        <span ng-if="data.menuWastage>0">@L("Menu") : {{data.menuWastage |number:3}}</span>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        {{data.difference |number:3}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.remarks }}
                                    </td>
                                </tr>
                                <tr ng-if="vm.carryoverMateriallistNegativeStockBecomesZero.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td align="center" style="color:blue" colspan="12">
                                        <h4> @L("NegativeStockBecomesZero") </h4>
                                    </td>
                                </tr>

                                <tr data-ng-repeat="(index,data) in vm.carryoverMateriallistNegativeStockBecomesZero ">
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.clBalance | number:3}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.uom}}
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <a ng-click="vm.detailDataShown(data)"> <span ng-if="data.compWastage>0 || data.menuWastage>0 ">@L("Sale") : </span>   {{data.sales |number:3}} </a>
                                        <br ng-if="data.compWastage>0" />
                                        <span ng-if="data.compWastage>0">@L("Comp") : {{data.compWastage |number:3}}</span>
                                        <br ng-if="data.menuWastage>0" />
                                        <span ng-if="data.menuWastage>0">@L("Menu") : {{data.menuWastage |number:3}}</span>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        {{data.difference |number:3}} -> 0.0
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.remarks }}
                                    </td>
                                </tr>
                                <tr ng-if="vm.carryoverMateriallistAllStockSold.length>0">
                                    <td colspan="12"></td>

                                </tr>
                                <tr ng-if="vm.carryoverMateriallistAllStockSold.length>0">
                                    <td colspan="12"></td>

                                </tr>

                                <tr ng-if="vm.carryoverMateriallistAllStockSold.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td align="center" style="color:blue" colspan="12">
                                        <h4> @L("NoStock") </h4>
                                    </td>
                                </tr>
                                <tr data-ng-repeat="(index,data) in vm.carryoverMateriallistAllStockSold " ng-if="vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.clBalance | number:3}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.uom}}
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <a ng-click="vm.detailDataShown(data)"> <span ng-if="data.compWastage>0 || data.menuWastage>0 ">@L("Sale") : </span>  {{data.sales |number:3}} </a>
                                        <br ng-if="data.compWastage>0" />
                                        <span ng-if="data.compWastage>0">@L("Comp") : {{data.compWastage |number:3}}</span>
                                        <br ng-if="data.menuWastage>0" />
                                        <span ng-if="data.menuWastage>0">@L("Menu") : {{data.menuWastage |number:3}}</span>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        {{data.difference |number:3}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.remarks }}
                                    </td>
                                </tr>

                                <tr ng-if="vm.carryoverMateriallistCarryOverToNextDay.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td colspan="12"></td>
                                </tr>
                                <tr ng-if="vm.carryoverMateriallistCarryOverToNextDay.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td align="center" colspan="12" style="color:blue"> <h4> @L("CarryOver") </h4></td>
                                </tr>
                                <tr data-ng-repeat="(index,data) in vm.carryoverMateriallistCarryOverToNextDay " ng-if=" vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.clBalance | number:3}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.uom}}
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <a ng-click="vm.detailDataShown(data)"> <span ng-if="data.compWastage>0 || data.menuWastage>0 ">@L("Sale") : </span>  {{data.sales |number:3}} </a>
                                        <br ng-if="data.compWastage>0" />
                                        <span ng-if="data.compWastage>0">@L("Comp") : {{data.compWastage |number:3}}</span>
                                        <br ng-if="data.menuWastage>0" />
                                        <span ng-if="data.menuWastage>0">@L("Menu") : {{data.menuWastage |number:3}}</span>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        {{data.difference |number:3}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.remarks }}
                                    </td>
                                </tr>
                                <tr ng-if="vm.carryoverMaterialOthers.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td colspan="12"></td>
                                </tr>
                                <tr ng-if="vm.carryoverMaterialOthers.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td align="center" colspan="12">@L("Remarks") - @L("FYI")</td>
                                </tr>
                                <tr data-ng-repeat="(index,data) in vm.carryoverMaterialOthers " ng-if="vm.permissions.hideCarryOverStockInDayClose==false">
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.clBalance | number:3}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.uom}}
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <a ng-click="vm.detailDataShown(data)"> <span ng-if="data.compWastage>0 || data.menuWastage>0 ">@L("Sale") : </span>  {{data.sales |number:3}} </a>
                                        <br ng-if="data.compWastage>0" />
                                        <span ng-if="data.compWastage>0">@L("Comp") : {{data.compWastage |number:3}}</span>
                                        <br ng-if="data.menuWastage>0" />
                                        <span ng-if="data.menuWastage>0">@L("Menu") : {{data.menuWastage |number:3}}</span>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        {{data.difference |number:3}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.remarks }}
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <hr />
                    </div>

                    <div ng-if="vm.carryoverMateriallist.length>0 && vm.permissions.hideCarryOverStockInDayClose==false">
                        <hr />
                    </div>

                    <div ng-if="vm.wipeoutMaterialpendinglist.length>0">
                        <h3>   @L("WipeOutErr") </h3>
                    </div>
                    <div class="row" ng-if="vm.wipeoutMaterialpendinglist.length>0">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr>
                                        <th>@L("Material")</th>
                                        <th class="text-right">@L("Balance")</th>
                                        <th class="text-right">@L("UOM")</th>
                                        <th class="text-right">@L("Sales")</th>
                                        <th class="text-right">@L("Diff")</th>
                                        <th>@L("Remarks")</th>
                                    </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.wipeoutMaterialpendinglist">
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.clBalance | number:3}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.uom}}
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <a ng-click="vm.detailDataShown(data)"> <span ng-if="data.compWastage>0 || data.menuWastage>0 ">@L("Sale") : </span>  {{data.sales |number:3}} </a>
                                        <br ng-if="data.compWastage>0" />
                                        <span ng-if="data.compWastage>0">@L("Comp") : {{data.compWastage |number:3}}</span>
                                        <br ng-if="data.menuWastage>0" />
                                        <span ng-if="data.menuWastage>0">@L("Menu") : {{data.menuWastage |number:3}}</span>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        {{data.difference |number:3}}
                                    </td>
                                    <td class="col-xs-3">
                                        {{data.remarks }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr />
                    </div>

                    <div>
                        <div ng-if="!vm.resetFlag && vm.compWastageMaterialList.length==0">
                            <h3>   @L("NoCompWastage") </h3>
                        </div>
                        <div ng-if="vm.compWastageMaterialList.length>0">
                            <h3>   @L("CompWastage") </h3>
                        </div>
                        <div class="row" ng-if="vm.compWastageMaterialList.length>0">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Material")</th>
                                            <th class="text-right">@L("Wastage") @L("Quantity")</th>
                                            <th class="text-right">@L("UOM")</th>
                                            <th>@L("Remarks")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.compWastageMaterialList">
                                        <td class="col-xs-3">
                                            <b> {{data.materialRefName}} </b>
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <b>  {{data.damaged | number:3}}</b>
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            {{data.uom}}
                                        </td>
                                        <td class="col-xs-4">
                                            {{data.remarks }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <hr />
                        </div>

                    </div>



                    <div>
                        <div ng-if="!vm.resetFlag && vm.wastageMenuMaterialList.length==0">
                            <h3>   @L("NoMenuWastage") </h3>
                        </div>
                        <div ng-if="vm.wastageMenuMaterialList.length>0">
                            <h3>   @L("MenuWastage") </h3>
                        </div>
                        <div class="row" ng-if="vm.wastageMenuMaterialList.length>0">
                            <div class="col-xs-6">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Menu")</th>
                                            <th class="text-right">@L("Wastage") @L("Quantity")                 </th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.menuWastageConsolidated">
                                        <td class="col-xs-3">
                                            <b> {{data.posMenuPortionRefName}} </b>
                                        </td>
                                        <td class="col-xs-3 text-right">
                                            <b>  {{data.wastageQty | number:3}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div ng-if="vm.wastageMenuMaterialList.length>0">
                            <h3>   @L("MenuWastage") - @L("Mapping") @L("Material") </h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Material")</th>
                                                <th class="text-right">@L("Wastage") @L("Quantity")</th>
                                                <th class="text-right">@L("UOM")</th>
                                                <th>@L("Remarks")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(index,data) in vm.wastageMenuMaterialList">
                                            <td class="col-xs-3">
                                                <b> {{data.materialRefName}} </b>
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                <b>  {{data.damaged | number:3}}</b>
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                {{data.uom}}
                                            </td>
                                            <td class="col-xs-4">
                                                {{data.remarks }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-heading-1 border-yellow-gold m-bordered" ng-if="vm.closingStockCount>0">
                        <h3 style="color:blue">  @L("ClosingStockExistsMessageForDayClose") </h3>
                    </div>

                    <div ng-show="vm.autopostrequired==false && vm.verifymode==true && vm.resetFlag==false ">
                        <h3>@L("VerifiedSuccess")</h3>
                    </div>

                    <div class="m-heading-1 border-red-mint m-bordered" ng-if="vm.sameDayCloseAlertFlag">
                        <h2 style="color:white; background-color:orangered"> <b>  {{vm.sameDayCloseMessage}} </b></h2>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" ng-if="vm.skipTransactionDays" button-busy="vm.saving" busy-text="@L("Verifying...")" class="btn btn-primary blue" ng-click="vm.skipTransactionDayProcess();"
                                ng-show="!vm.verifymode">
                            <i class="fa fa-save"></i> <span>@L("SkipDays")</span>
                        </button>

                        <button ng-if="!vm.skipTransactionDays" type="submit" button-busy="vm.saving" busy-text="@L("Verifying...")" class="btn btn-primary purple" ng-click="vm.save(1)"
                                ng-show="!vm.verifymode">
                            <i class="fa fa-eye"></i> <span>@L("Verify")</span>
                        </button>

                        <button type="submit" button-busy="vm.saving" busy-text="@L("...")" class="btn btn-primary blue" ng-click="vm.autoadjustmentpost()"
                                ng-show="vm.autopostrequired">
                            <i class="fa fa-save"></i> <span>@L("PostAutoAdjustment")</span>
                        </button>

                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-show="vm.verifymode">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>

                        <button type="submit" button-busy="vm.saving" busy-text="@L("Background") @L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.backgroundsave(2)" ng-show="vm.verifymode && vm.backgroundSettingExists">
                            <i class="fa fa-save"></i> <span> @L("Background") @L("Save")</span>
                        </button>
                    </div>

                </form>
            </div>
            </div>
        </div>
</div>

