<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Id"): {{ vm.ticket.id }} </span>
            <span class="text-right">@L("Location") : {{ vm.ticket.locationName }}</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("General")">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="form-group">
                            <label class="control-label">@L("Member"):</label>
                            <h4>{{ vm.ticket.memberCode }} -  {{ vm.ticket.name }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="form-group">
                            <label class="control-label">@L("TotalAmount"):</label>
                            <h4>{{ vm.ticket.totalAmount }}</h4>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-sm-6 text-center">
                        <div class="form-group">
                            <label class="control-label">@L("Address"):</label>
                            <h6>{{ vm.ticket.address }}</h6>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("TicketCreatedTime"):</label>
                            <div class="col-sm-6">
                                {{ vm.ctime }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("LastOrderTime"):</label>
                            <div class="col-sm-6">
                                {{ vm.otime }}
                            </div>
                        </div>
                    </div>
                </div>
                
            </uib-tab>
            <uib-tab heading="@L("Orders")">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-hover">
                                <tr>
                                    <th>@L("MenuItemName")</th>
                                    <th>@L("Price")</th>
                                    <th>@L("Quantity")</th>
                                </tr>
                                <tr ng-repeat="x in vm.ticket.orders">
                                    <td>
                                        <b >{{x.name}}</b>
                                    </td>
                                    <td>
                                        {{x.price}}
                                    </td>
                                    <td>
                                        {{x.quantity}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>