@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>
<div ng-controller="tenant.views.connect.report.tickets.ticket as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span class="caption-subject bold uppercase">@L("TicketSales")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-large green" ng-click="vm.openLocation()">
            <i class="fa fa-file"></i> <span>@L("Locations")</span>
        </button>
    </div>
</div>

<div class="portlet light">
<div class="portlet-body">

<div class="form">
<form class="horizontal-form" id="MyLoginForm">
<div class="form-body" enter-key="vm.getTickets()">

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="bg-font-blue-sharp">
                        <small>{{ vm.totalTicketAmount }}</small>
                    </h3>
                    <small>@L("Total").ToUpper() </small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">{{ vm.totalTickets }}</h3>
                    <small>@L("Tickets").ToUpper() </small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">{{ vm.totalOrders }}</h3>
                    <small>@L("Orders").ToUpper() </small>
                </div>
                <div class="icon">
                    <i class="icon-basket"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">{{ vm.totalItems }}</h3>
                    <small>@L("Items").ToUpper() </small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">{{ vm.totalAverage | number : 2 }}</h3>
                    <small>@L("Average").ToUpper() </small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
@*<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">@L("DateRange")</label>
            <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel"/>
        </div>
    </div>
</div>*@
<div class="row  margin-top-10 margin-bottom-10">
    <div class="col-xs-12" ng-if="true">
        <query-builder options="builder.options" builder="builder.builder"></query-builder>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("DateRange")</label>
            <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel"/>
        </div>
    </div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">@L("Select") @L("Department")</label>
			<div>
				<button class="btn blue" ng-click="vm.selectDepartment()">@L("Department")<span ng-if="vm.requestParams.departments.length"> - {{vm.requestParams.departments.length}} items</span></button>
				<button ng-if="vm.requestParams.departments.length" class="btn btn-default" ng-click="vm.resetDepartmentSelectedItem()">@L("Clear")</button>
			</div>
		</div>
	</div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("User")</label>
            <input type="text" class="form-control" ng-model="vm.requestParams.lastModifiedUserName">
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">@L("Select") @L("Payment")</label>
			<div>
				<button class="btn blue" ng-click="vm.selectPayments()">@L("Payment")<span ng-if="vm.requestParams.payments.length"> - {{vm.requestParams.payments.length}} items</span></button>
				<button ng-if="vm.requestParams.payments.length" class="btn btn-default" ng-click="vm.resetPaymentSelectedItem()">@L("Clear")</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">@L("Select") @L("Transaction")</label>
			<div>
				<button class="btn blue" ng-click="vm.selectTransactions()">@L("Transaction")<span ng-if="vm.requestParams.transactions.length"> - {{vm.requestParams.transactions.length}} items</span></button>
				<button ng-if="vm.requestParams.transactions.length" class="btn btn-default" ng-click="vm.resetTransactionSelectedItem()">@L("Clear")</button>
			</div>
		</div>
	</div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("Tags")</label>
            <ui-select multiple ng-model="vm.requestParams.ticketTags" class="form-control">
                <ui-select-match placeholder=@L("Tags")>{{$item.displayText}}</ui-select-match>
                <ui-select-choices repeat="dept in vm.ticketTags">
                    <small>
                        {{ dept.displayText }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="md-checkbox-list">
                <div class="md-checkbox">
                    <input id="Credit" class="md-check" type="checkbox" ng-model="vm.requestParams.credit">
                    <label for="Credit">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Credit")
                    </label>
                </div>
                <div class="md-checkbox">
                    <input id="Refund" class="md-check" type="checkbox" ng-model="vm.requestParams.refund">
                    <label for="Refund">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Refund")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.requestParams.ticketNo" placeholder="TicketNumber/ReferenceNumber">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span ng-if="vm.tallyAvailable">
            <button class="btn btn-default" ng-click="vm.exportForTally()">
                <i class="fa fa-file-excel-o"></i> @L("Tally")
            </button>
        </span>
        <span ng-if="vm.franchise">
            <button class="btn btn-default" ng-click="vm.exportToFranchise()">
                <i class="fa fa-file-excel-o"></i> @L("Franchise")
            </button>
        </span>
    </div>
    <div class="col-xs-12 text-right">
        <div ng-if="vm.requestParams.refund" class="btn-group">
            <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                <i class="fa fa-file-excel-o"></i> @L("ExportRefundDetail")
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="vm.exportRefundDetailToExcel(0)">@L("Excel")</a>
                </li>
                <li>
                    <a ng-click="vm.exportRefundDetailToExcel(1)">@L("HTML")</a>
                </li>
                @*<li>
                                <a ng-click="vm.exportRefundDetailToExcel(2)">@L("PDF")</a>
                            </li>*@
            </ul>
        </div>

        <button class="btn blue" ng-click="vm.clear()">
            <i class="fa fa-eraser"></i> @L("Clear")
        </button>

        <div class="btn-group">

            <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                <i class="fa fa-file-excel-o"></i> @L("Export")
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                </li>
                <li>
                    <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                </li>
                @*<li>
                                <a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
                            </li>*@
            </ul>
        </div>

        <button class="btn blue" ng-if="vm.mycustomer == '5WC'" ng-click="vm.exportWritersCafeToExcel()">
            <i class="fa fa-file-excel-o"></i> @L("WritersCafe")
        </button>

        <button class="btn black" ng-click="vm.getEatcReport()" ng-if="vm.mycustomer == '2EATC'">
            <i class="fa fa-file-excel-o"></i> @L("Detail")
        </button>
        <button class="btn blue" ng-click="vm.getTickets()">
            <i class="fa fa-refresh"></i> @L("Refresh")
        </button>
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">@L("DateRange")</label>
            <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("Department")</label>
            <ui-select multiple ng-model="vm.requestParams.departments" class="form-control">
                <ui-select-match placeholder=@L("Department")>{{$item.displayText}}</ui-select-match>
                <ui-select-choices repeat="dept in vm.departments">
                    <small>
                        {{ dept.displayText }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("User")</label>
            <input type="text" class="form-control" ng-model="vm.requestParams.lastModifiedUserName">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("Payment")</label>
            <ui-select multiple ng-model="vm.requestParams.payments" class="form-control">
                <ui-select-match placeholder=@L("Payment")>{{$item.displayText}}</ui-select-match>
                <ui-select-choices repeat="payment.value as payment in vm.payments">
                    <small>
                        {{ payment.displayText }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("Transaction")</label>
            <ui-select multiple ng-model="vm.requestParams.transactions" class="form-control">
                <ui-select-match placeholder=@L("Transaction")>{{$item.displayText}}</ui-select-match>
                <ui-select-choices repeat="location in vm.transactions">
                    <small>
                        {{ location.displayText }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@L("Tags")</label>
            <ui-select multiple ng-model="vm.requestParams.ticketTags" class="form-control">
                <ui-select-match placeholder=@L("Tags")>{{$item.displayText}}</ui-select-match>
                <ui-select-choices repeat="dept in vm.ticketTags">
                    <small>
                        {{ dept.displayText }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="md-checkbox-list">
                <div class="md-checkbox">
                    <input id="Credit" class="md-check" type="checkbox" ng-model="vm.requestParams.credit">
                    <label for="Credit">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Credit")
                    </label>
                </div>
                <div class="md-checkbox">
                    <input id="Refund" class="md-check" type="checkbox" ng-model="vm.requestParams.refund">
                    <label for="Refund">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Refund")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.requestParams.ticketNo" placeholder="TicketNumber/ReferenceNumber">
        </div>
    </div>

</div>
-->
</div>
</form>
</div>
<div busy-if="vm.loading">
    <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
</div>
</div>
</div>
</div>