﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    $('input').each(function(i, e) {
        var label;
        switch ($(e).attr('id')) {
        case 'name':
            label = 'Name ';
            break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>
<div>
    <form name="transactiontypeCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.transactiontype.id">@L("EditTransactionType"): {{vm.transactiontype.name}}</span>
                <span ng-if="!vm.transactiontype.id">@L("CreateTransactionType")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" onblur="changetoupper(this)" name="Name" ng-class="{'edited':vm.transactiontype.name}" ng-model="vm.transactiontype.name" required>
                        <label>@L("Name")</label>
                    </div>
                </div>
               

                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" onblur="changetoupper(this)" name="accountCode" ng-class="{'edited':vm.transactiontype.accountCode}" ng-model="vm.transactiontype.accountCode" required>
                        <label>@L("AccountCode")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-checkbox-list">
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="IsAdmin" class="md-check" type="checkbox" ng-model="vm.transactiontype.tax">
                                <label for="IsAdmin">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Tax")
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
       
         </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="transactiontypeCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

