@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.exchangereport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ExchangeReport")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getOrders()">

                        <div class="row">

                            <div class="col-lg-4 col-md4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">{{ vm.totalAmount }}</h3>
                                            <small>@L("TotalAmount").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ vm.totalOrders }}</h3>
                                            <small>@L("TotalOrders").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ vm.totalItems }}</h3>
                                            <small>@L("TotalItems").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row  margin-top-10 margin-bottom-10">
                            <div class="col-xs-12" ng-if="true">
                                <query-builder options="builder.options" builder="builder.builder"></query-builder>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 text-right">
                            <button class="btn blue" ng-click="vm.clear()">
                                <i class="fa fa-eraser"></i> @L("Clear")
                            </button>
                            <div class="btn-group">
                                <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-file-excel-o"></i> @L("Export")
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                    </li>
                                    @*<li>
                                            <a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
                                        </li>*@
                                </ul>
                            </div>
                            <button class="btn blue" ng-click="vm.getOrders()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center w-6"> @L("PlantCode")</th>
                                <th class="text-center w-6"> @L("PlantName")</th>
                                <th class="text-center w-6"> @L("DateTime")</th>
                                <th class="text-center w-6"> @L("SellerName")</th>
                                <th class="text-center w-10"> @L("ReceiptNumber")</th>
                                <th class="text-center w-8"> @L("CustomerName")</th>
                                <th class="text-center w-6"> @L("Tender")</th>
                                <th class="text-center w-10"> @L("Material_Group")</th>
                                <th class="text-center w-8"> @L("MaterialCode")</th>
                                <th class="text-center w-8"> @L("MaterialName")</th>
                                <th class="text-center w-5"> @L("Quantity")</th>
                                <th class="text-center w-5"> @L("Amount")</th>
                                <th class="text-center w-8"> @L("ExchangeDate")</th>
                                <th class="text-center w-10"> @L("ExchangeBy")</th>
                                <th class="text-center w-10"> @L("Reason")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.data.listItemScreen">
                                <td class="item border_bottom_none text-left w-6"><span ng-if="!item.isTotal">{{item.plantCode}}</span></td>
                                <td class="item border_bottom_none text-left w-6"><span ng-if="!item.isTotal">{{item.plantName}}</span></td>
                                <td class="item border_bottom_none text-left w-6"><span>{{item.dateTimeSort | date: vm.datetimeFormat}}</span></td>
                                <td class="item border_bottom_none text-left w-6"><span>{{item.sellerName}}</span></td>
                                <td class="item border_bottom_none text-right w-10"><span><a ng-click="vm.showDetails(item)" style="color:black">{{item.receiptNumber}} </a></span></td>
                                <td class="item border_bottom_none text-left w-8"><span>{{item.customerName}}</span></td>
                                <td class="item border_bottom_none text-left w-6"><span>{{item.tender}}</span></td>
                                <td class="item border_bottom_none text-left w-10"><span>{{item.materialGroup}}</span></td>
                                <td class="item border_bottom_none text-left w-8"><span>{{item.materialCode}}</span></td>
                                <td class="item border_bottom_none w-8"  ng-class="{'text-left': !item.isTotal, 'text-right footer' : item.isTotal}"><span>{{item.materialName}}</span></td>
                                <td class="item border_bottom_none text-right w-5" ng-class=" {'footer' : item.isTotal}"><span>{{item.quantity}}</span></td>
                                <td class="item border_bottom_none text-right w-5" ng-class="{'footer' : item.isTotal}"><span>{{item.amount  | number : vm.decimals}}</span></td>
                                <td class="item border_bottom_none text-left w-8"><span>{{item.exchange | date: vm.datetimeFormat}}</span></td>
                                <td class="item border_bottom_none text-left w-10"><span>{{item.exchangeBy}}</span></td>
                                <td class="item border_bottom_none text-left w-10"><span>{{item.reason}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    table tr:nth-child(odd) td {
        background-color: #f3f3f3;
    }
  /*  table tr:hover {
        background-color: #d5eaee;
    }*/
    .ui-grid-top-panel {
        background: #008000;
        color: white;
    }
    .w-18 {
        width: 18%;
    }
    .w-8
    {
        width: 8%;
    }
    .w-6 {
        width: 6%;
    }
    .w-20 {
        width: 20%;
    }

    .w-5 {
        width: 5%;
    }

    .w-10 {
        width: 10%;
    }

    .w-15 {
        width: 15%;
    }

    .w-25 {
        width: 25%;
    }

    .w-30 {
        width: 30%;
    }

    .w-35 {
        width: 35%;
    }

    .w-50 {
        width: 50%;
    }

    .w-85 {
        width: 85%;
    }


    .w-50 {
        width: 100%;
    }


    .thead_title {
        background-color: #deebf7;
        font-weight: bold;
    }

    .thead_content {
        background-color: #fff2cc;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }
    .index {
        color: red;
    }

    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .item {
        max-width: 116px;
    }

    .w-50 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .tfoot_title {
        background-color: gray;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer {
        font-weight: bold;
    }

    .color_header {
        background-color: #008000;
        color: white;
    }
    .bg-gray{
        background-color:gray;
    }
    .bg-white {
        background-color: white;
    }
    .font_weight_bold {
        font-weight: bold;
    }

    .nodata {
        background: navajowhite;
        color: red;
    }

    .table_Item {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .table_Item_Element {
        border-left: none !important;
        border-bottom: none !important;
    }

    .w-15 {
        max-width: 50px;
    }
    .table thead tr th {
        font-size: 12px;
        font-weight: 600;
    }
    .max_width_20 {
        max-width: 20px;
    }

    .margin-top-5 {
        margin-top: 5px;
    }
    .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid black;
    }
</style>