<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="text-right">@L("Tickets") - @L("Summary")</span>
        </h4>
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="form-group">
                    <label class="control-label">@L("Date"):</label>
                    <button class="btn btn-large green" date-range-picker options="vm.dateRangeOptions"
                            min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                            style="background-color: mediumvioletred; color: white"
                            ng-change="vm.refresh()"
                            ng-model="vm.dateRangeModel">
                        <i class="fa fa-calendar"></i>
                    </button>

                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="form-group">
                    <label class="control-label">@L("Compare"):</label>
                    <button class="btn btn-large green" date-range-picker options="vm.cdateRangeOptions"
                            min="vm.cdateRangeOptions.min" max="vm.cdateRangeOptions.max"
                            style="background-color: mediumvioletred; color: white"
                            ng-change="vm.crefresh()"
                            ng-model="vm.cdateRangeModel">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-bordered table-hover">
                    <tr >
                        <td>
                            <b>@L("Total").ToUpper()</b>
                        </td>
                        <td align="right">
                            {{ vm.totalTicketAmount  | number : 2 }}
                        </td>
                        <td  ng-if="vm.down && vm.display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td ng-if="!vm.down && vm.display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                  <tr >
                        <td>
                            <b>@L("Tickets").ToUpper()</b>
                        </td>
                      <td align="right">
                          {{ vm.totalTickets  | number : 2}}
                      </td>
                      <td ng-if="vm.downTickets && vm.display">
                          <i class="fa fa-level-down"></i>
                      </td>
                      <td ng-if="!vm.downTickets && vm.display">
                          <i class="fa fa-level-up"></i>
                      </td>
                    </tr>
                    <tr >
                        <td>
                            <b> @L("Orders").ToUpper()</b>
                        </td>
                        <td align="right">
                            {{ vm.totalOrders  | number : 2}}
                        </td>
                        <td ng-if="vm.downOrders && vm.display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td ng-if="!vm.downOrders && vm.display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <b> @L("Items").ToUpper()</b>
                        </td>
                        <td align="right">
                            {{ vm.totalItems  | number : 2}}
                        </td>
                        <td ng-if="vm.downItems && vm.display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td ng-if="!vm.downItems && vm.display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>@L("Average").ToUpper()</b>
                        </td>
                        <td align="right">
                            {{ vm.totalAverage | number : 2 }}
                        </td>
                        <td ng-if="vm.downAvg && vm.display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td ng-if="!vm.downAvg && vm.display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-6">
                <table class="table table-bordered  table-hover">
                    <tr>
                        <td>
                            <b>@L("Total").ToUpper()</b>
                        </td>
                        <td align="right">
                            {{ vm.ctotalTicketAmount }}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@L("Tickets").ToUpper()</b>
                        </td>
                        <td align="right">
                            {{ vm.ctotalTickets }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@L("Orders").ToUpper()</b>
</td>
                        <td align="right">
                            {{ vm.ctotalOrders }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>  @L("Items").ToUpper()</b>
</td>
                        <td align="right">
                            {{ vm.ctotalItems }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b> @L("Average").ToUpper()</b>
</td>
                        <td align="right">
                            {{ vm.ctotalAverage | number : 2 }}
                        </td>
                    </tr>
                </table>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="hourly_chart"></div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>