﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 80%;
        text-align : left;
        /*margin-left : 100px;*/
    }

       /*.chkinput {
        width : 100px;
        height : 13px;
        padding : 0;
        margin : 0;
        vertical-align : bottom;
        position : relative;
        top : -1px;
        *overflow : hidden;
    }*/
</style>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'usedmaterial':
                label = 'Qty value of the Material to be used for preparing the recipe';
                break;
            case 'prdBatchQty':
                label = 'Output Qty value for one Batch Production';
                break;
            case 'LifeTimeInMinutes':
                label = 'Product shelf life time in Minutes';
                break;
            case 'AlarmTimeInMinutes':
                label = 'Alarm time in Minutes, for enable to alert Production Incharge for qulity verification of the product. Alarm time should be <= Life time. ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label , 'placement' : 'bottom' });
    });
</script>

<div class="modal-dialog">
        <form name="recipeingredientCreateOrEditForm" role="form" novalidate class="form-validation">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="vm.recipeingredient.id">@L("EditRecipeIngredient"): {{vm.recipeingredient.id}}</span>
                    <span ng-if="!vm.recipeingredient.id">@L("CreateRecipeIngredient")</span>
                </h4>
            </div>
            <div class="modal-body modal-lg">
                <div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberWithPoint('usersrno',event,'cancel')" class="form-control" type="number" name="usersrno" ng-class="{'edited':vm.recipeingredient.userSerialNumber}" ng-model="vm.recipeingredient.userSerialNumber" ng-blur="vm.fillDropDownMaterial()">
                                <label>@L("SNo")</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("RecipeName")</label>
                                <select id="selrecipename" autofocus class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refrecipe" ng-model="vm.recipeingredient.recipeRefId" ng-change="vm.getDetailData()"  required></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">@L("MaterialName")</label>
                                <select id="selMaterialRefId" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterial" ng-model="vm.recipeingredient.materialRefId" ng-change="vm.fillDropDownUnit()" required></select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberWithPoint('usedmaterial',event,'cancel') " class="form-control" type="number" id="usedmaterial" name="usedmaterial" ng-class="{'edited':vm.recipeingredient.materialUsedQty}" ng-model="vm.recipeingredient.materialUsedQty" required >
                                <label>@L("QtyUsed")</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">@L("UnitRefId")</label>
                                <select id="unitRefIDselect" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refunit" ng-model="vm.recipeingredient.unitRefId" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" >

                        <div class="col-md-6" >
                            <div class="md-checkbox chkinput">
                                <input id="variationflag_IsActive"  class="md-check " type="checkbox" name="variationflag_IsActive" style="vertical-align :middle"  
                                       ng-model="vm.recipeingredient.variationflagForProduction">
                                <label for="variationflag_IsActive">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("VariationFlagForProduction")
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>

                    <hr />

                <div class="modal-content" ng-if="vm.detailData.length" style="width:300px">
                    <table class="table table-striped table-bordered" style="width:300px">
                        <thead>
                            <tr>
                                <th>Material Name</th>
                                <th>Qty</th>
                                @* <th>Unit</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning" ng-repeat="data in vm.detailData | orderBy:'userSerialNumber'">
                                <td>{{data.materialRefName}}</td>
                                <td align="right">{{data.materialUsedQty}} {{data.unitRefName}}</td>
                                @* <td>{{data.unitRefName}}</td>*@
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                </div>
                
            </div>



        

            <div class="modal-footer">
                <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="recipeingredientCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>

        </form>
    </div>

