﻿<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="common.views.outlet.stock as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h3>
                @L("Stock") : {{ vm.location.name }}
            </h3>
        </div>
        <div class="col-xs-6 text-right">
            <h3>
                <button class="fa fa-home large-icon" type="button" ng-click="vm.gotoHome()"></button>
            </h3>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>	