@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<style>
    .highlight-alreadyavailable {
        border: dotted;
        border-color: red;
        color: deeppink;
        font-weight: bold;
    }
</style>

<div ng-controller="common.views.outlet.mobilestock as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4>
                @L("Location") : {{ vm.location.name }}
            </h4>
        </div>
        <div class="col-xs-6 text-right">
            <h3>
                <button class="fa fa-home" type="button" ng-click="vm.gotoHome()"></button>
            </h3>
        </div>
    </div>

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div @*class="page-head"*@>
                @*<div class="page-title">*@
                    <h3>
                        <span ng-if="vm.closingstock.id">@L("EditClosingStock"): {{vm.closingstock.Id}}</span>
                        <span ng-if="!vm.closingstock.id">@L("CreateClosingStock")</span>
                    </h3>
                @*</div>*@
            </div>
        </div>
        <div class="col-xs-6">
            <div class="md-checkbox">
                <input id="DuplicateAccept" class="md-check" type="checkbox" name="DuplicateAccept"
                       ng-model="vm.acceptDuplicateFlag">
                <label for="DuplicateAccept">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("DuplicateAccept")
                </label>
            </div>
        </div>

        <div>

        </div>
    </div>

    <div class="portlet light" busy-if="vm.loading || vm.loadingMaterial">
        <div class="portlet-body">
            <div class="form">
                <form name="closingstockForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">@L("StockDate")</label>
                                <input name="closingDate" class="form-control date-picker" ng-class="{'edited':vm.closingstock.stockDate}" ng-model="vm.closingstock.stockDate" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <input autofocus class="form-control" type="text" id="barcode" ng-class="{'edited':vm.barcode}" ng-model="vm.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(1)" placeholder='@L("Barcode")' ng-keypress="vm.barcodeKeyPress(index,$event)">
                            </div>
                            @*<div class="col-xs-6">
                                <b> <span ng-if="vm.currentMaterial!=null"> {{vm.currentMaterial.materialName}} </span> </b>
                            </div>*@
                        </div>
												<div>
													<ui-select id="selMaterial" class="borderself" ng-value="vm.materialRefName" ng-change="vm.selectMaterialBasedOnBarcode(2,$select.selected)" ng-model="vm.materialRefId" >
														<ui-select-match placeholder="Select Material..." ng-model="vm.materialRefId" ng-value="vm.materialRefName">{{$select.selected.materialName}}</ui-select-match>
														<ui-select-choices ng-model="vm.materialRefId" ng-value="vm.materialRefName" repeat="item.id as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
															<div ng-bind="item.materialName"></div>
														</ui-select-choices>
													</ui-select>
												</div>
                        <div busy-if="vm.loading" class="row margin-top-20" >
                           
                            <div class="col-sm-4" ng-if="false">
                                <angucomplete-alt id="searMenuItem"
                                                  placeholder='@L("SearchItems")'
                                                  pause="100"
                                                  selected-object="vm.selectedItem"
                                                  local-data="vm.menuForLocation"
                                                  local-search="vm.menuSearch"
                                                  title-field="materialName"
                                                  description-field="material"
                                                  minlength="2"
                                                  input-class="form-control"
                                                  auto-match="true"
                                                  match-class="highlight" />
                            </div>
														
                            <div class="col-sm-2">
                                <input type="number" id="searQuantity" ng-focus="vm.focusOnQuantity()" class="form-control" ng-model="vm.selectedQuantity" placeholder='@L("Quantity")' onkeypress="return NumberWithPointPassingText(this.value, event, 'addButton', true)" ng-blur="vm.selectMaterialBasedOnBarcode(2)" ng-keypress="vm.searquantityKeyPress(index,$event)" >
                            </div>
                            <div class="col-sm-1 text-right">
                                <button type="button" class="btn btn-sec blue" id="addButton" ng-click="vm.addItemToOrder()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row margin-top-20" ng-if="vm.closingstockPortions.length>0">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered red col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th>@L("Name")</th>
                                            <th class="text-right">@L("Quantity")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.closingstockPortions" ng-class="{'highlight-alreadyavailable': data.alreadyExists}">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                        </td>
                                        <td class="col-xs-4">
                                            {{ data.materialRefName }}
                                        </td>
                                        <td class="col-xs-2 text-right">
                                            <input id="quantity" type="text" class="form-control text-right" ng-model="data.onHand" ng-blur="vm.orderqtyRefresh()" onkeypress="return NumberWithFractionBasedOnInput(this.value,event,null,true)" />
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                   
                        <div class="row margin-top-15">

                            <div class="col-xs-12">
                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="closingstockForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>	







<hr />