﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="common.views.outlet.stock as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <h4>
                @L("Stock") : {{ vm.location.name }}
            </h4>
        </div>
        <div class="col-xs-6 text-right">
            <h3>
                <button class="fa fa-home" type="button" ng-click="vm.gotoHome()"></button>
            </h3>
        </div>
    </div>

    <div class="row margin-bottom-5">
        <div class="col-xs-8">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.closingstock.id">@L("EditClosingStock"): {{vm.closingstock.Id}}</span>
                        <span ng-if="!vm.closingstock.id">@L("CreateClosingStock")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-3  text-right" ng-if="false" >
            <div class="form-group">
                <ui-select class="borderself" ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1" ng-model="vm.template" ng-change="vm.fillDropDownTemplate()">
                    <ui-select-match placeholder="Select Template...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.reftemplate | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-1  text-right" ng-if="false">
            <div class="form-group">
                <button class="btn blue " ng-disabled="vm.closingstock.id || vm.closingstockPortions.length>1" ng-click="vm.fillDataFromTemplate()">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="portlet light" busy-if="vm.loading">
        <div class="portlet-body">
            <div class="form">
                <form name="closingstockForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="control-label">@L("StockDate")</label>
                                <input name="closingDate" class="form-control date-picker" ng-class="{'edited':vm.closingstock.stockDate}" ng-model="vm.closingstock.stockDate" />
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Delete")</th>
                                            <th ng-if="vm.permissions.barcodeUsage">@L("Barcode")</th>
                                            <th>@L("MaterialName")</th>
                                            <th class="text-right">@L("OnHand")</th>
                                            <th class="text-center">@L("UOM")</th>
                                            <th>@L("Next")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.closingstockPortions">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeRow(index)" />
                                        </td>
                                        <td class="col-xs-2" ng-if="vm.permissions.barcodeUsage">
                                            <input class="form-control" type="text" id="barcode"
                                                   ng-class="{'edited':data.barcode}" ng-model="data.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(data)" ng-disabled="data.materialRefId" required @*ng-keyup="$event.keyCode ==13 ? $event.keyCode = 9"*@ ng-keyup="vm.keyup($event,2)" >
                                        </td>

                                        <td class="col-xs-4">
                                            <ui-select class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected)" ng-model="data.materialRefId">
                                                <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="item.id as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                    <div ng-bind="item.materialName"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-xs-2">
                                            <input id="issqty" type="text" class="form-control text-right text-bold" ng-keypress="vm.LocalNumberWithPointPassingText(data.onHand, $event, 'next', true)" maxlength="10" ng-model="data.onHand" required />
                                        </td>
                                        <td class="col-xs-2 text-right">
                                            <strong>{{data.unitRefName}}</strong>
                                        </td>
                                        <td class="col-xs-1">
                                            <button type="button" id="next" class="btn btn-primary" @*ng-disabled="data.onHand==null"*@ data-ng-click="vm.addPortion(data)">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>
                        <div class="row margin-top-15">
                            <div class="col-xs-2 margin-bottom-40">
                                <div class="md-checkbox">
                                    <input id="SaveAsTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templateflag" style="text-decoration: line-through;">
                                    <label for="SaveAsTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("SaveAsTemplate")
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group" ng-show="vm.templatesave.templateflag">
                                    <input id="tname" placeholder=@L("TemplateName") type="text" class="form-control ucase" ng-model="vm.templatesave.templatename" ng-disabled="!vm.templatesave.templateflag" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="md-checkbox" ng-disabled="!vm.templatesave.templateflag" ng-show="vm.templatesave.templateflag">
                                    <input id="GlobalTemplate" class="md-check" type="checkbox" ng-model="vm.templatesave.templatescope" style="text-decoration: line-through;">
                                    <label for="GlobalTemplate">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("GlobalTemplate")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2" ng-show="vm.templatesave.templateflag">
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary yellow" ng-click="vm.templateSave()">
                                    <i class="fa fa-save"></i> <span>@L("Save") @L("Template")</span>
                                </button>
                            </div>

                        </div>
                        <hr />
                        <div class="row margin-top-15">

                            <div class="col-xs-12">
                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="closingstockForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>	