﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.master.numerator.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.numerator.id">@L("EditNumerator"): {{vm.numerator.name}}</span>
                        <span ng-if="!vm.numerator.id">@L("CreateNumerator")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="locationCreateOrEditForm" role="form" novalidate class="form-validation">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Name")</label>
                                <input class="form-control" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.numerator.name}" ng-model="vm.numerator.name" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("NumberFormat")</label>
                                <input class="form-control" type="text" name="NumberFormat" ng-class="{'edited':vm.numerator.numberFormat}" ng-model="vm.numerator.numberFormat">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("OutputFormat")</label>
                                <input class="form-control" type="text" name="OutputFormat" onblur="changetoupper(this)" ng-class="{'edited':vm.numerator.outputFormat}" ng-model="vm.numerator.outputFormat">
                            </div>
                        </div>
                        <div class="col-md-6 margin-top-30">
                            <div class="form-group">
                                <div class="md-checkbox">
                                    <input id="ResetNumerator" class="md-check" type="checkbox" ng-model="vm.numerator.resetNumerator">
                                    <label for="ResetNumerator">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Reset") @L("Numerator")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.numerator.resetNumerator">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Reset") @L("Numerator") @L("Type")</label>
                                <select id="ResetNumeratorType"
                                        class="form-control selectpicker"
                                        data_live_search="true"
                                        ng-options="vm.getEditionValue(item) as item.displayText for item in vm.resetNumeratorTypes"
                                        ng-model="vm.numerator.resetNumeratorType"></select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>