@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.nonsalestaxreport as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("NonSalesTaxReport")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Plants")</span>
			</button>
		</div>
	</div>
	<div class="portlet light">
		<div class="portlet-body">

			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">
						<div class="row">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">@L("DateRange")</label>
										<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row  margin-top-10 margin-bottom-10">
						<div class="col-xs-12" ng-if="true">
							<query-builder options="builder.options" builder="builder.builder"></query-builder>
						</div>
					</div>

					<div class="col-sm-12">


						<button class="btn blue float-right  ml-10" ng-click="vm.getData()">
							<i class=" fa fa-refresh"></i> @L("Refresh")
						</button>

						<div class="btn-group float-right">

							<button class="btn blue margin-right-10" ng-click="vm.clear()">
								<i class="fa fa-eraser"></i> @L("Clear")
							</button>

							<button class="btn red dropdown-toggle " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
								<i class="fa fa-file-excel-o"></i> @L("Export")
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
								</li>
								<li>
									<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
								</li>
							</ul>
						</div>

						

					</div>

				</form>
			</div>
		</div>
		<div class="portlet-body mt-50">
			<div busy-if="vm.loading">
				@*<div ui-grid="vm.gridOptions"  ui-grid-grouping ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>*@
				<div>
					<table class="table table-bordered custom_table_date border_bottom_none">
						<tr class="color_header_title">
							<td colspan="6" class="w-15 border_bottom_none text-center font_weight_bold">@L("NonSalesTaxReport")</td>
						</tr>
						<tr class="color_header_row">
							<td class="w-15 border_bottom_none text-center font_weight_bold">@L("ABB.NO")</td>
							<td class="w-15 border_bottom_none text-center font_weight_bold">@L("Description")</td>
							<td class="w-15 border_bottom_none text-center font_weight_bold">@L("ValueBeforeVAT")</td>
							<td class="w-15 border_bottom_none text-center font_weight_bold">@L("Vat")</td>
							<td class="w-15 border_bottom_none text-center font_weight_bold">@L("Amount")</td>
							<td class="w-25 border_bottom_none text-center font_weight_bold">@L("ReferenceReceiptNumber")</td>
						</tr>
					</table>
				</div>

				<div class="w-100" ng-repeat="dataByDate in  vm.dataRoot.listDataByDate">
					<div class="display_flex w-100 color_header_row">
						<table class="table table-bordered custom_table_date border_bottom_none">
							<tr>
								<td class="w-15 border_bottom_none text-center font_weight_bold">@L("Date")</td>
								<td colspan="5" class="w-85 border_bottom_none font_weight_bold">{{dataByDate.date}}</td>
							</tr>
						</table>
					</div>

					<div class="w-100 " ng-repeat="dataByPOS in  dataByDate.listDataByPOS">
						<table class="table table-bordered margin_bottom_0">
							<tr class="color_posName">
								<td class="w-15 text-center font_weight_bold">@L("Terminal")</td>
								<td colspan="5" class="w-85 font_weight_bold">{{dataByPOS.posName}}</td>
							</tr>
							<tr ng-repeat="item in  dataByPOS.listItem">
								<td class="w-15">{{item.abbno}}</td>
								<td class="w-15">{{item.description}}</td>
								<td class="w-15 text-center">{{item.valueBeforeVAT | number : 2}}</td>
								<td class="w-15 text-center">{{item.vat | number : 2}}</td>
								<td class="w-15 text-center">{{item.amount | number : 2}}</td>
								<td class="w-25">{{item.referenceReceiptNumber}}</td>
							</tr>
							<tr class="color_total">
								<td colspan="2" style="text-align: right;" class="font_weight_bold">@L("Total") {{dataByPOS.posName}}</td>
								<td class="text-center font_weight_bold">{{dataByPOS.totalForPOSValueBeforeVAT | number : 2 }}</td>
								<td class="text-center font_weight_bold">{{dataByPOS.totalForPOSVat | number : 2}}</td>
								<td class="text-center font_weight_bold">{{dataByPOS.totalForPOSAmount | number : 2}}</td>
								<td></td>
							</tr>
						</table>
					</div>
					<table class="table table-bordered custom_table_date border_bottom_none color_total">
						<tr>
							<td colspan="2" style="text-align: right;" class="w-30 font_weight_bold">@L("TotalForDate") {{dataByDate.date}}</td>
							<td class="text-center w-15 font_weight_bold">{{dataByDate.totalForDateValueBeforeVAT | number : 2 }}</td>
							<td class="text-center w-15 font_weight_bold">{{dataByDate.totalForDateVat | number : 2}}</td>
							<td class="text-center w-15 font_weight_bold">{{dataByDate.totalForDateAmount | number : 2}}</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<table class="table table-bordered custom_table_date border_bottom_none color_total">
				<tr>
					<td colspan="2" style="text-align: right;" class="w-30 font_weight_bold">@L("AllTotal")</td>
					<td class="text-center w-15 font_weight_bold">{{vm.dataRoot.totalValueBeforeVAT | number : 2}}</td>
					<td class="text-center w-15 font_weight_bold">{{vm.dataRoot.totalVat | number : 2}}</td>
					<td class="text-center w-15 font_weight_bold">{{vm.dataRoot.totalAmount | number : 2}}</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<style>
	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.w-15 {
		width: 15%;
	}

	.w-30 {
		width: 30%;
	}

	.w-25 {
		width: 25%;
	}

	.w-100 {
		width: 100%;
	}

	.w-85 {
		width: 85%;
	}

	.float-right {
		float: right;
	}

	.ml-10 {
		margin-left: 10px;
	}

	.mt-50 {
		margin-top: 50px;
	}

	.zom-15 {
		zoom: 1.5;
	}

	.pl-44 {
		padding-left: 44px;
	}

	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #abd0bc;
		color: white;
	}
	.color_header_title {
		background-color: #008000;
		color: white;
	}
	.color_header_row {
		background-color: #808080;
		color: white;
	}

	.color_posName {
		background-color: #f0f0f0;
	}

	.color_total {
		background-color: #808080;
		color:white;
	}

	.font_weight_bold {
		font-weight: bold;
	}
</style>
