﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.schedule as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ScheduleSale").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" name="searchForm">
                    <div class="form-body" enter-key="vm.getOrders()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Select") @L("MenuItem")</label>
                                    <div>
                                        <button class="btn blue" ng-click="vm.selectMenuitems()">@L("MenuItem")<span ng-if="vm.menuItemIds.length"> - {{vm.menuItemIds.length}} items</span></button>
                                        <button ng-if="vm.menuItemIds.length" class="btn btn-default" ng-click="vm.resetSelectedItem()">@L("Clear")</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="row" ng-if="vm.advancedFiltersAreShown">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Terminal")</label>
                                        <input type="text" class="form-control" ng-model="vm.requestParams.terminalName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("User")</label>
                                        <input type="text" class="form-control" ng-model="vm.requestParams.lastModifiedUserName">
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row margin-bottom-10">
                        @*<div class="col-sm-6">
                                <span class="clickable-item text-muted" ng-if="!vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                                <span class="clickable-item text-muted" ng-if="vm.advancedFiltersAreShown" ng-click="vm.advancedFiltersAreShown=!vm.advancedFiltersAreShown"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                            </div>*@
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-default" ng-click="vm.clear()"><i class="icon-crop"></i></button>
                            @*<span ng-if="vm.tallyAvailable"><button class="btn btn-default" ng-click="vm.exportForTally()"><i class="fa fa-file-excel-o"></i> @L("Tally")</button></span>*@
                            <div class="btn-group">
                                <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-file-excel-o"></i> @L("Export")
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
                                    </li>
                                    @*<li>
                                            <a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
                                        </li>*@
                                </ul>
                            </div>
                            <button class="btn blue" ng-click="vm.getOrders()" ng-disabled="searchForm.$invalid"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pinning ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-grid-header-viewport .table {
        table-layout: fixed;
        margin-bottom: 0;
        border-width: 0 0 0 1px;
    }

        .ui-grid-header-viewport .table.table-bordered > thead > tr > th:last-child {
            
        }

        .ui-grid-header-viewport .table.table-bordered > thead > tr > th {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            border-width: 1px 1px 0 0;
            border-style: solid;
            border-color: #cecece;
            text-align: center;
            vertical-align: middle;
            min-height: 35px;
        }
</style>

<script type="text/ng-template" id="header.html">
    <div role="rowgroup" class="ui-grid-header">
        <!-- theader -->
        <div class="ui-grid-top-panel">
            <div class="ui-grid-header-viewport">
                <div class="ui-grid-header-canvas">
                    <div class="ui-grid-header-cell-wrapper">
                        <table class="table table-bordered" ng-style="{width: colContainer.canvasWidth + 'px'}">
                            <colgroup>
                                <col ng-repeat="col in colContainer.visibleColumnCache track by col.uid" ng-style="{width: col.width }">
                            </colgroup>
                            <thead>
                                <tr ng-repeat="pos in grid.options.headerAppends.index">
                                    <th ng-if="col.colDef.headers[pos].rowSpan !== '#rowSpan' && col.colDef.headers[pos].colSpan !== '#colSpan'"
                                        rowspan="{{col.colDef.headers[pos].rowSpan}}" colspan="{{col.colDef.headers[pos].colSpan}}"
                                        ng-style="{'height': ((col.colDef.headers[pos].rowSpan || 1) * grid.options.headerAppends.height) + 'px'}"
                                        ng-repeat="col in colContainer.visibleColumnCache track by col.uid">
                                        {{col.colDef.headers[pos].label}}
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>