﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@model IList<DineConnect.Gateway.EntityFramework.GatewayUser>

@section Scripts {

    @Scripts.Render("~/Scripts/toastr.min.js")
    @Styles.Render("~/Content/toastr.min.css")
    
    
    <script type="text/javascript">

        var resetPassword = function (btn) {
            var userId = $(btn).data("id");
            //userId
            $("#modalResetPassword").modal('show');
            $("#btnSavePassword").data("userid", userId);

        };


        var tryResetPassword = function (btn) {
            var userId = $(btn).data("userid");

            $.post('/Accounts/ResetPassword', {
                userId: userId,
                newPassword: $("#txtNewPassword").val()
            })
                .done(function (res) {
                    if (res.IsSuccessful) {
                        toastr.success("success");
                        $("#modalResetPassword").modal('hide');
                    } else {
                        toastr.error("fail: " + JSON.stringify(res));
                    }
                }).fail(function (err) {
                    toastr.error("fail: " + JSON.stringify(err));
                });
        }


    </script>

}

<div class="modal" tabindex="-1" role="dialog" id="modalResetPassword">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset password</h5>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control-lg" id="txtNewPassword" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSavePassword" data-userid="" onclick="tryResetPassword(this)">Save password</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="d-flex flex-column">

        <div class="p-2">

            <h2>Create new Admin</h2>

            <form method="post">
                <div class="form-group">
                    <label for="txtUsername">Username</label>
                    <input name="username" type="text" class="form-control" id="txtUsername" placeholder="admin">
                </div>

                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input name="email" type="text" class="form-control" id="txtEmail" placeholder="alice@bob.com">
                </div>

                <div class="form-group">
                    <label for="txtPassword">Password</label>
                    <input name="password" type="password" class="form-control" id="txtPassword">
                    <small id="pwdHep" class="form-text text-muted">Min six characters.</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">submit</button>
                </div>

            </form>
        </div>


        <div class="p-2">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Username</td>
                        <td>Create Date</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td><button class="btn btn-primary" data-id="@item.Id" onclick="resetPassword(this)">reset</button></td>
                            <td>@item.RegistrationDate</td>

                        </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>
</div>

