@using DinePlan.DineConnect.Localization
<div ng-controller="common.views.roles.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Roles")</span> <small>@L("RolesHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createRole()"><i class="fa fa-plus"></i> @L("CreateNewRole")</button>
        </div>
    </div>
    <div class="portlet light">


        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.roleGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":
                     "" )></div>
            </div>
        </div>

       
    </div>
</div>