﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    text:focus {
        background: pink;
    }

    input:focus {
        background: pink;
    }
</style>

<div ng-controller="host.views.swipe.master.swipecardtype.swipecardtype as vm">
    <div>
        <h4 class="modal-title">
            <span ng-if="vm.swipecardtype.id">@L("EditSwipeCardType"): {{vm.swipecardtype.name}}</span>
            <span ng-if="!vm.swipecardtype.id">@L("CreateSwipeCardType")</span>
        </h4>
    </div>

    <div class="portlet light margin-top-10">
        <div class="portlet-body">

            <form name="swipecardtypeCreateOrEditForm" role="form" novalidate class="form-validation">
                <div class="form-body">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("CardType")" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@L("Name")*</label>
                                        <input class="form-control uppercase input-lg" type="text" name="id" ng-class="{'edited':vm.swipecardtype.name}" ng-model="vm.swipecardtype.name" maxlength="30" autofocus required ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                    <div class="form-group">
                                        <label>@L("ExpiryDaysFromIssue")</label>
                                        <input class="form-control text-right input-lg" type="number" name="ExpiryDaysFromIssue"
                                               ng-class="{'edited':vm.swipecardtype.expiryDaysFromIssue}"
                                               ng-model="vm.swipecardtype.expiryDaysFromIssue"
                                               onkeypress="return NumberOnly(event, null)" maxlength="4"
                                               ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>@L("MinimumTopUpAmount")</label>
                                        <input class="form-control text-right input-lg" type="number" name="minimumTopUpAmount" ng-class="{'edited':vm.swipecardtype.minimumTopUpAmount}"
                                               ng-model="vm.swipecardtype.minimumTopUpAmount"
                                               maxlength="6"
                                               onkeypress="return NumberWithPointPassingText(this.value, event, null, true)"
                                               ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-30" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">

                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="CanIssueWithOutMember" class="md-check" type="checkbox" name="CanIssueWithOutMember" ng-class="{'edited':vm.swipecardtype.canIssueWithOutMember}" ng-model="vm.swipecardtype.canIssueWithOutMember" style="text-decoration: line-through;" ng-disabled="vm.swipecardtype.isEmployeeCard">
                                        <label for="CanIssueWithOutMember">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("CanIssueWithOutMember")
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="IsEmployeeCard" class="md-check" type="checkbox" name="IsEmployeeCard" ng-class="{'edited':vm.swipecardtype.isEmployeeCard}" ng-model="vm.swipecardtype.isEmployeeCard" style="text-decoration: line-through;" ng-disabled="vm.swipecardtype.canIssueWithOutMember">
                                        <label for="IsEmployeeCard">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("IsEmployeeCard")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="CanExcludeTaxAndCharges" class="md-check" type="checkbox" name="CanExcludeTaxAndCharges" ng-class="{'edited':vm.swipecardtype.canExcludeTaxAndCharges}" ng-model="vm.swipecardtype.canExcludeTaxAndCharges" style="text-decoration: line-through;" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                        <label for="CanExcludeTaxAndCharges">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("CanExcludeTaxAndCharges")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="RefundAllowed" class="md-check" type="checkbox" name="RefundAllowed" ng-class="{'edited':vm.swipecardtype.refundAllowed}" ng-model="vm.swipecardtype.refundAllowed" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                        <label for="RefundAllowed">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("RefundAllowed")
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-top-30">
                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="DepositRequired" class="md-check" type="checkbox" name="DepositRequired" ng-class="{'edited':vm.swipecardtype.depositRequired}" ng-model="vm.swipecardtype.depositRequired" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                        <label for="DepositRequired">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("DepositRequired")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="vm.swipecardtype.depositRequired">
                                    <div class="form-group">
                                        <label>@L("DepositAmount")</label>
                                        <input class="form-control text-right" type="number" name="DepositAmount" ng-class="{'edited':vm.swipecardtype.depositAmount}" ng-model="vm.swipecardtype.depositAmount" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="md-checkbox">
                                        <input id="AutoActivation" class="md-check" type="checkbox" name="AutoActivation" ng-class="{'edited':vm.autoActivationFlag}" ng-model="vm.autoActivationFlag">
                                        <label for="AutoActivation">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AutoActivation")
                                        </label>

                                        <input ng-if="vm.autoActivationFlag" class="form-control" type="text" name="autoActivateRegExpression" ng-class="{'edited':vm.swipecardtype.autoActivateRegExpression}" ng-model="vm.swipecardtype.autoActivateRegExpression" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-top-30">

                                <div class="col-sm-3">
                                    <div class="md-checkbox">
                                        <input id="IsAutoRechargeCard" class="md-check" type="checkbox" name="IsAutoRechargeCard" ng-class="{'edited':vm.swipecardtype.isAutoRechargeCard}"
                                               ng-model="vm.swipecardtype.isAutoRechargeCard" ng-disabled="vm.swipecardtype.id && vm.permissions.lock">
                                        <label for="IsAutoRechargeCard">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("IsAutoRechargeCard")
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row margin-top-30" ng-if="vm.swipecardtype.isAutoRechargeCard">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>@L("DailyLimit")</label>
                                        <input class="form-control text-right" type="number" name="DailyLimit"
                                               ng-class="{'edited':vm.swipecardtype.dailyLimit}" ng-model="vm.swipecardtype.dailyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecardtype.weeklyLimit || vm.swipecardtype.monthlyLimit || vm.swipecardtype.yearlyLimit">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>@L("WeeklyLimit")</label>
                                        <input class="form-control text-right" type="number" name="WeeklyLimit"
                                               ng-class="{'edited':vm.swipecardtype.weeklyLimit}" ng-model="vm.swipecardtype.weeklyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecardtype.dailyLimit || vm.swipecardtype.monthlyLimit || vm.swipecardtype.yearlyLimit">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>@L("MonthlyLimit")</label>
                                        <input class="form-control text-right" type="number" name="MonthlyLimit"
                                               ng-class="{'edited':vm.swipecardtype.monthlyLimit}" ng-model="vm.swipecardtype.monthlyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecardtype.weeklyLimit || vm.swipecardtype.dailyLimit || vm.swipecardtype.yearlyLimit">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>@L("YearlyLimit")</label>
                                        <input class="form-control text-right" type="number" name="YearlyLimit"
                                               ng-class="{'edited':vm.swipecardtype.yearlyLimit}" ng-model="vm.swipecardtype.yearlyLimit" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" ng-disabled="vm.swipecardtype.weeklyLimit || vm.swipecardtype.monthlyLimit || vm.swipecardtype.dailyLimit">
                                    </div>
                                </div>

                            </div>

                        </uib-tab>
                        <uib-tab heading="@L("GenerateNewCards")" ng-if="vm.swipecardtype.id">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("Prefix")</label>
                                        <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.prefix}" ng-model="vm.prefix">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("TotalDigit") *</label>
                                        <input class="form-control" type="number" name="Format" ng-class="{'edited':vm.cardNumberOfDigits}" ng-model="vm.cardNumberOfDigits" onkeypress="return NumberOnly(event, null)">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("Suffix")</label>
                                        <input class="form-control" type="text" name="Format" ng-class="{'edited':vm.suffix}" ng-model="vm.suffix">
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-top-40">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("CardStartingNumber") *</label>
                                        <input class="form-control" type="number" name="StartingNumber" ng-class="{'edited':vm.cardStartingNumber}" ng-model="vm.cardStartingNumber" onkeypress="return NumberOnly(event, null)">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("TotalCards") *</label>
                                        <input class="form-control" type="number" name="VoucherCount" ng-class="{'edited':vm.cardCount}" ng-model="vm.cardCount" onkeypress="return NumberOnly(event, null)">
                                    </div>
                                </div>
                            </div>

                            <div class="row text-right margin-top-40">
                                <button type="button" button-busy="vm.saving" busy-text="@L("GenerateWithThreeDot")" class="btn btn-primary btn-success" ng-click="vm.generateCards()" ng-disabled="swipecardtypeCreateOrEditForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("GenerateNewCards")</span>
                                </button>
                            </div>
                            <div class="row margin-top-40">
                                <br />
                            </div>
                        </uib-tab>

                        <uib-tab heading="@L("Cards")" ng-if="vm.cardList.length>0" active="vm.tabtwo">
                            <div ng-if="vm.cardList.length==0">
                                @L("NoRecordsFound")
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("CardNumber")</th>
                                                <th>@L("DepositRequired")</th>
                                                <th align="right" class="text-right">@L("DepositAmount")</th>
                                                <th>@L("RefundAllowed")</th>
                                                <th>@L("CanIssueWithOutMember")</th>
                                                <th>@L("IsEmployeeCard")</th>
                                                <th>@L("IsAutoRechargeCard")</th>

                                                <th>@L("CanExcludeTaxAndCharges")</th>
                                                <th>@L("Active")</th>
                                                <th>@L("CreationTime")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.cardList">
                                            <td class="col-xs-3">
                                                <b>
                                                    <a ng-if="data.activeStatus" data-ng-click="vm.cardTransactionDataShown(data.id)">{{data.cardNumber}}</a>
                                                    <span ng-if="!data.activeStatus">{{data.cardNumber}}</span>
                                                </b>
                                            </td>
                                            <td class="col-xs-1">
                                                <span ng-if="data.depositRequired">@L("Yes")</span>
                                                <span ng-if="!data.depositRequired">@L("No")</span>
                                            </td>
                                            <td align="right" class="col-xs-1">
                                                <span ng-if="data.depositAmount>0"> {{data.depositAmount}}</span>
                                            </td>
                                            <td class="col-xs-1">
                                                <span ng-if="data.refundAllowed">@L("Yes")</span>
                                                <span ng-if="!data.refundAllowed">@L("No")</span>
                                            </td>
                                            <td class="col-xs-1">
                                                <span ng-if="data.canIssueWithOutMember">@L("Yes")</span>
                                                <span ng-if="!data.canIssueWithOutMember">@L("No")</span>
                                            </td>
                                            <td class="col-xs-1">
                                                <span class="label label-success" ng-if="data.isEmployeeCard">@L("Yes")</span>
                                                <span class="label label-danger" ng-if="!data.isEmployeeCard">@L("No")</span>
                                            </td>
                                            <td class="col-xs-1">
                                                <span class="label label-success" ng-if="data.isAutoRechargeCard">@L("Yes") </span>
                                                <span class="label label-info" ng-if="data.isAutoRechargeCard"> {{data.limitType}} : {{data.limitAmount | number : 2}} </span>

                                                <span class="label label-danger" ng-if="!data.isAutoRechargeCard">@L("No")</span>
                                            </td>
                                            <td class="col-xs-1">
                                                <span class="label label-success" ng-if="data.canExcludeTaxAndCharges">@L("Yes")</span>
                                                <span class="label label-danger" ng-if="!data.canExcludeTaxAndCharges">@L("No")</span>
                                            </td>
                                            <td class="col-xs-1">
                                                <span class="label label-info" ng-if="data.activeStatus">@L("Active")</span>
                                                <span class="label label-danger" ng-if="!data.activeStatus">@L("Dorment")</span>
                                            </td>
                                            <td class="col-xs-2">
                                                {{data.creationTime | date:'dd-MMM-yyyy HH:mm'}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("Import")" ng-if="vm.swipecardtype.id">
                            <div class="row margin-top-30">
                                <div class="col-xs-6">
                                    <button class="btn btn-default blue" ng-click="vm.import()">
                                        <i class="fa fa-download"></i> @L("Import")
                                    </button>

                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
                <div class="modal-footer">
                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(0)" ng-disabled="swipecardtypeCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="swipecardtypeCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>