@using DinePlan.DineConnect.Localization
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="common.views.locationuser as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("LocationVsUsers")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">@L("Company")</label>
                                        <ui-select multiple ng-model="vm.allowedCompany" ng-change="vm.getLocations()" class="form-control">
                                            <ui-select-match placeholder="">{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="company in vm.refcompany">
                                                <small>
                                                    @L("Name"): {{ company.displayText }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">@L("LocationGroup")</label>
                                        <ui-select multiple ng-model="vm.allowedLocationGroup" ng-change="vm.getLocations()" class="form-control">
                                            <ui-select-match placeholder="">{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="company in vm.refLocationGroups">
                                                <small>
                                                    @L("Name"): {{ company.displayText }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getLocations()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row" busy-if="vm.loading">
                                <div class="col-xs-12">
                                    <div ui-grid="vm.locationOptions" style="height: 100%;" ui-grid-selection ui-grid-pagination ui-grid-resize-columns
                                         dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" >
                            <div class="row">
                                <div class="col-xs-6">
                                    <span style="background-color: orangered; color: white;" class="caption-subject bold uppercase">
                                        <span ng-if="vm.selectedLocation.code">@L("Location") : {{vm.selectedLocation.code}} - {{vm.selectedLocation.name}}</span>
                                    </span>
                                </div>
                                <div class="col-xs-6 text-right" ng-if="vm.selectedLocations.length>0">
                                    <a ng-if="vm.permissions.manageMembers" ng-click="vm.members.openAddModal()" class="btn btn-circle btn-default">
                                        <i class="fa fa-plus"></i> @L("AddMember")
                                    </a>
                                </div>
                            </div>

                            <div class="row margin-top-10" busy-if="vm.loading">
                                <div class="col-xs-12">
                                    <div ng-if="vm.selectedLocation.id" ui-grid="vm.members.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-grid-row, .ui-grid-cell {
        height: 30px !important;
    }
</style>