﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.master.tickettype.create as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.ticketTypeConfiguration.id">@L("EditTicketType"): {{vm.ticketTypeConfiguration.name}}</span>
                        <span ng-if="!vm.ticketTypeConfiguration.id">@L("CreateTicketType")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <uib-tabset id="tabs" class="tab-container tabbable-line">
                <uib-tab heading="@L("TicketType")" tabindex="1" active="vm.tabone">
                    <div class="form">
                        <form name="locationCreateOrEditForm" role="form" novalidate class="form-validation">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("Name")</label>
                                        <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.ticketTypeConfiguration.name}" ng-model="vm.ticketTypeConfiguration.name" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" ng-if="vm.ticketTypeConfiguration.id">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject bold uppercase">
                                        @L("TicketType")
                                    </span>
                                </div>
                                <div class="actions pull-right">
                                    <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                        <i class="fa fa-eraser"></i> @L("Clear")
                                    </a>
                                    <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                        <i class="fa fa-search"></i> @L("Filter")
                                    </a>

                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row" busy-if="vm.loading">
                                    <div ui-grid="vm.ticketTypeOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="@L("TicketType") @L("Mapping")" tabindex="2" active="vm.tabtwo" ng-if="vm.ticketTypeConfiguration.id">
                    <div class="panel panel-info margin-top-15">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                            <h3 class="panel-title bold">
                                @L("TicketTypeBasedOnLocations")
                            </h3>
                        </div>
                        <div id="collapse1" class="collapse in">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-4 text-center margin-top-20">
                                        <button class="btn btn-large green" ng-click="vm.openLocation()">
                                            @L("SelectLocation")
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("PosMenu") * </label>
                                            <select id="PosMenuBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="InvoiceNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.screenMenus"
                                                    ng-model="vm.ticketType.screenMenuId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("SaleTransactionType") * </label>
                                            <select id="SaleTransactionTypeBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="SaleTransactionType"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.transactionTypes"
                                                    ng-model="vm.ticketType.saleTransactionType_Id"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("TicketNumerator") * </label>
                                            <select id="TicketNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="TicketNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.ticketNumeratorId" required=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("InvoiceNumerator") * </label>
                                            <select id="InvoiceNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="InvoiceNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.ticketInvoiceNumeratorId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("OrderNumerator") * </label>
                                            <select id="OrderNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="OrderNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.orderNumeratorId"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("PromotionNumerator")</label>
                                            <select id="PromotionNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="PromotionNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.promotionNumeratorId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("FullTaxNumerator")</label>
                                            <select id="FullTaxNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="FullTaxNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.fullTaxNumeratorId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("QueueNumerator")</label>
                                            <select id="QueueNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="QueueNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.queueNumeratorId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Return") @L("Numerator")</label>
                                            <select id="ReturnNumeratorBox" class="form-control selectpicker"
                                                    data_live_search="true"
                                                    name="ReturnNumerator"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.numerators"
                                                    ng-model="vm.ticketType.returnNumeratorId"></select>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="TaxIncluded" class="md-check" type="checkbox" ng-model="vm.ticketType.isTaxIncluded">
                                                    <label for="TaxIncluded">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("TaxIncluded")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="PreOrder" class="md-check" type="checkbox" ng-model="vm.ticketType.isPreOrder">
                                                    <label for="PreOrder">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("PreOrder")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="AllowZeroPriceProducts" class="md-check" type="checkbox" ng-model="vm.ticketType.isAllowZeroPriceProducts">
                                                    <label for="AllowZeroPriceProducts">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AllowZeroPriceProducts")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row pull-right">
                                <div class="col-lg-2 margin-top-20">
                                    <button type="button" class="btn btn-primary" ng-click="vm.saveTicketType()">@L("Add")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" ng-hide="vm.tabtwo==true" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-hide="vm.tabtwo==true" ng-disabled="locationCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>