﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
function myFunction() {
    document.getElementById("divprintemail").style.visibility = "hidden";
    myPrint();
}

function myPrint() {
    window.print();
}


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

    
        <div ng-controller="tenant.views.house.transaction.production.productionPrint as vm">
            <div id="divprintemail" class="row">
                <div class="col-xs-12 text-right">
                    <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
                </div>
            </div>
            <div id="editor"></div>
            <div class="row">
                <div class="col-xs-8">
                    <center><h5> <b><u> @L("Production")</u></b></h5></center>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <h6>    @L("Ref#"): {{vm.production.productionSlipNumber}} </h6>
                </div>
                <div class="col-xs-4 text-right">
                    <h6>   @L("ProductionTime"): {{vm.production.productionTime | date : 'medium'}} </h6>
                </div>
            </div>

                <div class="lineHr">.</div>

                @*<div id="content" ng-if="vm.productionPortions.length>=5">
                    <h4>
                        <div class="row">
                            <div class="col-xs-8">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("SNo")</th>
                                            <th ng-if="vm.issuerefprintflag">@L("IssueReference")</th>
                                            <th>@L("MaterialName")</th>
                                            <th class="text-right">@L("ProductionQty")</th>
                                            <th class="text-right">@L("UOM")</th>
                                            <th class="text-right">@L("Price")</th>
                                            <th class="text-right">@L("LineTotal")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.productionPortions">
                                        <td class="col-xs-1">
                                            {{data.sno}}
                                        </td>
                                        <td class="col-xs-1" ng-if="vm.issuerefprintflag">
                                            {{data.issueRefId}}
                                        </td>
                                        <td class="col-xs-3">
                                            <b> {{data.materialRefName}} </b>
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            <b>  {{data.productionQty | number:vm.housedecimals}}</b>
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            {{data.unitRefName}}
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            {{data.price}}
                                        </td>
                                        <td class="col-xs-1 text-right">
                                            {{data.lineTotal}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr />
                    </h4>
                    <div class="lineHr">.</div>
                </div>*@
                <div id="smallcontent">
                    <div class="row">
                        <div class="col-xs-8">

                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr>
                                        <th>@L("SNo")</th>
                                        <th ng-if="vm.issuerefprintflag">@L("IssueReference")</th>
                                        <th>@L("MaterialName")</th>
                                        <th class="text-right">@L("ProductionQty")</th>
                                        <th class="text-right">@L("UOM")</th>
                                        <th class="text-right">@L("Price")</th>
                                        <th class="text-right">@L("LineTotal")</th>
                                    </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.productionPortions">
                                    <td class="col-xs-1">
                                        {{data.sno}}
                                    </td>
                                    <td class="col-xs-1" ng-if="vm.issuerefprintflag">
                                        {{data.issueRefId}}
                                    </td>
                                    <td class="col-xs-3">
                                        <b> {{data.materialRefName}} </b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b>  {{data.productionQty | number:vm.housedecimals}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.unitRefName}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.price}}
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        {{data.lineTotal}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
