﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.production.production as vm">
    
    <div class="row margin-bottom-5">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.production.id">@L("EditProduction"): {{vm.production.Id}}</span>
                        <span ng-if="!vm.production.id">@L("CreateProduction")</span>
                    </h1>
                </div>
            </div>
        </div>

        

    
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="productionCreateOrEditForm">
                    <div class="form-body">
                        <div class="row" ng-if="vm.productionUnitExistsFlag">
                            <div class="col-xs-12">
                                <div class="form-group" ng-if="vm.productionUnitExistsFlag">
                                    <ui-select class="borderself" ng-model="vm.production.productionUnitRefId" ng-click="vm.fillIssues()">
                                        <ui-select-match placeholder="@L("ProductionUnit")...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in vm.refproductionunit | filter: $select.search">
                                            <div ng-bind="item.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>                
                        </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label">@L("ProductionTime")</label>
                                        <input name="productionTime" id="productionTime" class="form-control date-picker"
                                               ng-class="{'edited':vm.production.productionTime}" ng-model="vm.production.productionTime"
                                               ng-disabled="true" />
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label">@L("ProductionReference")</label>
                                        <input id="productionSlipNumber" type="text" class="form-control ucase" ng-model="vm.production.productionSlipNumber" ng-change="vm.showErrorProductionUnitNotSelected()"
                                               ng-class="{'edited' : vm.production.productionSlipNumber}" required />
                                    </div>
                                </div>
                            </div>

                        <div class="row" ng-if="vm.production.productionSlipNumber.length>0 && vm.withoutissueflag" busy-if="vm.loading">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-model="vm.materialGroupCategoryRefId" @*ng-change="vm.getDetailMaterial()"*@>
                                        <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search  | limitTo: vm.uilimit">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <button class="btn blue " ng-click="vm.getDetailMaterial()"><span>@L("FillCategoryMaterial")</span> </button>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <button class="btn blue " ng-click="vm.removeUnfilled()"><span>@L("RemoveUnfilled")</span> </button>
                                </div>
                            </div>
                        </div>

                            <div class="row" ng-if="vm.production.productionSlipNumber.length>0" busy-if="vm.loading">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <caption> @L("Production")</caption>
                                        <thead>
                                            <tr>
                                                <th>@L("Action")</th>
                                                <th ng-if="!vm.withoutissueflag">@L("IssueReference")</th>
                                                <th>@L("MaterialName")</th>
                                                <th class="text-right">@L("ProductionQty")</th>
                                                <th class="text-right">@L("OnHand")</th>
                                                <th class="text-right">@L("UOM")</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="(index,data) in vm.productionDetailPortion">
                                            <td class="col-xs-1">
                                                <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                            </td>
                                            <td class="col-xs-3" ng-if="!vm.withoutissueflag">
                                                <ui-select class="borderself" id="selMaterial" ng-value="data.issueRefId" ng-change="issuefunc(data,$select.selected,vm.productionDetailPortion)" ng-model="data.issueRefId">
                                                    <ui-select-match placeholder="Select Issue...">{{$select.selected.requestSlipNumber}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.issueRefId" repeat="iss.id as iss in vm.refissues | filter: $select.search">
                                                        <div ng-bind="iss.requestSlipNumber"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-3">
                                                <ui-select class="borderself" id="selMaterial" ng-value="data.materialRefName" ng-change="func(data,$select.selected,vm.productionDetailPortion)" ng-model="data.materialRefId">
                                                    <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="mat.id as mat in vm.refRecipe | filter: $select.search  | limitTo: vm.uilimit">
                                                        <div ng-bind="mat.materialName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="productionQty" type="number" class="form-control text-right"
                                                       onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.productionQty" ng-blur="vm.checkQty(data.productionQty,data)" ng-disabled="!data.materialRefId" required />
                                            </td>
                                            <td class="col-xs-1 text-right">
                                                @*<input id="onhand" type="number" class="form-control text-right" ng-model="data.currentInHand" ng-disabled="true" />*@
                                                {{data.currentInHand}} / {{data.uom}}
                                            </td>
                                            <td class="col-xs-1">
                                                @*{{data.uom}}*@
                                                @*<input id="uom" type="text" class="form-control text-right" ng-model="data.uom" ng-disabled="true" />*@
                                                <a ng-if="!data.changeunitflag" ng-disabled="vm.production.id" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="vm.production.id || !vm.mutlipleUomAllowed">
                                                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </td>

                                            <td class="col-xs-1">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>

                                        </tr>
                                    </table>
                                </div>


                            </div>

                            <div class="modal-footer">

                                <div style="display:block;float:right;">
                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" busy-text="@L("Decline")" class="btn btn-danger" ng-click="vm.save('Declined')" ng-disabled="productionCreateOrEditForm.$invalid" ng-if="vm.permissions.approve && vm.production.id">
                                        <i class="fa fa-save"></i> <span>@L("Decline")</span>
                                    </button>
                                    @*<button type="button" button-busy="vm.saving" busy-text="@L("Drafting")" class="btn btn-success " ng-click="vm.draft()" ng-disabled="productionCreateOrEditForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Draft")</span>
                                    </button>*@
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary" ng-click="vm.save('Pending')" ng-disabled="productionCreateOrEditForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("Approve")" class="btn btn-primary blue" ng-click="vm.save('Approved')" ng-disabled="productionCreateOrEditForm.$invalid" ng-if="vm.permissions.approve">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndApprove")</span>
                                    </button>
                                </div>

                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>

</div>
