@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.summary.log as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Log")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getOrders()">


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("Events")</label>
									<ui-select multiple search-enabled ng-model="vm.requestParams.events" class="form-control">
										<ui-select-match placeholder=@L("Events")>{{$item.displayText}}</ui-select-match>
										<ui-select-choices repeat="event in vm.events | filter:$select.search">
											<small>
												{{ event.displayText }}
											</small>
										</ui-select-choices>
									</ui-select>

								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="unfinished" class="md-check" type="checkbox" ng-model="vm.requestParams.unfinished">
											<label for="unfinished">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("UnfinishedTicket")
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="row  margin-top-10 margin-bottom-10">
							<div class="col-xs-12">
								<query-builder options="builder.options" builder="builder.builder"></query-builder>
							</div>
						</div>

						<div class="row margin-bottom-5">
							<div class="col-sm-6">
							</div>
							<div class="col-sm-6 text-right">
								<button class="btn blue" ng-click="vm.clear()">
									<i class="fa fa-eraser"></i> @L("Clear")
								</button>
								<div class="btn-group">
									<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-file-excel-o"></i> @L("Export")
										<i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
										</li>
										<li>
											<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
										</li>
										@*<li>
					<a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
				</li>*@
									</ul>
								</div>

								<button class="btn blue" ng-click="vm.getAll()">
									<i class=" fa fa-refresh"></i> @L("Refresh")
								</button>
							</div>


						</div>

						<div class="row margin-bottom-10">
							<div class="portlet light">
								<div class="portlet-body" style="height: 80vh;">
									<div busy-if="vm.loading" style="height: 100%;">
										<div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
									</div>
								</div>
							</div>

						</div>


					</div>
                </form>
            </div>

        </div>
    </div>
</div>