<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div>
    <div class="modal-header">
        <h4 class="modal-title" ng-if="vm.log.ticketNo">
            <span>@L("Ticket") : {{ vm.log.ticketNo }}</span>
        </h4>
        <h4 class="modal-title" ng-if="!vm.log.ticketNo">
            <span>LOG</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("Log")" ng-if="vm.events.length>0">
                <div class="row">
                    <div class="col-md-12">
                        <timeline>
                            <timeline-event ng-repeat="event in vm.events" side="">
                                <timeline-badge class="{{event.badgeClass}} timeline-hidden"
                                                when-visible="animateElementIn" when-not-visible="animateElementOut">
                                    <i class="glyphicon {{event.badgeIconClass}}"></i>
                                </timeline-badge>
                                <timeline-panel class="{{event.badgeClass}} timeline-hidden"
                                                when-visible="animateElementIn" when-not-visible="animateElementOut">
                                    <timeline-heading>
                                        <h4 class="eventTitle">{{event.title}}</h4>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                                        <p class="eventTime">
                                            {{event.content}}
                                        </p>
                                    </timeline-heading>
                                </timeline-panel>
                            </timeline-event>
                        </timeline>
                    </div>
                </div>

            </uib-tab>
            <uib-tab heading="@L("Descriptions")" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-hover">
                                <tr>
                                    <th>@L("Name")</th>
                                    <th>@L("Description")</th>
                                </tr>
                                <tr ng-repeat="x in vm.pairs">
                                    <td>
                                        <b>{{ x.name }}</b>
                                    </td>
                                    <td>
                                        {{x.value}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>