﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>
<div class="modal-dialog">
    <form name="customerCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.customer.id">@L("EditCustomer"): {{vm.customer.customerName | uppercase}}</span>
                <span ng-if="!vm.customer.id">@L("CreateCustomer")</span>
            </h4>
        </div>
        <div class="modal-body modal-lg">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("Information")">


                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control ucase" autofocus type="text" name="customername" ng-class="{'edited':vm.customer.customerName}" ng-model="vm.customer.customerName" required maxlength="60">
                                <label>@L("Name")</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row" ng-if="false">

                        <div class="col-sm-4" ng-if="false">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input uib-tooltip="Credit days Accepted for payment from Invoice Date" tooltip-placement="bottom" onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="number" id="defaultcreditdays" name="defaultcreditdays" ng-class="{'edited':vm.customer.defaultCreditDays}" ng-model="vm.customer.defaultCreditDays">
                                <label>@L("DefaultCreditDays")</label>
                            </div>
                        </div>

                        <div class="col-sm-4" ng-if="false">
                            <div class="form-group">
                                <label class="control-label">@L("OrderThrough")</label>
                                <select id="orderThrough" class="form-control selectpicker" data_live_search="true" ng-model="vm.customer.orderPlacedThrough">
                                    <option>Phone</option>
                                    <option>Mail</option>
                                    <option>Fax</option>
                                    <option>In Person</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">@L("CustomerPriceTag")</label>
                                <ui-select class="borderself" ng-model="vm.customer.customerTagRefId" required>
                                    <ui-select-match placeholder="Select Customer Tag...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.refcustomerpricetag  | filter: $select.search">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control " type="text" id="phonenumber" name="phonenumber" ng-class="{'edited':vm.customer.phoneNumber}" ng-model="vm.customer.phoneNumber">
                                    <label>@L("PhoneNumber")</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="faxnumber" ng-class="{'edited':vm.customer.faxNumber}" ng-model="vm.customer.faxNumber">
                                    <label>@L("FaxNumber")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input uib-tooltip="The Email id should have Symbol between letters" tooltip-placement="bottom" class="form-control" type="email" id="email" name="email" ng-class="{'edited':vm.customer.email}" ng-model="vm.customer.email">
                                    <label>@L("Email")</label>
                                </div>
                            </div>

                        </div>
                </uib-tab>
                <uib-tab heading="@L("Address")">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input uib-tooltip="Address Is Mandatory" tooltip-placement="bottom" class="form-control" type="text" id="address1" name="address1" ng-class="{'edited':vm.customer.address1}" ng-model="vm.customer.address1">
                                <label>@L("Address1")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.customer.address1}" ng-model="vm.customer.address2">
                                <label>@L("Address2")</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="address3" ng-class="{'edited':vm.customer.address3}" ng-model="vm.customer.address3">
                                <label>@L("Address3")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" id="city" name="city" ng-class="{'edited':vm.customer.city}" ng-model="vm.customer.city">
                                <label>@L("City")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="state" ng-class="{'edited':vm.customer.state}" ng-model="vm.customer.state">
                                <label>@L("State")</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="country" ng-class="{'edited':vm.customer.country}" ng-model="vm.customer.country">
                                <label>@L("Country")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="zipcode" ng-class="{'edited':vm.customer.zipCode}" ng-model="vm.customer.zipCode">
                                <label>@L("ZipCode")</label>
                            </div>
                        </div>
                    </div>
                </uib-tab>


            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save()" ng-disabled="customerCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>


