﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.master.productrecipeslink.productRecipeLink as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.productrecipeslink.id">@L("EditProductRecipesLink"): {{vm.productrecipeslink.id}}</span>
                        <span ng-if="!vm.productrecipeslink.id">@L("CreateProductRecipesLink")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="productrecipelinkForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">@L("MenuItem")</label>
                                    <ui-select class="borderself" id="posSelectId" ng-model="vm.posRefId" ng-change="vm.fillDetail()" required>
                                        <ui-select-match id="selmenuitemid" placeholder="Select Menu Item...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmenuitem | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.posRefId>0">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th ng-show="false">@L("Code")</th>
                                            <th ng-show="false">@L("SNo")</th>
                                            <th>@L("RecipeName")</th>
                                            <th class="text-right">@L("Qty")</th>
                                            <th>@L("Unit")</th>
                                            <th ng-if="false">@L("RecipeType")</th>
                                            <th>@L("WastageExpected")</th>
                                            <th>@L("Next")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                                        <td class="col-sm-1">
                                            <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(index)" />
                                        </td>
                                        <td class="col-sm-1" ng-show="false">
                                            <input type="text" ng-disabled="true" class="form-control" ng-model="data.recipeRefId"  />
                                        </td>
                                        <td class="col-sm-1" ng-show="false">
                                            <input type="text" ng-disabled="true" class="form-control" ng-model="data.userSerialNumber" />
                                        </td>
                                        <td class="col-sm-5">
                                            <ui-select id="selRecipe" ng-value="data.recipeRefName" ng-change="func(data,$select.selected.displayText)" ng-model="data.recipeRefId" onfocus="dsetFocus(this)" onblur="dsetFocus(this)" required>
                                                <ui-select-match id="selRecipe" placeholder="Select Recipe...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices id="selRecipe" ng-model="data.recipeRefId" repeat="item.value as item in vm.refrecipe | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-sm-1">
                                            <input id="rcdqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="8" ng-model="data.portionQty" required />
                                        </td>
                                        <td class="col-sm-2">
                                            <ui-select ng-change="func(data.portionUnitId)" ng-model="data.portionUnitId">
                                                <ui-select-match id="selUnit" placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.portionUnitId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-sm-2" ng-if="false">
                                            <ui-select ng-model="data.recipeType">
                                                <ui-select-match placeholder="Select RecipeType...">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="menu in vm.getRecipeTypes($select.search) | filter: $select.search">
                                                    <div ng-bind="menu"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="col-sm-1">
                                            <input id="wastage" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="8" ng-model="data.wastageExpected" required />
                                        </td>
                                        <td class="col-sm-1">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="idcDetailForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="idcDetailForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                
