﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>

    .Excess {
        border: none;
        color: green;
        font-weight: bold;
    }

    .Shortage {
        border: none;
        background-color: white;
        color: red;
        font-weight: bold;
    }


    .PinkPending {
        border: none;
        color: deeppink;
        font-weight: bold;
    }
</style>
<script type="text/javascript">

</script>
<div ng-controller="tenant.views.house.transaction.inwarddirectcredit.inwardDcMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.inwarddirectcredit.id">@L("EditInwardDirectCredit"): {{vm.inwarddirectcredit.id}}</span>
                        <span ng-if="!vm.inwarddirectcredit.id">@L("CreateInwardDirectCredit")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="idcDetailForm">
                    <div class="form-body" busy-if="vm.loading || vm.loadingCount">
                        @*<div class="row" ng-if="! vm.inwarddirectcredit.supplierRefId">
                            <div class="col-xs-3">
                                <label class="bold">@L("PoReference") </label>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("PoReference")</label>
                                    <ui-select class="borderself" id="selpoid" ng-model="vm.inwarddirectcredit.poReferenceCode">
                                        <ui-select-match placeholder="PO Reference...">{{$select.selected.poReferenceCode}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.inwarddirectcredit.poRefId" repeat="vm.getpoid(po) as po in vm.refporeferences | filter: $select.search">
                                            <div ng-bind="po.poReferenceCode"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" id="selsupplierRefId" autofocus ng-model="vm.inwarddirectcredit.supplierRefId" ng-change="vm.fillDropDownPoReference();vm.fillDropDownMaterial()" required>
                                        <ui-select-match placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.inwarddirectcredit.supplierRefId" repeat="item.value as item in vm.refsupplier | filter: $select.search | limitTo: vm.uilimit">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("PoReference")</label>
                                    <ui-select class="borderself" id="selpoid" ng-model="vm.inwarddirectcredit.poReferenceCode">
                                        <ui-select-match placeholder="PO Reference...">{{$select.selected.poReferenceCode}}</ui-select-match>
                                        <ui-select-choices ng-model="vm.inwarddirectcredit.poRefId" repeat="vm.getpoid(po) as po in vm.refporeferences | filter: $select.search">
                                            <div ng-bind="po.poReferenceCode"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <button class="btn btn-default blue margin-top-30" ng-disabled="!vm.inwarddirectcredit.poRefId" ng-click="vm.fillDataFromPo()"><i class="fa fa-refresh"></i> </button>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Receipt") @L("Date")</label>
                                    <input name="dcDate" id="dcDate" class="form-control date-picker" ng-model="vm.inwarddirectcredit.dcDate" />
                                </div>
                            </div>
                            @*<div class="col-xs-2">
            <label class="control-label">@L("AccountDate")</label>
            <input id="dcDate" name="dcDate" class="form-control date-picker" ng-class="{'edited':vm.inwarddirectcredit.accountDate}" ng-model="vm.inwarddirectcredit.accountDate" />
        </div>*@
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <label class="control-label">@L("AccountDate")</label>
                                    <input name="accountDate" id="accountDate" class="form-control date-picker" ng-model="vm.inwarddirectcredit.accountDate" ng-hide="true" />
                                    <label style="color:blue"> {{vm.inwarddirectcredit.accountDate | date :'yyyy-MMM-dd'}} </label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>@L("DocumentReferenceNumber")  <span style="color:red">*</span> </label>
                                    <input class="form-control" type="text" id="dcNumber" name="dcNumber" ng-class="{'edited':vm.inwarddirectcredit.dcNumberGivenBySupplier}" ng-model="vm.inwarddirectcredit.dcNumberGivenBySupplier" required>

                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.inwarddirectcredit.supplierRefId && ( vm.permissions.isInwardPurchaseOrderReferenceFromOtherErpRequired || vm.permissions.isInwardInvoiceNumberReferenceFromOtherErpRequired )">
                            <div class="col-xs-3" ng-if="vm.permissions.isInwardPurchaseOrderReferenceFromOtherErpRequired">
                                <div class="form-group">
                                    <label>@L("PurchaseOrderReferenceFromOtherErp")  </label>
                                    <input class="form-control" type="text" id="PurchaseOrderReferenceFromOtherErp" name="PurchaseOrderReferenceFromOtherErp" maxlength="30" ng-class="{'edited':vm.inwarddirectcredit.purchaseOrderReferenceFromOtherErp}" ng-model="vm.inwarddirectcredit.purchaseOrderReferenceFromOtherErp">
                                </div>
                            </div>
                            <div class="col-xs-3" ng-if="vm.permissions.isInwardInvoiceNumberReferenceFromOtherErpRequired">
                                <div class="form-group">
                                    <label>@L("InvoiceNumberReferenceFromOtherErp")  </label>
                                    <input class="form-control" type="text" maxlength="30" id="InvoiceNumberReferenceFromOtherErp" name="InvoiceNumberReferenceFromOtherErp" ng-class="{'edited':vm.inwarddirectcredit.invoiceNumberReferenceFromOtherErp}" ng-model="vm.inwarddirectcredit.invoiceNumberReferenceFromOtherErp">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.inwarddirectcredit.supplierRefId">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>@L("Actions")</th>
                                            <th ng-if="false">@L("Code")</th>
                                            <th ng-if="vm.permissions.barcodeUsage">@L("Barcode")</th>
                                            <th>@L("MaterialName")</th>
                                            <th class="text-right">@L("Qty")</th>
                                            <th>@L("Unit")</th>
                                            <th>@L("Next")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                                        <td class="col-xs-1">
                                            <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                        </td>
                                        <td class="col-xs-1" ng-if="false">
                                            <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" />
                                        </td>
                                        <td class="col-xs-1" ng-if="vm.permissions.barcodeUsage">
                                            <input class="form-control" type="text" ng-class="{'edited':data.barcode}" ng-model="data.barcode" ng-blur="vm.selectMaterialBasedOnBarcode(data,index)" ng-attr-id="{{'barcode-' + index}}" ng-keypress="vm.barcodeKeyPress(index,$event)" required>
                                        </td>
                                        <td class="col-xs-5">
                                            <ui-select id="selMaterial" class="borderself" ng-value="data.materialRefName" ng-change="func(data,$select.selected,index)" ng-model="data.materialRefId" required>
                                                <ui-select-match placeholder="Select Material...">
                                                    {{$select.selected.materialRefName}}
                                                    <span style="color:blue;" ng-if="$select.selected.supplierMaterialAliasName.length>0">- @L("Alias") : {{$select.selected.supplierMaterialAliasName}} </span>
                                                </ui-select-match>
                                                <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.tempRefMaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                    <div ng-bind="item.materialRefName"></div>
                                                    <small style="color:blue" ng-if="item.supplierMaterialAliasName.length>0">
                                                        @L("SupplierMaterialAliasName"):<span ng-bind-html="item.supplierMaterialAliasName"></span>
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                            <br ng-if="data.yieldPercentage!=null" />
                                            <label ng-if="data.yieldPercentage!=null" class="borderself bold text-left"> @L("PurchaseYield") % : {{data.yieldPercentage}} &nbsp;</label>

                                        </td>

                                        <td class="col-xs-1">
                                            <input type="number" class="form-control text-right" onkeypress="return NumberWithFractionBasedOnInput(this.value,event,'cancel',true)" maxlength="10" ng-model="data.dcReceivedQty" ng-attr-id="{{'rcdqty-' + index}}"
                                                   ng-blur="vm.yieldCalculation(data);" ng-change="data.yieldExcessShortageQty=null;data.yieldMode='';"
                                                   placeholder="Qty" ng-keypress="vm.qtyKeyPress(index,$event)" required />
                                            <br ng-if="data.yieldExcessShortageQty>0 && data.yieldPercentage!=null" />
                                            <label ng-if="data.yieldExcessShortageQty>0 && data.yieldPercentage!=null" ng-class="data.yieldMode" class="text-right">{{data.yieldMode}}</label>
                                            <input ng-if="data.yieldExcessShortageQty>0 && data.yieldPercentage!=null" id="yieldExcessShortageQty" type="text"
                                                   class="form-control text-right"
                                                   onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="10"
                                                   ng-model="data.yieldExcessShortageQty" ng-attr-id="{{'yieldExcessShortageQty-' + index}}"
                                                   ng-keypress="vm.qtyKeyPress(index,$event)" />
                                        </td>
                                        <td class="col-xs-1">
                                            <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                            <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed">
                                                <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            @*<input id="uom" type="text" class="form-control text-right" ng-model="data.unitRefName" ng-disabled="true" />*@

                                            @*<ui-select class="borderself" ng-change="func(data.unitRefId)" ng-model="data.unitRefId" >
                                                    <ui-select-match id="selUnit" placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.tempRefUnit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>*@
                                        </td>
                                        <td class="col-xs-1">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-attr-id="{{'btnadd-' + index}}" ng-disabled="!data.dcReceivedQty">
                                                <i class="glyphicon glyphicon-plus"></i> <span></span>
                                            </button>
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div style="display:block;float:right;">
                                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                @*&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(1)" ng-disabled="idcDetailForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>*@
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="idcDetailForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
