﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .printfontset {
        /*font-feature-settings : on;*/
        /*font-family : 'Courier New, Courier, monospace';*/
        font-family :Courier New, Courier, monospace;
        white-space : pre;
        font-size : 10px;
           
        
    }
</style>

<div ng-controller="tenant.views.house.transaction.inwarddirectcredit.revisedinwardDcPrint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-6 text-right" ng-show="vm.printmailflag">
            <a ng-click="vm.printmailflag=false;" onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
        </div>
    </div>
   
    <span id="printidtextHeader" class="printfontset text-center">

    </span>
    <span class="printfontset" id="printidtextBody">

    </span>
</div>

<script>

</script>