﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.cluster.delaggitem.delaggitem as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-12">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span ng-if="vm.delaggitem.id">@L("EditDelAggItem"): {{vm.delaggitem.name}}</span>
                    <span ng-if="!vm.delaggitem.id">@L("CreateDelAggItem")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light">
<div class="portlet-body">
<div class="form" busy-if="vm.loading">
<form name="delaggitemCreateOrEditForm" role="form" novalidate class="form-validation">
<uib-tabset id="tabs" class="tab-container tabbable-line">
<uib-tab heading='@L("General")' tabindex="1">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="vm.delaggitem.menuItemId==0" data-ng-click="vm.openforMenuItem(vm.delaggitem)">
                <input type="button" class="btn btn-primary" value="{{ vm.delaggitem.menuItemId }} - {{ vm.delaggitem.menuItemName }}" ng-if="vm.delaggitem.menuItemId!=0" data-ng-click="vm.openforMenuItem(vm.delaggitem)">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>@L("Name")</label>
                <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.delaggitem.name}" ng-model="vm.delaggitem.name" required>
            </div>
        </div>
        <div class="col-md-2 margin-top-30" ng-if="vm.delaggitem.id">
            <button class="btn btn-xs red" ng-click="vm.openLanguageDescriptionModal()">
                <i class="fa fa-file"></i> <span></span>
            </button>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-6">
            <div class="md-checkbox">
                <input id="IsRecommended" class="md-check" type="checkbox" ng-model="vm.delaggitem.isRecommended" name="IsRecommended"/>
                <label for="IsRecommended">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    @L("IsRecommended")
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label class="control-label">@L("DelAggModifierGroup")</label>
                <ui-select multiple class="borderself" ng-model="vm.delaggmodifiergroupitemids">
                    <ui-select-match placeholder="Select Modifier Group ...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="item as item in vm.modifiergroups| filter: $select.search | limitTo: vm.uilimit ">
                        <small>
                            {{ item.name }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label class="control-label">@L("DelAggItemGroup")</label>
                <ui-select class="borderself" ng-class="{'edited':vm.delaggitem.delAggItemGroupId}" ng-model="vm.delaggitem.delAggItemGroupId">
                    <ui-select-match placeholder="Select Item Group ...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="itemgroup.id as itemgroup in vm.itemgroups| filter: $select.search | limitTo: vm.uilimit ">
                        <small>
                            {{ itemgroup.name }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label class="control-label">@L("DelAggCategory")</label>
                <ui-select class="borderself" ng-class="{'edited':vm.delaggitem.delAggCatId}" ng-model="vm.delaggitem.delAggCatId" ng-disabled="vm.categoryFlag">
                    <ui-select-match placeholder="Select Category ...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="category.id as category in vm.categories| filter: $select.search | limitTo: vm.uilimit ">
                        <small>
                            {{ category.name }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label class="control-label">@L("DelAggTax")</label>
                <ui-select class="borderself" ng-class="{'edited':vm.delaggitem.delAggTaxId}" ng-model="vm.delaggitem.delAggTaxId">
                    <ui-select-match placeholder="Select Tax ...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="tax.value as tax in vm.taxes| filter: $select.search | limitTo: vm.uilimit ">
                        <small>
                            {{ tax.displayText }}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 ">

            <div class="form-group">
                <label class="control-label">@L("Description")</label>
                <textarea class="form-control"
                          ng-class="{'edited':vm.menuitem.itemDescription}"
                          rows="4"
                          ng-model="vm.menuitem.itemDescription"></textarea>
            </div>
        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Portions")'>
    @*// Create Variant Group
                                // Create Variants for Each Portion
                                // Add This item to the Variant Group*@
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>@L("DelAggVariantGroup") @L("Name")</label>
                <input class="form-control" type="text" name="DelAggVariantGroupName" ng-class="{'edited':vm.delAggVariantGroup.name}" ng-model="vm.delAggVariantGroup.name" ng-disabled="true">
            </div>
        </div>

        <div class="col-sm-2">
            @*<div class="margin-top-20">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-if="vm.delaggitem.delAggVariants.length>0">
                                                @L("AddItem")
                                            </button>
                                        </div>*@
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered col-sm-12">
                <thead>
                <tr>
                    <th>@L("Delete")</th>
                    <th>@L("Portion")</th>
                    <th>@L("Name")</th>
                    <th>@L("SalesPrice")</th>
                    <th>@L("MarkupPrice")</th>
                    <th>@L("Add")</th>
                </tr>
                </thead>
                <tr data-ng-repeat="(index,data) in vm.delAggVariants">
                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                            <i class="glyphicon glyphicon-trash"></i> <span></span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="data.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(data)">
                            <input type="button" class="btn btn-primary" value="{{ data.menuItemPortionId }} - {{ data.menuItemPortionName }}" ng-if="data.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(data)">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            {{ data.menuItemPortionId }} - {{ data.menuItemPortionName }}
                        </div>
                    </td>

                    <td class="col-sm-2">
                        <div class="form-group">
                            <input class="form-control" type="number" name="SalesPrice" ng-class="{'edited':data.salesPrice}" ng-model="data.salesPrice">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="form-group">
                            <input class="form-control" type="number" name="MarkupPrice" ng-class="{'edited':data.markupPrice}" ng-model="data.markupPrice">
                        </div>
                    </td>

                    <td class="col-sm-1">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()" ng-disabled="vm.portionLength==1">
                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                        </button>
                    </td>

                </tr>
            </table>
        </div>
    </div>

</uib-tab>
<uib-tab heading='@L("Image")' ng-if="vm.delaggitem.id">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead ng-if="vm.delaggimage.length>0">
                <tr>
                    <th>@L("DelAggType")</th>
                    <th>@L("Name") </th>
                    <th>@L("Actions")</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(fileIndex, file) in vm.delaggimage">
                    <td>
                        <strong> {{file.delAggTypeRefName}}</strong>
                    </td>
                    <td>
                        @*<strong>{{ file.imagePath.fileName }}</strong>*@
                        @*<strong>{{ file.imagePath }}</strong>*@
                        <strong>{{ file.displayImagePath.fileName }}</strong>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.viewer(file)">
                            <span class="glyphicon  glyphicon-download-alt"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteImage(fileIndex)">
                            <span class="fa  fa-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">@L("DelAggType")</label>
                <ui-select class="borderself" id="selAggType" ng-class="{'edited':vm.delaggimage.delAggTypeRefId}"
                           ng-model="vm.delaggimage.delAggTypeRefId">
                    <ui-select-match placeholder="Select Agg Type ...">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.delAggTypes | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info margin-top-15">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                    <h3 class="panel-title bold">@L("Select") @L("Image")</h3>
                </div>
                <div id="collapse3" class="collapse in">
                    <div class="panel-body">
                        <div class="row col-lg-12" style="margin-bottom: 40px">
                            <h3>@L("Select") </h3>
                            <input id="imageFile" type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;"/>
                            <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                    ng-click="vm.fileTag='Image';vm.uploadFile(true)"
                                    ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>
                            </button>
                        </div>
                        <div class="row col-lg-12">
                            <table class="table">
                                <thead ng-if="vm.imagePath.length>0">
                                <tr>

                                    <th>@L("Name") </th>
                                    <th>@L("Actions")</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(fileIndex, file) in vm.imagePath">
                                    <td>
                                        <strong>{{ file.fileName }}</strong>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.fileTag='Image';vm.downloader(file)">
                                            <span class="glyphicon  glyphicon-download-alt"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.fileTag='Image';vm.removeFile(fileIndex)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer text-right">
        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.addImage(vm.delaggimage.delAggTypeRefId,vm.imagePath)" ng-disabled="!btnStatus">
            <i class="fa fa-plus"></i> <span>@L("Add") @L("Image")</span>
        </button>
    </div>
</uib-tab>
</uib-tabset>
<br/>
<div class="modal-footer">
    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="delaggitemCreateOrEditForm.$invalid">
        <i class="fa fa-save"></i> <span>@L("Save")</span>
    </button>
</div>
</form>
</div>
</div>
</div>
</div>