﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.master.delaggitem.indexdelaggitem as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggItem")</span> <small>@L("DelAggItemHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.importDelAggItem()">
                <i class="fa fa-file-excel-o"></i> @L("Import")
            </button>
            <button class="btn btn-primary purple" ng-click="vm.openHangFire()">
                <i class="fa fa-hourglass"></i> @L("Job") @L("Status")
            </button>
            <button class="btn btn-primary blue" ng-click="vm.cloneDelAggItem()">
                <i class="fa fa-plus"></i> @L("Clone")
            </button>
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDelAggItem()">
                <i class="fa fa-plus"></i> @L("CreateDelAggItem")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggItemGroup") <a ng-click="vm.delAggItemGroupId=null" ng-if="vm.delAggItemGroupId!=null&&vm.delAggItemGroupId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delAggItemGroupId}" ng-model="vm.delAggItemGroupId">
                                        <ui-select-match placeholder="Select Item Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="itemgroup.id as itemgroup in vm.itemgroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ itemgroup.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggCategory") <a ng-click="vm.delAggCatId=null" ng-if="vm.delAggCatId!=null&&vm.delAggCatId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delAggCatId}" ng-model="vm.delAggCatId">
                                        <ui-select-match placeholder="Select Category ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="category.id as category in vm.categories| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ category.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggTax") <a ng-click="vm.delAggTaxId=null" ng-if="vm.delAggTaxId!=null&&vm.delAggTaxId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delAggTaxId}" ng-model="vm.delAggTaxId">
                                        <ui-select-match placeholder="Select Tax ...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="tax.value as tax in vm.taxes| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ tax.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 margin-top-20">
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary" value='@L("MenuItem")' ng-if="vm.delaggitem.menuItemId==0" data-ng-click="vm.openforMenuItem(vm.delaggitem)">
                                    <input type="button" class="btn btn-primary" value="{{ vm.delaggitem.menuItemId }} - {{ vm.delaggitem.menuItemName }}" ng-if="vm.delaggitem.menuItemId!=0" data-ng-click="vm.openforMenuItem(vm.delaggitem)">
                                </div>
                            </div>
                            <div class="col-xs-4 margin-top-20">
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="vm.delaggitem.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(vm.delaggitem)">
                                    <input type="button" class="btn btn-primary" value="{{ vm.delaggitem.menuItemPortionId }} - {{ vm.delaggitem.menuItemPortionName }}" ng-if="vm.delaggitem.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(vm.delaggitem)">
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                    <button type="submit" busy-text="@L("Clear")" class="btn btn-primary blue" ng-click="vm.getAllClear()">@L("Clear")</button>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <button ng-click="vm.getAll()" type="submit" busy-text="@L("Refresh")" class="btn btn-primary blue">@L("Refresh")</button>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-12">
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Name")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>
</div>
