﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog">
    <form name="workdayCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.workday.id">@L("EditWorkDay"): {{vm.workday.dayOfWeekRefName}}</span>
                <span ng-if="!vm.workday.id">@L("CreateWorkDay")</span>
            </h4>
            <h4 class="modal-title" ng-if="vm.workday.employeeRefId!=null">
                <span ng-if="vm.workday.employeeRefId">@L("Employee"): {{vm.workday.employeeRefId}} - {{vm.workday.employeeRefCode}} - {{vm.workday.employeeRefName}} - {{vm.workday.jobTitle}} </span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="dayofweekrefname" ng-class="{'edited':vm.workday.dayOfWeekRefName}" ng-model="vm.workday.dayOfWeekRefName" required ng-disabled="true">
                        <label>@L("Day")</label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="number" id="noOfHourWorks" ng-class="{'edited':vm.workday.noOfHourWorks}" ng-model="vm.workday.noOfHourWorks" required onkeypress="return NumberWithPointPassingText(this.value,event,'restHours',true)" maxlength="5" min="0" max="24">
                        <label>@L("WorkHours")</label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="number" id="restHours" ng-class="{'edited':vm.workday.restHours}" ng-model="vm.workday.restHours" required onkeypress="return NumberWithPointPassingText(this.value,event,'otRatio',true)" maxlength="5" min="0" max="24">
                        <label>@L("RestHours")</label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="number" id="otRatio" ng-class="{'edited':vm.workday.noOfWorkDays}" ng-model="vm.workday.noOfWorkDays" required onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="5" min="0" max="5">
                        <label>@L("Work") @L("Day") @L("Count") </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="number" id="otRatio" ng-class="{'edited':vm.workday.maximumOTAllowedHours}" ng-model="vm.workday.maximumOTAllowedHours" required onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="5" min="0" max="5">
                        <label>@L("Maximum") @L("OT") @L("Hours") </label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="number" id="otRatio" ng-class="{'edited':vm.workday.otRatio}" ng-model="vm.workday.otRatio" required onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="5" min="0" max="5">
                        <label>@L("OtRatio") </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="workdayCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>