﻿<div ng-controller="tenant.views.addons.odoo as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("ODOO")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="row margin-top-20">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        <tr>
                            <td>@L("Url")</td>
                            <td>
                                <input type="text" ng-model="vm.odooUrl" name="odooUrl" class="form-control" ng-maxlength="50">
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Db")</td>
                            <td>
                                <input type="text" ng-model="vm.odooDatabase" name="odooDatabase" class="form-control" ng-maxlength="50">
                            </td>
                        </tr>
                        <tr>
                            <td>@L("UserName")</td>
                            <td>
                                <input type="text" ng-model="vm.odooUsername" name="odooUsername" class="form-control" ng-maxlength="50">
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Password")</td>
                            <td>
                                <input type="password" ng-model="vm.odooPassword" name="odooPassword" class="form-control" ng-maxlength="50">
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.connect()" button-busy="vm.loading">
                                    @L("Connect")
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row margin-top-20" ng-if="vm.isConnected">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        <tr>
                            <td>@L("Asset Account Type")</td>
                            <td>
                                <select id="Asset" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.accountTypes" ng-model="vm.assetAccountTypeId"></select>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Revenue Account Type")</td>
                            <td>
                                <select id="CategoryEditBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.accountTypes" ng-model="vm.revenueAccountTypeId"></select>

                            </td>
                        </tr>
                        <tr>
                            <td>@L("Invoice Account")</td>
                            <td>
                                <select id="CategoryEditBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.accounts" ng-model="vm.invoiceAccountId"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>@L("Tax Account")</td>
                            <td>
                                <select id="CategoryEditBox" class="form-control selectpicker" data_live_search="true" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.accounts" ng-model="vm.taxAccountId"></select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.updateAccountTypes()" button-busy="vm.loading">
                                    @L("Update")
                                </button>
                            </td>
                        </tr>
</table>
                </div>
            </div>
            


            <div class="row margin-top-20" ng-if="vm.isConnected && vm.isAccountTypeChoosen">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered">

                        <tr>
                            <td>@L("Locations")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncLocations()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Suppliers")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncSuppliers()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>@L("Materials")</td>
                            <td>
                                <button class="btn btn-default" ng-click="vm.syncMaterials()" button-busy="vm.loading">
                                    @L("Sync")
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
        </div>
    </div>


</div>