﻿<div>
    <div class="modal-header">
        <div class="col-xs-10">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("Addresses") -  {{vm.member.memberCode}} -  {{vm.member.name}}</span>
            </h5>
        </div>
        <div class="col-xs-2 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered col-sm-12">
                    <thead>
                        <tr>
                            <th ng-if="vm.selectFlag">@L("Select")</th>
                            <th>@L("Address")</th>
                            <th>@L("Locality")</th>
                            <th>@L("City")</th>
                            <th>@L("PostalCode")</th>
                            <th>@L("State") - @L("Country")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.usagePatternList">
                        <td class="col-sm-1" ng-if="vm.selectFlag">
                            {{data.address}}
                        </td>
                        <td class="col-sm-2">
                            {{data.address}}
                        </td>
                        <td class="col-sm-3">
                            {{data.locality}}
                        </td>
                        <td class="col-sm-2">
                            {{data.city}}
                        </td>
                        <td class="col-sm-2">
                            {{data.state}} {{data.country}}
                        </td>
                    </tr>
                  
                </table>
            </div>
        </div>
        
    </div>
</div>
