@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<style>
    .highlight-alreadyavailable {
        border: dotted;
        border-color: red;
        color: deeppink;
        font-weight: bold;
    }
</style>

<div ng-controller="tenant.views.wheel.order as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Order")</span> <small>@L("EngageOrderInfo")</small>

                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-sec blue" ng-click="vm.refreshDB()">
                <i class="fa fa-plus"></i> @L("Refresh").ToUpper()</button>
        </div>
    </div>
    <div busy-if="vm.loading" class="row">
        <div class="col-sm-4  text-center">
            <button class="glyphicon glyphicon-user large-icon" type="button" ng-click="vm.choseMember()"></button>
            <h3>{{ vm.memberDetail }}</h3>
            <span>{{ vm.memberAddress }}</span>
        </div>
        <div class="col-sm-4 text-center">
            <button class="glyphicon glyphicon-map-marker large-icon" type="button" ng-click="vm.openLocation()"></button>
            <h3>{{ vm.locationDetail }}</h3>
            <span>{{ vm.locationAddress }}</span>
        </div>
        <div class="col-sm-4 text-right">

            <h4>@L("NoOfProducts") : {{vm.noofProducts | number :2}}</h4>
            <h4>@L("NoOfQuantity") : {{vm.noofQuantities | number :2}}</h4>
            <br/>
            <h4>@L("SubTotal") : {{vm.productTotalAmount | number :2}}</h4>
            <h4>@L("Tax") : {{vm.taxTotalAmount | number :2}}</h4>
            <h4>
                <b> @L("Total") : {{vm.orderAmount | number :2}} </b>
            </h4>

        </div>
    </div>
   
     <div busy-if="vm.loading" class="row margin-top-20" ng-if="vm.selectedMember.memberCode && vm.locationCode>0">
        <div class="col-sm-4">
            <angucomplete-alt id="searMenuItem"
                              placeholder='@L("SearchItems")'
                              pause="100"
                              selected-object="vm.selectedItem"
                              local-data="vm.menuForLocation"
                              local-search="vm.menuSearch"
                              title-field="userString"
                              description-field="price"
                              minlength="2"
                              input-class="form-control input-lg"
                              auto-match="true"
                              match-class="highlight"/>
        </div>
        <div class="col-sm-2">
            <input type="text" id="searQuantity" ng-focus="vm.focusOnQuantity()" class="form-control input-lg" ng-model="vm.selectedQuantity" placeholder='@L("Quantity")' onkeypress="return NumberWithPointPassingText(this.value, event, 'cancel', true)" required>
        </div>
        @*</div>
    <div class="row margin-top-10">*@
        <div class="col-sm-5">
            <input type="text" id="searNote" class="form-control input-lg" ng-model="vm.selectedNotes" ng-focus="vm.focusOnNotes()" placeholder='@L("Note")'>
        </div>
        <div class="col-sm-1 text-right">
            <button class="btn btn-sec blue" ng-click="vm.addItemToOrder()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row margin-top-20" ng-if="vm.orderDetails.length>0">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered red col-xs-12">
                <thead>
                <tr>
                    <th>@L("Actions")</th>
                    <th>@L("Name")</th>
                    <th class="text-right">@L("Quantity")</th>
                    <th class="text-right">@L("Price")</th>
                    <th class="text-right">@L("LineTotal")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.orderDetails" ng-class="{'highlight-alreadyavailable': data.alreadyExists}">
                    <td class="col-xs-1">
                        <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)"/>
                    </td>
                    <td class="col-xs-4">
                        {{ data.item.title }}
                    </td>
                    <td class="col-xs-2 text-right">
                        <input id="quantity" type="text" class="form-control text-right" ng-model="data.quantity" ng-blur="vm.orderqtyRefresh()"/>
                    </td>
                    <td class="col-xs-2 text-right">
                        {{ data.item.originalObject.price | number : 2 }}
                    </td>
                    <td class="col-xs-2 text-right">
                        {{ data.totalAmount | number :2 }}
                    </td>

                </tr>

            </table>
        </div>
    </div>
    <div class="row margin-top-20" ng-if="vm.orderDetails.length>0">
        <div class="col-md-6">
            <div class="form-group">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button type="submit" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid || vm.menuitem.portions.length==0">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </div>
    </div>

</div>