﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<script>
    $(document).ready(function () {
        $("input:text")
            .focus(function () { $(this).select(); })
            .mouseup(function (e) { e.preventDefault(); });

        $("#searchText").focus();

    });
</script>
<div class="modal-dialog" >
    <div class="modal-header">
        <div class="col-xs-10">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase" ng-if="!vm.editAddressFlag">@L("MemberSearch") </span>
                <span class="caption-subject bold uppercase" ng-if="vm.editAddressFlag">@L("CreateMember") </span>

            </h5>
        </div>
        <div class="col-xs-2 text-right" ng-if="!vm.editAddressFlag">
            <button class="btn btn-primary blue" ng-click="vm.createNewMember()">
                @L("CreateMember")
            </button>
        </div>
    </div>
    <div busy-if="vm.loading" class="modal-body">
        <div ng-if="!vm.editAddressFlag">
            <div class="input-group margin-bottom-10">
                <input autofocus ng-model="vm.filterText" id="searchText" class="form-control" placeholder="@L("SearchWithThreeDot")" ng-change="vm.refreshMemberList()" type="text">
                <span class="input-group-btn">
                    <button ng-click="vm.refreshMemberList()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                </span>
            </div>
        </div>
        <div class="row" ng-if="vm.searchedmemberList.length>0">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered col-sm-12">
                    <thead>
                        <tr>
                            <th>@L("Select")</th>
                            <th>@L("MemberCode")</th>
                            <th>@L("Name")</th>
                            <th>@L("Address")</th>
                            <th>@L("Edit")</th>
                            <th ng-if="vm.editAddressFlag" >@L("AddMoreAddresses")</th>
                            <th>@L("OtherAddresses")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.searchedmemberList">
                        <td class="col-sm-1">
                            <button ng-click="vm.selectMember(data)" class="btn default" type="submit"><i class="fa fa-ticket"></i></button>
                        </td>
                        <td class="col-sm-1">
                            {{data.memberCode}}
                        </td>
                        <td class="col-sm-2">
                            {{data.name}}
                        </td>
                        <td class="col-sm-4">
                            {{data.address}} - {{data.locality}}
                        </td>
                        <td class="col-sm-1">
                            <button ng-click="vm.editMemberAddress(data)" class="btn default" type="submit"><i class="fa fa-ticket"></i></button>
                        </td>
                        <td class="col-sm-1" ng-if="vm.editAddressFlag">
                            <button ng-click="vm.addOneMoreAddress(data)" class="btn default" type="submit"><i class="fa fa-ticket"></i></button>
                        </td>
                        <td>
                            <ul >
                                <li data-ng-repeat="(index,otheraddress) in data.memberAddresses" >
                                    <a ng-click="vm.selectOtherAddress(data,otheraddress)" href="#">
                                      {{otheraddress.address}}, {{otheraddress.locality}}, {{otheraddress.city}}
                                    </a>
                                </li>

                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form">
            <form name="detailform">
                <div ng-if="vm.member!=null">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("MemberCode")*</label>
                                <input class="form-control input-lg" type="text" id="memberCode" autofocus  ng-class="{'edited':vm.member.memberCode}" ng-model="vm.member.memberCode"
                                       ng-disabled="!vm.createnewmemberFlag" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("Name")*</label>
                                <input class="form-control uppercase" type="text" name="Name" ng-class="{'edited':vm.member.name}" ng-disabled="!vm.createnewmemberFlag" ng-model="vm.member.name" required>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("Email")</label>
                                <input class="form-control" type="email" name="Email" ng-class="{'edited':vm.member.emailId}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.emailId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("Address")*</label>
                                <input class="form-control uppercase" type="text" id="Address" ng-class="{'edited':vm.member.address}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.address" required>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("Locality")</label>
                                <input class="form-control uppercase" type="text" name="Locality" ng-class="{'edited':vm.member.locality}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.locality">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@L("PostalCode")</label>
                                <input class="form-control uppercase" type="text" name="City" ng-class="{'edited':vm.member.postalCode}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.postalCode">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@L("City")</label>
                                <input class="form-control uppercase" type="text" name="City" ng-class="{'edited':vm.member.city}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.city">
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@L("State")</label>
                                <input class="form-control uppercase" type="text" name="State" ng-class="{'edited':vm.member.state}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.state">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@L("Country")</label>
                                <input class="form-control uppercase" type="text" name="Country" ng-class="{'edited':vm.member.country}" ng-disabled="!vm.editAddressFlag" ng-model="vm.member.country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-primary blue" id="saveButton" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                @L("Save")
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary blue" id="saveButton" ng-click="vm.saveAddress()" ng-disabled="detailform.$invalid" ng-if="vm.editAddressFlag">
                                @L("Save") - @L("Address")
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-primary blue" id="saveButton" ng-click="vm.cancel()">
                                @L("Cancel")
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
