﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<style>
    .modal-dialog { width: 95%; }
</style>

<script>
    $(document).ready(function() {
        $("input:text")
            .focus(function() { $(this).select(); })
            .mouseup(function(e) { e.preventDefault(); });
        $("#searchText").focus();

    });
</script>
<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-8">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("MemberSearch") </span>
            </h5>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary red" ng-click="vm.createNewMember()">
                @L("CreateMember")
            </button>
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
        </div>
    </div>
    <div busy-if="vm.loading" class="modal-body">
        <div>
            <form>
                <div class="input-group margin-bottom-10">
                    <input autofocus ng-model="vm.filterText" id="searchText" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                    <span class="input-group-btn">
            <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                      </span>
                </div>
            </form>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
            </div>
        </div>

    </div>
</div>