﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div class="chart-modal">
    <form name="dinePlanForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{ vm.titleChart }}</span>
            </h4>
        </div>
        <div class="modal-body">
            <top-down-chart data="vm.dataChart"></top-down-chart>
        </div>
        <div class="modal-footer text-center">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("OK")</button>
        </div>
    </form>
</div>
<style>
    .text-center{
        text-align: center !important;
    }
</style>