﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'rebate':
                label = 'Rebate percentage if any on the Taxable value, otherwise please feed Zero \'0\'';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label , 'placement': 'bottom'});
    });
</script>

<div ng-controller="tenant.views.cluster.delaggtax.delaggtax as vm">
    <div class="row margin-bottom-5" >
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.delAggTax.id">@L("EditTax"): {{vm.delAggTax.name | uppercase}}</span>
                        <span ng-if="!vm.delAggTax.id">@L("CreateTax")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="taxCreateOrEditForm">
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="@L("Tax")">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>@L("Name")</label>

                                            <input class="form-control ucase" autofocus type="text" name="taxname" ng-class="{'edited':vm.delAggTax.name}" ng-model="vm.delAggTax.name" required maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label>@L("Percentage")</label>

                                            <input onkeypress="return NumberWithPoint('taxPercentage', event, 'cancel')" class="form-control text-right" type="text" id="percentage" name="taxPercentage" ng-class="{'edited':vm.delAggTax.taxPercentage}" ng-model="vm.delAggTax.taxPercentage" maxlength="5" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("TaxType")</label>
                                            <ui-select class="borderself" id="selTaxType" ng-class="{'edited':vm.delAggTax.taxTypeId}"
                                                       ng-model="vm.delAggTax.taxTypeId">
                                                <ui-select-match placeholder="Select Tax Type ...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.delAggTaxTypes | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>@L("LocalRefCode")</label>
                                            <input class="form-control" type="text" name="LocalRefCode" ng-class="{'edited':vm.delAggTax.localRefCode}" ng-model="vm.delAggTax.localRefCode">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </uib-tab>
                        <uib-tab heading="@L("TaxMapping")" ng-if="vm.delAggTax.name">
                            <div class="form-body">
                                <div class="row">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Delete")</th>
                                                    <th>@L("LocationGroup")</th>
                                                    <th>@L("DelAggItemGroup")</th>
                                                    <th>@L("Add")</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.delAggTaxMapping">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.removeRow(index)">
                                                        <i class="glyphicon glyphicon-trash"></i> <span></span>
                                                    </button>
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="locGroup" ng-model="data.delAggLocationGroupId">
                                                        <ui-select-match placeholder="*">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.delAggLocationGroupId" repeat="item.id as item in vm.reflocationgroup | filter: $select.search">
                                                            <div ng-bind="item.name"></div>
                                                        </ui-select-choices>
                                                    </ui-select>    
                                                </td>
                                                <td class="col-sm-2">
                                                    <ui-select id="itemGroup" ng-model="data.delItemGroupId">
                                                        <ui-select-match placeholder="*">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.delItemGroupId" repeat="item.id as item in vm.refitemgroup | filter: $select.search">
                                                            <div ng-bind="item.name"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>

                               
                            </div>
                        </uib-tab>
                        </uib-tabset>
                    <div class="row margin-top-15">
                        <div style="display:block;float:right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="taxCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>

</form>
            </div>
        </div>
    </div>

</div>

