﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.salespromotionbypromotion.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("SalesPromotionReportByPromotion")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getTickets()">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("TimeRange")</label>
                                    <div>
                                        <wy-time-picker style="display:inline-block;"
                                                        data-dropdown-toggle-state="settings.dropdownToggleState"
                                                        data-time-settings="settings.time"
                                                        data-theme="settings.theme"
                                                        data-no-range="settings.noRange"
                                                        data-format="settings.format"
                                                        data-no-validation="settings.noValidation">
                                        </wy-time-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("SaleChannel")</label>
                                    <select class="form-control" ng-model="vm.requestParams.departmentSelect">
                                        <option ng-repeat="item in vm.departments" value="{{item.displayText}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialGroup")</label>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" value='@L("MaterialGroup")' ng-if="vm.lstMaterial.length==0" data-ng-click="vm.openGroupMaster()">
                                        <input type="button" class="btn btn-primary" value='{{ vm.lstMaterial.length}} item selected' ng-if="vm.lstMaterial.length > 0" data-ng-click="vm.openGroupMaster()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  margin-top-10 margin-bottom-10">
                        <div class="col-xs-12" ng-if="true">
                            <query-builder options="builder.options" builder="builder.builder"></query-builder>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">
                            <span ng-if="vm.tallyAvailable"><button class="btn btn-default" ng-click="vm.exportForTally()"><i class="fa fa-file-excel-o"></i> @L("Tally")</button></span>
                            <button class="btn blue" ng-click="vm.clear()">
                                <i class="fa fa-eraser"></i> @L("Clear")
                            </button>
                            <div class="btn-group">
                                <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-file-excel-o"></i> @L("Excel")
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn red" ng-click="vm.getAll()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center w-10"> @L("PlantCode")</th>
                                <th class="text-center w-10"> @L("PlantName")</th>
                                <th class="text-center w-10"> @L("Quantity")</th>
                                <th class="text-center w-10"> @L("NumberOfBill")</th>
                                <th class="text-center w-10"> @L("BillValue")</th>
                                <th class="text-center w-10"> @L("DiscountValue")</th>
                                <th class="text-center w-10"> @L("DiscountValuePercent")</th>
                                <th class="text-center w-15"> @L("AverageDiscountPerItem")</th>
                                <th class="text-center w-15"> @L("AverageDiscountPerBill")</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in vm.data.listItem">
                            <tr>
                                <td class="item border_bottom_none text-left color_aqua" colspan="9"> @L("Promotion")/{{item.promotionName}}</td>
                            </tr>
                            <tr ng-repeat="itemData in item.listItem">
                                <th class="text-left w-10"> {{itemData.plantCode}}</th>
                                <th class="text-left w-10">{{itemData.plantName}}</th>
                                <th class="text-right w-10"> {{itemData.numberItemQuantity}}</th>
                                <th class="text-right w-10"> {{itemData.billAmount}}</th>
                                <th class="text-right w-10"> {{itemData.billValue| number: vm.decimals}}</th>
                                <th class="text-right w-10">{{itemData.discountValue| number: vm.decimals}}</th>
                                <th class="text-right w-10">{{itemData.discountValuePercent| number: vm.decimals}}</th>
                                <th class="text-right w-15">{{itemData.averageDiscountPerItem| number: vm.decimals}}</th>
                                <th class="text-right w-15">{{itemData.averageDiscountPerBill| number: vm.decimals}}</th>
                            </tr>
                            <tr>
                                <td class="item border_bottom_none text-right w-20 tfoot_title" colspan="2"> @L("Total")</td>
                                <td class="item border_bottom_none text-right w-10 tfoot_title">{{item.numberItemQuantity}}</td>
                                <td class="item border_bottom_none text-right w-10 tfoot_title">{{item.billAmount}}</td>
                                <td class="item border_bottom_none text-right w-10 tfoot_title">{{item.billValue| number: vm.decimals}}</td>
                                <td class="item border_bottom_none text-right w-10 tfoot_title">{{item.discountValue| number: vm.decimals}}</td>
                                <td class="item border_bottom_none text-right w-10 tfoot_title">{{item.discountValuePercent| number: vm.decimals}}</td>
                                <td class="item border_bottom_none text-right w-15 tfoot_title"></td>
                                <td class="item border_bottom_none text-right w-15 tfoot_title"></td>
                            </tr>
                        </tbody>

                        <tr>
                            <td class="item border_bottom_none text-right w-20 tfoot_title" colspan="2"></td>
                            <td class="item border_bottom_none text-right w-10 tfoot_title">{{vm.data.totalQuantity}}</td>
                            <td class="item border_bottom_none text-right w-10 tfoot_title">{{vm.data.totalBillAmount}}</td>
                            <td class="item border_bottom_none text-right w-10 tfoot_title">{{vm.data.totalBillValue| number: vm.decimals}}</td>
                            <td class="item border_bottom_none text-right w-10 tfoot_title">{{vm.data.totalDiscountValue| number: vm.decimals}}</td>
                            <td class="item border_bottom_none text-right w-10 tfoot_title">{{100 | number: vm.decimals}}</td>
                            <td class="item border_bottom_none text-right w-15 tfoot_title"></td>
                            <td class="item border_bottom_none text-right w-15 tfoot_title"></td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-right w-20" colspan="2" rowspan="2"></td>
                            <td class="item border_bottom_none text-right w-10">@L("TotalQuantity")</td>
                            <td class="item border_bottom_none text-right w-10">@L("TotalNumberOfBill")</td>
                            <td class="item border_bottom_none text-right w-10">@L("TotalBillValue")</td>
                            <td class="item border_bottom_none text-right w-10">@L("TotalDiscountValue")</td>
                            <td class="item border_bottom_none text-right w-10">@L("TotalDiscountValuePercent")</td>
                            <td class="item border_bottom_none text-right w-15"></td>
                            <td class="item border_bottom_none text-right w-15"></td>
                        </tr>
                        <tr>
                            <td class="item border_bottom_none text-right w-10">@L("AllQuantity")</td>
                            <td class="item border_bottom_none text-right w-10">@L("AllNumberOfBill")</td>
                            <td class="item border_bottom_none text-right w-10">@L("AllBillValue")</td>
                            <td class="item border_bottom_none text-right w-10">@L("AllDiscountValue")</td>
                            <td class="item border_bottom_none text-right w-10"></td>
                            <td class="item border_bottom_none text-right w-15"></td>
                            <td class="item border_bottom_none text-right w-15"></td>
                        </tr>
                    </table>
                </div>            
            </div>
        </div>
    </div>
</div>
<style>
    .w-18 {
        width: 18%;
    }

    .w-20 {
        width: 20%;
    }

    .w-5 {
        width: 5%;
    }

    .w-10 {
        width: 10%;
    }

    .w-15 {
        width: 15%;
    }

    .w-25 {
        width: 25%;
    }

    .w-30 {
        width: 30%;
    }

    .w-35 {
        width: 35%;
    }

    .w-50 {
        width: 50%;
    }

    .w-85 {
        width: 85%;
    }


    .w-50 {
        width: 100%;
    }


    .thead_title {
        background-color: #deebf7;
        font-weight: bold;
    }

    .thead_content {
        background-color: #fff2cc;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .item {
        max-width: 116px;
    }

    .w-50 {
        width: 100%;
    }


    .float-right {
        float: right;
    }
    
    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .tfoot_title {
        background-color: gray;
        font-weight: bold;
        color: white;
    }
    thead tr {
        background-color: #3598dc;
        color: white;
    }
    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #3598dc;
        color: white;
    }

    .font_weight_bold {
        font-weight: bold;
    }

    .nodata {
        background: navajowhite;
        color: red;
    }

    .table_Item {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .table_Item_Element {
        border-left: none !important;
        border-bottom: none !important;
    }

    .w-15 {
        max-width: 50px;
    }

    .max_width_20 {
        max-width: 20px;
    }

    .margin-top-5 {
        margin-top: 5px;
    }
    .color_aqua {
        background-color: aqua;
    }
</style>
