
<div>
    <form name="editCustomerPriceForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("Edit") <strong>@L("Material"): {{vm.editingText.materialRefName}} </strong> </span>
            </h4>
        </div>
        <div class="modal-body" busy-if="vm.loading">

            <div class="m-heading-1 border-green m-bordered">
                <p> @L("EditModalInfo") </p>
            </div>
            @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea readonly class="form-control edited" rows="1" ng-model="vm.editingText.materialPrice"></textarea>
                <label>@L("ExistPrice")</label>
            </div>*@

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("Price")</label>
                <input auto-focus class="form-control" ng-class="{'edited':vm.editingText.materialPrice}" rows="4" ng-model="vm.editingText.materialPrice" ng-keyup="vm.targetValueKeyPress($event)">
            </div>

            <div>
                <div class="md-checkbox">
                    <input id="AvgRateBasedPrice" class="md-check" type="checkbox" ng-model="vm.editingText.avgRateBasedPrice" name="AvgRateBasedPrice" />
                    <label for="AvgRateBasedPrice">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("AvgRateBasedPriceSetting") ?
                    </label>
                </div>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("Margin") @L("Percentage") <small style="color:blue"> @L("MarginPercentageHelp")</small></label>
                <input auto-focus class="form-control" ng-class="{'edited':vm.editingText.marginPercentage}" ng-model="vm.editingText.marginPercentage" onkeypress="return NumberWithFractionBasedOnInput(this.value,event,null,true)">
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("Minimum") @L("Price") <small style="color:blue"> @L("MinimumPriceHelp")</small></label>
                <input auto-focus class="form-control" ng-class="{'edited':vm.editingText.minimumPrice}" ng-model="vm.editingText.minimumPrice" onkeypress="return NumberWithFractionBasedOnInput(this.value,event,null,true)">
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving || vm.currentIndex == 0" title="Page Up" class="btn btn-default" ng-click="vm.previous()"><i class="fa fa-long-arrow-left"></i> <span>@L("Previous")</span></button>
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button button-busy="vm.saving" class="btn btn-primary green" ng-click="vm.saveAndClose()" ng-disabled="editCustomerPriceForm.$invalid"><i class="fa fa-save"></i> <span>@L("SaveAndClose")</span></button>
            <button type="button" title="Page Down" button-busy="vm.saving" ng-disabled="vm.currentIndex >= (vm.allItems.length-1)" class="btn btn-primary blue" ng-click="vm.saveAndNext()" ><span>@L("SaveAndNext")</span> <i class="fa fa-long-arrow-right"></i></button>
        </div>
    </form>
</div>