﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.master.customertagmaterialprice.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("CustomerTagMaterialPrice").Pluralize()</span> <small>@L("CustomerTagMaterialPriceHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            <button ng-if="vm.editflag==false" class="btn btn-primary blue" ng-click="vm.editflag=true">
                <i class="fa fa-edit"></i> @L("EditCustomerPriceTag")
            </button>
            <button ng-if="vm.permissions.edit && vm.customerTagCode.length>0" class="btn btn-primary blue" ng-click="vm.updateCustomerTagMaterialPrice()">
                <i class="fa fa-save"></i> @L("UpdateCustomerPriceList")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
           
        </div>
    </div>
   

    <div class="portlet light">
        <div class="row" ng-if="vm.editflag==true">
            <div class="col-xs-8">
                <div class="form-group">
                    <ui-select class="borderself" ng-change="vm.editSelectedTag()" ng-model="vm.customerTagCode" required>
                        <ui-select-match placeholder="Select Customer Tag...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.displayText as item in vm.refcustomerpricetag | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>

