﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<script>
   
</script>


<div ng-controller="tenant.views.house.transaction.directapproval.approvalandreceived as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-8">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span ng-if="vm.intertransfer.id">@L("EditInterTransferApprovalReceived"): {{vm.intertransfer.Id}}</span>
                    <span ng-if="!vm.intertransfer.id">@L("CreateInterTransferApprovalReceived")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-4 text-right">
        <button ng-disabled="vm.totaldata.length" class="btn btn-default" ng-click="vm.importFromExcel()">
            <i class="fa fa-download"></i> @L("Import")
        </button>

    </div>
</div>
<div class="portlet light" busy-if="vm.lockscreen || vm.loading">
    <div class="portlet-body">
        <div class="form">
            <form name="intertransferRequestForm">
                <div class="form-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">@L("Location")</label>
                                <ui-select class="borderself" ng-model="vm.requestLocationRefId" ng-disabled="vm.defaultLocationId" required>
                                    <ui-select-match id="selreqLocationRefid" placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search ">
                                        <div ng-bind="item.displayText"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label">@L("RequestDate")</label>

                            <input id="reqDate" name="reqDate" class="form-control date-picker" ng-class="{'edited':vm.requestDate}" ng-model="vm.requestDate" />
                        </div>
                        <div class="col-xs-2">
                            <label>@L("Ref#") #</label>
                            <input type="text" id="refno" class="form-control" ng-class="{'edited':vm.intertransfer.docReferenceNumber}"
                                   ng-model="vm.intertransfer.docReferenceNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="control-label">@L("Barcode")</label>
                            <input class="form-control" type="text" autofocus id="barcode"
                                   ng-class="{'edited':vm.currentrow.barcode}" ng-model="vm.currentrow.barcode" ng-blur="vm.selectMaterialBasedOnBarcode()" ng-disabled="vm.currentrow.materialRefId">
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">@L("Material")</label>
                                <ui-select class="borderself" focus-on="UiSelectDemo1" id="selMaterial" ng-value="vm.currentrow.materialRefName"
                                           ng-change="matfunc(vm.currentrow,$select.selected)" ng-model="vm.currentrow.materialRefId">
                                    <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                    <ui-select-choices ng-model="vm.materialRefId" repeat="mat.id as mat in vm.tempRefMaterial | filter: $select.search | limitTo: vm.uilimit">
                                        <div ng-bind="mat.materialName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-2" ng-if="vm.currentrow.materialRefId">
                            <label class="control-label">@L("MaterialType")</label>
                            <input id="materialTypeName" type="text" class="form-control" ng-model="vm.currentrow.materialTypeName" ng-disabled="true"/>
                        </div>
                        <div class="col-xs-2" ng-if="vm.currentrow.materialRefId">
                            <label class="control-label">@L("OnHand")</label>
                            <input id="onHand" type="text" class="form-control text-right" ng-model="vm.currentrow.onHand" ng-disabled="true"/>
                        </div>
                        <div class="col-xs-2" ng-if="vm.currentrow.materialRefId">
                            <label ng-if="!vm.transfervalueshown" class="control-label">@L("UOM")</label>
                            <input ng-if="!vm.transfervalueshown" id="uom" type="text" class="form-control text-right" ng-model="vm.currentrow.uom" ng-disabled="true"/>
                            <label ng-if="vm.transfervalueshown" class="control-label">@L("Price/UOM")</label>
                            <input ng-if="vm.transfervalueshown" id="uom" type="text" class="form-control text-right" ng-model="vm.currentrow.pricewithuom" ng-disabled="true" />
                            

                        </div>
                    </div>
                    <div class="row margin-top-20" ng-if="vm.currentrow.materialRefId">
                        <div class="col-xs-12">
                            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default"
                                    ng-click="vm.clearCurrentMaterial()">
                                @L("ClearMaterial")
                            </button>
                            <button type="button" button-busy="vm.saving" busy-text="@L(" ...")" class="btn btn-primary blue"
                                    ng-click="vm.nextMaterial()" ng-disabled="intertransferRequestForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("NextMaterial")</span>
                            </button>
                        </div>
                    </div>

                    <div class="row margin-top-20" ng-if="vm.currentrow.materialRefId">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                <tr>
                                    <th>@L("Edit")</th>
                                    <th>@L("Location")</th>
                                    <th class="text-right">@L("OnHand")</th>
                                    <th class="text-right">@L("Qty")</th>
                                    <th >@L("UOM")</th>
                                    <th>@L("Remarks")</th>
                                    <th>@L("Next")</th>
                                    <th>@L("Delete")</th>
                                </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.tempdetaildata">

                                    <td class="col-xs-1">
                                        <button type="button" class="btn btn-primary" data-ng-click="vm.editRow(data)">
                                            <i class="fa fa-edit"></i> <span></span>
                                        </button>
                                    </td>

                                    <td class="col-xs-3">
                                        <ui-select class="borderself" id="selLocation" ng-value="data.locationRefName" ng-change="func(data,$select.selected)"
                                                   ng-model="data.locationRefId" ng-disabled="!data.currenteditstatus">
                                            <ui-select-match placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                            <ui-select-choices ng-model="data.locationRefId" repeat="item.value as item in vm.filteredreflocations | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>

                                    <td class="col-xs-1">
                                        <input id="onHand" type="text" class="form-control text-right" ng-model="data.onHand" ng-disabled="true"/>
                                    </td>

                                    <td class="col-xs-2">
                                        <input id="rcdqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value, event, null, true)" maxlength="10" ng-model="data.requestQty" ng-disabled="!data.locationRefId || !data.currenteditstatus" ng-blur="vm.checkQty(data.requestQty,data)" required/>

                                    </td>
                                    <td class="col-xs-1">
                                        <input id="uom" type="text" class="form-control text-right" ng-model="data.uom" ng-disabled="true"/>
                                    </td>

                                    <td class="col-xs-3">
                                        <input id="remarks" type="text" class="form-control" ng-model="data.approvedRemarks"/>
                                    </td>
                                    <td class="col-xs-1">
                                        <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                            <i class="glyphicon glyphicon-plus"></i> <span></span>
                                        </button>
                                    </td>
                                    <td class="col-xs-1">
                                        <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)"/>

                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>

                </div>


                <div class="row margin-top-50" ng-if="vm.locationwisedata.length>0">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered col-xs-9">
                            <thead>
                            <tr>
                                <th class="text-right">@L("NumberOfMaterials")</th>
                                <th class="text-right">@L("TotalQty")</th>
                                <th class="text-right">@L("Location")</th>
                                <th>@L("View")</th>
                                <th>@L("Approve")</th>
                                <th ng-if="vm.permissions.directapproveandreceive">@L("ApproveAndReceive")</th>
                            </tr>
                            </thead>

                            <tr data-ng-repeat="(index,locationdata) in vm.locationwisedata">

                                <td class="col-xs-2">
                                    <input id="totalMaterial" type="text" class="form-control text-right" ng-model="locationdata.totalMaterial" ng-disabled="true"/>
                                </td>

                                <td class="col-xs-2">
                                    <input id="totalQtyordered" type="text" class="form-control text-right" maxlength="10" ng-model="locationdata.totalQtyordered" required/>
                                </td>
                                <td class="col-xs-3 text-right text-bold">
                                    <input id="locationname" type="text" class="form-control text-right text-bold" ng-model="locationdata.locationRefName" ng-disabled="true"/>
                                </td>

                                <td class="col-xs-1">
                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.openApprovalView(locationdata.locationRefName,locationdata.materialrequestlist,locationdata.uom)">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i><span>@L("View")</span>
                                    </button>
                                </td>

                                <td class="col-xs-1">
                                    <button type="submit" class="btn btn-primary" ng-disabled="vm.lockscreen || vm.errorFlag || vm.currentrow.materialRefId"
                                            data-ng-click="vm.makeRequestAndApproval(locationdata,1)">
                                        <i class="fa fa-reply"></i> <span>@L("Approve")</span>
                                    </button>
                                </td>
                                <td class="col-xs-1" ng-if="vm.permissions.directapproveandreceive">
                                    <button type="submit" class="btn btn-primary" ng-disabled="vm.lockscreen || vm.errorFlag || vm.currentrow.materialRefId"
                                            data-ng-click="vm.makeRequestAndApproval(locationdata,2)">
                                        <i class="fa fa-reply"></i> <span>@L("ApproveAndReceive")</span>
                                    </button>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-xs-7 text-left">
            <div class="col-xs-6 text-left" ng-if="vm.permissions.transportAllowed">
                <div ng-if="vm.permissions.transportAllowed && vm.locationwisedata.length>0">
                    <label>@L("Vehicle") #</label>
                    <input type="text" id="vehiclenumber" ng-class="{'edited':vm.intertransfer.vehicleNumber}"
                           ng-model="vm.intertransfer.vehicleNumber" autocomplete="on">

                </div>
            </div>
            <div class="col-xs-6" ng-if="vm.permissions.transportAllowed && vm.locationwisedata.length>0">
                <div></div>
                <label>@L("Incharge")</label>
                <input type="text" id="incharge"
                       ng-class="{'edited':vm.intertransfer.personInCharge}" ng-model="vm.intertransfer.personInCharge" autocomplete="on">
            </div>
        </div>
        <div class="col-xs-5">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel(1)">@L("Cancel")</button>
        </div>
        </div>
</div>
</div>