﻿<div  >
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Import") - @L("DirectTransfer")</span>
            </h3>
        </div>
        <div class="m-heading-1 border-green m-bordered">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">@L("Location")</label>
                    <ui-select class="borderself" ng-model="vm.locationRefId">
                        <ui-select-match id="selreqLocationRefid" placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.filteredreflocations | filter: $select.search ">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <p> @L("DownloadTemplate_Info") </p>
            <div class="col-xs-6" >
                <a ng-if="vm.locationRefId!=null" @*href="{{ vm.importpath }}"*@  ng-click="vm.getTransferTemplate()">@L("DownloadTemplate")</a>
            </div>
        </div>
        <div class="modal-body" busy-if="vm.loading">
            <div class="row">
                <div class="form-group margin-left-20">
                    <input type="file" size="55" nv-file-select uploader="vm.uploader" />
                    <span class="help-block m-b-none">@L("SelectFeededExcelStockTakenFile")</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>
        </div>
    </form>
</div>