﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 70%;
    }
</style>


<div class="modal-dialog">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h5 class="modal-title">
                    <span class="caption-subject bold uppercase">@L("MaterialRequestAndApproval")</span>
                </h5>
            </div>
            <div class="col-xs-2 text-right">
                <button class="btn btn-primary blue" ng-click="vm.cancel()">
                    @L("Close")
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h5 class="modal-title">
                    <span class="caption-subject bold uppercase">@L("Location") : {{vm.locationRefName}}</span>
                </h5>
            </div>
            @*<div class="col-xs-6">
                <h5 class="modal-title">
                    <span class="caption-subject bold uppercase">@L("RequestTo") : {{vm.requestlocationRefName}} </span>
                </h5>
            </div>*@
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-sm-12">
                    <thead>
                        <tr>
                            <th>@L("MaterialName")</th>
                            <th>@L("MaterialType")</th>
                            <th class="text-right">@L("RequestQty")</th>
                            <th>@L("UOM")</th>
                            <th>@L("Remarks")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.materialrequestlist">
                        <td class="col-xs-2">
                            {{data.materialRefName}}
                        </td>
                        <td class="col-xs-2">
                            {{data.materialTypeName}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.requestQty}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom}}
                        </td>
                        <td class="col-xs-1">
                            {{data.approvedRemarks}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
</div>
