@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.monthlySalesAdvanceReport as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("MonthlySalesAdvance")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getData()">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">@L("DateRange")</label>
                                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn blue" ng-click="vm.clear()">
                                        <i class="fa fa-eraser"></i> @L("Clear")
                                    </button>
                                    <div class="btn-group">
                                        <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
                                            <i class="fa fa-file-excel-o"></i> @L("Export")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                            </li>
                                            <li>
                                                <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn blue" ng-click="vm.getData()">
                                        <i class="fa fa-refresh"></i> @L("Refresh")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center max_width_50" rowspan="2"> @L("Items")</th>
                            <th class="text-center max_width_50" rowspan="2" ng-repeat="item in vm.data.listShift"> {{item.name}}</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("Compliment")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("Promotion")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("TotalSales")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("ServiceCharge")</th>
                            <th class="text-center max_width_50" rowspan="2"> @L("GST")</th>
                            <th class="text-center max_width_50" colspan="2"> @L("Total")</th>
                        </tr>
                        <tr>
                            <th class="text-center max_width_50">$ </th>
                            <th class="text-center max_width_50">% </th>

                        </tr>
                    </thead>
                    <tr>
                        <td class="item border_bottom_none text-left max_width_50 text-bold">{{vm.food.name}}</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <th class="item border_bottom_none text-center max_width_50" ng-repeat="item in vm.data.listShift"></th>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                    </tr>
                    <tr ng-repeat="item in vm.food.categoryItems">
                        <td class="item border_bottom_none text-center max_width_50">{{item.name2}}</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in item.itemListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.serviceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.gst| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalPercent| number: vm.decimals}}%</td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50">@L("SubTotal")</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.food.subTotal.listShiftTotal">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalCompliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalPromotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalTotalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalServiceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalGST| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalTotalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.food.subTotal.subTotalTotalPercent| number: vm.decimals}}%</td>
                    </tr>


                    <tr>
                        <td class="item border_bottom_none text-left max_width_50 text-bold">{{vm.beverage.name}}</td>
                        <th class="item border_bottom_none text-center max_width_50" ng-repeat="item in vm.data.listShift"></th>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                    </tr>
                    <tr ng-repeat="item in vm.beverage.categoryItems">
                        <td class="item border_bottom_none text-center max_width_50">{{item.name2}}</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in item.itemListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.serviceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.gst| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{item.totalPercent| number: vm.decimals}}%</td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50">@L("SubTotal")</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.beverage.subTotal.listShiftTotal">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalCompliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalPromotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalTotalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalServiceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalGST| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalTotalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.beverage.subTotal.subTotalTotalPercent| number: vm.decimals}}%</td>
                    </tr>

                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold">{{vm.totalFBItem.name}}</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.totalFBItem.itemListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.serviceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.gst| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.totalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.totalFBItem.totalPercent| number: vm.decimals}}%</td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold">{{vm.others.name}}</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.others.itemListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.serviceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.gst| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.totalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.others.totalPercent| number: vm.decimals}}%</td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold"> @L("GrandTotal")</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.grossSales.itemListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.serviceCharge| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.gst| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.totalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.grossSales.totalPercent| number: vm.decimals}}%</td>
                    </tr>
                    @*<tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold">@L("NetSales")</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.netSales.itemListShift">{{shift.shiftAmount| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.netSales.compliment| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.netSales.promotion| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.netSales.totalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.netSales.totalAll| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.netSales.totalPercent| number: vm.decimals}}%</td>
                    </tr>*@
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold">@L("Cover")</td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.cover.listShiftTotal">{{shift.cover| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50">@L("Total")@L("Cover")</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.cover.totalCover| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold"></td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.cover.listShiftTotal"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50">PPA*</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.data.ppaTotalSales| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50">PPA*</td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.data.ppaTotalS| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold"></td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.cover.listShiftTotal"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.data.lyaForMonth| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">Lya For the Month</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                    </tr>
                    <tr>
                        <td class="item border_bottom_none text-center max_width_50 text-bold"></td>
                        <td class="item border_bottom_none text-center max_width_50" ng-repeat="shift in vm.data.cover.listShiftTotal"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50">{{vm.cover.totalCover| number: vm.decimals}}</td>
                        <td class="item border_bottom_none text-center max_width_50">Total Cover</td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                        <td class="item border_bottom_none text-center max_width_50"></td>
                    </tr>
                </table>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center max_width_50"> @L("Payment") @L("Detail")</th>
                            <th class="text-center max_width_50"> S($)</th>
                            <th class="text-center max_width_50"> %</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in vm.data.paymentList.paymentItems">
                        <th class="text-center max_width_50"> {{item.name}}</th>
                        <th class="text-center max_width_50"> {{item.amount| number: vm.decimals}}</th>
                        <th class="text-center max_width_50"> {{item.amountPercent| number: vm.decimals}}%</th>
                    </tr>
                    <tr>
                        <th class="text-center max_width_50"> @L("Payment")  @L("Total")</th>
                        <th class="text-center max_width_50"> {{ vm.data.paymentList.totalAmount| number: vm.decimals}}</th>
                        <th class="text-center max_width_50"> {{ vm.data.paymentList.totalAmountPercent| number: vm.decimals}}%</th>
                    </tr>
                    <tr ng-repeat="item in vm.data.paymentInsertList.paymentItems">
                        <th class="text-center max_width_50"> {{item.name}}</th>
                        <th class="text-center max_width_50"> {{item.amount| number: vm.decimals}}</th>
                        <th class="text-center max_width_50"></th>
                    </tr>
                    <tr>
                        <th class="text-center max_width_50"></th>
                        <th class="text-center max_width_50"> {{ vm.data.paymentInsertList.totalAmount| number: vm.decimals}}</th>
                        <th class="text-center max_width_50"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .thead_title {
        background-color: #deebf7;
        font-weight: bold;
    }

    .thead_content {
        background-color: #fff2cc;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }

    .item {
        max-width: 116px;
    }

    .w-100 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #808080;
        color: white;
    }

    .font_weight_bold {
        font-weight: bold;
    }

    .nodata {
        background: navajowhite;
        color: red;
    }

    .table_Item {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .table_Item_Element {
        border-left: none !important;
        border-bottom: none !important;
    }

    .max_width_50 {
        max-width: 50px;
    }

    .max_width_20 {
        max-width: 20px;
    }
</style>
