<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>
<div ng-controller="tenant.views.connect.report.workday.day as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("WorkDay")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getDetails()">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                          
                        </div>
                        <div class="row margin-bottom-10">
                           <div class="col-sm-12 text-right">
                                <button class="btn btn-default" ng-click="vm.print40Col()"><i class="fa fa-file-excel-o"></i> 40 Col </button>


                               <div class="btn-group">
                                   <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-file-excel-o"></i> @L("DaySummary")
                                       <i class="fa fa-angle-down"></i>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                       <li>
                                           <a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
                                       </li>
                                       <li>
                                           <a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
                                       </li>
                                       @*<li>
                                           <a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
                                       </li>*@
                                   </ul>
                               </div>
                               <div class="btn-group">
                                   <button class="btn green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-file-excel-o"></i> @L("DayDetails")
                                       <i class="fa fa-angle-down"></i>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                       <li>
                                           <a ng-click="vm.exportToDetails(0)">@L("Excel")</a>
                                       </li>
                                       <li>
                                           <a ng-click="vm.exportToDetails(1)">@L("HTML")</a>
                                       </li>
                                       @*<li>
                                           <a ng-click="vm.exportToDetails(2)">@L("PDF")</a>
                                       </li>*@
                                   </ul>
                               </div>

                               <div class="btn-group" ng-if="vm.mycustomer == '1FM'">
                                   <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-file-excel-o"></i> @L("Summary")
                                       <i class="fa fa-angle-down"></i>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                       <li>
                                           <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                       </li>
                                       @*<li>
                                           <a ng-click="vm.exportToExcel(2)">@L("PDF")</a>
                                       </li>*@
                                   </ul>
                               </div>
                               <div class="btn-group" ng-if="vm.mycustomer == '1FM'">
                                   <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-file-excel-o"></i> @L("WeekDay")
                                       <i class="fa fa-angle-down"></i>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                       <li>
                                           <a ng-click="vm.exportWeekDay(1)">@L("HTML")</a>
                                       </li>
                                       @*<li>
                                           <a ng-click="vm.exportWeekDay(2)">@L("PDF")</a>
                                       </li>*@
                                   </ul>
                               </div>
                               <div class="btn-group" ng-if="vm.mycustomer == '1FM'">
                                   <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-file-excel-o"></i> @L("WeekEnd")
                                       <i class="fa fa-angle-down"></i>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                       <li>
                                           <a ng-click="vm.exportWeekEnd(1)">@L("HTML")</a>
                                       </li>
                                       @*<li>
                                           <a ng-click="vm.exportWeekEnd(2)">@L("PDF")</a>
                                       </li>*@
                                   </ul>
                               </div>
                               <div class="btn-group" ng-if="vm.mycustomer == '1FM'">
                                   <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-file-excel-o"></i> @L("Scedules")
                                       <i class="fa fa-angle-down"></i>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                       <li>
                                           <a ng-click="vm.exportSchdule(1)">@L("HTML")</a>
                                       </li>
                                       @*<li>
                                           <a ng-click="vm.exportSchdule(2)">@L("PDF")</a>
                                       </li>*@
                                   </ul>
                               </div>

                               <button class="btn" ng-click="vm.getDetails()">
                                   <i class="fa fa-refresh"></i> @L("Refresh")
                               </button>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                {{ vm.dashboard.totalSales | number:vm.decimals }}
                                            </h3>
                                            <small>@L("TotalTicketAmount").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-pie-chart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">{{ vm.dashboard.totalTickets | number:vm.decimals}}</h3>
                                            <small>@L("TotalTickets").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ vm.dashboard.average | number:vm.decimals}}</h3>
                                            <small>@L("Average").ToUpper() </small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.dayDetails.length>0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>TotalTickets</th>
                                    <th>TotalSales</th>
                                    <th>Actual</th>
                                    <th>Entered</th>
                                    <th>Difference</th>
                                    <th>Export</th>
                                </tr>
                                </thead>
                                <tr data-ng-repeat="(productIndex, product) in vm.dayDetails">
                                    <td>{{ product.locationCode }}</td>
                                    <td>{{ product.locationName }}</td>
                                    <td align="right">
                                        {{product.totalTicketCount | number:vm.decimals}}
                                    </td>
                                    <td align="right">
                                        {{product.total | number:vm.decimals}}
                                    </td>
                                    
                                    <td align="right">
                                        {{product.actual | number:vm.decimals}}
                                    </td>
                                    <td align="right">
                                        {{product.entered | number:vm.decimals}}
                                    </td>
                                    <td align="right">
                                        {{product.difference | number:vm.decimals}}
                                    </td>
                                    <td align="right">
                                        <a ng-click='vm.exportItemSales(product.locationId)'>@L("ItemSales")</a>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>