﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.topdownsellreportbyamountsummary.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TopDownSellReportByAmountSummary")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getTickets()">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Day")</label>
                                    <select class="form-control" ng-model="vm.requestParams.days">
                                        <option ng-repeat="item in vm.lstDayOfWeek" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("TimeRange")</label>
                                    <div>
                                        <wy-time-picker style="display:inline-block;"
                                                        data-dropdown-toggle-state="settings.dropdownToggleState"
                                                        data-time-settings="settings.time"
                                                        data-theme="settings.theme"
                                                        data-no-range="settings.noRange"
                                                        data-format="settings.format"
                                                        data-no-validation="settings.noValidation">
                                        </wy-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("SaleChannel")</label>
                                    <select class="form-control" ng-model="vm.requestParams.departmentSelect">
                                        <option ng-repeat="item in vm.departments" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("MaterialGroup")</label>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" value='@L("MaterialGroup")' ng-if="vm.lstMaterial.length==0" data-ng-click="vm.openGroupMaster()">
                                        <input type="button" class="btn btn-primary" value='{{ vm.lstMaterial.length}} item selected' ng-if="vm.lstMaterial.length > 0" data-ng-click="vm.openGroupMaster()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">@L("View")</label>
                                    <select class="form-control" ng-model="vm.requestParams.view">
                                        <option ng-repeat="item in vm.lstView" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <input id="viewNumber" class="form-control margin-top-5" type="number" ng-model="vm.requestParams.viewNumber">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("TypeOfChart")</label>
                                    <select class="form-control" ng-model="vm.requestParams.typeOfChart">
                                        <option ng-repeat="item in vm.lstTypeOfChart" value="{{item.value}}">{{item.displayText}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group ">
                                    <div class="md-checkbox margin-top-30">
                                        <input id="Credit" class="md-check" type="checkbox" ng-model="vm.requestParams.isAddOns">
                                        <label for="Credit">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("AddOns")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-checkbox margin-top-30">
                                        <input id="Refund" class="md-check" type="checkbox" ng-model="vm.requestParams.isCombo">
                                        <label for="Refund">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("Combo")
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row  margin-top-10 margin-bottom-10">
                            <div class="col-xs-12" ng-if="true">
                                <query-builder options="builder.options" builder="builder.builder"></query-builder>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 text-right">
                                <span ng-if="vm.tallyAvailable"><button class="btn btn-default" ng-click="vm.exportForTally()"><i class="fa fa-file-excel-o"></i> @L("Tally")</button></span>
                                <button class="btn blue" ng-click="vm.clear()">
                                    <i class="fa fa-eraser"></i> @L("Clear")
                                </button>
                                <div class="btn-group">
                                    <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-file-excel-o"></i> @L("Excel")
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
                                        </li>
                                        <li>
                                            <a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn red" ng-click="vm.getAll()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="text-center">
                <h4 class="bold">@L("TopDownSellReportByAmountSummary")</h4>
                <span ng-if="vm.data.endDate == vm.data.startDate">{{ vm.data.startDate}}</span>
                <span ng-if="vm.data.endDate != vm.data.startDate">@L("Date") {{vm.data.startDate}} @L("To") {{vm.data.endDate}}</span>
                <br />
                <span ng-if="vm.data.locationCode != null">({{vm.data.locationCode}}) {{vm.data.locationName}}</span>
            </div>
            <top-down-chart data="vm.dataChart"></top-down-chart>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>
<style>
    .margin-top-5 {
        margin-top: 5px;
    }
</style>