﻿@using DinePlan.DineConnect.Localization
<div>
    <form name="dineplanuserCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{ vm.confirmDesc }}</span> 
            </h4>
            
        </div>
        <div class="modal-body">
          
            <div class="row">
                <div class="col-md-12" >
                    <div class="form-group">
                        <label class="control-label">@L("Password") </label>
                        <input type="password" ng-model="vm.confirmPassword" name="confirmPassword" 
                               class="form-control" ng-maxlength="50">
                    </div>
                </div>
            </div>
           
        </div>


        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Done")</span>
            </button>
        </div>
    </form>
</div>