<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.wheel.ordersummary as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    @L("Dashboard")
                </h1>
            </div>
        </div>
    </div>

</div>

<div class="row margin-top-10">
    <div class="col-xs-6">
        <button type="button" class="btn-lg blue" ng-click="vm.openMember()">@L("Member") - {{ vm.currentMember.name }}</button>
    </div>
    <div class="col-xs-6 text-right">
        <button type="button" class="btn-lg green" ng-click="vm.openLocation()">@L("Location") - {{ vm.currentLocation.name }}</button>
    </div>
</div>
<div class="row margin-top-20">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bg-red">
            <div class="display">
                <div class="number">
                    <h3 class="font-white">
                        {{ vm.status.notAssigned }}
                    </h3>
                    <small class="font-white">@L("NotAssigned")</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        {{ vm.status.preparing }}

                    </h3>
                    <small>@L("Preparing")</small>
                </div>
                <div class="icon">
                    <i class="icon-speedometer"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bg-green">
            <div class="display">
                <div class="number">
                    <h3 class="font-white">{{ vm.status.delivering }}</h3>
                    <small class="font-white">@L("Delivering")</small>
                </div>
                <div class="icon">
                    <i class="icon-basket"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bg-blue">
            <div class="display">
                <div class="number">
                    <h3 class="font-white">
                        {{ vm.status.delivered }}
                    </h3>
                    <small class="font-white">@L("Delivered")</small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
<div class="portlet-body">
<div class="form">
<form name="detailform">
<div class="form-body">
<uib-tabset id="tabs" class="tab-container tabbable-line">
<uib-tab heading='@L("NotAssigned")' tabindex="0" ng-click="vm.fillTab(0)">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center font-bold">@L("Order")</th>
                    <th class="text-center font-bold">@L("OrderTime")</th>
                    <th class="text-center font-bold">@L("Name")</th>
                    <th class="text-center font-bold">@L("Address")</th>
                    <th class="text-center font-bold">@L("Amount")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.notassigned">
                    <td class="text-bold">
                        <button ng-click="vm.openOrder(data.id)" class="btn default green" type="submit">
                            <b> {{ data.locationName }} </b>
                        </button>
                        <button ng-click="vm.changeLocation(data.id)" class="glyphicon glyphicon-pencil btn" >
                        </button>
                        <b> {{ data.ticketNumber }} </b>

                    </td>
                    <td>
                        {{ data.creationTime | date:'h:mma' }}
                        <br/>
                        <br />
                        <b>{{ data.elapsedTime }}</b>
                    </td>
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                            {{ data.address }}
                    </td>
                    <td>
                        <h4 class="text-right text-bold">{{ data.totalAmount | number: 2  }}</h4>
                    </td>
                </tr>

            </table>


        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Preparing")' tabindex="1" ng-click="vm.fillTab(1)">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center font-bold">@L("Order")</th>
                        <th class="text-center font-bold">@L("OrderTime")</th>
                        <th class="text-center font-bold">@L("Name")</th>
                        <th class="text-center font-bold">@L("Address")</th>
                        <th class="text-center font-bold">@L("Amount")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.preparing">
                    <td class="text-bold">
                        <button ng-click="vm.openOrder(data.id)" class="btn default green" type="submit">
                            <b> {{ data.locationName }} / {{ data.ticketNumber }} </b>
                        </button>

                    </td>
                    <td>
                        {{ data.creationTime | date:'h:mma' }}
                        <br />
                        <br />
                        <b>{{ data.elapsedTime }}</b>
                    </td>
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        {{ data.address }}
                    </td>
                    <td>
                        <h4 class="text-right text-bold">{{ data.totalAmount | number: 2  }}</h4>
                    </td>
                </tr>

            </table>


        </div>
    </div>
</uib-tab>
<uib-tab heading='@L("Delivering")' tabindex="2" ng-click="vm.fillTab(2)">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center font-bold">@L("Order")</th>
                        <th class="text-center font-bold">@L("OrderTime")</th>
                        <th class="text-center font-bold">@L("Name")</th>
                        <th class="text-center font-bold">@L("Address")</th>
                        <th class="text-center font-bold">@L("Amount")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.delivering">
                    <td class="text-bold">
                        <button ng-click="vm.openOrder(data.id)" class="btn default green" type="submit">
                            <b> {{ data.locationName }} / {{ data.ticketNumber }} </b>
                        </button>

                    </td>
                    <td>
                        {{ data.creationTime | date:'h:mma' }}
                        <br />
                        <br />
                        <b>{{ data.elapsedTime }}</b>
                    </td>
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        {{ data.address }}
                    </td>
                    <td>
                        <h4 class="text-right text-bold">{{ data.totalAmount | number: 2  }}</h4>
                    </td>
                </tr>

            </table>


        </div>
    </div>

</uib-tab>
<uib-tab heading='@L("Delivered")' tabindex="3" ng-click="vm.fillTab(3)">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center font-bold">@L("Order")</th>
                        <th class="text-center font-bold">@L("OrderTime")</th>
                        <th class="text-center font-bold">@L("Name")</th>
                        <th class="text-center font-bold">@L("Address")</th>
                        <th class="text-center font-bold">@L("Amount")</th>
                    </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.delivered">
                    <td class="text-bold">
                        <button ng-click="vm.openOrder(data.id)" class="btn default green" type="submit">
                            <b> {{ data.locationName }} / {{ data.ticketNumber }} </b>
                        </button>
                    </td>
                    <td>
                        {{ data.creationTime | date:'h:mma' }}
                        <br />
                        <br />
                        <b>{{ data.elapsedTime }}</b>
                    </td>
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        {{ data.address }}
                    </td>
                    <td>
                        <h4 class="text-right text-bold">{{ data.totalAmount | number: 2  }}</h4>
                    </td>
                </tr>

            </table>


        </div>
    </div>

</uib-tab>
</uib-tabset>
</div>
</form>
</div>
</div>
</div>

</div>