﻿<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{ vm.messageHeader }} </span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("General")">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("MessageHeader"): </label>
                            <div class="col-sm-6">
                                {{ vm.messageHeader }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Type"): </label>
                            <div class="col-sm-6">
                                {{ vm.type }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("CreatedOn"): </label>
                            <div class="col-sm-6">
                                {{ vm.createdOn }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Locations"): </label>
                            <div class="col-sm-6">
                                <button ng-click="vm.openModel(vm.tickMessageId, false, false, false, true)" class="btn btn-default btn-xs" title="@L("Unread")"><i class="fa fa-dashcube"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Unread"): </label>
                            <div class="col-sm-6">
                                <button ng-click="vm.openModel(vm.tickMessageId, false, false, true)" class="btn btn-default btn-xs" title="@L("Unread")"><i class="fa fa-dashcube"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.acknowledgement">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Acknowledgement"): </label>
                            <div class="col-sm-6">
                                <button ng-click="vm.openModel(vm.tickMessageId, false, true)" class="btn btn-default btn-xs" title="@L("Acknowledgement")"><i class="fa fa-dashcube"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.reply">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Replies"): </label>
                            <div class="col-sm-6">
                                <button ng-click="vm.openModel(vm.tickMessageId, true)" class="btn btn-default btn-xs" title="@L("Replies")"><i class="fa fa-dashcube"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("Content"): </label>
                            <div class="col-sm-6" ng-show="!vm.isTextContent">
                                {{ vm.type }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div id="content" ng-show="vm.isTextContent"
                                 class="form-group align-middle border border-dark"    
                                 style="word-wrap: break-word; padding: 10px">    
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("User"): </label>
                            <div class="col-sm-6">
                                {{ vm.user }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-6">@L("LatestRespondedOn"): </label>
                            <div class="col-sm-6">
                                {{ vm.respondedOn }}
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>