﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />

<div>
    <form name="skillsetCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title" style="color:red">
                <span ng-if="vm.skillset.id">@L("EditSkillSet"): {{vm.skillset.code}}</span>
                <span ng-if="!vm.skillset.id">@L("CreateSkillSet")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" autofocus name="code" ng-class="{'edited':vm.skillset.skillCode}" ng-model="vm.skillset.skillCode" maxlength="20" required>
                        <label>@L("Code")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="description" ng-class="{'edited':vm.skillset.description}" ng-model="vm.skillset.description" maxlength="40" required>
                        <label>@L("Description")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="skillsetCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

