﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.hr.master.skillset.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1 style="color:red">
                        <span class="caption-subject bold uppercase">@L("SkillSet").Pluralize()</span> 
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-8 text-right">
            <button ng-if="vm.setupPer.clearData && vm.userGridOptions.data.length>0" class="btn btn-primary red" ng-click="vm.cleanTickAll()">
                <i class="fa fa-plus"></i> @L("Clear") @L("Tick")
            </button>

            <button ng-if="vm.setupPer.importData && vm.userGridOptions.data.length==0" class="btn btn-primary red" ng-click="vm.importTickData()">
                <i class="fa fa-plus"></i> @L("Import") @L("Tick") @L("Data")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createSkillSet()">
                <i class="fa fa-plus"></i> @L("CreateSkillSet")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Code")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height:70vh">
            <div busy-if="vm.loading || vm.loadingCount" style="height:100%">
                <div ui-grid="vm.userGridOptions" style="height:100%" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

