﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="customertagdefinitionCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.customertagdefinition.id">@L("EditCustomerTagDefinition"): {{vm.customertagdefinition.tagCode | uppercase}}</span>
                <span ng-if="!vm.customertagdefinition.id">@L("CreateCustomerTagDefinition")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="tagcode" ng-class="{'edited':vm.customertagdefinition.tagCode}" ng-model="vm.customertagdefinition.tagCode" maxlength="30" required>
                        <label>@L("PriceListCode")</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="tagcode" maxlength="30" ng-class="{'edited':vm.customertagdefinition.tagName}" ng-model="vm.customertagdefinition.tagName" required>
                        <label>@L("PriceListName")</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="customertagdefinitionCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

