﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div class="col-xs-12" ng-controller="tenant.views.house.transaction.adjustment.adjustmentPrint as vm">
    <div class="col-xs-12" style="align-content:center" ng-if="vm.companyProfilePictureId" busy-if="vm.loading">
        <img ng-dblclick="vm.changePicture(null)" ng-if="vm.companyProfilePictureId"
             ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.companyProfilePictureId}}"
             class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
        <img ng-dblclick="vm.changePicture(vm.company.id)" ng-if="!vm.companyProfilePictureId"
             src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="100" height="50" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
    </div>
    <div id="divprintemail" class="row" busy-if="vm.loading">
        <div class="col-xs-11 text-right" ng-show="vm.printmailflag">
            <button class="btn btn-default" ng-click="vm.exportToExcel()" ng-disabled="vm.adjustment==null">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <span>   </span>

        </div>
        <div class="col-xs-1 text-right" ng-show="vm.printmailflag">
            <a ng-click="vm.printmailflag=false; vm.myFunction();"> <span class=""><i class="fa fa-print" ng-click=""></i> </span> </a>
            <span>   </span>
        </div>
    </div>

    <div class="row margin-top-10" busy-if="vm.loading">
        <div id="editor"></div>
        <center><h5> <b><u> @L("Adjustment")</u></b></h5></center>
    </div>
    <div class="row" busy-if="vm.loading">
        <div class="col-xs-3">
            <h6>    @L("Ref#"): {{vm.adjustment.tokenRefNumber}} </h6>
        </div>
        <div class="col-xs-2">
            <h6>    @L("Id"): {{vm.adjustmentDetail[0].adjustmentRefIf}} </h6>
        </div>
        <div class="col-xs-3">
            <h6>    @L("Location"): {{vm.adjustment.locationRefName}} </h6>
        </div>
        <div class="col-xs-4 text-right">
            <h6>   @L("AdjustmentDate"): {{vm.adjustment.adjustmentDate | date : 'dd-MMM-yy'}} </h6>
        </div>
    </div>

    <div class="lineHr">.</div>
    <div id="content" busy-if="vm.loading" >
        <h6>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered col-xs-12">
                        <thead>
                            <tr>
                                <th>@L("#") . @L("Category")</th>
                                <th>@L("Material")</th>
                                <th class="text-right">@L("UOM")</th>
                                <th class="text-right">@L("Price")</th>
                                <th ng-if="vm.closingStockBasedFlag" class="text-right">@L("SystemStock")</th>
                                <th ng-if="vm.closingStockBasedFlag" class="text-right">@L("SystemStockValue")</th>
                                <th ng-if="vm.closingStockBasedFlag" class="text-right">@L("ManualStock")</th>
                                <th ng-if="vm.closingStockBasedFlag" class="text-right">@L("ManualStockValue")</th>
                                <th class="text-right">@L("VarianceQty")</th>
                                <th>@L("AdjustmentMode")</th>
                                <th class="text-right">@L("VarianceCost")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in vm.adjustmentDetailPortion">
                            <td class="col-xs-2" style="font-size:10px">
                                {{data.sno}}.
                                <b> {{data.materialGroupCategoryName}} </b>
                            </td>
                            <td class="col-xs-2" style="font-size:10px">
                                <b> {{data.materialRefName}} </b>
                            </td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                {{data.unitRefName}}
                            </td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.price | number:vm.housedecimals}}</b>
                            </td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.closingStock | number:vm.housedecimals}}</b>
                            </td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.closingStockValue | number:vm.housedecimals}}</b>
                            </td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.stockEntry | number:vm.housedecimals}}</b>
                            </td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.stockEntryValue | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.adjustmentQty | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-1" style="font-size:10px">
                                {{data.adjustmentMode}}
                            </td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{data.adjustmentCost | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-2" style="font-size:10px">
                                {{data.adjustmentApprovedRemarks}}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 text-right" style="font-size:10px">
                            </td>
                            <td class="col-xs-2 text-right" style="font-size:10px">
                                @L("Excess")
                            </td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>

                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{vm.adjustment.totalExcessCost | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-2" style="font-size:10px"></td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 text-right" style="font-size:10px">
                            </td>
                            <td class="col-xs-2 text-right" style="font-size:10px">
                                @L("Shortage")
                            </td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{vm.adjustment.totalShortageCost | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-2" style="font-size:10px"></td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 text-right" style="font-size:10px">
                            </td>
                            <td class="col-xs-2 text-right" style="font-size:10px">@L("Total")</td>
							<td class="col-xs-1 text-right" style="font-size:10px"></td>
							<td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px">
							    <b>{{vm.adjustment.totalClosingStockValue | number:vm.housedecimals}} </b>
                            </td>
							<td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px"></td>
							<td ng-if="vm.closingStockBasedFlag" class="col-xs-1 text-right" style="font-size:10px">
								<b>{{vm.adjustment.totalStockEntryValue | number:vm.housedecimals}} </b>
                            </td>
                            <td class="col-xs-1" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px"></td>
                            <td class="col-xs-1 text-right" style="font-size:10px">
                                <b>  {{vm.adjustment.totalAdjustmentCost | number:vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-2" style="font-size:10px"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </h6>
    </div>

    <b>@L("Remarks") : {{vm.adjustment.adjustmentRemarks}} </b>
        <br />

        @L("CreatedBy") : {{vm.user.name}} 
        <div class="lineHr">.</div>
        <small>  @L("SignNotRequired") </small>
    </div>

        @*<script>
            function myFunction() {
                document.getElementById("divprintemail").style.visibility = "hidden";
                myPrint();
            }

            function myPrint() {
                window.print();
                document.getElementById("divprintemail").style.visibility = "visible";
            }


        </script>*@

