﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 85%;
    }

    .fontreport {
        font-family : 'Courier New';
        font-size : medium
            
    }
</style>



<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="modal-title">
                    <span class="caption-subject bold uppercase">@L("Adjustment").Pluralize() - {{vm.tokennumber}} - {{vm.adjustmentdate | date : YYYY-MMM-DD }}</span>
                </h4>
            </div>
            <div class="col-xs-6 text-right">
                @*<button class="btn btn-primary blue" ng-click="vm.printpo()" ng-show="!vm.poreport.length">
                    @L("Print")
                </button>*@
                <button class="btn btn-primary blue" ng-click="vm.cancel()">
                    @L("Close")
                </button>
                @*<button class="btn btn-primary blue" ng-click="vm.hide()" ng-show="vm.poreport.length>0">
                    @L("HidePrint")
                </button>*@

            </div>
        </div>
    </div>
   

    <div class="modal-body" ng-show="!vm.adjustmentreport.length">
        <div class="portlet light">
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
           
        </div>
        


    </div>
    <center>
        <div ng-show="vm.adjustmentreport.length>0">
            <textarea class="fontreport" name="text" rows="50" cols="120">{{vm.adjustmentreport}}</textarea>
        </div>
    </center>
    <div id="regReport" >

    </div>
</div>