﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    /* Specify styling for tooltip contents */
    .tooltip.customClass .tooltip-inner {
        color: #880000;
        background-color: #ffff66;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    /* Hide arrow */
    .tooltip.customClass .tooltip-arrow {
        display: none;
    }
</style>

<div ng-controller="tenant.views.house.transaction.adjustment.adjustmentMainForm as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-8">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.adjustment.id">@L("EditAdjustment"): {{vm.adjustment.Id}}</span>
                        <span ng-if="!vm.adjustment.id">@L("CreateAdjustment")</span>
                        <span ng-if="vm.forceAdjustmentFlag"> - @L("Force") @L("DayClose")</span>
                        <span ng-if="vm.closingstockAdjustmentFlag"> - @L("StockTaken") </span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary purple" ng-if="!vm.readfromexcelstatus && !vm.autopostflag && !vm.closingstockAdjustmentFlag" ng-click="vm.importFromExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ReadStockTakenReport")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading || vm.loadinfordayclose">
                <form name="adjustmentForm">
                    <div class="form-body">
                        <div class="row" ng-show="vm.readfromexcelstatus">
                            <div class="col-xs-2">
                                <b>
                                    <span ng-if="vm.forceAdjustmentFlag"> @L("DayClose") @L("On") </span>
                                    <span ng-if="!vm.forceAdjustmentFlag"> @L("StockTakenDate")</span>
                                </b>
                            </div>
                        </div>
                        <div class="row" ng-show="vm.readfromexcelstatus">
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input name="closingTakenDate" class="form-control date-picker" ng-class="{'edited':vm.closingTakenDate}" style="background-color:cornflowerblue;color:white" ng-model="vm.closingTakenDate" />
                                </div>
                            </div>
                            <div class="col-xs-10" ng-if="vm.closingstockAdjustmentFlag">
                                <button class="btn blue " ng-click="vm.generateClosingStockTakenTemplate(false,true)">
                                    <i class="fa fa-file-excel-o"></i> @L("ViewDifferences")
                                </button>


                                <button class="btn green" ng-click="vm.generateClosingStockTakenTemplate(true,false)">
                                    <i class="fa fa-file-excel-o"></i> @L("GenerateTemplateBasedOnClosingStock")
                                </button>
                                <button class="btn blue " ng-click="vm.getDataForStockAdjustmentExcel()">
                                    <i class="fa fa-file-excel-o"></i> @L("Import")
                                </button>
                                <button class="btn yellow " ng-click="vm.cancelreaddatafromexcel()">
                                    @L("Cancel")
                                </button>
                            </div>
                            <div class="col-xs-4" ng-if="!vm.closingstockAdjustmentFlag">
                                <button class="btn blue " ng-click="vm.getDataForStockAdjustmentExcel()">
                                    <i class="fa fa-file-excel-o"></i> @L("Import")
                                </button>
                                <button class="btn red " ng-click="vm.generateStockTakenTemplate()">
                                    <i class="fa fa-file-excel-o"></i> @L("Template")
                                </button>

                                <button class="btn yellow " ng-click="vm.cancelreaddatafromexcel()">
                                    @L("Cancel")
                                </button>
                            </div>

                            <div class="col-xs-3" ng-if="!vm.closingstockAdjustmentFlag">
                                <div class="md-checkbox">
                                    <input id="HighValueItem" class="md-check" type="checkbox" name="HighValueItem" ng-class="{'edited':vm.isHighValueItemOnly }" ng-model="vm.isHighValueItemOnly ">
                                    <label for="HighValueItem">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HighValueItem")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="false">
                            <div class="col-xs-5 text-right">
                                <a ng-click="vm.generateClosingStockTakenTemplate()"> <i class="fa fa-file-excel-o"></i> @L("GenerateTemplateBasedOnClosingStock")</a>
                            </div>
                        </div>
                        <div ng-show="vm.readfromexcelstatus">

                            <hr />
                        </div>

                        <div class="row" ng-show="vm.readfromexcelstatus">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered col-xs-12">
                                    <caption> <h3> <b> @L("PreviousAdjustment")</b></h3></caption>
                                    <thead>
                                        <tr>
                                            <th>@L("View")</th>
                                            <th>@L("AdjustmentDate")</th>
                                            <th>@L("TokenNumber")</th>
                                            <th>@L("NoOfMaterials")</th>
                                            <th>@L("Remarks")</th>
                                        </tr>
                                    </thead>

                                    <tr data-ng-repeat="(index,data) in vm.lastadjustmentslist">
                                        <td class="col-xs-2">
                                            <button class="btn btn-default btn-xs" ng-click="vm.showDetails(data.adjustmentId)"><i class="fa fa-search"></i></button>
                                        </td>
                                        <td class="col-xs-2">
                                            {{data.adjustmentDate | date : 'dd-MMM-yy' }}
                                        </td>
                                        <td class="col-xs-2">
                                            {{data.tokenRefNumber}}
                                        </td>
                                        <td class="col-xs-2">
                                            {{data.numberOfMaterials}}
                                        </td>
                                        <td class="col-xs-6">
                                            {{data.adjustmentRemarks}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div ng-show="!vm.readfromexcelstatus">

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>@L("TokenNumber")</label>
                                        <input class="form-control" onkeypress="return NumberOnly(event, 'cancel');" type="text" id="TokenRefNumber" ng-disabled="vm.autolock" ng-class="{'edited':vm.adjustment.tokenRefNumber}" ng-blur="vm.checkTokenRefEntry()" ng-model="vm.adjustment.tokenRefNumber" required>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label class="control-label">@L("AdjustmentDate")</label>
                                    <input name="adjDate" class="form-control date-picker" ng-class="{'edited':vm.adjustment.adjustmentDate}" ng-model="vm.adjustment.adjustmentDate" />

                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("AdjustmentRemarks")</label>
                                        <div class="input-group">
                                            <input class="form-control" id="AdjustmentRemarks" type="text" @*tooltip-class="{{customClass}}"*@ uib-tooltip="{{tokenNumberToolTip}}" name="tokNumber" ng-class="{'edited':vm.adjustment.adjustmentRemarks}" ng-model="vm.adjustment.adjustmentRemarks" ng-disabled="vm.autolock" required>
                                            <span class="input-group-btn">
                                                <button ng-click="vm.loading = true;vm.openManualReason(vm.adjustment,'adjustmentRemarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered col-xs-12">
                                        <thead>
                                            <tr>
                                                <th>@L("Actions")</th>
                                                <th ng-if="false">@L("Sno")</th>
                                                <th ng-if="false">@L("Code")</th>
                                                <th>@L("MaterialName")</th>
                                                <th ng-if="vm.excelautopost" ng-hide="vm.permissions.hideStock">@L("ClosingStock") On {{vm.closingTakenDate | date : 'dd-MMM-yy'}}</th>
                                                <th ng-if="vm.excelautopost">@L("PhysicalStock")</th>
                                                <th class="text-right">@L("Variance")</th>
                                                <th>@L("UOM")</th>
                                                <th>@L("AdjustmentMode")</th>
                                                <th>@L("Remarks")</th>
                                                <th>@L("Next")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(index,data) in vm.adjustmentPortions">
                                            <td class="col-xs-1">
                                                <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.removeRow(index)" />
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.sno" required />
                                            </td>
                                            <td class="col-xs-1" ng-if="false">
                                                <input type="text" ng-disabled="true" class="form-control" ng-model="data.materialRefId" required />
                                            </td>
                                            <td class="col-xs-3">
                                                <ui-select id="selMaterial" ng-disabled="vm.autolock" class="borderself" ng-value="data.materialRefName" ng-change="func(data,$select.selected,this)" ng-model="data.materialRefId" ng-required="true">
                                                    <ui-select-match placeholder="Select Material...">{{$select.selected.materialRefName}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.materialRefId" repeat="item.materialRefId as item in vm.refmaterial | filter: $select.search  | limitTo: vm.uilimit">
                                                        <div ng-bind="item.materialRefName"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="col-xs-1" ng-if="vm.excelautopost" ng-hide="vm.permissions.hideStock">
                                                <input id="clstk" ng-attr-id="{{'ClosingStock-' + index}}" ng-disabled="true" type="text" class="form-control text-right" ng-model="data.clBalance" />
                                            </td>
                                            <td class="col-xs-1" ng-if="vm.excelautopost">
                                                <input id="clstk" ng-attr-id="{{'CurrentStock-' + index}}" ng-disabled="true" type="text" class="form-control text-right" ng-model="data.currentStock" />
                                                <br ng-if="data.unitWiseQuantityList !=null && data.unitWiseQuantityList.length>1" />
                                                <a class="text-right" ng-if="data.unitWiseQuantityList !=null && data.unitWiseQuantityList.length>1" ng-click="vm.detailDataShown(data)"> @L("DrillDown") <span class=""><i class="fa fa-angle-double-down"></i> </span> </a>
                                            </td>
                                            <td class="col-xs-1">
                                                <input id="issqty" ng-attr-id="{{'IssQty-' + index}}" ng-disabled="vm.autolock" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" ng-model="data.adjustmentQty" required />
                                            </td>
                                            <td>
                                                <a ng-if="!data.changeunitflag" ng-disabled="vm.adjustment.id || vm.autolock || vm.excelautopost" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                                                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="vm.adjustment.id || vm.autolock || vm.excelautopost">
                                                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                                                        <div ng-bind="item.displayText"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td>
                                                <select id="adjustmentmode" class="form-control selectpicker" ng-disabled="vm.autolock" data_live_search="true" ng-model="data.adjustmentMode" required>
                                                    <option>@L("Excess")</option>
                                                    <option>@L("Shortage")</option>
                                                    <option>@L("Wastage")</option>
                                                    <option>@L("Damaged")</option>
                                                    <option ng-if="vm.autolock">Equal</option>
                                                </select>
                                            </td>
                                            <td class="col-xs-2">
                                                <div class="input-group">
                                                    <input id="remarks" type="text" class="form-control" ng-model="data.adjustmentApprovedRemarks" />
                                                    <span class="input-group-btn">
                                                        <button ng-click="vm.loading = true;vm.openManualReason(data,'adjustmentApprovedRemarks')" class="btn default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-xs-1">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                    <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                </button>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>

                            <div class="row margin-top-15">
                                @*<span ng-if="adjustmentForm.$invalid">Error :{{adjustmentForm.$error }} </span>
                                    <span ng-if="adjustmentForm.$invalid">Error :{{adjustmentForm.$invalid }} </span>*@

                                <div style="display:block;float:right;">
                                    @*<button type="button" button-busy="vm.saving" ng-if="adjustmentForm.$invalid"
                                                class="btn btn-primary blue" ng-click="vm.showUiErrorFlag=true;" >
                                            <i class="fa fa-save"></i> <span>@L("ShowUiError")</span>
                                        </button>*@

                                    <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="button" button-busy="vm.saving" ng-if="!vm.forceAdjustmentFlag" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="adjustmentForm.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                                    </button>
                                    <button type="button" button-busy="vm.saving" ng-if="vm.forceAdjustmentFlag && vm.forceAdjustmentWithDayCloseflag" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(3)" ng-disabled="adjustmentForm.$invalid">
                                        <i class="fa fa-thumbs-o-up"></i> <span>@L("ForceAdjustmentWithDayClose")</span>
                                    </button>

                                </div>
                            </div>

                            @*<div class="row margin-top-40" ng-if="vm.showUiErrorFlag">
                                    <br />

                                    <ul>
                                        <li ng-repeat="(key, errors) in adjustmentForm.$error track by $index">
                                            <strong>{{ key }}</strong> errors
                                            <ul>
                                                <li ng-repeat="e in errors">{{ e.$ng-attr-id }} has an error: <strong>{{ key }}</strong>.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>*@

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

