﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 60%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading" >
    <div class="modal-header">
        <div class="col-xs-7">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.materialDetail.materialName}} - @L("OnHand") : {{vm.materialDetail.currentStock}}  {{vm.materialDetail.defaultUnitName}}</span>
            </h4>
        </div>
        <div class="col-xs-5 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">

        <div ng-if="vm.detailData.length==0">
            @L("NoRecordsFound")
        </div>

        <div class="row" ng-if="vm.detailData.length>0">
            <div class="col-xs-12" ng-if="vm.detailData.length>0">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th class="text-right">#</th>
                            <th class="text-right">@L("Quantity")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th class="text-right">@L("Conversion")</th>
                            <th class="text-right">@L("Default") @L("Quantity")</th>
                            <th class="text-right">@L("Default") @L("UOM")</th>
                        </tr>
                </thead>

                    <tr data-ng-repeat="(index,data) in vm.detailData">
                        <td align="right">
                            {{index+1}}
                        </td>
                        <td align="right">
                            {{data.quantity | number : 6}}
                        </td>
                        <td align="right">
                            {{data.unitRefName}}
                        </td>
                        <td align="right">
                            {{data.conversion | number : 6}}
                        </td>
                        <td align="right">
                            {{data.convertedQuantity | number : 6}}
                        </td>
                        <td align="right">
                            {{vm.materialDetail.defaultUnitName}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            @L("Total")
                        </td>
                        <td align="right">
                            {{vm.materialDetail.currentStock | number : 6}}  
                        </td>
                        <td align="right">
                            {{vm.materialDetail.defaultUnitName}}
                        </td>
                    </tr>
    </table>
</div>
</div>
</div>
</div>