﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<style>

    table thead tr th {
        text-align: left;
        position: sticky;
        top: 0px;
        background-color: #666;
        color: #fff;
    }

    .Unknown {
        border: none;
        /*background-color: #FF8181;*/
        color: black;
        font-weight: bolder;
    }

    .highlight-alreadyavailable {
        border: none;
        background-color: black;
        color: red;
        font-weight: bold;
    }

    .weekoff-given {
        border: none;
        color: yellowgreen;
        font-weight: bold;
    }

    .GreenComplete {
        border: none;
        color: green;
        font-weight: bold;
    }

    .BlueExcess {
        border: none;
        color: Blue;
        font-weight: bold;
    }

    .RedPending {
        border: none;
        background-color: white;
        color: red;
        font-weight: bold;
    }

    .PinkPending {
        border: none;
        color: deeppink;
        font-weight: bold;
    }

    .YellowPending {
        border: none;
        background-color: black;
        color: yellow;
        font-weight: bold;
    }

    div.table-wrapper {
        border: 1px solid #ccc;
        height: 200px;
        width: 100%;
        overflow-y: auto;
    }

    div.table-wrapper-master {
        border: 1px solid #ccc;
        height: 700px;
        width: 100%;
        overflow-y: auto;
    }

    table {
        width: 100%;
    }

        table thead tr th {
            text-align: left;
            position: sticky;
            top: 0px;
            background-color: #666;
            z-index: 999;
        }
</style>


<div class="modal-dialog">
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <span class="bold fa-pull-left" style="color:blue;font-size:x-large">@L("Import") - @L("StockTakenReport")</span>
            <span class="bold fa-pull-right" style="color: blue; font-size: x-large "><b>   @L("StockTakenDate") : {{vm.stockTakenDate | date : 'dd-MMM-yy'}} </b></span>
        </div>

        <div busy-if="vm.loading" ng-hide="vm.errorList.length>0 && vm.allItems.length>0">
            <div class="row margin-top-20">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-11">
                    <div style="color:brown" class="md-checkbox">
                        <input id="DownLoadMultipleUOMMultipleSupplierMaterialOnly" class="md-check" type="checkbox" name="DownLoadMultipleUOMMultipleSupplierMaterialOnly" ng-class="{'edited':vm.downLoadMultipleUOMMultipleSupplierMaterialOnly }" ng-model="vm.downLoadMultipleUOMMultipleSupplierMaterialOnly">
                        <label style="color:blue" for="DownLoadMultipleUOMMultipleSupplierMaterialOnly">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("DownLoadMultipleUOMMultipleSupplierMaterialsOnly")
                        </label>
                    </div>
                </div>
            </div>

            <div class="row margin-top-20">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-11">
                    <label class="control-label">@L("Units") @L("Type") @L("Filter")</label>
                    <ui-select multiple id="unitRefIds" ng-model="vm.selectedUnitTypes" class="form-control">
                        <ui-select-match>{{$item.displayText}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.refUnitTypes | filter: $select.search">
                            <div ng-bind="item.displayText"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="m-heading-1 border-green m-bordered">
                <p> @L("DownloadTemplate_Info") </p>
                <a ng-click="vm.isHighValueItemOnly=false;vm.getTemplate()" @*href="{{ vm.importpath }}"*@>@L("DownloadTemplate")</a>
                <br />
                <br />

                <a ng-click="vm.isHighValueItemOnly=true;vm.getTemplate()" @*href="{{ vm.importpath }}"*@>@L("DownloadTemplate") - @L("HighValueItem")</a>
            </div>
        </div>

        <div ng-if="vm.loading" style="color:gold;background-color:black">
            <center><h1>@L("ExecutionStatusReadFromExcel")</h1> </center>
        </div>

        <div class="modal-body" busy-if="vm.loading">

            <div class="row">

            </div>
            <div class="row" ng-hide="vm.errorList.length>0">
                <div class="form-group">
                    <input type="file" size="50" nv-file-select uploader="vm.uploader" />
                    <span class="help-block m-b-none">@L("SelectFeededExcelStockTakenFile")</span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.errorList.length>0">
            <div class="panel panel-danger">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse12">
                    <h3 class="panel-title bold">
                        {{vm.errorList.length}} @L("Error") @L("Records") @L("Found") <span class="btn-xs pull-right">Click to Show/Hide</span>
                    </h3>
                </div>
                <div id="collapse12" class="collapse in">
                    <div class="panel-body">
                        <div class="col-xs-12 table-wrapper">
                            <table class="table table-striped table-condensed table-bordered col-lg-12">
                                <thead>
                                    <tr>
                                        <th>@L("Material")</th>
                                        <th>@L("Error") @L("Desc")</th>
                                        <th>@L("View") / @L("Edit")</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.errorList">
                                    @*<td class="col-lg-2">
                                        {{data.id}}
                                    </td>*@
                                    <td class="col-lg-3">
                                        {{index+1}} . {{data.materialRefName}}
                                    </td>
                                    <td class="col-lg-6 text-left">
                                        {{data.errorMessage}}
                                    </td>
                                    <td class="col-xs-1">
                                        <a ng-disabled="!vm.permissions.create" ng-click="vm.materialEdit(data.materialRefId)"> @L("Edit") </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-show="vm.allItems.length>0">
            <div class="panel panel-primary">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse13">
                    <h3 class="panel-title bold">
                        {{vm.allItems.length}} @L("Correct") @L("Records") @L("Found") <span class="btn-xs pull-right">Click to Show/Hide</span>
                    </h3>
                </div>
                <div id="collapse13" class="collapse out">
                    <div class="panel-body">
                        <div class="col-xs-12 table-wrapper">
                            <table class="table table-striped table-condensed table-bordered col-lg-12">
                                <caption class="bold" style="color:blue"> </caption>
                                <thead>
                                    <tr>
                                        <th>@L("Material")</th>
                                        <th>@L("OnHand")</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="(index,data) in vm.allItems">
                                    <td class="col-lg-3">
                                        {{index+1}} . {{data.materialName}}
                                    </td>
                                    <td class="col-lg-6 text-left">
                                        {{data.currentStock}} {{data.unitRefName}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-if="vm.errorList.length>0 && vm.allItems.length>0" class="btn btn-primary purple pull-left" ng-click="vm.processPartial()"> @L("Process") {{vm.allItems.length}} @L("Correct") @L("Materials") @L("Only") </button>
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" ng-hide="vm.errorList.length>0 && vm.allItems.length>0" button-busy="vm.saving || vm.loading" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>

        </div>
    </form>
</div>