﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.transaction.adjustment.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title" ng-if="!vm.closingstockAdjustmentFlag">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Adjustment").Pluralize()</span> <b> <small>{{vm.reportHeaderInfo}}</small> </b>
                    </h1>
                </div>
                <div class="page-title" ng-if="vm.closingstockAdjustmentFlag">
                    <h1>
                        <span class="caption-subject bold uppercase">{{vm.reportHeaderInfo}}</span> 
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-8 text-right" ng-if="!vm.reportFlag && !vm.closingstockAdjustmentFlag">
            @*<button ng-if="vm.permissions.forceadjustment" class="btn btn-primary blue" ng-click="vm.createAdjustment(true)">
                <i class="fa fa-plus"></i> @L("ForceAdjustment")
            </button>*@
            <button class="btn btn-default" ng-click="vm.generateStockReport()">
                <i class="fa fa-file-excel-o"></i> @L("StockReport")
            </button>

            @*<button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createAdjustment(false)">
                <i class="fa fa-plus"></i> @L("CreateAdjustment")</button>
        </div>
        <div class="col-xs-8 text-right" ng-if="vm.closingstockAdjustmentFlag">
            <button ng-if="vm.permissions.forceadjustment" class="btn btn-primary blue" ng-click="vm.createAdjustment(true)">
                <i class="fa fa-plus"></i> @L("ForceAdjustment")
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.fixTheStockDifference(true)">
                <i class="fa fa-plus"></i> @L("FixTheStockDifference")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter" >
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-6" ng-if="!vm.reportFlag && !vm.closingstockAdjustmentFlag">
                                <div class="form-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" type="text" placeholder='@L("TokenNumber")'>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DateRange")
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="md-checkbox">
                                    <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                           class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button class="btn btn-primary blue" ng-click="vm.clear()">
                                    @L("Clear")
                                </button>
                                <button class="btn blue" ng-click="vm.getAll()">@L("Refresh")</button>
                            </div>
                        </div>


                       
                    </form>
                </div>
            </div>
        </div>

        <div class="portlet-body" style="height: 65vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
            </div>
        </div>
    </div>
</div>

