<div>
	<div class="modal-header">
		<h4 class="modal-title">
			<span class="text-right">@L("PropertyEditer")</span>
		</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group">
					<label class="control-label">@L("DeviceName")</label>
					<select id="DeviceName" class="form-control selectpicker"
							ng-options="item for item in vm.lstDeviceName"
							ng-disabled="vm.isDisable"
							ng-model="vm.deviceName"></select>
				</div>
			</div>
			<div class="row" ng-if="vm.deviceName == 'Generic Modem'">
				<div class="form-group">
					<label>@L("BaudRate")</label>
					<input class="form-control ucase" type="text" name="BaudRate" ng-class="{'edited':vm.dataModal.BaudRate}" ng-model="vm.dataModal.BaudRate">
				</div>
				<div class="form-group">
					<label>@L("InitializationString")</label>
					<input class="form-control ucase" type="text" name="InitializationString" ng-class="{'edited':vm.dataModal.InitializationString}" ng-model="vm.dataModal.InitializationString">
				</div>
				<div class="form-group">
					<label>@L("MatchPattern")</label>
					<input class="form-control ucase" type="text" name="MatchPattern" ng-class="{'edited':vm.dataModal.MatchPattern}" ng-model="vm.dataModal.MatchPattern">
				</div>
				<div class="form-group">
					<label>@L("Port")</label>
					<input class="form-control ucase" type="text" name="Port" ng-class="{'edited':vm.dataModal.Port}" ng-model="vm.dataModal.Port">
				</div>
				<div class="form-group">
					<label>@L("TerminateString")</label>
					<input class="form-control ucase" type="text" name="TerminateString" ng-class="{'edited':vm.dataModal.TerminateString}" ng-model="vm.dataModal.TerminateString">
				</div>
				<div class="form-group">
					<label>@L("DepartmentName")</label>
					<input class="form-control ucase" type="text" name="DepartmentName" ng-class="{'edited':vm.dataModal.DepartmentName}" ng-model="vm.dataModal.DepartmentName">
				</div>
				<div class="form-group">
					<label>@L("DetailFormat")</label>
					<textarea class="form-control ucase" type="text" name="DetailFormat" ng-class="{'edited':vm.dataModal.DetailFormat}" ng-model="vm.dataModal.DetailFormat"></textarea>
				</div>
				<div class="form-group">
					<label>@L("EntityScreenName")</label>
					<input class="form-control ucase" type="text" name="EntityScreenName" ng-class="{'edited':vm.dataModal.EntityScreenName}" ng-model="vm.dataModal.EntityScreenName">
				</div>
				<div class="form-group">
					<label>@L("EntityTypeName")</label>
					<input class="form-control ucase" type="text" name="EntityTypeName" ng-class="{'edited':vm.dataModal.EntityTypeName}" ng-model="vm.dataModal.EntityTypeName">
				</div>
				<div class="form-group">
					<label>@L("PopupColor")</label>
					<input class="form-control ucase" type="text" name="PopupColor" ng-class="{'edited':vm.dataModal.PopupColor}" ng-model="vm.dataModal.PopupColor">
				</div>
				<div class="form-group">
					<label>@L("PopupName")</label>
					<input class="form-control ucase" type="text" name="PopupName" ng-class="{'edited':vm.dataModal.PopupName}" ng-model="vm.dataModal.PopupName">
				</div>
				<div class="form-group">
					<label>@L("SearchFormat")</label>
					<input class="form-control ucase" type="text" name="SearchFormat" ng-class="{'edited':vm.dataModal.SearchFormat}" ng-model="vm.dataModal.SearchFormat">
				</div>
				<div class="form-group">
					<label>@L("TrimCharacters")</label>
					<input class="form-control ucase" type="text" name="TrimCharacters" ng-class="{'edited':vm.dataModal.TrimCharacters}" ng-model="vm.dataModal.TrimCharacters">
				</div>
				<div class="form-group">
					<label>@L("WidgetName")</label>
					<input class="form-control ucase" type="text" name="WidgetName" ng-class="{'edited':vm.dataModal.WidgetName}" ng-model="vm.dataModal.WidgetName">
				</div>
			</div>

			<div class="row" ng-if="vm.deviceName == 'Artech'">
				<div class="form-group">
					<label>@L("Path")</label>
					<input class="form-control ucase" type="text" name="Path" ng-class="{'edited':vm.dataModal.Path}" ng-model="vm.dataModal.Path">
				</div>
				<div class="form-group">
					<label>@L("FileName")</label>
					<input class="form-control ucase" type="text" name="FileName" ng-class="{'edited':vm.dataModal.FileName}" ng-model="vm.dataModal.FileName">
				</div>
				<div class="form-group">
					<label>@L("DepartmentName")</label>
					<input class="form-control ucase" type="text" name="DepartmentName" ng-class="{'edited':vm.dataModal.DepartmentName}" ng-model="vm.dataModal.DepartmentName">
				</div>
				<div class="form-group">
					<label>@L("DetailFormat")</label>
					<textarea class="form-control ucase" type="text" name="DetailFormat" ng-class="{'edited':vm.dataModal.DetailFormat}" ng-model="vm.dataModal.DetailFormat"></textarea>
				</div>
				<div class="form-group">
					<label>@L("EntityScreenName")</label>
					<input class="form-control ucase" type="text" name="EntityScreenName" ng-class="{'edited':vm.dataModal.EntityScreenName}" ng-model="vm.dataModal.EntityScreenName">
				</div>
				<div class="form-group">
					<label>@L("PopupColor")</label>
					<input class="form-control ucase" type="text" name="PopupColor" ng-class="{'edited':vm.dataModal.PopupColor}" ng-model="vm.dataModal.PopupColor">
				</div>
				<div class="form-group">
					<label>@L("PopupName")</label>
					<input class="form-control ucase" type="text" name="PopupName" ng-class="{'edited':vm.dataModal.PopupName}" ng-model="vm.dataModal.PopupName">
				</div>
				<div class="form-group">
					<label>@L("SearchFormat")</label>
					<input class="form-control ucase" type="text" name="SearchFormat" ng-class="{'edited':vm.dataModal.SearchFormat}" ng-model="vm.dataModal.SearchFormat">
				</div>
				<div class="form-group">
					<label>@L("TrimCharacters")</label>
					<input class="form-control ucase" type="text" name="TrimCharacters" ng-class="{'edited':vm.dataModal.TrimCharacters}" ng-model="vm.dataModal.TrimCharacters">
				</div>
				<div class="form-group">
					<label>@L("WidgetName")</label>
					<input class="form-control ucase" type="text" name="WidgetName" ng-class="{'edited':vm.dataModal.WidgetName}" ng-model="vm.dataModal.WidgetName">
				</div>
			</div>

			<div class="row" ng-if="vm.deviceName == 'Call Center Client'">
				<div class="form-group">
					<label>@L("HTTPPort")</label>
					<input class="form-control ucase" type="text" name="HTTPPort" ng-class="{'edited':vm.dataModal.HTTPPort}" ng-model="vm.dataModal.HTTPPort">
				</div>
				<div class="form-group">
					<label>@L("QueryString")</label>
					<input class="form-control ucase" type="text" name="QueryString" ng-class="{'edited':vm.dataModal.QueryString}" ng-model="vm.dataModal.QueryString">
				</div>
				<div class="form-group">
					<label>@L("DepartmentName")</label>
					<input class="form-control ucase" type="text" name="DepartmentName" ng-class="{'edited':vm.dataModal.DepartmentName}" ng-model="vm.dataModal.DepartmentName">
				</div>
				<div class="form-group">
					<label>@L("DetailFormat")</label>
					<textarea class="form-control ucase" type="text" name="DetailFormat" ng-class="{'edited':vm.dataModal.DetailFormat}" ng-model="vm.dataModal.DetailFormat"></textarea>
				</div>
				<div class="form-group">
					<label>@L("EntityScreenName")</label>
					<input class="form-control ucase" type="text" name="EntityScreenName" ng-class="{'edited':vm.dataModal.EntityScreenName}" ng-model="vm.dataModal.EntityScreenName">
				</div>
				<div class="form-group">
					<label>@L("PopupColor")</label>
					<input class="form-control ucase" type="text" name="PopupColor" ng-class="{'edited':vm.dataModal.PopupColor}" ng-model="vm.dataModal.PopupColor">
				</div>
				<div class="form-group">
					<label>@L("PopupName")</label>
					<input class="form-control ucase" type="text" name="PopupName" ng-class="{'edited':vm.dataModal.PopupName}" ng-model="vm.dataModal.PopupName">
				</div>
				<div class="form-group">
					<label>@L("SearchFormat")</label>
					<input class="form-control ucase" type="text" name="SearchFormat" ng-class="{'edited':vm.dataModal.SearchFormat}" ng-model="vm.dataModal.SearchFormat">
				</div>
				<div class="form-group">
					<label>@L("TrimCharacters")</label>
					<input class="form-control ucase" type="text" name="TrimCharacters" ng-class="{'edited':vm.dataModal.TrimCharacters}" ng-model="vm.dataModal.TrimCharacters">
				</div>
				<div class="form-group">
					<label>@L("WidgetName")</label>
					<input class="form-control ucase" type="text" name="WidgetName" ng-class="{'edited':vm.dataModal.WidgetName}" ng-model="vm.dataModal.WidgetName">
				</div>
			</div>

			<div class="row" ng-if="vm.deviceName == 'Mettler Toledo' || vm.deviceName == 'Custom Scale' ">
				<div class="form-group">
					<label>@L("MatchPattern")</label>
					<input class="form-control ucase" type="text" name="BaudRate" ng-class="{'edited':vm.dataModal.BaudRate}" ng-model="vm.dataModal.BaudRate">
				</div>
				<div class="form-group">
					<label>@L("Port")</label>
					<input class="form-control ucase" type="text" name="InitializationString" ng-class="{'edited':vm.dataModal.InitializationString}" ng-model="vm.dataModal.InitializationString">
				</div>
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.close()">@L("Cancel")</button>
		<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
			<i class="fa fa-save"></i> <span>@L("Save")</span>
		</button>
	</div>
</div>