@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.connect.terminal.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.terminal.id">@L("EditTerminal"): {{vm.terminal.id}}</span>
                        <span ng-if="!vm.terminal.id">@L("CreateTerminal")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form" busy-if="vm.loading">
                <form name="detailForm" role="form" novalidate class="form-validation">
                    <div class="form-body">
                        <uib-tabset id="tabs" class="tab-container tabbable-line">
                            <uib-tab heading="@L("General")" tabindex="1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@L("Code")*</label>
                                            <input class="form-control ucase" type="text" name="code" onblur="changetoupper(this)" ng-class="{'edited':vm.terminal.code}" ng-model="vm.terminal.terminalCode" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Name")*</label>
                                            <input class="form-control ucase" type="text" name="name" onblur="changetoupper(this)" ng-class="{'edited':vm.terminal.name}" ng-model="vm.terminal.name" required>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("Float")</label>
                                            <input onkeypress="preventNonNumericalInput($event)" class="form-control" type="number" name="float" ng-class="{'edited':vm.terminal.float}" ng-model="vm.terminal.float">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("Denominations")</label>
                                            <input class="form-control" type="text" name="denominations" ng-class="{'edited':vm.terminal.denominations}" ng-model="vm.terminal.denominations">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-2 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="Tolerance" class="md-check" type="checkbox" ng-model="vm.terminal.acceptTolerance">
                                                    <label for="Tolerance">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("Tolerance")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" ng-if="vm.terminal.acceptTolerance">
                                        <div class="form-group">
                                            <label class="control-label">@L("Tolerance")</label>
                                            <input onkeypress="preventNonNumericalInput($event)" class="form-control" type="number" name="float"
                                                   ng-class="{'edited':vm.terminal.tolerance}" ng-model="vm.terminal.tolerance">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("TicketType")</label>
                                            <select id="CategoryEditBox" class="form-control selectpicker" ng-change="vm.onchangetickettype()"
                                                    data_live_search="true"
                                                    ng-options="vm.getEditionValue(item) as item.displayText for item in vm.ticketTypes"
                                                    ng-model="vm.terminal.ticketTypeId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Terminal") @L("Identification")</label>
                                            <input class="form-control ucase" type="text" name="tid" ng-class="{'edited':vm.terminal.tid}" ng-model="vm.terminal.tid">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@L("Terminal") @L("Serial")</label>
                                            <input class="form-control ucase" type="text" name="serial" ng-class="{'edited':vm.terminal.serialNumber}" ng-model="vm.terminal.serialNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="IsDefault" class="md-check" type="checkbox" ng-model="vm.terminal.isDefault">
                                                    <label for="IsDefault">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsDefault")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="autoLogout" class="md-check" type="checkbox" ng-model="vm.terminal.autoLogout">
                                                    <label for="autoLogout">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("AutoLogout")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="isEndWorkTimeMoneyShown" class="md-check" type="checkbox" ng-model="vm.terminal.isEndWorkTimeMoneyShown">
                                                    <label for="isEndWorkTimeMoneyShown">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsEndWorkTimeMoneyShown")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="isCollectionTerminal" class="md-check" type="checkbox" ng-model="vm.terminal.isCollectionTerminal">
                                                    <label for="isCollectionTerminal">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsCollectionTerminal")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="workTimeTotalInFloat" class="md-check" type="checkbox" ng-model="vm.terminal.workTimeTotalInFloat">
                                                    <label for="workTimeTotalInFloat">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("WorkTimeTotalInFloat")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" ng-if="vm.terminalGeneralFields.length>0">
                                    <div class="col-md-12" style="margin-bottom: 40px">
                                        <label>@L("Select") @L("Logo") @("Path") </label>
                                        <br />
                                        <input type="file" nv-file-select="" uploader="vm.uploaderLogoPath" accept="image/*" style="display: inline;" />
                                    </div>
                                    <formly-form model="vm.terminalGeneralSetting" fields="vm.terminalGeneralFields" options="vm.options">
                                    </formly-form>

                                </div>
                            </uib-tab>

                            <uib-tab heading='@L("Settings")' ng-if="vm.terminalSettingFields.length>0">
                                <div class="row" style="margin:10px 20px 10px 10px; display: flex">
                                    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card list-option">
                                        <div class="item tablink" ng-click="itemSelected($event, 'Display')">Display</div>
                                        <div class="item  tablink" ng-click="itemSelected($event, 'Service')">Service</div>
                                        <div class="item tablink" ng-click="itemSelected($event, 'Devices')">Devices</div>
                                        <div class="item tablink" ng-click="itemSelected($event, 'DineFly')">DineFly</div>
                                        <div class="item tablink" ng-click="itemSelected($event, 'DineMenu')">DineMenu</div>
                                    </div>
                                    <div class="content">
                                        <div id="Display" class="w3-container option_terminal" style="display:none">
                                            <formly-form model="vm.terminaDisplaylSetting" fields="vm.terminalDisplayFields" options="vm.options">
                                            </formly-form>
                                        </div>

                                        <div id="Service" class="w3-container option_terminal" style="display:none">
                                            <formly-form model="vm.terminalServiceSetting" fields="vm.terminalServiceFields" options="vm.options">
                                            </formly-form>
                                        </div>

                                        <div id="Devices" class="w3-container option_terminal" style="display:none">
                                            <button type="button" class="btn btn-primary blue margin-bottom-10 " ng-click="vm.addOrEditDevices(null)" style="float:right">
                                                <i class="fa fa-plus"></i> <span>@L("Add")</span>
                                            </button>

                                            <table class="table table-striped table-bordered col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <th class="col-sm-1"></th>
                                                        <th class="col-sm-11">@L("DeviceName")</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                <tr data-ng-repeat="(index,data) in vm.lstDevice track by $index">
                                                    <td class="col-sm-1">
                                                        <div class="ui-grid-cell-contents">
                                                            <div class="btn-group dropdown" uib-dropdown="" dropdown-append-to-body>
                                                                <button class="btn btn-xs btn-primary blue" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>  @L("Actions") <span class="caret"></span></button>
                                                                <ul uib-dropdown-menu>
                                                                    <li><a ng-click="vm.deleteDevices(index)"> @L("Delete")</a></li>
                                                                    <li><a ng-click="vm.addOrEditDevices(data)">@L("Edit")</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-5">
                                                        {{data.DeviceName}}
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div id="DineFly" class="w3-container option_terminal" style="display:none">
                                            <formly-form model="vm.terminalDineFlySetting" fields="vm.terminalDineFlyFields" options="vm.options">
                                            </formly-form>
                                        </div>
                                        <div id="DineMenu" class="w3-container option_terminal" style="display:none">
                                            <div class="col-md-12" style="margin-bottom: 40px">
                                                <label>@L("Select") @L("Menu") @L("Image") @L("Path") </label>
                                                <br />
                                                <input type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                            </div>
                                            <formly-form model="vm.terminalDineMenuSetting" fields="vm.terminalDineMenuFields" options="vm.options">
                                            </formly-form>

                                        </div>

                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading='@L("AutoDayClosing")' ng-if="vm.terminal.isDefault">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group text-left">
                                            <div class="md-checkbox">
                                                <input id="each" class="md-check" type="checkbox" ng-model="vm.terminal.autoDayClose">
                                                <label for="each">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("AutoDayClose")
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-8" ng-if="vm.terminal.autoDayClose">
                                        <div class="form-group text-right">
                                            <input class="form-control" type="time" ng-model="vm.terminal.closeSetting.inputTime" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.terminal.autoDayClose">
                                    <div class="col-sm-12">
                                        <div class="form-group text-right">
                                            <button type="submit" class="btn btn-primary" data-ng-click="vm.addAutoClose()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-10" ng-if="vm.terminal.autoDayClose">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>@L("NotificationTime")</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr data-ng-repeat="(index,data) in vm.terminal.closeSetting.notifications">
                                                <td class="col-sm-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.deleteAutoClose(index)">
                                                        <i class="glyphicon glyphicon-trash" />
                                                    </button>
                                                </td>
                                                <td class="col-sm-5">
                                                    <select id="reset" class="form-control selectpicker"
                                                            data_live_search="true"
                                                            ng-options="item.value as item.displayText for item in vm.notifyTypes"
                                                            ng-model="data.time">
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .item {
        text-align: center;
        padding: 9px;
        cursor: pointer;
    }

    .list-option {
        width: 200px;
        border-right: 1px solid #dcdcdc;
    }

    .content {
        margin-left: 20px;
        width: 100%;
    }

    .ml_32 {
        margin-left: 32px;
    }
</style>