@using Humanizer
<div ng-controller="tenant.views.dashboard.index as vm">
    <div class="page-head">
        <div class="page-title">
            <h1>
                @L("Dashboard").ToUpper()
                <small>{{ vm.currentLocation }} </small>
            </h1>
        </div>
        <div class="page-toolbar">
            <div class="row">
                <div class="col-xs-2 text-right">
                    <div class="checkbox">
                        <input id="FreeTagging" class="md-check" type="checkbox" ng-model="vm.allLocation" ng-change="vm.refresh()">
                        <label for="FreeTagging">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("All")
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-3 margin-right-10" ng-enabled="!vm.allLocation">
                    <button class="btn btn-large green" ng-click="vm.openLocation()">
                        <i class="fa fa-location-arrow"></i>
                    </button>
                </div>
                <div class="col-xs-2">
                    <div class="checkbox">
                        <input id="AutoRefresh" class="md-check" type="checkbox" ng-model="vm.autoRefresh" ng-change="vm.autoRefreshScreen()">
                        <label for="AutoRefresh">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Auto")
                        </label>
                    </div>

                </div>
                <div class="col-xs-3">
                    <button class="btn btn-large green" date-range-picker options="vm.dateRangeOptions"
                            min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                            style="background-color: mediumvioletred; color: white"
                            ng-change="vm.refresh()"
                            ng-model="vm.dateRangeModel">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>

            </div>
            <!-- END THEME PANEL -->
        </div>
    </div>

  
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ vm.currencyText }} {{ vm.totalTicketAmount }}</span>
                    </div>
                    <div class="desc">@L("Total").ToUpper()</div>
                </div>
                <a class="more" ng-click="vm.openModalTickets()">
                    @L("More").ToUpper()
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-chambray">
                <div class="visual">
                    <i class="fa fa-clone"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ vm.totalTickets }}</span>
                    </div>
                    <div class="desc">@L("Tickets").ToUpper()</div>
                </div>
                <a class="more" ng-click="vm.openModalTickets()">
                    @L("More").ToUpper()
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">

            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ vm.totalOrders }}</span>
                    </div>
                    <div class="desc">@L("Orders").ToUpper()</div>
                </div>
                <a class="more" ng-click="vm.openModalTickets()">
                    @L("More").ToUpper()
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>


        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-database"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ vm.totalItems }}</span>
                    </div>
                    <div class="desc">@L("Items").ToUpper()</div>
                </div>
                <a class="more" ng-click="vm.openModalTickets()">
                    @L("More").ToUpper()
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>

        </div>
        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ vm.totalAverage | number : 2 }}</span>
                    </div>
                    <div class="desc">@L("Average").ToUpper()</div>
                </div>
                <a class="more" ng-click="vm.openModalTickets()">
                    @L("More").ToUpper()
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>

        </div>

    </div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">@L("TransactionSummary")</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen"  data-original-title="" title=""> </a>
                </div>
            </div>

            <div class="portlet-body">
                <div id="transaction_stats">
                </div>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-green-haze bold uppercase">@L("PaymentSummary")</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen"   >
                    </a>
                </div>

            </div>
            <div class="portlet-body">
                <div id="payment_stats">
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">@L("DepartmentSummary")</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" data-original-title="" title=""> </a>
                    </div>

                </div>
                <div class="portlet-body">
                    <div id="department_stats">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">@L("Top10Items")</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen"  data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="item_stats">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>