﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label, 'placement': 'bottom' });
    });
</script>

<div ng-controller="tenant.views.tick.employee.createOrEditModal as vm">

    <div class="row">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span ng-if="vm.employeeinfo.id">@L("EditEmployeeInfo"): {{vm.employeeinfo.employeeName}}</span>
                        <span ng-if="!vm.employeeinfo.id">@L("CreateEmployeeInfo")</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light" id="dividcardOperationBody">
        <div class="portlet-body">
            <div class="form">
                <form name="employeeinfoCreateOrEditForm">
                    <div class="form-body" busy-if="vm.loading">
                        <uib-tabset class="tab-container tabbable-line">
                            <uib-tab heading="@L("Employee")">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <label>@L("EmployeeName")</label>
                                            <input onkeypress="return AlphaAToZOnly(event, 'cancel')" class="form-control ucase" type="text" name="employeeName" ng-class="{'edited':vm.employeeinfo.employeeName}" ng-model="vm.employeeinfo.employeeName" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@L("EmployeeCode")</label>
                                            <input class="form-control ucase" type="text" name="employeeCode" ng-class="{'edited':vm.employeeinfo.employeeCode}" ng-model="vm.employeeinfo.employeeCode">
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-bottom-10">
                                    <div class="col-sm-6">
                                        <label>@L("User")</label>
                                        <ui-select ng-model="vm.selectedUser">
                                            <ui-select-match placeholder="@L("User")">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in vm.users | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>@L("Department")</label>
                                        <select id="deparments" class="form-control selectpicker"
                                                data_live_search="true"
                                                ng-options="vm.getComboValue(item) as item.displayText for item in vm.departments"
                                                ng-model="vm.employeeinfo.employeeDepartmentId" required></select>

                                    </div>

                                </div>


                                <div class="row margin-top-10" ng-if="vm.employeeinfo.id">
                                    <div class="col-sm-4">
                                        <div class="md-checkbox">
                                            <input id="IsActive" class="md-check" type="checkbox" name="IsActive" ng-class="{'edited':vm.employeeinfo.isActive}" ng-model="vm.employeeinfo.isActive">
                                            <label for="IsActive">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("CurrentlyWorking")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading="@L("Card")" ng-if="vm.employeeinfo.id">
                                <div class="row" ng-if="vm.employeeinfo.cardRefId">
                                    <div class="col-xs-12 text-center">
                                        <h2><a ng-click="vm.cardTransactionDataShown(vm.employeeinfo.cardRefId)">  Card # {{vm.employeeinfo.cardInfo.cardNumber}} Is Assigned With This Employee. </a> </h2>
                                    </div>

                                </div>
                                <div class="row" ng-if="!vm.employeeinfo.cardRefId">
                                    <div class="col-xs-6">
                                        <label class="control-label">@L("CardNumber")</label> <span ng-if="vm.membercard.cardRefId"><a ng-click="vm.cardProperties(vm.membercard.cardRefId)">@L("CardInfo")</a> </span>
                                        <input class="form-control input-lg" type="text" autofocus id="cardnumber" ng-change="vm.cardnumberblurneeded=true;"
                                               ng-class="{'edited':vm.membercard.cardNumber}" ng-model="vm.membercard.cardNumber" ng-blur="vm.selectMemberBasedOnCardNumber();">
                                    </div>

                                    <div class="col-xs-3">
                                        <label class="control-label">@L("Deposit")</label>
                                        <input class="form-control input-lg" type="number" ng-disabled="true" id="deposit" ng-change="vm.cardnumberblurneeded=true;"
                                               ng-class="{'edited':vm.depositAmountToBeCollected}" ng-model="vm.depositAmountToBeCollected">
                                    </div>
                                    <div class="col-xs-3">
                                        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                                                class="btn btn-primary blue margin-top-30" ng-click="vm.addCard()" ng-disabled="employeeinfoCreateOrEditForm.$invalid">
                                            <i class="fa fa-save"></i> <span>@L("AddCard")</span>
                                        </button>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>

                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="employeeinfoCreateOrEditForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
