﻿<div ng-controller="tenant.views.tick.employee.inactive as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Make Employee Inactive")</span> 
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.cancel()">
               @L("Cancel")
            </button>

            <button  class="btn btn-primary blue" ng-click="vm.makeinactive()">
                @L("Inactve")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>@L("Reason")</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Select Reason</option>
                                        <option>Resigned</option>
                                        <option>Terminated</option>
                                        <option>Not available</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>