﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.weekend.summary as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("WeekendSales")</span> <small></small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("DateRange")</label>
                                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-file-excel-o"></i> @L("Export")
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
                                    </li>
                                    @*<li>
                                            <a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
                                        </li>*@
                                </ul>
                            </div>
                            <button class="btn blue" ng-click="vm.getResult()">
                                <i class="fa fa-refresh"></i> @L("Refresh")
                            </button>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-12" style="height: 400px" id="daychart">
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <div class="row" ng-if="vm.weekEnds.length>0">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@L("DayOfWeek")</th>
                                            <th>@L("TotalTickets")</th>
                                            <th>@L("TotalSales")</th>
                                            <th>@L("AverageSales")</th>
                                            <th>@L("TicketDiscount")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(productIndex, product) in vm.weekEnds">
                                        <td>{{ product.date }}</td>
                                        <td align="right">{{ product.totalTickets | number:vm.decimals }}</td>
                                        <td align="right">{{ product.total  | number:vm.decimals}}</td>
                                        <td align="right">{{ product.average | number:vm.decimals}}</td>
                                        <td align="right">{{ product.discount | number:vm.decimals}}</td>
                                    </tr>

                                    <tr>
                                        <th>Total</th>
                                        <td align="right">{{ vm.sum(vm.weekEnds, "totalTickets") | number:vm.decimals}}</td>
                                        <td align="right">{{ vm.sum(vm.weekEnds, "total") | number:vm.decimals}}</td>
                                        <td align="right">{{ vm.average(vm.weekEnds) | number:vm.decimals}}</td>
                                        <td align="right">{{ vm.sum(vm.weekEnds, "discount") | number:vm.decimals}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>