@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.internalsalemeetingreport as vm">
	<div class="row margin-bottom-5">
		<div class="col-xs-6">
			<div class="page-head">
				<div class="page-title">
					<h1>
						<span class="caption-subject bold uppercase">@L("InternalSaleMeetingReport")</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-large green" ng-click="vm.openLocation()">
				<i class="fa fa-file"></i> <span>@L("Locations")</span>
			</button>
		</div>
	</div>

	<div class="portlet light">

		<div class="portlet-body">
			<div class="form">
				<form class="horizontal-form" id="MyLoginForm">
					<div class="form-body" enter-key="vm.getData()">

						<hr />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">@L("DateRange")</label>
									<input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
								</div>
							</div>
						</div>
						<div class="row  margin-top-10 margin-bottom-10">
							<div class="col-xs-12" ng-if="true">
								<query-builder options="builder.options" builder="builder.builder"></query-builder>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-right">

								<div class="btn-group">
									<button class="btn blue margin-right-10" ng-click="vm.clear()">
										<i class="fa fa-eraser"></i> @L("Clear")
									</button>
									<button class="btn red dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="vm.disableExport">
										<i class="fa fa-file-excel-o"></i> @L("Export")
										<i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a ng-click="vm.exportToExcel(0)">@L("Excel")</a>
										</li>
										<li>
											<a ng-click="vm.exportToExcel(1)">@L("HTML")</a>
										</li>
									</ul>
								</div>

								<button class="btn blue" ng-click="vm.getData()">
									<i class="fa fa-refresh"></i> @L("Refresh")
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="portlet-body">
			<div busy-if="vm.loading">
				<div class="margin-bottom-20 text-center">
					<span class="caption-subject bold uppercase">@L("InternalSaleMeetingReport")</span>	  <br />
					<span>
						{{vm.title}}
					</span>
				</div>
				<div>
					<table class="table table-bordered custom_table_date border_bottom_none">
						<tr class="thead_content">
							<td class="text-center w-5 font_weight_bold">@L("SiteCode")</>
							<td class="text-center w-10 font_weight_bold">@L("TransactionNo")</td>
							<td class="text-center w-14 font_weight_bold">@L("TransactionDate")</td>
							<td class="text-center w-8 font_weight_bold">@L("InternalSaleType")</td>
							<td class="text-center w-8 font_weight_bold">@L("OREmployeeID")</td>
							<td class="text-center w-8 font_weight_bold">@L("ORDepartmentCode")</td>
							<td class="text-center w-8 font_weight_bold">@L("ORCostCenter")</td>
							<td class="text-center w-15 font_weight_bold">@L("ORIO")</td>
							<td class="text-center w-8 font_weight_bold">@L("SubTotal")</td>
							<td class="text-center w-8 font_weight_bold">@L("VatTotal")</td>
							<td class="text-center w-8 font_weight_bold">@L("Total")</td>
						</tr>
					</table>
				</div>
				<div class="content_str" ng-repeat="dataBySite in  vm.data.listItem">
					<table class="table table-bordered margin_bottom_0">
						<tr ng-repeat="item in  dataBySite.listItem">
							<td class="w-5">{{item.siteCode}}</td>
							<td class="w-10">{{item.transactionNo}}</td>
                            <td class="w-14">{{item.transactionDate  | date:vm.datetimeFormat}}</td>
							<td class="w-8">{{item.internalSaleType}}</td>
							<td class="w-8">{{item.orEmployeeID}}</td>
							<td class="w-8">{{item.orDepartmentCode}}</td>
							<td class="w-8">{{item.orCostCenter}}</td>
							<td class="w-15">{{item.orio}}</td>
                            <td class="w-8 text-center">{{item.subTotal | number : vm.decimals }}</td>
                            <td class="w-8 text-center">{{item.vatTotal | number : vm.decimals}}</td>
                            <td class="w-8 text-center">{{item.total  | number : vm.decimals}}</td>
						</tr>
					</table>
					<table class="table table-bordered custom_table_date border_bottom_none color_total" ng-if="vm.data">
						<tr>
							<td colspan="8" style="text-align: right;" class="w-76 font_weight_bold">@L("Total") {{dataBySite.siteCode}}</td>
                            <td class="text-center w-8 font_weight_bold">{{ dataBySite.subTotal| number : vm.decimals}}</td>
                            <td class="text-center w-8 font_weight_bold">{{ dataBySite.vatTotal| number : vm.decimals}}</td>
                            <td class="text-center w-8 font_weight_bold">{{ dataBySite.total| number : vm.decimals}}</td>
						</tr>
					</table>
				</div>
			</div>
			<table class="table table-bordered custom_table_date border_bottom_none color_total" ng-if="vm.data">
				<tr>
					<td colspan="8" style="text-align: right;" class="w-76 font_weight_bold">@L("Total")</td>
                    <td class="text-center w-8 font_weight_bold">{{ vm.data.subTotal| number : vm.decimals}}</td>
                    <td class="text-center w-8 font_weight_bold">{{ vm.data.vatTotal| number : vm.decimals}}</td>
                    <td class="text-center w-8 font_weight_bold">{{ vm.data.total| number : vm.decimals}}</td>
				</tr>

			</table>
		</div>
	</div>
</div>
<style>
	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.w-5 {
		width: 5%;
	}

	.w-8 {
		width: 8%;
	}

	.w-10 {
		width: 10%;
	}

	.w-14 {
		width: 14%;
	}

	.w-15 {
		width: 15%;
	}

	.w-76 {
		width: 76%;
	}


	.w-100 {
		width: 100%;
	}


	.float-right {
		float: right;
	}

	.ml-10 {
		margin-left: 10px;
	}

	.mt-50 {
		margin-top: 50px;
	}

	.zom-15 {
		zoom: 1.5;
	}

	.pl-44 {
		padding-left: 44px;
	}

	.thead_title {
		background-color: #008000;
		font-weight: bold;
		color: white;
	}

	.thead_content {
		background-color: #808080;
		color: white;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #808080;
		color: white;
	}

	.color_posName {
		background-color: #f0f0f0;
	}

	.color_total {
		background-color: #f0f0f0;
	}

	.font_weight_bold {
		font-weight: bold;
	}
</style>