﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.displaygroup.detail as vm">

    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase"><span ng-if="vm.workMode=='ADD'">@L("Create")</span> @L("DisplayGroup")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8 
                 col-xs-offset-0 col-sm-offset-0 
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <div class="form">
                                <form name="displayGroupCreateOrEditForm"
                                      role="form" novalidate class="form-validation form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">@L("Code")</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text"
                                                   ng-model="vm.displayGroup.code" required>
                                            <span id="helpBlockResolution" class="help-block">
                                                @L("DisplayGroupCodeDesc")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">@L("Name")</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text"
                                                   ng-model="vm.displayGroup.name" required>
                                            <span id="helpBlockResolution" class="help-block">
                                                @L("DisplayGroupNameDesc")
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="row" style="padding-bottom:3px;">
                                <div class="col-xs-12" style="text-align:right;">
                                    <button ng-click="vm.openDisplaySelectorModal()" class="btn btn-link" style="color:black;">
                                        <i class="icon-plus"></i>@L("AddDisplay").Pluralize()
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <label class="control-label col-sm-2"></label>
                                <div class="col-sm-10">
                                    <div ui-grid="vm.userGridOptions" style="height: 100%;"
                                         ui-grid-pagination
                                         ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                </div>
                            </div>


                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">
                            <button name="cancel" ng-disabled="vm.saving"
                                    type="button" class="btn btn-default"
                                    ng-click="vm.cancel()">
                                @L("Cancel")
                            </button>
                            <button type="submit" button-busy="vm.saving"
                                    busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                    ng-click="vm.save()" ng-disabled="displayGroupCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>
<style>
    .ui-grid {
        min-height: 300px !important;
    }
</style>