﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.paly.displaygroups as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">
                        @L("DisplayGroup").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            @*<button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>*@
        </div>
    </div>
    <div class="row" busy-if="vm.loading">
        <div class="col-lg-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">
                            @L("DisplayGroup")
                        </span>
                    </div>
                    <div class="actions">
                        <a ng-if="vm.permissions.manageGroup" 
                           ng-click="vm.openDisplayGroup()" 
                           class="btn btn-circle btn-default">
                            <i class="fa fa-plus"></i> @L("Add")
                        </a>
                        <a ng-disabled="!vm.displayGroupSelected()" ng-if="vm.permissions.manageGroup && vm.displayGroupId" 
                           ng-click="vm.openDisplayGroupForEdit()" 
                           class="btn btn-circle btn-default">
                            <i class="fa fa-edit"></i> @L("Edit")
                        </a>
                        <a ng-disabled="!vm.displayGroupSelected()" ng-if="vm.permissions.manageGroup && vm.displayGroupId" 
                           ng-click="vm.deleteDisplayGroup()" 
                           class="btn btn-circle btn-default">
                            <i class="fa fa-trash-o"></i> @L("Delete")
                        </a>
                        @*<a ng-if="vm.permissions.manageGroup && vm.displayGroupId" 
                           ng-click="vm.openLanguageDescriptionModal()" 
                           class="btn btn-circle btn-success">
                            <i class="fa fa-file"></i>
                        </a>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input ng-model="vm.displayGroupFilterText" auto-focus 
                                   class="form-control" placeholder="@L("SearchWithThreeDot")" 
                                   type="text" enter-key="vm.getDisplayGroups()">
                            <span class="input-group-btn">
                                <button ng-click="vm.getDisplayGroups()" 
                                    class="btn default" type="submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row" busy-if="vm.leftLoading">
                        <div class="col-xs-12">
                            <div ui-grid="vm.displayGroupGridOptions" style="height: 100%;" 
                                 ui-grid-pagination 
                                 ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span ng-if="!vm.selectedDisplayGroup" class="caption-subject bold uppercase">
                            @L("Display").Pluralize()
                        </span>
                        <span ng-if="vm.selectedDisplayGroup" class="caption-subject bold uppercase">
                            @L("DisplayGroup"): {{vm.selectedDisplayGroup.name}}
                        </span>
                    </div>
                </div>
                <div class="row" ng-if="vm.displayGroupId">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input ng-model="vm.displaysOfGroupFilterText" auto-focus class="form-control" 
                                   placeholder="@L("SearchWithThreeDot")" type="text" 
                                   enter-key="vm.getDisplaysOfGroup()">
                            <span class="input-group-btn">
                                <button ng-click="vm.getDisplaysOfGroup()" class="btn default" type="submit">
                                <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div busy-if="vm.rightLoading">
                        <div ng-if="vm.displayGroupId" ui-grid="vm.groupDisplaysGridOptions" 
                             ui-grid-pagination ui-grid-resize-columns 
                             dir=@(CultureHelper.IsRtl ? "rtl" : "")>
                        </div>
                        <div ng-if="!vm.displayGroupId" class="text-muted">
                            @L("SelectDisplayGroupToSeeMembers")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>