﻿<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <form name="receivedEditForm" role="form" novalidate class="form-validation">
        <div>
            <div class="modal-header">
                <h4 class="modal-title">
                    <span><strong>#{{vm.editingText.sno}} @L("Material"): {{vm.editingText.materialRefName}} {{vm.editingText.unitRefName}} </strong></span>
                </h4>
            </div>

            <div class="modal-body" busy-if="vm.loading">

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label class="text-bold">@L("Request")</label>
                            <textarea style="font-size:x-large" readonly class="form-control text-center" rows="2" ng-model="vm.editingText.requestQty"></textarea>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label class="text-bold">@L("Issue")</label>
                            <textarea style="font-size:x-large" readonly class="form-control text-center" rows="2" ng-model="vm.editingText.issueQty"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label class="text-bold">@L("Received")</label>
                            <textarea id="iqty" autofocus style="font-size:x-large" class="form-control edited text-center" ng-class="{'edited':vm.editingText.receivedQty}" rows="2" ng-model="vm.editingText.receivedQty" onkeypress="return NumberWithPointPassingTextNotEnteredHandled(this.value,event,null,true)" @*onkeypress="return NumberWithPointPassingText(this.value,event,null,true)"*@ ng-keyup="vm.targetValueKeyPress($event)" ng-change="vm.adjumentQtyCalc()"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label class="text-bold">
                                @L("Difference")
                                <span ng-if="vm.editingText.diffQty!=0 && vm.editingText.diffQty!=null" class="text-bold" style="color:red"> -  {{vm.editingText.adjustmentMode}} </span>
                            </label>
                            <textarea id="diffqty" readonly style="font-size:x-large" class="form-control edited text-center red" ng-class="{'edited':vm.editingText.diffQty}" rows="2" ng-model="vm.editingText.diffQty"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row margin-top-20">
                            <div class="md-checkbox">
                                <input id="Adjustment" class="md-check" type="checkbox" name="Adjustment" ng-class="{'edited':vm.editingText.adjustmentFlag}" ng-model="vm.editingText.adjustmentFlag" ng-disabled="vm.editingText.returnFlag || vm.editingText.diffQty == 0 || vm.editingText.diffQty == null " style="text-decoration: line-through;">
                                <label for="Adjustment">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Adjustment")
                                </label>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="md-checkbox">
                                <input id="ReturnBack" class="md-check" type="checkbox" name="ReturnBack" ng-class="{'edited':vm.editingText.returnFlag}" ng-model="vm.editingText.returnFlag" ng-disabled="vm.editingText.adjustmentFlag || vm.editingText.diffQty == 0 || vm.editingText.diffQty == null || vm.editingText.diffQty < 0 " style="text-decoration: line-through;">
                                <label for="ReturnBack">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("ReturnBack")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving || vm.currentIndex == 0" title="Page Up" class="btn btn-default" ng-click="vm.previous()"><i class="fa fa-long-arrow-left"></i> <span>@L("Previous")</span></button>
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button button-busy="vm.saving" class="btn btn-primary green" ng-click="vm.saveAndClose()" ng-disabled="receivedEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("SaveAndClose")</span></button>
            <button type="submit" title="Page Down" button-busy="vm.saving" ng-disabled="vm.currentIndex >= (vm.allItems.length-1) || receivedEditForm.$invalid" class="btn btn-primary blue" ng-click="vm.saveAndNext()"><span>@L("SaveAndNext")</span> <i class="fa fa-long-arrow-right"></i></button>
        </div>
    </form>
</div>