﻿@using DinePlan.DineConnect.Localization
@using Humanizer


<style>
    .ui-approved {
        background-color: white;
        color: blue;
    }

    .ui-pending {
        background-color: white;
        color: red;
    }

    .ui-rejected {
        background-color: white;
        color: brown;
    }

    .ui-received {
        background-color: white;
        color: green;
    }

    .ui-red {
        background-color: black !important;
        color: red;
    }
</style>


<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.house.transaction.intertransfer.received.indexReceived as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Transfer") @L("Receive")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn purple" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
            <button class="btn  yellow" ng-click="vm.clear()">
                @L("Clear")
            </button>
            <button class="btn btn-default btn-primary blue" ng-click="vm.getAll()">
                @L("Refresh")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("RequestLocation") </label>
                                    <input ng-model="vm.filterText" auto-focus class="form-control" type="text" placeholder='@L("RequestLocation")'>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <label class="control-label">@L("Status") </label>
                                <input type="text" class="form-control" ng-model="vm.status" placeholder='@L("Status")'>
                            </div>
                            <div class="col-xs-1">
                                <label class="control-label">@L("Id")</label>
                                <input type="text" class="form-control" ng-model="vm.id" placeholder='@L("Id")' onkeypress="return NumberOnly(event,null)">
                            </div>
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="dateRange" class="md-check" type="checkbox" ng-model="vm.dateFilterApplied" name="dateRange" />
                                    <label style="color:black" for="dateRange">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Request")  @L("DateRange")
                                    </label>
                                </div>
                                <input ng-if="vm.dateFilterApplied" id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                            <div class="col-xs-2">
                                <div class="md-checkbox">
                                    <input id="deliveryDateFilterApplied" class="md-check" type="checkbox" ng-model="vm.deliveryDateFilterApplied" name="deliveryDateFilterApplied" />
                                    <label style="color:black" for="deliveryDateFilterApplied">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("DeliveryDate") @L("Range")
                                    </label>
                                </div>
                                <input ng-if="vm.deliveryDateFilterApplied" id="deliveryDate" date-range-picker type="text" options="vm.deliveryDateRangeOptions" min="vm.deliveryDateRangeOptions.min" max="vm.deliveryDateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.deliveryDateRangeModel" />
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Group") &nbsp; <a ng-if="vm.materialGroupRefId" ng-click="vm.materialGroupRefId=null; vm.materialGroupCategoryRefId=null;">Clear</a></label>
                                    <ui-select class="borderself" id="selMaterialGroupCategoryRefId" ng-change="vm.fillDropDownMaterialGroupCategory();vm.materialGroupCategoryRefId=null;" ng-model="vm.materialGroupRefId">
                                        <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroup | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label">@L("Category") &nbsp; <a ng-if="vm.materialGroupCategoryRefId" ng-click="vm.materialGroupCategoryRefId=null;">Clear</a> </label>
                                    <ui-select class="borderself" id="selMaterialCategoryRefId" ng-model="vm.materialGroupCategoryRefId" ng-change="vm.getAll();">
                                        <ui-select-match placeholder="Select Category...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":
                     "" )></div>
            </div>
        </div>
    </div>
</div>

