﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script>
    function myFunction() {
        document.getElementById("divprintemail").style.visibility = "hidden";
        myPrint();
    }

    function myPrint() {
        window.print();
    }


    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>

<div ng-controller="tenant.views.house.transaction.intertransfer.ReceivedPrint as vm">
    <div id="divprintemail" class="row">
        <div class="col-xs-12 text-right">
            <a onclick="myFunction()"> <span class=""><i class="fa fa-print"></i> </span> </a>
        </div>
        @*<button id="cmd">generate PDF</button>*@
    </div>
    <div id="editor"></div>
    <center><h3> <b><u> @L("InterTransferReceived")</u></b></h3></center>
    <div class="row">
        <div class="col-xs-6">
            <h5>    @L("Id"): {{vm.intertransfer.id}} </h5>
        </div>
        <div class="col-xs-6">
            <h5>   @L("ReceivedDate"): {{vm.intertransfer.receivedTime | date : 'dd-MMM-yy'}} </h5>
        </div>
    </div>
    <h6>
        <div>
            <div class="row">
                <div class="col-xs-6">
                    <b>   @L("Location")</b>
                </div>
                <div class="col-xs-6">
                    <b>  @L("ReceivedFrom") </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.name}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.address1}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.address2}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address2}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.address3}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.address3}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{vm.billinglocation.city}}
                </div>
                <div class="col-xs-6">
                    {{vm.shippinglocation.city}}
                </div>
            </div>
        </div>
    </h6>
    <br />

    <div id="smallcontent">
        <table class="table table-striped table-bordered col-xs-12" busy-if="vm.loadingCount">
            <thead>
                <tr>
                    <th># . </th>
                    <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                    <th>@L("Material")</th>
                    <th class="text-right">@L("Request") @L("Qty")</th>
                    <th class="text-right">@L("Issue") @L("Qty")</th>
                    <th class="text-right">@L("Received") @L("Qty")</th>
                    <th class="text-right">@L("UOM")</th>
                    <th ng-if="vm.transfervalueshown" class="text-right">@L("Price")</th>
                    <th ng-if="vm.transfervalueshown" class="text-right">@L("Cost")</th>
                    <th class="text-right">@L("Remarks")</th>
                </tr>
            </thead>

            <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                <td class="col-xs-1">
                    {{data.sno}}
                </td>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode">
                    <b> {{data.materialPetName}} </b>
                </td>
                <td class="col-xs-3">
                    <b> {{data.materialRefName}} </b>
                </td>
                <td class="col-xs-1 text-right">
                    {{data.requestQty | number:vm.housedecimals}}
                </td>
                <td class="col-xs-1 text-right">
                    {{data.issueQty | number:vm.housedecimals}}
                </td>
                <td class="col-xs-1 text-right">
                    <b>  {{data.receivedQty | number:vm.housedecimals}}</b>
                </td>
                <td class="col-xs-1 text-right">
                    {{data.unitRefName}}
                </td>
                <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                    <b>  {{data.price | number:vm.connectdecimals}}</b>
                </td>
                <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                    <b>  {{data.lineTotal | number:vm.connectdecimals}}</b>
                </td>

                <td class="col-xs-2 text-right">
                    {{data.currentStatus}}
                </td>

            </tr>

            <tr>
                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode"></td>

                <td class="text-center" colspan="7">
                    @L("Total")
                </td>
                <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                    <b>  {{vm.intertransfer.receivedValue| number:vm.connectdecimals}}</b>
                </td>

                <td class="col-xs-2 text-right"></td>

            </tr>
        </table>
    </div>

    @L("ReceivedBy") : {{vm.user.name}}

    <br />
    <div class="lineHr">.</div>

    <div ng-if="vm.intertransfer.adjustmentRefId" busy-if="vm.loadingCount">
        <br />
        <br />
        <center><h3> <b><u> @L("Adjustment")</u></b></h3></center>
        <div class="row">
            <div class="col-xs-4">
                <h6>    @L("Ref#"): {{vm.adjustment.tokenRefNumber}} </h6>
            </div>
            <div class="col-xs-4">
                <h6>    @L("Id"): {{vm.adjustmentDetail[0].adjustmentRefIf}} </h6>
            </div>
            <div class="col-xs-4 text-right">
                <h6>   @L("AdjustmentDate"): {{vm.adjustment.adjustmentDate | date : 'dd-MMM-yy'}} </h6>
            </div>
        </div>
        <div class="lineHr">.</div>
        @L("AdjustmentHeader")
        <div id="content" busy-if="vm.loading">
            <h6>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered col-xs-6">
                            <thead>
                                <tr>
                                    <th># . </th>
                                    <th ng-if="vm.permissions.printMaterialCode">@L("MaterialCode")</th>
                                    <th>@L("Material")</th>
                                    <th class="text-right">@L("Qty")</th>
                                    <th class="text-right">@L("UOM")</th>
                                    <th>@L("AdjustmentMode")</th>
                                    <th>@L("Remarks")</th>
                                </tr>
                            </thead>

                            <tr data-ng-repeat="(index,data) in vm.adjustmentDetailPortion">
                                <td class="col-xs-1">
                                    {{data.sno}}
                                </td>
                                <td class="col-xs-1" ng-if="vm.permissions.printMaterialCode">
                                    <b> {{data.materialPetName}} </b>
                                </td>
                                <td class="col-xs-3">
                                    <b> {{data.materialRefName}} </b>
                                </td>
                                <td class="col-xs-1 text-right">
                                    <b>  {{data.adjustmentQty | number:vm.housedecimals}}</b>
                                </td>
                                <td class="col-xs-1 text-right">
                                    {{data.unitRefName}}
                                </td>
                                <td class="col-xs-2">
                                    {{data.adjustmentMode}}
                                </td>
                                <td class="col-xs-4">
                                    {{data.adjustmentApprovedRemarks}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </h6>
        </div>
        @L("CreatedBy") : {{vm.user.name}}
        <div class="lineHr">.</div>
    </div>
    <div ng-if="vm.intertransfer.interTransferRefId" busy-if="vm.loadingCount">
        <br />
        <br />
        <center><h3> <b><u> @L("TransferApproval")</u></b></h3></center>
        <div class="row">
            <div class="col-xs-3">
                <h5>    @L("Id"): {{vm.intertransferapproval.id}} </h5>
            </div>
            <div class="col-xs-4">
                <h5>   @L("RequestDate"): {{vm.intertransferapproval.requestDate | date : 'dd-MMM-yy'}} </h5>
            </div>
            <div class="col-xs-5 text-right">
                <h5>   @L("ApprovalDate"): {{vm.intertransferapproval.completedTime | date : 'dd-MMM-yy'}} </h5>
            </div>
        </div>
        <h6>
            <div>
                <div class="row">
                    <div class="col-xs-6">
                        <b>   @L("Location")</b>
                    </div>
                    <div class="col-xs-6">
                        <b>  @L("TransferTo") </b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{vm.billinglocation.name}}
                    </div>
                    <div class="col-xs-6">
                        {{vm.shippinglocation.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{vm.billinglocation.address1}}
                    </div>
                    <div class="col-xs-6">
                        {{vm.shippinglocation.address1}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{vm.billinglocation.address2}}
                    </div>
                    <div class="col-xs-6">
                        {{vm.shippinglocation.address2}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{vm.billinglocation.address3}}
                    </div>
                    <div class="col-xs-6">
                        {{vm.shippinglocation.address3}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{vm.billinglocation.city}}
                    </div>
                    <div class="col-xs-6">
                        {{vm.shippinglocation.city}}
                    </div>
                </div>
            </div>
        </h6>
        <div class="lineHr">.</div>
        @L("ApprovalHeader")
        <div id="content" busy-if="vm.loading">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th># . @L("Material")</th>
                            <th class="text-right">@L("Qty")</th>
                            <th class="text-right">@L("UOM")</th>
                            <th ng-if="vm.transfervalueshown" class="text-right">@L("Price")</th>
                            <th ng-if="vm.transfervalueshown" class="text-right">@L("Cost")</th>
                            <th class="text-right">@L("Remarks")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.approvaldata">
                        <td class="col-xs-4">
                            {{data.sno}} . <b> {{data.materialRefName}} </b>
                        </td>
                        <td class="col-xs-1 text-right">
                            <b>  {{data.issueQty | number:vm.housedecimals}}</b>
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.unitRefName}}
                        </td>
                        <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                            <b>  {{data.price | number:vm.connectdecimals}}</b>
                        </td>
                        <td ng-if="vm.transfervalueshown" class="col-xs-1 text-right">
                            <b>  {{data.issueQty * data.price | number:vm.connectdecimals}}</b>
                        </td>
                        <td class="col-xs-2 text-right">
                            {{data.approvedRemarks}}
                        </td>

                    </tr>

                </table>
            </div>
        </div>
        @L("ApprovedBy") : {{vm.user.name}}
        <div class="lineHr">.</div>
        <div class="row">
            <div class="col-xs-12">
                <small>  @L("SignNotRequired") </small>
            </div>
        </div>

    </div>

    <br />
    <a ng-click="vm.gotoIndex()">@L("Redirect") @L("To")  @L("View")</a>
</div>
