﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.intertransfer.received as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span ng-if="vm.intertransferreceived.id">@L("Receiving"): </span>
                         @L("Id") : {{vm.intertransferreceived.id}} - {{vm.requestLocationRefName}} @*, @L("Dated")  : {{dt  | date:'medium'}}*@  
                        <span ng-if="!vm.intertransferreceived.id">@L("InterTransferReceived")</span>
                    </h4>
                </div>
            </div>
        </div>
        @*<div class="col-xs-4 text-right">
            <button name="approveall" ng-disabled="vm.saving" type="button" class="btn btn-primary green-dark" ng-click="vm.approveAll()">@L("ApproveAll")</button>
            <button type="button" button-busy="vm.saving" busy-text="@L("RejectAll")" class="btn btn-default red" ng-click="vm.rejectAll()">
                <span>@L("RejectAll")</span>
            </button>
            <button type="button" button-busy="vm.saving" busy-text="@L("PendingAll")" class="btn btn-primary yellow" ng-click="vm.pendingAll()">
                <span>@L("PendingAll")</span>
            </button>
        </div>*@
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="intertransferReceivedForm">
                    <div class="form-body" ng-if="false">
                        <div class="row" ng-if="false">
                            <div class="col-sm-4">
                                <dl̥iv class="form-group">
                                    <label class="control-label">@L("CurrentLocation")</label>
                                    <ui-select class="borderself" id="defaultLocation" ng-disabled="vm.defaultLocationId"		 ng-model="vm.intertransferreceived.locationRefId" required>
                                        <ui-select-match  placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </dl̥iv>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">@L("RequestedFrom")</label>
                                    <ui-select class="borderself" ng-model="vm.intertransferreceived.requestLocationRefId" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                   
                                </div>
                            </div>
                           

                        </div>
                    </div>

                    <div class="portlet light">
                        <div class="portlet-title portlet-title-filter">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                            <span class="input-group-btn">
                                                <button ng-click="vm.applyFilters()" class="btn default" type="submit"><i class="icon-refresh"></i> @L("Refresh")</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div busy-if="vm.loading || vm.loadingCount">
                                <div ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-pagination dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save(2)" ng-disabled="intertransferReceivedForm.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

