﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.house.master.material.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Material").Pluralize()</span> <small>@L("MaterialHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="md-checkbox-list" style="display: inline;">
                <div class="md-checkbox" style="display: inline; margin-right: 10px;">
                    <input id="isDeleted" class="md-check" type="checkbox" ng-model="vm.isDeleted" ng-change="vm.getAll()">
                    <label for="isDeleted">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <strong>@L("Deleted")</strong>
                    </label>
                </div>
            </div>

            <button class="btn btn-default" ng-click="vm.import()">
                <i class="fa fa-download"></i> @L("Import")
            </button>

            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDetailItem()">
                <i class="fa fa-plus"></i> @L("CreateMaterial")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("MaterialName") / @L("Barcode")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 70vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl":"" )></div>
            </div>
        </div>
        <div class="row margin-top-20" ng-hide="vm.">
            <div class="col-xs-8">
                <span class="bold" style="color:orangered">@L("UntiConversionMaterialWiseAlert")</span>
            </div>
            <div class="col-xs-4 text-right">
                <button ng-if="vm.permissions.edit" class="btn btn-danger" ng-click="vm.checkDefaultUOMIssue();">
                    @L("Check") -  @L("Default") @L("UOM") @L("Error")  <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        <div class="row" ng-if="vm.defaultUOMErrorList.length>0">
            <div busy-if="vm.loading">
                <table class="table table-striped table-bordered table-condensed col-xs-12" ng-if="vm.defaultUOMErrorList.length>0" busy-if="vm.loading">
                    <caption> <h3> <b> @L("Default") @L("UOM") - {{vm.defaultUOMErrorList.length}} @L("Error") @L("Material") @L("Detail")  </b></h3></caption>
                    <thead>
                        <tr>
                            <th class="text-right">@L("#")</th>
                            <th>@L("Material")</th>
                            <th>@L("Default") @L("UOM") @L("Error") </th>
                            <th>
                                @L("UnitConversion") @L("Linked") - @L("baseUnitId") | @L("refUnitId")  | @L("Conversion")
                            </th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.defaultUOMErrorList">
                        <td class="text-right">
                            {{index+1}} .
                        </td>
                        <td class="col-xs-3">
                            {{data.material.materialName}}
                        </td>
                        <td class="col-xs-3">
                            <span class="bold"> {{data.material.defaultUnitName}}</span> {{data.errorMessage}}
                        </td>
                        <td class="col-xs-5">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered table-condensed col-xs-12">
                                    <tr data-ng-repeat="(ucindex,ucdata) in data.unitConversionEditDtos">
                                        <td class="col-xs-2">
                                            {{ucdata.baseUom}}
                                        </td>
                                        <td class="col-xs-2">
                                            {{ucdata.refUom}}
                                        </td>
                                        <td class="col-xs-3 text-right">
                                            {{ucdata.conversion}}
                                        </td>
                                        <td class="col-xs-5">
                                            {{ucdata.errorRemarks}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a class="bold" ng-if="data.defaultUnitMightBeRefId>0" ng-click="vm.changeDefaultUnit(data.material.id,data.material.defaultUnitId,data.defaultUnitMightBeRefId)"> Click here to change the Default unit as {{data.defaultUnitMightBeRefName}}</a>
                            <a class="bold" ng-if="data.defaultUnitMightBeRefId==null" ng-click="vm.editDetailItem(data.material)"> Click here to Edit the conversion value in the material page</a>

                            <br />
                            <br />
                            <a class="bold" ng-click="vm.editDetailItem(data.material)"> Click here to Edit material</a>

                            <br />
                            <br />
                        </td>
                    </tr>

                </table>

                <hr />
            </div>
        </div>
    </div>
</div>

