﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>

<div ng-controller="tenant.views.house.master.material.materialdetail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h4>
                        <span ng-if="vm.material.id">@L("EditMaterial"): {{vm.material.id}} - {{vm.material.materialName | uppercase}}</span>
                        <span ng-if="!vm.material.id">@L("CreateMaterial") : {{vm.material.materialName | uppercase}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form name="materialCreateOrEditForm">
                    <div class="form-body" busy-if="vm.loading || vm.loadingCount">

                        <uib-tabset class="tab-container tabbable-line">

                            <uib-tab heading="@L("Information")">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@L("MaterialType")</label>
                                            <ui-select class="borderself" id="selMaterialType" ng-change="vm.OwnPreparationSelection()" ng-class="{'edited':vm.material.materialTypeId}" ng-model="vm.material.materialTypeId" required>
                                                <ui-select-match placeholder="Select Material Type...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refmaterialtype | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Category") <a ng-click="vm.openCategoryMaster()" href="">@L("AddOrEdit")</a> </label>
                                            <ui-select class="borderself" name="Category" ng-required="true" id="Category" ng-model="vm.material.materialGroupCategoryRefId" required>
                                                <ui-select-match placeholder="Select Group...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refmaterialgroupcategory | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group" @*ng-disabled="!vm.changeDefaultUnitFlag && vm.material.id"*@>
                                            <label class="control-label">@L("DefaultUnit")</label>
                                            <ui-select class="borderself" id="DefaultUnit" name="DefaultUnit" ng-required="true" required
                                                       ng-disabled="!vm.canchangeDefaultUnit" ng-model="vm.material.defaultUnitId" ng-change="vm.unitReference($select.selected)">
                                                <ui-select-match placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refunit | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("DefaultTransactionUnit")</label>
                                            <ui-select class="borderself" id="DefaultTransactionUnit" ng-model="vm.material.issueUnitId" ng-required="true" name="DefaultTransactionUnit" required>
                                                <ui-select-match placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    @*<div class="col-xs-2">
                    <div class="form-group">
                        <label class="control-label">@L("ReceivingUnit")</label>
                        <ui-select class="borderself" id="ReceivingUnit" ng-model="vm.material.receivingUnitId" ng-required="true" name="ReceivingUnit" required>
                            <ui-select-match placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>*@
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("TransferUnit")</label>
                                            <ui-select class="borderself" id="TransferUnit" ng-model="vm.material.transferUnitId" ng-required="true" name="TransferUnit" required>
                                                <ui-select-match placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">@L("StockAdjustmentUnit")</label>
                                            <ui-select class="borderself" id="StockAdjustmentUnit" ng-model="vm.material.stockAdjustmentUnitId" ng-required="true" name="StockAdjustmentUnit" required>
                                                <ui-select-match placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row margin-top-10">

                                    <div class="col-xs-1">
                                        <div class="form-group no-hint">
                                            <label>@L("Sort")</label>
                                            <input class="form-control" type="text" onkeypress="return NumberWithPoint('userSerialNumber', event, 'cancel')" name="UserSerialNumber" ng-class="{'edited':vm.material.userSerialNumber}" ng-model="vm.material.userSerialNumber" required>
                                        </div>
                                    </div>

                                    <div class="col-xs-3">
                                        <div class="form-group no-hint">
                                            <label>@L("Code")</label>
                                            <input class="form-control ucase" autofocus type="text" name="Code" ng-class="{'edited':vm.material.materialPetName}" ng-model="vm.material.materialPetName" required maxlength="70" onblur="changetoupper(this)">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group  no-hint">
                                            <label>@L("Name")</label>
                                            <input class="form-control ucase" type="text" name="MaterialName" ng-class="{'edited':vm.material.materialName}" ng-model="vm.material.materialName" required maxlength="70" onblur="changetoupper(this)">
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="form-group  no-hint">
                                            <label>@L("Barcode")</label>
                                            <input class="form-control" type="text" name="Barcode" ng-class="{'edited':vm.material.barcode}" ng-model="vm.material.barcode">
                                        </div>
                                    </div>
                                    <div class="col-xs-2" ng-if="vm.material.materialTypeId==0 && false">
                                        <div class="form-group no-hint">
                                            <label>@L("GeneralLifeDays")</label>
                                            <input class="form-control" type="text" onkeypress="return NumberOnly(event, 'cancel')" id="general Days" name="generalLifeDays" ng-class="{'edited':vm.material.generalLifeDays}" ng-model="vm.material.generalLifeDays" required>
                                        </div>
                                    </div>



                                    <div class="col-xs-4" ng-if="false">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" id="posReferencecodeifany" type="text" onkeypress="return NumberOnly(event, 'cancel')" name="PosReferencecodeifany" ng-class="{'edited':vm.material.posReferencecodeifany}" ng-model="vm.material.posReferencecodeifany">
                                            <label>@L("MenuItem")</label>
                                        </div>
                                    </div>
                                </div>



                                <div class="row margin-top-20">
                                    <div class="col-xs-4 margin-top-20" ng-if="vm.material.id" ng-disabled="!vm.permissions.changeActiveStatus">
                                        <div ng-disabled="!vm.permissions.changeActiveStatus" class="md-checkbox">
                                            <input ng-disabled="!vm.permissions.changeActiveStatus" id="IsActive" class="md-check" type="checkbox" name="IsActive"
                                                   ng-class="{'edited':vm.material.isActive}"
                                                   ng-model="vm.material.isActive">
                                            <label style="color:black" for="IsActive">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsActive")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Average") @L("Price") @L("Tag") </label>
                                            <ui-select class="borderself" id="selMaterialType" ng-class="{'edited':vm.material.averagePriceTagRefId}" ng-model="vm.material.averagePriceTagRefId" required>
                                                <ui-select-match placeholder="Select Price Tag...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refaveragepricetags | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" ng-if="vm.material.averagePriceTagRefId==2">
                                        <div class="form-group no-hint">
                                            <label>@L("Number") @L("Of") @L("Months") </label>
                                            <input class="form-control" type="text" onkeypress="return NumberOnly(event, null)" name="NoOfMonthAvgTaken" ng-class="{'edited':vm.material.noOfMonthAvgTaken}" ng-model="vm.material.noOfMonthAvgTaken" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" ng-if="false">
                                    <div class="col-xs-6" ng-if="false">
                                        <div class="md-checkbox">
                                            <input id="IsBranded" class="md-check" type="checkbox" name="IsBranded" ng-class="{'edited':vm.material.isBranded}" ng-model="vm.material.isBranded" ng-disabled="vm.material.ownPreparation">
                                            <label for="IsBranded">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsBranded")
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6" ng-if="false">
                                        <div class="md-checkbox">
                                            <input id="IsMfgDateExists" class="md-check" type="checkbox" name="IsMfgDateExists" ng-class="{'edited':vm.material.isMfgDateExists}" ng-model="vm.material.isMfgDateExists">
                                            <label for="IsMfgDateExists">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsMfgDateExists")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" ng-if="false">
                                        <div class="md-checkbox">
                                            <input id="IsNeedtoKeptinFreezer" class="md-check" type="checkbox" name="IsNTKF" ng-class="{'edited':vm.material.isNeedtoKeptinFreezer}" ng-model="vm.material.isNeedtoKeptinFreezer">
                                            <label for="IsNeedtoKeptinFreezer">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsNeedtoKeptinFreezer")
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" ng-hide="vm.loading" ng-if="!vm.material.isActive">
                                    <span class="bold" style="color:red">@L("MaterialInActiveStatusAlert") </span>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div ng-if="false" @*ng-if="vm.material.posReferencecodeifany"*@ class="md-checkbox">
                                            <input id="MRPPriceExists" class="md-check" type="checkbox" name="MRPPriceExists" ng-class="{'edited':vm.material.mrpPriceExists}" ng-model="vm.material.mrpPriceExists">
                                            <label for="MRPPriceExists">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("MRPPriceExists")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading="@L("PriceList")" ng-if="false">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("PriceTag")</th>
                                                    <th class="text-right">@L("SellingPrice")</th>
                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(index,data) in vm.temptagpricedata">
                                                <td class="col-xs-6">
                                                    <input type="text" ng-disabled="true" class="form-control" ng-model="data.tagCode" />
                                                </td>

                                                <td class="col-xs-6">
                                                    <input id="materialprice" type="number" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.materialPrice" required />
                                                </td>

                                            </tr>

                                        </table>

                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab ng-click="focusUnit()" heading="@L("Units")" active="vm.unittab">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @*<div class="form-group form-md-line-input  no-hint">*@
                                        <label class="control-label">@L("Units")</label>
                                        <ui-select autofocus multiple id="unitRefIds" ng-model="vm.unitRefIds" class="form-control">
                                            <ui-select-match @*placeholder="Select Units..."*@>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item in vm.refcorrespondingunits | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                        @*</div>*@
                                    </div>
                                </div>
                                <div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <br />
                                <hr />

                                <a ng-if="vm.material.id" class="text-center"><h3> @L("UnitConversion")</h3></a>
                                <h4 ng-if="vm.material.id" style="color:red">@L("UntiConversionMaterialWiseAlert") </h4>
                                <div ng-if="vm.material.id" style="border-style:outset;border-color:blueviolet">
                                    <h4 style="color:blue">@L("UnitConversionMaterialWise")</h4>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @*<a class="pull-right" ng-if="vm.unitpermissions.create" data-toggle="tooltip" title="Click to add new Unit if needed" data-placement="top" ng-click="vm.openUnitMaster()" href="">@L("Create") @L("New") @L("Unit")</a>*@
                                            <table class="table table-striped table-bordered col-xs-12">
                                                <thead>
                                                    <tr>
                                                        <th>@L("Actions")</th>

                                                        <th class="text-center">@L("baseUnitId") </th>
                                                        <th class="text-center">@L("refUnitId")</th>
                                                        <th class="text-right">@L("Default")</th>
                                                        <th class="text-right">@L("Conversion")</th>
                                                        <th class="text-right">@L("DecimalPlaceRounding")</th>
                                                        <th class="text-center">@L("Supplier")</th>
                                                        <th>@L("Save")  </th>
                                                    </tr>
                                                </thead>
                                                <tr data-ng-repeat="(index,data) in vm.unitConversionList">
                                                    <td class="col-xs-1">
                                                        <button type="button" class="btn btn-danger" data-ng-click="vm.removeUnitConversionPortion(index,data)" data-toggle="tooltip" title="@L("Remove")" data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@>
                                                            <i class="fa fa-trash"></i> <span></span>
                                                        </button>
                                                        <button type="button" class="btn btn-primary fa-pull-right" data-ng-click="data.editFlag=true;data.doesUpdateRequired=true;" data-toggle="tooltip" title="@L("Edit")" data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@>
                                                            <i class="fa fa-edit"></i> <span></span>
                                                        </button>
                                                    </td>
                                                    <td class="col-xs-2 text-center">
                                                        <a ng-if="!data.editFlag"><span><b> {{data.baseUom}} </b> </span> </a>
                                                        <ui-select id="selBaseUnit" class="borderself" ng-model="data.baseUnitId" ng-change="vm.baseUnitNameReference(data,$select.selected)" ng-if="data.editFlag">
                                                            <ui-select-match placeholder="@L("baseUnitId")">{{$select.selected.displayText}}</ui-select-match>
                                                            <ui-select-choices ng-model="data.baseUnitId" repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                                <div ng-bind="item.displayText"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </td>
                                                    <td class="col-xs-2 text-center">
                                                        <a ng-if="!data.editFlag"><span><b> {{data.refUom}} </b> </span> </a>
                                                        <ui-select id="selRefUnit" class="borderself" ng-model="data.refUnitId" ng-change="vm.refUnitNameReference(data,$select.selected)" ng-if="data.editFlag">
                                                            <ui-select-match placeholder="@L("refUnitId")">{{$select.selected.displayText}}</ui-select-match>
                                                            <ui-select-choices ng-model="data.refUnitId" repeat="item.value as item in vm.refcorrespondingunits | filter: $select.search">
                                                                <div ng-bind="item.displayText"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </td>
                                                    <td class="col-xs-2 text-right">
                                                       @L("Default") @L("Conversion") : {{data.defaultConversion}}
                                                        <br />
                                                        @L("DecimalPlaceRounding") : {{data.defaultDecimalPlaceRounding}}
                                                    </td>
                                                    <td class="col-xs-1 text-right">
                                                        <span ng-if="!data.editFlag"><span><b> {{data.conversion}} </b> </span> </span>
                                                        <input id="Conversion" type="number" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="20" ng-model="data.conversion" ng-if="data.editFlag && data.refUnitId>0 && data.baseUnitId>0" />
                                                    </td>
                                                    <td class="col-xs-1 text-right">
                                                        <span ng-if="!data.editFlag"><span><b> {{data.decimalPlaceRounding}} </b> </span> </span>
                                                        <input id="DecimalPlaceRounding" type="number" class="form-control text-right" onkeypress="return NumberOnly(event, 'cancel')" maxlength="2" ng-model="data.decimalPlaceRounding" ng-if="data.editFlag && data.refUnitId>0 && data.baseUnitId>0" />
                                                    </td>
                                                    <td class="col-xs-3">
                                                        <table class="table table-striped table-bordered table-condensed col-xs-12">
                                                            <tr data-ng-repeat="(supindex,supdata) in data.linkedSupplierList">
                                                                <td class="text-xs-9">
                                                                    <a ng-click="vm.unitConversionLink(supdata.id,vm.material.id)"> {{supdata.name}}</a>
                                                                </td>
                                                                <td class="text-xs-3">
                                                                    <button type="button" class="btn-sm btn-danger" data-ng-click="vm.removeLinkedSupplier(data,supindex)" data-toggle="tooltip" title="@L("Remove") @L("Supplier") " data-placement="top" @*ng-hide="data.createdBasedOnRecursive"*@ ng-if="data.editFlag">
                                                                        <i class="fa fa-trash"></i> <span></span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <a @*ng-hide="data.createdBasedOnRecursive"*@ ng-if="data.editFlag" class="fa-pull-right" ng-click="vm.addSupplierModal(data)"> @L("Add") @L("Supplier") </a>
                                                    </td>
                                                    <td class="col-xs-1 text-right">
                                                        <span ng-if="!data.editFlag">{{data.id}} </span>
                                                        <button ng-if="data.editFlag" type="submit" class="btn btn-primary" data-ng-click="vm.saveUnitConversionPortion(index); vm.unitCoversionSave(data);" ng-disabled="!data.editFlag" data-toggle="tooltip" title="@L("Save")" data-placement="top">
                                                            <i class="fa fa-save"></i> <span></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <a class="fa-pull-right" ng-click="vm.addUnitConversionPortion()" data-toggle="tooltip" title="@L("Add") @L("Next") @L("UnitConversion")" data-placement="top"> @L("Add") @L("Next") </a>
                                            <br />
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <br />
                                <hr />
                            </uib-tab>

                            <uib-tab ng-if="vm.material.isBranded" select="focusBrand()" heading="@L("Brands")">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @*<div class="form-group form-md-line-input  no-hint">*@
                                        <label class="control-label">@L("Brands") <a ng-click="vm.openBrandMaster()" href="">@L("AddOrEdit")</a></label>
                                        <ui-select autofocus multiple id="bd"
                                                   ng-model="vm.brandRefIds" class="form-control">
                                            <ui-select-match>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item in vm.refbrand | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        @*</div>*@
                                    </div>
                                </div>


                                <div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </uib-tab>

                            <uib-tab heading="@L("Suppliers")" ng-click="vm.setSupRefUnits()" ng-if="vm.material.materialTypeId==0">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Actions")</th>
                                                    <th ng-if="false">@L("Code")</th>
                                                    <th>@L("SupplierName") &nbsp;&nbsp;&nbsp;&nbsp; <a ng-if="vm.supplierpermissions.create" ng-click="vm.openSupplierMaster()" href="">@L("Create") @L("Supplier")</a></th>
                                                    <th>@L("UOM")</th>
                                                    <th class="text-right">@L("Price")</th>
                                                    <th class="text-right">@L("MOQ")</th>
                                                    <th class="text-right">@L("PurchaseYield") %</th>
                                                    <th class="text-right">@L("SupplierMaterialAliasName")</th>
                                                    <th>@L("Next")</th>
                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(index,data) in vm.tempdetaildata">
                                                <td class="col-xs-1">
                                                    <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(index)" />
                                                </td>
                                                <td class="col-xs-1" ng-if="false">
                                                    <input type="text" ng-disabled="true" class="form-control" ng-model="data.supplierRefId" />
                                                </td>
                                                <td class="col-xs-3">
                                                    <ui-select id="selSupplier" ng-value="data.supplierRefName" ng-change="funcSupplier(data,$select.selected.displayText,$select.selected.value)" ng-model="data.supplierRefId">
                                                        <ui-select-match placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.supplierRefId" repeat="item.value as item in vm.temprefSupplierName | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-xs-1">
                                                    @*<span>{{data.uom}} </span>*@
                                                    <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.uom}} </b> </span> </a>
                                                    <ui-select id="selSupUnit" class="borderself" ng-value="data.uom" ng-model="data.unitRefId" ng-disabled="!vm.mutlipleUomAllowed" ng-change="vm.supunitReference(data,$select.selected)" ng-if="data.changeunitflag">
                                                        <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.suprefunit | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="lastprice" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.materialPrice" />
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="moq" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="10" ng-model="data.minimumOrderQuantity" />
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="YieldPercentage" type="number" max="200" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="6" ng-model="data.yieldPercentage" />
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="supplierMaterialAliasName" type="text" class="form-control" ng-model="data.supplierMaterialAliasName" />
                                                </td>
                                                <td class="col-xs-2">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                    <a ng-click="vm.unitConversionLink(data,data.supplierRefId,vm.material.id)"> @L("Unit") @L("Link") </a>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab ng-if="false" heading="@L("Customers")">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Actions")</th>
                                                    <th ng-if="false">@L("Code")</th>
                                                    <th>@L("Customer")</th>
                                                    <th class="text-right">@L("SellingPrice")</th>
                                                    @*<th>@L("Unit")</th>*@
                                                    <th>@L("Next")</th>
                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(index,data) in vm.tempcustomerdetaildata">
                                                <td class="col-xs-1">
                                                    <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeCustomerRow(index)" />
                                                </td>
                                                <td class="col-xs-1" ng-if="false">
                                                    <input type="text" ng-disabled="true" class="form-control" ng-model="data.customerRefId" />
                                                </td>
                                                <td class="col-xs-5">
                                                    <ui-select id="selCustomer" ng-value="data.customerRefName" ng-change="funcCustomer(data,$select.selected.displayText,$select.selected.value)" ng-model="data.customerRefId">
                                                        <ui-select-match placeholder="Select Customer...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.customerRefId" repeat="item.value as item in vm.temprefCustomerName | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="lastprice" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.materialPrice" />
                                                </td>
                                                <td class="col-xs-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addCustomerPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading="@L("Ingredient")" ng-show="vm.material.materialTypeId!=0">
                                <div class="row">

                                    <div class="col-xs-3">
                                        <div class="form-group no-hint">
                                            <label>@L("PrdBatchQty")</label>
                                            <input class="form-control text-right" onkeypress="return NumberWithPoint('prdBatchQty', event, 'cancel')" type="text" id="prdBatchQty" name="prdBatchQty" ng-class="{'edited':vm.recipe.prdBatchQty}" ng-model="vm.recipe.prdBatchQty">
                                        </div>
                                    </div>

                                    <div class="col-xs-3" ng-if="false">
                                        <div class="form-group no-hint">
                                            <label>@L("FixedCostValue")</label>
                                            <input class="form-control text-right" type="text" id="fixedcost" name="fixedcost" onkeypress="return NumberWithPoint('fixedcost', event, 'cancel')" ng-class="{'edited':vm.recipe.fixedCost}" ng-model="vm.recipe.fixedCost">
                                        </div>
                                    </div>
                                    <div class="col-xs-3" ng-if="false">
                                        <div class="form-groupno-hint">
                                            <label>@L("LifeTimeInMinutes")</label>
                                            <input class="form-control text-right" type="text" id="LifeTimeInMinutes" name="LifeTimeInMinutes" maxlength="10" onkeypress="return NumberOnly(event, 'cancel')" ng-class="{'edited':vm.recipe.lifeTimeInMinutes}" ng-model="vm.recipe.lifeTimeInMinutes">
                                        </div>
                                    </div>

                                    <div class="col-xs-3" ng-if="false">
                                        <div class="form-groupno-hint">
                                            <label>@L("AlarmTimeInMinutes")</label>
                                            <input class="form-control text-right" type="text" id="AlarmTimeInMinutes" maxlength="10" name="AlarmTimeInMinutes" onkeypress="return NumberOnly(event, 'cancel')"
                                                   ng-class="{'edited':vm.recipe.alarmTimeInMinutes}" ng-model="vm.recipe.alarmTimeInMinutes">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">



                                </div>

                                <div class="row">
                                    <div class="col-xs-6" ng-if="false">
                                        <div class="md-checkbox">
                                            <input id="recipeAlarmFlag" class="md-check" type="checkbox" name="AlarmFlag"
                                                   ng-class="{'edited':vm.recipe.alarmFlag}" ng-model="vm.recipe.alarmFlag">
                                            <label for="recipeAlarmFlag">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("AlarmFlag")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="md-checkbox">
                                            <input id="WipeOutStockOnClosingDay" class="md-check" type="checkbox" name="WipeOutStockOnClosingDay"
                                                   ng-class="{'edited':vm.material.wipeOutStockOnClosingDay}" ng-model="vm.material.wipeOutStockOnClosingDay">
                                            <label for="WipeOutStockOnClosingDay">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("WipeOutStockOnClosingDay")
                                            </label>
                                        </div>
                                    </div>



                                </div>
                                <div><hr /></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <thead>
                                                <tr>
                                                    <th>@L("Actions")</th>
                                                    <th>@L("Edit")</th>
                                                    <th>@L("MaterialName")</th>
                                                    <th>@L("MaterialType")</th>
                                                    <th class="text-right">@L("Qty")</th>
                                                    <th>@L("Unit")</th>
                                                    <th>@L("Next")</th>
                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(index,data) in vm.materialingredientdata">
                                                <td class="col-xs-1">
                                                    <input type="button" class="btn btn-primary" value="@L("-")" data-ng-click="vm.ingrremoveRow(index)" />
                                                </td>
                                                <td class="col-xs-1">
                                                    <input type="button" class="btn btn-primary" value="@L("Edit")" data-ng-click="vm.editIngr(data)" />
                                                </td>
                                                <td class="col-xs-5">
                                                    <ui-select id="selMaterial" ng-disabled="!data.ingreditflag" ng-value="data.materialRefName" ng-change="ingrfunc(data,$select.selected)" ng-model="data.materialRefId">
                                                        <ui-select-match placeholder="Select Material...">{{$select.selected.materialName}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.materialRefId" repeat="mat.id as mat in vm.refmaterial | filter: $select.search">
                                                            <div ng-bind="mat.materialName"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="materialTypeName" type="text" class="form-control" ng-model="data.materialTypeName" ng-disabled="true" />
                                                </td>
                                                <td class="col-xs-1">
                                                    <input id="rcdqty" type="text" class="form-control text-right" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" maxlength="10" ng-model="data.materialUsedQty" ng-disabled="!data.ingreditflag" />
                                                </td>
                                                <td class="col-xs-2">
                                                    <ui-select ng-model="data.unitRefId" ng-disabled="!data.ingreditflag">
                                                        <ui-select-match id="selUnit" placeholder="Select Unit...">{{$select.selected.displayText}}</ui-select-match>
                                                        <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refingrunitformaterial | filter: $select.search">
                                                            <div ng-bind="item.displayText"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td class="col-xs-1">
                                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.ingraddPortion()">
                                                        <i class="glyphicon glyphicon-plus"></i> <span></span>
                                                    </button>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>

                            </uib-tab>

                            <uib-tab heading='@L("Barcode")' tabindex="1">
                                <div class="row margin-top-10">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">@L("Barcode")</label>
                                            <select multiple ng-model="vm.selectedBarcodes" class="form-control" ng-options="mat as mat.barcode for mat in vm.material.barcodes"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">@L("Operations")</label>
                                        <input type="text" class="form-control margin-bottom-10" ng-model="vm.barcode" ng-maxlength="50" placeholder="Barcode">
                                        <div class="pull-right">
                                            <input type="button" class="form-control btn btn-sm btn-success margin-bottom-10" value="@L("Add")" data-ng-click="vm.addBarCode()" />
                                            <input type="button" class="form-control btn btn-sm btn-warning margin-bottom-10" value="@L("Delete")" data-ng-click="vm.deleteBarCode()" />
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>

                            <uib-tab heading="@L("InventoryCycle")">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="control-label">@L("InventoryCycle")</label>
                                        <ui-select autofocus multiple id="InventoryCycle" ng-model="vm.stockCycleRefIds" class="form-control">
                                            <ui-select-match>{{$item.displayText}}</ui-select-match>
                                            <ui-select-choices repeat="item in vm.refstockcycle | filter: $select.search">
                                                <div ng-bind="item.displayText"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                <div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>


                            </uib-tab>

                            <uib-tab heading="@L("Tax") / @L("Account")">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group  no-hint">
                                            <label>@L("HSN/SARCode") / @L("Account") @L("Code")</label>
                                            <input class="form-control" type="text" name="hsncode" ng-class="{'edited':vm.material.hsncode}" ng-model="vm.material.hsncode">
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>



                            <uib-tab heading="@L("MappedMenuList")" ng-if="vm.material.id" ng-click="vm.getMappedMenuList()" active="vm.menumappedtab">
                                <div class="row margin-top-10" ng-if="vm.material.id">
                                    <div class="col-xs-12 text-right">
                                        <button type="button" button-busy="vm.saving" busy-text="@L("DownloadingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.downloadMappedMenuList()" ng-disabled="materialCreateOrEditForm.$invalid">
                                            <i class="fa fa-download"></i> <span>@L("Download") @L("Mapped") @L("Menu").Pluralize()</span>
                                        </button>
                                        &nbsp;
                                        <button type="button" button-busy="vm.saving" busy-text="@L("DownloadingWithThreeDot")" class="btn btn-primary purple" ng-click="vm.uploadMappedMenuList()" ng-disabled="materialCreateOrEditForm.$invalid">
                                            <i class="fa fa-upload"></i> <span>@L("Upload") @L("Change") @L("Material").Pluralize()</span>
                                        </button>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row margin-top-20">
                                        <div class="col-xs-12">
                                            <table class="table table-striped table-bordered col-xs-12">
                                                <thead>
                                                    <tr>
                                                        <th>@L("Delete")</th>
                                                        <th>@L("Edit")</th>
                                                        <th>@L("MenuName")</th>
                                                        <th class="text-right">@L("Menu") @L("Billed") @L("Qty")</th>
                                                        <th class="text-right">@L("Portion") @L("Qty")</th>
                                                        <th>@L("UOM")</th>
                                                        <th>@L("Department")</th>
                                                        <th>@L("AutomaticIssue")</th>
                                                    </tr>
                                                </thead>

                                                <tr data-ng-repeat="(index,data) in vm.mappedMenuList">
                                                    <td class="col-xs-1">
                                                        <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.deleteMappedMaterial(data)" />
                                                    </td>
                                                    <td class="col-xs-1">
                                                        <input type="button" class="btn btn-primary" value="@L("Edit")" data-ng-click="vm.editMappedMaterial(data)" />
                                                        &nbsp;
                                                        <span>{{index+1}}</span>
                                                    </td>
                                                    <td class="col-xs-2">
                                                        {{data.posRefName}}
                                                    </td>
                                                    <td class="col-xs-1 text-right">
                                                        {{data.menuQuantitySold}}
                                                    </td>
                                                    <td class="col-xs-1 text-right">
                                                        {{data.portionQty}}
                                                    </td>
                                                    <td class="col-xs-2">
                                                        {{data.unitRefName}}
                                                    </td>
                                                    <td class="col-xs-2">
                                                        <span data-ng-repeat="(depindex,depdata) in data.deptList">{{depdata.displayText}} <span ng-if="(depindex+1)!=data.deptList.length"> , </span></span>
                                                    </td>
                                                    <td class="col-xs-2">
                                                        <span ng-if="data.autoSalesDeduction"> @L("Yes")</span>
                                                        <span ng-if="!data.autoSalesDeduction"> @L("No")</span>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab ng-if="vm.material.id" ng-click="vm.getMaterialLocationWiseStatus();" heading="@L("ActiveStatus") - @L("Location") @L("Wise")">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <table class="table table-striped table-bordered col-xs-12">
                                            <thead>
                                                <tr>
                                                    <th>#.</th>
                                                    <th>@L("Location")</th>
                                                    <th class="text-center">@L("Current") @L("Status")</th>
                                                    <th class="text-center">@L("Change") @L("Status")</th>
                                                </tr>
                                            </thead>

                                            <tr data-ng-repeat="(index,data) in vm.materialActiveStatusLocationWise">
                                                <td class="col-xs-1">
                                                    <span> {{index+1}}</span>
                                                </td>

                                                <td class="col-xs-5">
                                                    <span> {{data.locationRefCode}} - {{data.locationRefName}}</span>
                                                </td>

                                                <td class="col-xs-3 text-center">
                                                    <span ng-if="data.isActiveInLocation && vm.material.isActive" style="color:green"> @L("Active") </span>
                                                    <span ng-if="!data.isActiveInLocation || !vm.material.isActive" style="color:red"> @L("Dorment") </span>
                                                </td>
                                                <td class="col-xs-3">
                                                    <button ng-disabled="!vm.material.isActive" ng-if="data.isActiveInLocation" type="button" class="btn btn-danger" data-ng-click="vm.ChangeActiveStatus(data)">
                                                        <i class="fa fa-times"></i> @L("Change") @L("To") @L("Dorment")
                                                    </button>
                                                    <button ng-disabled="!vm.material.isActive" ng-if="!data.isActiveInLocation" type="button" class="btn btn-primary" data-ng-click="vm.ChangeActiveStatus(data)">
                                                        <i class="fa fa-check"></i> @L("Change") @L("To") @L("Active")
                                                    </button>

                                                </td>

                                            </tr>

                                        </table>

                                    </div>
                                </div>

                            </uib-tab>
                            <uib-tab heading="@L("Settings")">
                                <div class="row margin-top-10">
                                    <div class="col-xs-4">
                                        <div class="md-checkbox">
                                            <input id="IsHighValueItem" class="md-check" type="checkbox" name="IsHighValueItem" ng-class="{'edited':vm.material.isHighValueItem}" ng-model="vm.material.isHighValueItem" style="text-decoration: line-through;">
                                            <label for="IsHighValueItem">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsHighValueItem")
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="md-checkbox">
                                            <input id="IsQuoteNeededForPurchase" class="md-check" type="checkbox" name="IsQuoteNeededForPurchase" ng-class="{'edited':vm.material.isQuoteNeededForPurchase}" ng-model="vm.material.isQuoteNeededForPurchase" ng-disabled="vm.material.ownPreparation">
                                            <label for="IsQuoteNeededForPurchase">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsQuoteNeededForPurchase")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="md-checkbox">
                                            <input id="ConvertAsZeroStockWhenClosingStockNegative" class="md-check" type="checkbox" name="ConvertAsZeroStockWhenClosingStockNegative" ng-class="{'edited':vm.material.convertAsZeroStockWhenClosingStockNegative}" ng-model="vm.material.convertAsZeroStockWhenClosingStockNegative">
                                            <label for="ConvertAsZeroStockWhenClosingStockNegative">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("ConvertAsZeroStockWhenClosingStockNegative")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" ng-if="false">
                                        <div class="md-checkbox">
                                            <input id="IsFractional" class="md-check" type="checkbox" name="IsFractional" ng-class="{'edited':vm.material.isFractional}" ng-model="vm.material.isFractional">
                                            <label for="IsFractional">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsFractional")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col-lg-2">
                                        <div class="form-group no-hint">
                                            <label>@L("PurchaseYield") %</label>
                                            <input class="form-control" type="text" max="200" onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" name="YieldPercentage" ng-class="{'edited':vm.material.userSerialNumber}" ng-model="vm.material.yieldPercentage">
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-10" ng-if="vm.material.id">

                                </div>


                            </uib-tab>
                            <uib-tab ng-if="materialCreateOrEditForm.$invalid">
                                <uib-tab-heading style="color:orangered">
                                    <i class="glyphicon glyphicon-bell"></i> @L("Alert")!
                                </uib-tab-heading>
                                <div>
                                    <ul>
                                        <li ng-repeat="(key, errors) in materialCreateOrEditForm.$error track by $index">
                                            <strong>{{ key }}</strong> errors
                                            <ul>
                                                <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                @*<div>
                <span>   {{vm.allData}} </span>
            </div>*@
                            </uib-tab>
                        </uib-tabset>

                        <div style="display:block;float:right;">
                            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button ng-if="!vm.changeDefaultUnitFlag" type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save(0)" ng-disabled="materialCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("Save")</span>
                            </button>
                            <button ng-if="!vm.changeDefaultUnitFlag" type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-mousedown="vm.existall()" ng-click="vm.save(1)" ng-disabled="materialCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("SaveAndClose")</span>
                            </button>
                            <button ng-if="vm.changeDefaultUnitFlag && vm.material.id" type="button" button-busy="vm.saving" busy-text="@L("UnitChange")" class="btn btn-danger " ng-mousedown="vm.existall()" ng-click="vm.changeDefaultUnit()" ng-disabled="materialCreateOrEditForm.$invalid">
                                <i class="fa fa-save"></i> <span>@L("ChangeDefaultUnit")</span>
                            </button>
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>


</div>