﻿<div>
<div class="modal-header">
    <div class="col-xs-9">
        <h4 class="modal-title">
            <span class="caption-subject bold uppercase">{{vm.material.materialName}}</span>
        </h4>
    </div>
    <div class="col-xs-3 text-right">
        <button class="btn btn-primary blue" ng-click="vm.cancel()">
            @L("Close")
        </button>
    </div>
</div>
<div class="modal-body">
    <div ng-if="vm.materialSupplierData.length==0">
        @L("NoMoreRecordsFound")
    </div>
    <div class="row" ng-if="vm.materialSupplierData.length>0">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered col-xs-12">
            <thead>
            <tr>
                <th>@L("Supplier")</th>
                <th align="right">@L("Price")</th>
                <th align="right">@L("MOQ")</th>
                <th align="right">@L("UOM")</th>
            </tr>
            </thead>
            <tr data-ng-repeat="(index,data) in vm.materialSupplierData">
                <td class="col-xs-5">
                    {{data.supplierRefName}}
                    <br ng-if="data.supplierMaterialAliasName.length>0"/>
                    <span style="color:blue;" ng-if="data.supplierMaterialAliasName.length>0"> @L("SupplierMaterialAliasName")  : {{data.supplierMaterialAliasName}} </span>
                </td>
                <td align="right" class="col-xs-1">
                    {{data.materialPrice | number : 3}}
                </td>
                <td align="right" class="col-xs-1">
                    {{data.minimumOrderQuantity |number : 3}}
                </td>
                <td class="col-xs-1">
                    <span>{{data.uom}} </span>
                </td>
            </tr>
        </table>
    </div>



</div>
</div>
</div>