﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.connect.menu.category.categorydetail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.category.id">@L("EditCategory"): {{vm.category.name | uppercase}}</span>
                        <span ng-if="!vm.category.id">@L("CreateCategory")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class="control-label">@L("Code")*</label>
                                    <input class="form-control" type="text" name="Code" onblur="changetoupper(this)" ng-class="{'edited':vm.category.code}" ng-model="vm.category.code" required>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")*</label>
                                    <input class="form-control" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.category.name}" ng-model="vm.category.name" required>
                                </div>
                            </div>
                            <div class="col-md-1 margin-top-30" ng-if="vm.category.id">
                                <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                                    <i class="fa fa-file"></i> <span></span>
                                </button>
                            </div>

                            <div class="col-md-6 margin-top-15">
                                <label class="control-label">@L("Select") @L("Group")</label>
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary" value='@L("Group")' ng-if="vm.category.productGroupId==null" data-ng-click="vm.openGroupMaster()">
                                    <input type="button" class="btn btn-primary" value='{{ vm.category.productGroupId}} - {{ vm.category.groupName }}' ng-if="vm.category.productGroupId!=null" data-ng-click="vm.openGroupMaster()">
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div class="col-md-12 text-right">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"  ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>