@using Humanizer
<div ng-controller="tenant.views.connect.menu.category.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.category.id">@L("EditCategory"): {{vm.category.name | uppercase}}</span>
                        <span ng-if="!vm.category.id">@L("CreateCategory")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input type="text" class="form-control" ng-model="vm.category.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title">
                                    <h4>@L("Location").Pluralize()</h4>
                                </div>
                                <div class="pull-right">
                                    <input type="button" class="btn btn-primary" value="@L("Add")" data-ng-click="vm.addLocation()" />
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>

                                    <tr>
                                        <th>@L("Actions")</th>
                                        <th>@L("Location")*</th>
                                        <th>@L("Percentage")*</th>
                                        <th>@L("TaxInclusive")</th>
                                    </tr>
                                    </thead>

                                    <tr data-ng-repeat="(productIndex, product) in vm.category.locations">
                                        <td>
                                            <input type="button" class="btn btn-primary" value="@L("Delete")" data-ng-click="vm.removeRow(productIndex)"/>
                                        </td>
                                        <td >
                                            <select ng-if="!product.id"
                                                class="form-control selectpicker"
                                                ng-options="vm.getLocationValue(item) as item.displayText for item in vm.locations"
                                                ng-model="product.locationId"></select>
                                            <input  ng-if="product.locationId" readonly="true" class="form-control" ng-model="product.locationName" />
                                        </td>
                                      
                                        <td>
                                            <input type="text" class="form-control" ng-model="product.sharingPercentage" min="0" required/>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-control" ng-model="product.inclusiveOfTax" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" >
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>