﻿<div>
    <form name="editUserPermissionsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">
                    @L("ProductGroup")
                </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="productGroupModal" id="ProductGroupEditTree"></div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit"  button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>
<style>
    .productGroupModal {
        height: calc(100vh - 220px);
        overflow: auto;
    }
</style>