﻿@using Humanizer
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>


<div ng-controller="tenant.views.engage.loyaltyProgram.createedit as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.program.Id">@L("EditLoyaltyProgram"): {{vm.program.name}}</span>
                        <span ng-if="!vm.program.Id">@L("CreateLoyaltyProgram")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form name="detailform">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input class="form-control input" type="text" name="Name" ng-class="{'edited':vm.program.name}" ng-model="vm.program.name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@L("StartDate")</label>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="datetime" id="date" name="date" class="form-control" data-ng-model="vm.program.startDate">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="vm.program.startDate"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown' , modelType: 'YYYY-MM-DD', minView: 'day'}"
                                                            data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
                                            </datetimepicker>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="Expiry" class="md-check" type="checkbox" ng-model="vm.program.expiry" ng-disabled="vm.program.expiry>">
                                            <label for="Expiry">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("Expiry")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.isExpiryChecked()" class="col-md-6">
                                <div class="form-group">
                                    <label>@L("ExpiryDays")</label>
                                    <input id="ExpiryDays" name="ExpiryDays" class="form-control" ng-class="{'edited':vm.program.expiryDays}" ng-model="vm.program.expiryDays" ng-pattern="/^(\d)+$/">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row margin-top-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>