<div ng-controller="tenant.views.template.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Template") : {{vm.template.name| uppercase}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>

            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="col-xs-12">{{ vm.template.variables }}</div>
        </div>
        <div class="portlet-body">
            <div class="row margin-top-20">
                <div class="col-xs-12">
                    <ng-quill-editor ng-model="vm.template.template"
                                     ng-class="{'edited':vm.template.template}"></ng-quill-editor>
                    @*<summernote height="400" ng-model="vm.template.template"></summernote>*@
                </div>
            </div>
        </div>
    </div>
</div>