﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.master.location.createOrEditModal as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.location.id">@L("EditLocation"): {{vm.location.name | uppercase}}</span>
                        <span ng-if="!vm.location.id">@L("CreateLocation")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="locationCreateOrEditForm" role="form" novalidate class="form-validation">
                    <uib-tabset class="tab-container tabbable-line" id="tabs">
                        <uib-tab heading='@L("BasicInformation")'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label">@L("Company")</label>

                                            <ui-select class="borderself" id="defaultLocation" @*ng-disabled="vm.defaultCompanyId" *@ ng-model="vm.location.companyRefId" required>
                                                <ui-select-match placeholder="Select Company...">{{$select.selected.displayText}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in vm.refcompany | filter: $select.search">
                                                    <div ng-bind="item.displayText"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="vm.location.id">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label">@L("LocationGroup")</label>
                                            <tags-input ng-model="vm.location.locationGroups" display-property="name" placeholder="Add a location group" replace-spaces-with-dashes="false">
                                                <auto-complete source="vm.loadLocationGroups($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-if="vm.location.id">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label">@L("LocationTag")</label>
                                            <tags-input ng-model="vm.location.locationTags" display-property="name" placeholder="Add a location tag" replace-spaces-with-dashes="false">
                                                <auto-complete source="vm.loadLocationTags($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("LocationShortName")</label>
                                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.location.code}" ng-model="vm.location.code" ng-minlength="2" required>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label>@L("LocationName")</label>
                                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="name" ng-class="{'edited':vm.location.name}" ng-model="vm.location.name" required>
                                    </div>
                                </div>
                                <div class="col-xs-1 margin-top-30" ng-if="vm.location.id">
                                    <button class="btn btn-xs green" ng-click="vm.openLanguageDescriptionModal()">
                                        <i class="fa fa-file"></i> <span></span>
                                    </button>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Address")'>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Address1")</label>
                                        <input class="form-control" type="text" name="address1" ng-class="{'edited':vm.location.address1}" ng-model="vm.location.address1">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Address2")</label>
                                        <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.location.address2}" ng-model="vm.location.address2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Address3")</label>
                                        <input class="form-control" type="text" name="address3" ng-class="{'edited':vm.location.address3}" ng-model="vm.location.address3">
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("City")</label>
                                        <input class="form-control" type="text" id="city" name="city" ng-class="{'edited':vm.location.city}" ng-model="vm.location.city">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("State")</label>
                                        <input class="form-control" type="text" name="state" ng-class="{'edited':vm.location.state}" ng-model="vm.location.state">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Country")</label>
                                        <input class="form-control" type="text" name="country" ng-class="{'edited':vm.location.country}" ng-model="vm.location.country">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@L("PostalCode")</label>
                                        <input class="form-control" type="text" name="PostalCode" ng-class="{'edited':vm.location.postalCode}" ng-model="vm.location.postalCode">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Contact")'>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("PhoneNumber")</label>
                                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="phonenumber1" ng-class="{'edited':vm.location.phoneNumber}" ng-model="vm.location.phoneNumber">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("FaxNumber")</label>
                                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="faxnumber" ng-class="{'edited':vm.location.fax}" ng-model="vm.location.fax">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Email")</label>
                                        <input class="form-control" type="email" name="email" ng-class="{'edited':vm.location.email}" ng-model="vm.location.email">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("WebSite")</label>
                                        <input class="form-control" type="url" name="website" ng-class="{'edited':vm.location.website}" ng-model="vm.location.website">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Schedules")' tabindex="1">

                            <div class="row  margin-top-10">
                                <div class="col-md-5">
                                    <wy-time-picker data-dropdown-toggle-state="settings.dropdownToggleState"
                                                    data-time-settings="settings.time"
                                                    data-theme="settings.theme"
                                                    data-no-range="settings.noRange"
                                                    data-format="settings.format"
                                                    data-no-validation="timeSettings"
                                                    data-apply-callback="onApplyTimePicker()"
                                                    data-clear-callback="onClearTimePicker()">
                                    </wy-time-picker>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>@L("Name")</label>
                                            <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.scname}" ng-model="vm.scname">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary" data-ng-click="vm.addSchedule()">
                                        @L("Add")
                                    </button>
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>@L("Name")*</th>
                                                <th>@L("StartHour")*</th>
                                                <th>@L("StartMinute")*</th>
                                                <th>@L("EndHour")*</th>
                                                <th>@L("EndMinute")*</th>
                                                <th>@L("")</th>
                                            </tr>
                                        </thead>

                                        <tr data-ng-repeat="(productIndex, product) in vm.location.schedules">
                                            <td class="col-sm-2">
                                                <label>{{product.name}}</label>
                                            </td>
                                            <td class="col-sm-2">
                                                <label>{{product.startHour}}</label>
                                            </td>
                                            <td class="col-sm-2">
                                                <label>{{product.startMinute}}</label>
                                            </td>
                                            <td class="col-sm-2">
                                                <label>{{product.endHour}}</label>
                                            </td>
                                            <td class="col-sm-2">
                                                <label>{{product.endMinute}}</label>
                                            </td>

                                            <td class="col-sm-2">
                                                <button type="submit" class="btn btn-primary" data-ng-click="vm.removeSchedule(productIndex)">
                                                    @L("Delete")
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row  margin-top-10">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("ExtendedBusinessHours")</label>
                                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="ExtendedBusinessHours" ng-class="{'edited':vm.location.extendedBusinessHours}" ng-model="vm.location.extendedBusinessHours">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("TaxSettings")'>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="md-checkbox">
                                        <input id="changeTax" class="md-check" type="checkbox" name="changeTax" ng-class="{'edited':vm.location.changeTax}" ng-model="vm.location.changeTax">
                                        <label for="changeTax">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("ChangeTax")
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6" ng-if="vm.location.changeTax">
                                    <div class="md-checkbox">
                                        <input id="taxInclusive" class="md-check" type="checkbox" name="taxInclusive" ng-class="{'edited':vm.location.taxInclusive}" ng-model="vm.location.taxInclusive">
                                        <label for="taxInclusive">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("TaxInclusive")
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Settings")' ng-if="vm.isHouseEnabled">
                            <div class="row">
                                <div class="col-xs-6" ng-disabled="!vm.datachangeallowed">
                                    <div class="form-group">
                                        <label class="control-label">@L("Transaction") @L("Date")</label>
                                        <input name="transactionDate" id="transactionDate" class="form-control date-picker" ng-class="{'edited':vm.location.houseTransactionDate}" ng-model="vm.location.houseTransactionDate" ng-disabled="!vm.datachangeallowed" />
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-top-20">
                                <div class="col-xs-6">
                                    <div class="md-checkbox">
                                        <input id="isPurchaseAllowed" class="md-check" type="checkbox" name="isPurchaseAllowed" ng-class="{'edited':vm.location.isPurchaseAllowed}" ng-model="vm.location.isPurchaseAllowed">
                                        <label for="isPurchaseAllowed">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("PurchaseAllowed")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="md-checkbox">
                                        <input id="isProductionAllowed" class="md-check" type="checkbox" name="isProductionAllowed" ng-class="{'edited':vm.location.isProductionAllowed}" ng-model="vm.location.isProductionAllowed">
                                        <label for="isProductionAllowed">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("ProductionAllowed")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-20">

                                <div class="col-xs-6">
                                    <div class="md-checkbox">
                                        <input id="isDayCloseRecursiveUptoDateAllowed" class="md-check" type="checkbox" name="isDayCloseRecursiveUptoDateAllowed" ng-class="{'edited':vm.location.isDayCloseRecursiveUptoDateAllowed}" ng-model="vm.location.isDayCloseRecursiveUptoDateAllowed">
                                        <label for="isDayCloseRecursiveUptoDateAllowed">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("IsDayCloseRecursiveUptoDateAllowed")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6" ng-if="vm.location.isProductionAllowed">
                                    <div class="md-checkbox">
                                        <input id="isProductionUnitAllowed" class="md-check" type="checkbox" name="isProductionUnitAllowed" ng-class="{'edited':vm.location.isProductionUnitAllowed}" ng-model="vm.location.isProductionUnitAllowed">
                                        <label for="isProductionUnitAllowed">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("ProductionUnitAllowed")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">@L("AllowedLocations")</label>
                                        <ui-select multiple ng-model="vm.requestlocations" class="form-control">
                                            <ui-select-match placeholder="">{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.locations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DefaultRequestLocation")</label>
                                        <ui-select class="borderself" ng-model="vm.location.defaultRequestLocationRefId">
                                            <ui-select-match id="selShipLocationRefid" placeholder="">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="vm.getLocationId(location) as location in vm.requestlocations | filter: $select.search">
                                                <div ng-bind="location.name"></div>
                                                <small>
                                                    city:<span ng-bind-html="locitems.city"></span>
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>@L("Transfer") @L("Request") @L("Cutoff")  @L("Hours") </label>

                                        <input type="number" name="transferRequestLockHours" class="form-control input-lg" ng-class="{'edited':vm.location.transferRequestLockHours}" ng-model="vm.location.transferRequestLockHours">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>@L("Transfer") @L("Request")  @L("Cutoff")  @L("Grace") @L("Hours") </label>
                                        <input type="number" name="transferRequestGraceHours" class="form-control input-lg" ng-class="{'edited':vm.location.transferRequestGraceHours}" ng-model="vm.location.transferRequestGraceHours">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("AvgPrice") - @L("Location") &nbsp; &nbsp; <a ng-if="vm.location.avgPriceLocationRefId>0" ng-click="vm.location.avgPriceLocationRefId=null;"> @L("Clear")</a> </label>
                                        <ui-select class="borderself" ng-model="vm.location.avgPriceLocationRefId">
                                            <ui-select-match id="AvgPriceLocationRefId" placeholder="">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="vm.getLocationId(location) as location in vm.requestlocations | filter: $select.search">
                                                <div ng-bind="location.name"></div>
                                                <small>
                                                    city:<span ng-bind-html="locitems.city"></span>
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <span class="bold" style="color:blue">@L("AvgPriceDescription")</span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">@L("DayClose") @L("Sales") - @L("Stock") @L("Linked") - @L("Location") &nbsp; &nbsp; <a ng-if="vm.location.dayCloseSalesStockAdjustmentLocationRefId>0" ng-click="vm.location.dayCloseSalesStockAdjustmentLocationRefId=null;"> @L("Clear")</a> </label>
                                        <ui-select class="borderself" ng-model="vm.location.dayCloseSalesStockAdjustmentLocationRefId">
                                            <ui-select-match id="AvgPriceLocationRefId" placeholder="">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="vm.getLocationId(location) as location in vm.requestlocations | filter: $select.search">
                                                <div ng-bind="location.name"></div>
                                                <small>
                                                    city:<span ng-bind-html="locitems.city"></span>
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <span class="bold" style="color:blue">@L("DayCloseStockAdjustmentDescription")</span>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Franchise")' ng-if="vm.isFranchiseEnabled">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group no-hint">
                                        <label>@L("SharingPercentage")</label>
                                        <input class="form-control ucase" type="text" name="code" ng-class="{'edited':vm.location.sharingPercentage}" ng-model="vm.location.sharingPercentage">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="md-checkbox">
                                        <input id="taxInclusive" class="md-check" type="checkbox" name="taxInclusive" ng-class="{'edited':vm.location.taxInclusive}" ng-model="vm.location.taxInclusive">
                                        <label for="taxInclusive">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            @L("TaxInclusive")
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("UrbanPiper")' ng-if="vm.urbanPiperEnabled">

                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="forceQuantity" class="md-check" type="checkbox" ng-model="vm.addOnOutput.enabled">
                                                <label for="forceQuantity">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("Enable")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" ng-if="vm.addOnOutput.enabled">

                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>@L("Platforms")</label>
                                            <ui-select multiple ng-model="vm.addOnOutput.enabledPlatforms">
                                                <ui-select-match>{{$item}}</ui-select-match>
                                                <ui-select-choices repeat="color in vm.addOnOutput.allPlatforms | filter: $select.search">
                                                    <small>
                                                        {{ color }}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>



                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <button class="btn btn-primary blue" ng-click="vm.syncMenuItems()">
                                            <i class="fa fa-floppy-o"></i> @L("PushCatalogue")
                                        </button>
                                        <span class="help-block">Updates Only Location MenuItems and its prices with the Image if any</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <button class="btn btn-primary blue" ng-click="vm.pushLocation()">
                                            <i class="fa fa-floppy-o"></i> @L("PushLocation")
                                        </button>
                                        <span class="help-block">Updates Only Location</span>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <button class="btn btn-primary blue" ng-click="vm.syncStoreItems()">
                                            <i class="fa fa-floppy-o"></i> @L("UpdateCatalogue")
                                        </button>
                                        <span class="help-block">Updates Only Mapped Items to UrbanPiper</span>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab heading='@L("Addon")'>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("AddOn")</label>
                                        <input class="form-control ucase" ng-class="{'edited':vm.location.addOn}" ng-model="vm.location.addOn">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Receipt")' ng-if="vm.istouchenabled">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Header")</label>
                                        <textarea class="form-control edited" rows="4" ng-model="vm.location.receiptHeader"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Footer")</label>
                                        <textarea class="form-control edited" rows="4" ng-model="vm.location.receiptFooter"></textarea>
                                    </div>
                                </div>
                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue pull-right" ng-click="vm.saveReceipt()" ng-disabled="locationCreateOrEditForm.$invalid">
                                    <i class="fa fa-save"></i> <span>@L("SaveReceipt")</span>
                                </button>
                            </div>
                        </uib-tab>
                        <uib-tab heading='@L("Branch")'>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Code")</label>
                                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="code" ng-class="{'edited':vm.locationBranch.code}" ng-model="vm.locationBranch.code">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Name")</label>
                                        <input class="form-control ucase" onblur="changetoupper(this)" type="text" name="name" ng-class="{'edited':vm.locationBranch.name}" ng-model="vm.locationBranch.name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Address1")</label>
                                        <input class="form-control" type="text" name="address1" ng-class="{'edited':vm.locationBranch.address1}" ng-model="vm.locationBranch.address1">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Address2")</label>
                                        <input class="form-control" type="text" name="address2" ng-class="{'edited':vm.locationBranch.address2}" ng-model="vm.locationBranch.address2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Address3")</label>
                                        <input class="form-control" type="text" name="address3" ng-class="{'edited':vm.locationBranch.address3}" ng-model="vm.locationBranch.address3">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("District")</label>
                                        <input class="form-control" type="text" name="district" ng-class="{'edited':vm.locationBranch.district}" ng-model="vm.locationBranch.district">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("City")</label>
                                        <input class="form-control" type="text" id="city" name="city" ng-class="{'edited':vm.locationBranch.city}" ng-model="vm.locationBranch.city">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("State")</label>
                                        <input class="form-control" type="text" name="state" ng-class="{'edited':vm.locationBranch.state}" ng-model="vm.locationBranch.state">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Country")</label>
                                        <input class="form-control" type="text" name="country" ng-class="{'edited':vm.locationBranch.country}" ng-model="vm.locationBranch.country">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@L("PostalCode")</label>
                                        <input class="form-control" type="text" name="PostalCode" ng-class="{'edited':vm.locationBranch.postalCode}" ng-model="vm.locationBranch.postalCode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("PhoneNumber")</label>
                                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="phonenumber1" ng-class="{'edited':vm.locationBranch.phoneNumber}" ng-model="vm.locationBranch.phoneNumber">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("FaxNumber")</label>
                                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="faxnumber" ng-class="{'edited':vm.locationBranch.fax}" ng-model="vm.locationBranch.fax">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("Email")</label>
                                        <input class="form-control" type="email" name="email" ng-class="{'edited':vm.locationBranch.email}" ng-model="vm.locationBranch.email">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@L("WebSite")</label>
                                        <input class="form-control" type="url" name="website" ng-class="{'edited':vm.locationBranch.website}" ng-model="vm.locationBranch.website">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="locationCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>
</div>