﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("Import")</span>
            </h3>
        </div>
        <div class="m-heading-1 border-green m-bordered">
            <p> @L("DownloadTemplate_Info") </p>
            <a href="{{ vm.importpath }}">@L("DownloadTemplate")</a>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="file" nv-file-select uploader="vm.uploader"/>
                <span class="help-block m-b-none">@L("ImportTemplate_Info")</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.loading" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.loading" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Import")</span></button>
        </div>
    </form>
</div>