﻿@using DinePlan.DineConnect.Localization
<div>
    <form name="dinePlanForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("LocationOrGroup")</span>
            </h4>
            <button ng-click="vm.clear()" class="btn default" type="submit">@L("Clear")</button>
        </div>
        <div class="modal-body">
            <uib-tabset id="tabs" class="tab-container tabbable-line">
                <uib-tab heading='@L("LocationOrGroup")' tabindex="1" select="vm.locationTypeSelect()">
                    <div class="row margin-top-10 margin-bottom-10" ng-if="vm.multiple || !vm.singleLocation">
                        <div class="col-md-12">
                            
                            <label class="radio-inline">
                                <input type="radio" ng-model="vm.selectedType" ng-click="vm.setLocationSelection()" value="location" id="location" name="location">@L("Location")
                            </label>
                            <label class="radio-inline" ng-if="!vm.hideGroupDisplay">
                                <input type="radio" ng-model="vm.selectedType" ng-click="vm.setLocationGroupSelection()" value="group" id="group">@L("LocationGroup")
                            </label>
                            <label class="radio-inline" ng-if="!vm.hideTagDisplay">
                                <input type="radio" ng-model="vm.selectedType" ng-click="vm.setLocationTag()" value="tag" id="tag">@L("LocationTag")
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-switch="vm.selectedType">
                                <div ng-switch-when="location">
                                    <div class="form-group">
                                        <label class="control-label">@L("Locations") - @L("Count") :{{ vm.selectedLocations.length }} </label>
                                        <ui-select multiple ng-model="vm.selectedLocations" ng-change="vm.setLocationSelection()" class="form-control">
                                            <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.selectedLocations">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="input-group">
                                        <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.getLocations()">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getLocations()" type="button" class="btn default"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                    <div ui-grid="vm.locationOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                </div>
                                <div ng-switch-when="group">
                                    <div class="form-group">
                                        <label class="control-label">@L("Groups") - @L("Count") :{{ vm.selectedGroups.length }}</label>
                                        <ui-select multiple ng-model="vm.selectedGroups" ng-change="vm.setLocationGroupSelection()" class="form-control">
                                            <ui-select-match placeholder=@L("Group")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="group in vm.selectedGroups">
                                                <small>
                                                    @L("Name"): {{ group.name }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="input-group">
                                        <input ng-model="vm.filterGroupText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.getLocationGroups()">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getLocationGroups()" type="button" class="btn default"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>

                                    <div ui-grid="vm.locationGroupOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                </div>
                                <div ng-switch-when="tag">
                                    <div class="form-group">
                                        <label class="control-label">@L("Tags") - @L("Count") :{{ vm.selectedTags.length }} </label>
                                        <ui-select multiple ng-model="vm.selectedTags" ng-change="vm.setLocationTag()" class="form-control">
                                            <ui-select-match placeholder=@L("Tag")>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="location in vm.selectedTags">
                                                <small>
                                                    @L("Name"): {{ location.name }}
                                                    <br />
                                                    @L("Code"): {{ location.code }}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="input-group">
                                        <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" enter-key="vm.getLocationTags()">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getLocationTags()" type="button" class="btn default"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>

                                    <div ui-grid="vm.locationTagOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading='@L("RestrictLocation")' tabindex="2" ng-if="!vm.hideRestrictLocation" select="vm.selectRestrict()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">@L("Locations") - @L("Count") :{{ vm.selectedRestrictLocations.length }} </label>
                                <ui-select multiple ng-model="vm.selectedRestrictLocations" ng-change="vm.setRestrictLocationSelection()" class="form-control">
                                    <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="location in vm.selectedRestrictLocations">
                                        <small>
                                            @L("Name"): {{ location.name }}
                                            <br />
                                            @L("Code"): {{ location.code }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input-group">
                                <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getLocations()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>

                            <div ui-grid="vm.restrictLocationOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>
<style>
    .ui-grid-row, .ui-grid-cell {
        height: 30px !important;
    }
</style>