﻿@using DinePlan.DineConnect.Localization
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div>
    <form name="dineplanuserCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <div class="col-xs-6">
                <h4 class="modal-title">
                    <span> @L("User"): {{vm.userName }} - @L("Locations") </span>
                </h4>
            </div>
            <div class="col-xs-6 text-right">
                <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                @*<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="dineplanuserCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Change")</span>
                    </button>*@
            </div>
        </div>
        <div class="modal-body">
            <div class="row margin-top-10" ng-if="false">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Locations") - @L("Count") :{{ vm.selectedLocations.length }} <span> &nbsp;&nbsp;&nbsp; <a ng-click="vm.selectedLocations=[]; vm.defaultLocationRefId=null;">@L("RemoveAll")</a></span> </label>
                        <ui-select multiple ng-model="vm.selectedLocations" class="form-control borderself">
                            <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="location in vm.selectedLocations">
                                <small>
                                    @*@L("Name"): {{ location.name }}
                                        <br />*@
                                    @L("Code"): {{ location.code }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">@L("DefaultLocation")</label>
                        <ui-select class="borderself" ng-model="vm.defaultLocationRefId">
                            <ui-select-match id="defaultLocationRefId" placeholder="">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="location.id as location in vm.selectedLocations | filter: $select.search">
                                <div ng-bind="location.name"></div>
                                <small>
                                    city:<span ng-bind-html="locitems.city"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">@L("Company")</label>
                        <ui-select multiple ng-model="vm.allowedCompany" ng-change="vm.getLocations()" class="form-control">
                            <ui-select-match placeholder="">{{$item.displayText}}</ui-select-match>
                            <ui-select-choices repeat="company in vm.refcompany">
                                <small>
                                    @L("Name"): {{ company.displayText }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input ng-model="vm.filterLocationText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                        <span class="input-group-btn">
                            <button ng-click="vm.getLocations()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" busy-if="vm.loading">
                <div class="col-xs-12">
                    <div ui-grid="vm.locationOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                </div>
            </div>
        </div>
    </form>
</div>