<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="text-right">Comp</span>
        </h4>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>