﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<!DOCTYPE html>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{EMAIL_TITLE}</title>
</head>
<body>
    <div>
        <div id="content" busy-if="vm.loading">
            <center><h3> <b><u> @L("PurchaseOrder")</u></b></h3></center>
            <div class="row">
                <div class="col-xs-8">
                    <h4>    @L("PoReference"): {{vm.purchaseOrder.poReferenceCode}} </h4>
                </div>
                <div class="col-xs-4 text-right">
                    <h4>   @L("CreatedDate"): {{vm.purchaseOrder.poDate | date : 'dd-MMM-yy'}} </h4><br />
                    <h4>   @L("DeliveryDate"): {{vm.purchaseOrder.deliveryDateExpected | date : 'dd-MMM-yy'}} </h4><br />

                </div>
            </div>

            <div class="lineHr">.</div>

            <h4>
                <div class="row">
                    <div class="col-xs-12">
                        <b>   @L("Supplier") </b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{vm.headerline}}
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.supplierName.length>0">
                            {{vm.supplier.supplierName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.address1.length>0">
                            {{vm.supplier.address1}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.address2.length>0">
                            {{vm.supplier.address2}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.address3.length>0">
                            {{vm.supplier.address3}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.city.length>0">
                            {{vm.supplier.city}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.state.length>0">
                            {{vm.supplier.state}}
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="lineHr">.</div>

                <div>
                    <div class="row">
                        <div class="col-xs-6">
                            <b>   @L("BillingAddress")</b>
                        </div>
                        <div class="col-xs-6">
                            <b>  @L("ShippingAddress") </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.name}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.address1}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.address1}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.address2}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.address2}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.address3}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.address3}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.city}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.city}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.postalCode}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.postalCode}}
                        </div>
                    </div>
                </div>

            </h4>
            <hr />
            <div class="lineHr">.</div>

            <h4>
                <div class="row">
                    <div class="col-xs-12">
                        @L("PoDetailHeader")
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered col-xs-12">
                            <thead>
                                <tr>
                                    <th># . @L("Material")</th>
                                    <th class="text-right">@L("Qty")</th>
                                    <th class="text-right">@L("UOM")</th>
                                    <th class="text-right">@L("Cost")</th>
                                    <th class="text-right">@L("Total")</th>
                                    <th class="text-right">@L("Tax")</th>
                                    <th class="text-right">@L("LineTotal")</th>
                                </tr>
                            </thead>

                            <tr data-ng-repeat="(index,data) in vm.purchaseDetailPortion">
                                <td class="col-xs-4">
                                    {{data.sno}} . <b> {{data.materialRefName}} </b>
                                </td>
                                <td class="col-xs-1 text-right">
                                    <b>  {{data.qtyOrdered | number:2}}</b>
                                </td>
                                <td class="col-xs-1 text-right">
                                    {{data.uom}}
                                </td>
                                <td class="col-xs-1 text-right">
                                    {{data.price |number:2}}
                                </td>
                                <td class="col-xs-2 text-right">
                                    {{data.totalAmount |number:2}}
                                </td>
                                <td class="col-xs-1 text-right">
                                    {{data.taxAmount |number:2}}
                                </td>
                                <td class="col-xs-2 text-right">
                                    {{data.netAmount |number:2}}
                                </td>

                            </tr>
                            <tr>

                                <td class="col-xs-4 text-right"><b> @L("SubTotal") </b></td>
                                <td class="col-xs-1 text-right"></td>
                                <td class="col-xs-1 text-right"></td>
                                <td class="col-xs-1 text-right"></td>
                                <td class="col-xs-2 text-right">
                                    <b>  {{vm.subtotalamount |number:2}}</b>
                                </td>
                                <td class="col-xs-1 text-right">
                                    <b>  {{vm.subtaxamount |number:2}}</b>
                                </td>
                                <td class="col-xs-2 text-right">
                                    <b>  {{vm.subnetamount |number:2}}</b>
                                </td>

                            </tr>

                        </table>
                    </div>
                </div>
                <hr />
            </h4>
            <div class="lineHr">.</div>

            <div>
                <h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <b>@L("TermsConditions") </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{vm.headerline}}
                        </div>
                    </div>

                   
                    <div class="row">
                        <div class="col-xs-12">
                            @L("Term1")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @L("Term2")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @L("Term3")
                        </div>
                    </div>
                </h4>
            </div>
            <hr />
            <div class="lineHr">.</div>
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <small>  @L("SignNotRequired") </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>