﻿@model DineConect.Gateway.Web.Pagination.PaginationViewModel<DineConnect.Gateway.Core.Models.Data.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts {
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>
}
<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        <thead>
            <tr>
                <th>
                    #
                </th>

                <th>
                    Code
                </th>

                <th>
                    Name
                </th>

                <th>
                    Country
                </th>

                <th>
                    City
                </th>

                <th>
                    PlatformName
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.PaginatedContents())
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.PlatformName</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <ul class="pagination">
        @for (var i = 1; i <= Model.PageCount(); i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("Index", new {page = i})">@i</a>
            </li>
        }
    </ul>
