@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.connect.report.tillaccount.tillaccount as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("TillAccount").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="form-body" enter-key="vm.getOrders()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label>
                                    <ui-select multiple ng-model="vm.requestParams.locations" class="form-control">
                                        <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="location in vm.locations">
                                            <small>
                                                @L("Name"): {{ location.name }}
                                                <br />
                                                @L("Code"): {{ location.code }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Account") @L("Name")</label>
                                    <ui-select multiple ng-model="vm.requestParams.accountNames" class="form-control">
                                        <ui-select-match placeholder=@L("AccountName")>{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="accountname in vm.accountnames">
                                            <small>
                                                @L("Name"): {{ accountname.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("AccountType")</label>
                                    <ui-select multiple ng-model="vm.requestParams.accountTypes" class="form-control">
                                        <ui-select-match placeholder=@L("AccountType")>{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="accounttype in vm.processors">
                                            <small>
                                                @L("Name"): {{ accounttype.displayText }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            
                        </div>



                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-12 text-right">
                            <button class="btn red" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                            <button class="btn blue" ng-click="vm.getOrders()"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>