@using Humanizer
<div>
    <div>
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("Id")/@L("Number") : {{ vm.ticket.id }} / {{ vm.ticket.ticketNumber }}</span>
                <span class="text-right">@L("Location") : {{ vm.ticket.locationName }}</span>
            </h4>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("General")">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div class="form-group">
                                <label class="control-label">@L("TotalAmount"):</label>
                                <h3>{{ vm.ticket.totalAmount }}</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="form-group">
                                <label class="control-label">@L("RemainingAmount"):</label>
                                <h3>{{ vm.ticket.remainingAmount }}</h3>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("Terminal"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ticket.terminalName }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("TaxIncluded"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ticket.taxIncluded }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("TicketCreatedTime"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ctime }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("LastOrderTime"):</label>
                                <div class="col-sm-6">
                                    {{ vm.otime }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-6">@L("LastPaymentTime"):</label>
                                <div class="col-sm-6">
                                    {{ vm.ptime }}
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Orders")">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@L("MenuItemName")</th>
                                        <th>@L("Price")</th>
                                        <th>@L("Quantity")</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.ticket.orders">
                                        <td>
                                            <b ng-if="x.isPromotionOrder">{{x.menuItemName}}</b>
                                            <span ng-if="!x.isPromotionOrder">{{x.menuItemName}}</span>
                                            <table class="table table-hover" ng-if="x.transactionOrderTags.length>0">
                                                <tr>
                                                    <th>@L("TagName")</th>
                                                    <th>@L("TagValue")</th>
                                                    <th>@L("Price")</th>
                                                </tr>

                                                <tr ng-repeat="y in x.transactionOrderTags">
                                                    <td>
                                                        {{ y.tagName }}
                                                    </td>
                                                    <td>
                                                        {{ y.tagValue }}
                                                    </td>
                                                    <td>
                                                        {{ y.price }}
                                                    </td>
                                                </tr>
                                            </table>


                                        </td>
                                        <td>
                                            {{x.price}}
                                        </td>
                                        <td>
                                            {{x.quantity}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("OrderTag").Pluralize()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@L("OrderTagGroup")</th>
                                        <th>@L("OrderTag")</th>
                                        <th>@L("Price")</th>
                                        <th>@L("Quantity")</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.ticket.orders">
                                        <td>
                                            <b ng-if="x.isPromotionOrder">{{x.menuItemName}}</b>
                                            <span ng-if="!x.isPromotionOrder">{{x.menuItemName}}</span>
                                            <table class="table table-hover" ng-if="x.transactionOrderTags.length>0">
                                                <tr>
                                                    <th>@L("TagName")</th>
                                                    <th>@L("TagValue")</th>
                                                    <th>@L("Price")</th>
                                                </tr>

                                                <tr ng-repeat="y in x.transactionOrderTags">
                                                    <td>
                                                        {{ y.tagName }}
                                                    </td>
                                                    <td>
                                                        {{ y.tagValue }}
                                                    </td>
                                                    <td>
                                                        {{ y.price }}
                                                    </td>
                                                </tr>
                                            </table>


                                        </td>
                                        <td>
                                            {{x.price}}
                                        </td>
                                        <td>
                                            {{x.quantity}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Transaction")">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@L("TransactionName")</th>
                                        <th>@L("Amount")</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.ticket.transactions">
                                        <td>
                                            {{x.transactionTypeName}}
                                        </td>
                                        <td>
                                            {{x.amount}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Payments")">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@L("PayType")</th>
                                        <th>@L("Amount")</th>
                                        <th>@L("TenderedAmount")</th>
                                        <th>@L("Description")</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.ticket.payments">
                                        <td>
                                            {{x.paymentTypeName}}
                                        </td>
                                        <td>
                                            {{x.amount}}
                                        </td>
                                        <td>
                                            {{x.tenderedAmount}}
                                        </td>
                                        <td>
                                            {{x.paymentTags}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="@L("Credit")" ng-if="vm.credit">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div class="form-group">
                                <label class="control-label">@L("Reference"):</label>
                                <h3>{{ vm.ticket.referenceNumber }}</h3>
                            </div>
                        </div>
                    </div>

                </uib-tab>


            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
        </div>
    </div>
</div>