﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.cluster.delaggvariant.indexdelaggvariant as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("DelAggVariant")</span> <small>@L("DelAggVariantHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createDelAggVariant()">
                <i class="fa fa-plus"></i> @L("CreateDelAggVariant")
            </button>

        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DelAggVariantGroup") <a ng-click="vm.delAggVariantGroupId=null" ng-if="vm.delAggVariantGroupId!=null&&vm.delAggVariantGroupId>0">@L("Clear")</a></label>
                                    <ui-select class="borderself" ng-class="{'edited':vm.delAggVariantGroupId}" ng-model="vm.delAggVariantGroupId">
                                        <ui-select-match placeholder="Select Variant Group ...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="variantgroup.id as variantgroup in vm.variantgroups| filter: $select.search | limitTo: vm.uilimit ">
                                            <small>
                                                {{ variantgroup.name }}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Select") @L("Portion") <a ng-click="vm.delaggvariant.menuItemPortionId=0" ng-if="vm.delaggvariant.menuItemPortionId!=0&&vm.delaggvariant.menuItemPortionId>0">@L("Clear")</a></label>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" value='@L("Portion")' ng-if="vm.delaggvariant.menuItemPortionId==0" data-ng-click="vm.openforMenuItemPortions(vm.delaggvariant)">
                                        <input type="button" class="btn btn-primary" value="{{ vm.delaggvariant.menuItemPortionId }} - {{ vm.delaggvariant.portionName }}" ng-if="vm.delaggvariant.menuItemPortionId!=0" data-ng-click="vm.openforMenuItemPortions(vm.delaggvariant)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 margin-top-20">
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Name")" type="text">
                                </div>
                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <button type="submit" busy-text="@L("Clear")" class="btn btn-primary blue" ng-click="vm.getAllClear()">Clear</button>
                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <button ng-click="vm.getAll()" type="submit" busy-text="@L("Refresh")" class="btn btn-primary blue">Refresh</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>

