﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="departmentCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.department.id">@L("EditDepartment"): {{vm.department.name}}</span>
                <span ng-if="!vm.department.id">@L("CreateDepartment")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control ucase" type="text" name="Name" onblur="changetoupper(this)" ng-class="{'edited':vm.department.name}" ng-model="vm.department.name" required>
                        <label>@L("Name")</label>
                    </div>
                </div>

            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">@L("Location")</label>
                        <ui-select multiple ng-model="vm.requestlocations" class="form-control">
                            <ui-select-match placeholder=@L("Location")>{{$item.displayText}}</ui-select-match>
                            <ui-select-choices repeat="location in vm.locations">
                                <small>
                                    {{ location.displayText }}
                                </small>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>

            </div>*@


        </div>
        <div class="modal-footer">
            <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="departmentCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

