<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.house.housedashboard.housedashboard as vm">
<div class="row" busy-if="vm.loading">
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">@L("DateRange")</label>
            <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel"/>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="control-label">@L("Level")</label>
        <input class="form-control" onkeypress="return NumberOnly(event, 'alllocation');" type="text" id="drillDown" ng-class="{'edited':vm.drillDownLevel}" ng-model="vm.drillDownLevel" required>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">@L("Locations")</label>
            <ui-select multiple ng-model="vm.selectedLocations" class="form-control">
                <ui-select-match placeholder=@L("Location")>{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="location in vm.locations">
                    <small>
                        @L("Name"): {{ location.name }}
                        <br/>
                        @L("Code"): {{ location.code }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row" busy-if="vm.loading">
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">@L("Suppliers")</label>
            <ui-select multiple ng-model="vm.selectedSuppliers" class="form-control">
                <ui-select-match placeholder=@L("Supplier")>{{$item.supplierName}}</ui-select-match>
                <ui-select-choices repeat="supplier in vm.suppliers">
                    <small>
                        @L("Name"): {{ supplier.supplierName }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-xs-4">
        <button class="btn blue margin-top-20" ng-click="vm.dashBoardReportAsync()">
            @L("Refresh")
        </button>
    </div>

</div>
<div class="row" ng-if="vm.output.salesAndExpenses.length>0">

    <div class="col-md-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase"><b> @L("SalesVsExpenses") - {{vm.output.dateRemarks}}</b></span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="table-scrollable">
                    <table ng-table="vm.tableParams" class="table table-bordered table-hover" show-filter="true">
                        <tr ng-repeat="data in $data">
                            <td title="getLValue('dateRange')" filter="{ dateRange: 'text'}" sortable="'dateRange'">
                                <a ng-click="vm.graphDraw(data)">
                                    <h4>
                                        <b>{{data.dateRange}} </b>
                                    </h4>
                                </a>
                            </td>
                            <td title="getLValue('Sales')" filter="{ sales: 'text'}" align="right">
                                <h4 > {{data.sales | number : 0}} </h4>
                            </td>
                            <td title="getLValue('Deviation')" filter="{ salesDifferent: 'text'}" align="right">
                                <h4 ng-if="data.salesDifferent>=0">
                                    {{data.salesDifferent | number : 0}}
                                </h4>
                                <h4 ng-if="data.salesDifferent<0" class="font-red-intense">
                                    {{data.salesDifferent | number : 0}}
                                </h4>

                            </td>
                            <td title="'%'" filter="{ diffSalesPercentage: 'text'}" align="right">
                                <h4 ng-if="data.diffSalesPercentage>=0">
                                    {{data.diffSalesPercentage | number : 2}}
                                </h4>
                                <h4 ng-if="data.diffSalesPercentage<0" class="font-red-intense">
                                    {{data.diffSalesPercentage | number : 2}}
                                </h4>
                            </td>
                            <td title="getLValue('Purchases')" filter="{ purchases: 'text'}" align="right">
                                <h4> {{data.purchases | number : 0}} </h4>
                            </td>
                            <td title="getLValue('Deviation')" filter="{ purchasesDifferent: 'text'}" align="right">
                                <h4> {{data.purchasesDifferent | number : 0}} </h4>
                            </td>
                            <td title="'%'" filter="{ diffPurchasesPercentage: 'text'}" align="right">
                                <h4 ng-if="data.diffPurchasesPercentage>=0">
                                    {{data.diffPurchasesPercentage | number : 2}}
                                </h4>
                                <h4 ng-if="data.diffPurchasesPercentage<0" class="font-red-intense">
                                    {{data.diffPurchasesPercentage | number : 2}}
                                </h4>
                            </td>
                            <td title="getLValue('FoodCostPercentage')" filter="{ foodCostPercentage: 'text'}" align="right">
                                <h4 ng-if="data.foodCostPercentage>=0">
                                    {{data.foodCostPercentage | number : 2}}
                                </h4>
                                <h4 ng-if="data.foodCostPercentage<0" class="font-red-intense">
                                    {{data.foodCostPercentage | number : 2}}
                                </h4>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" busy-if="vm.loading" >
    <div class="col-xs-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject text-center font-green-haze bold uppercase">@L("Suppliers")</span>
                    <button ng-click="vm.supplierTopModify('-')">-</button>
                    <span class="caption-subject text-center font-blue bold">{{vm.supplierTop}}</span>
                    <button ng-click="vm.supplierTopModify('+')">+</button>
                    <button ng-click="vm.supplierChartTypeChange('PIE');">
                        <i class="fa fa-pie-chart"></i>
                    </button>
                    <button ng-click="vm.supplierChartTypeChange('BAR');">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button ng-click="vm.supplierChartTypeChange('LINE');">
                        <i class="fa fa-line-chart"></i>
                    </button>

                </div>


            </div>
            <div class="portlet-body">
                <div id="supplier_stats" style="height: 400px">
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

</div>

@*<div class="row" ng-if="vm.currentData.supplierWisePurchases.length > 0" busy-if="vm.loading">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered">
                <caption>
                        <b> @L("Suppliers")</b>
                </caption>
                <thead>
                <tr>
                    <th>@L("Supplier")</th>

                    <th class="text-right">@L("Purchases")</th>

                    <th class="text-right">@L("%")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.currentData.supplierWisePurchases">
                    <td class="col-xs-3">
                        <h4>
                            <a> {{data.supplierRefName}} </a>
                        </h4>
                    </td>
                    <td class="col-xs-2" align="right">
                        <h4 class="font-green-dark"> {{data.purchase | number : 0}} </h4>
                    </td>
                    <td class="col-xs-1" align="right">
                        <h4 class="font-green-dark"> {{data.purchase / vm.currentData.purchases*100 | number : 2}} </h4>

                    </td>
                </tr>

            </table>
        </div>
    </div>*@
<div class="row" busy-if="vm.loading">
    <div class="col-xs-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title text-right">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject text-center font-green-haze bold uppercase">@L("Materials")</span>
                    <button ng-click="vm.materialTopModify('-')">-</button>
                    <span class="caption-subject text-center font-blue bold">{{vm.materialTop}}</span>
                    <button ng-click="vm.materialTopModify('+')">+</button>
                    <button ng-click="vm.materialChartTypeChange('PIE');">
                        <i class="fa fa-pie-chart"></i>
                    </button>
                    <button ng-click="vm.materialChartTypeChange('BAR');">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button ng-click="vm.materialChartTypeChange('LINE');">
                        <i class="fa fa-line-chart"></i>
                    </button>
                </div>


            </div>
            <div class="portlet-body">
                <div id="material_stats" style="height: 400px">
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
@*<div class="row" ng-if="vm.currentData.materialWisePurchases.length > 0" busy-if="vm.loading">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered col-xs-8">
                <caption>
                    <b> @L("Materials")</b>
                </caption>
                <thead>
                <tr>
                    <th>@L("Material")</th> </>
                    <th class="text-right">@L("Quantity")</th>
                    <th class="text-right">@L("AvgPrice")</th>
                    <th class="text-right">@L("Purchase")</th>
                    <th class="text-right">@L("%")</th>
                </tr>
                </thead>

                <tr data-ng-repeat="(index,data) in vm.currentData.materialWisePurchases">
                    <td class="col-xs-3">
                        <h4>
                            <a> {{data.materialRefName}} </a>
                        </h4>
                    </td>
                    <td class="col-xs-2" align="right">
                        <h4 class="font-green-dark"> {{data.quantity | number : 2}} </h4>
                    </td>
                    <td class="col-xs-1" align="right">
                        <h4 class="font-green-dark"> {{data.avgPrice | number : 2}} </h4>
                    </td>
                    <td class="col-xs-2" align="right">
                        <h4 class="font-green-dark"> {{data.purchase | number : 2}} </h4>
                    </td>
                    <td class="col-xs-1" align="right">
                        <h4 class="font-green-dark"> {{data.purchase / vm.currentData.purchases*100 | number : 2}} </h4>
                    </td>
                </tr>

            </table>
        </div>
    </div>*@
</div>