﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading" >
    <div class="modal-header">
        <div class="col-xs-7">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.materialLedgerData.materialRefName}} - {{vm.materialLedgerData.uom}}</span>
            </h4>
            <h6><b> {{vm.startDate | date : 'yyyy-MMM-dd EEE'}} <span ng-if="vm.startDate!=vm.endDate"> - {{vm.endDate | date :'yyyy-MMM-dd EEE'}}</span> </b></h6>
        </div>
        <div class="col-xs-5 text-right">
            @*<button class="btn btn-primary blue" ng-click="vm.exportExcel()">
                <i class="fa fa-file-excel-o"></i>  @L("ExportToExcel")
            </button>*@
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">

        <div ng-if="vm.detailData.length==0">
            @L("NoRecordsFound")
        </div>

        <div class="row" ng-if="vm.detailData.length>0">
            <div class="col-xs-12" ng-if="vm.detailData.length>0">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                    <tr>
                        <th>#</th>
						<th>@L("Dept")</th>
                        <th>@L("Menu")</th>
                        <th class="text-right">@L("SoldQty")</th>
                        <th class="text-right">@L("PortionPerSale")</th>
                        <th class="text-right">@L("UOM")</th>
                        <th class="text-right">@L("Material") @L("Used") @L("Quantity")</th>
                       
                    </tr>
                </thead>

        <tr data-ng-repeat="(index,data) in vm.detailData">
            <td align="right">
                {{index+1}}
            </td>
			<td>
				{{data.departmentName}}
			</td>

            <td>
                {{data.posRefName}}
            </td>
            <td align="right">
                {{data.totalSaleQuantity | number : 8}}
            </td>
            <td align="right">
                {{data.portionPerUnitOfSales | number : 8}}
            </td>
            <td align="right">
                <span>{{vm.materialLedgerData.uom}}</span>
            </td>
            <td align="right">
                {{data.portionQty | number : 8}}
            </td>
          
        </tr>
        <tr>
            <td colspan="6" class="bold" align="right">
                @L("Total")
            </td>
            <td align="right" class="bold">
                {{vm.materialLedgerData.sales | number : 8}}
            </td>
        </tr>
    </table>
</div>
</div>
</div>
</div>