﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<div ng-controller="tenant.views.house.transaction.materialledger.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Movement").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right" ng-if="vm.permissions.view">
            <button class="btn btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>

            <button class="btn btn-primary blue" ng-click="vm.clear()">
                @L("Clear")
            </button>
            <button class="btn btn-primary blue" ng-click="vm.getAll('Refresh')">
                <i class="fa fa-refresh"></i>@L("Refresh")
            </button>
        </div>
    </div>
    <div class="portlet light" ng-if="vm.permissions.view">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Location")</label> <br/>
                                    <button class="btn btn-large green" ng-click="vm.openLocation()">
                                        <i class="fa fa-file"></i> <span>{{ vm.currentLocation }}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4" busy-if="vm.loading">
                                @*<div class="form-group">
            <label class="control-label">@L("MaterialName")</label>
            <ui-select class="borderself"  ng-model="vm.materialRefIds" ng-change="vm.getAll()" required>
                <ui-select-match placeholder="Select Material...">{{$select.selected.displayText}}</ui-select-match>
                <ui-select-choices repeat="material.value as material in vm.refmaterial | filter: $select.search | limitTo: vm.uilimit">
                    <div ng-bind="material.displayText"></div>
                </ui-select-choices>
            </ui-select>
        </div>*@
                                <div class="form-group">
                                    <label class="control-label">@L("Material") @L("List")</label>
                                    <ui-select class="borderself" multiple ng-model="vm.materialRefIds">
                                        <ui-select-match placeholder="Select Materials...">{{$item.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterials | filter: $select.search | limitTo: vm.uilimit ">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading || vm.loadingCount" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
        </div>
    </div>
</div>

