﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="modal-dialog" busy-if="vm.loading">
    <div class="modal-header">
        <div class="col-xs-9">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">{{vm.materialLedgerData.materialRefName}} -  {{vm.materialLedgerData.uom}} </span>
            </h4>
            <h6><b> {{vm.materialLedgerData.ledgerDate | date : 'yyyy-MMM-dd EEE'}} </b></h6>
        </div>
        <div class="col-xs-3 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-8">

            </div>
            <div class="col-xs-4">
                <a ng-if="!data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed" ng-click="vm.changeUnit(data)"><span><b> {{data.unitRefName}} </b> </span> </a>
                <ui-select id="selUnit" class="borderself" ng-value="data.unitRefName" ng-change="vm.unitReference($select.selected,data)" ng-model="data.unitRefId" ng-if="data.changeunitflag" ng-disabled="!vm.mutlipleUomAllowed">
                    <ui-select-match placeholder="@L("Unit")">{{$select.selected.displayText}}</ui-select-match>
                    <ui-select-choices ng-model="data.unitRefId" repeat="item.value as item in vm.refunit | filter: $select.search">
                        <div ng-bind="item.displayText"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Description")</th>
                            <th align="right">@L("Issued") </th>
                            <th align="right">@L("Received")</th>
                            <th ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></th>
                            <th ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">@L("Issued")</th>
                            <th ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">@L("Received")</th>
                        </tr>
                        <tr>
                            <th>@L("Unit")</th>
                            <th colspan="2" class="text-center" align="center">{{vm.materialLedgerData.uom}} </th>
                            <th ng-if="vm.isTransactionUnitDifferentWithDefaultUnit"></th>
                            <th ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" colspan="2" class="text-center" align="center">{{vm.transactionUnitRefName}} </th>
                        </tr>
                    </thead>

                    <tr>
                        <td>
                            @L("OpenBalance")
                        </td>
                        <td align="right"></td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.openBalance}}</span>
                        </td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.openBalance | number : vm.decimalPlaceRounding}}</td>

                    </tr>

                    <tr>
                        <td>
                            @L("ReceivedOrProduction")
                        </td>
                        <td align="right"></td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.received}}</span>
                        </td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.received | number : vm.decimalPlaceRounding}}</td>
                    </tr>
                    <tr>
                        <td>
                            @L("PurchaseReturn")
                        </td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.supplierReturn}}</span>
                        </td>
                        <td align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.supplierReturn | number : vm.decimalPlaceRounding}}</td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                    </tr>

                    <tr>
                        <td>
                            @L("Issued")
                        </td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.issued}}</span>
                        </td>
                        <td align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.issued | number : vm.decimalPlaceRounding}}</td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                    </tr>
                    <tr>
                        <td>
                            <a ng-click="vm.detailDataShown('Sales')">@L("Sales")</a>
                        </td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.sales }}</span>
                        </td>
                        <td align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.sales | number : vm.decimalPlaceRounding}}</td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                    </tr>
                    <tr>
                        <td>
                            @L("TransferIn")
                        </td>
                        <td align="right"></td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.transferIn}}</span>
                        </td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.transferIn | number : vm.decimalPlaceRounding}}</td>
                    </tr>

                    <tr>
                        <td>
                            @L("TransferOut")
                        </td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.transferOut}}</span>
                        </td>

                        <td align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.transferOut | number : vm.decimalPlaceRounding}}</td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                    </tr>

                    <tr>
                        <td>
                            @L("ExcessReceived")
                        </td>
                        <td align="right"></td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.excessReceived}}</span>
                        </td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.excessReceived | number : vm.decimalPlaceRounding}}</td>
                    </tr>


                    <tr>
                        <td>
                            @L("Shortage")
                        </td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.shortage}}</span>
                        </td>
                        <td align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.shortage | number : vm.decimalPlaceRounding}}</td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                    </tr>

                    <tr>
                        <td>
                            @L("Damaged")
                        </td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.damaged}}</span>
                        </td>
                        <td align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.damaged | number : vm.decimalPlaceRounding}}</td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                    </tr>

                    <tr>
                        <td>
                            @L("Return")
                        </td>
                        <td align="right"></td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.return}}</span>
                        </td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.return | number : vm.decimalPlaceRounding}}</td>
                    </tr>
                    <tr>
                        <td>
                            @L("ClBalance")
                        </td>
                        <td align="right"></td>
                        <td align="right">
                            <span>{{vm.materialLedgerData.clBalance}}</span>
                        </td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right"></td>
                        <td ng-if="vm.isTransactionUnitDifferentWithDefaultUnit" align="right">{{vm.transactionUnitmaterialLedgerData.clBalance | number : vm.decimalPlaceRounding}}</td>
                    </tr>
                </table>
            </div>

            @*<div class="row" ng-if="false">
                    <div class="col-sm-12 text-center">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.openBalance}}</span>
                                @L("OpenBalance")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.received}}</span>
                                @L("ReceivedOrProduction")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.issued}}</span>
                                @L("Issued")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.transferIn}}</span>
                                @L("TransferIn")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.transferOut}}</span>
                                @L("TransferOut")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.excessReceived}}</span>
                                @L("ExcessReceived")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.shortage}}</span>
                                @L("Shortage")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.damaged}}</span>
                                @L("Damaged")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.return}}</span>
                                @L("Return")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.clBalance}}</span>
                                @L("ClBalance")
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="row" ng-if="false">
                    <div class="col-sm-12 text-center">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.openBalance}}</span>
                                @L("OpenBalance")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.received}}</span>
                                @L("ReceivedOrProduction")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.issued}}</span>
                                @L("Issued")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.transferIn}}</span>
                                @L("TransferIn")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.transferOut}}</span>
                                @L("TransferOut")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.excessReceived}}</span>
                                @L("ExcessReceived")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.shortage}}</span>
                                @L("Shortage")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.damaged}}</span>
                                @L("Damaged")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.return}}</span>
                                @L("Return")
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{vm.materialLedgerData.clBalance}}</span>
                                @L("ClBalance")
                            </li>
                        </ul>

                    </div>
                </div>*@
        </div>
    </div>
</div>