@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.printtemplate.detail as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="vm.printTemplate.id">@L("EditPrintTemplate"): {{vm.printTemplate.name}}</span>
                        <span ng-if="!vm.printTemplate.id">@L("CreatePrintTemplate")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <uib-tabset id="tabs" class="tab-container tabbable-line">
                    <uib-tab heading="@L("PrintTemplate")" tabindex="1" active="vm.tabone">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Name")</label>
                                    <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.printConfiguration.name}"
                                           ng-model="vm.printConfiguration.name" required>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row" ng-if="vm.printConfiguration.id">
                            <div class="row" busy-if="vm.loading" ng-if="vm.printConfiguration.id">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject bold uppercase">
                                                @L("PrintTemplate")
                                            </span>
                                        </div>
                                        <div class="actions pull-right">
                                            <a ng-click="vm.clearFilterLocation()" class="btn btn-circle btn-default">
                                                <i class="fa fa-eraser"></i> @L("Clear")
                                            </a>
                                            <a ng-click="vm.openFilterLocation()" class="btn btn-circle btn-default">
                                                <i class="fa fa-search"></i> @L("Filter")
                                            </a>

                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row" busy-if="vm.loading">
                                            <div ui-grid="vm.printtemplateOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="@L("Mapping")" tabindex="2" active="vm.tabtwo" ng-if="vm.printConfiguration.id">
                        <div class="panel panel-info margin-top-15">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h3 class="panel-title bold">
                                    @L("Template")
                                </h3>
                            </div>
                            <div id="collapse1" class="collapse in">
                                <div class="panel-body">

                                    <div class="row  margin-top-20">
                                        <div class="col-md-6">
                                            <h3>@L("Image").Pluralize() </h3>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>@L("Name") </th>
                                                        <th>@L("Actions")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(fileIndex, file) in vm.replyFiles">
                                                        <td>
                                                            <strong>{{ file.fileName }}</strong>
                                                        </td>
                                                        <td nowrap>
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="vm.downloader(file)">
                                                                <span class="glyphicon  glyphicon-download-alt"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileIndex)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-6" style="margin-bottom: 40px">
                                            <h3>@L("Select") </h3>
                                            <input type="file" nv-file-select="" uploader="vm.uploader" accept="image/*" style="display: inline;" />
                                            <button ng-if="vm.uploader.queue.length" type="button" class="btn btn-success btn-xs" title="Upload"
                                                    ng-click="vm.uploadFile(true)"
                                                    ng-disabled="vm.uploader.queue[vm.uploader.queue.length-1].isReady || vm.uploader.queue[vm.uploader.queue.length-1].isUploading || vm.uploader.queue[vm.uploader.queue.length-1].isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row  margin-top-30">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">@L("AliasName")</label>
                                                        <input class="form-control" type="text" name="AliasName" ng-class="{'edited':vm.printTemplate.aliasName}"
                                                               ng-model="vm.printTemplate.aliasName">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 margin-top-20">
                                                    <button class="btn btn-large green" ng-click="vm.openLocation()">
                                                        @L("Location")
                                                    </button>
                                                </div>
                                                <div class="col-md-3 margin-top-20">
                                                    <div class="md-checkbox">
                                                        <input id="MergeLines" class="md-check" type="checkbox" ng-model="vm.printTemplate.mergeLines">
                                                        <label for="MergeLines">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            @L("MergeLines")
                                                        </label>
                                                    </div>
                                                </div>
                                    </div>

                                    <div class="row  margin-top-20">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">@L("Contents")</label>
                                                <textarea class="form-control" ng-model="vm.printTemplate.contents" rows="5"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row pull-right">
                                        <div class="col-lg-2 margin-top-20">
                                            <button type="button" class="btn btn-primary" ng-click="vm.savePortion()">@L("Add")</button>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
               </uib-tab>
                    </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()" ng-hide="vm.tabtwo==true">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-hide="vm.tabtwo==true">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </div>

</div>