﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 40%;
    }
</style>

<div @*class="modal-dialog"*@>

    <form role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.autoMode=='PO'">@L("AutoPoSetting")</span>
                <span ng-if="vm.autoMode=='REQUEST'">@L("AutoRequestSetting")</span>
            </h4>
        </div>
        <br />
        <div class="m-heading-1 border-green m-bordered" id="viewfile">
            <p ng-if="vm.autoMode=='PO'"> @L("AutoPoSettingTemplate") </p>
            <p ng-if="vm.autoMode=='REQUEST'"> @L("AutoRequestSettingTemplate") </p>
        </div>
        <br />

        <div class="modal-body">
            <div class="margin-left-20">
                <div class="md-checkbox">
                    <input id="RolBased" class="md-check" type="checkbox" name="RolBased" ng-class="{'edited':vm.autoPoSetting.rolBased}" ng-model="vm.autoPoSetting.rolBased" ng-disabled="vm.autoPoSetting.requestBased" style="text-decoration: line-through;">
                    <label for="RolBased">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("RolBased")
                    </label>
                </div>
            </div>

            <hr />

            <div class="margin-left-20">
                <div class="md-checkbox">
                    <input id="requestBased" class="md-check" type="checkbox" name="requestBased" ng-class="{'edited':vm.autoPoSetting.requestBased}" ng-model="vm.autoPoSetting.requestBased" ng-disabled="vm.autoPoSetting.rolBased" style="text-decoration: line-through;">
                    <label for="requestBased">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Request") @L("Based")
                    </label>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button name="cancel" type="button" class="btn "
                    ng-click="vm.cancel()">
                @L("Cancel")
            </button>
            <button name="save" type="submit" class="btn btn-primary" ng-click="vm.save()">
                @L("GeneratePo")
            </button>
        </div>

    </form>
</div>