﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />


<div ng-controller="tenant.views.house.transaction.purchaseorder.createBulkPurchaseOrder as vm">
    <div class="portlet light" ng-hide="vm.addedPoList.length>0">
        <div class="portlet-body">
            <div class="form">
                <form name="poForm">
                    <div class="form-body" busy-if="vm.loading || vm.loadingCount">
                        <div class="row" busy-if="vm.loading">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">@L("SupplierName")</label>
                                    <ui-select class="borderself" ng-model="vm.supplierRefId" ng-change="vm.fillDropDownMaterial();" required>
                                        <ui-select-match id="selsupplierRefId" placeholder="Select Supplier...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refsupplier | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div id="deliverdate" class="form-group">
                                    <label class="control-label">@L("DeliveryDate")</label>
                                    <input name="dueDate" id="dueDate" class="form-control date-picker"
                                           ng-class="{'edited':vm.deliveryDateExpected}" ng-model="vm.deliveryDateExpected" required />
                                </div>

                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <button class="btn btn-group-justified btn-large green" ng-click="vm.openLocation()">
                                    <i class="fa fa-file"></i> <span>@L("Locations")</span>
                                </button>
                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <div class="form-group">
                                    <button class="btn blue" ng-click="vm.generateData()"><i class="fa fa-refresh"></i> </button>
                                </div>
                            </div>
                            <div class="col-xs-1 margin-top-20">
                                <div class="form-group" @*ng-if="vm.supplierRefId && vm.locationList.length>0" *@>
                                    <button class="btn blue" ng-click="vm.resetField()"><i class="fa fa-eraser"></i> </button>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right" ng-hide="vm.addedPoList.length>0" ng-if="vm.bulkPodata.length>0 && vm.locationList.length>0">
                                <div class="form-group">
                                    <button class="btn btn-primary" ng-click="vm.generateBulkPo()"><i class="fa fa-save"></i> @L("Generate") @L("Bulk") @L("PurchaseOrder") </button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.bulkPodata.length>0">
                            <div class="col-xs-3">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="Filter @L("MaterialName")" type="text">
                            </div>
                        </div>
                        <hr />
                        <div id="fixcolum">
                            <style>
                                #fixcolum {
                                    overflow: auto;
                                    width: 100%;
                                    height: 600px;
                                }

                                    #fixcolum.td,
                                    #fixcolum.th {
                                        border: 1px solid #000;
                                        width: 100px;
                                    }

                                    #fixcolum.th {
                                        background-color: white;
                                    }

                                    #fixcolum.table {
                                        table-layout: fixed;
                                        width: 70vh;
                                    }

                                    #fixcolum.td:first-child, #fixcolum.th:first-child {
                                        position: sticky;
                                        left: 0;
                                        z-index: 1;
                                        background-color: white;
                                        width: 500px;
                                    }

                                    #fixcolum.td:last-child, #fixcolum.th:last-child {
                                        position: sticky;
                                        right: 0;
                                        z-index: 1;
                                        background-color: white;
                                        text-align: right;
                                        width : 50px
                                    }

                                    /*
                                    td:nth-child(2n), th:nth-child(2n) {
                                        position: sticky;
                                        right: 0;
                                        z-index: 1;
                                        background-color: white;
                                    }*/



                                    #fixcolum.thead #fixcolum.tr #fixcolum.th {
                                        position: sticky;
                                        top: 0;
                                        text-align: center;
                                    }

                                    #fixcolum.th:first-child, #fixcolum.th:last-child {
                                        z-index: 2;
                                        background-color: blue;
                                    }
                            </style>
                            <table id="bulkPo" ng-if="vm.bulkPodata.length>0" class="table-striped table-bordered" busy-if="vm.loading || vm.loadingCount">
                                <thead>
                                    <tr>
                                        <th>
                                            Material
                                        </th>
                                        <th height="5%">UOM</th>

                                        <th height="50px" class="text-center" ng-repeat="col in vm.columns">{{col.title}}</th>
                                        <th height="100px">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index,data) in vm.bulkPodata | filter : vm.filterText">
                                        <td>
                                            {{data.materialName}}
                                        </td>
                                        <td>
                                            {{data.uom}}
                                        </td>

                                        <td ng-repeat="(locindex,locdata) in vm.columns">
                                            @*{{row[col.field]}}*@
                                            <input id="{{'qty-' + row + col }}" type="text" @*ng-change="amtCalc(data,data.qtyOrdered,data.price)"*@ ng-change="vm.addintoTotalQty(data)" class="form-control text-right"
                                                   onkeypress="return NumberWithPointPassingText(this.value,event,null,true)" maxlength="15" ng-model="data.locationWiseRequestQty[locindex]" @*ng-disabled="!data.materialRefId"*@ ng-attr-id="{{'qty-' + row + col }}" @*placeholder="{{row[col.field]}}"*@ @*ng-keypress="vm.qtyKeyPress(index,$event)"*@ />
                                        </td>
                                        <td>
                                            {{data.totalRequestQty | number : 2}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="portlet light" ng-if="vm.addedPoList.length>0">
        <div class="portlet-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table-striped table-bordered" busy-if="vm.loading || vm.loadingCount">
                        <thead>
                            <tr>
                                <th>
                                    @L("Location") /  @L("Reference")
                                </th>
                                <th class="text-right">@L("Id")</th>
                                <th>@L("Date")</th>
                                @*<th>Supplier</th>*@
                                @*<th>Shipping Location</th>*@
                                @*<th>Status</th>*@
                                <th>@L("View")</th>
                                <th>@L("Print")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(index,data) in vm.addedPoList">
                                <td>
                                    {{data.shippingLocationName}}
                                    <br />
                                    {{data.poReferenceCode}}
                                </td>
                                <td>
                                    {{data.id}}
                                </td>
                                <td>
                                    {{data.poDate | date : 'dd-MMM-yyyy'}}
                                </td>
                                @*<td>
                                        {{data.supplierName}}
                                    </td>*@
                                @*<td width="250px"">
                                        {{data.shippingLocationName}}
                                    </td>*@
                                @*<td>
                                        {{data.poCurrentStatus}}
                                    </td>*@
                                <td class="text-right">
                                    <a ng-click="vm.viewPoDetail(data)"><i class="fa fa-eye"></i> </a>
                                </td>
                                <td class="text-right">
                                    <a ng-click="vm.printPo(data)"><i class="fa fa-print"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>