﻿
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div>
    <form role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                    <span ng-if="vm.purchaseorder.id">@L("EditPurchaseOrder"): {{vm.purchaseorder.id}}</span>
                    <span ng-if="!vm.purchaseorder.id">@L("CreatePurchaseOrder")</span>
            </h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group" id="filebrowse">
                <label>@L("UploadDocument")</label>
                <br />
                <input id="fileinput" type="file" nv-file-select size="70" uploader="vm.uploader"/>
                <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            </div>*@
            <div class="m-heading-1 border-green m-bordered" id="viewfile" >
                <p> @L("DownloadTemplate_Info") </p>
                <a href="{{ vm.importpath }}">@L("ViewUploadedDocument")</a>
            </div>
        </div>

     
        <div class="modal-footer">
            <button name="cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
          
        </div>
    </form>
</div>
