﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 85%;
    }

    .fontreport {
        font-family : 'Courier New';
        font-size : medium
    }
</style>

<div class="modal-dialog ">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="modal-title">
                    <span class="caption-subject bold uppercase">@L("PurchaseOrder").Pluralize() - {{vm.porefnumber}} - {{vm.podate | date : YYYY-MMM-DD }}</span>
                </h4>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary blue" ng-disabled="!vm.manualCompleteAllowed" ng-click="vm.setPoAsCompletion()">
                    @L("SetPoAsCompletion")
                </button>

                <button class="btn btn-default" ng-click="vm.cancel()">
                    @L("Close")
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("SupplierName") - {{vm.supplierRefName}}
                </span>
            </div>
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("Amount") - {{vm.poNetAmount}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("Location") - {{vm.locationRefName}}
                </span>
            </div>
            <div class="col-xs-6">
                <span class="caption-subject bold uppercase">
                    @L("ShippingLocation") - {{vm.shippingLocationRefName}}
                </span>
            </div>
        </div>
    </div>
   

    <div class="modal-body" ng-show="!vm.poreport.length">
        <div class="portlet light">
            <div ng-if="vm.caterQuoteDetails.length>0" style="color:blue;">
                <h4> This Purchase order prepared for the following Catering Order Details</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-striped table-bordered col-xs-12" style="font-size:30pt;">
                            <thead style="font-size:30pt;">
                                <tr>
                                    <th>@L("Order") #</th>
                                    <th>@L("Customer")</th>
                                    <th>@L("DateTime")</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="(index,data) in vm.caterQuoteDetails" style="font-size:15pt;">
                                <td class="col-xs-2">
                                    {{data.id}}
                                </td>
                                <td class="col-xs-4">
                                    <b> {{data.caterCustomerCustomerName}} </b>
                                </td>
                                <td class="col-xs-4">
                                    {{data.eventDateTime | date : 'dd-MMM-yyyy HH:mm'}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div busy-if="vm.loading">
                    <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>

        </div>
        


    </div>
    <center>
        <div ng-show="vm.poreport.length>0">
            <textarea class="fontreport" name="text" rows="50" cols="120">{{vm.poreport}}</textarea>
        </div>
    </center>
    <div id="regReport" >

    </div>
</div>