﻿

<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>

<script src="~/libs/jsPDF-1.2.60/jspdf.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet"/>

<div ng-controller="tenant.views.house.transaction.purchaseorder.PoPrint as vm">
    <form>
        <div busy-if="vm.loading">

            <div class="col-xs-12" style="align-content: center" ng-if="vm.companyProfilePictureId">
                <div class="center-block">
                    <img ng-dblclick="vm.changePicture(null)" ng-if="vm.companyProfilePictureId"
                         ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.companyProfilePictureId}}"
                         class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                    <img ng-dblclick="vm.changePicture(vm.company.id)" ng-if="!vm.companyProfilePictureId"
                         src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="100" height="50" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                </div>
            </div>
            <div id="divprintemail" class="row">
                <div class="col-xs-12 text-right" ng-show="vm.printmailflag">
                    <a ng-click="vm.printmailflag=false;">
                        <span class="" data-toggle="tooltip" title="Click to print or export to pdf" data-placement="top">
                            <i class="fa fa-print" onclick="myFunction()"></i>
                        </span>
                    </a>
                    <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
                    <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
                    <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
                    <a ng-click="vm.sendMail()">
                        <span data-toggle="tooltip" title="Click to send mail to Supplier" data-placement="top" class="">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </a>
                    <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
                    <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
                    <span>&nbsp; &nbsp;&nbsp; &nbsp;</span>
                </div>
            </div>

            <div id="editor"></div>
            <center>
                <h5>
                    <b>
                        <u> @L("PurchaseOrder")</u>
                    </b>
                </h5>
            </center>
            <div class="row">
                <div class="col-xs-8">
                    <span class="bold"> @L("Date"): {{vm.purchaseOrder.poDate | date : 'dd-MMM-yy'}} </span>
                    <span> &nbsp;&nbsp; ,  &nbsp;&nbsp;  &nbsp;&nbsp;</span>
                    <span class="bold"> @L("PoReference"): {{vm.purchaseOrder.poReferenceCode}} </span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="bold"> @L("DeliveryDate"): {{vm.purchaseOrder.deliveryDateExpected | date : 'dd-MMM-yy'}} </span>
                </div>
            </div>

            <div class="lineHr">.</div>

            <h6>
                <b> @L("Supplier") </b><br />
                <div style="height: 50%; width: 50%;">
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.supplierName.length>0">
                            {{vm.supplier.supplierName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.address1.length>0">
                            {{vm.supplier.address1}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.address2.length>0">
                            {{vm.supplier.address2}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.address3.length>0">
                            {{vm.supplier.address3}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.city.length>0">
                            {{vm.supplier.city}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="vm.supplier.state.length>0">
                            {{vm.supplier.postalCode}}
                        </div>
                    </div>
                </div>

                <div class="lineHr">.</div>

                <div>
                    <div class="row">
                        <div class="col-xs-6">
                            <b> @L("BillingAddress")</b>
                        </div>
                        <div class="col-xs-6">
                            <b> @L("ShippingAddress") </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.name}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.address1}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.address1}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.address2}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.address2}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.address3}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.address3}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.city}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.city}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            {{vm.company.postalCode}}
                        </div>
                        <div class="col-xs-6">
                            {{vm.shippinglocation.postalCode}}
                        </div>
                    </div>
                </div>
            </h6>
            <div class="lineHr">.</div>
            <div id="content" busy-if="vm.loading" ng-if="vm.purchaseDetailPortion.length>=5">
                <h6>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered col-xs-12">
                                <thead>
                                    <tr>
                                        <th># . @L("Material")</th>
                                        <th class="text-right">@L("Qty")</th>
                                        <th class="text-right">@L("UOM")</th>
                                        <th class="text-right">@L("Cost")</th>
                                        <th class="text-right">@L("Total")</th>
                                        <th class="text-right">@L("Tax")</th>
                                        <th class="text-right">@L("LineTotal")</th>
                                    </tr>
                                </thead>

                                <tr data-ng-repeat="(index,data) in vm.purchaseDetailPortion">
                                    <td class="col-xs-4" style="font-size: 10px">
                                        {{data.sno}} . <b> {{data.materialRefName}} </b>
                                        <span style="color: blue" ng-if="data.supplierMaterialAliasName.length>0">
                                            @L("SupplierMaterialAliasName"): <span> {{data.supplierMaterialAliasName}}</span>
                                        </span>

                                    </td>
                                    <td class="col-xs-1 text-right" style="font-size: 10px">
                                        <b> {{data.qtyOrdered | number:vm.housedecimals}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right" style="font-size: 10px">
                                        {{data.unitRefName}}
                                    </td>
                                    <td class="col-xs-1 text-right" style="font-size: 10px">
                                        {{data.price |number:vm.connectdecimals}}
                                    </td>
                                    <td class="col-xs-2 text-right" style="font-size: 10px">
                                        {{data.totalAmount |number:vm.connectdecimals}}
                                    </td>
                                    <td class="col-xs-1 text-right" style="font-size: 10px">
                                        {{data.taxAmount |number:vm.connectdecimals}}
                                    </td>
                                    <td class="col-xs-2 text-right" style="font-size: 10px">
                                        {{data.netAmount |number:vm.connectdecimals}}
                                    </td>

                                </tr>
                                <tr>

                                    <td class="col-xs-4 text-right">
                                        <b> @L("SubTotal") </b>
                                    </td>
                                    <td class="col-xs-1 text-right"></td>
                                    <td class="col-xs-1 text-right"></td>
                                    <td class="col-xs-1 text-right"></td>
                                    <td class="col-xs-2 text-right">
                                        <b> {{vm.subtotalamount |number:vm.connectdecimals}}</b>
                                    </td>
                                    <td class="col-xs-1 text-right">
                                        <b> {{vm.subtaxamount |number:vm.connectdecimals}}</b>
                                    </td>
                                    <td class="col-xs-2 text-right">
                                        <b> {{vm.subnetamount |number:vm.connectdecimals}}</b>
                                    </td>

                                </tr>

                            </table>
                        </div>
                    </div>
                </h6>
            </div>

            <div id="smallcontent" busy-if="vm.loading" ng-if="vm.purchaseDetailPortion.length<5">

                <h6>
                    <table class="table table-striped table-bordered col-xs-12" style="font-size: 30pt;">
                        <thead style="font-size: 30pt;">
                            <tr>
                                <th># . @L("Material")</th>
                                <th class="text-right">@L("Qty")</th>
                                <th class="text-right">@L("UOM")</th>
                                <th class="text-right">@L("Cost")</th>
                                <th class="text-right">@L("Total")</th>
                                <th class="text-right">@L("Tax")</th>
                                <th class="text-right">@L("LineTotal")</th>
                            </tr>
                        </thead>

                        <tr data-ng-repeat="(index,data) in vm.purchaseDetailPortion" style="font-size: 15pt;">
                            <td class="col-xs-4">
                                {{data.sno}} . <b> {{data.materialRefName}} </b>
                                <span style="color: blue" ng-if="data.supplierMaterialAliasName.length>0">
                                    @L("SupplierMaterialAliasName"): <span> {{data.supplierMaterialAliasName}}</span>
                                </span>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> {{data.qtyOrdered | number: vm.housedecimals}}</b>
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.unitRefName}}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.price |number:vm.connectdecimals}}
                            </td>
                            <td class="col-xs-2 text-right">
                                {{data.totalAmount |number:vm.connectdecimals}}
                            </td>
                            <td class="col-xs-1 text-right">
                                {{data.taxAmount |number:vm.connectdecimals}}
                            </td>
                            <td class="col-xs-2 text-right">
                                {{data.netAmount |number:vm.connectdecimals}}
                            </td>

                        </tr>
                        <tr style="font-size: 15pt;">
                            <td class="col-xs-4 text-right">
                                <b> @L("SubTotal") </b>
                            </td>
                            <td class="col-xs-1 text-right"></td>
                            <td class="col-xs-1 text-right"></td>
                            <td class="col-xs-1 text-right"></td>
                            <td class="col-xs-2 text-right">
                                <b> {{vm.subtotalamount |number:vm.connectdecimals}}</b>
                            </td>
                            <td class="col-xs-1 text-right">
                                <b> {{vm.subtaxamount |number:vm.connectdecimals}}</b>
                            </td>
                            <td class="col-xs-2 text-right">
                                <b> {{vm.subnetamount |number:vm.connectdecimals}}</b>
                            </td>
                        </tr>

                    </table>
                </h6>
            </div>
            <div ng-if="vm.caterQuoteDetails.length>0" style="color: blue;">
                <h4> This Purchase order prepared for the following Catering Order Details</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-striped table-bordered col-xs-12" style="font-size: 30pt;">
                            <thead style="font-size: 30pt;">
                                <tr>
                                    <th>@L("Order") #</th>
                                    <th>@L("Customer")</th>
                                    <th>@L("DateTime")</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="(index,data) in vm.caterQuoteDetails" style="font-size: 15pt;">
                                <td class="col-xs-2">
                                    {{data.id}}
                                </td>
                                <td class="col-xs-4">
                                    <b> {{data.caterCustomerCustomerName}} </b>
                                </td>
                                <td class="col-xs-4">
                                    {{data.eventDateTime | date : 'dd-MMM-yyyy HH:mm'}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @L("CreatedBy") : {{vm.user.name}}
            <div>
                <h6>
                    <b>@L("TermsConditions") </b><br />
                    @L("Term1")<br />
                    @L("Term2")<br />
                    @L("Term3")<br />
                    <div class="lineHr">.</div>
                    <small> @L("SignNotRequired") </small>
                </h6>
                <br/>
                <a ng-click="vm.gotoIndex()" >@L("Redirect") @L("To")  @L("View")</a>
            </div>
        </div>

        <script>
            function myFunction() {
                document.getElementById("divprintemail").style.visibility = "hidden";
                myPrint();
            }

            function myPrint() {
                var scope = angular.element($("form")).scope();
                //var completedUnit = scope.completedUnit;
                //var heading = scope.pendingUnit;
                var tempTitle = document.title;
                document.title = scope.printTitle;
                window.print();
                document.title = tempTitle;
            }
        </script>
    </form>

</div>
