﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 85%;
    }

    .fontreport {
        font-family : 'Courier New';
        font-size : medium
            
    }
</style>



<div>
    <form role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="caption-subject bold uppercase">@L("PurchaseOrder").Pluralize() - {{vm.porefnumber}} - {{vm.podate | date : YYYY-MMM-DD }}</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <span class="caption-subject bold uppercase">
                        @L("SupplierName") - {{vm.supplierRefName}}
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="caption-subject bold uppercase">
                        @L("Date") - {{vm.podate | date : YYYY-MMM-DD }}
                    </span>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-xs-6">
                    <span class="caption-subject bold uppercase">
                        @L("Location") - {{vm.locationRefName}}
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="caption-subject bold uppercase">
                        @L("ShippingLocation") - {{vm.shippingLocationRefName}}
                    </span>
                </div>
            </div>
            <br /><br />
            <center>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group center-block">
                            <input id="fileinput" type="file" nv-file-select size="80" uploader="vm.uploader" ng-click="vm.changeVariable()" />
                            <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary" ng-click="vm.save()" ng-disabled="poForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>