﻿<style>
        .modal-dialog {
            width: 70%;
        }
    </style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-10">
            <h5 class="modal-title">
                <span class="caption-subject bold uppercase">@L("PreviousPurchasePrice") -  {{vm.materialRefName}} -  {{vm.uom}}</span>
            </h5>
        </div>
        <div class="col-xs-2 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div>

    </div>
    <div class="modal-body" busy-if="vm.loading" >
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Date")</th>
                            <th>@L("Supplier")</th>
                            <th align="right">@L("Quantity")</th>
                            <th ng-if="false" >@L("UOM")</th>
                            <th align="right">@L("Price")</th>
                            <th align="right">@L("Tax")</th>
                            <th align="right">@L("PriceWithTax")</th>
                        </tr>
                    </thead>

                    <tr ng-if="vm.norecordsfound">
                        <td colspan="7" >
                            <b> @L("NoPreviousPurchaseRecordsFound") </b>
                        </td>
                    </tr>
                    <tr data-ng-repeat="(index,data) in vm.previousPriceList">
                        <td class="col-xs-2">
                            {{data.purchaseDate | date : 'dd-MMM-yy' }}
                        </td>
                        <td class="col-xs-3">
                            {{data.supplierRefName}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.quantityPurchased | number :6}}
                        </td>
                        <td ng-if="false" class="col-xs-1 text-right">
                            {{vm.uom}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.price | number :3}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.tax | number :3}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.priceWithTax | number :3}}
                        </td>
                    </tr>
                  
                </table>
            </div>
        </div>
    </div>
</div>
