<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Excel")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">@L("Duration")</label>

                    <select class="form-control" ng-model="vm.duration">
                        <option value="D">@L("Date")</option>
                        <option value="S">@L("Summary")</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">@L("Type")</label>
                    <select class="form-control" ng-model="vm.exportOutput">
                        <option value="T">@L("TotalAmount")</option>
                        <option value="I">@L("Tickets")</option>
                        <option value="B">@L("Both")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row margin-top-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input id="AllLocations" class="md-check" type="checkbox" ng-model="vm.bylocation">
                            <label for="AllLocations">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Location")
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-file-excel-o"></i> @L("Excel")
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="vm.exportToSummary(0)">@L("Excel")</a>
                </li>
                <li>
                    <a ng-click="vm.exportToSummary(1)">@L("HTML")</a>
                </li>
                @*<li>
                    <a ng-click="vm.exportToSummary(2)">@L("PDF")</a>
                </li>*@
            </ul>
        </div>
        <button type="button" class="btn btn-default" ng-click="vm.close()">@L("Close")</button>
    </div>
</div>