<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="tenant.views.connect.report.hour.summary as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("HourlySales")</span> <small></small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-large green" ng-click="vm.openLocation()">
                <i class="fa fa-file"></i> <span>@L("Locations")</span>
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <div class="form">
                <form class="horizontal-form" id="MyLoginForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("DateRange")</label>
                                <input date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max" class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Department")</label>
                                <ui-select multiple ng-model="vm.requestParams.departments" class="form-control">
                                    <ui-select-match placeholder=@L("Department")>{{$item.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="dept in vm.departments">
                                        <small>
                                            {{ dept.displayText }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@L("Payment")</label>
                                <ui-select multiple ng-model="vm.requestParams.payments" class="form-control">
                                    <ui-select-match placeholder=@L("Payment")>{{$item.displayText}}</ui-select-match>
                                    <ui-select-choices repeat="payment.value as payment in vm.payments">
                                        <small>
                                            {{ payment.displayText }}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn red" ng-click="vm.excel()">
                                <i class="fa fa-file-excel-o"></i> @L("Excel")
                            </button>
                            <button class="btn blue" ng-click="vm.getResult()">
                                <i class="fa fa-refresh"></i> @L("Refresh")
                            </button>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-12" style="height: 400px" id="daychart">
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <div class="row" ng-if="vm.dayDetails.length>0">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@L("Hour")</th>
                                            <th>@L("Tickets")</th>
                                            <th class="text-right">@L("Total")</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="(productIndex, product) in vm.dayDetails">
                                        <td>{{ product.hour }}</td>
                                        <td>{{ product.tickets }}</td>
                                        <td align="right">
                                            {{  product.total | number:vm.decimals}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>{{ vm.sum(vm.dayDetails, "tickets")}}</td>
                                        <td align="right">{{ vm.sum(vm.dayDetails, "total") | number:vm.decimals}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>