﻿<script src="~/libs/ownScript/UserOwnModule.js"></script>

<script>
    $('input').each(function (i, e) {
        var label;
        switch ($(e).attr('id')) {
            case 'name':
                label = 'Name ';
                break;
        }
        $(e).tooltip({ 'trigger': 'focus', 'title': label,  'placement': 'bottom' });
    });
</script>

<div>
    <form name="customermaterialCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.customermaterial.id">@L("EditCustomerMaterial"): {{vm.customermaterial.id}}</span>
                <span ng-if="!vm.customermaterial.id">@L("CreateCustomerMaterial")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("CustomerName")</label>
                        <select id="customername" autofocus class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refcustomer" ng-model="vm.customermaterial.customerRefId" required></select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@L("MaterialName")</label>
                        <select id="seelid" class="form-control selectpicker" data_live_search="true" ng-options="vm.getComboValue(item) as item.displayText for item in vm.refmaterial" ng-model="vm.customermaterial.materialRefId" required></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberOnly(event, 'cancel')" class="form-control" type="text" name="MaterialPrice" ng-class="{'edited':vm.customermaterial.materialPrice}" ng-model="vm.customermaterial.materialPrice" required>
                        <label>@L("MaterialPrice")</label>
                    </div>
                </div>

                <div class="col-sm-6" ng-if="false">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="LastQuoteRefNo" ng-class="{'edited':vm.customermaterial.lastQuoteRefNo}" ng-model="vm.customermaterial.lastQuoteRefNo" required>
                        <label>@L("LastQuoteRefNo")</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6" ng-if="false">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("LastQuoteDate")</label>
                        <input class="datepicker" type="date" name="LastQuoteRefNo" ng-class="{'edited':vm.customermaterial.lastQuoteDate}" ng-model="vm.customermaterial.lastQuoteDate" required>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="customermaterialCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

