﻿<div ng-controller="tenant.views.addons.xero as vm">
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span class="caption-subject bold uppercase">@L("Xero")</span>
                </h1>
                <button ng-if="vm.isConnected" ng-click="vm.sync()" class="btn btn-primary">
                    Sync Sales
                </button>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-body">

        <div class="row">
            <div class="col-sm-3">
                <h2>@L("Xero")</h2>
            </div>
            <div class="col-sm-6">
                <div class="connect-buttton-container" ng-if="!vm.isConnected">
                    <a ng-href="{{vm.loginUrl}}" class="btn btn-primary">
                        <img src="~/Content/images/connect-blue.svg" />
                    </a>
                </div>
                <div ng-if="vm.isConnected">
                    <a ng-click="vm.disconnect()" class="btn btn-primary">
                        <img src="~/Content/images/disconnect-blue.svg" />
                    </a><br /><br />
                    <div class="md-checkbox">
                        <input id="createSeparateInvoice" class="md-check" type="checkbox" ng-model="vm.createSeparateInvoice">
                        <label for="createSeparateInvoice">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Separate Invoice for Payment
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="row margin-top-20" ng-if="vm.isConnected && !vm.createSeparateInvoice">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered">

                    <tr>
                        <td>Invoice Contact</td>
                        <td>
                            <select id="InvoiceContact"
                                    class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroContacts"
                                    ng-model="vm.xero.invoiceContact">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Sales Item</td>
                        <td>

                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="departmentTracking" class="md-check" type="checkbox" ng-model="vm.xero.departmentTracking">
                                    <label for="departmentTracking">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Department Tracking
                                    </label>
                                </div>
                            </div>

                            <select id="SalesItem"
                                    class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroItems"
                                    ng-model="vm.xero.saleItem">
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Payment Account</td>
                        <td>

                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="paymentTypeAccount" class="md-check" type="checkbox" ng-model="vm.xero.paymentTypeTracking">
                                    <label for="paymentTypeAccount">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Payment Tracking
                                    </label>
                                </div>
                            </div>
                            <select id="PaymentAccount"
                                    class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroAccounts"
                                    ng-model="vm.xero.defaultPaymentAccount">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Default Invoice Status</td>
                        <td>
                            <input type="text" ng-model="vm.xero.invoiceStatus"
                                   name="trackingName" class="form-control">
                            <code>Ref : https://developer.xero.com/documentation/api/invoices#status-codes </code>
                        </td>
                    </tr>
                    <tr>
                        <td>Tax Available</td>
                        <td>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="taxAvailable" class="md-check" type="checkbox" ng-model="vm.xero.taxAvailable">
                                    <label for="taxAvailable">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Enable")
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Category Tracking</td>
                        <td>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="categoryTracking" class="md-check" type="checkbox" ng-model="vm.xero.categoryTracking">
                                    <label for="categoryTracking">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Enable")
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.xero.categoryTracking">
                        <td>Category Tracking Name</td>
                        <td>
                            <input type="text" ng-model="vm.xero.categoryTrackingName"
                                   name="trackingName" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-top-20" ng-if="vm.isConnected && vm.xero.departmentTracking && !vm.createSeparateInvoice">
            <div class="col-md-12">

                <div class="pull-right">
                    <input type="button" class="btn btn-primary" value="@L("AddDepartment")" data-ng-click="vm.addDepartmentPortion()" />
                </div>
                <table class="table table-bordered table-hover">
                    <thead>

                        <tr>
                            <th>Actions</th>
                            <th>Department*</th>
                            <th>SaleItem*</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(productIndex, product) in vm.xero.departmentTrackings">
                        <td>
                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeDepartmentPortion(productIndex)">
                        </td>
                        <td>
                            <ui-select id="deparment" ng-model="product.departmentId">
                                <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices ng-model="product.refMenuItemId" repeat="item.value as item in vm.departments | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td>
                            <select class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroItems"
                                    ng-model="product.saleItem">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-top-20" ng-if="vm.isConnected && vm.xero.paymentTypeTracking && !vm.createSeparateInvoice">
            <div class="col-md-12">

                <div class="pull-right">
                    <input type="button" class="btn btn-primary" value="@L("AddPaymentType")" data-ng-click="vm.addPaymentTypePortion()" />
                </div>
                <table class="table table-bordered table-hover">
                    <thead>

                        <tr>
                            <th>Actions</th>
                            <th>PaymentType*</th>
                            <th>Account*</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(productIndex, product) in vm.xero.paymentTrackings">
                        <td>
                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removePaymentTypePortion(productIndex)">
                        </td>
                        <td>

                            <ui-select id="paymentType" ng-model="product.paymentTypeId">
                                <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices ng-model="product.refMenuItemId" repeat="item.value as item in vm.payments | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td>
                            <select class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroAccounts"
                                    ng-model="product.paymentAccount">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row margin-top-20" ng-if="vm.isConnected && vm.createSeparateInvoice">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered">

                    <tr>
                        <td>Default Department</td>
                        <td>

                            <select id="SalesItem"
                                    class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroItems"
                                    ng-model="vm.xero.saleItem">
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Default Payment Type</td>
                        <td>

                            <select id="PaymentAccount"
                                    class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroContacts"
                                    ng-model="vm.xero.defaultPaymentAccount">
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Tax Available</td>
                        <td>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="taxAvailable" class="md-check" type="checkbox" ng-model="vm.xero.taxAvailable">
                                    <label for="taxAvailable">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Enable")
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Category Tracking</td>
                        <td>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="categoryTracking" class="md-check" type="checkbox" ng-model="vm.xero.categoryTracking">
                                    <label for="categoryTracking">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Enable")
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.xero.categoryTracking">
                        <td>Category Tracking Name</td>
                        <td>
                            <input type="text" ng-model="vm.xero.categoryTrackingName"
                                   name="trackingName" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-top-20" ng-if="vm.isConnected && vm.createSeparateInvoice">
            <div class="col-md-12">

                <div class="pull-right">
                    <input type="button" class="btn btn-primary" value="@L("AddDepartment")" data-ng-click="vm.addDepartmentPortion()" />
                </div>
                <table class="table table-bordered table-hover">
                    <thead>

                        <tr>
                            <th>Actions</th>
                            <th>Department*</th>
                            <th>SaleItem*</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(productIndex, product) in vm.xero.departmentTrackings">
                        <td>
                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removeDepartmentPortion(productIndex)">
                        </td>
                        <td>
                            <ui-select id="deparment" ng-model="product.departmentId">
                                <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices ng-model="product.refMenuItemId" repeat="item.value as item in vm.departments | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td>
                            <select class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroItems"
                                    ng-model="product.saleItem">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-top-20" ng-if="vm.isConnected && vm.createSeparateInvoice">
            <div class="col-md-12">

                <div class="pull-right">
                    <input type="button" class="btn btn-primary" value="@L("AddPaymentType")" data-ng-click="vm.addPaymentTypePortion()" />
                </div>
                <table class="table table-bordered table-hover">
                    <thead>

                        <tr>
                            <th>Actions</th>
                            <th>PaymentType*</th>
                            <th>Account*</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(productIndex, product) in vm.xero.paymentTrackings">
                        <td>
                            <input type="button" class="btn btn-primary" value="-" data-ng-click="vm.removePaymentTypePortion(productIndex)">
                        </td>
                        <td>

                            <ui-select id="paymentType" ng-model="product.paymentTypeId">
                                <ui-select-match placeholder="*">{{$select.selected.displayText}}</ui-select-match>
                                <ui-select-choices ng-model="product.refMenuItemId" repeat="item.value as item in vm.payments | filter: $select.search">
                                    <div ng-bind="item.displayText"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td>
                            <select class="form-control selectpicker"
                                    data_live_search="true"
                                    ng-options="vm.getOptionValue(item) as item.displayText for item in vm.xeroContacts"
                                    ng-model="product.paymentAccount">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row margin-top-20" ng-if="vm.isConnected">
            <div class="col-sm-12">
                <button ng-click="vm.update()" class="btn btn-primary">
                    Update and Save
                </button>
            </div>
        </div>
    </div>
</div>
</div>