﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.schedule.event as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase"><span ng-if="vm.workMode == 'ADD'">@L("Create")</span> @L("Event")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <div class="
                 col-xs-12 col-sm-12 col-md-8 col-lg-8
                 col-xs-offset-0 col-sm-offset-0
                 col-md-offset-2 col-lg-offset-2
                 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet-body">
                            <uib-tabset active="active" class="tab-container tabbable-line">
                                <uib-tab index="0" heading="@L("General")">
                                    <div class="form form-horizontal">
                                        <form name="eventCreateOrEditForm"
                                              role="form" novalidate class="form-validation">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label form-label">@L("Name")</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="text" name="scheduledEventName" autocomplete="off"
                                                                   ng-model="vm.scheduledEvent.name" required aria-describedby="helpBlockEventName">
                                                            <span id="helpBlockEventName" class="help-block">
                                                                @L("EventNameDesc")
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label form-label">&nbsp;</label>
                                                        <div class="col-sm-8" style="padding-top:6px;">
                                                            <div class="radio" style="display:inline">
                                                                <label>
                                                                    <input type="radio" name="displayOptionsRadios"
                                                                           ng-model="vm.displayOption" value="DSP" checked>
                                                                    Display
                                                                </label>
                                                            </div>
                                                            <div class="radio" style="display:inline">
                                                                <label>
                                                                    <input type="radio" name="displayOptionsRadios"
                                                                           ng-model="vm.displayOption" value="GRP" checked>
                                                                    Display Group
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group" ng-if="vm.displayOption=='DSP'">
                                                        <label class="col-sm-4 control-label form-label">@L("Display")</label>
                                                        <div class="col-sm-8">
                                                            @*<select ng-model="vm.selectedDisplay" ng-options="d.name for d in vm.displays"
                                                                    class="form-control" ng-change="vm.displayChanged()"
                                                                    aria-describedby="helpBlockDisplay">
                                                            </select>*@
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" value="{{vm.selectedDisplay.name}}" disabled>
                                                                <span class="input-group-btn" style="padding-left:5px;">
                                                                    <button class="btn btn-default" ng-click="vm.openDisplaySelectorModal()">
                                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <span style="padding-left:15px;"id="helpBlockDisplay" class="help-block">
                                                            @L("DisplayDesc")
                                                        </span>
                                                    </div>
                                                    <div class="form-group" ng-if="vm.displayOption=='GRP'">
                                                        <label class="col-sm-4 control-label form-label">@L("DisplayGroup")</label>
                                                        <div class="col-sm-8">
                                                            @*<select ng-model="vm.selectedDisplayGroup" ng-options="g.name for g in vm.displayGroups"
                                                                    class="form-control" ng-change="vm.displayGroupChanged()"
                                                                    aria-describedby="helpBlockDisplayGroup">
                                                            </select>*@
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" placeholder="Search for..."
                                                                       value="{{vm.selectedDisplayGroup.name}}" disabled>
                                                                <span class="input-group-btn" style="padding-left:5px;">
                                                                    <button class="btn btn-default" ng-click="vm.openDisplayGroupSelectorModal()">
                                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <span style="padding-left:15px;" id="helpBlockDisplayGroup" class="help-block">
                                                            @L("DisplayGroupDesc")
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label form-label">@L("Dayparting")</label>
                                                        <div class="col-sm-8">
                                                            @*<select ng-model="vm.selectedDaypart" ng-options="d.name for d in vm.dayparts"
                                                                    class="form-control" ng-change="vm.daypartChanged()"
                                                                    aria-describedby="helpBlockDaypart">
                                                            </select>*@
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" placeholder="Search for..."
                                                                       value="{{vm.selectedDaypart.name}}" disabled>
                                                                <span class="input-group-btn" style="padding-left:5px;">
                                                                    <button class="btn btn-default" ng-click="vm.openDaypartSelectorModal()">
                                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <span style="padding-left:15px;" id="helpBlockDaypart" class="help-block">
                                                            @L("DaypartDesc")
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label form-label">@L("StartTime")</label>
                                                        <div class="col-sm-8" aria-describedby="helpBlockStartTime">
                                                            <div>
                                                                <input class="form-control" type="date"
                                                                       ng-model="vm.startDate" style="width:99%;display:inline;margin:1px;"
                                                                       ng-change="vm.updateSelectedStartDateTime()">
                                                                <select ng-model="vm.startHour" class="form-control" ng-disabled="vm.selectedDaypart.id>0"
                                                                        style="width:49%;display:inline;" ng-change="vm.updateSelectedStartDateTime()"
                                                                        ng-options="h for h in vm.timeSelHours">
                                                                </select>
                                                                <select ng-model="vm.startMinute" class="form-control" ng-disabled="vm.selectedDaypart.id>0"
                                                                        style="width: 49%; display: inline;" ng-change="vm.updateSelectedStartDateTime()"
                                                                        ng-options="m for m in vm.timeSelMinutes">
                                                                </select>
                                                            </div>
                                                            <span id="helpBlockStartTime" class="help-block">
                                                                @L("StartTimeDesc")
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label form-label">@L("EndTime")</label>
                                                        <div class="col-sm-8" aria-describedby="helpBlockEndTime">
                                                            <div>
                                                                <input class="form-control" type="date"
                                                                       ng-model="vm.endDate" style="width:99%;display:inline;margin:1px;"
                                                                       ng-change="vm.updateSelectedEndDateTime()" ng-disabled="vm.selectedDaypart.id>0">
                                                                <select ng-model="vm.endHour" class="form-control" ng-disabled="vm.selectedDaypart.id>0"
                                                                        style="width:49%;display:inline;" ng-change="vm.updateSelectedEndDateTime()"
                                                                        ng-options="h for h in vm.timeSelHours">
                                                                </select>
                                                                <select ng-model="vm.endMinute" class="form-control" ng-disabled="vm.selectedDaypart.id>0"
                                                                        style="width: 49%; display: inline;" ng-change="vm.updateSelectedEndDateTime()"
                                                                        ng-options="m for m in vm.timeSelMinutes">
                                                                </select>
                                                            </div>
                                                            <span id="helpBlockEndTime" class="help-block">
                                                                @L("EventEndTime")
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label form-label">@L("Layout")</label>
                                                        <div class="col-sm-8">
                                                            @*<select ng-model="vm.selectedLayout" ng-options="l.name for l in vm.layouts"
                                                                    class="form-control" ng-change="vm.layoutChanged()"
                                                                    aria-describedby="helpBlockLayoutDesc">
                                                            </select>*@
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" placeholder="Search for..."
                                                                       value="{{vm.selectedLayout.name}}" disabled>
                                                                <span class="input-group-btn" style="padding-left:5px;">
                                                                    <button class="btn btn-default" ng-click="vm.openLayoutSelectorModal()">
                                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <span style="padding-left:15px;" id="helpBlockDisplayGroup" class="help-block">
                                                            @L("LayoutDesc")
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label form-label">@L("Priority")</label>
                                                        <div class="col-sm-8" aria-describedby="helpBlockPriority">
                                                            <input class="form-control" type="number"
                                                                   ng-model="vm.scheduledEvent.priority">
                                                        </div>
                                                        <span style="padding-left:15px;" id="helpBlockPriority" class="help-block">
                                                            @L("EventPriorityDesc")
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </uib-tab>
                                @*-----REPEAT TAB-----*@
                                <uib-tab index="1" heading="@L("Repeat")" disable="vm.isChild()">
                                    <div class="form">
                                        <form name="eventRepeat"
                                              role="form" novalidate class="form-validation form-horizontal">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label control-label col-sm-2">@L("Repeat").Pluralize()</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control"
                                                                    ng-options="r.text for r in vm.repeatTypes"
                                                                    aria-describedby="helpBlockRepeatDesc"
                                                                    ng-model="vm.selectedRepeatType"
                                                                    ng-change="vm.repeatTypeChanged()">
                                                            </select>
                                                            <span class="help-block" id="helpBlockRepeatDesc">
                                                                @L("EventRepeatDesc")
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="vm.selectedRepeatType.id != 0">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group" ng-if="vm.selectedRepeatType.id == 4">
                                                            <label class="form-label control-label col-sm-2">&nbsp;</label>
                                                            <div class="col-sm-10" id="weekdaysSelector">
                                                                <select class="form-control selectpicker"
                                                                        name="selectedDaysofWeek"
                                                                        ng-options="d.text for d in vm.daysOfWeek"
                                                                        aria-describedby="helpBlockDaysOfWeekDesc"
                                                                        ui-jq="selectpicker"
                                                                        ng-model="vm.selectedDaysOfWeek"
                                                                        multiple
                                                                        ng-change="vm.weekdayChanged()"
                                                                        title="">
                                                                </select>
                                                                <span class="help-block" id="helpBlockDaysOfWeekDesc">
                                                                    @L("EventDaysOfWeekDesc")
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="form-label control-label col-sm-2">@L("Every")</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <input class="form-control" type="number"
                                                                           ng-model="vm.scheduledEvent.repeatInterval">
                                                                    <div class="input-group-addon">{{vm.timeUnit(vm.selectedRepeatType.id)}}</div>
                                                                </div>
                                                                <span class="help-block" id="helpBlockXxxDesc">
                                                                    @L("EventRepeatEveryDesc")
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="form-label control-label col-sm-2">@L("Until")</label>
                                                            <div class="col-sm-10">
                                                                <div aria-describedby="helpBlockRepeatDesc">
                                                                    <input class="form-control" type="date" required
                                                                           ng-model="vm.untilDate" style="width:200px;display:inline"
                                                                           ng-change="vm.updateSelectedUntilDateTime()">
                                                                    @*<select ng-model="vm.untilHour" class="form-control"
                                                                            style="width:100px;display:inline;" ng-change="vm.updateSelectedUntilDateTime()" ng-required="true">
                                                                        <option ng-repeat="h in vm.timeSelHours" value="{{h}}">{{h}}</option>
                                                                    </select>*@
                                                                    <select ng-model="vm.untilHour" class="form-control"
                                                                            style="width:100px;display:inline;" ng-change="vm.updateSelectedUntilDateTime()" 
                                                                            ng-options="h for h in vm.timeSelHours">
                                                                            <option></option>
                                                                    </select>
                                                                    <select ng-model="vm.untilMinute" class="form-control"
                                                                            aria-describedby="helpBlockEndTime"
                                                                            style="width: 100px; display: inline;" ng-change="vm.updateSelectedUntilDateTime()"
                                                                            ng-options="m for m in vm.timeSelMinutes">
                                                                    </select>
                                                                </div>

                                                                <span class="help-block" id="helpBlockRepeatDesc">
                                                                    @L("EventRepeatUntilDesc")
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                        <div style="height:10px;"></div>
                        <div class="modal-footer">

                            <div class="row">
                                <div class="col-xs-5" style="text-align:left;">
                                    <button ng-if="(vm.scheduledEventId && vm.scheduledEventId > 0) &&
                                            (vm.isChildOrParent())" 
                                            type="submit" button-busy="vm.saving"
                                            busy-text="@L("SavingWithThreeDot")" class="btn btn-primary red"
                                            ng-click="vm.delete(true)">
                                        <i class="fa fa-trash-o"></i> <span>@L("DeleteAllEvents")</span>
                                    </button>
                                    <button ng-if="(vm.scheduledEventId && vm.scheduledEventId > 0)" type="submit" button-busy="vm.saving"
                                            busy-text="@L("SavingWithThreeDot")" class="btn btn-primary red"
                                            ng-click="vm.delete(false)">
                                        <i class="fa fa-trash-o"></i> <span>@L("Delete")</span>
                                    </button>
                                    <span style="font-size:15px;padding:0px 2px 0px 2px;color:red;">
                                        <span ng-if="(vm.validateScheduledEvent()!=='')" class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;
                                        {{vm.validateScheduledEvent()}}
                                    </span>
                                </div>
                                <div class="col-xs-7">
                                    <button name="cancel" ng-disabled="vm.saving"
                                            type="button" class="btn btn-default"
                                            ng-click="vm.cancel()">
                                        @L("Cancel")
                                    </button>
                                    <button type="submit" button-busy="vm.saving"
                                            busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" 
                                            ng-if="vm.isChildOrParent()"
                                            ng-click="vm.save(true)" ng-disabled="(vm.validateScheduledEvent()!=='')">
                                        <i class="fa fa-save"></i> <span>@L("SaveAllEvents")</span>
                                    </button>
                                    <button type="submit" button-busy="vm.saving"
                                            busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue"
                                            ng-click="vm.save(false)" ng-disabled="(vm.validateScheduledEvent()!=='')">
                                        <i class="fa fa-save"></i> <span ng-if="!vm.isChildOrParent()">@L("Save")</span><span ng-if="vm.isChildOrParent()">@L("SaveThisEvent")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2"></div>
        </div>
    </div>
</div>
<style>
    .form-label {
        text-align: left !important;
    }
    form {
        padding: 0px 40px 0px 40px;
    }
</style>
