﻿
@using DinePlan.DineConnect.Localization
@using Humanizer
<div ng-controller="tenant.views.play.schedules as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Schedule").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body" style="height: auto;">

            <div class="row" style="height:45px;">
                <div class="col-xs-2">
                    <h3 style="margin-top:0px;">{{vm.calendarMonthViewTitle}}</h3>@*<== To be replaced later*@
                </div>
                <div class="col-xs-10">

                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div ng-if="vm.useCalendarView" class="btn-group" style="margin: 0 5px 0 5px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{vm.eventFilter.selection.text}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="vm.eventFilter.select('ALL')">@L("All")</a></li>
                                <li><a href="#" ng-click="vm.eventFilter.select('DSP')">@L("Display")</a></li>
                                <li><a href="#" ng-click="vm.eventFilter.select('GRP')">@L("DisplayGroup")</a></li>
                            </ul>
                        </div>
                        <div ng-if="vm.useCalendarView" class="btn-group min-width-150" style="margin: 0 5px 0 5px;">
                            <select id="ddFilter" title="__________________" class="form-control" ui-jq="selectpicker"
                                    ng-model="vm.eventFilter.value" data-live-search="true"
                                    ng-options="d.name for d in vm.filterings"
                                    ng-change="vm.getScheduledEvents()">
                                <option></option>
                            </select>
                        </div>
                        <div class="btn-group" style="margin: 0 5px 0 5px;padding-right:200px;" ng-show="!vm.useCalendarView">
                            <input id="eventStartDateRangePicker" name="eventStartDateRangePicker" 
                                   ng-model="vm.scheduledEventDateRange"
                                   ng-change="vm.scheduledEventDateRangeChanged()"
                                   autocomplete="off"
                                   type="text" style="width:200px;" class="form-control"/>
                        </div>
                        
                        <div ng-if="vm.useCalendarView" class="btn-group" style="margin: 0 5px 0 5px;">
                            <button type="button" class="btn btn-success" ng-click="vm.createEvent()">@L("AddEvent")</button>
                        </div>

                        <div ng-if="vm.useCalendarView" class="btn-group" role="group" aria-label="..." style="margin: 0 5px 0 5px;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{vm.datePicker.format}}"
                                   ng-model="vm.datePicker.currentDate" style="display:none;" ng-change="vm.datePicker.gotoDate()"
                                   is-open="vm.datePicker.opened" datepicker-options="vm.datePicker.dateOptions"
                                   close-text="Close" />
                            <button type="button" class="btn btn-default" ng-click="vm.datePicker.open()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>

                        <div ng-if="vm.useCalendarView" class="btn-group" role="group" aria-label="..." style="margin: 0 5px 0 5px;">
                            <button type="button" class="btn btn-primary" ng-click="vm.calendarPrev()">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                Prev
                            </button>
                            <button type="button" class="btn btn-default" ng-click="vm.calendarToday()">@L("Today")</button>
                            <button type="button" class="btn btn-primary" ng-click="vm.calendarNext()">
                                Next
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                            </button>
                        </div>



                        <div class="btn-group" role="group" aria-label="..." style="margin: 0 0px 0 5px;">
                            @*<button type="button" class="btn btn-warning" ng-click="vm.changeCalendarView('listYear')">@L("Year")</button>*@
                            <button type="button" class="btn btn-warning" ng-click="vm.changeCalendarView('month')">@L("Month")</button>
                            <button type="button" class="btn btn-warning" ng-click="vm.changeCalendarView('agendaWeek')">@L("Week")</button>
                            <button type="button" class="btn btn-warning" ng-click="vm.changeCalendarView('agendaDay')">@L("Day")</button>
                            <button type="button" class="btn btn-warning" ng-click="vm.changeCalendarView('customlist')">@L("List")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div ng-if="vm.useCalendarView" busy-if="vm.loading" style="height: 100%;">
            <div id='calendar' ui-calendar="vm.uiConfig.calendar" ng-model="vm.calendarEventSource"></div>
        </div>
        <div ng-if="!vm.useCalendarView" busy-if="vm.loading" style="height: 100%;">
            <div ui-grid="vm.userGridOptions" style="height: 100%;"
                 ui-grid-pagination ui-grid-resize-columns
                 dir=@(CultureHelper.IsRtl ? "rtl" :"" )></div>
        </div>

    </div>
    </div>
<style>
    .bootstrap-select ul.dropdown-menu li:first-child {
        display: none;
    }
    .min-width-150 > div > button{
        min-width:150px;
    }

</style>
