﻿@using DinePlan.DineConnect.Localization
@using Humanizer
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<div ng-controller="common.views.smtpsetting.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("SMTPSetting")</span>
                        <small>@L("SMTPSettingHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-default" ng-click="vm.editSetting()" ng-disabled="vm.disableFlag">
                 @L("Edit")
            </button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form">
                <form name="detailform" class="horizontal-form">
                    <div class="form-body" ng-disabled="vm.disableFlag">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="DefaultFromDisplayName" class="form-control" required ng-class="{'edited':vm.settings.email.defaultFromDisplayName}" ng-model="vm.settings.email.defaultFromDisplayName" maxlength="128">
                            <label>@L("User")@L("Name") *</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpDomainName" class="form-control input-ltr" required ng-class="{'edited':vm.settings.email.smtpHost}" ng-model="vm.settings.email.smtpHost" maxlength="128">
                            <label>@L("HostNameSMTP") *</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="email" name="DefaultFromAddress" class="form-control" required ng-class="{'edited':vm.settings.email.defaultFromAddress}" ng-model="vm.settings.email.defaultFromAddress" maxlength="@DinePlan.DineConnect.Authorization.Users.User.MaxEmailAddressLength">
                            <label>@L("Sender") @L("Email") *</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpUserName" class="form-control input-ltr" required ng-class="{'edited':vm.settings.email.smtpUserName}" ng-model="vm.settings.email.smtpUserName" maxlength="128">
                            <label>@L("SMTP") @L("User")@L("Name") *</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="password" name="SmtpPassword" class="form-control" required ng-class="{'edited':vm.settings.email.smtpPassword}" ng-model="vm.settings.email.smtpPassword" maxlength="128">
                            <label>@L("SMTP") @L("Password") *</label>
                        </div>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="SSLConnection" class="md-check" type="checkbox" name="SSLConnection" ng-model="vm.settings.email.smtpEnableSsl">
                                <label for="SSLConnection">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("SSLConnection")
                                </label>
                            </div>
                            @*<div class="md-checkbox">
                                <input id="TLSConnection" class="md-check" type="checkbox" name="TLSConnection" ng-model="vm.settings.email.smtpUseDefaultCredentials">
                                <label for="TLSConnection">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseDefaultCredentials")
                                </label>
                            </div>*@
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="number" name="SmtpPort" class="form-control edited" ng-class="{'edited':vm.settings.email.smtpPort}" required ng-model="vm.settings.email.smtpPort" maxlength="4" onkeydown="javascript: return event.keyCode == 69 ? false : true" onkeypress="vm.maxport(this)" oninput="maxLengthCheck(this)">
                            <label>@L("SmtpPort") *</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button name="cancel" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.smtptestLogin()">@L("Test") @L("LogIn")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="detailform.$invalid">
                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<script>
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength)
            object.value = object.value.slice(0, object.maxLength)
    }
</script>