﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>
<style>

	.ui-brown {
		/*background-color: black !important;*/
		color: firebrick;
	}

	.ui-green {
		/*background-color: black !important;*/
		color: forestgreen;
	}
</style>
<div ng-controller="tenant.views.house.master.materiallocationwisestock.allLocationStock as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-3">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase"> @L("MaterialAllLocationWiseStock").Pluralize()</span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-xs-9 text-right">
            <button ng-click="vm.getAll()" class="btn btn-default"><i class="icon-magnifier"></i></button>

            <button class="btn btn-primary" ng-click="vm.clear()">
                <i class="fa fa-eraser"></i> @L("Clear")
            </button>

            <button ng-if="vm.permissions.exportData" class="btn btn-primary" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    @*<label>@L("MaterialType")</label>*@
                                    <ui-select class="borderself" ng-model="vm.materialTypeRefId" ng-change="vm.getAll()">
                                        <ui-select-match placeholder="Select MaterialType...">{{$select.selected.displayText}}</ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.refmaterialtype | filter: $select.search">
                                            <div ng-bind="item.displayText"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                @*<div class="form-group">
                                    <label for="CategoryEditBox">@L("Material")</label>
                                    <input ng-model="vm.material" auto-focus class="form-control" placeholder="@L(" Material")" type="text">

                                </div>*@

                                <div class="input-group">
                                    @*<label for="CategoryEditBox">@L("Material")</label>*@
                                    <input ng-model="vm.material" auto-focus class="form-control" placeholder="@L(" Material")" type="text">
                                    <span class="input-group-btn">
                                        <button ng-click="vm.getAll()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>
                                </div>

                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <button class="btn btn-large green" ng-click="vm.openLocation()">
                                            <i class="fa fa-file"></i> <span>@L("Locations")</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="md-checkbox">
                                    <input id="LiveStock" class="md-check" type="checkbox" name="LiveStock" ng-class="{'edited':vm.liveStock}" ng-model="vm.liveStock" ng-click="vm.getAll()">
                                    <label for="LiveStock">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("LiveStock")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="md-checkbox">
                                    <input id="HighValueItem" class="md-check" type="checkbox" name="HighValueItem" ng-class="{'edited':vm.isHighValueItemOnly}" ng-model="vm.isHighValueItemOnly" ng-click="vm.getAll()">
                                    <label for="HighValueItem">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HighValueItem")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="md-checkbox">
                                    <input id="LessThanReorderLevel" class="md-check" type="checkbox" name="LessThanReorderLevel" ng-class="{'edited':vm.lessThanReorderLevel}" ng-model="vm.lessThanReorderLevel" ng-click="vm.getAll()">
                                    <label for="LessThanReorderLevel">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("LessThanReorderLevelFlag")
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-xs-3">
                                <div class="md-checkbox">
                                    <input id="LessThanMinimumStock" class="md-check" type="checkbox" name="LessThanMinimumStock" ng-class="{'edited':vm.lessThanMinimumStock}" ng-model="vm.lessThanMinimumStock" ng-click="vm.getAll()">
                                    <label for="LessThanMinimumStock">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("LessThanMinimumStock")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body" style="height: 80vh;">
            <div busy-if="vm.loading" style="height: 100%;">
                <div ui-grid="vm.userGridOptions" style="height: 100%;" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl": "" )></div>
            </div>
        </div>
    </div>
</div>

