﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<link href="~/libs/ownScript/focus.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>


<style>
    .modal-dialog {
        width:75%;
    }
</style>

<div class="modal-dialog">
    <form name="materialstockindividualstoreCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.materiallocationwisestock.id">@L("Edit"): {{vm.materialNameWithUom}}</span>
                <span ng-if="!vm.materiallocationwisestock.id">@L("CreateMaterialLocationWiseStock")</span>
                <br />
                <span>@L("AccountDate") : {{vm.accountDate | date : 'yyyy-MMM-dd'}} </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">@L("LocationName")</label>

                        <ui-select class="borderself" ng-model="vm.materiallocationwisestock.locationRefId" ng-disabled="true" required>
                            <ui-select-match placeholder="Select Location...">{{$select.selected.displayText}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.reflocation | filter: $select.search">
                                <div ng-bind="item.displayText"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" class="form-control" type="text" name="MinStock" ng-class="{'edited':vm.materiallocationwisestock.minimumStock}" ng-model="vm.materiallocationwisestock.minimumStock" required>
                        <label>@L("MinimumStock")</label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" class="form-control" type="text" name="MaxStock" ng-class="{'edited':vm.materiallocationwisestock.maximumStock}" ng-model="vm.materiallocationwisestock.maximumStock" required>
                        <label>@L("MaximumStock")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input id="CurrentInHand" onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" class="form-control" type="text" name="CurrentInHand" ng-class="{'edited':vm.materiallocationwisestock.currentInHand}" ng-model="vm.materiallocationwisestock.currentInHand" required>
                        <label>@L("CurrentInHand")</label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input onkeypress="return NumberWithPointPassingText(this.value,event,'cancel',true)" class="form-control" type="text" name="ROL" ng-class="{'edited':vm.materiallocationwisestock.reOrderLevel}" ng-model="vm.materiallocationwisestock.reOrderLevel" required>
                        <label>@L("Re-OrderLevel")</label>
                    </div>
                </div>
            </div>
            <div class="row margin-top-40" ng-if="vm.materiallocationwisestock.id">
                <div class="col-xs-6">
                    <div class="md-checkbox">
                        <input id="ConvertAsZeroStockWhenClosingStockNegative" class="md-check" type="checkbox" name="ConvertAsZeroStockWhenClosingStockNegative"
                               ng-model="vm.materiallocationwisestock.convertAsZeroStockWhenClosingStockNegative">
                        <label style="color:black"  for="ConvertAsZeroStockWhenClosingStockNegative">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("ConvertAsZeroStockWhenClosingStockNegative") ?
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="md-checkbox">
                        <input id="IsActiveInLocation" class="md-check" type="checkbox" name="IsActiveInLocation"
                               ng-model="vm.materiallocationwisestock.isActiveInLocation">
                        <label style="color:black" for="IsActiveInLocation">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("IsActiveInLocation") ?
                        </label>
                    </div>
                </div>
            </div>

            <br ng-if="!vm.materiallocationwisestock.isActiveInLocation" />

            <div class="m-heading-1 border-yellow-gold m-bordered margin-top-20" ng-if="!vm.materiallocationwisestock.isActiveInLocation && vm.materiallocationwisestock.currentInHand==0">
                <h3 style="color:white;background-color:orangered;">   @L("IsActiveLocationAlertMessage") </h3>
            </div>

            <div class="m-heading-1 border-yellow-gold m-bordered margin-top-20" ng-if="!vm.materiallocationwisestock.isActiveInLocation && vm.materiallocationwisestock.currentInHand>0 ">
                <h3 style="color:white;background-color:orangered;">   @L("IsActiveLocationErrorMessage") </h3>
            </div>
        </div>
        <div class="modal-footer">
            <button name="close" ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Close")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="materialstockindividualstoreCreateOrEditForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span>
            </button>
        </div>
    </form>
</div>

