﻿<style>
    .modal-dialog {
        width: 90%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="col-xs-10">
            <h4 class="modal-title">
                <span style="color:blue;" class="caption-subject bold uppercase">@L("MaterialAllLocationWiseStock") -  {{vm.materialStock.materialRefName}} -  {{vm.materialStock.uom}}</span>
            </h4>
        </div>
        <div class="col-xs-2 text-right">
            <button class="btn btn-primary blue" ng-click="vm.cancel()">
                @L("Close")
            </button>
        </div>
    </div>
    <div>

    </div>

    <div class="modal-body" busy-if="vm.loading">
        <div class="row" ng-if="vm.norecordsfound">
            <h3><b> @L("NoMoreRecordsFound") </b> </h3>
        </div>

        <div class="row" ng-if="!vm.norecordsfound">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>@L("Location")</th>
                            <th align="right">@L("LedgerBalance")</th>
                            <th align="right">@L("Sales")</th>
                            <th align="right">@L("AvailableBalance")</th>
                            <th align="right">@L("UOM")</th>
                            <th align="right">@L("MinStock")</th>
                            <th align="right">@L("MaxStock")</th>
                            <th align="right">@L("Re-OrderLevel")</th>
                            <th align="right">@L("OnHand")</th>
                            <th align="right">@L("Issue") @L("UOM")</th>
                        </tr>
                    </thead>

                    <tr data-ng-repeat="(index,data) in vm.materialStock.locationWiseStockList">
                        <td class="col-xs-2">
                            {{data.locationRefName}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.currentInHand | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.sales | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.liveStock | number : 2}}
                        </td>
                        <td class="col-xs-1">
                            {{data.uom }}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.minimumStock | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.maximumStock | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.reOrderLevel | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{data.liveStock_TransactionUnit | number : 2}}
                        </td>
                        <td class="col-xs-1">
                            {{data.transactionUnitName }}
                        </td>
                    </tr>

                    <tr style="color:blue; background-color:lightgoldenrodyellow">
                        <td class="col-xs-2">
                            @L("All") @L("Locations")
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.currentInHand | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.sales | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.liveStock | number : 2}}
                        </td>
                        <td class="col-xs-1">
                            {{vm.materialStock.uom }}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.minimumStock | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.maximumStock | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.reOrderLevel | number : 2}}
                        </td>
                        <td class="col-xs-1 text-right">
                            {{vm.materialStock.liveStock_TransactionUnit | number : 2}}
                        </td>
                        <td class="col-xs-1">
                            {{vm.materialStock.transactionUnitName }}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
