﻿@using DinePlan.DineConnect.Localization
@using Humanizer

<link href="~/libs/ownScript/UserOwnStyleSheet.css" rel="stylesheet" />
<script src="~/libs/ownScript/UserOwnModule.js"></script>

<div ng-controller="tenant.views.house.master.materiallocationwisestock.PoAutoGeneration as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-10">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("PurchaseProjection")</span>
                    </h1>
                </div>
            </div>
        </div>
       

        <div class="col-xs-2 text-right">
            <button class="btn blue btn-default" ng-click="vm.exportToExcel()">
                <i class="fa fa-file-excel-o"></i> @L("ExportToExcel")
            </button>
        </div>
    </div>

    <div class="portlet light">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="CategoryEditBox">@L("ChooseLocation")</label>
                                    <ui-select class="borderself" ng-model="vm.locationRefId" ng-change="vm.getAll()" required>
                                        <ui-select-match placeholder="Select Location...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="location.id as location in vm.locations | filter: $select.search">
                                            <div ng-bind="location.name"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            
                           

                            <div class="col-xs-4">
                                <div class="form-group no-hint">
                                    <label>@L("QuantityRequiredForNextNDays")</label>
                                    <input class="form-control" type="text" onkeypress="return NumberOnly(event, 'cancel')" id="nextndays" name="nextndays" ng-model="vm.nextndays" maxlength="3" required>
                                </div>
                            </div>

                            
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="md-checkbox">
                                    <input id="HighValueItem" class="md-check" type="checkbox" name="HighValueItem" ng-class="{'edited':vm.isHighValueItemOnly }" ng-model="vm.isHighValueItemOnly " ng-click="vm.projectionPurchase()">
                                    <label for="HighValueItem">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("HighValueItem")
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label">@L("DateRange")</label>
                                <input id="reportDate" date-range-picker type="text" options="vm.dateRangeOptions" min="vm.dateRangeOptions.min" max="vm.dateRangeOptions.max"
                                       class="form-control date-picker" ng-model="vm.dateRangeModel" />
                            </div>

                            <div class="col-xs-4 text-right">
                                <button class="btn blue margin-top-20" ng-disabled="vm.nextndays==0 || vm.nextndays==null" ng-click="vm.projectionPurchase()">
                                    @L("Projection")
                                </button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div class="row" ng-if="vm.podata.length>0">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered col-xs-12">
                            <thead>
                                <tr>
                                    <th>@L("MaterialName")</th>
                                    <th class="text-right">@L("PerDayConsumption")</th>
                                    <th class="text-right">@L("OnHand")</th>
                                    <th class="text-right">@L("ProjectedQty")</th>
                                    <th class="text-right">@L("InQueue")</th>
                                    <th class="text-right">@L("OrderQty")</th>
                                    <th class="text-right">@L("UOM")</th>
                                    <th class="text-right">@L("Cost")</th>
                                    <th class="text-right">@L("Total")</th>
                                    <th>@L("Supplier")</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="(index,data) in vm.podata">
                                <td class="col-xs-2">
                                    {{data.materialName}}
                                </td>
                                <td align="right" class="col-xs-1">
                                    {{data.perDayConsumption}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.onHand}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.nextNDaysProjectedConsumption}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.alreadyOrderedQuantity}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.nextNDaysRoundedProjection}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.uom}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.price}}
                                </td>
                                <td class="col-xs-1" align="right">
                                    {{data.amount}}
                                </td>
                                <td class="col-xs-2" >
                                    {{data.supplierRefName}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr />

            </div>
        </div>
    </div>
</div>

